.adHocModal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    border-top-right-radius: 4px!important;
    border-top-left-radius: 4px!important;
    width: 43%;
    height: 56vh;
    padding: 20px;
}
.adHocModalTable table{
    display: block;
    // height: 100px;
    // overflow: auto;
    width: 500px;
}
.adHocModalTable table thead th {
    padding-left:8px;
    position: sticky;
    top: 0;
    width: 331px;  
    background: #ffffff; 
    font-family: Montserrat;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.adHocModalTable table thead {   
    height: 35px;
    display: block;
    position: sticky;
    top: 0;
    background: #ffffff;
    // border-bottom: 1px solid #e3e7f3;
    border-top: 1px solid #e3e7f3;
    display: flex;
    align-items: center;
}
.adHocModalTable table tbody tr{   
    height: 35px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #e3e7f3;
    // padding-top: 8px;
    display: flex;
    align-items: center;
}
.adHocModalTable table tr td img{
    float:left;
    cursor: pointer;
    padding-left:4px;
}
.adHocModalTable table tbody tr td{   
    width: 18vw;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.adHocModal .adHocModalTable tbody tr td{
    height: 100%;
    // display: flex;
    align-items: center;
    border-right: 1px solid #e3e7f3;
    padding-left: 8px;
}
.adHocModal .adHocModalTable tbody tr td:last-child{
   border:none;
}
.adHocModalTable table tbody{   
    width: 102%;
    display: block;
    height: 175px;
    // overflow: hidden;
}
.mainAdHoc{
    margin-bottom: 2px;
    margin-top: 10px;
}
.adHocBottom{
    text-align: center;
}
.adHocBottom button{
    border-radius: 13.5px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 6px 24px;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.adHocBottom button:hover{
    background: #6d6dc9;
    color: #fff;
    transition: 0.5s;
}
.adHocModalTable table tbody tr:first-child{
    border-top: 1px solid #e3e7f3;
}
.mainAdHoc label{
    font-size: 13px;
}
.adHocRequestModal table tbody td{
    display: flex;
}
.adHocRequestModal .adHocModalTable table{
    height: 33vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 515px;
}
.adHocRequestModal table tbody{
    width:100%;
}
.adHocRequestModal table thead {
    border-bottom: 1px solid #e3e7f3;
}
.adHocRequestModal table tbody tr:first-child{
    border-top: 0px;
}