.adHocMain .fixed-side-adHoc{
    width: 90px!important;
    display: flex;
    align-items: center;
}
.adHocMain .zui-scrollerHistory{
    margin-left:90px;
    max-width:100%;
}
.adHocMain table tr td{
    border-bottom:0!important;
}
.adHocMain table tr{
    background: transparent!important;
}
.adHocMain tbody .saveBtnBorder{
    height: 22px;
    border-radius: 50px;
    font-weight: 600;
}
.adHocMain tbody .saveBtnBorder:hover{
    background: #6d6dc9;
    color: #ffffff;
    transition: .5s;
}
// ------------------------------------------------------add New Hoc Css
.addNewAdHOcMain .adHocSiteSelect ul li{
    display:inline-block;
    margin-right:20px;
    vertical-align: top;    
}
.addNewAdHOcMain .adHocSiteSelect ul li label{
    display:block!important;
}
.addNewAdHOcMain label{
    font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #12203c;
}
.addNewAdHOcMain .selectItemCodeTitle p{
    display: inline-block;
    margin-bottom: 0;
    float: right;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #12203c;
}
.addMoreItemsAdHoc .userModalSelect:hover .hiddenDiv{
    display: block;
 }
 .addMoreItemsAdHoc .dropdownDiv{
    display: none;
    padding-right: 20px;
     padding-left: 8px;
     width: 238px;
 }
 .addNewAdHOcMain .addMoreItemsAdHoc li{
     display: inline-block; 
     width: 45%;
    margin-right: 4%;
    vertical-align: top;
 }
 .addNewAdHOcMain .addMoreItemsAdHoc li:first-child .form-box{
    margin-right:20px;    
}
 .addMoreItemsAdHoc ul{
     padding-left:0;  
     margin-bottom:0;  
     width: 100%; 
    display: inline-block;
 }
 .addNewAdHOcMain .selectItemCodeTitle{
     height:30px;
     width:83%;
 }
 .addMoreItemsAdHoc ul li:first-child span{
    font-size: 13px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    color: #fff;
    top: -9px;
    background: #6d6dc9;
    padding: 6.5px 0;
    right: -2px;
    padding-right: 3px;
    cursor: pointer;
 }
//  .addMoreItemsAdHoc{
//     border-radius: 4px;
//     box-shadow: 0 4px 9px 0 rgba(239, 239, 239, 0.5);
//     background-color: #ffffff;
//     padding: 10px 18px;
//     width:87%;   
//  }
 .addMoreItemsAdHoc .userModalSelect label{
     font-size: 11px;
     font-weight:normal;
 }
 .addMoreItemsAdHoc .form-box{
    width:100%;
    text-indent: 7px;
 }
 .addItemsMain{
     position: relative;
 }
 .deleteAddedItem{
    right: -45px;
    top: 16px;
    position: absolute;
 }
 .addItemsDiv{
     position: relative;
     border-radius: 4px;
    box-shadow: 0 4px 9px 0 hsla(0,0%,94%,.5);
    background-color: #fff;
    padding: 10px 0px 10px 10px;
    text-align:center;
    width:86%;
    margin-bottom:10px;
 }
 .addMoreItemsAdHoc .dropdownFilterOption li{
     display: block;
 }
 .adHocDropDown .searchFilterModal{
     padding-left:5px;
 }
 .search-box{
     color:#12203c;
     font-weight:500;
 }
 .adHocRequestMain .tooltip .tooltiptext p{
    padding: 1px 10px;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    margin-top: 0;
 }
 .adHocRequestMain .tooltip .tooltiptext span{
   padding: 1px 10px;
   font-family: Montserrat;
   font-size: 9px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #12203c;
   margin-top: 0;
   display: block;
}
 .adHocRequestMain .tooltip .tooltiptext{
    top: -1px;
    width: 158px;
 }
 .openModalRequest label{
     font-weight: 600!important;
 }
 .openModalRequest label:hover{
    color:#6d6dc9;
}
.adHocMain table tr td label{
    max-width: 200px;
 }
 .adHocAccordion .accordionItems table{
    display: table;
    table-layout: fixed;
    width: 76%;
    float: left;
 }
 .adHocAccordion .accordionItems table thead th{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #12203c;
 }
 .adHocAccordion .accordionItems table tbody td{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.9px;
    color: #12203c;
    height: 21px;
 }
 .adHocAccordion .accordionItems table tbody td img{
    float: right;
    cursor: pointer;
    width: 15px;
 }
 .adHocAccordion .accordionItems table tbody td input{
    width: 100px;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    text-indent: 8px;
    font-weight: 600!important;
    padding: 2px 0px;
 }
 .adHocAccordion .accordionItems table tbody td input:focus{
    border: solid 1px #6d6dc9;
 }
 .adHocAccordion .accordionItems table tbody::before{
    line-height: 0.7em;
    content: "-";
    color: white;
    display: block;
 }
 .adHocAccordion .accordionItems .panel-heading{
    border-radius: 4px;
    box-shadow: 0 4px 9px 0 rgba(220, 220, 220, 0.5);
    background-color: #ffffff;
    border-bottom: 0.5px solid #ddd;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 25px;
    border-bottom: .5px solid #fbf9f9;
 }
 .adHocAccordion .accordionItems .panel-heading h4{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #12203c;
 }
 .adHocAccordion .accordionItems .panel-body{
    border-radius: 4px;
    box-shadow: 0 4px 9px 0 rgba(220, 220, 220, 0.5);
    background-color: #ffffff;
    border-top: 0 !important;
    padding-left: 25px;
    padding-top: 20px;
    height: 29vh;
 }
 .adHocAccordion .accordionItems .panel-body button{
    height: 22px;
    border-radius: 13px;
    background-color: #6d6dc9;
    width: 41px;
    color: #fff;
    border-color: #6d6dc9;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    float: right;
 }
 .adHocAccordion .accordionItems .panel{
    border: 0;
    margin-top: 15px;
 }
 .adHocAccordion .accordionItems .panel:first-child div.glyphicon{
     transform: rotate(0deg);
 }
 .adHocAccordion .accordionItems{
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    height: 71vh;
    padding-right: 20px;
 }
.editImgIcon{
    width: 15px;
}
.adHocAccordion .accordionItems .panel-heading div.glyphicon{
    font-size: 17px;
    -webkit-text-stroke: 2px white;
    transform: rotate(180deg);
}
 .adHocAccordion .totalItemAdd{
    text-align: right;
    display: block!important;
    padding-right: 20px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #12203c;
 }
 .adHocAccordion .totalItemAdd span{
    color: #12203c;
    padding-left: 7px;
 }
 .adHocAccordion{
    border-radius: 4px;
    box-shadow: 0 4px 9px 0 rgba(239, 239, 239, 0.5);
    background-color: #ffffff;
    padding-left: 40px;
    
 }
 .adHocSiteSelect .storeSearchDrop{
    z-index: 2;
    height: auto !important;
    width: 25vw;
 }
 .adHocSiteSelect .storeSearchDrop span{
    display: inherit;
   padding: 0 15px;
   height: 29.5vh !important;
   overflow: auto;
   z-index: 2;
 }
 .adHocSiteSelect .storeSearchDrop label{
   padding: 14px 0;
   text-align: left;
   border-bottom: 1px solid #f0f0f0;
 }
 .adHocSiteSelect input[type=search]{
   background: url("../assets/search.svg") no-repeat;
   background-position: 95%;
   background-size: 8%;
   padding-right: 20px;
 }
 .adHocSiteSelect input[type=search]::placeholder{
    color:#12203c;
 }
 .adHocSiteSelect input[type=date]::before{
    color: #12203c;
 }
 .adHocSiteSelect .storeSearchDrop span label{
   border: 0;
   font-size: 12px;
   font-weight: 500;
 }