//  Style Planner Work Queue
.planner-work-queue-head {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #dce6f0;
    .pwqh-left {
        .pwq-review-board {
            position: relative;
            width: 250px;
            label{
                font-size: 12px;
                font-weight: 500;
                color: #3a5074;
            }
            button {
                display: block;
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                height: 30px;
                width: 100%;
                text-align: left;
                font-weight: 500;
                font-size: 12px;
                background-image: url(../assets/downArrowNew.svg);
                background-position: 96%;
                background-repeat: no-repeat;
                padding: 4px 23px 4px 7px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .csd-option {
                display: block;
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 250px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                        position: relative;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                    }
                }
            }
        }
    }
    .pwqh-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .ars-data-head-search-bar {
            position: relative;
            margin-left: 20px;
            input[type=search] {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            .search-image {
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
    }
}
.ars-form-ul {
    padding: 0;
    li{
        display: inline-block;
        label{
            position: relative;
            font-size: 14px;
            font-weight: 500;
            color: #12203c;
            cursor: pointer !important;
        }
        [type=radio]:checked+label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 15px;
            height: 15px;
            border: 2px solid #8b77fa;
            border-radius: 100%;
            background: #ffffff;
        }
        [type=radio]:not(:checked)+label:before{
            border: 2px solid #dce6f0;
            background: #ffffff;
        }
        [type=radio]:checked+label:after{
            content: "";
            width: 5px;
            height: 5px;
            background: #8b77fa;
            border: 2px solid #8b77fa;
            position: absolute;
            top: 7px;
            left: 5px;
            border-radius: 100%;
        }
        [type=radio]:not(:checked)+label:after {
            background: #dce6f0;
            border: 2px solid #dce6f0;
        }
        [type=radio]:not(:checked)+label:after {
            opacity: 1;
        }
        [type=radio]:checked+label, [type=radio]:not(:checked)+label {
            font-size: 14px;
            padding-left: 22px;
            margin-right: 10px;
        }
    }
}
.arePwq-filter:after{
    content: "";
    position: absolute;
    top: 38px;
    left: 94px;
    width: 87%;
    height: 1px;
    background-color: #dce6f0;
    z-index: -1;
}
.arePwq-filter.arePwq-filter2{
    padding: 20px 0;
    height: auto;
    position: relative;
    z-index: 99;
    form{
        .select-checkbox option::before {
            content: "\2610";
            width: 1.3em;
            text-align: center;
            display: inline-block;
          }
          .select-checkbox option:checked::before {
            content: "\f046";
          }

        .ars-filter-option{
            position: relative;
            img{
                position: absolute;
                top: 54px;
                right: 12px;
                z-index: 9;
            }
            .multiselect {
                width: 200px;
            }
              
            .selectBox {
                position: relative;
            }
              
            .selectBox select {
                width: 100%;
                font-weight: bold;
            }
              
            .overSelect {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            
            #checkboxes {
                display: none;
                border: 1px #dadada solid;
            }
              
            #checkboxes label {
                display: block;
            }
              
            #checkboxes label:hover {
                background-color: #1e90ff;
            }
        }
        label{
            display: block;
            font-size: 14px;
            font-weight: 600;
            padding: 7px 0;
        }
        select{
            position: relative;
            display: block;
            width: 100%;
            // height: 35px;
            border-radius: 6px;
            padding: 5px 7px;
            font-size: 13px;
            border: 1px solid #dce6f0;
            -webkit-appearance: none;
        }
        select:focus{
            box-shadow: 0 0 3px 0 #dce6f0;
        }
        .reset-filter-button{
            height: 29px;
            margin: 20px;
            display: flex;
            justify-content: flex-end;
            button {
                font-size: 14px;
                border-radius: 7px;
                background-color: #8b77fa;
                color: white;
                font-weight: 700;
            }
        }
    }
}
// Style New Table Design
.arsPwq-data{
    .ars-data-head{
        position: relative;
        padding: 0;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ars-data-head-search-bar{
            position: relative;
            display: inline-block;
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            input:focus{
                border: solid 1px #cdc4ff;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
        .adh-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .adhr-download {
                button {
                    border-radius: 5px;
                    background-color: #f9f5fe;
                    height: 32px;
                    padding: 3px 10px;
                    font-size: 12px;
                    font-weight: 600;
                    color: #5677b1;
                    svg {
                        margin-left: 5px;
                        path {
                            fill: #5677b1;
                        }
                    }
                }
            }
        }
        a{
            display: inline-block;
            padding: 9px 11px;
            width: 36px;
            height: 36px;
            margin-right: 5px;
            img{
                width: 14px;
            }
        }
    }
    .arsPwq-data-body{
        .arsPwq-data-table{
            width: 100%;
            thead{
                tr{
                    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
                    th{
                        padding: 8px 5px;
                        label{
                            font-size: 13px!important;
                            font-weight: 600;
                            span{
                                margin-left: 4px;
                                img{
                                    width: 14px;
                                }
                            }
                        }
                    }
                    th:first-child{
                        width: 100px;
                        text-align: center;
                    }
                }
            }
            tbody{
                tr{
                    border-bottom: 1px solid #E1E9F5;
                    background-color: #fcfdfe;
                    td{
                        padding: 8px 5px;
                        label{
                            font-weight: 500;
                            color: #12203c;
                        }
                    }
                    td:first-child{
                        background-color: #ffffff;
                        width: 100px;
                        text-align: center;
                        border-bottom: 1px solid #ffffff;
                    }
                }
            }
        }
    }
}
.scrollTable > tbody > tr > td > label {
  font-size: 10px;
  font-weight: 500;
  font-family: Montserrat;
  color: #8b8b8b;
  text-align: left;
}

.scrollTable > thead {
  border-bottom: 1px solid #e3e7f3;
  border-top: 1px solid #e3e7f3;
}
.scrollTable > tbody > tr > td:nth-child(1) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > tbody > tr > td:nth-child(2) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > tbody > tr > td:nth-child(3) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > tbody > tr > td:nth-child(4) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > thead > tr > th {
  border-bottom: none !important;
}

.scrollTable>tbody>tr>td:last-child{
  border-right: none !important;
}
// End Of The New Table Design
// Style Bottom Section Of The Table
.arsPwq-data-bottom{
    padding: 30px 0;
    font-size: 15px;
    font-weight: 500;
    height: 95px;
    .adb-left{
        display: inline-block;
        padding: 5px 0;
        span{
            margin-right: 15px;
        }
        span.adb-pageNo input {
            padding: 6px 8px;
            border: 1px solid #dce6f0;
            border-radius: 6px;
            font-size: 13px;
            width: 100px;
            text-align: center;
        }
    }
    .adb-right{
        display: inline-block;
        float: right;
        ul{
            padding: 0;
            position: relative;
            margin: 0;
            li{
                display: inline-block;
                padding: 0 5px;
                a{
                    font-weight: 500;
                    display: block;
                    padding: 6px 8px;
                    border: 1px solid #dce6f0;
                    border-radius: 6px;
                    color: #12203c;
                    transition: all .6s;
                    font-size: 13px;
                }
                a:hover{
                    background-color: #8b77fa;
                    color: #ffffff;
                    transition: all 0.6s;
                    text-decoration: none;
                }
            }
        }
    }
}
// End Of The Bottom Section Of The Table
// Style Planner Work Sheet Page 
.planner-work-sheet-head {
    width: 100%;
    padding: 10px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 4px 7px 0 #dce6f096;
    .pws-inner{
        h3{
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
            margin: 0;
            span{
                margin-left: 10px;
            }
        }
    }
    .pwsh-left{
        display: flex;
        align-items: center;
        position: relative;
        .pws-slide {
            display: flex;
            border-radius: 5px;
            padding: 10px 20px 10px 0;
            background-color: #f8f7fe;
            align-items: center;
            position: relative;
            .pws-search {
                padding: 10px;
                width: 35px;
                cursor: pointer;
            }
            .pwss-drop {
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #94a5c6;
                }
                h3 {
                    font-weight: 600;
                    font-size: 12px;
                    color: #5663ae;
                    margin: 0;
                }
            }
            .pwssd-dropdown {
                display: block;
                position: absolute;
                top: 64px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                ul {
                    margin: 0px;
                    padding: 0px;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #5663ae;
                    }
                    li:hover {
                        background-color: #f8f7fe;
                        font-weight: 600;
                    }
                    .pwssd-search {
                        position: relative;
                        margin-bottom: 10px;
                        input[type=search] {
                            border-radius: 5px;
                            border: 1px solid #dce6f0;
                            background: #fff;
                            padding: 8px 30px;
                            height: 32px;
                            font-size: 11px;
                            color: #000;
                            font-weight: 600;
                            width: 100%;
                        }
                        input:focus {
                            border: 1px solid #8b77fa;
                        }
                        .search-image {
                            position: absolute;
                            top: 13px;
                            left: 22px;
                            width: 15px;
                        }
                        .closeSearch {
                            position: absolute;
                            right: 25px;
                            top: 15px;
                            cursor: pointer;
                        }
                    }
                    .pwssd-search:hover {
                        background-color: transparent;
                    }
                }
            }
        }
        .pws-slide-btn{
            display: flex;
            align-items: center;
            margin-left: 20px;
            span {
                background-color: #fff;
                width: 35px;
                display: flex;
                height: 35px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                box-shadow: 1px 1px 7px 1px #dce6f096;
                transition: 0.6s all;
                img{
                    width: 14px;
                }
            }
            span.prev {
                margin-right: 10px;
            }
            span:hover{
                background-color: #8b77fa;
                transition: 0.6s all;
                img {
                    filter: brightness(40);
                }
            }
            span.prev img{
                transform: rotate(90deg);
            }
            span.next img{
                transform: rotate(-90deg);
            }
        }
    }
    .pwsh-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .pws-revive-reasons{
            position: relative;
            width: 300px;
            label{
                font-size: 12px;
                font-weight: 500;
                color: #3a5074;
            }
            select{
                -webkit-appearance: none;
                display: block;
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                height: 30px;
                width: 100%;
                text-align: left;
                font-weight: 500;
                font-size: 12px;
                background-image: url(../assets/downArrowNew.svg);
                background-position: 96%;
                background-repeat: no-repeat;
                padding: 4px 23px 4px 7px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background-size: 12px;
                option {
                    width: 250px;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 3px;
                }
            }
            .csd-option {
                display: block;
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 250px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                        position: relative;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                    }
                }
            }
        }
    }
}
.pws-tablist {
    display: block;
    position: relative;
    width: 100%;
    // padding: 0 0 10px 40px;
    .pws-tablist-item{
        display: inline-block;
        ul.nav.nav-tabs.pws-tab-list {
            border: none;
            li{
                a.nav-link.pws-tab-btn{
                    position: relative;
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                    border: none;
                    cursor: pointer;
                    padding: 12px 15px;
                }
                a.nav-link.pws-tab-btn:focus, a.nav-link.pws-tab-btn:active{
                    color: #12203c;
                    font-weight: 600;
                    cursor: pointer;
                    background-color: #ffffff;
                    border: none;
                    padding: 12px 15px;
                }
                
            }
            li.active{
                a.nav-link.pws-tab-btn:after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 1px;
                    width: 30px;
                    height: 2px;
                    background-color: #000;
                    transform: translate(-50%, 0px);
                }
            }
        }
    }
    .pws-tab-inner{
        padding: 0px;
        .pwstab-content{
            table{
                width: 100%;
                tr{
                    td{
                        padding: 8px;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    td:nth-child(odd){
                        color: #94a5c6;
                    }
                    td:nth-child(even){
                        color: #12203c;
                    }
                }
            }
            .pwsAstable{
                width: 70%;
                thead{
                    tr{
                        border: none;
                        th{
                            border: none;
                            h3{
                                font-size: 16px;
                                font-weight: bold;
                                color: #12203c;
                                margin: 0;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .pws-info{
        float: right;
        a{
            display: inline-block;
            padding: 11px 13px;
            font-size: 12px;
            color: #12203c;
            font-weight: 600;
            border-left: 1px solid #CBD5E0;
            cursor: pointer;
            span {
                margin-right: 10px;
                img{
                    width: 11px;
                }
            }
        }
    }
}
.pws-tablist:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dce6f0;
    top: 60px;
    left: 0;
}
.arsPws-data{
    .arsPws-data-body{
        .arsPws-data-table{
            thead{
                tr{
                    th:first-child{
                        width: auto;
                        text-align: left;
                    }
                }
            }
            tbody{
                tr{
                    td:first-child{
                        background-color: #fcfdfe;
                        width: auto;
                        text-align: left;
                        border-bottom: 1px solid #E1E9F5;
                    }
                }
            }
        }
    }
}

// Style Sales History Tabs 
.pws-sales-history{
    display: flex;
    align-items: center;
    .pws-salesh-list{
        display: inline-block;
        border-bottom: none;
        padding: 10px 0;
        li {
            margin-bottom: 0;
            margin-right: 12px;
            .pws-salesh-btn{
                position: relative;
                border-radius: 6px;
                border: solid 1px #d0dfed;
                padding: 6px 18px;
                font-size: 12px;
                font-weight: 600;
                color: #12203c;
                transition: 0.6s all;
            }
            .pws-salesh-btn:hover, .pws-salesh-btn:active, .pws-salesh-btn:focus{
                color: #ffffff;
                cursor: pointer;
                background-color: #12203c;
                border: solid 1px transparent;
            }
        }
        li.active{
            .pws-salesh-btn{
                color: #ffffff;
                cursor: pointer;
                background-color: #12203c;
                border: solid 1px transparent;
            }
        }
    }
    .pws-sh-info{
        position: relative;
        display: inline-block;
        .pws-shi-icon{
            display: block;
            cursor: pointer;
        }
        .pws-info-menu{
            position: absolute;
            display: block;
            visibility: hidden;
            opacity: 0;
            top: 30px;
            left: 0;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 6px 0 hsla(0,0%,53%,.16);
            background-color: #ffffff;
            width: 185px;
            height: auto;
            transform: translate(0 20px);
            transition: all 0.6s ease-out;
            z-index: 99;
            h4{
                display: block;
                font-size: 13px;
                margin: 0;
                padding-bottom: 10px;
                font-weight: bold;
                color: #12203c;
            }
            .pws-Imlist {
                display: block;
                padding: 5px 0;
                span {
                    font-size: 13px;
                    font-weight: 500;
                    display: inline-block;
                    width: 50%;
                    color: #12203c;
                }
                span:first-child{
                    color: #a4b9dd;
                }
            }
        }
    }
} 
.pws-sh-info .pws-shi-icon:hover>.pws-info-menu{
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
}

.change-select-dropdown{
    padding: 0;
    margin: 10px 0;
    position: relative;
    .csd-area{
        position: relative;
        display: block;
        width: 80%;
        height: 35px;
        border-radius: 6px;
        padding: 7px 7px;
        font-size: 13px;
        border: 1px solid #debaf8;
        cursor: pointer;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        .ars-overflow-h{
            display: block;
            overflow: hidden;
            i{
                position: absolute;
                right: 6px;
                top: 5px;
                background: #fff;
                width: 20px;
                height: 20px;
                padding: 5px;
            }
        }
        .csd-option{
            position: absolute;
            display: block;
            visibility: hidden;
            opacity: 0;
            top: 40px;
            left: 0;
            padding: 10px;
            border-radius: 6px;
            box-shadow: 0 0 6px 0 hsla(0,0%,53%,.16);
            background-color: #ffffff;
            width: 100%;
            transform: translate(0 20px);
            transition: all 0.2s ease-out;
            z-index: 99;
            border: solid 1px #dce6f0;
            li {
                padding: 5px 8px;
                font-size: 13px;
                font-weight: 500;
                transition: all 0.6s;
                white-space: normal;
            }
            li:hover{
                background-color: #f6ecfd;
                font-weight: 500;
                transition: all 0.6s;
            }
        }
    }
}

// .change-select-dropdown .csd-area:hover>.csd-option{
//     visibility: visible;
//     opacity: 1;
//     transform: translate(0 0);
// }

.change-select-dropdown .csd-area .csd-option.display_visible{
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
    .ars-overflow-h{
        i{
            transform: rotate(180deg);
        }
    }
}

.vd-payment-status{
    position: relative;
    display: block;
    margin: 35px 0px;
    .vd-ps-head{
        position: relative;
        display: block;
        margin: 20px 0;
        h3 {
            font-size: 15px;
            font-weight: bold;
            color: #000000;
            span{
                img{
                    margin-left: 5px;
                }
            }
        }
        span{
            font-size: 11px;
            font-weight: 600;
            color: #000000;
        }
    }
    .m-b-8{
        margin-bottom: 8px;
    }
    .vd-ps-body{
        display: table;
        position: relative;
        width: 100%;
        span.vd-psb-text{
            font-size: 12px;
            font-weight: 600;
            color: #000000;
            padding: 5px 0;
            display: block;
        }
        span.vd-ps-left {
            display: block;
            width: 50%;
            float: left;
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 10px;
        }
        span.vd-ps-right {
            display: block;
            width: 50%;
            float: left;
            font-size: 15px;
            color: #12203c;
            margin-bottom: 10px;
            span{
                img{
                    margin-right: 5px;
                }
            }
        }
        span.clr-red{
            color: #eb0008;
        }
        span.f-weight7{
            font-weight: 700;
        }
        input{
            width: 170px;
            height: 30px;
            padding: 5px 8px;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500 !important;
            color: #cbd5e0;
        }

        ::placeholder{
            color: #cbd5e0;
        }
        .vd-attach-img{
            position: absolute;
            top: 33px;
            left: 146px;
            cursor: pointer;
        }
    }
    .vd-ps-bottom {
        display: block;
        margin: 10px 0;
        a{
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            padding: 5px 13px;
            color: #12203c;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            transition: 0.6s all;
        }
        a:hover{
            border: solid 1px #8b77fa;
            background-color: #8b77fa;
            color: #ffffff;
            transition: 0.6s all;
        }
    }
}
.columnFilterGeneric span.glyphicon{
    position: absolute;
    right: 0;
    top: -1px;
    padding: 14px 9px;
    background: #6d6dc9;
    color: #ffff;
    font-size: 13px;
    cursor: pointer;
}
.columnFilterGeneric{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 13px 0px;
    height: 41px;
    width: 19px;
    z-index: 2;
}
.columnFilterDropDown{
    width: 68vw;
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(216, 216, 216, 0.5);
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 40px;
    height: auto;
}
.filterHeader h3{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
}
.filterHeader{
    box-shadow: 0 3px 11px 0 rgba(237, 237, 237, 0.5);
    background-color: #ffffff;
    height: 50px;
}
.inputSearch{
    height: 100%;
    border: 0;
    background-color: #ffffff;
    text-indent: 44px;
    font-size: 13px;
    font-weight: 700 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    background: url("../assets/search.svg") no-repeat;
    background-position: 4%;
    background-size: 3%;
}
.filterHeader input[type=search]{
    border-right: solid 0.5px #e6e6e6;
    font-weight: 500 !important;
}
.filterHeader .columns{
    height: 100%;
    display: flex;
    align-items: center;
}
.filterHeader .columns span{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: #f3f3f3;
    color: #6d6dc9;
    border-radius: 50%;
    padding: 3px 5px;
}
.filterHeader .border{
    right: 8px;
    position: absolute;
    color: #e6e6e6;
    height: 100%;
    top: 0;
    width: 0px;
}
.filterLeftHead h2{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.filterLeftHead ul li.active{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding: 7px 15px 0px 0;
    opacity: 1;
}
.filterLeftHead ul li{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    opacity: 0.49;
    padding: 7px 15px 0px 0;
    font-weight: 400;
    cursor: pointer;
}
.filterLeftHead .identifier{
    padding: 15px 15px;
}
.filterLeftHead .identifier:first-child::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 92%;
    left: 35px;
    bottom: 0;
    background: #e6e6e6;
}
.filterRightHead{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: #f9f9f9;
}
.filterRightHead h3{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 0px;
}
.filterRightHead .savedColumn ,.filterRightHead .visibleColumn{
    padding: 15px 15px;
}
.filterRightHead .savedColumn label{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    border-radius: 3.6px;
    background-color: #6d6dc9;
    width: 95px;
    height: 22px;
    float: left;
    padding: 3px 6px;
    margin-right: 10px;
    margin-top: 8px;
}
.filterRightHead  .visibleColumn label{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    background-color: #e7e7e7;
    width: 85%;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 3px;
}
.filterHeader .resetBtn{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
    background: transparent;
}
.filterHeader .saveBtn{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6d6dc9;
    background: transparent;
}
.columnSetting{
    position: absolute;
    right: 19px;
    display: block;
    width: max-content;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    background-color: #f1f1f1;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}


// Style Inventory Planning Pages
.ars-planning-parameter{
    margin: 30px 0;
    float: left;
    .app-head-section {
        display: block;
        width: 100%;
        position: relative;
        .app-hs-col {
            display: inline-block;
            width: 24%;
            align-items: center;
            position: relative;
            margin-bottom: 30px;
            label {
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                margin-bottom: 10px;
                width: 170px;
                margin-right: 30px;
            }
            select {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background-color: #fff;
                width: 230px;
                height: 34px;
                font-size: 12px;
                font-weight: 500;
                padding: 5px 8px;
                -webkit-appearance: none;
                background-image: url("../assets/downArrowNew.svg");
                background-repeat: no-repeat;
                background-position: 94%;
            }
            input[type="text"] {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background-color: #fff;
                width: 230px;
                height: 34px;
                font-size: 12px;
                font-weight: 500;
                padding: 5px 8px;
                -webkit-appearance: none;
            }
            input::-webkit-calendar-picker-indicator {
                display: none;
            }
            .app-hs-col-inner{
                display: inline-block;
                position: relative;
            }
        }
        .app-hsc-store-wise-modal {
            width: 450px;
            border-radius: 7px;
            background-color: #ffffff;
            height: 230px;
            position: absolute;
            z-index: 99;
            top: 42px;
            left: 0;
            .app-hsc-swm-top {
                display: block;
                width: 100%;
                height: 67%;
                padding: 10px 15px;
                overflow: auto;
                border: 1px solid #dce6f0;
                border-bottom: none;
                border-radius: 7px 7px 0 0;
                .app-hsc-swm-top-inner {
                    display: flex;
                    align-items: center;
                    .app-stw-store-name {
                        display: inline-block;
                        width: 50%;
                        select{
                            width: 90%;
                            height: 27px;
                        }
                    }
                    .app-stw-base-qty {
                        display: inline-block;
                        width: 40%;
                        input[type="text"] {
                            border-radius: 5px;
                            border: 1px solid #dce6f0;
                            background-color: #fff;
                            width: 90%;
                            height: 27px;
                            font-size: 11px;
                            font-weight: 500;
                            padding: 5px 8px;
                        }
                    }
                    .app-stw-add-icon {
                        display: inline-block;
                        width: 10%;
                        img{
                            width: 27px;
                        }
                    }
                }
            }
            .app-hsc-swm-bottom {
                display: block;
                height: 33%;
                width: 100%;
                .app-hsc-bottom-inner {
                    display: flex;
                    width: 100%;
                    padding: 10px 15px;
                    border: solid 1px rgba(0, 217, 92, 0.73);
                    background-color: #dbf4e5;
                    align-items: center;
                    border-radius: 0 0 7px 7px;
                    .bottomToolTip {
                        display: flex;
                        width: 74%;
                        align-items: center;
                        .customInput {
                            border-radius: 21px;
                            background-color: #ffffff;
                            border: none;
                            margin: 0;
                            width: 125px;
                            height: 30px;
                            padding: 6px 13px;
                            img{
                                width: 12px;
                            }
                        }
                        .fileName {
                            display: inline-block;
                            label{
                                font-size: 11px;
                                margin: 0;
                                margin-left: 10px;
                                width: auto;
                                img{
                                    width: 20px;
                                }
                            }
                        }
                    }
                    .app-hsc-bi-select-temp {
                        display: inline-block;
                        width: 26%;
                        text-align: right;
                        button {
                            background: #02b44e;
                            color: #fff;
                            padding: 5px 10px;
                            border-radius: 6px;
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                    
                }
            }
        }
    }
    .app-bottom-section {
        display: block;
        margin: 20px 0;
        h5 {
            font-size: 12px;
            font-weight: 600;
            color: #12203c;
        }
        .app-bs-table {
            display: block;
            margin-top: 30px;
            table{
                thead{
                    tr{
                        height: 35px;
                        th{
                            padding-right: 15px;
                            label{
                                font-size: 12px !important;
                                font-weight: 500;
                                margin: 0;
                                color: #12203c;
                            }
                            img {
                                width: 14px;
                                margin-left: 8px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding-right: 15px;
                            label{
                                font-size: 12px !important;
                                font-weight: 600;
                                margin-bottom: 15px;
                            }
                            select {
                                border: solid 1px #dce6f0;
                                background-color: #ffffff;
                                border-radius: 5px;
                                width: 70px;
                                height: 30px;
                                font-size: 12px;
                                padding: 5px 8px;
                                -webkit-appearance: none;
                                color: #12203c;
                                font-weight: 700;
                                background-image: url("../assets/downArrowNew.svg");
                                background-position: 82%;
                                background-size: 10px;
                                background-repeat: no-repeat;
                            }
                            input[type="text"] {
                                border-radius: 5px;
                                border: solid 1px #dce6f0;
                                background-color: #ffffff;
                                height: 30px;
                                width: 150px;
                                padding: 5px 10px;
                                font-size: 11px;
                                font-weight: 500 !important;
                                color: #12203c;
                            }
                            input[type="text"]:disabled {
                                background-color: #f4f4fc;
                                width: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.create-new-planning-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    border: none;
    box-shadow: none;
    border-radius: 0;
    z-index: 10000000;
}

// Style New Filters Of Planner Work Queue
.planner-work-queue-filter {
    .orf-body {
        .inputTextKeyFucMain {
            .pwq-filter-drop {
                width: 250px;
                .dropdown-menu-city-item {
                    li {
                        position: relative;
                        .checkBoxLabel0{
                            width: 14px;
                            height: 14px;
                            padding-left: 16px;
                            margin: 0;
                            position: absolute;
                            top: 4px;
                            left: 10px;
                            .checkmark1{
                                left: 0;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #ffffff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: solid 2px #dce6f0;
                            }
                            .checkmark1:after{
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: none;
                            }
                            input:checked~.checkmark1{
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1:after{
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                        .vendor-details {
                            margin-left: 20px;
                            width: 94%;
                        }
                    }
                }
            }
        }
        .pwqf-mrp {
            .pwq-filter-drop {
                left: auto;
                right: 0px;
            }
        }
    }
}

// Style tab and header
.planner-work-sheet-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    .pwst-left {
        display: flex;
        align-items: center;
        .global-search-tab {
            margin: 0;
        }
    }
    .pwst-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .pwst-download {
            button {
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                height: 32px;
                padding: 3px 10px;
                font-size: 12px;
                font-weight: 500;
                margin-right: 20px;
                img {
                    width: 12px;
                    margin-left: 5px;
                }
            }
        }
        .pwst-location {
            position: relative;
            margin-left: 20px;
            label {
                font-size: 12px;
                font-weight: 500;
                color: #94a5c6;
                svg {
                    margin-right: 5px;
                }
            }
            p {
                font-size: 12px;
                font-weight: 600;
                margin: 0;
            }
        }
        // .pwst-location::before {
        //     content: "";
        //     position: absolute;
        //     top: 10px;
        //     left: -20px;
        //     width: 2px;
        //     height: 20px;
        //     background-color: #94a5c673;
        // }
    }
}
.pws-data-details {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #dce6f0;
    .pwsdd-col {
        display: block;
        margin-right: 60px;
        // min-width: 10%;
        p {
            font-size: 12px;
            font-weight: 500;
            color: #94a5c6;
            margin-bottom: 3px;
        }
        span {
            font-size: 12px;
            font-weight: 600;
            color: #12203c;
        }
    }
}

// Style Advance Sorting Modal
.advance-sorting-modal {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 430px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 20px 0;
    .asm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        button {
            color: #12203c;
            padding: 5px;
            height: auto;
            border: solid 2px;
            border-radius: 50%;
            background: #fff;
        }
    }
    .asm-body {
        width: 100%;
        padding: 0 30px;
        .asmb-top {
            padding: 0px 0 10px;
            border-bottom: 1px solid #dce6f0;
            p {
                font-size: 12px;
                font-weight: 500;
                color: #a4b9dd;
                margin: 0px;
            }
        }
        .asmb-mid {
            position: relative;
            padding: 10px 20px;
            border-bottom: 1px solid #dce6f0;
            h3 {
                font-size: 12px;
                font-weight: 600;
                color: #12203c;
                margin-bottom: 10px;
            }
            .asmbm-col {
                display: inline-block;
                margin-right: 25px;
                width: 180px;
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                }
                select {
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 10px;
                    height: 32px;
                    border-radius: 5px;
                    color: #12203c;
                    -webkit-appearance: none;
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid #dce6f0;
                    background-image: url('../assets/downArrowNew.svg');
                    background-position: 96%;
                    background-repeat: no-repeat;
                    background-size: 12px;
                }
            }
            .asmbm-drag {
                display: block;
                position: absolute;
                top: 42px;
                right: 20px;
                width: 18px;
                height: 12px;
                background: #fff;
                border-top: 2px solid #9ea9ce;
                border-bottom: 2px solid #9ea9ce;
            }
            .asmbm-drag::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #9ea9ce;
            }
            // .asmbm-drag:hover {
            //     border-top: solid 2px #f8c902;
            //     border-bottom: solid 2px #f8c902;
            // }
            // .asmbm-drag::before:hover {
            //     background-color: #f8c902;
            // }
        }
        .asmb-foot {
            padding: 20px 0;
            .asmb-plus-minus {
                display: inline-block;
                width: 63px;
                border-radius: 5px;
                border: 1px solid #dce6f0;
                height: 30px;
                button {
                    color: #12203c;
                    background: #fff;
                    height: 28px;
                    width: 30px;
                    border-radius: 6px;
                    font-size: 10px;
                    i {
                        padding: 3px;
                        border-radius: 50%;
                        border: 1px solid #12203c;
                    }
                }
                .asmb-minus {
                    width: 31px;
                    border-left: 1px solid #dce6f0;
                    border-radius: 0 5px 5px 0;
                }
                button:hover {
                    color: #f8c902;
                    i {
                        border: solid 1px #f8c902;
                    }
                }
            }
            .asmb-copy {
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                border: 1px solid #dce6f0;
                border-radius: 5px;
                background-color: #fff;
                padding: 4px 10px;
                margin-left: 15px;
                height: 30px;
                i {
                    margin-right: 10px;
                }
            }
            .asmb-copy:hover {
                color: #fff;
                background-color: #f8c902;
                border: solid 1px #f8c902;
                font-weight: 600;
            }
        }
    }
    .asm-footer {
        display: block;
        padding: 5px;
        text-align: center;
        button {
            border-radius: 4px;
            font-size: 12px;
            font-weight: 600;
            height: 34px;
            background: #8b77fa;
            color: #fff;
            padding: 5px 40px;
        }
    }
}
// Sorting button
.sorting-btn {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #ccd8ed;
    background-color: #fff;
    font-size: 12px;
    height: 32px;
    font-weight: 500;
    position: relative;
    i {
        margin-left: 5px;
    }
    .close-sort {
        display: inline-block;
        padding: 0 0 0 17px;
        position: relative;
    }
    .close-sort::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 8px;
        width: 1px;
        height: 30px;
        background-color: #ccd8ed;

    }
}
// Style Ars Dashboard
.ars-dash-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 180px);
    .adm-inner {
        display: block;
        width: 400px;
        text-align: center;
        img {
            width: 250px;
        }
        h3 {
            font-size: 22px;
            font-weight: 700;
            color: #12203c;
            margin: 50px 0 20px;
        }
        p {
            font-size: 14px;
            font-weight: 500;
            color: #a4b9dd;
            margin: 20px 0;
        }
        button {
            background-color: #fff;
            border-radius: 25px;
            border: 1px solid #ccd8ed;
            font-size: 12px;
            height: 32px;
            padding: 4px 30px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
    }
}