.assortment{
    width: 100%;
    background-image: linear-gradient(180deg,#f9f9f9,#f1f1f1);
    padding: 20px 30px;
    border-radius: 13px;
    margin-top:45px;
}
.assortment h5{
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.assortment p{
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}
.assortment h6{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.assortGetDetail button{
    width: 175px;
    font-weight: 600;
    height: 32.8px;
    border-radius: 22.8px;
    color:#ffffff;
    // background-image: radial-gradient(circle at 0 0, #3d3c99 8%, #c86dd7);
    background: #3b3b98;
}
.createAssortment button{
    width: 200px; 
    height: 34px;
    border-radius: 28px;
    background-color: #a59bd6;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.assortmentSelect .dropDiv{
    cursor:pointer;
    width: 74%;
    border: 1px solid #d2d2d2;
    border-radius: 5px 0 0 5px;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    height: 30px!important;
    border-right: 0;
}
.assortmentSelect select:focus{
    border: 1px solid #d2d2d2!important;
    box-shadow: none;
}
.assortmentSelect ul li{
    display: inline-block;
    width:20.6%;
    vertical-align: top;
}
.assortmentSelect ul li label{
    position: absolute;
    right: 32px;
    top: -1px;
}
.assortmentSelect .assortSelectDiv{
    position: relative;
}
.assortGetDetail{
    text-align:center;
}
.totalItem{
    width:100%;
    text-align: center;
}
.totalItem h3{
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.totalItem p{
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.totalItem:after {
    content: "";
    background: #e5e5e5;
    width: 38%;
    height: 1px;
    left: 31%;
    position: absolute;
    margin-top: 10px;
}
.createAssortment{
    width:100%;
    text-align: center;
}
.createAssortment p{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
}
.assortViewBtn{
  width: 154.4px;
  height: 32.8px;
  border-radius: 4.8px;
  background-color: #8b77fa;
  color:#ffffff;
}
.assortViewBtn i{
    position: absolute;
    left: 2.5%;
    font-size: 13px;
}
.fixRow{
    width:217px;
    line-height: 2;
    box-shadow: 6px 0 10px -3px #ececf6;
    background-color: #ffffff;
    vertical-align: top;
}
.availabeAssortment label{
    position: relative;
    display:block!important;
    text-align:center;
    border-radius: 17.5px;
    border: solid 1px #8b77fa;
    width:161px;
    height:34px;
    font-size: 11px;
    padding-top: 4px;
    cursor:pointer!important;
}
.availabeAssortment label input[type=checkbox]{
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 14%;
}
.availabeAssortment .countCol4{
    // column-count: 4;
    border-right:1px solid #e3e7f3;
    padding:0px 8px;
    font-size:11px;
    color: #8b8b8b;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: Montserrat;
}
.availabeAssortment .countCol6{
    padding-left:30px;
    font-size: 12px;
    color: #4a4a4a; 
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: Montserrat;

}
.availabeAssortment thead tr{
    border:0;
}
.availabeAssortment tr{
    height:50px;
    border:1px solid #e3e7f3;
    border-left:0;
    border-right:0;
}
.assortAvailable{
    margin-bottom:20px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.availabeAssortment tbody>tr:first-child{
    height:0px;
    border:0px; 
}
.availabeAssortment{
    width:100%;
}
// .availabeAssortment thead th:nth-child(2),.availabeAssortment thead th:nth-child(3){
//     padding-left:30px;
// }
.tableDetails{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.availabeAssortment tr p{
    font-size: 11px;
    padding-left:8px;
    color: #4a4a4a;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.availabeAssortment tr p span{
    display: block;
}
.availabeAssortment thead th{
  font-size: 11px;
  text-align: left;
  padding-left:10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: normal;
  color:#4a4a4a;
}
.availabeAssortment .tableDetails td:last-child{
    border-right:0;
}
.availabeAssortment>thead>th:first-child{
  box-shadow: 6px 0 10px -3px #ececf6;
  background-color: #ffffff;
}
.availabeAssortment thead{
    border-top: 1px solid #e5e5e5;
}
.assormentPager li{
    display: inline-block;  
}
.assormentPager .assorFirst{
    background: transparent;
    padding: 10px 21px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid rgb(227, 231, 243);
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.assormentPager  .assorPrev{
    background: transparent;
    padding: 10px 21px;
    border: 1px solid rgb(227, 231, 243);
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.assormentPager  .assorTotalPage{
    background: transparent;
    padding: 10px 21px;
    border: 1px solid rgb(227, 231, 243);
    color: #4a4a4a;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.assormentPager  .assorNext{
    background: transparent;
    padding: 10px 21px;
    border: 1px solid rgb(227, 231, 243);
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    border-radius: 0 20px 20px 0px;
}
.assormentPager ul{
    float:right;
}
.assormentPager button:hover{
    background-color: #e3e7f3;
}
.checkBoxLabel0{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkBoxLabel0 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark1 {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}
.availabeAssortment .checkmark1{
    top:6px;
}
.checkBoxLabel0 input:checked ~ .checkmark1 {
    background-color: #8b77fa;
}
.checkmark1:after {
    content: "";
    position: absolute;
    display: block;
}
.checkBoxLabel0 input:checked ~ .checkmark1:after {
    display: block;
}
.checkBoxLabel0 .checkmark1:after {
    left: 6px;
    top: 3px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.assortmentCheck ul li{
    display: inline-block;
}
.assortmentCheck ul{
    padding-left:0; 
}
.assortmentCheck ul li label{
    font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  cursor: pointer!important;
}
.assortmentCheck .checkmark1{
    top: -1px;
    left: 0px;
    height: 17px;
    width: 17px;
}
.assortmentCheck .checkBoxLabel0{
    padding-left: 24px;
    padding-right: 20px;
}
.assortSelectDiv .checkmark1{
    top: 7px;
    left: 42px;
    height: 17px;
    width: 17px;
    cursor:pointer; 
}
.assortSelectDiv .checkBoxLabel0 .checkmark1:after{
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
}
.assortSelectDiv .dropIcon{
    position: absolute;
    right: 57px;
    font-size: 12px;
    top: 6px;
    color:#9b9b9b;
}
.assortSelectDiv .checkSeperate{
    border: 1px solid #d2d2d2;
    height: 30px;
    width: 14%;
    // border-left: 0;
    float: left;
    position: absolute;
    right: 30px;
    top: 0px;
    background: #fff;
    border-radius: 0px 5px 5px 0;
}
.assortmentCheck .checkmark1:after{
    left: 6px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.assortmentNoDate{
    left: 49vw;
    // position: absolute;
    border:none!important;
}
.createAssortmentModal ul li:first-child label{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a
}
.createAssortmentModal ul li:last-child label{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #4a4a4a;
}
.createAssortmentModal .proceedOrNot p{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #4a4a4a;
}
.createAssortmentModal .emptyDiv{
    height: 15vh!important;
}
.createAssortmentModal{
    padding: 30px!important;
}
.saveCloseAssortBtn button:first-child{
    width: 100px;
    background: #8b77fa;
    color: #fff;
    font-weight: 500;
}
.saveCloseAssortBtn button{
    width: 83px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background-color: #fff;
    margin-right: 20px;
    transition:0.5s;
    font-size: 11px;
    line-height: normal;
}
.saveCloseAssortBtn button:hover{
    color:#fff;
    background-color: #8b77fa;
}
.assortmentCreatedModal .otbModalMain{
    height: 32%;
    width: 34%;
    padding: 33px!important;
}
.assortmentCreatedModal .saveCloseAssortBtn button{
    width: 75px;
    height: 28px;
    margin-top: 10px;
    background: #8b77fa;
    color: #fff;
}
.assortmentCreatedModal .createAssortmentModal ul li:first-child label{
    font-size: 15px;
}
.assortmentCreatedModal .createAssortmentModal .proceedOrNot p{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-top: 15px;
}
.assortmentStatus{
    text-align: center;
    width: 100%;
    // margin-top: 25px;
}
.assortmentStatus .assortFailed{
    width: 27%;
    padding: 9px 15px;
    display: flex;
    height: auto;
    margin: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 1px hsla(0,0%,90%,.5);
    background-color: #fff;
    display: flex;
    align-items: center;
}
.assortmentStatus .assortFailed img:first-child{
    height: 20px;
}
.assortmentStatus label{
    margin: 0 20px 0 11px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #4a4a4a;
}
.assortmentSelect .assortSelectDiv .dropdown{
    position: absolute;
    width: 88%;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(216, 216, 216, 0.5);
    background-color: #ffffff;
    z-index: 1;
    padding-bottom: 10px;
    top: 32px;
    left: 0;
}
.assortmentSelect .assortSelectDiv .dropdown input[type=search]{
    margin-top: 10px;
    width: 91%;
    height: 28px;
    background-position: 4%;
    background-size: 6%;
    padding-left: 5px;
    font-size: 11px;
    font-weight: 500!important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}
.assortmentSelect .assortSelectDiv .dropdown input[type=search]::placeholder{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c2c2c2;
}
.assortmentSelect .assortSelectDiv .dropdown ul li{
    width: 100%;
    display: block;
    padding: 5px 11px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.assortmentSelect .assortSelectDiv .dropdown ul li:hover{
    background:#8b77fa;
    color:#fff;
}

.activeDropDown{
    background: #8b77fa;
    color: #fff !important
}

// ------------------------------------Priority Set Modal---------------------------
.prioritySetModal .createAssortmentModal{
    padding: 0 !important;
    width: 50%;
    height: 70vh;
}
.prioritySetModal .createAssortmentModal ul{
    padding: 20px 30px;
    border-bottom: 1px solid #ebebeb;
}
.prioritySetModal .middleContent{
    padding: 30px 30px;
    display: inline-block;
    width:100%;
    height: 45vh;
    overflow: auto;
}
.prioritySetModal .orders{
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(200, 200, 200, 0.5);
    background-color: #ffffff;
}
.prioritySetModal .orders label{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.prioritySetModal .orders select{
    width: 100%;
    height: 62%;
    border-radius: 3px;
    border: solid 1px #dedede;
    background: transparent;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-indent: 5px;
}
.prioritySetModal .orders.active:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    background: #00c68a;
    left: 0;
    top: 0;
}
.prioritySetModal .createAssortmentModal ul h2{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.prioritySetModal .proceedOrNot{
    padding: 20px 30px !important;
    border-top: 1px solid #ebebeb;
    display: table;
}
.prioritySetModal .proceedOrNot label{
    vertical-align: middle;
    display: table-cell !important;
    padding-left: 30px;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #1b192e;
    position: relative;
}
.prioritySetModal .proceedOrNot label::before{
    content: "";
    position: absolute;
    height: 9px;
    width: 9px;
    background: #00c68a;
    left: 12px;
    top: 12px;
}
.prioritySetModal .saveCloseAssortBtn{
    float: right;
}
.prioritySetModal .saveCloseAssortBtn button:last-child:hover{
    background: transparent;
    color: #4a4a4a;
}
// ------------------------------------Priority Set Modal End---------------------------
