.budgetedSaleModal .manageSearch{
    float: right;
}
.budgetedSaleModal{
    width: 69%;
    height: 69vh;
}
.budgetedTable tbody tr td:first-child{
    padding-left:0!important;
}
.budgetedTable tbody tr{
    background: transparent!important;
}