.budgetedSales .finalAssortment h4{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.budgetedSales .finalAssortment p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a7a7a7;
}
.budgetedSales .availDownload{
    border-radius: 5.2px;
    // background-image: linear-gradient(102deg, #81fbb8, #28c76f);
    background-color: #6d6dc9!important;
    font-family: Montserrat;
    font-size: 10.3px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    width: 155.9px;
    height: 33.6px;
    margin-top: 12px;
}
.boxShadow{
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
}
.finalAssortment .col-md-3 .boxShadow{
    // width: 90%;
    padding: 24px 21px 28px 30px;
    height:150px;
}
.finalAssortment .budgetSales .boxShadow{
    padding: 24px 21px 28px 30px;
    width: 100%;
    height:150px;
}
.finalAssortment .budgetSales button{
    border-radius: 5.2px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9;
    border: 1px solid #6d6dc9;
    width: 137.9px;
    background: transparent;
    height: 28.6px;
}
.finalAssortment .budgetSales ul li:nth-child(3) label,.finalAssortment .budgetSales ul li:nth-child(4) label{
    font-weight:500;
    font-size:11px;
    text-align: left;
}
.finalAssortment .budgetSales ul li:nth-child(3),.finalAssortment .budgetSales ul li:nth-child(4){
    width:150px;
}
.uploadData .selectFrequencyCustom label:first-child{
    font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.downloadExcelTemplate{
    float: right;
    width: 211px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9;
    text-align: left;
    padding-left: 17px;
}
.uploadData .predectionTime{
    width:100%;
    padding: 20px;
}
.uploadData button img{
    padding-left: 12px;
    width: 25px;
}
.uploadFile label:first-child{
    font-size:11px!important;
    display: block!important;
    text-align: left!important;
    margin-bottom: 11px;
}
.uploadFile input[type=file]{
    display: none;
}
.custom-file-upload-budget{
    border: 1px solid #ccc;
    font-weight: normal!important;
    padding: 7px 12px;
    cursor: pointer!important;
    margin-right: 35px;
    font-size: 11px!important;
    border-radius: 3px;
    height: 31px;
    width: 131px
}
.custom-file-upload-budget img{
    margin-left: 21px;
    height: 16px;
}
.customRunOnDemand .predectionTime .uploadFile button{
    width: 120.9px;
    height: 31px;
    border-radius: 5.2px;
    background-color: #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.budgetSales .selectFrequencyCustom ul li:last-child{
    vertical-align: bottom;
}
.uploadingProcess{
    // background-color: #fcfcfc;
    width: 93%;
    padding: 20px;
    display: inline-block;
}
.uploadingProcess .fourIcons img{
    height:52px;
}
.customRunOnDemand .uploadingProcess label{
    display: block!important;
    padding-top: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.uploadingProcess ul li{
    display: inline-block;
    width: 141px;
    text-align: center;
}
.uploadingProcess::after{
    content: "";
    position: absolute;
    background: #f1f1f1;
    bottom: 72px;
    left: 36px;
    height: 2px;
    width: 39vw;
    z-index: 0;
}
.fourIcons{
    z-index: 1;
}
.uploadProcessRight span{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:4a4a4a;
    margin-left:9px;
}
.uploadProcessRight button{
    border-radius: 11px;
    background-color: #000000;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: block;
    width: 76px;
    height: 22px;
    margin-top: 10px;
}
.uploadProcessRight{
    margin-top: 20px;
    padding-left: 39px;
}
.circleMiddletext{
    position: absolute;
    width: 100%;
    padding: 0 21px;
    height: 100%;
    /* top: 0; */
    left: 0;
} 
.customRunOnDemand .circleMiddletext p{
    padding-top: 19px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #dbdbdb;
}
.blueText{
    color: #6d6dc9!important;
}
.errorCode{
    position: absolute;
    width:auto;
    min-width: 80px;
}
.budgetSaleStatus{
    width:70%;
    height:50vh;
}
.uploadStatusBudget{
    width:30%;
    height: 314px;
    padding: 35px 31px;
    border-radius: 6px;
    box-shadow: 1px 0 11px 0 rgba(234, 234, 234, 0.5);
    background-color: #ffffff;
}
.uploadStatusBudget p{
    font-size: 12px;
    display: inline-block;
    padding-left:10px;
}
.assortmentTotal li{
    display: block;
    margin-top:10px;
}
.assortmentTotal li h4{
    display: inline-block;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    width: 160px;
}
.assortmentTotal li p{

    font-family: Montserrat;
    font-size: 12px!important;
    font-weight: 600!important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.budgetSaleStatus .selectFrequencyCustom>ul li{
    vertical-align: top;
}
.selectFrequencyCustom>ul>li:first-child>label:nth-child(2){
    margin-top: 9px;
    width: auto;
    display: block!important;
}
.budgetSaleStatus .uploadFile{
    margin-left:20px;
    position: relative;
}
.messageBottom{
    position: absolute;
    bottom: -19px;
    right: -88px;
    font-size: 11px!important;
}
.selectFrequencyCustom .messageBottom span{
    font-size: 11px;
    color: #3b3b98;
    font-weight: bold;
    cursor: pointer;
}
.uploadStatusBudget button{
    width: 167px;
    height: 32px;
  border-radius: 23px;
  background-color: #f5a623;
  font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.errorLogsBtn{
    text-align: center;
}
.budgetSaleStatus .uploadFile .uploadStatus span{
    position: absolute;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #9b9b9b;
    width: 135px;
    word-break: break-all;
    text-align: left;
}
.budgetSaleStatus .uploadFile .uploadStatus{
    position: absolute;
    width: 100px;   
}
.customRunOnDemand .budgetSaleStatus .uploadFile button{
    border-color: #6d6dc9;
}
.finalAssortment .budgetSales ul{
    vertical-align: bottom;
    height: 70px;
}
.finalAssortment .budgetSales ul li:nth-child(1) , .finalAssortment .budgetSales ul li:nth-child(2){
    vertical-align: top;
    margin-top:23px;
}
.finalAssortment .budgetSales ul li:nth-child(3) , .finalAssortment .budgetSales ul li:nth-child(4),
.finalAssortment .budgetSales ul li:nth-child(5){
    vertical-align: bottom;
}
.budgetedSalesPatch{
    top: 9px;  
    z-index: 2;
}
.budgetedSalesPatch .noClickDiv{
    top: 9px;
    height: 192px;
}
.budgetedSalesPatch.toolTipMainHover .skechersTooltip{
    top: 45px;
}
.uploadStatusBudget ul li:nth-child(2) h4, .uploadStatusBudget ul li:nth-child(2) p{
    color: #d0021b;
}
.budgetedSales .finalAssortment button.availDownload img{
    width: 12px;
    margin-left: 12px;
    }
.noClickDiv{
    display: none;
}
.budgetedSalesPatch.toolTipMainHover:hover .noClickDiv{
    display: block;
}
.selectDropdown select{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #4a4a4a;
    border-color: #d2d2d2;
    appearance: none;
    padding-left:8px;
   
}
.selectDropdown{
    position: relative;
}
.selectDropdown .dropDownIcons{
    padding-right: 6px;
    color: #6d6dc9;
    top: 27!important;
    cursor: pointer;
}
.selectDropdown h5{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
}
.downloadBtnBudgeted{
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-size: 11px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 4px 8px;
    border-radius: 33px;
}
.chooseFileBudgeted:hover .topToolTipGeneric{
    display: block;
    width: 268px;
    word-break: break-all;
    text-align: center;
    left: -62px;
    top: -18px;
    padding: 5px;
}
.budgetesProcessingImg{
    animation: animate 2s linear forwards infinite;
}
@keyframes animate {
    0% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
  }