.settingMainCol{
    height:40vh;
}
.changeSetting .settingMainCol h4{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.changeSetting .settingMainCol p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.settingDrop{
    position: inherit;
    width: 65%;
}
.settingCheck label{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    height: 29px;
    align-items: center;
    display: flex!important;
    padding-left: 29px;
}
.timeDate .topBox{
    border-radius: 4px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    height: 18vh;
}
.timeDate .bottomBox{
    border-radius: 4px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    height: 18vh;
}
// .timeDate .bottomBox button{
//     height: 35px;
//     width: 90px;
//     border-radius: 30px;
// }
.settingDrop label{
    padding-left:8px;
    font-size: 11px;
    color: #12203c;
}
.settingCheck .checkmark1{
    left: 1px;
    height: 17px;
    width: 17px;
}
.settingCheck .checkBoxLabel0 .checkmark1::after{
    border-width: 0 2px 2px 0;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
}
.notificationSetting:after{
    content: "";
    position: absolute;
    background: #f6f6f6;
    height: 1px;
    width: 27vw;
    left: 0;
    bottom: -14px;
}
.notificationSetting ul{
    display: flex;
    align-items: center;
}
.notificationSetting h4{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.notificationSetting{
    display: inline-block;
    margin-bottom: 20px;
}
.notificationSetting ul li label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.emailBox ul{
    // border: 1px solid #dcdcdc;
    width: auto;
    padding: 10px 72px 10px 14px;
}
.emailBox .enterShow{
    position: absolute;
    right: 14px;
    top: 8px;
    text-align: center;
}
.emailBox .enterShow img{
    height: 13px;
    margin-bottom: 2px;
}
.emailBox .enterShow label{ 
    display: block !important;
    font-size: 10px;
    font-weight: 300;
    line-height: normal;
    color: #bebebe;
}
.emailBox ul li{
    width: auto;
    padding-right: 25px !important;
    padding: 5px;
    border-radius: 4.4px;
    background-color: #8b77fa;
    vertical-align: middle;    
    color: #fff;
    font-family: Montserrat;
    font-size: 10.3px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-right:10px;
    position: relative;
}
.addEmails label{
    font-family: Montserrat;
    font-size: 10.3px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.addEmails .emailBox .emails{
    cursor:text;
    width: 93%;
    border: 1px solid #dcdcdc;
    padding: 4px 5px 4px 9px;
}
.emailBox li:last-child {
    width:180px;
    background: transparent;
    cursor: text;
}
.addEmails .emailBox li:last-child input[type=text]{
    border-radius: 5px;
    background-color: transparent;
    box-shadow: none;
    border: 0;;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    color: #12203c;
    font-weight: 700!important;
    text-indent: 5px;
    min-width: 220px;
}
.emailBox li span{
    position: absolute;
    right: 9px;
    top: 6px;
    cursor: pointer;
}
.settingDrop .dropdown-toggle:after{
    display:none;
}
.settingDrop i{
    position: absolute;
    right: 3px!important;
    font-size: 11px!important;
    top: 9px!important;
    padding-right: 3px;
    color: #9b9b9b;
}
.settingDrop button{
    padding: 0 8px;
    font-size: 11px;
    color: #12203c;
    width: 100%;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.settingDrop button:hover{
    background: transparent;
    border:1px solid #dcdcdc!important;
}
.settingDrop button:focus{
    background: transparent!important;
    border:1px solid #dcdcdc!important;
    box-shadow: none;
}
.settingDrop button:active{
    background-color: transparent!important;
    box-shadow: none;
    border-color: #dcdcdc!important;
}
.settingDrop ul.dropdown-menu{
    width: 100%;
    top: 35px;
    height: auto;
    min-height: 128px;
    z-index: 10;
}
.settingDrop ul.dropdown-menu li{
    margin: 3px 0;
    color: #000;
}
.settingDrop ul.dropdown-menu a{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #000 ;
    padding: 6px 11px;
    cursor: pointer;
}
.settingDrop ul.dropdown-menu li a:hover, .settingDrop ul.dropdown-menu li:focus {
    border-radius: 5px;
    background-color: #8b77fa;
    color:#fff !important;
}
.settingDrop .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: transparent;
    border:1px solid #dcdcdc!important;
}
.settingDrop ul.dropdown-menu a:focus{
    background: transparent;
}
// .changeSettingContain .switchTabs .activeTab:before{
//     content: "";
//     position: absolute;
//     bottom: 2px;
//     // left: 24%;
//     left:18px;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent transparent #8b77fa transparent;
// }
.changeSettingContain .switchTabs li label{
    font-size: 12px!important;
    margin-bottom: 5px;
}
.changeSettingContain .switchTabs .activeTab:after{
    border-bottom: 3px solid #8b77fa!important;
    width: 108%;
}
.createNotification .settingDrop{
    width:93%;
}
.createNotification label{
    font-size: 11.3px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    margin-bottom: 10px;
}
.createNotification h4{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.notificationSettingMain .addEmails ul{
    width: 58vw;
    // padding: 6px 5px 6px 14px;
}
.notificationSettingMain .addEmails ul li{
    margin-top:5px;
    margin-bottom:5px;
    float:left;
    cursor: default;
}
.notificationSettingMain .addEmails h4{
    font-size: 10.3px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.notificationDisabled img{
    margin-right: 10px;
}
.notificationDisabled label{
    font-size: 10.2px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    margin-bottom: 0;
    vertical-align: middle;
}
.notificationTable tbody td:first-child img{
    width:15px;
    display: flex;
    align-items: center;
    margin: auto;
}
.notificationTable tbody td:first-child{
    padding-left:0px!important;
}
.notificationTable tbody td:first-child span{
    width: 100%;
}
.notificationTable tbody td label{
    color: #12203c!important;
    font-weight: 500!important;
}
.notificationTable thead th label{
    font-weight: bold!important;
}
// .settingDrop select.dropdown-menu{
//     width: 100%;
//     top: 35px;
//     height: auto;
//     min-height: 160px;
//     z-index: 10;
// }
// .settingDrop select.dropdown-menu option{
//     margin: 3px 0;
// }
.settingDrop select{
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    outline: none;
    text-indent: 5px;
    padding: 0 8px;
    font-size: 11px;
    color: #12203c;
    width: 100%;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    height: 31px;
}
// --------Configuration setting------------

.configurationSetting .collapse{
    display: block;
}
.configurationSetting .card-header{
    background: transparent;
    border-bottom: 1px solid #e9e9e9;
    padding: 15px 30px;
}
.configurationSetting .card-header h3{
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.configurationSetting .card{
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 0 7px 3px hsla(0,0%,90%,.5);
    background-color: #ffffff;
    border: 0;
    overflow: visible;
    margin-bottom: 20px!important;
}
.configurationSetting .card-body{
    display: inline-block;
    width: 100%;
    padding: 18px 15px;
}
.configurationSetting .card-body .userModalSelect label{
    font-size: 11px;
    text-indent: 10px;
    color: #12203c;
}
.configurationSetting .card-body  .dropdownFilterOption{
    height: 95%;
    margin-top: 4px;
}
.configurationSetting .card-body .dropdownDiv{
    width: 90%;
    height: auto;
    padding: 3px 10px;
}
.configurationSetting .card-body .dropdownDiv li{
    display: flex;
    align-items: center;
    text-indent: 5px;
    font-weight: 500;   
}
.configurationSetting .card-body .dropdownDiv li:hover{
    background: #8b77fa;
    border-radius: 4px;
    color: #fff;
}
.configurationSetting .card-body h5{
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.configurationSetting .note{
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.configurationSetting .card-body input[type=text]::placeholder{
    color: #bdbdbd;
}
.configurationSetting .card-body input[type=text]{
    width: 100%;
    height: 30px;
    text-indent: 10;
    border-radius: 3px;
    border: .5px solid #bdbdbd;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    font-weight: 600 !important;
}
// Style New Procurement Setting Tab
.proc-setting-box {
    box-shadow: 0 0 7px 3px hsla(0,0%,90%,.5);
    background-color: #fff;
    padding: 15px;
    height: 230px;
    border-radius: 4px;
    margin-bottom: 20px;
    h4 {
        font-size: 14px;
        font-weight: 600;
        color: #12203c;
        margin: 0;
    }
    .psb-drop {
        margin-top: 20px;
        select {
            height: 34px;
            border: 1px solid #dce6f0;
            -webkit-appearance: none;
            background-image: url("../assets/downArrowNew.svg");
            background-position: 96%;
            background-repeat: no-repeat;
            font-size: 12px;
            color: #12203c;
            font-weight: 500;
            width: 100%;
            background-color: #fff;
            padding: 4px 8px;
            border-radius: 5px;
            background-size: 13px;
        }
    }
} 
.configrationCheckbox{
    display: inline-block;
    border-radius: 16.5px;
    background-color: #f9f9f9;
    // padding: 6px 0px;
    height: 27px;
}
.configrationCheckbox label.checkBoxLabel0{
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    padding-right: 45px;
    padding-left: 12px;
}
.configrationCheckbox label.checkBoxLabel0 .checkmark1{
    right: 9px;
    left: auto;
    height: 17px;
    width: 17px;
    top: 5px;
    background-color: #ececf1;
}
.configrationCheckbox label.checkBoxLabel0 .checkmark1::after{
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
}
.configrationCheckbox.active{
    background: #8b77fa;
}
.configrationCheckbox.active label{
    color:#fff;
}
.configrationCheckbox.active label span{
    background: #fff !important; 
}
.configrationCheckbox.active label span::after{
    border-color: #8b77fa;
}

// -------------Otb Setting -----------------
.otbSetting{
    height:90vh;
}
.otbSetting .availableOptions{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    padding-left: 15px;
}
.otbSetting .card-body .item{
    width: 95%;
    height: 64px;
    border-radius: 4px;
    border: solid 1px #d7d7d7;
    display: flex;
    align-items: center;
    padding: 10px;
}
.otbSetting .card-body .item span{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.width-255{
    width: 252px !important
}
.procurementSetting{
    .card-content{
        padding:29px 20px 42px 20px;
        .markDefault{
            .checkmark1{
                left: -8px;
                top: 0;
                height: 17px;
                width: 17px;
                border-radius: 3px;
                &:after{
                    border-width: 0 2px 2px 0;
                    width: 6px;
                    height: 10px;
                    top: 2;
                }
                
            }
            .checkBoxLabel0{
                font-size: 13px;
                font-weight: 700;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                margin: 0;
                letter-spacing: 0.53px;
                color: #12203c;
                left: 18px;
                height: 18px;
                width: 18px;
                border-radius: 3px;
            }
            .note{
                span{
                    font-size: 12px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #12203c;
                }
                label{
                    width: 83%;
                    margin-left: 5px;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.53;
                    letter-spacing: 0.5px;
                    color: #12203c;
                
                }
            }
        }
        .eachDate{
            width: 45%;
            float: left;
        }
        ul{
            li{
                label{
                    display: inline-block !important;
                    width: auto;
                    left: 55px;

                    .checkradio-select{
                        left: -44px;
                        top: 1px !important;
                        height: 14px;
                        width: 14px;
                        border-color: #8b77fa;
                        &:before{
                            width: 6px;
                            height: 6px;
                            border: 1px solid #8b77fa;
                            background: transparent;
                        }
                        &:after{
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
                &:first-child{
                   
                    span{
                        font-size: 12px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 0.53px;
                        color: #12203c;
                    }
                    input[type=radio]{
                        width: auto;
                    }
                }
                &:last-child{
                    float: right;
                    width: 87%;
                }
            }
        }
    }
}
.asnSetting{
    display: block;
    position: relative;
    height: 150px;
    padding: 25px 20px;
    border-radius: 8px;
    box-shadow: 0 0 16px 0 #cddaef;
    background-color: #fff;
    margin-bottom: 20px;
    width: 588px;
    .asns-inner{
        display: table;
        padding: 0;
        margin: 0;
        .asnsi-box {
            display: inline-block;
            width: 31%;
            position: relative;
            margin-right: 3px;
            label {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
            select{
                -webkit-appearance: none;
                background-image: url("../assets/selectIcon.svg");
                background-repeat: no-repeat;
                background-position: 95%;
            }
        }
    }
    .asns-dot-btn{
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #b4c5d6;
        border-radius: 50%;
        display: block;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    .asns-dot-btn:before, .asns-dot-btn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: #b4c5d6;
        border-radius: inherit;
        cursor: pointer;
    }
    .asns-dot-btn:before {
        left: -8px;
    }
    .asns-dot-btn:after {
        left: 8px;
    }
    .asn-prefix-foot {
        display: block;
        margin-top: 30px;
        .asnpf-text {
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
            .bold {
                font-size: 12px;
            }
        }
    }
    .asnFooter{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 300px;
        height: 60%;
        span{
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.24;
            letter-spacing: normal;
            color: #ffffff;
            padding: 8px 12px;
            border-radius: 6px;
            background-color: #8b77fa;
            width: fit-content;
        }
    }    
    input{
        font-size: 13px;
        font-weight: 600 !important;
        color: #2d3748;
    }
    label{
        font-size: 12px;
        font-weight: 600;
        color: #12203c;
    }
    .input-outer-box {
        height: 30px;
        font-size: 11px;
        font-weight: 600;
        color: #12203c;
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        width: 150px;
        // padding: 5px 7px;
    }
    .disableInput{
        input{
            font-size: 25px;
            color: #a0aec0;
        }
    }
    .error{
        position: absolute;
    }
}
.changeSettingContain{
    .subMenu{
        height: 40px;
        background-color: #f8f3fe;
        display: flex;
        align-items: center;
        ul{
            li{
                position: relative;
                cursor: pointer;
                @include fontStyle(11px,500,#12203c);
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: left;
                &.activeTab::after{
                    border-bottom: 2px solid #8b77fa;
                    position: absolute;
                    content: "";
                    bottom: -14px;
                    background: #efefef;
                    height: 1px;
                    color: #efefef;
                    width: 35%;
                    left: 50%;
                    transform: translateX(-50%);
                    min-width: 30px;
                }
            }
        }
    }
}
.qc-card{
    border-radius: 19px;
    box-shadow: 0 0 6px 0 #d8d8d8;
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    display: inline-block;
    .enableTag{
        @include buttonStyle(11px ,500 , 6px , #3ee585 , #ffffff , 2px 10px ,0px);
         line-height: 1.14;
    }
    .disableTag{
        @include buttonStyle(11px ,500 , 6px , #eb0008 , #ffffff , 2px 10px ,0px);
    }
    span{
        @include fontStyle(11px,500,#12203c);
        line-height: 1.15;
        letter-spacing: normal;
        text-align: left;
        color: #12203c;
    }
    .vendor-Count{
        @include fontStyle(15px,bold,#12203c);
        text-align: left;
        color: #12203c;
    }
}
.qcSettingModal{
    .modalRight{
        height: 87.5% !important;
        top:auto !important;
        bottom: 0px;
        box-shadow: 0 1px 8px 0 rgba(139, 139, 139, 0.16);
        background-color: #ffffff;
        width: 36% !important;
    }
    .purchase_dR{
        height: fit-content;
        display: inline-block;
        border-bottom: 0px;
    }
    .displayInline{
        display: inline-block !important;
    }
    .settingCheck{
        padding: 10px 5px;
        display: inline-block;
        width: 100%;
    }
    .modalTop{
        padding: 20px 23px !important;
    }
    .download_report{
        height: auto;
        padding: 10px 27px;
        width: 200px;
        font-weight: 600;
        font-size: 15px;
    }
}
.checkBoxLeft{
    left:4px !important;
    top: 0px;
    background: #fff;
    border: solid 1px #dce6f0;
}
.qcSettingModal{
    .checkBoxTransparent{
        .checkBoxLeft{
            &:after{
                border-width: 0 1px 1px 0;
                width: 5px;
                height: 8px;
            }
        }
    }
}
// udf mapping
.addmore{
 background-color: #ffffff;
 position: relative;
 padding: 0;
 img{
     width: 26px;
 }
 .generic-tooltip {
    top: -31px;
    transform: translate(-7%);
    min-width: 76px;
    color: #ffffff;
    }
}

.addmore:hover>.generic-tooltip{
    visibility: visible;
    opacity: 1;
}

// Export To excel
.gvpd-download-drop2{
    display: inline-block;
    position: relative;
    .pi-history-download {
        display: block;
        position: absolute;
        top: 42px;
        left: 0;
        width: 200px;
        padding: 10px 15px !important;
        border-radius: 12px;
        box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
        background: #ffffff;
        margin: 0;
        z-index: 99;
        li{
            display: block;
            .export-excel{
                display: block;
                padding: 0;
                margin: 0;
                border: none;
                margin-bottom: 5px;
                background-color: #ffffff;
                font-size: 12px;
                height: 32px;
                font-weight: 500;
                position: relative;
                text-align: left;
                img{
                    width: 30px;
                    margin-right: 12px;
                }
                span{
                    display: inline-block;
                    padding: 5px 7px;
                    border-radius: 50%;
                }
                .pi-pdf-img{
                    width: 20px;
                    margin-left: 8px;
                }
                div{
                    display: inline-block;
                    .multipleDownloadSelect {
                        border: none;
                        padding: 0;
                        -webkit-appearance: none;
                        background: #fff !important;
                    }
                }
            }
            .export-excel{
                color: #a4b9dd;
                span{
                    margin-right: 10px;
                }
            }
            .export-excel:hover{
                color: #12203c;
                border: none !important;
                span{
                    background-color: #049d4b14;
                    svg{
                        path{
                            fill: #049d4b;
                        }
                        text{
                            fill: #049d4b;
                        }
                    }
                }
            }
            .pi-pdf-download{
                .pi-pdf-svg{
                    margin-right: 10px;
                }
                .btnDisabled{
                    color: #a4b9dd !important;
                }
            }
        }
    }
    .pi-download{
        width: 32px !important;
        padding: 0 !important;
        border-radius: 5px;
        border: 1px solid #ccd8ed;
        background-color: #fff;
        font-size: 12px;
        margin-right: 20px;
        height: 32px;
        font-weight: 500;
        position: relative;
        display: inline-block;
    }
    .pi-download:hover{
        color: #fff;
        background-color: #4a5568;
        border: 1px solid #4a5568 !important;
        svg path{
            fill: #fff;
        }
    }
    .pi-download:focus{
        color: #fff !important;
        background-color: #4a5568 !important;
        border: 1px solid #4a5568 !important;
        svg path{
            fill: #fff;
        }
    }
    .pi-download-focus{
        color: #fff;
        background-color: #4a5568;
        border: 1px solid #4a5568 !important;
        svg path{
            fill: #fff;
        }
    }
}

// Style Email Report
.email-report-modal {
    display: block;
    width: 480px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    border: none;
    box-shadow: none;
    border-radius: 0;
    .erm-head {
        width: 100%;
        display: block;
        padding: 15px 25px;
        h3{
            font-size: 16px;
            font-weight: 700;
            color: #12203c;
            display: inline-block;
            margin: 0;
            line-height: 25px;
        }
        .ermh-close{
            position: relative;
            float: right;
            display: inline-block;
            .ermh-esc {
                font-size: 12px;
                font-weight: 500;
                color: #969fad;
                position: relative;
                margin-right: 10px;
            }
            .ermh-esc:after{
                content: "";
                position: absolute;
                top: 4px;
                right: -8px;
                width: 2px;
                height: 10px;
                background: #969fad47;
            }
            img{
                padding: 6px 4px;
                cursor: pointer;
            }
        }
    }
    .erm-body {
        display: block;
        width: 100%;
        padding: 10px 25px;
        h3{
            font-size: 14px;
            font-weight: 700;
            color: #12203c;
            display: inline-block;
            margin: 0;
            line-height: 25px;
        }
        .ermb-input-field {
            border-radius: 6px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            height: 70px;
            padding: 7px 8px;
            margin-bottom: 20px;
            overflow: auto;
            .ermbif-tag {
                display: inline-block;
                border-radius: 5px;
                background-color: #d1dff8;
                padding: 3px 5px;
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
                min-width: 191px;
                margin-bottom: 10px;
                margin-right: 10px;
                .ermbift-mailid {
                    margin-right: 10px;
                }
                img{
                    cursor: pointer;
                    float: right;
                    padding: 3px 4px;
                }
            }
        }
        .ermb-dashdata {
            display: block;
            h3 {
                font-size: 13px;
                font-weight: bold;
                color: #12203c;
                margin: 0;
            }
            .ermbdd-inner {
                display: block;
                padding: 12px 0;
                position: relative;
                .ermbddi-checkbox {
                    display: inline-block;
                    margin-right: 20px;
                    .checkBoxLabel0 {
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        padding-left: 0;
                        cursor: pointer !important;
                        margin-left: 24px;
                        .checkmark1 {
                            position: absolute;
                            left: -25px;
                            top: 0;
                            height: 16px;
                            width: 16px;
                            background-color: #fff;
                            cursor: pointer;
                            border-radius: 4px;
                            border: 2px solid #dce6f0;
                        }
                        .checkmark1:after{
                            content: none;
                        }
                        input:checked~.checkmark1{
                            background-color: #8b77fa;
                            border: none;
                        }
                        input:checked~.checkmark1:after {
                            width: 5px;
                            height: 9px;
                            border-width: 0 2px 2px 0;
                            content: "";
                        }
                    }
                }
            }
            .check-panel{
                display: block;
                border-radius: 6px;
                padding: 10px 10px 0;
                border: 1px solid #ccd8ed;
                margin-bottom: 20px;
                .cp-checkbox{
                    position: relative;
                    .cpc-head{
                        position: relative;
                        cursor: pointer;
                        .checkBoxLabel0 {
                            font-size: 12px;
                            font-weight: 500;
                            color: #12203c;
                            padding-left: 0;
                            cursor: pointer !important;
                            margin-left: 24px;
                            margin-bottom: 10px;
                            .checkmark1 {
                                position: absolute;
                                left: -25px;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #fff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: 2px solid #dce6f0;
                            }
                            .checkmark1:after{
                                content: none;
                            }
                            input:checked~.checkmark1{
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1:after {
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                        img{
                            position: absolute;
                            top: 5px;
                            right: 10px;
                        }
                    }
                    .cpc-body{
                        position: relative;
                        padding-top: 10px;
                        border-top: 1px solid #ccd8ed;
                        transition: 0.6s all;
                        .checkBoxLabel0 {
                            font-size: 12px;
                            font-weight: 500;
                            color: #12203c;
                            padding-left: 0;
                            cursor: pointer !important;
                            margin-left: 24px;
                            margin-right: 20px;
                            .checkmark1 {
                                position: absolute;
                                left: -25px;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #fff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: 2px solid #dce6f0;
                            }
                            .checkmark1:after{
                                content: none;
                            }
                            input:checked~.checkmark1{
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1:after {
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }
    .vder-body{
        overflow: auto;
        max-height: 80vh;
    }
    .erm-footer {
        display: block;
        padding: 10px 25px;
        position: absolute;
        bottom: 20px;
        button.ermf-send {
            border-radius: 5px;
            border: solid 1px #8b77fa;
            background-color: #8b77fa;
            height: 36px;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            width: 310px;
            margin-right: 20px;
        }
        button.ermf-clear {
            height: 36px;
            font-size: 12px;
            font-weight: 500;
            width: 100px;
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            color: #12203c;
        }
    }
}

// Style Change Setting Page
.manage-pad:first-child {
    padding-left: 0px;
    padding-right: 21px;
}
.manage-pad:nth-child(2) {
    padding-left: 7px;
    padding-right: 14px;
}
.manage-pad:nth-child(3) {
    padding-left: 14px;
    padding-right: 7px;
}
.manage-pad:nth-child(4) {
    padding-left: 21px;
    padding-right: 0;
}
.change-setting-box {
    box-shadow: 0 0 7px 3px hsla(0,0%,90%,.5);
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 8px;
    height: 230px;
    margin-bottom: 20px;
    h4 {
        font-size: 14px;
        font-weight: 600;
        color: #12203c;
        margin: 0px;
    }
    p {
        font-size: 12px;
        font-weight: 500;
        padding-left: 25px;
        margin: 0;
        color: #97abbf;
    }
    .csb-drop {
        margin-top: 20px;
        label {
            font-size: 12px;
            font-weight: 500;
            color: #97abbf;
        }
        select{
            height: 34px;
            border: 1px solid #dce6f0;
            -webkit-appearance: none;
            background-image: url(../assets/downArrowNew.svg);
            background-position: 96%;
            background-repeat: no-repeat;
            font-size: 12px;
            color: #12203c;
            font-weight: 500;
            width: 100%;
            background-color: #ffffff;
            padding: 4px 8px;
            border-radius: 5px;
            background-size: 13px;
        }
    }
    .csb-check {
        .checkBoxLabel0{
            width: auto;
            height: 16px;
            padding-left: 25px;
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
            cursor: pointer !important;
            margin: 0px;
            .checkmark1{
                left: 0;
                top: 0;
                height: 16px;
                width: 16px;
                background-color: #ffffff;
                cursor: pointer;
                border-radius: 4px;
                border: solid 2px #dce6f0;
            }
            .checkmark1:after{
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
                content: none;
            }
            input:checked~.checkmark1{
                background-color: #8b77fa;
                border: none;
            }
            input:checked~.checkmark1:after{
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
                content: "";
            }
        }
    }
}
.notification-main-page{
    .nmp-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid #dce6f0;
        padding: 15px 0;
        .nph-switch-btn {
            margin-right: 5px;
            .tg-switch {
                width: 46px;
                .tg-slider {
                    background-color: #000000;
                }
                .tg-slider:before {
                    transform: translateX(0);
                }
                input:checked+.tg-slider {
                    background-color: #8b77fa;
                }
                input:checked+.tg-slider:before {
                    transform: translateX(22px);
                }
            }
        }
        .nmph-text {
            margin-left: 15px;
            h3 {
                font-size: 14px;
                font-weight: 700;
                color: #12203c;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                margin: 0;
                color: #97abbf;
            }
        }
    }
    .nmph-bottom {
        box-shadow: 0 0 7px 3px hsla(0,0%,90%,.5);
        background-color: #fff;
        margin-bottom: 20px;
        border-radius: 6px;
        .nmphb-head {
            display: table;
            width: 100%;
            padding: 15px 0px 15px 15px;
            border-bottom: 1px solid #dce6f0;
            h4 {
                font-size: 14px;
                font-weight: 600;
                color: #12203c;
                margin: 0px;
            }
            .nmphbh-drop {
                margin-top: 20px;
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #97abbf;
                }
                select{
                    height: 34px;
                    border: 1px solid #dce6f0;
                    -webkit-appearance: none;
                    background-image: url(../assets/downArrowNew.svg);
                    background-position: 96%;
                    background-repeat: no-repeat;
                    font-size: 12px;
                    color: #12203c;
                    font-weight: 500;
                    width: 100%;
                    background-color: #ffffff;
                    padding: 4px 8px;
                    border-radius: 5px;
                    background-size: 13px;
                }
            }
        }
        .nmph-body {
            display: block;
            padding: 10px 15px;
            .nmphb-inner {
                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #12203c;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    .emails {
                        position: relative;
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid #bfdfff;
                        background-color: #f2f5f8;
                        height: 100px;
                        overflow: auto;
                        padding: 6px;
                        li {
                            position: relative;
                            display: inline-block;
                            font-size: 11px;
                            color: #12203c;
                            font-weight: 500;
                            margin-right: 10px;
                            width: auto;
                            vertical-align: middle;
                            padding: 5px;
                            padding-right: 25px;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            span {
                                position: absolute;
                                right: 6px;
                                top: 6px;
                                cursor: pointer;
                            }
                        }
                        li:last-child {
                            input[type=text] {
                                border-radius: 5px;
                                background-color: transparent;
                                box-shadow: none;
                                border: 0;
                                font-size: 11px;
                                font-weight: 500;
                                outline: none;
                                color: #12203c;
                                font-weight: 600;
                                min-width: 220px;
                            }
                        }
                    }
                    .visibleEmails {
                        background-color: #ffffff;
                        li {
                            background-color: #f2f4f8;
                            border: 1px solid #bfdfff;
                        }
                        li:last-child {
                            background-color: transparent;
                            border: none;
                        }
                    }
                }
            }
        }
        .nmph-footer {
            padding: 10px 15px;
            h5 {
                font-size: 12px;
                font-weight: 600;
                margin: 0;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                margin: 0;
            }
        }
    }
    .nmph-notifi-disabled {
        .nmphnd-text {
            h3 {
                font-size: 18px;
                font-weight: 700;
                color: #12203c;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                margin: 0;
            }
        }
    }
}

// Style Proc Setting
.pdf-config-setting {
    h1 {
        font-size: 16px;
        font-weight: 700;
        color: #12203c;
        margin: 0;
    }
    .pcs-content {
        h3 {
            font-size: 14px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
        .pcsc-inner {
            display: table;
            width: 100%;
            h5 {
                font-size: 14px;
                font-weight: 600;
                color: #12203c;
                margin: 0;
            }
            .pcsc-box {
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #7d8fa0;
                    text-transform: capitalize;
                }
                input[type="text"] {
                    border-radius: 5px;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    padding: 3px 8px;
                    height: 30px;
                    width: 90%;
                    font-size: 12px;
                    font-weight: 600;
                    color: #12203c;
                }
            }
        }
    }
}

