
.list_style{
    padding: 0px;
    list-style: none;
}

.site-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    color: var(--greyish-brown);
}

.para-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.form-box{
    height: 30px;
    width: 175px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 10px;
    outline: none;
    text-indent: 5px;
    border: 1px solid #dce6f0;
    color: #12203c;
}
.form-box.numbersOnly{
    background-color: #f2f5f8 !important;
    border: 1px solid #bfdfff;
}
.privacy_link{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}
.btn-save{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #6d6dc9;
    border: solid 1px #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
}
.btn-clear{
    width: 120px;
    height: 20px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
    border: none;
    background-color: #ffffff;
    outline: none;
}

.right_sideheader{
    position: fixed;
    right: 0;
    z-index: 1;
    width: 255px;
    height: 90vh;
    top: 85px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 5px 0 rgba(195, 195, 195, 0.5);
}

.side_header{
    padding: 15px;
}

.header_button {
    width: 60px;
    height: 25px;
    border-radius: 15px;
    border:1px solid #6d6dc9;
    background-color: #ffffff;
    outline: none;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
  }

.header_button:hover{
    background-color: #6d6dc9;
    color: #ffffff;
}
.heading-title{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.heading-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #606060;
}
.main_content{
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: auto;

}
// .nav-tabs{
//     border: none !important;
// }
// .nav>li.active>a{
//     font-family: Montserrat;
//     font-size: 13px;
//     font-weight: 600;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: normal;
//     text-align: center;
//     color: #6d6dc9 !important;
//     border-bottom: 2px solid #6d6dc9 !important;
//     border-top: none !important;
//     border-left: none !important;
//     border-right: none !important;
// }

// .nav>li>a{
//     font-family: Montserrat;
//     font-size: 13px;
//     font-weight: 600;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: normal;
//     text-align: center;
//     color: #4a4a4a;
// }
/*  model reset confirm */


.user_error_icon-txtarea {
    position: absolute;
    top: 40px;
    right: 45px;
}
.mail-icon{
    width: 200px;
    height: 50px;
}
.modal-open{
    padding: 0px;
  }

 
  .modalResetPassword{
      display: inline-block;
      padding: 15px;
    }
    .modalListReset>li{
      width: 100%;
      height: auto;
      margin-top: 10px;
    }
    .modalListReset>li>p{
      width: 100%;
      height: 100%;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;
    }
    .modalListReset>li>span{
      width: 100%;
      height: 100%;
      font-family: Montserrat;
      font-size: 9px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9b9b9b;
    }
    .resetbutton{
      width: 60px;
      height: 25px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      border-radius: 15px;
      background-color: #ffffff;
      border: solid 1px #dcdcdc;
      margin-right: 5px;
      outline: none;
    }
    .resetbutton:hover{
      background-color: #6d6dc9;
      border: solid 1px #6d6dc9;
      color: #ffffff;
    }
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0;
      z-index: 999 !important;
  }
    .modal-backdrop{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999 !important;
        background-color: #ffffff !important;
    }
.modal-backdrop.in{
    opacity: 0.7 !important;
}
.organizationForm input[type="password"]{
    font-weight: 700;
    font-size: 11px;
}
// New Style Of Change Password
.change-password-page{
    .list_style{
        padding: 10px 0 15px;
    }
    .site-content {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #12203c;
        margin: 0;
    }
    .para-content {
        font-size: 12px;
        font-weight: 500;
        color: #8b8b8b;
    }
    .form-box {
        height: 34px;
        width: 235px;
    }
}