.configTabs{
    .switchTabs{
        ul {
            li.activeTab{
                label{
                    color:#535b78; 
                }
                &:after{
                    border-bottom: 2px solid #535b78;
                }
            } 
        }
        label{
            color:#535b78;
        }
    }
}
.createConifigurations{
        // border-top: solid 1px #efefef;
        border-left:solid 1px #efefef;
        .eachConfigMain{
            &:nth-child(4n) .eachConfig{
                border-right: 0px;
            }
            &:nth-child(-n+4){
                border-top: 1px solid #efefef;
            }
        }
    .eachConfig{
        width: 100%;
        border-right: solid 1px #efefef;
        border-bottom:solid 1px #efefef;
        display: inline-block;
        padding: 14px 18px 32px 18px;
        h3{
        @include fontStyle(13.5px , 600 ,#4a4a4a);
        }
        p{
            @include fontStyle(10.3px , 500 ,#4a4a4a);
            span{
                font-weight: 600;
            }
        }
        input~.checkmark1{
            &:before{
                content: "";
                display: block;
                position: absolute;
                transition-duration: .15s;
                transition-timing-function: cubic-bezier(.4,0,.2,1);
                bottom: -10px;
                left: -10px;
                top: -9px;
                background: none;
                border-radius: 50%;
                box-sizing: border-box;
                transform: scale(1);
                transition-property: transform,opacity;
                width: 35px;
                opacity: 0;
                background-color: #6629db;
                height: 35px;
            }
        }
        input:hover{
            ~.checkmark1:before{
                border: none;
                box-shadow: none;
                opacity: 0.1;
                transform: scale(1);
                transition:0.40s;
            }
        }
        .checkmark1{
            height: 16px;
            width: 16px;
            left: auto;
            right: 0!important;
            border-radius: 2px;
            top: 0;
            &:after{
                border-width: 0 2px 2px 0;
                top: 2px;
                width: 5px;
                left: 6px;
                height: 10px;
            }
        }
    }
}
.configRight{
    position: absolute;
    bottom: 0px;
    label{
    @include fontStyle(12px , normal ,#4a4a4a);
    }
    p{
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #4a4a4a;
    }
    .leftShift{
        display: block;
        margin: auto;
        transform: rotate(90deg);
    }
    .rightShift{
        display: block;
        margin: auto;
        margin-top: 20px!important;
        transform: rotate(90deg);
    }
}
.viewConfigToggle p{
    @include fontStyle(11px , normal ,#4a4a4a);
}
.viewConfig{
    tbody{
        td{
            &:nth-child(2){
                &:not(.curActive){
                    label{
                        opacity: 0.3;
                    }
                }
                label{
                    font-weight: 500 !important;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;
                }
            }
            &:nth-child(3){
                &:not(.curActive){
                    label{
                        opacity: 0.3;
                        background: #efefff;
                    }
                }
                label{
                    border-radius: 14px;
                    background-color: #efefff;
                    padding: 4px 11px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;
                    span{
                        font-weight: bold;
                        padding-left: 4px;
                    }
                }
            }
        }
    }
}
.configViewModal{
    height: 362px;
    width: 46%;
    .modalOpertions{
        label{
            @include fontStyle(12px , normal ,#6a6a6a)
        }
        h5{
            @include fontStyle(12px , 600 ,#4a4a4a)
        }
    }
    .modalContent{
        label{
            @include fontStyle(12px , normal ,#6a6a6a)
        }
        span{
            @include fontStyle(12px , 600 ,#4a4a4a)
        }
    }
    .clearBtn{
        @extend %clearBtn;
    }
    .deleteCongig{
        @extend %deleteBtn;
    }
}
.searchDropdown{
    position: absolute;
    top: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(216, 216, 216, 0.5);
    background-color: #ffffff;
    width: 100%;
    height: 187px;
    padding: 10px;
    z-index: 2;
    input[type=search]{
        border-radius: 5.5px;
        border: solid 1.1px #d2d2d2;
        background-color: #ffffff;
        height: 32px;
        width: 100% !important;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        @extend %seachIcon;
        background-position: 10px;
         background-size: 14px;
    }
    ul{
        &.dropScroll{
            height: 135px;
            overflow: scroll;
            padding-top: 5px !important;
        }
    }

}
.createConifigurations .eachConfig .dropdownCheckBox .checkmark1{
    height: 16px;
    width: 16px;
    &:after{
        border-width: 0 1.5px 1.5px 0;
        top: 2px;
        width: 5px;
        left: 6px;
        height: 10px;
    }
}
.dropdownCheckBox{
    li{
        position: relative;
    }
    .checkBoxLabel0{
        margin-bottom: 0px;
        label{
            padding: 8px 2px 7px 28px;
            font-size: 11.5px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            margin: 0;
            cursor: pointer!important;
        }
    }
    .checkmark1{
        left: 2px !important;
        top: 7px !important;
        &:before{
            background: transparent !important;
        }
    }
}
.createConfigInput{
    text-indent: 0px;
    font-weight: 500 !important;
    background: transparent
}
.createConfigMain{
    .storeCode{
        border-radius: 13px;
        border: solid 1px #f0f0f0;
        background-color: #f2f2f2;
        width: 205px;
        padding: 11px 30px;
        position: relative;
        h4{
            @include fontStyle(13px , 400 ,#535b78)
        }
        label{
            @include fontStyle(12px , bold ,#535b78);
            margin:0px;
        }
        &:before{
            position: absolute;
            left: 8px;
            top: 10px;
            height: 36px;
            width: 10px;
            content: "";
            border-radius: 13px;
            border: solid 1px #f0f0f0;
            background-color: #6629db;
        }
    }
}
.configRightPagination{
    border-left:1px solid #efefef;
}
.selectStore{
    border-radius: 13px;
    border: solid 1px #f0f0f0;
    // background-color: #f2f2f2;
    width: 205px;
    padding: 11px 20px;
    position: relative;
    cursor: pointer;
    h4{
        @include fontStyle(13px , 400 ,#535b78);
        margin: 0px;
        display: inline-block;
    }
}
.svgLoader{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .bgBlur{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        opacity: 0.9;
        z-index: 9!important;
        border-radius: 12px;
    }
    img{
        z-index: 99;
        position: relative;
        height: 65%;
    }
}