.cards_dashboard{
    width: 100%;
    height: auto;
    display: inline-block;
    background: #fff;
    padding: 20px!important;
    border-radius: 5px;
}
.cards{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background: #6d6dc9;
    display: inline-block;
}
.cards_lft, .cards_img{
    // width: 100%;
    height: 100%;
}

.cards_content{
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    font-family: Montserrat;
    margin: 0px;
    opacity: 0.7;
}
.amout_content{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: Montserrat;
    margin: 0px;
    // opacity: 0.8;
    color: rgba(255,255,255,0.8);  
}
.amout_content>span{
    margin-right: 5px;
}
.container_list_card>span{
    color: #fff;
    font-size: 9px;
    font-weight: 600;
    font-family: Montserrat;
    margin-bottom: 10px;
    opacity: 0.7;
    display: block;
}
.container_list_card{
    width: 100%;
    // height: 100%;
    margin-top: 18px;
    // padding: 5px;

}


.dashboard_table{
    display: table !important;
}


.dashboard_table>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.dashboard_table>tbody>tr>td{
    border: 1px solid #ddd;
    padding: 5px !important; 
}
.dashboard_table>tbody>tr :nth-child(1){
    border-left: none !important;
}
.dashboard_table>tbody>tr :last-child{
    border-right: none !important;
}
.dashboard_table>thead>tr>th
{
    border-bottom: none !important;
}
.table_container{
    width: 100%;
    height: auto;
}
.table_container>table>tbody{
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdown_img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.dropdown_table>li>span{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 700;
    color: #4a4a4a;
    /* padding: 5px !important; */

}
.first_child>li>svg>g:hover, .first_child>li:hover span, .first_child>li:hover svg>g{
    fill: #6d6dc9;
    cursor: pointer;
    color: #6d6dc9;
}
.dropdown-menu{
    right: 0 !important;
    left: auto !important;
    padding: 5px !important;
    top: 25px;
}

.dropdown_table>li{
    text-align: center;
    /* padding: 0px !important; */
    margin-top: 10px;
}
.pad-lft-0{
    padding-left: 0px !important;
}
.pad-rgt-0{
    padding-right: 0px !important;
}

.table_heading{
    width: 100%;
    height: auto;
    display: block;
}
.table_heading>label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;

}
.container_table_content{
    display: block;
    height: 45vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

input[type="checkbox"] {
  display: none;

}
table label{
    user-select: text;
}
.DashboardCheckbox[type="checkbox"] + label:before {
    content: "\2713";
    display: inline-block;
    padding: 1px;
    vertical-align: top;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    width: 18px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 5px;
}
.DashboardCheckbox[type="checkbox"]:checked + label:before {
  background: #6d6dc9;
  border: 1px solid #6d6dc9;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-size: 12px;
}
.DashboardCheckbox[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.DashboardCheckbox[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
.products_list>li{
   width: 100%;
   height: auto;
   display: inline-block;
   margin-bottom: 10px;
}
.product_text{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    white-space: normal;
}
.m-top-45{
    margin-top: 45px;
}
.m-top-25{
    margin-top: 25px;
}
.frequency_list{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.mainDashboard img{
    width:100%;
    // position: absolute;
    // left: -5px;
}
.dashboardContent{
    margin-top: 28vh;
    margin-left: 35px;
}
.dashboardContent h2{
    width: 424px;
  height: 30px;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #000000;
}
.dashboardContent h4{
    font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #bababa;
  padding-bottom: 40px;
    line-height: 0.5;
}
.dashboardContent h4:after{
    position: absolute;
    content: "";
    background: #d2d2d2;
    width: 70%;
    height: 2px;
    bottom: 18px;
    left: 53px;
    border-radius: 9px;
}
.dashboardContent h3{
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6c6c6c;
}
.dashboardContent p{
    font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #919191;
}
.mainDashboard .cards_dashboard{
    padding:0!important;
}
.mainDashboard .cards_dashboard .col-md-6{
    padding-right:0;
}
.toggleBtnDash .unitSale{
    border-radius: 24px 0px 0px 24px !important;
}
.toggleBtnDash .saleValue{
    border-radius: 0px 24px 24px 0px !important;
}
.saleToggleBtn{
    width: 180px;
    height: 31.6px;
    border-radius: 13.3px;
    border: solid 0.7px #e3e7f3;
}
.saleToggleBtn .salesValue{
    display: inline-block;
    float: right;
    padding: 7px 12px;
    font-size: 11px;
}
.saleToggleBtn .unitSales{
    width:50%;
    height: 100%;
    display: inline-block;
    padding: 7px 12px;
    font-size: 11px;
}
.activeUnit{
    color: #fff;
    width: 50%;
    height: 100%;
    background: #6d6dc9;
    border-radius: 13.3px 0px 0px 13.3px;
       // transition:2s;
}
.activeSales{
    width: 50%;
    padding-left: 20px;
    background: #6d6dc9;
    height: 100%;
    color: #fff;
    border-radius: 0 13.3px 13.3px 0;
}
.dashCard .cardMain:last-child .cards p{
    margin-bottom: 0;
}
.dashCard .cardMain:last-child .cards span{
    margin-bottom: 0;
}
.products_list .containerPurchaseRadio .checkmark{
    left: 0;
}
.products_list .containerPurchaseRadio{
    padding-left: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    font-size: 11px;
}
.products_list .box ul li{
    margin-bottom: 10px;
}
.productConsistency .container_table_content.tab-pane{
    overflow: hidden;
}
.productConsistency .tableHeadFix .tableHeadFixHeight{
    height: 31vh;
}
.productConsistency .tableHeadFix table tbody td{
    border: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.toggleBtnDash label{
    color: #4a4a4a!important;
    font-size: 13px;
    font-weight: 600;
    font-family: Montserrat;
    background: #fff!important;
    border: none!important;
    padding-right: 18px;
}
.bootToolTip{
    position: relative;
}
.bootToolTip:hover .tooltiptext{
    display: block;
}
.bootToolTip h4{
    font-size: 15.4px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
}
.bootToolTip label{
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    margin-bottom: 0px;
    margin-top: 4px;
}
.bootToolTip span{
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #535b78;
    margin-right: 4px;
}
.bootToolTip .tooltiptext{
    display: none;
    position: absolute;
    margin: 0;
    color: rgba(74, 74, 74, 0.943);
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    opacity: 1;
    border-radius: 9px;
    box-shadow: 0 0 11px 1px rgba(209, 209, 209, 0.5);
    border: 0px;
    width: 200px;
    left: -38px;
    top: 51px;  
}
.bootToolTip:nth-child(4) .tooltiptext{
    margin-bottom: 5px !important;
}
.bootToolTip .tooltiptext::after{
    content: "";
  position: absolute;
  bottom: 100%;
  left: 28px;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #f1f1f1;
}
.rankTableDash thead label{
    margin-bottom: 0px;
    font-size: 10px !important;
    text-align: center;
    color: #4a4a4a;
}
.rankTableDash tbody tr:nth-child(2) td:first-child svg{
    opacity: 0.7;
}
.rankTableDash tbody tr:nth-child(3) td:first-child svg{
    opacity: 0.5;
}
.rankTableDash tbody tr:nth-child(4) td:first-child svg{
    opacity: 0.4;
}
.rankTableDash tbody tr:nth-child(5) td:first-child svg{
    opacity: 0.3;
}
.rankTableDash tbody tr td:first-child {
    text-align: center;
}
.rankTableDash tbody tr td:first-child svg tspan{
    font-family: Montserrat;
}
.fixToolTip .tooltiptext{
    right: 0px!important;
    left: auto;
    top: 28px;
}
.fixToolTip .tooltiptext::after{
    right: 15px;
    left: auto;
}

// Style Add Vendor User Page
.add-vendor-user {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 612px;
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: none;
    border-radius: 0;
    form {
        display: block;
        margin: 0;
        padding: 0;
    }
    .avu-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        height: 65px;
        width: 100%;
        box-shadow: 0 1px 9px 0 hsla(0,0%,57%,.16);
        .avuh-left {
            display: block;
            h3 {
                font-size: 14px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
            p {
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
                margin: 0;
            }
        }
        .avuh-right{
            display: flex;
            align-items: flex-end;
            button {
                position: relative;
                border-radius: 5px;
                background-color: #fff;
                font-size: 12px;
                font-weight: 600;
                height: 32px;
                padding: 5px 20px;
                margin-left: 10px;
                color: #12203c;
            }
            .save-button-vendor {
                background-color: #8b77fa;
                color: #fff;
            }
        }
    }
    .avu-body {
        display: block;
        width: 100%;
        padding: 20px 30px;
        max-height: 547px;
        height: 535px;
        overflow: auto;
        .form-box {
            height: 30px;
            width: 170px;
            border-radius: 5px;
            background-color: #fff;
            font-size: 12px;
            outline: none;
            text-indent: 0;
            padding: 3px 5px;
            border: 1px solid #dce6f0;
            color: #12203c;
            font-weight: 500 !important;
        }
        label {
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
        }
        input[type=text][disabled] {
            background-color: #f4f4fd;
        }
        select.form-box {
            -webkit-appearance: none;
            background-image: url("../assets/downArrowNew.svg");
            background-repeat: no-repeat;
            background-position: 96%;
            padding: 3px 5px;
            text-indent: 0;        
        }
        .formtextarea {
            height: 80px;
            width: 356px;
            padding: 10px;
            resize: none;
            border: 1px solid #dce6f0;
            background-color: #fff;
            color: #12203c;
            font-size: 12px;
            font-weight: 500;
        }
        .avu-choose-retailer{
            padding: 0;
            margin: 0;
            h3 {
                font-size: 14px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
            p {
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
                margin: 0;
            }
        }
        .role-user-name{
            background: #d5d5ea;
            display: inline-block;
            padding: 4px 10px;
            font-size: 12px;
            color: #12203c;
            font-weight: 500;
            border-radius: 27px;
            vertical-align: middle;
            position: relative;
            margin-right: 15px;
            margin-bottom: 15px;
            .role-user-name-inner{
                margin-right: 13px;
                cursor: pointer;
            }
            .roleun-close{
                font-size: 18px;
                display: inline-block;
                line-height: 1px;
                margin-left: 6px;
                cursor: pointer;
                position: absolute;
                top: 14px;
                right: 7px;
            }
        }
        .userModalSelect {
            position: relative;
            height: 32px;
            width: 170px;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ccd8ed;
            outline: none;
            text-indent: 5px;
            text-align: left;
            padding: 7px 0px;
            background-image: url("../assets/downArrowNew.svg");
            background-repeat: no-repeat;
            background-position: 96%;
            label {
                left: 0;
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                height: auto;
            }
            .error{
                position: absolute;
                top: 26px;
            }
        }
        .dropdownFilterOption>li {
            font-size: 11px;
            font-weight: 500;
            color: #12203c;
        }
        .dropdownDiv{
            margin-bottom: 30px;
        }
    }
}
.vendor-user-edit-modal{
    width: 650px;
    height: 600px;
}