
.dataSyncFilterItem ul li:last-child{
    display:block;
}
.dataSyncFilterItem ul li{
    margin-right:20px;
    margin-bottom:10px;
}
.dataSyncFilterItem ul{
   display: flex;
   vertical-align: middle;
}
.dataSyncTable{
    margin-left:0;
    max-width: 100%;
}
.dataSyncTable table thead th label{
    width:185px;
}

.dataSyncTable tr td{
    width: 204px;
    word-break: break-all;
    white-space: normal!important;
    padding-right:10px!important;
}
.tableNoDataFound {
    background: transparent;
}
.tableNoDataFound span{
    position: absolute;
    top: 57px;
    left: 46%;
}
.clearFilterBtnData{
    position: absolute;
    bottom: -21px;
    left: 9px;
    cursor: pointer;
    color: #6d6dc9;
}
.dataSyncBtn{
    border-radius: 4px;
    border: solid 1px #4a4a4a;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    background-color: #ffffff;
    padding: 6px 10px;
    height: 33px;
}
.dataSyncBtn img{
    margin-left: 10px;
    width: 20px;
    height: auto;
}
.newFilterBtn button{
    height: 33px;
    width: 82px;
    padding: 9px 10px;
}
.toggleSquare{
    .saleToggleBtn{
        width: 200px;
        border-radius: 3px;
        .activeUnit{
            border-radius: 3px;
            text-align: center;
            font-weight: 500;
            color: #fff !important;
        }
        .unitSales{
            color:#4a4a4a;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
.dataSyncRightModal{
    position: absolute;
    right: 0px;
    height: 100% !important;
    border-radius: 0px;
    width: 38% !important;
    padding:5px 40px 10px 25px;
    border-radius: 8px;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    border: 0px;
    .leftCol{
        &:after{
            content: "";
            position: absolute;
            height: 47%;
            width: 1px;
            background: #eaeaea;
            top: 160px;
            left: 7px;
            z-index: 0;
        }
        .top{
            height: 175px;
            display: flex;
        }
        .bottom{
            height: 325px;
            display: flex;
        }
        img{
            z-index: 2;
            width: 15px;
        }
    }
    .templateCreatedSuccessfully{
        h6{
            font-size: 14px !important;
        }
        .top{
            padding: 28px 10px !important;
        }
        .footerRight{
            .next{
                padding: 6px 15px;
            }
        }
    }
    .modal-Header{
        h2{
            @include fontStyle(14px , 600 ,#4a4a4a)
        }
        p{
            @include fontStyle(11px , 400 ,#4a4a4a);
            margin-bottom:0px;
        }
    }
    .rightModalTop{
        width: 100%;
        height: 175px;
        padding: 18px 0px;
        border-radius: 10px;
        box-shadow: 0 0 34px 0 hsla(0,0%,77%,.5);
        background-color: #fff;
        .uploadTemp{
            width: 43%;
            padding: 32px 0px;
            border-radius: 8px;
            border: solid 0.8px #d7d7d7;
            background-color: #ffffff; 
            display: inline-block;  
            margin-right: 30px;
            text-align: center;
            margin-left: 12px;
            cursor: pointer;
            label{
                @include fontStyle(12px , 600 ,#4a4a4a)
            }
        }
        .createTemp{
            width: 43%;
            padding: 32px 0px;
            border-radius: 8px;
            border: solid 0.8px #d7d7d7;
            background-color: #ffffff;  
            display: inline-block;
            text-align: center;
            cursor: pointer;
            label{
                @include fontStyle(12px , 600 ,#4a4a4a)
            }
        }
        .upCrTmp{
            &.active{
                border-color: #6629db;
                label{
                    color:#6629db;
                    &:after{
                        content: url("../assets/check.svg");
                        bottom: -10px;
                        position: absolute;
                        left: 45%;
                        background: #fff;
                    }
                }
            }
        }
    }
    .rightModalBottom{
        width: 100%;
        height: 55%;
        border-radius: 10px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        .templateCreatedSuccessfully{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .uploadTemlateDiv{
            .top{
                position: relative;
                padding: 21px 10px;
                border-bottom: 1px solid #dddddd;
                p{
                    @include fontStyle(11px , 500 ,#4a4a4a);
                    margin-bottom: 0px;
                    margin-top: 9px;
                }
                span{
                    @include fontStyle(11px , 600 ,#4a4a4a);
                }
                h6{
                    @include fontStyle(13px , 600 ,#4a4a4a);
                }
                .templateSelect{
                    @include selectBox(4px , solid 1px #cacaca , 62% , 36px, 0px 0px 0px 6px , transparent);
                    @include fontStyle(11px , 500 ,#4a4a4a);
                }
            }
            .bottom{
                padding: 20px 0px 3px 20px;
                display: inline-block;
                flex:1;
                .footerRight{
                    position: absolute;
                    bottom: -10px;
                    left: 0px;
                }
                .chooseFileBtn {
                    border-radius: 26px;
                    border: solid 0.8px #6629db;
                    background-color: #ffffff;
                    box-shadow: none;
                    .imageChooser{
                        height: 30px;
                        width:100%;
                        z-index: 2;
                    }
                    svg{
                        right: 10px;
                        left: auto;
                        top: -1px;
                        width: 16px;
                    }
                    label{
                        @include fontStyle(12px , normal ,#6629db);
                        opacity: 1;
                        top: 7px;
                        left: 11px;
                    }
                }
                .uploadFile{
                    height: 5vh;
                    display: table-cell;
                    vertical-align: middle;
                    label{
                        @include fontStyle(12px!important , 600 ,#4a4a4a);
                        opacity: 1;
                    }
                    p{
                        @include fontStyle(11px!important , normal ,#4a4a4a);
                        span{
                            font-weight: 600;
                        }
                        margin-bottom: 0px;
                    }
                } 
            }
        }
        label{
            @include fontStyle(13px , 600 ,#4a4a4a);
            opacity: 0.36;
            display: table-cell !important;
            text-align: center;
            vertical-align: middle;
        }
    }
}
.footerRight{
    width: 100%;
    display: inline-block;
    padding: 17px 28px;
    text-align: right;
    .cancel{
        @include buttonStyle(12px , 500 , 0px , transparent,#6a6a6a , 0px ,0);
        margin-right: 15px;
    }
    .next{
        @include buttonStyle(13px , 500 , 6px , #6629db,#fff , 6px 20px ,0);
    }
}
.downTempBtn{
    @include buttonStyle(13px , 500 , 6px , #535b78,#fff , 6px 14px ,0);
    &.btnDisabled{
        span{
            color: #d8d3d3 !important;
        }
    }
    span{
        @include fontStyle(12px!important , 500 !important ,#fff !important);
        padding-right:12px;
    }
}
.createNewTemplate{
    padding: 20px 16px;
    input[type=text]{
        @include fontStyle(11px , normal !important ,#4a4a4a);
        @include selectBox(4px , solid 1px #cacaca , 100% , 30px, 0px 0px 0px 10px , transparent);

    }
    .footerRight{
        padding : 11px 10px 0px 28px;
    }
    .addEmails{
        .emailBox{
            .emails{
                border-radius: 4px;
                border: solid 1px #cacaca !important;
                background-color: #ffffff;
                width: 100% !important;
                height: 160px;
                padding: 12px 8px 12px 12px!important;
                overflow: scroll;
                li{
                    @include fontStyle(11px , 500 !important ,#fff);
                    &:not(:last-child){
                        background: #535b78;
                        padding-right: 35px !important;
                        width: auto;
                        min-width: 70px;
                        display: inline-block;
                        padding: 7px 10px;
                        margin-top: 5px;
                    }
                    &:last-child{
                        input{
                            @include fontStyle(12px !important, 500 !important,#4a4a4a !important);
                            text-indent: 0 !important;
                            padding: 0px;
                        }
                        padding-right: 0 !important;
                        margin: 0;
                        width: 115px;
                    }
                    span{
                        top: 9px;
                        img{
                            width:10px;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            left: -6px;
                            height: 27px;
                            width: 1px;
                            top: -9px;
                            background: #fff;
                            opacity: 0.35;
                        }
                    }
                }
            }
        }
    }
    h4{
        @include fontStyle(12px , 600 ,#4a4a4a);
        margin-bottom: 10px;
    }
}
.templateLoaderMain{
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5); 
    background-color: #ffffff;
    z-index: 2;
    border-radius: 10px;
    top:0;
    .loaderContent{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
        h4{
            @include fontStyle(15px , 600 ,#4a4a4a);
            margin-bottom: 0px;
        }
        p{
            @include fontStyle(12px , 400 ,#4a4a4a);
        }
    }
}