.progress-circle {
    font-size: 32px;
      margin: 20px;
      position: relative;
      padding: 0;
      top: -1px;
      left: -20px;
      width: 5em;
      height: 5em;
      background-color: #f2e9e1;
      border-radius: 50%;
      line-height: 5em;
  }
  
  .progress-circle:after{
     border: none;
     position: absolute;
     top: 0.35em;
     left: 0.35em;
     text-align: center;
     display: block;
     border-radius: 50%;
     width: 4.3em;
     height: 4.3em;
    //  background-color: white;
     content: " ";
  }
  /* Text inside the control */
  .progress-circle span {
     position: absolute;
     line-height: 5em;
     width: 5em;
     text-align: center;
     display: block;
     color: #53777A;
     z-index: 2;
  }
  .left-half-clipper { 
    /* a round circle */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: absolute; /* needed for clipping */
    clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/ 
  }
  /* when p>50, don't clip left half*/
  .progress-circle.over50 .left-half-clipper {
    clip: rect(auto,auto,auto,auto);
  }
  .value-bar {
    /*This is an overlayed square, that is made round with the border radius,
    then it is cut to display only the left half, then rotated clockwise
    to escape the outer clipping path.*/ 
    position: absolute; /*needed for clipping*/
    clip: rect(0, 2.5em, 5em, 0);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 0.45em solid #6d6dc9; /*The border is 0.35 but making it larger removes visual artifacts */
    /*background-color: #4D642D;*/ /* for debug */
    box-sizing: border-box;
   
  }
  /* Progress bar filling the whole right half for values above 50% */
  .progress-circle.over50 .first50-bar {
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute; /*needed for clipping*/
    clip: rect(0, 5em, 5em, 2.5em);
    background-color: #6d6dc9;
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }
  .progress-circle:not(.over50) .first50-bar{ display: none; }
  
  
  /* Progress bar rotation position */
  .progress-circle.p0 .value-bar { display: none; }
  .progress-circle.p1 .value-bar { transform: rotate(4deg); }
  .progress-circle.p2 .value-bar { transform: rotate(7deg); }
  .progress-circle.p3 .value-bar { transform: rotate(11deg); }
  .progress-circle.p4 .value-bar { transform: rotate(14deg); }
  .progress-circle.p5 .value-bar { transform: rotate(18deg); }
  .progress-circle.p6 .value-bar { transform: rotate(22deg); }
  .progress-circle.p7 .value-bar { transform: rotate(25deg); }
  .progress-circle.p8 .value-bar { transform: rotate(29deg); }
  .progress-circle.p9 .value-bar { transform: rotate(32deg); }
  .progress-circle.p10 .value-bar { transform: rotate(36deg); }
  .progress-circle.p11 .value-bar { transform: rotate(40deg); }
  .progress-circle.p12 .value-bar { transform: rotate(43deg); }
  .progress-circle.p13 .value-bar { transform: rotate(47deg); }
  .progress-circle.p14 .value-bar { transform: rotate(50deg); }
  .progress-circle.p15 .value-bar { transform: rotate(54deg); }
  .progress-circle.p16 .value-bar { transform: rotate(58deg); }
  .progress-circle.p17 .value-bar { transform: rotate(61deg); }
  .progress-circle.p18 .value-bar { transform: rotate(65deg); }
  .progress-circle.p19 .value-bar { transform: rotate(68deg); }
  .progress-circle.p20 .value-bar { transform: rotate(72deg); }
  .progress-circle.p21 .value-bar { transform: rotate(76deg); }
  .progress-circle.p22 .value-bar { transform: rotate(79deg); }
  .progress-circle.p23 .value-bar { transform: rotate(83deg); }
  .progress-circle.p24 .value-bar { transform: rotate(86deg); }
  .progress-circle.p25 .value-bar { transform: rotate(90deg); }
  .progress-circle.p26 .value-bar { transform: rotate(94deg); }
  .progress-circle.p27 .value-bar { transform: rotate(97deg); }
  .progress-circle.p28 .value-bar { transform: rotate(101deg); }
  .progress-circle.p29 .value-bar { transform: rotate(104deg); }
  .progress-circle.p30 .value-bar { transform: rotate(108deg); }
  .progress-circle.p31 .value-bar { transform: rotate(112deg); }
  .progress-circle.p32 .value-bar { transform: rotate(115deg); }
  .progress-circle.p33 .value-bar { transform: rotate(119deg); }
  .progress-circle.p34 .value-bar { transform: rotate(122deg); }
  .progress-circle.p35 .value-bar { transform: rotate(126deg); }
  .progress-circle.p36 .value-bar { transform: rotate(130deg); }
  .progress-circle.p37 .value-bar { transform: rotate(133deg); }
  .progress-circle.p38 .value-bar { transform: rotate(137deg); }
  .progress-circle.p39 .value-bar { transform: rotate(140deg); }
  .progress-circle.p40 .value-bar { transform: rotate(144deg); }
  .progress-circle.p41 .value-bar { transform: rotate(148deg); }
  .progress-circle.p42 .value-bar { transform: rotate(151deg); }
  .progress-circle.p43 .value-bar { transform: rotate(155deg); }
  .progress-circle.p44 .value-bar { transform: rotate(158deg); }
  .progress-circle.p45 .value-bar { transform: rotate(162deg); }
  .progress-circle.p46 .value-bar { transform: rotate(166deg); }
  .progress-circle.p47 .value-bar { transform: rotate(169deg); }
  .progress-circle.p48 .value-bar { transform: rotate(173deg); }
  .progress-circle.p49 .value-bar { transform: rotate(176deg); }
  .progress-circle.p50 .value-bar { transform: rotate(180deg); }
  .progress-circle.p51 .value-bar { transform: rotate(184deg); }
  .progress-circle.p52 .value-bar { transform: rotate(187deg); }
  .progress-circle.p53 .value-bar { transform: rotate(191deg); }
  .progress-circle.p54 .value-bar { transform: rotate(194deg); }
  .progress-circle.p55 .value-bar { transform: rotate(198deg); }
  .progress-circle.p56 .value-bar { transform: rotate(202deg); }
  .progress-circle.p57 .value-bar { transform: rotate(205deg); }
  .progress-circle.p58 .value-bar { transform: rotate(209deg); }
  .progress-circle.p59 .value-bar { transform: rotate(212deg); }
  .progress-circle.p60 .value-bar { transform: rotate(216deg); }
  .progress-circle.p61 .value-bar { transform: rotate(220deg); }
  .progress-circle.p62 .value-bar { transform: rotate(223deg); }
  .progress-circle.p63 .value-bar { transform: rotate(227deg); }
  .progress-circle.p64 .value-bar { transform: rotate(230deg); }
  .progress-circle.p65 .value-bar { transform: rotate(234deg); }
  .progress-circle.p66 .value-bar { transform: rotate(238deg); }
  .progress-circle.p67 .value-bar { transform: rotate(241deg); }
  .progress-circle.p68 .value-bar { transform: rotate(245deg); }
  .progress-circle.p69 .value-bar { transform: rotate(248deg); }
  .progress-circle.p70 .value-bar { transform: rotate(252deg); }
  .progress-circle.p71 .value-bar { transform: rotate(256deg); }
  .progress-circle.p72 .value-bar { transform: rotate(259deg); }
  .progress-circle.p73 .value-bar { transform: rotate(263deg); }
  .progress-circle.p74 .value-bar { transform: rotate(266deg); }
  .progress-circle.p75 .value-bar { transform: rotate(270deg); }
  .progress-circle.p76 .value-bar { transform: rotate(274deg); }
  .progress-circle.p77 .value-bar { transform: rotate(277deg); }
  .progress-circle.p78 .value-bar { transform: rotate(281deg); }
  .progress-circle.p79 .value-bar { transform: rotate(284deg); }
  .progress-circle.p80 .value-bar { transform: rotate(288deg); }
  .progress-circle.p81 .value-bar { transform: rotate(292deg); }
  .progress-circle.p82 .value-bar { transform: rotate(295deg); }
  .progress-circle.p83 .value-bar { transform: rotate(299deg); }
  .progress-circle.p84 .value-bar { transform: rotate(302deg); }
  .progress-circle.p85 .value-bar { transform: rotate(306deg); }
  .progress-circle.p86 .value-bar { transform: rotate(310deg); }
  .progress-circle.p87 .value-bar { transform: rotate(313deg); }
  .progress-circle.p88 .value-bar { transform: rotate(317deg); }
  .progress-circle.p89 .value-bar { transform: rotate(320deg); }
  .progress-circle.p90 .value-bar { transform: rotate(324deg); }
  .progress-circle.p91 .value-bar { transform: rotate(328deg); }
  .progress-circle.p92 .value-bar { transform: rotate(331deg); }
  .progress-circle.p93 .value-bar { transform: rotate(335deg); }
  .progress-circle.p94 .value-bar { transform: rotate(338deg); }
  .progress-circle.p95 .value-bar { transform: rotate(342deg); }
  .progress-circle.p96 .value-bar { transform: rotate(346deg); }
  .progress-circle.p97 .value-bar { transform: rotate(349deg); }
  .progress-circle.p98 .value-bar { transform: rotate(353deg); }
  .progress-circle.p99 .value-bar { transform: rotate(356deg); }
  .progress-circle.p100 .value-bar { transform: rotate(360deg); }
  
  
  
  // run on demand timer css
  .progress-circle-demand {
    font-size: 26px;
    margin: 20px;
    position: relative;
    top: -16px;
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #f2e9e1;
    border-radius: 50%;
    line-height: 5em;
  }
  
  .progress-circle-demand:after{
      border: none;
      position: absolute;
      top: 0.35em;
      left: 0.35em;
      text-align: center;
      display: block;
      border-radius: 50%;
      width: 4.3em;
      height: 4.3em;
      background-color: white;
      content: " ";
  }
  /* Text inside the control */
  .progress-circle-demand span {
      position: absolute;
      line-height: 5em;
      width: 5em;
      text-align: center;
      display: block;
      color: #53777A;
      z-index: 2;
  }
  .left-half-clipper-demand { 
     /* a round circle */
     border-radius: 50%;
     width: 5em;
     height: 5em;
     position: absolute; /* needed for clipping */
     clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/ 
  }
  /* when p>50, don't clip left half*/
  .progress-circle-demand.over51 .left-half-clipper-demand {
     clip: rect(auto,auto,auto,auto);
  }
  .value-bar-demand {
     /*This is an overlayed square, that is made round with the border radius,
     then it is cut to display only the left half, then rotated clockwise
     to escape the outer clipping path.*/ 
     position: absolute; /*needed for clipping*/
     clip: rect(0, 2.5em, 5em, 0);
     width: 5em;
     height: 5em;
     border-radius: 50%;
     border: 0.45em solid #f76b1c; /*The border is 0.35 but making it larger removes visual artifacts */
     /*background-color: #4D642D;*/ /* for debug */
     box-sizing: border-box;
    
  }
  /* Progress bar filling the whole right half for values above 50% */
  .progress-circle-demand.over51 .first50-bar-demand {
     /*Progress bar for the first 50%, filling the whole right half*/
     position: absolute; /*needed for clipping*/
     clip: rect(0, 5em, 5em, 2.5em);
     background-color: #f76b1c;
     border-radius: 50%;
     width: 5em;
     height: 5em;
  }
  .progress-circle-demand:not(.over51) .first50-bar-demand{ display: none; }
  
  
  /* Progress bar rotation position */
  .progress-circle-demand.d0 .value-bar-demand { display: none; }
  .progress-circle-demand.d1 .value-bar-demand { transform: rotate(4deg); }
  .progress-circle-demand.d2 .value-bar-demand { transform: rotate(7deg); }
  .progress-circle-demand.d3 .value-bar-demand { transform: rotate(11deg); }
  .progress-circle-demand.d4 .value-bar-demand { transform: rotate(14deg); }
  .progress-circle-demand.d5 .value-bar-demand { transform: rotate(18deg); }
  .progress-circle-demand.d6 .value-bar-demand { transform: rotate(22deg); }
  .progress-circle-demand.d7 .value-bar-demand { transform: rotate(25deg); }
  .progress-circle-demand.d8 .value-bar-demand { transform: rotate(29deg); }
  .progress-circle-demand.d9 .value-bar-demand { transform: rotate(32deg); }
  .progress-circle-demand.d10 .value-bar-demand { transform: rotate(36deg); }
  .progress-circle-demand.d11 .value-bar-demand { transform: rotate(40deg); }
  .progress-circle-demand.d12 .value-bar-demand { transform: rotate(43deg); }
  .progress-circle-demand.d13 .value-bar-demand { transform: rotate(47deg); }
  .progress-circle-demand.d14 .value-bar-demand { transform: rotate(50deg); }
  .progress-circle-demand.d15 .value-bar-demand { transform: rotate(54deg); }
  .progress-circle-demand.d16 .value-bar-demand { transform: rotate(58deg); }
  .progress-circle-demand.d17 .value-bar-demand { transform: rotate(61deg); }
  .progress-circle-demand.d18 .value-bar-demand { transform: rotate(65deg); }
  .progress-circle-demand.d19 .value-bar-demand { transform: rotate(68deg); }
  .progress-circle-demand.d20 .value-bar-demand { transform: rotate(72deg); }
  .progress-circle-demand.d21 .value-bar-demand { transform: rotate(76deg); }
  .progress-circle-demand.d22 .value-bar-demand { transform: rotate(79deg); }
  .progress-circle-demand.d23 .value-bar-demand { transform: rotate(83deg); }
  .progress-circle-demand.d24 .value-bar-demand { transform: rotate(86deg); }
  .progress-circle-demand.d25 .value-bar-demand { transform: rotate(90deg); }
  .progress-circle-demand.d26 .value-bar-demand { transform: rotate(94deg); }
  .progress-circle-demand.d27 .value-bar-demand { transform: rotate(97deg); }
  .progress-circle-demand.d28 .value-bar-demand { transform: rotate(101deg); }
  .progress-circle-demand.d29 .value-bar-demand { transform: rotate(104deg); }
  .progress-circle-demand.d30 .value-bar-demand { transform: rotate(108deg); }
  .progress-circle-demand.d31 .value-bar-demand { transform: rotate(112deg); }
  .progress-circle-demand.d32 .value-bar-demand { transform: rotate(115deg); }
  .progress-circle-demand.d33 .value-bar-demand { transform: rotate(119deg); }
  .progress-circle-demand.d34 .value-bar-demand { transform: rotate(122deg); }
  .progress-circle-demand.d35 .value-bar-demand { transform: rotate(126deg); }
  .progress-circle-demand.d36 .value-bar-demand { transform: rotate(130deg); }
  .progress-circle-demand.d37 .value-bar-demand { transform: rotate(133deg); }
  .progress-circle-demand.d38 .value-bar-demand { transform: rotate(137deg); }
  .progress-circle-demand.d39 .value-bar-demand { transform: rotate(140deg); }
  .progress-circle-demand.d40 .value-bar-demand { transform: rotate(144deg); }
  .progress-circle-demand.d41 .value-bar-demand { transform: rotate(148deg); }
  .progress-circle-demand.d42 .value-bar-demand { transform: rotate(151deg); }
  .progress-circle-demand.d43 .value-bar-demand { transform: rotate(155deg); }
  .progress-circle-demand.d44 .value-bar-demand { transform: rotate(158deg); }
  .progress-circle-demand.d45 .value-bar-demand { transform: rotate(162deg); }
  .progress-circle-demand.d46 .value-bar-demand { transform: rotate(166deg); }
  .progress-circle-demand.d47 .value-bar-demand { transform: rotate(169deg); }
  .progress-circle-demand.d48 .value-bar-demand { transform: rotate(173deg); }
  .progress-circle-demand.d49 .value-bar-demand { transform: rotate(176deg); }
  .progress-circle-demand.d50 .value-bar-demand { transform: rotate(180deg); }
  .progress-circle-demand.d51 .value-bar-demand { transform: rotate(184deg); }
  .progress-circle-demand.d52 .value-bar-demand { transform: rotate(187deg); }
  .progress-circle-demand.d53 .value-bar-demand { transform: rotate(191deg); }
  .progress-circle-demand.d54 .value-bar-demand { transform: rotate(194deg); }
  .progress-circle-demand.d55 .value-bar-demand { transform: rotate(198deg); }
  .progress-circle-demand.d56 .value-bar-demand { transform: rotate(202deg); }
  .progress-circle-demand.d57 .value-bar-demand { transform: rotate(205deg); }
  .progress-circle-demand.d58 .value-bar-demand { transform: rotate(209deg); }
  .progress-circle-demand.d59 .value-bar-demand { transform: rotate(212deg); }
  .progress-circle-demand.d60 .value-bar-demand { transform: rotate(216deg); }
  .progress-circle-demand.d61 .value-bar-demand { transform: rotate(220deg); }
  .progress-circle-demand.d62 .value-bar-demand { transform: rotate(223deg); }
  .progress-circle-demand.d63 .value-bar-demand { transform: rotate(227deg); }
  .progress-circle-demand.d64 .value-bar-demand { transform: rotate(230deg); }
  .progress-circle-demand.d65 .value-bar-demand { transform: rotate(234deg); }
  .progress-circle-demand.d66 .value-bar-demand { transform: rotate(238deg); }
  .progress-circle-demand.d67 .value-bar-demand { transform: rotate(241deg); }
  .progress-circle-demand.d68 .value-bar-demand { transform: rotate(245deg); }
  .progress-circle-demand.d69 .value-bar-demand { transform: rotate(248deg); }
  .progress-circle-demand.d70 .value-bar-demand { transform: rotate(252deg); }
  .progress-circle-demand.d71 .value-bar-demand { transform: rotate(256deg); }
  .progress-circle-demand.d72 .value-bar-demand { transform: rotate(259deg); }
  .progress-circle-demand.d73 .value-bar-demand { transform: rotate(263deg); }
  .progress-circle-demand.d74 .value-bar-demand { transform: rotate(266deg); }
  .progress-circle-demand.d75 .value-bar-demand { transform: rotate(270deg); }
  .progress-circle-demand.d76 .value-bar-demand { transform: rotate(274deg); }
  .progress-circle-demand.d77 .value-bar-demand { transform: rotate(277deg); }
  .progress-circle-demand.d78 .value-bar-demand { transform: rotate(281deg); }
  .progress-circle-demand.d79 .value-bar-demand { transform: rotate(284deg); }
  .progress-circle-demand.d80 .value-bar-demand { transform: rotate(288deg); }
  .progress-circle-demand.d81 .value-bar-demand { transform: rotate(292deg); }
  .progress-circle-demand.d82 .value-bar-demand { transform: rotate(295deg); }
  .progress-circle-demand.d83 .value-bar-demand { transform: rotate(299deg); }
  .progress-circle-demand.d84 .value-bar-demand { transform: rotate(302deg); }
  .progress-circle-demand.d85 .value-bar-demand { transform: rotate(306deg); }
  .progress-circle-demand.d86 .value-bar-demand { transform: rotate(310deg); }
  .progress-circle-demand.d87 .value-bar-demand { transform: rotate(313deg); }
  .progress-circle-demand.d88 .value-bar-demand { transform: rotate(317deg); }
  .progress-circle-demand.d89 .value-bar-demand { transform: rotate(320deg); }
  .progress-circle-demand.d90 .value-bar-demand { transform: rotate(324deg); }
  .progress-circle-demand.d91 .value-bar-demand { transform: rotate(328deg); }
  .progress-circle-demand.d92 .value-bar-demand { transform: rotate(331deg); }
  .progress-circle-demand.d93 .value-bar-demand { transform: rotate(335deg); }
  .progress-circle-demand.d94 .value-bar-demand { transform: rotate(338deg); }
  .progress-circle-demand.d95 .value-bar-demand { transform: rotate(342deg); }
  .progress-circle-demand.d96 .value-bar-demand { transform: rotate(346deg); }
  .progress-circle-demand.d97 .value-bar-demand { transform: rotate(349deg); }
  .progress-circle-demand.d98 .value-bar-demand { transform: rotate(353deg); }
  .progress-circle-demand.d99 .value-bar-demand { transform: rotate(356deg); }
  .progress-circle-demand.d100 .value-bar-demand { transform: rotate(360deg); }