.modalLeftSideContainer{
    height: 100vh;
    width: 70%;
    display: inline-block;
    // background-color: #f4f4f9;
    background-image: url(../assets/rectangle-9.svg);
    box-shadow: 0 1px 45px 0 rgba(255, 255, 255, 0.5);
}
.leftSideContent{
    padding-left: 30px;
    margin-top: 20%;
    display: inline-block;
    width: 100%;
    height: auto;
}
.backbuttonImg{
    width: 35%;
}
.modalContentDraganddrop{
    height: 100vh !important;
    width: 100% !important;
}
.backButton{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 15px;
    padding-bottom: 0px;
}
.backButton>ul>li>h3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    float: right;
    position: relative;
    right: 20px;
    top: 7px;
}
.LeftSideContentChecked>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}
.LeftSideContentChecked>p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}
.modalRightSideContainer{
    height: 100vh;
    padding: 8%;
    padding-left: 0%;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 1px 45px 0 rgba(255, 255, 255, 0.5);
}
.headercontentDragdrop>h2{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}
.headercontentDragdrop>h3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.imageDrag{
    width: 100%;
    text-align: center;
}
.dragImageInputFile{
    position: absolute;
    top: 27%;
    left: 34%;
    width: 32%;
    height: 25%;
    opacity: 0;
}
.svgImageDrageFile{
    position: relative;
    margin-top: 20px;

}
.footercontentDragdrop>ul>li{
    width: 100%;
}
.footercontentDragdrop{
    width: 100%;
    text-align: center;
    height: auto;
    display: inline-block;
    margin-top: 8%;
}
.footercontentDragdrop>ul>li:nth-child(1) label{
    height: 20px;
    border-radius: 9px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    /* background-color: #ffffff; */
    border: solid 1px #e5e5e5;
    border-radius: 16px;
    background-color: #e6e6f5;
    width: 25%;
}
.footercontentDragdrop>ul>li:nth-child(1) p{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin: 0px;
    padding-top: 2px;
}
.footercontentDragdrop>ul>li:nth-child(1) span{
    font-weight: 900 !important;
}
.footercontentDragdrop>ul>li:nth-child(2) p{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
}
.footercontentDragdrop>ul>li:nth-child(3) button{
    border-radius: 29.5px;
    background-color: #6d6dc9;
    width: 25%;
    height: 35px;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.footercontentDragdrop>ul>li:nth-child(4) span{
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #4a4a4a;
    margin-top: 2%;
    display: block;
}
input[type="checkbox"] {
    display: none;
  
  }
//   label {
//     cursor: pointer !important;
//   }
  .dragdropCheckbox[type="checkbox"] + label:before {
    content: "\2713";
    display: inline-block;
    padding: 4px;
    color: #ffffff;
    background-color: #6d6dc9;
    border: 7px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 5px;
  }
  .dragdropCheckbox[type="checkbox"]:checked + label:before {
    background-color: #6d6dc9;
    border: 7px solid #e5e5e5;
    color: #fff;
    content: "\2713";
    text-align: center;
    font-size: 12px;
  }
  .dragdropCheckbox[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  .dragdropCheckbox[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
  }
  .dragdrop_text{
      float: left;
      margin-right: 15px;
  }
.selectefFile{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.mtop10{
    margin-top: 10%;
}
.mtop5{
    margin-top: 5%;
}
.dbColumDropDown{
    height: 300px;
    // opacity: 0.55;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(174, 174, 174, 0.5);
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
}
.dropdownscroll>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}
.dbColumDropDown>ul>li{
    width: 100%;
    text-align: left;
    height: 45px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}
.dbColumDropDown>ul>li:nth-child(1)
{
    border-top: 1px solid #e5e5e5;
}
.dbColumDropDown>ul>li:hover{
    background-color: #ececf6;
    box-shadow: 0 0 4px 0 #e6e6f5;
    cursor: pointer;
}
.padtopbot15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad_20{
    padding: 20px;
}
.m_top_22{
    margin-top: 22%;
}
.dbColumDropDown>ul{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 260px;
    padding-bottom: 0!important;
}
.dbColumDropDown>ul>li>span{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
    padding-top: 15px;
    padding-left: 10px;
    display: inline-block;
}
.dbColumDropDown1{
    height: 300px;
    // opacity: 0.55;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(174, 174, 174, 0.5);
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
}
.dbColumDropDown1>ul>li{
    width: 100%;
    text-align: left;
    height: 43px;
    cursor: pointer;
}
.dbColumDropDown1>ul{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 265px;
    padding-bottom: 0!important;
}
.dbColumDropDown1>ul>li>select{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.footerBtnData{
    border-radius: 29.5px;
    background-color: #6d6dc9;
    width: 25%;
    height: 35px;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.footercontentDragdrop1>ul>li:nth-child(2) span{
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #4a4a4a;
    margin-top: 2%;
    display: block;
}
.footercontentDragdrop1>ul>li{
    width: 100%;
}
.footercontentDragdrop1{
    width: 83%;
    text-align: center;
    height: auto;
    display: block;
    position: absolute;
    bottom: 20px;
}
.headercontentDragdrop1{
    width: 80%;
    display: block;
    height: auto;
}
.headercontentDragdrop1>h2{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}
.headercontentDragdrop1>h3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.containerSuccessContent{
    width: 100%;
    height: auto;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
}
.containerSuccessContent>h2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.containerSuccessContent>h3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
}
.footerSuccessStatus{
    width: 95%;
    text-align: center;
    height: auto;
    display: inline-block;
    position: absolute;
    bottom: 45px;
}
.footerSuccessStatus>ul>li
{
    width: 100%;
}
.footerSuccessStatus>ul>li:nth-child(1) button{
    border-radius: 29.5px;
    background-color: #6d6dc9;
    width: 25%;
    height: 35px;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.footerSuccessStatus>ul>li:nth-child(2) span{
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #4a4a4a;
    margin-top: 2%;
    display: block;
}
.errorSheetFile{
    width: 170px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
    margin-top: 5%;
}