.list_style{
    list-style: none;
    padding: 0px;
}

.email_div{
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.email_container {
    width: 100%;
    display: inline-block;
    margin: auto;
    margin-top:100px; 
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    .email_heading{
        width: 455px;
        font-size: 14px;
        font-weight: 600;
        color: #4a4a4a;
    }
    .success-icon{
        width: 100px;
        padding: 5px;
        margin-bottom: 20px;
        line-height: 1;
        background-color: #fff;
        border-radius: 5px;
        transition: border .2s ease-in-out;   
    }
    .email_text{
        font-size: 12px;
        font-weight: 500;
        color: #9b9b9b;
    }
    .email_button{
        margin-top: 100px;
    }
    .btn-password{
        width: 50%;
        height: 30px;
        border-radius: 25px;
        background-color: #6d6dc9;
        font-size: 10px;
        font-weight: 600;
        color: #ffffff;
        outline: none;
        border: none;
    }
    .password_form{
        width: 100%;
        height: 30px;
        background-color: #ffffff;
        outline: none;
        border-radius: 5px;
        border: 1px solid #9b9b9b;
        font-weight: 600;
        font-size: 13px;
        font-weight: 600;
        padding: 3px 4px;
        color: #000;
    }
}

// Email Activation New Design
.email-activation-page {
    width: 440px;
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .eap-inner{
        padding: 0px 47px;
        .eapi-head{
            display: block;
            padding: 20px 0;
            .image_icon {
                display: block;
                padding: 40px 0;
            }
            h3 {
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                color: #21314b;
            }
            p {
                color: #97abbf;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .eapi-body{
            .eapib-input{
                display: block;
                margin: 20px 0;
                position: relative;
                input[type="password"] {
                    border-radius: 5px;
                    padding: 0 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 800;
                    height: 34px;
                    color: #000000 !important;
                    display: block;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    text-indent: 0;
                    letter-spacing: 1px;
                }
                input::placeholder{
                    font-size: 12px;
                    font-weight: 500;
                    color: #3a5074;
                }
            }
        }
        .eapi-footer{
            button{
                display: block;
                width: 100%;
                padding: 8px 10px;
                font-size: 12px;
                font-weight: 600;
                background: #8b77fa;
                border-radius: 5px;
                color: #fff;
                margin: 20px 0;
                height: 40px;
            }
        }
    }
}