.defaultfestivalList{
    width: 30%;
    display: inline-block;
}
.defaultfestivalList .heading{
    text-align: left;
}
.defaultfestivalList .heading p span{
    border-radius: 7px;
    background-color: #7ed321;
    color: #fff;
    padding: 0px 4px;
    // width: 28px;
    // height: 14px;
    font-size: 11px;
}
.customFestivalList{
    width:70%;
    vertical-align: top;
    display: inline-block;
    border-left: solid 1px #e9e9e9
}
.customFestivalList .heading h4{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    height: 40px;
    color: #4a4a4a;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
    float: right;
    margin-bottom: 0px;
}
.defaultFestivalHolidays{
    border-radius: 4px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    height: 48vh;
    background-color: #ffffff;
    // border: solid 1px #e5e5e5;
}
.customHolidaysList .item .from ,.customHolidaysList .item .to{
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a; 
}

.customHolidaysList .item p{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a6a6a;
    text-align: left;
    margin-bottom: 0px;
}
.customHolidaysList .innerCustomDiv{
    display: inline-block;
    height: 48vh;
    padding-right: 20px;
    padding-left: 10px;
}
.defaultFestivalHolidays ul li{
    padding: 3px 0 ;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #4a4a4a;
    // height: 41px;
    display: block;
    align-items: center;
    // border-bottom: 0.5px solid #ebebeb;
    position: relative;
}
.defaultFestivalHolidays ul li span{
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.18px;
    color: #c5c5c5;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    padding: 0 6px;
    line-height: 2.3;
}
.defaultFestivalHolidays ul li::after{
    content: "";
    position: absolute;
    height: 0.55px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #ebebeb;
}
.defaultFestivalHolidays ul{
    padding: 15px 27px;
    padding-bottom: 22px;
    height: 37vh;
    overflow: auto;
    width: 98%;
    position: relative;
    z-index: 0;
}
.defaultfestivalList .heading h3, .customFestivalList .heading h3{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 0;
}
.defaultfestivalList .heading p, .customFestivalList .heading p{
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-align:left;
    margin-bottom: 0px;
}
.customFestivalList .heading{
    display: inline-block;
    width: 100%;
}
.customHolidaysList{
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
    height: 70vh;
    border-bottom: solid 1px #e9e9e9;
}
.selectedHoliday{
    background-image: linear-gradient(103deg, #ce9ffc, #7367f0);
}
.selectedHoliday p{
    color:#fff!important;
    margin-bottom: 3px !important;
}
.selectedHoliday .date ,.selectedHoliday .date .from , .selectedHoliday .date .to{
    color: #fff;
}
// .selectedHoliday .date::after{
//     position: absolute;
//     content: "";
//     height: 1px;
//     width: 100%;
//     left: 0;
//     background: #d2d2d2;
//     bottom: -2px;
// }
.customHolidaysList .item .date{
    text-align: left;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: solid 1px #ffffff;
    padding: 0 6px;

}
.customHolidaysList .item{
    width: 95%;
    height: 35px;
    border-radius: 5px;
    // border: solid 1px #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 0 7px 0 rgba(213, 213, 213, 0.5);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 60px;
}
.customFestivalList .heading h4 span{
    font-size: 14px;
    font-weight: bold;
    padding: 0 7px;
}
.footerSetting li{
    display: inline-block;
}
.festivalSettingMain .heading{
    height:51px;
    box-shadow: 0 10px 21px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top: solid 1px #e9e9e9;
}
.festivalSettingMain {
    height: 96vh;
    border-radius: 4px;
    box-shadow: 0 2px 15px 4px rgba(237, 237, 237, 0.5);
}
.configuredFestivals ul li{
    height: auto;
    display: inherit;
    padding-bottom: 1px;
    padding-top: 12px;
}
.configuredFestivals ul li span{
    border-radius: 9px;
    padding: 2px 12px;
    border: 0px;
    border-radius: 9px;
    background-color: #efefef;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.eachSelectedHoliday{
    padding: 10px 0 0 15px;
}
.customHolidaysList .heading .modifyBtn{
    min-width: 84px;
    width: auto;
    height: 25px;
    border-radius: 4px;
    border: solid 1px #4a4a4a;
    background-color: #ffffff;
    margin-right: 20px;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.customHolidaysList .heading .newBtn{
    width: auto;
    height: 31px;
    border-radius: 4px;
    background: transparent;
    border: solid 1px #4a4a4a;
    // background-color: #00c68a;
    color: #fff;
    margin-right: 20px;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    font-weight: 500;
}
.resentlyAddedFestival h3{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.resentlyAddedFestival{
    height: 23vh;
    padding: 18px 24px;
}
.resentlyAddedFestival p{
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.resentlyAddedFestival p img{
    padding-right: 6px;
    height: 13px;
}
.resentlyAddedFestival p span{
    font-weight: bold;
}
.configuredFestivals ul li p{
    padding-top: 5px;
}
.customHolidaysList .item img{
    height: 17px; 
}
.festivalList li{
    display: inline-block;
    margin-right: 15px;
    border-radius: 22px;
    background-color: #f3f3f3;
    padding: 2px 12px;
    position: relative;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.festivalList li img{
    position: absolute;
    right: -6px;
    top: 4px;
    height: 12px;
    cursor: pointer;
}
.footerAvailableFestival{
    position: absolute;
    bottom: 10px;
}
.settingPagination ul li{
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.settingPagination ul li img{
    height: 9px;
    padding: 0px 10px;
}
.settingPagination ul{
    padding-right: 20px;
}
.blueScroller::-webkit-scrollbar-thumb{
    background: #6d6dc9!important;
}
.blueScroller::-webkit-scrollbar{
    width:6px;
    z-index: 9999;
}
.scrollBarLine{
    height: 77%;
    width: 97.3%;
    top: 59px;   
    position: absolute;
    border-right: 1px solid #e5e5e5;
}
.dateSelectToolTip{
    position: fixed;
    width: 339px;
    height: 186px;
    border-radius: 4px;
    box-shadow: 0 2px 19px 0 rgba(198, 198, 198, 0.5);
    background-color: #ffffff;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 991;
}
.dateSelectToolTip .footerBtn button{
    width: 46px;
    height: 25px;
    border-radius: 3px;
    background-color: #f57323;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.dateSelectToolTip input[type=date]{
    width:90%;
}
.lineAfterDate::after{
    content: "";
    position: absolute;
    right: -32px;
    top: 12px;
    background: #e5e5e5;
    height: 2px;
    width: 18px;
}
.createNewList{
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fbab49, #f57323);
    color: #fff;
    border: 0;
    height: 25px;
    font-size: 11px;    
}
.opacity{
    opacity: 0.3 !important;
    cursor: default !important;
}
.createNewList img{
    height: 12px;
    padding-right: 6px
}
.modifyBtn img{
    height: 8px;
    padding-right: 4px;
    margin-bottom: 3px;
}
.initialItems.item p {
    color: #6d6dc9;
    font-weight: 600;
}
.initialItems.item .date{
    border-radius: 10px;
    border: solid 1px #6d6dc9;
    color: #6d6dc9;
    margin-top: 5px;
}
.initialItems.item .date span{
    color: #6d6dc9;
}