@import './variables.scss';

.festivalSettingAdmin{
    .topRow{
        @include inlineWidth();
        .left{
            @include boxShadow();
            height: 18vh;
            border-radius: 8px;
            padding: 15px 20px;
            h5{
                @include fontStyle(12px , 500 , #9b9b9b);
            }
        }
        .right{
            @include boxShadow();
            height: 18vh;
            border-radius: 8px;
            padding: 15px 20px;
            .createbtn{
                @include buttonStyle(12px, 500 , 8px , transparent,#2e2c3d, 7px 10px ,solid 0.5px #d2d2d2);                
                margin: auto;
                img{
                    height: 12px;
                    margin-right: 8px;
                }
            }
            .clearbtn{
                @include buttonStyle(12px, 500 , 0px , transparent,#6a6a6a, 7px 10px ,0px);                
            }
            .savebtn{
                @include buttonStyle(12px, 500 , 6px , #6629db ,#fff, 5px 17px ,0px);                
            }
        }
        ul{
            padding: 0;
            display: table;
            table-layout: fixed;
            width: 100%;
            li{
                &.active{
                    @include buttonStyle(13px , 600 , 22.5px , #6629db,#fff , 5px 0px ,0px);
                }
                &.current{
                @include fontStyle(13px, 600 , #9100ff);
                }
                @include fontStyle(13px , normal , #4a4a4a);
                letter-spacing: 1px;
                display: table-cell;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .bottomRow{
        display: flex;
            .colHeader{
                padding: 15px 20px;
                width: 100%;
                border-bottom: solid 1px rgba(227 , 227, 227, 0.51);
                h4{
                    @include fontStyle(13px , 600 , #4a4a4a);
                    margin-bottom: 0px;
                }
                ul li{
                    @include fontStyle(11px , normal , #4a4a4a);
                    position: relative;
                    padding: 0 15px;  
                    &:first-child{
                        &::before{
                            content:"";
                            position: absolute;
                            background: #2e2c3d;
                            height: 10px;
                            width: 10px;
                            border-radius: 9.5px;
                            left: -3px;
                            top: 3.5px;
                        }
                    }  
                    &:last-child{
                        &::before{
                            content:"";
                            position: absolute;
                            background: #9100ff;
                            height: 10px;
                            width: 10px;
                            border-radius: 9.5px;
                            left: -3px;
                            top: 3.5px;
                        }
                    }               
                }
            }
            .arrow {
                margin: 8px 0px;
                padding: 4px;
                    img{
                        height: 35px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
        .left{
            @include boxShadow();
            height: auto;
            border-radius: 8px;
            .innerCustomDiv{
                padding: 15px 20px;
                height: 56.5vh;
                overflow: hidden;
                scroll-behavior: smooth;
                #scrollMe{
                    display: inline-block;
                    //  height: 54vh;
                     overflow: hidden;
                }
             }
            .eachSelectedHoliday{
                padding: 10px 10px 0 10px;
            }
            .item{
                border-radius: 4px;
                box-shadow: 0 0 7px 0 rgba(213, 213, 213, 0.5);
                background-color: #ffffff;
                display: inline-block;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                margin-bottom: 10px;
                height: 65px;
                &.active{
                    &::after{
                        content: "";
                        position: absolute;
                        background: #9100ff;
                        height: 10px;
                        width: 10px;
                        border-radius: 9.5px;
                        right: 8px;
                        top: 8px;
                    }
                }
                &.activeBlack{
                    &::after{
                        content: "";
                        position: absolute;
                        background: #000;
                        height: 10px;
                        width: 10px;
                        border-radius: 9.5px;
                        right: 20px;
                        top: 17px;
                    }
                }
                p{
                    @include fontStyle(13px , 600 , #4a4a4a); 
                    margin-bottom: 0px;  
                    line-height: normal;             
                }
                .festivalDate{
                    padding-bottom: 4px;
                    display: block;
                    color: #9b9b9b;
                }
                .date{
                    @include fontStyle(11px , 500 , #4a4a4a);                    
                }
            }
        }
        .right{
            @include boxShadow();
            height: auto;
            border-radius: 8px;
            width: calc(100% - 68%);
            .arrow {
                margin: 8px 0px;
                    img{
                        height: 35px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    &.position{
                        position: relative;
                        top: 117px;
                    }
                }
               
            .festivalConfigured{
                padding: 0px 20px 0px 20px;
                height: 338px;
                overflow: hidden;
                scroll-behavior: smooth;
                margin: 15px 0px;
                padding-bottom: 11px;
                .configuredDate{
                    width: 169px;
                    height: 100px;
                    border-radius: 6px;
                    border: solid 0.5px #c7c7c7;
                    padding: 10px;
                    float: left;
                    &:nth-child(odd){
                        margin-right: 24px;
                    }
                    >span{
                        position: relative;
                        &::after{
                            content: "";
                            position:absolute;
                            width: 61px;
                            height: 2px;
                            border-radius: 1px;
                            background-color: #decdff;
                            bottom: -3px;
                            left: -3px;
                        }                        
                    }
                }
                .impactDiv{
                    width: 100%;
                    margin-top: 10px;

                    .impactDate{
                        width: 100%;
                          @include fontStyle(12px , normal , #9b9b9b);
                    }
                }
                h5{
                    @include fontStyle(13px , 600 , #4a4a4a);    
                                    
                }
                span{
                    display: block;
                    @include fontStyle(11px , 500 , #4a4a4a); 
                    &.error{
                        position: absolute;
                        margin-top: 0px;
                    }  
                }  
                p{
                    @include fontStyle(11px , normal , #4a4a4a);      
                             
                }
                .dateSelectToolTip{
                    top: 379px;
                    left: 75px;
                    height: 260px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: -14px;
                        left: 65px;
                        margin-left: -5px;
                        border-width: 7px;
                        border-style: solid;
                        border-color: transparent transparent #fff transparent;
                    }
                    h4{
                         @include fontStyle(12px , 600 , #4a4a4a);                    
                    }
                    label{
                        @include fontStyle(11px , 500 , #c5c5c5);                                            
                    }
                    input[type=date]{
                        &::before{
                            font-size:10px;
                        }
                    }
                    .toolTipFooter{
                        .done{
                            @include buttonStyle(11px,600 , 3.6px , #9100ff , #fff , 4px 11px ,0px);
                        }
                        .cancel{
                            @include buttonStyle(11px,500 , 0 , transparent , #4a4a4a , 4px 11px ,0px);
                        }
                    }
                }
            }
        }
    }
}
.createNewFestival{
    height: 50%;
    width: 43%;
    padding:35px 40px;
    h3{
        @include fontStyle(15px , bold ,#4a4a4a)
    }
    input{
        display: block;
        @include fontStyle(11px , normal ,#4a4a4a);
        &:before{
            font-weight:normal;
        }
    }
    input[type=text]{
        width: 97%;
        height: 35px;
        border-radius: 7px;
        border: solid 0.5px #d9d9d9;
        background-color: #ffffff;
        text-indent: 10px;
        font-weight: 500!important;
        color:#4a4a4a;
    }
    textarea{
        @include fontStyle(11px , normal ,#4a4a4a);
        border-radius: 7px;
        border: solid 0.5px #d9d9d9;
        background-color: #ffffff;
        font-weight: 500!important;
        color:#4a4a4a;
        padding: 10px;
        &:focus{
            outline:none;
        }
    }
    input[type=date]{
        width: 42%;
        height: 35px;
        border-radius: 7px;
        border: solid 0.5px #d9d9d9;
        background-color: #ffffff;
        text-indent: 10px;
        font-weight: 500!important;
        color:#4a4a4a;
    }
    .footer{
        position: absolute;
        bottom: 39px;
        left: 37%;
        .done{
            @include buttonStyle(12px,600 , 3.6px , #9100ff , #fff , 7px 21px ,0px);
        }
        .cancel{
            @include buttonStyle(12px,500 , 0 , transparent , #6a6a6a , 4px 11px ,0px);
            margin-right: 5px;
        }
    }
}
.festivalSettingAdmin .bottomRow .right .festivalConfigured .dateSelectToolTip{
    &.tooltiparrow{
        &:before{
             content: " ";
            position: absolute;
            top: 100%; 
            left: 16%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
         }
    }
}
.imageBeforeEffect {
    img{
        position: relative;
    }
    &:hover{
        &:before{
            background-color: #f9f9f9;
            border: none;
            box-shadow: none;
            opacity: 1;
            transform: scale(1);
            transition:0.40s;
        }
    }
    &:before{
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
        bottom: -10px;
        left: -10px;
        right: -10px;
        top: -10px;
        background: none;
        border-radius: 50%;
        box-sizing: border-box;
        transform: scale(1);
        transition-property: transform,opacity;
        width: 35px;
        height: 35px;
    }
}
.searchDataSync .search_list{
    margin-top: 61px;
}