// .customRunOnDemand .selectFrequencyCustom .lineAfter::after{
//     content: "";
//     background: #e5e5e5;
//     width: 40%;
//     height: 1px;
//     left: 0;
//     bottom:-14px;
//     position: absolute;
// }
.customRunOnDemand .predectionTime ul li{
    display:inline-block;
}
.selectFrequencyCustom ul li{
    display: inline-block;
    margin-right: 13px;
    margin-top: 5px;
}
.mar-top-15{
    margin-top:15px !important;
}
.selectFrequencyCustom ul span{
    // padding-left:20px;
    font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.customRunOnDemand .selectFrequencyCustom label{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #434343;
}
.customRunOnDemand .predectionTime ul li button{
    border:1px solid #c7c7c7;
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-right: 10px;
    padding: 4px 9px;
    width: 40px;
    height: 32px;
}
// .customRunOnDemand .predectionTime ul li blueColor:focus{
//     border-radius: 6px;
//     background-color: #6d6dc9;
//     outline: none!important;
//     box-shadow: none;
//     color: #ffffff;
//     border: 1px solid #6d6dc9;
// }
// .customRunOnDemand .predectionTime ul li button:hover{
   
//     border-color: #e7e7e7;
    
// }
// .customRunOnDemand .predectionTime ul li button:active{
//     background-color: #6d6dc9;
//     color:#ffffff;
// }
.customRunOnDemand .predectionTime label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #434343;
}
.customRunOnDemand .predectionTime p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.predectionTime .chooseYear h5{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
}
.predectionTime .chooseYear ul li:first-child{
    margin-right:20px;
}
.predectionTime .chooseYear h4{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #434343;
}
.predectionTime .chooseYear h4 span{
    font-weight: bold;
}
.predectionTime .chooseYear ul li select{
    width: 120px;
    height: 29px;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    border-color: #d2d2d2;
}
.customRunOnDemand .runForcast button{
    width: 199px;
    height: 41px;
    border-radius: 33px;
    background-color: #8b77fa;
    font-family: Montserrat;
    font-size: 11.2px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.selectFrequencyCustom .checkradio-select::after{
    top: 1px;
    left: 1px;
    width: 9px;
    height: 9px;
}
.selectFrequencyCustom .checkradio-select::before{
    top: 1px;
    left: 1px;
    width: 9px;
    height: 9px;
    background:#e2e2e2;
}
.selectFrequencyCustom .select_modalRadio input{
    width:91%;
    top: -10px;
    left: -1px;
}
.selectFrequencyCustom .checkradio-select{
    position: absolute;
    left: 0;
    top: 2!important;
    border-color: #ccc!important;
}
.selectFrequencyCustom .select_modalRadio{
    padding-left:24px;
}

.customtooltip {
    position: relative;
    display: inline-block;
  }
  
  .customtooltip .customtooltiptext {
    visibility: hidden;
    font-weight:600;
    width: 39px;
    background-color: #f3f3f3;
    color: #4a4a4a;
    text-align: center;
    border-radius: 3px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    font-size: 8px;
    bottom: -17px;
    right: 10px;
  }
  
  .customtooltip:hover .customtooltiptext {
    visibility: visible;
  }
  .customRunOnDemand table tr:nth-child(odd), .weekelyPlanning table tr:nth-child(odd), .monthlyPlanning table tr:nth-child(odd){
      background:transparent;
  }
  .tableBorder tr td{
      border:1px solid #ddd;
  }
  .forecastOnDemandTable tbody tr td:last-child img{
    height: 15px;
    width: 15px;
    cursor:pointer;
  }
  .forecastOnDemandTable tbody tr td label{
    max-width: 145px;
}

// ___________________________________________________RANGE SLIDER___________________________-
.customRunOnDemand .slideContainer {
    width: auto;
    position: relative; 
    display: inline-block;   
  }
 .customRunOnDemand .slideContainer p{
    position: absolute;
    right: -52px;
    top: -6px;
    font-weight: 600!important;
    font-size: 13px!important;
    // background: #6d6dc9;
    color: #fff!important;
    padding: 2px 10px;
    border-radius: 10px;
    z-index: 1;
    height: 21px;
    width: 42px;
    text-align: center;
  }
 .customRunOnDemand .slideContainer span{
    position: absolute;
    right: -103px;
    top: -4px;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-weight: 600;
    color: #4a4a4a;
  }
 .customRunOnDemand .slideContainer p:after {
    background: #8b77fa;
    position: absolute;
    content: "";
    top: -2px;
    height: 25px;
    width: 25px;
    z-index: -1;
    left: 8px;
    border-radius: 50%;
}
  
 .customRunOnDemand .slider {
    -webkit-appearance: none;
    width: 280px!important;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
  }
  
 .customRunOnDemand .slider:hover {
    opacity: 1;
  }
  
 .customRunOnDemand .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #8b77fa;
    cursor: pointer;
  }
  
.customRunOnDemand .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #8b77fa;
    cursor: pointer;
  }
.rangeTooltip{
    position: absolute;
    left: 2;
    top: -30px;
    border: 1px solid;
    border-radius: 34px;
    width: 20px;
    height: 21px;
    text-align: center;
    padding-top: 2px;
    background: #8b77fa;
    color: #fff!important;
}
.forcastLastRunDetail{
    background:url(../assets/rectangle.svg) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.lastEngineDetailForecast{
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 54%;
    left: 62%;
}
.lastEngineDetailForecast .numberDetail{
    width: 70%;
    height: auto;
}
.forcastLastRunDetail .numberDetail{
    background:#fff;
}
.forcastLastRunDetailMain{
    height: 90%;
    width: 100%;
}
.forcastLastRunDetailMain .assortmentStatus{ 
    padding-top: 30px;
}
.timerForcast .firstSvg{
    width: 74%;
}
.timerForcast .runDemandTimeElapsed h3{
    font-size: 11px;
}
.timerForcast .midSvg{
    width: 60%;
    left: 20%;
}
.timerForcast .progress-circle-demand.over51 .first50-bar-demand{
    background: #8b77fa;
}
.timerForcast .value-bar-demand{
    border: #8b77fa;
    background: #8b77fa;

}
// .timerForcast .lastEngineRunTime {
//     padding-bottom: 15px;
// }
.timerForcast .lastEngineRunTime span{
    font-weight: 700;
    border-radius: 10px;
    background-color: #ececf6;
    padding: 3px 10px;
    margin-left: 3px;
}
.timerForcast .lastEngineRunTime span:after{
    content: "";
    position: absolute;
    top: 53px;
    left: 125px;
    background: #f6f6f6;
    height: 2px;
    width: 144px;
}
.refresh-table{
    vertical-align: top;
    position: relative;
}
.topToolTipGeneric::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f5f5f5 transparent transparent transparent;
  }
  .topToolTipGeneric span{
    font-weight: 600 !important;
    font-size: 9.5px !important;
    display: inline;
  }
.topToolTipGeneric{
    display:none;
    top: -25px;
    position: absolute;
    background: #e9e9e9;
    top: -25px;
    left: 0;
    position: absolute;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 2px 5px;
    color: #4a4a4a;
}
.refresh-table:hover .tooltiptext{
    display: block;
}
.refresh-table img{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    height: 25px;
    padding: 4px 11px;
    cursor: pointer;
}
.lastEngineDetailForecast .listDemand ul li:first-child span{
    font-size: 13px;
    font-weight: bold;
}
.forecastJobState{
    font-weight: 600;
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 17px;
    // line-height: 2;
}
.forecastRunTime{
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.timerForcast .runDemandSvg .timeRunDemandMid{
    top:21.5%;
}
.timerForcast .runDemandSvg .midSvg{
    top:7.5%;
}
.timerForcast .runDemandSvg .autoConfigMid{
    top: 32%;
}
.foreCastSuccessModal .modal-content{
    width: 470px;
}
.foreCastSuccessModal .modal-data {
    height: 200px;
}
.foreCastSuccessModal .icon img{
    width: 22px;
}
.foreCastSuccessModal .icon{
    margin-right: 10px;
}
.foreCastSuccessModal.save-current-data p{
    color: #4a4a4a;
    margin-bottom: 10px;
    margin-top: 4px;
}
.foreCastSuccessModal.save-current-data h2{
    font-size: 15px;
    font-weight: bold
}
.foreCastSuccessModal .modal-footer{
    height: 100px;
    display: flex;
    align-items: flex-end;
}
.foreCastSuccessModal .modal-footer .confirmBtn{
    width: 63px;
    height: 25px;
    border-radius: 4px;
    background-color: #8b77fa;
    color: #ffff;
}
.forcastLastRunDetailMain .assortmentStatus .assortFailed{
    width: 76%;
}
.forecastHistoryMain .clearFilterBtn{
    left: 5px;
}

// ---------------------Forecast Auto Configuraion------------------
.configurationDetails{
    height: 57vh;
    border-radius: 26px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
}
.configurationDetails ul li{
    margin-right: 10px;
    padding-left: 0px;
}
.configJobDetails{
    height: 70vh;
    border-radius: 26px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    z-index: 1;
    position: relative;
}
.jobStatusForecast{
    border-radius: 27px;
    box-shadow: 0 0 22px 0 hsla(0,0%,90%,.5);
    background-color: #fff;
    position: absolute;
    top: 27px;
    height: 40px;
    width: 189px;
    left: -207px;
    z-index: 1;
    padding: 9px;
    transition: 1s;
}
.jobStatusForecast:hover{
    height: 77%;
    width: 28vw;
    left: -107%;
    padding: 20px;
}
.jobStatusForecast:hover .jobs{
    display: block;
}
.jobStatusForecast .jobs{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
}
.jobStatusForecast .jobs h5{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
}
.jobStatusForecast .jobs label{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    padding-left: 0;
}
.jobsTriggerLabel{
    font-size: 11px!important;
    font-weight: 600 !important;
    color: #535b78!important;
}
.noJobRun{
    left: -25px;
}
.noJobRun label{
    display: none!important;
}
.jobStatusForecast .jobs{
    display: none;
}
.jobStatusForecast label{
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-left: 7px;
}
.jobStatusForecast .rotateAnimation{
    height: 18px;
}
.jobStatusForecast img{
    height: 23px;
}
.configContainer{
    padding: 40px 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.forecastRadioBtn .checkmark1{
    background: transparent;
    height: 100%;
    width: auto;
    left: 0 ;
    top: auto;  
    font-size: 12.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    width: 50%;
}
.forecastRadioBtn .checkmark1 p{
    top: 8px;
    position: absolute;
    left: 7px;
}
.forecastRadioBtn .checkBoxLabel0 input:checked~.checkmark1{
    font-size: 12.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 33px;
    border-radius: 2px;
}
.forecastRadioBtn .checkmark1::after{
    display: none!important;
}
.forecastRadioBtn .checkBoxLabel0{
    border-radius: 5.5px;
    border: solid 1.1px #8b77fa;
    font-size: 11.3px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    height: 34px;
    width: 70px;
    display: flex !important;
    color: #4a4a4a;
    align-items: center;
    cursor: pointer!important;
}
.top-config::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 107%;
    background: #e5e5e5;
    bottom: 0px;
    left: -25px;
}
.top-config{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30vh;
}
.bottom-config h3{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #4a4a4a;
}
.bottom-config li {
    margin-right: 30px!important;
}
.bottom-config li label{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.bottom-config li label span{
    font-weight: bold;
    padding-left: 10px;
}
.forecastTimer .replenishmentAnimateDiv{
    background: transparent;
    box-shadow: none;
}
.forecastTimer .c100:after{
    background: #fff;
    top: .05em;
    left: .052em;
    // width: 0.9em;
    // height: .9em;
    height: 90%;
    width: 90%;
}
.forecastTimer .c100.big{
    font-size: 209px;
}
.forecastTimer .progress-circle.over50 .first50-bar{
    background-image: linear-gradient(153deg, #2afadf, #4c83ff);
}
.forecastTimer .value-bar{
    background-image: linear-gradient(153deg, #2afadf, #4c83ff);
    border:0;
}
.forecastTimer .autoComfigTime{
    width: 30%;
    cursor: inherit;
}
.forecastTimer .autoConfigTimer .autoConfigMid{
    top: 30%;
    height: auto;   
}
.forecastTimer .progress-circle{
    font-size: 42px;
}
.forecastTimer .middleReplensh{
    margin-top: 0px;
    padding-top: 50px;
}
.forecastTimer .bottomReplesh{
    margin-top: 20px;
}
.forecastTimer .updateEngin::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 184%;
    background: #e5e5e5;
    bottom: -10px;
    left: -88px;
    z-index: -1;
}
.forecastTimer .updateEngin{
    position: relative;
    border-bottom: 0px;
    padding-bottom: 19px;
}
.forecastTimer .time{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    border-radius: 22px;
    background-color: #f1f1f1;
    padding: 7px 17px;
 }
 .forecastTimer .schduleTime{
     margin-top: 50;
 }
 .forecastTimer .schduleTime{
     position: relative;
 }
 .forecastTimer .schduleTime::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 55px;
    top: -23px;
    left: 41%;
    border-radius: 7px;
    background-color: #e8e8e8;
 }

 .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  .single-chart {
    width: 81%;
    margin: auto;
    justify-content: space-around;
  }
  .single-chart svg{
    position: inherit !important;
    height: 53%;
  }
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
    transform: rotate(180deg);
  }
  .circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2;
  }
// ---------------------Forecast Auto Configuraion End------------------
.forecastDemandTimer{
    position: absolute;
    top: 18%;
    left: 25%;
    width: 50%;
}
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
//  .single-chart{
//     width: 54%;
// }
.forecastDemandTimer .single-chart svg{
    height: auto;
}
.forecastDemandTimer .circle{
    stroke-width: 3px;
}
.forecastDemandTimer .circle-bg{
    stroke-width: 3px;
}
.circleLoader p{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
}
.circleLoader p span{
    font-weight: bold;
}
.eachTrigger{
    display: flex;
    align-items: flex-end;
}
.eachTrigger p{
    margin-bottom: 0px;
    margin-top: 3px;
}
.previousConfigTrigg{
    width: 13.6vw;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    position: relative;
}