*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list-inline {
  margin-left: 0px !important;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #eaeaee!important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eaeaee;
}

body {
  background-color: #ffffff;
  user-select: none;
  font-family: Montserrat, 'sans-serif';
}

ul {
  list-style: none;
}

.list {
  list-style: none;
  display: block;
  padding: 0px;
  width: 100%;
}
.list > li, .list > div >li {
  display: inline-block;
  width: 100%;
  padding: 7px;
}
// /* Icomoon.com */

.logo_img {
  position: relative;
  top: 0px;
  margin-left: 5px;
  margin-right: 15px;
}
.menuLogOut svg{
  margin-right: 4px;
  cursor: pointer;
}
.hoverMulti_dropdown:hover   .dropdown-submenu{
  display: block;
  transition: .5s;
}
.dropdown-submenu{
  padding: 9px!important;
  width: 100%;
  position: absolute;
  left: -199px;
  z-index: 1000;
  margin: 2px 0 0;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  display: none;
  top: auto;
  li:hover{
    background: transparent;
  }
  li label{
    color: #000000 !important;
  }
}
.dropdown-submenu>li{
  width: 100%;
  padding: 5px;
}
.dropdown-submenu>li>label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    margin: 0px;
}
.heading{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #4a4a4a;
}
.container {
  height: auto;
  width: 100%;
}
.roleHeader{
    float: left;
    width: 50% !important;
    margin-left: 10px !important;
}

.btnHeader{
    display: inline-block;
    background: #6d6dc9;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    border: 1px solid #6d6dc9;
    border-radius: 5px;
    float: right;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
}
.btnHeader:hover{
    background-color: #6d6dc9;
    color: #ffffff;
    transition: .5s;
}
.dropdown-toggle:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: -12px;
    color: #c5c5c5;
}
.imagedropdown1{
    display: inline-block;
    float: left;
}
.header {
  position: relative;
  padding: 10px;
//   top: 0;
//   left: 0;
  width: 100%;
  height: 85px;
  font-size: 13px;
  z-index: 990;
  background-color: #fdfdfd;
  box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.header_list,
.header_list > li {
  display: inline-block;
  list-style: none;
  margin-top: 7px;
}
.first_child {
  width: 200px;
  height: 100%;
}
.humburger > i {
  font-size: 20px;
  color: #6d6dc9;
  cursor: pointer;
}
.humburger > i:active {
  font-size: 20px;
  color: #4a4a4a;
  cursor: pointer;
}
.badge {
    height: 15px;
    width: 15px;
    color: #fff;
    background: #6d6dc9!important;
    border-radius: 25px;
    font-weight: 900;
    font-size: 10px!important;
    position: absolute;
    top: 0;
    padding: 3px!important;
    font-family: Montserrat;
}
.bell_icon {
    color: #e9e9e9;
    height: 23px;
    width: 23px;
    cursor: pointer;
    position: relative;
    top: 5px;
    right: -11px;
}
.bell_div {
    width: 55px;
    height: auto;
    text-align: center;
    cursor: pointer;
}
.profileDiv{
    width: 35px;
    height: auto;
    text-align: center;
    cursor: pointer;
}
.profileDiv .headerProfileImg{
    width: 30px;
    position: absolute;
    top:2;
    border-radius: 50%;
}
.name_para {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
    border: none;
    outline: none;
    background: transparent;
}
.name_para::after{
    top: 8px;
}
.down_icon {
    color: #c5c5c5;
    font-size: 15px !important;
    margin-left: 2px;
}
.dropdown-content {
    display: none;
    top:29px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.admin_para {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    color: #9b9b9b;
    margin: 0px;
    margin-left: 0px;
}
.list-inline {
    margin: 0px;
    float: left;
    padding: 0px;
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
.list > li > a:hover {
    color: #6d6dc9;
}

.sidemenu {
    position: fixed;
    left: 0;
    z-index: 999;
    width: 304px;
    height: 90vh;
    top: 85px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 5px 0 rgba(195, 195, 195, 0.5);
    transform: translateX(-120%);
    transition: all 0.6s ease-in;
}
.toggle {
    left: -240px;
}
.sidemenu_list > .active , .sidemenu_list > div > .active {
    background: #6d6dc9;
    color: #fff;
}
.sidemenu_list > .active a , .sidemenu_list > div .active a {
    color: #fff;
}
.sidemenu_list > .active svg.icons > g,
.sidemenu_list > .active svg.icons > path, .sidemenu_list > div > .active svg.icons > g,
.sidemenu_list > div >.active svg.icons > path  {
    color: #fff;
    cursor: pointer;
    fill: #fff;
}

.sidemenu_list {
    display: block;
    list-style: none;
    height: 61%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidemenu_list > li, .sidemenu_list > div > li {
    display: table;
    width: 100%;
}
.sidemenu_list > li > a, .sidemenu_list > div > li > a {
    width: 75%;
    height: auto;
    font-family: Montserrat;
    font-size: 11.4px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    margin: 0px;
    padding: 15px;
    float: right;
    border-bottom: none;
    outline: none;
    text-decoration: none;
}

.list > li > a, .list > div >li > a {
    // /* height: auto; */
    font-family: Montserrat;
    font-size: 10.4px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    margin: 0px;
    padding: 15px;
    border-bottom: none;
    outline: none;
    text-decoration: none;
    margin-left: 70px;
}
.list > li > .active {
    font-weight: 700;
    color: #4a4a4a;
}
.arrow_down_icon {
    float: right;
    font-size: 15px !important;
    position: relative;
    right: 20px;
}
.icons {
    height: 20px;
    width: 20px;
}
.sidemenu_header {
    width: 100%;
    // height: auto;
    height: 25%;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.sidemenu_header > ul {
    list-style: none;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidemenu_header > ul > :nth-child(2) > p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-top: 5px;
}
.sidemenu_header > ul > :nth-child(3) > p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.sidemenu_header > ul > :nth-child(4) > p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.sidemenu_list > li:hover svg.icons > g,
.sidemenu_list > li:hover svg.icons > path,
.sidemenu_list > li:hover,
.sidemenu_list > li:hover a,
.sidemenu_list > li > a:hover , 
.sidemenu_list > div > li:hover svg.icons > g,
.sidemenu_list > div > li:hover svg.icons > path,
.sidemenu_list > div >li:hover,
.sidemenu_list > div >li:hover a,
.sidemenu_list > div >li > a:hover {
    background-color: #6d6dc9;
    color: #fff;
    cursor: pointer;
    fill: #fff;
}

.profile_img {
    width: 55px;
    height: 55px;
}
.notification_dropdown {
    display: none;
    width: 60%;
    right: 20px;
    top: 40px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.displayBlock{
    display: block !important;
}
.notification_dropdown > ul {
    width: 100%;
}
.notification_dropdown > div > ul > li > h2 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #4a4a4a;
}
.notification_content {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
    width: 100%;
}
.notification_data {
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    color: #b1b1b1;
    width: 100%;
}
.noti_img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.notification_dd {
    width: 100%;
    text-align: right;
    height: auto;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 300;
    text-align: center;
    color: #b1b1b1;
}
.collapse.in {
    display: block !important;
}
#leftDrop a:first-child{
    cursor: pointer;
}
#leftDrop a:first-child:hover{
  color: #6d6dc9;
}
.openSideBar{
  -webkit-transform: rotate(180deg) translate(0px, 0px);
      transform: rotate(180deg) translate(0px, 0px) !important;
    transition: transform .16s;
}
.humburgerIcon{
  cursor: pointer;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform .16s;
}
.openSideBar>svg>g{
    fill: #6d6dc9;
}
.hideNotify {
    display: none;
    -webkit-animation-name: hNotify;
    -webkit-animation-duration: 2s;
    animation-name: hNotify;
    animation-duration: 2s;
}

@keyframes hNotify {
  from {
    display: block;
  }
  to {
    display: none;
  }
}

.showNotify {
    display: block;
    -webkit-animation-name: sNotify;
    -webkit-animation-duration: 2s;
    animation-name: sNotify;
    animation-duration: 2s;
}

@keyframes sNotify {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
.nav_footer {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
    background: #fff;
}
.nav_footer > label {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
}
.m-0 {
    margin: 0px !important;
}
.pad-lft-30{
    padding-left: 30px !important;
}
.m-top-30{
  margin-top: 30px;
}
.m-p-0 {
  margin: 0px;
  padding: 0px;
}

.m-lft-80
{
  margin-left: 80px;
}
.m-lft-25
{
  margin-left: 25px;
}
.m-lft-30
{
  margin-left: 30px;
}
.pad-0 {
  padding: 0px !important;
}
.pad20{
  padding: 0px 10px 0px 10px;
}
.m-lft-15 {
  margin-left: 15px !important;
}
.m-lft-10 {
  margin-left: 10px;
}

.m-top-35 {
  margin-top: 35px !important;
}
.gn-menu-main a {
  display: block;
  height: 100%;
  color: #5f6f81;
  text-decoration: none;
  cursor: pointer;
}
.text_align_right {
  width: 100%;
  text-align: right;
}
.text-center {
  text-align: center;
}
.width_100 {
  width: 100%;
}
.float_right {
  float: right !important;
}
.float_left {
  float: left;
}
.menuHide {
  position: fixed;
  left: -275px;
  display: none;
  -webkit-animation-name: hide;
  -webkit-animation-duration: 0.5s;
  animation-name: hide;
  animation-duration: 0.5s;
}

@keyframes hide {
  from {
    left: 0px;
  }
  to {
    left: -255px;
  }
}

.menuShow {
  position: fixed;
  -webkit-animation-name: show;
  left: 0px;
  -webkit-animation-duration: 0.5s;
  animation-name: show;
  animation-duration: 0.5s;
}

@keyframes show {
  from {
    left: -255px;
  }
  to {
    left: 0px;
  }
}
.remove{
  display: none;
}



.customActive{
 
color:#4a4a4a;
}


//modal animation
//filter
.modalHide {
  position: fixed;
  top: -420px;
  -webkit-animation-name: mhide;
  -webkit-animation-duration: .5s ;
  animation-name: mhide ;
  animation-duration: .5s ;
}

@keyframes mhide {
  from {
    top: 0px ;
  }
  to {
    top: -420px ;
  }
}
.modalRight{
  -webkit-animation-name: mshow ;
  top: 0px ;
  -webkit-animation-duration: .5s;
  animation-name: mRightshow ;
  animation-duration: .5s ;
}
@keyframes mRightshow {
  from {
    right: -518px;
  }
  to {
    right: 0px;
  }
 
}
.modalShow {
  // position: fixed ;
  -webkit-animation-name: mshow ;
  top: 0px ;
  -webkit-animation-duration: .5s;
  animation-name: mshow ;
  animation-duration: .5s ;
}
@keyframes mshow {
  from {
    top: -420px;
  }
  to {
    top: 0px;
  }
 
}
.hoverMenu:hover{
  color: #6d6dc9;
}
.headerProfileImg{
  height:30px;
  position: absolute;
}

.sideBarMenu label{
  cursor: inherit;
}
.profileMenu .reportBug img{
  width:17px;
}
.profileMenu .reportBug label{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
  margin-left: 15px;
  width: 80%;
  text-align: left;
}
.profileMenu .reportBug a{
  padding-left:1px;
}
.profileMenu .reportBug a:hover{
  background:transparent;
}
.active { transform: translateX(0); }

.headerProfileDrop li label{
  cursor:pointer!important;
}
.sideBarProfileImg img{
  border-radius: 50%;
}
.sideBarMenuList a{
  font-size:12px!important;
}
.m-top-neg-580{
  margin-top:  -580px !important; 
}
.bottom-510{
  bottom:510px;
}
.userImage{
  border-radius: 50%;
  height: 30px;
  width:30px;
  background-color: #f2f2f2;
}
.userImage .firstLetter{
  font-size:17px;
  color:#6d6dc9;
  font-weight: bold;
  line-height: 1.7;
}
.swichIn{
  display: block;
}
.switchRoleDrop img{
  width:10px;
  float: right;
  position: absolute;
  right: 9px;
  top: 7px;
}
.switchRoleDrop svg {
  width: 10px;
  float: right;
  position: absolute;
  right: 9px;
  top: 7px;
}
.switchRoleDrop li{
  position: relative;
}
.sidebarImg{
  height: auto !important;
  width: auto !important;
  background: transparent;
}
.sidebarImg .firstLetter{
  background: #f2f2f2;
  font-size: 4vh !important;
  width: auto !important;
  border-radius: 50%;
  padding: 6px 17px;
  margin: auto;
}
.width-19{
  width: 19px
}
// .generic-sidebar-container li:hover{
//   &>ul{
//     display: block
//   }
// }
.generic-sidebar-container li{
  display: inline-block;
}
.sidebarHover{
  .menu-list-item{
    &:hover{
      background: transparent !important;
      color: #212529;
    }
    .colorBlue{
      &:hover{
        color: #6d6dc9;
      }
    }
    ul{
      ul{
        &.list{
          padding-top: 5px;;
        }
      }
    }
  }
  .menu-item-list-inner{
    &:hover{
      background: #6d6dc9;
      color: #fff;
    }
  }
}


.dropdown.open .switch-retailer .switch-r-image img{
  transform: rotate(180deg);
}

.switch-retailer{
  display: inline-block;
  padding: 10px 10px 10px 20px !important;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 12px;
  cursor: pointer;
  .switch-r-image img{
    transform: rotate(0deg);
  }
}
.switch-retailer:before{
  content: "";
  position: absolute;
  top: 16px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #8b77fa;
  border-radius: 50%;
}
.enterprise-logo-icon{
  padding: 5px 0;
}
.user-info-drop {
  padding: 9px 10px 23px;
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  /* background-color: #8b77fa; */
  li{
    display: inline-block;
    vertical-align: top;
   .profileDiv {
      width: auto;
      height: auto;
      background: transparent;
      /* text-align: center; */
      .user-name-icon {
        background-color: transparent;
        .firstLetter {
          background: #8b77fa;
          width: 30px;
          height: 30px;
          display: inline-block;
          text-align: center;
          padding: 7px 0;
          font-size: 12px;
          font-weight: 700;
          line-height: normal;
          border-radius: 50%;
          margin-right: 7px;
        }
      }
    }
    .name-para-2 {
      font-weight: 700;
      position: relative;
      max-width: 155px;
      text-align: left;
      width: auto;
      min-width: auto;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 25px;
      white-space: nowrap;
      padding-left: 5px;
    }
    .dt-down-arrow{
      position: absolute;
      top: 30px;
      right: 10px;
    }
  }
  .header-user-new-dropdown{
    // display: block;
    border: none;
    position: absolute;
    width: 240px;
    top: 69px;
    padding: 10px 0 0!important;
    background: #8b77fa;
    margin: 0;
    border-radius: 0 0 10px 10px;
    right: 0px!important;
    box-shadow: none;
    li {
      display: block;
      padding: 7px 17px;
      width: 100%;
      padding-right: 10px;
      position: relative;
      cursor: pointer;
      li{
        padding: 0;
      }
      a{
        padding: 0;
      }
      a:hover{
        background-color: transparent;
      }
      .hund-icon {
        display: inline-block;
        width: 17%;
      }
      label{
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        margin: 0;
        width: 83%;
        cursor: pointer !important;
      }
      .roleHeader{
        float: none;
        margin: 0 !important;
        width: 63% !important;
      }
      // .btnHeader{
      //   float: none;
      // }
      .dropdown-submenu.switchRoleDrop{
        width: 200px;
        margin: 0;
        top: -4px;
        border: none;
        background: #8b77fa;
        box-shadow: none;
        transition: 0s;
        border-radius: 10px;
        min-height: 40px;
        .curren{
          padding: 3px 5px;
        }
        li{
          label{
            width: auto;
            cursor: pointer !important;
            color: #ffffff !important;
          }
        }
        img{
          top: 2px;
        }
      }
    }
    .dropdown-submenu.switchRoleDrop:hover{
      background: #9B8AFB;
    }
    li:hover{
      background-color: #9B8AFB;
    }
    .last-login-detail{
      text-align: center;
      color: #fff;
      padding: 10px 10px 10px 53px;
      text-align: left;
      border-top: 1px solid #ffffff73;
      margin-top: 20px;
      font-size: 11px;
      font-weight: 500;
      cursor: auto;
      .lld-time {
        margin-left: 5px;
      }
      span{
        color: #ffffff;
        span{
          color: #ffffff;
        }
      }
    }
    .last-login-detail:hover{
      background: transparent;
    }
  }
}
.user-info-dropopen{
  background: #8b77fa;
  li .profileDiv .user-name-icon .firstLetter{
    background-color: #ffffff;
    color: #21314b;
  }
  li .name-para-2{
   color: #ffffff;
 }
 .dropdown-header-menu .dt-down-arrow svg{
   transform: rotate(0deg);
   path{
     stroke: #dce6f0;
    }
  }
  .admin-para-2 {
    color: #fff;
  }
}
.dropdown-header-menu .dt-down-arrow svg{
  transform: rotate(180deg);
  path{
    stroke: #dce6f0;
   }
 }
ul.dropdown.list-inline.float_right.open{
  .switch-retailer-dropdown{
    position: absolute;
    top: 55px;
    right: 267px !important;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border: none;
    padding: 10px 0 !important;
    min-height: 140px;
    min-width: 300px;
    .srd-name {
      font-size: 12px;
      font-weight: 500;
      color: #718096;
      display: inline-block;
      padding: 0 14px;
      padding-bottom: 7px;
    }
    li {
      position: relative;
      padding: 5px 14px;
      cursor: pointer;
      transition: 0.6s all;
      .srd-active-user{
        content: '';
        width: 6px;
        height: 6px;
        background: #3ee585;
        position: absolute;
        top: 10px;
        right: 15px;
        border-radius: 50%;
      }
      label {
        max-width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer !important;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        line-height: initial;
      }
      label:before{
        content: none;
        position: absolute;
        top: 7px;
        left: 6px;
        width: 2px;
        height: 11px;
        background-color: #8b77fa;
        border-radius: 30px;
      }
    }
    li:hover {
      color: #21314b;
      background-color: #e5edf8;
      label {
        font-weight: 600;
        color: #21314b;
      }
      label:before{
        content: "";
      }
    }
   }
}
 
.notification_dropdown.notifi-drop-pos{
  width: 348px;
  right: 22px;
  top: 49px;
}
.header-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // z-index: 990;
}
// .cache-banner {
//     display: flex;
//     align-items: center;
//     position: relative;
//     // top: 0;
//     // left: 0;
//     width: 100%;
//     padding: 2px 25px;
//     height: 36px;
//     background: #ffdab9;
//     z-index: 999;
//     svg {
//         margin-right: 10px;
//     }
//     p {
//         font-size: 12px;
//         font-weight: 600;
//         margin: 0;
//         color: #e58229;
//         a {
//             background: #ffebd4;
//             padding: 3px 8px;
//             border-radius: 20px;
//             color: #e58229;
//             margin: 0 3px;
//             text-decoration: none;
//         }
//         span {
//             font-weight: 500;
//         }
//     }
// }
.cache-banner {
  position: fixed;
  bottom: 20px;
  right: 90px;
  background: #81bc93;
  border-radius: 10px;
  width: auto;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 0;
  .cb-left {
    display: flex;
    align-items: flex-start;
    padding: 6px 10px;
    svg {
      margin-right: 10px;
      margin-top: 3px;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      margin: 0;
    }
    span {
      display: block;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .cb-right {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 10px 15px;
    border-left: 1px solid #ffffff8c;
    a {
      font-size: 12px;
      font-weight: 600;
      padding: 4px 12px;
      background: #fff;
      border-radius: 5px;
      color: #81bc93;
      text-decoration: none;
    }
  }
}
.show-cache-banner {
  margin-top: 36px;
  .sidebar-menu2 {
    top: 111px;
    .main-menu2 {
      height: calc(100% - 111px);
    }
  }
}