.m-lft-0{
    margin-left: 0px;
}
.m-lr-5{
    margin: 0px 5px;
}
.m-lft-8{
    margin-left: 8px;
}
.m-lft-10{
    margin-left: 10px;
}
.m-lft-15{
    margin-left: 15px;
}
.m-lft-2{
    margin-left: 2px;
}
.m-lft-5{
    margin-left: 5px;
}
.m-lft-4{
    margin-left: 4px;
}
.m-left-59 {
    margin-left: 59px !important;
}
.m-top-2{
    margin-top: 2px;
}
.m-top-3{
    margin-top: 3px;
}
.m-top-5{
    margin-top: 5px;
}
.m-top-7{
    margin-top: 7px;
}
.m-top-9{
    margin-top:9px;
}
.m-top-10{
    margin-top: 10px;
}
.m-top-13{
    margin-top: 13px;
}
.m-top-15{
    margin-top: 15px;
}
.m-top-17{
    margin-top: 17px;
}
.m-top-18{
    margin-top: 18px;
}
.m-top-20{
    margin-top: 20px !important;
}
.m-top-25{
    margin-top: 25px;
}
.m-top-28{
    margin-top: 28px;
}
.m-top-30{
    margin-top: 30px !important;
}
.m-top-35{
    margin-top: 35px;
}
.m-top-37{
    margin-top: 37px;
}
.m-top-40{
    margin-top: 40px;
}
.m-top-45{
    margin-top: 45px;
}
.m-top-50{
    margin-top: 50px !important;
}
.m-top-55{
    margin-top: 55px !important;
}
.m-top-60{
    margin-top: 60px !important;
}
.m-top-65{
    margin-top: 65px !important;
}
.m-top-70{
    margin-top: 70px !important;
}
.m-top-75{
    margin-top: 75px !important;
}
.m-top-80{
    margin-top: 80px !important;
}
.m-top-85{
    margin-top: 85px !important;
}

.m-top-95{
    margin-top: 95px !important;
}
.m-top-94{
    margin-top: 94px !important;
}
.m-top-100{
    margin-top: 100px !important;
}
.m-top-130{
    margin-top:130px !important;
}
.m-top-145{
    margin-top:145px !important;
}

.m-rgt-0{
    margin-right: 0px !important;
}
.m-rgt-5{
    margin-right: 5px;
}
.m-rgt-10{
    margin-right: 10px;
}
.m-rgt-15{
    margin-right: 15px;
}
.m-rgt-20{
    margin-right: 20px;
}
.m-rgt-25{
    margin-right: 25px;
}
.m-rgt-30{
    margin-right: 30px;
}
.m-rgt-35{
    margin-right: 35px;
}
.m-rgt-40{
    margin-right: 40px;
}
.m-rgt-45{
    margin-right: 45px;
}
.m-rgt-50{
    margin-right: 50px;
}
.m-rgt-55{
    margin-right: 55px;
}
.m-rgt-60{
    margin-right: 60px;
}
.m-rgt-65{
    margin-right: 65px;
}
.m-rgt-70{
    margin-right: 70px;
}
.m-rgt-75{
    margin-right: 75px;
}
.m-rgt-80{
    margin-right: 80px;
}
.m-rgt-85{
    margin-right: 85px;
}

.m-rgt-95{
    margin-right: 95px;
}
.m-rgt-100{
    margin-right: 90px;
}
.m-lft-auto{
    margin-left: auto;
}
.m-neg-35{
    margin-top: -35px;
}
.m-lr-10{
    margin: 0px 10px;
}
// __________________________________PADDING _______________________________
.pad-container{
    padding: 0px 20px;
}
.pad-bot-5{
    padding-bottom: 5px;
}
.pad-bot-3{
padding-bottom:3px;
}
.pad-top-0{
    padding-top: 0px;
}
.pad-top-3{
    padding-top: 3px;
}
.pad-top-5{
padding-top: 5px;
}
.pad-top-10{
padding-top: 10px;
}
.pad-top-15{
padding-top: 15px;
}
.pad-top-20{
padding-top: 20px;
}
.pad-top-25{
padding-top: 25px;
}
.pad-top-30{
padding-top: 30px;
}
.pad-top-35{
padding-top: 35px;
}
.pad-top-40{
padding-top: 40px;
}
.pad-top-45{
padding-top: 45px;
}
.pad-top-50{
padding-top: 50px;
}
.pad-top-55{
padding-top: 55px;
}
.pad-top-60{
padding-top: 60px;
}
.pad-top-65{
padding-top: 65px;
}
.pad-top-70{
padding-top: 70px;
}
.pad-top-75{
padding-top: 75px;
}
.pad-top-80{
padding-top: 80px;
}
.pad-top-85{
padding-top: 85px;
}
.pad-top-90{
padding-top: 90px;
}
.pad-top-95{
padding-top: 95px;
}
.pad-top-100{
padding-top: 100px;
}
.pad-lf-5{
    padding: 0px 5px;
}
.pad-lf-3{
    padding: 0px 3px;
}
.pad-5{
    padding: 5px;
}
.pad-7{
    padding: 7px;
}
.pad-3{
    padding: 3px;
}
.pad-10{
    padding: 10px !important;
}
.pad-15{
    padding: 15px;
}
.pad-20{
    padding: 20px;
}
.pad-tb-20{
    padding: 20px 25px;
}
.pad-tb-30{
    padding: 20px 30px;
}
.pad-lft-0{
    padding-left:0;
}
.pad-lft-5{
    padding-left:5px;
}
.pad-lft-7{
    padding-left:7px;
}
.pad-lft-10{
    padding-left: 10px !important;
}
.pad-lft-15{
    padding-left: 15px !important;
}
.pad-lft-20{
    padding-left: 20px !important;
}
.pad-lft-25{
    padding-left: 25px;
}
.pad-lft-30{
    padding-left: 30px !important;
}
.pad-lft-35{
    padding-left: 35px;
}
.pad-lft-40{
    padding-left: 30px;
}
.pad-lft-8{
    padding-left: 8px!important;
}
.textIndentNone{
    text-indent: 0px;
}
.pad-right-20{
    padding-right: 20px;
}
.pad-right-15{
    padding-right: 15px;
}
.pad-tb-10{
    padding: 10px 0px;
}
.pad-bot-20{
    padding-bottom: 20px;
}
.pad-bot-15{
    padding-bottom: 15px;
}
// ________________________________Custom Width_________________--
.minWid89{
    min-width: 89px;
}
.minWid100{
    min-width: 100px;
}
.max-wid-100{
    max-width: 100%;
}
.width80per{
    width:80% !important;
}
.widthAuto{
    width:auto !important;
}
.width15{
    width: 15px;
}
.width20{
    width:20px;
}
.width17{
    width:17px;
}
.width100{
    width: 100% !important;
}
.width50{
    width: 50%;
}
.width115px{
    width:115px!important;
}
.width109{
    width:109%!important;
}
.m-top18per{
    margin-top: 18%;
}
.width60{
    width: 60px!important;
}
.width_61{
    width: 61%!important;
}
.width_54{
    width: 54%!important;
}
.width_40{
    width: 40%!important;
}
.width_33{
    width: 33%!important;
}
.width_35{
    width: 35%!important;
}
.width_36{
    width: 36%!important;
}
.width_30{
    width: 30%!important;
}
.width_52{
    width: 52%!important;
}
.width_95{
    width: 95%!important;
}
.width_90{
    width: 90%!important;
}
.width_96{
    width: 96% !important;
}
.width_98{
    width: 98% !important;
}
.width_85{
    width: 85%!important;
}
.width_80{
    width: 80%!important;
}
.width_88{
    width: 88%!important;
}
.width_70{
    width: 70%!important;
}
.width_29{
    width: 29%;
}
.width_25{
    width: 25%;
}
.width_20{
    width: 20%;
}
.width_69{
    width: 69%;
}
.width_15{
    width: 15%;
}
.width145{
    width: 145px;
}
.width150{
    width: 150px !important;
}
.widthpx200{
    width:200px!important;
}
.width_50px{
    width: 50px!important;
}
.width_80px{
    width: 80px!important;
}
.width53Per{
    width: 53%!important;
}
.pagerWidth75{
    width: 75% !important;
}
.width_80per{
    width: 80%!important;
}
.pagerWidth65{
    width: 65% !important;
}
.paginationWidth40{
    width: 40% !important;
}
.paginationWidth50{
    width: 50%!important;
}
.width220px{
    width: 220px;
}
.float_initial{
    float: initial!important;
}
.float_Left{
    float: left;
}
.float_Right{
    float: right;
}
.float_None{
    float: none;
}
.right0{
    right: 0px;
}
.width145{
    width: 145px !important;
}
.width120{
    width: 120px;
}
.min-width185{
    min-width: 185px;
}
.width160{
    width: 160px;
}
.widthpx200{
    width:200px!important;
}
.wid100px{
    width: 100px;
}
.width40px{
    width: 40px !important;
}
.right4{
    right: 4px !important;
}
.right50
{
    right: 50px !important;
}
.floatNone{
    float: none;
}
.floatnone{
    float: none !important;
}
.text-initial{
    text-align:initial;
}
.textLeft{
    text-align:left;
}
.textRight{
    text-align: right;
}
.textCenter{
    text-align: Center;
}
.itemCenter{
    align-items: center;
}
.textLowerCase{
    text-transform: lowercase;
}
.textIndent30{
    text-indent: 30px;
}
.textOverflowNone{
    text-overflow: ellipsis;
    word-break: inherit;
    overflow: hidden;
}
.heightAuto{
    height: auto !important;
}
.height100{
    height: 100%;
}
.displayInitial{
    display:initial;
}
.displayInGrid{
    display: inline-grid !important;
}
.height93{
    height: 93%;
}
.height71per{
    height: 71% !important; 
}
.height53per{
    height: 53% !important; 
}
.height67vh{
    height: 67vh;
}
.height30px{
    height: 30px;
}
.height300{
    height: 300px !important;
}
.inlineFlex{
    display: inline-flex !important;
}
.displayGrid{
    display: grid;
}
.displayContent{
    display: contents;
}
.displayBox{
    display: -webkit-box;
}
.displayInline{
    display: inline-block; 
}
.dispalyInlineFlex{
    display: inline-flex;
}
.displayLine{
    display: inline;
}
.displaynone{
    display: none;
}
.displayBlock{
    display:block;
}
.displayTable{
    display: table !important;
}
.displayInherit{
    display: inherit;
}
.displaySpace{
    display: flex;
    justify-content: space-between;
}
.tableLayoutFix{
    table-layout: fixed;
}
.displayFlex{
    display: flex !important;
}
.justifyCenter{
    justify-content: center;
}
.justifyEnd{
    justify-content: flex-end;
}
.alignItemUnset{
    display: flex;
    align-items: unset;
}
.alignBaseline{
    align-items: baseline;
}
.alignEnd{
    display: flex;
    align-items: flex-end;
}
.alignStart{
    display: flex;
    align-items: flex-start;
}
.alignMiddle{
    display: flex;
    align-items: center;
}
.displayPointer{
    cursor:pointer!important;
}
.left15{
    left: -15px !important;
}
.positiontable{
    margin: 0px;
    position: relative;
    top: 5px;
    left: 15px;
}
.line-h-2{
    line-height: 2;
}
.height210{
    height: 210px !important;
}

.btnDisabled{
    background-color: #f9f9f9!important;
    cursor: default!important;
    color: #d8d3d3!important;
    border: 0!important;
    box-shadow:none !important;
    background-image: none !important;
}
.disableClr{
    color: #d8d3d3!important;
}
.btnDisabled img{
    filter: invert(10%);
}
.pointerNone{
    cursor: inherit!important;
}
.border-bot{
    border-bottom:1px solid #ddd!important;
}
.border-bot0{
    border-bottom:0!important;
}
.borderNoneAll{
    border:0!important;
}


.m0{
    margin: 0px !important;
}
.padRightNone{
    padding-right:0 !important;
}
.pad-right-8{
    padding-right:8px;
}
select{
    cursor: pointer!important;
}
.downloadBtn{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 4px 10px;
    border-radius: 33px;
    background-color: #8b77fa!important;
    height:22px;
    
}
.crvBtn{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 4px 10px;
    border-radius: 33px;

}
.tableNoData{
    text-align: center; 
    background: transparent!important;
}
.tableGeneric .tableNoData td{
    border-top:1px solid #e3e7f3!important;
    border-bottom:1px solid #e3e7f3;
    font-weight: 500;
    font-family: Montserrat;
    color: #4a4a4a;
    font-size: 12px;
    // width: 1250px!important;  
}
.tableNoData td{
    border-top:1px solid #e3e7f3!important;
    border-bottom:1px solid #e3e7f3!important;
    font-weight: 500;
    font-family: Montserrat;
    color: #4a4a4a;
    font-size: 12px;
    // width: 1250px!important;  
}
.tableGeneric table{
    display: table;
    width:100%;
}

.tableNoData:hover{
    background: transparent!important;
}
.btnHover:hover{
    background: #8b77fa;
    border-color: #8b77fa;
    color:#fff;
    transition: .5s;
}
.dropShow{
    display: block;
}
.dropHide{
    display: none;
}
.verticalTop{
    vertical-align: top;
}
.verticalBot{
    vertical-align: bottom;
}
.verticalMid{
    vertical-align: middle;
}
.verticalInlineFlex{
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}
.saveBtnBorder{
    border-radius: 5.2px;
    border:1px solid #8b77fa;
    background: transparent;
    font-family: Montserrat;
    height: 30px;
    font-size: 9.7px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b77fa;
}
 .saveBtnNew{
    width: 81px;
    height: 35px;
    border-radius: 6px;
    background-color: #6629db;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
 }
.discardBtn{
    background-color: #ffffff;
    border:none;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #4a4a4a;
}
.greenBlue{
    width: 89px;
    height: 22px;
    border-radius: 11px;
    background-color: #f3f3f3;
    font-weight: 600;
    color: #000000;
}
.labelGlobal{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.tableBotBorder{
    border-bottom:1px solid #e3e7f3;
}
.limitText100{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:94% !important;
    float: left;
}
.inputlimitText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:96% !important;
    float: left;
}

.pointerEventsNone{
    pointer-events: none;
}
.m-rgt-bot7{
    margin-right: 7px;
     margin-bottom: 7px;
}
.m-bot-0{
    margin-bottom:0 !important;
}
.margin-right0{
margin-right: 0 !important;
}
.m-bot-5{
    margin-bottom: 5px;
}
.mar-bot-20{
    margin-bottom:20px;
}
.mar-bot-10{
    margin-bottom:10px;
}
.dowonload-report-btn{
    width: 134px;
    height: 28px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #8b77fa;
    color: #8b77fa;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.resetBtn{
    font-weight: 600;
    font-size: 11px;
    color:#4a4a4a;
}
.oflHidden{
    overflow:hidden!important;
}
.overflowUnset{
    overflow: unset !important;
}
.oflxAuto{
    overflow-x: auto;
}   
.oflyhidden{
    overflow-y: hidden!important;
}
.overflowVisible{
    overflow: visible !important;
}
.overflowScroll{
    overflow:scroll;
}
.txtBlue{
    color:#8b77fa!important;
}
.colorDarkBlue{
    color: #535b78 !important;
}
.textGreen{
    color:#7ed321 !important;
}
.bgGreen{
    background: #7ed321 !important;
}
.border-bot-table{
    border-bottom: 1px solid #e3e7f3;
}
.border-seperate{
    border-collapse: separate;
}
.posRelative{
    position: relative !important;
}
.posInherit{
    position: inherit !important;
}
.posAbsolute{
    position: absolute;
    
}
.posInitial{
    position: initial!important;
}
.emptyDiv50{
    height:50px;
}
.lineAfterbg:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 38vw;
    background: #e5e5e5;
    bottom: -23px;
    left: 2px;
}
.lineBefore:before{
    content: "";
    position: absolute;
    height: 1px;
    width: 38vw;
    background: #e5e5e5;
    top: -18px;
    left: 2px;
}
.marginAuto{
    margin:auto;
}
.cursorDefault{
    cursor: default!important;
}
.textWhite{
    color: #fff!important;
}
.disableInputBg{
    background: #eee;
}
.showSideBar{
    transform: translate(0%);
}
.settingCheck .text-middle{
    display: table-cell!important;
    vertical-align: middle;
}
.tableOddColor>tbody>tr:nth-child(odd) {
    background: #f4f4fd !important;
}
.textDisable{
    color: #d8d3d3!important;
}
.colorDb{
    color: #bdbdbd !important; 
}
.bgTransparent{
    background: transparent !important;
}

// --------------------------------------font----------------------------
.font11{
    font-size: 11px;
    color: #4a4a4a;
}
.font13{
    font-size: 13px!important;
}
.font15{
    font-size: 15px !important;
}
.fontBold{
    font-weight: bold !important;
}
.fontWeig600{
    font-weight:600!important;
}
.fontWeightNormal{
    font-weight: normal;
}
.textRed{
    color: #FF0000 !important;
}
.textWarning{
    color: #d0021b!important;   
}
.shipmentShipped{
    .textWarning{
        color: #d0021b!important;
    }
}
.graphWidth>.recharts-wrapper>svg{
    width: 100% !important;
}
.graphWidth>.recharts-wrapper{
    width: 100% !important;
}
.genericNodata td{
    text-align: left !important;
}
.centerDiv{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.imgHeight{
    height: 15px;
}
.height13{
    height: 13px;
}
.width-17{
    width:17px !important;
}
.height17{
    height: 17px;
}
.height16{
    height: 16px;
}
.height15{
    height: 15px;
}
.height14{
    height: 14px;
}
.height13{
    height: 13px;
}
.height12{
    height: 12px;
}
.height9{
    height: 9px;
}
.btnDisableSvg:hover svg path{
    fill:#8b8b8b;
}
.selectText{
    user-select: text;
}
.zIndex2{
    z-index:2;
}
.dateGeneric{
    border-radius: 5.5px;
    border: solid 1.1px #d2d2d2;
    width: 95%;
    height: 35px;
    text-indent: 8px;
    font-weight: 600;
    color: #4a4a4a;
}
.inputTime{
    background: url('../assets/time.svg') no-repeat;
  background-position: 92%!important;
  cursor: pointer;
  z-index: 0;
  position: relative;
  background-size: 15px;
  height: 35px !important;
  text-indent:10px !important;
}
.orgText{
    color:#7ed321 !important;
}
.blink-img{
    position: absolute;
    right: 15px;
    top: 57%;
}
.blink-img g{
    animation: blink 2s linear infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    30%{opacity: .5;}
    50%{opacity: .7;}
    70%{opacity: .5;}
    100%{opacity: 0;}
}
.selectWidth{
    width: 92% !important;
}
.clearBtnGeneric{
    font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6a6a6a;
  background: transparent;
}
.saveBtnGeneric{
    width: 82px;
    height: 35px;
    border-radius: 6px;
    background-color: #8b77fa;
    color: #fff;
}
.onFocus:focus{
    border: 1px solid #8b77fa !important;
}
.tdFocus:focus-within{
    border: 1px solid #8b77fa !important;
} 
.inputLabel{
    background: transparent;
    border: 0;
    font-weight: 500 !important;
}
.rowFocus:focus-within{
    background: #f4efef;
}
.checkBoxFocus:focus-within .checkmark1:before{
    border: 0.5px solid #8b77fa;
    content: "";
    top: -2px;
    height: 122%;
    width: 121%;
    position: absolute;
    border-radius: 5px;
    left: -2px;
}
.selectAllFocus:focus-within{
    border: 1px solid #8b77fa;
    border-radius: 4px;
}
.selectAllFocus>label{
    top: 3px;
}
.btnFocuss:focus{
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 3px #8b77fa;
}
.imgFocus{
    background: transparent;
}
.imgFocus:focus img{
    border: 1px solid #8b77fa;
    border-radius: 50%;
    // padding: 1px;
}
.borderR0{
    border-radius: 0px;
}
.itemCodeBtn{
    width: 69px;
    height: 22px;
    border-radius: 15.5px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    svg{
        height: 10px;
    }
    &:focus{
        border-color: #8b77fa;
    }
}
.newSearch input{
    font-size: 11px;
    background: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-position: 92%!important;
    z-index: 0;
    position: relative;
    background-size: 14px;
    text-indent: 15px;
}
.searchWid{
    width: 100%;
    height: 33px;
    border-radius: 8px;
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
}
.saveBtnBlue{
    width: 75px;
    height: 34px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.genericSelect{
    border-radius: 5.5px;
    border: solid 1.1px #d2d2d2;
    background-color: #ffffff;
    height: 35px;
    width: 100% !important;
    font-size: 11px;
    color: #ffffff;
    background: #8b77fa;
}
.genericSelect2{
    border-radius: 5.5px;
    border: solid 1.1px #d2d2d2;
    background-color: #ffffff;
    height: 35px;
    width: 100% !important;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-indent: 10px;
    -webkit-appearance: none;
    background: url(../assets/select-icon.svg) no-repeat;
    background-position: 94% 50%;
    background-size: 11px;
}
.discardBtns{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    -webkit-appearance: none;
    background: url("../assets/select-icon.svg") no-repeat;
    background-position: 94% 50%;
    background-size: 11px;
    text-align: left;

}
.cancelBtn{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    font-size: 13px;
    background: transparent;
}
.genericBorder{
    border-radius: 5px;
    background-color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #4a4a4a;
    border-color: #d2d2d2;
    border: 1px solid #d2d2d2;
    box-shadow: none;
    outline: none;
}
.btnHover:hover{
    background: transparent;
    outline: none;
}
.tableHeadBg{
    background: rgba(109, 109, 201, 0.04);
}
.bgFixed{
    background: rgba(109, 109, 201, 0.04);
}
.errorMainDiv{
    position: relative;
}
.errorMainDiv .error{
    bottom: -13px;
}
.height75vh{
    height: 75vh;
}
.height57vh{
    height: 57vh;
}
.storeBtn{
    @include buttonStyle(12px,500 , 4px , #ffffff , #6629db , 6px 22px ,solid 1px #6629db);
    &.active{
        border-radius: 4px;
        background-color: #6629db;
        color: #fff;
        font-weight: 600;
    }
}
.rowMargin{
    margin-left: 0px;
    margin-right: 0px;
}
.blueCloseBtn{
    @include buttonStyle(12px,600 , 4px , #6629db, #fff , 6px 22px ,solid 1px #6629db);
}
.inputTimer{
    border-radius: 5px;
    background-color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #4a4a4a;
    outline: none;
    border: 1px solid #d2d2d2;
}
.afteNone::after{
    display: none;
}
.scrollMainDiv{
    overflow: hidden;
    // width: 611px;
    width: 98%;
    scroll-behavior: smooth;
    padding: 10px 7px;
}
.scrollMainDiv .innerCustomDiv{
    width: max-content;
}
.heightEqualParent{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.textElippse{
    @include textEllipses(0px 20px 0px 0px);
    padding-right: 20px ;
}
.midContent{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #6a6a6a;
    background: transparent !important;
}
.newPagination{
    ul {
        li{
            width: 20%;
            &:nth-child(4){
                &:hover{
                    border-radius: 0px;
                }
                button{
                    border-right: 1px solid #e3e7f3 !important;
                }
            }
            &:nth-child(5){
                &:hover{
                        border-radius: 0 20px 20px 0 !important;
                }
            }
        }
    }
}
.tableHeadBg {
    background: rgba(109,109,201,.04);
}
.inputSearch{
    width: 54%;
    height: 33px;
    border-radius: 8px;
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
}
.trBg{
   background-color: rgba(109, 109, 201, 0.04) !important;
}
.pad-container{
    padding: 0px 20px;
}
.pad-lr-30{
    padding: 0px 30px;
}
.whiteSpaceNormal{
    white-space: normal;
}
.whiteSpaceInherit{
    white-space: inherit;
}
.whiteSpaceNowWrap{
    white-space: nowrap;
}
.textBreak{
    @include width(150px);
    white-space: normal;
    word-break: break-word !important;
}
.wordBreakInherit{
    word-break: inherit !important;
}
.whiteUnset{
    white-space: unset !important;
}
.smoothScroll{
    scroll-behavior: smooth;
}
.clearIconPos{
    .closeSearch{
        right: 18px;
        top: 8px;
    }
}
.height250{
    height: 250px
}
.maxheight215{
    max-height: 215px
}
.maxHeight200{
    max-height: 200px !important;
}

.height16{
    height: 16px;
}
.partialTable{
    padding: 1px 3px;
    border-radius: 4px;
    background-color: #ff6550;
    font-size: 11px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
//    background-color: rgba(109, 109, 201, 0.04);
}
.genericSelect{
    width: 141px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #979797;
    background-color: #fff;
}
.selectGenericEvent{
    height: 33px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    appearance: none;
    background: url('../assets/selectIcon.svg') no-repeat;
    background-position: 94% 58%;
    background-size: 10px;
    padding-left: 5px;
}
.inputGenericEvent{
    height: 33px !important;
    border-radius: 4px;
    border: solid 1px #d6d6d6 !important;
    font-size: 10px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78 !important;
    text-indent: 10px;
}
.inputGenericEvent{
    &::placeholder{
        color: #535b78!important;
    }
}
.labelEvent{
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    margin-left: 5px;

}
.bgWhite{
    background: #fff;
}
.expandPagination{
    ul{
        width: 50% !important;
    }
}
.colorTableText{
    color: #12203c !important;
}
.bgDisableColor{
    background-color: #f7f7f7 !important;
}
.dueSoon{
    @include fontStyle(10px , bold  ,#ffffff);
    border-radius: 4px;
    background-color: #ff6550;
    padding: 1px 5px;
    margin-left: 20px;
}
.radioGeneric{
    .inputMain {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .spanBefore{
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background: transparent;
        border: solid 1px #6629db;
        border-radius: 50%;
      }
      .spanBefore:after{
        content: "";
        position: absolute;
        border: 1px solid #8b77fa;
        top: 2px;
        left: 2px;
        height: 9px;
        width: 9px;
        border-radius: 50%;
      }
         
      /* Hide the browser's default radio button */
      .inputMain input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .inputMain input:checked ~ .spanBefore:after {
        background-color: #6629db;
      }
      
    
      
}
.tableScroll{
    height: 300px;
    overflow: scroll;
}
.tableExpandWidth{
    .fixed-side-role{
        width: 130px !important;
        .checkmark1{
            left: 5px !important;
            top: -12px !important;
        }
    }
    .scrollableOrgansation{
        margin-left: 130px !important;
    }
    
    color: #535b78;
}
.text-ellipse{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.viewStoreBtn{
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background: #8b77fa;
    border-radius: 10px;
    padding: 2px 7px
}
.eventmodalTableScroll{
    height: auto;
    max-height: 44vh;
    overflow: auto;
}
.clearBtnProcurement{
    width: 100px;
    height: 28px;
    border-radius: 21.8px;
    background-color: #fff;
    border: #4a4a4a;
    outline: none;
    font-weight: 600;
    color: #4a4a4a;
    &:focus{
        background: transparent;
    }
}
.backgroundNone{
    background: transparent !important;
}
.multipleSelection ul li:hover{
    background: transparent !important;
}
.multipleSelection .dropDown span.checkmark1{
    left: 0;
    height: 17px!important;
    width: 17px!important;
    top: 0px;
    border-radius: 2px;
    border: 0px;
}
.multipleSelection .checkBoxLabel0 .checkmark1::after{
    top: 3px;
    width: 6px;
    height: 9px;
    border-width: 0 2px 2px 0;
}
.multipleSelection .dropdown-menu li{
    margin : 5px 0px;
}
.multipleSelection .dropdown-menu{
    max-height: 127px!important;
}
.checkBoxSquare .checkmark1{
    left: 12px;
    border-radius: 2px;
    top: -3px;
    height: 18px;
    width: 18px;
}    
.checkBoxSquare .checkmark1::after{
    top: 3px !important;
    border-width: 0 2px 2px 0 !important;
    width: 6px !important;
    height: 10px !important;
}
.svgHover:hover{
    g{
        path{
            &:first-child{
                fill : #8b77fa!important;
            }
            &:nth-child(2){
                fill: #fff !important;
            }
        }
    }}
.fmcgFilterTable{
    height: 235px;
    overflow: scroll;
}
.searchBtnClick{
    position: relative;
    button{
        position: absolute;
        right: 11px;
        top: 0px;
        background: transparent;
        width: auto !important;
        border-left: 1px solid #ddd;
        border-radius: 0px;
        padding-left: 10px;
    }
    .clearImg{
        right: 53px;
        position: absolute;
        top: 7px;
    }
}
.filterRunOnDemand{
    .selectArrow{
        position: absolute;
        top: 13px;
        right: 28px;
        height: 7px;
    }
}
.topAuto{
    top: auto !important;
}
.inputDate{
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-indent: 10px;
}
.cancelBtn{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    font-size: 13px;
    background: transparent;
}
.confirmBtnBlue{
    width: auto;
    height: 32px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    background: #8b77fa;
    color: #fff;
    padding: 3px 17px;
}
.topNeg12{
    top: -12px !important;
}
.removeAfter::after{
    display: none !important;
}
.hoverBgNone:hover{
    background: transparent!important;
    color: #000 !important;
}
.checkboxDrop{
    a{
        padding-left: 37px !important;
        padding-top: 4px !important;
    }
    span.checkmark1{
        left: 7px;
        top: 13px;
        height: 18px;
        width: 18px;
    }
    span::after{
        width: 6px !important;
        height: 10px !important;
        border-width: 0 2px 2px 0 !important;
    }
}
.rotate90{
    transform: rotate(90deg);
}
.rotateNeg90{
    transform: rotate(-90deg);
}
.imgBorder{
    float: right;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 11px 8px;
    background-color: #fff;
    cursor: pointer;
    &.collapsed{
        background-color: #6629db;
        svg{
            path{
                fill: #fff ;
            }
        }
    }
    svg{
        path{
            fill: #8b77fa;
        }
    }
}
.transitionHalf{
    transition: 0.5s;
}
.collapsed{
    .closedAccordian{
        transform: rotate(270deg)
    }
}
.tableWhiteSpaceInherit{
    tbody{
        td{
            label{
                white-space: inherit !important;
            }
        }
    }
}
.blueCurveButton{
    padding: 7px 8px;
    border-radius: 17px;
    border: solid 1px #6629db;
    background-color: #6629db;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #ffffff;
}
.notActiveBtn{
    border-radius: 17px;
    border: solid 1px #ebe1ff;
    background-color: #ebe1ff;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    padding: 7px 8px;
    color: #535b78;
}
.radioFilters .checkBoxLabel0{
    margin-left: 0px;
    margin-bottom: 0;
    height: 32px;
    display: flex!important;
    align-items: center;
}
.radioFilters .checkmark1{
    left: 0px;
}
.borderRadius4{
    border-radius: 4px;
}
.input-outer-box{
    border-radius: 6px;
    border: solid 1px #cbd5e0;
    background-color: #ffffff;
    height: 35px;
    /* width: 48% !important; */
    text-indent: 10px;
}
.bgDisable{
    background: $disble;
}
.afterSlash::after{
    content: "/";
    position: absolute;
    top: 54%;
    right: 6px;
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 700;
}
.beforeSlash::before{
    content: '/';
    position: absolute;
    top: 50%;
    left: -14px;
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 700;
}
.left0{
    left: 0px !important;
}
.liFocus:focus{
    background: transparent !important;
}
.exportDropDown{
    ul{
        padding: 0px !important;
        overflow: hidden !important;
    }
    .dropdownFooter{
        button{
            background: #8b77fa;
            font-size: 12px !important;
            font-weight: 600;
            color: #fff !important;
            padding: 6px 0px;
            &:hover{
                background: #8b77fa;
                border: 0px !important;
            }
        }
    }
}
.checkBoxLabelPad{
     padding: 5px 0px 5px 33px !important;
     span{
         left: 8px !important;
         height: 18px;
    width: 18px;
    &:after{
        width: 6px!important;
        height: 10px!important;
        border-width: 0 2px 2px 0!important;
    }
     }
    }
.colummnWidth100{
    table{
        tr{
            td{
                width:auto !important;
            }
        }
    }
}
.alreadyUserBtn{
    background: transparent;
    font-size: 10.5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px 5px;
}
.tableLeft95{
    .fixed-side1{
        width: 95px !important;
    }
    .scrollableOrgansation{
        margin-left: 95px !important;
    }
}
.fixedItemCenter{
    &.tableGeneric{
      .fixed-side1{
          padding-left: 0px !important;
      }  
    }
    .fixed-side1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.txtIndent10{
    text-indent: 10;
}
.boxShadowNone{
    box-shadow: none !important;
}
.headingLabel{
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    margin: 0px 10px;
}
.inputMainLabel{
    margin-top: 10px;
}
.childHeightEqual{
    display: flex;
    flex-wrap: inherit;
}
.updateBtn{
    @include buttonStyle(11px ,500 , 4px , #ffffff , #12203c , 2px 10px ,solid 1px #cbd5e0)
}
.h3Heading{
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #12203c;
    display: inline-block;
}
.inputSearchNew{
    text-align: center;
    padding: 15px 0px;
    input{
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        text-indent: 10px;
    }
}
.tableBg{
    background-color: #f5eff11f;
}
.saveNew{
    border-radius: 5px;
    border: solid 1px #9803f5;
    background-color: #9803f5;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 7px 12px;
}
.minWidthAuto{
    min-width: auto;
}
.rotate180{
    transform: rotate(180deg);
}
.widthMin{
    width: min-content;
}
.widthUnset{
    width: unset;
}
.divSticky{
    position: sticky;
    left: 0px;
}
.border-tb-none{
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.m-left-130{
    margin-left: 130px !important;
}
.pad-l60{
    padding-left: 60px !important;
}
.pad-l65{
    padding-left: 65px !important;
}
.pad-l70{
    padding-left: 70px !important;
}
.pad-l80{
    padding-left: 80px !important;
}
.inputDisable{
    border: 1px solid #bfdfff !important;
    background-color: #f2f5f8 !important;
}
.borderNone{
    border: none !important;
}
.p-lr-25{
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.p-lr-30{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.m-bot-30{
    margin-bottom: 30px;
}
.disableSvg path{
    fill: #d8d8d8!important;
}
.cursor-not-allowed{
    cursor: not-allowed !important;
}
.profile-container{
    background-color: #ffffff;
    padding: 0px;
}
.zi999{
    z-index: 999;
}
.cal-set-height{
    max-height: calc(100vh - 180px);
    overflow: auto;
}
.min-heightcalc {
    min-height: calc(100vh - 220px);
}
input[type=date]:before {
    content: attr(value)!important;
}
.p-lr-90 {
    padding-left: 90px!important;
    padding-right: 90px!important;
}
.pad-7-0 {
    padding: 7px 0!important;
}
.execel-upload-overflow-manage{
    max-height: calc(100vh - 330px);
    overflow: auto;
}
