.piHistoryTable>thead>tr>th>label{
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
    margin: 0px
}
.piHistoryTable{
    width: 100%;
    // height: 70vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.piHistoryTable>tbody>tr>td>label{
    font-size: 10px;
    font-weight: 500;
    font-family: Montserrat;
    color: #8b8b8b;
    text-align: left;
    margin: 0px;
}
.piHistoryTable>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.piHistoryTable>tbody>tr>td:nth-child(1){
    border: 1px solid #ddd;
    border-left: none;
}
.piHistoryTable>tbody>tr>td:nth-child(2){
    border: 1px solid #ddd;
    border-left: none;
}
.piHistoryTable>tbody>tr>td:nth-child(3){
    border: 1px solid #ddd;
      border-left: none;
}
.piHistoryTable>tbody>tr>td:nth-child(4){
    border: 1px solid #ddd;
      border-left: none;
}
.piHistoryTable>thead>tr>th
{
    border-bottom: none !important;
}
.piHistoryTable>tbody>tr>td
{
     border: 1px solid #ddd;
}

.piHistoryTable>tbody>tr:nth-child(even) {
    background: #fff
}
.piHistoryTable>tbody>tr:nth-child(odd) {
    background: #f4f4fd
}
.piHistoryTable>tbody>tr>td:last-child{
    border-right: none !important;
}
.remarkBtn{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #8b8b8b;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
    width: 80%;
    height: 25px;
    transition: .5s;
}
.remarkBtn:hover{
    border: solid 1px #6d6dc9;
    color: #fff;
    background-color: #6d6dc9;
    transition: .5s
}
.historyView{
    width: 156px;
    height: 35px;
    opacity: 0.55;
    border-radius: 17.5px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    margin-right: 15px;
    margin-top: 5%;
    transition: .5s;
}
.historyView>svg{
    float: left;
    position: relative;
    top: 2;
}
.historyView>label{
    font-family: Montserrat;
    background:#ffffff;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 5px;
    transition: .5s;
}
.historyView:hover, .historyView:hover label, .historyView:hover svg>g>circle{
    background-color: #6d6dc9;
    // border: 1px solid #6d6dc9;
    color: #fff;
    transition: .5s;
    fill: #fff;
}
.historyView:hover svg>g>path{
    fill: #6d6dc9;
}
.m-top-22{
    margin-top: 22%;
}
.placeName{
    display: block;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.piHistoryTable>tbody>tr>td:nth-child(1) label{
    font-weight: 600 !important;
}
.timeZone{
    font-family: Montserrat;
    text-align:center;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
    display: block;
    width: 54px;
    position: relative;
    left: 76px;
    float: right;
    padding: 2px;
    height: 15.2px;
    border-radius: 11.5px;
    background-color: #ececf6;
}
.csvDropDown .dropDownItems{
    position: absolute;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 hsla(0,0%,85%,.5);
    background-color: #fff;
    z-index: 1;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    padding: 14px 19px;
}
.csvDropDown .dropDownItems h4{
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #1b192e;
    position: relative;
}
.csvDropDown .dropDownItems  h4::after{
    content: "";
    position: absolute;
    bottom: -11px;
    border: solid 0.5px #d3d3d3;
    left: 0;
    height: 0.5px;
    width: 100%;
}
.csvDropDown .dropDownItems li{
    width: 100%;
    display: block;
    padding: 5px 0px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.csvDropDown .dropDownItems li span{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #464646;
}
.csvDropDown .dropDownItems li svg{
    float: right;
    height: 13px;
}
.csvDropDown .dropDownItems li:hover svg path{
    fill:#00c68a;
}
.historyDownloadDropdown .dropDownItems{
    top: -31px;
    left: 106px;
    position: fixed;
}
.historyDownloadDropdown .dropDownItems ul{
    height: 17vh;
    overflow: scroll;
    padding-right: 10px !important;
}
.historyDownloadDropdown .dropDownItems::before{
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
}