

.dashboard-tab>li.active>a, .dashboard-tab>li>a:hover{
    border: none !important;
    border-bottom: 2px solid #6d6dc9 !important;
    color: #6d6dc9 !important;
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    text-decoration: none;
    background-color: transparent !important;
}
.dashboard-tab>li.active>a{
    font-weight: 700;
}
.dashboard-tab>li{
    float: left;
     margin-bottom: 0px !important; 
}
.dashboard-tab>li>a{
    color: #4a4a4a !important;
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    background: #fff !important;
    border: none !important;
}
.dashboard_table>thead>tr>th>label{
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
}
.dashboard_table>tbody>tr>td>label{
    font-size: 11.4px;
    font-weight: 500;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
}
.dashboard_table>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.dashboard_table>tbody>tr>td{
    border: 1px solid #ddd;
    padding: 5px !important; 
}
.dashboard_table>tbody>tr :nth-child(1){
    border-left: none !important;
}
.dashboard_table>tbody>tr :last-child{
    border-right: none !important;
}
.dashboard_table>thead>tr>th
{
    border-bottom: none !important;
}
.table_container{
    width: 100%;
    height: auto;
}
.table_container>table>tbody{
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdown_img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.dropdown_table>li>span{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 600;
    color: #4a4a4a;
    /* padding: 5px !important; */

}
.dropdown_table{
    right: 0 !important;
    left: auto !important;
    padding: 5px !important;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ul.first_child :nth-child(1){
    width: 100%;
    padding: 0px;
    text-align: left;
    margin: 0px;
}
ul.first_child >li{
    text-align: center;
    /* padding: 0px !important; */
    margin-top: 10px;
    width: 60px;
}
.first_child{
    height: 70px;
}
.pad-lft-0{
    padding-left: 0px !important;
}
.pad-rgt-0{
    padding-right: 0px !important;
}
.months_list{
    width: 100%;
    height: auto;
    display: block;
}
.months_list .scrollMonths>ul>li>button{
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 700;
    color: #6d6dc9;
    background: #fff;
    border: 1px solid #6d6dc9;
    border-radius: 100px;
    width: 102px;
    height: 26px;
    margin-bottom: 10px;
    transition: .3s;
}
// .months_list .scrollMonths>ul>li:last-child button{
//     width: 121px;
// }
.months_list .scrollMonths>ul>li>button:hover{
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 700;
    color: #fff;
    background: #6d6dc9;
      transition: 0.5s;

}
.height-48{
    height: 60vh !important;
}
.graphDiv, .mapDiv{
    width: 100%;
    height: 100%;
}
.graphDiv>img{
    width: 100%;
}
.height-50{
    height: 55vh !important;
}
.mapDiv>img{
        width: 100%;
    height: 90%;
}
.dashLineGraph{
    // margin-left:-30px;
    margin-top: 15px;
    // position: relative;
}
.dashLineGraph .recharts-surface>.recharts-layer .recharts-label>tspan{
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    fill: #656d78;
}
.dashLineGraph .recharts-surface{
    height: 265px;
}
 .dashLineGraph>.recharts-wrapper ul.recharts-default-legend{
    // top: -264px;
    //     right: 7px;
    // position: absolute;
    display: none;
 }
 .dashBarChart .recharts-wrapper{
    margin-top: 57px;
    margin-left: -38px;
 }
 .tabsTableMain{
    height: 40vh;
    overflow: auto;
 }
 .salesTrendGraph .cards_dashboard{
     padding-top: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
 }
 .salesTrendGraph .saleTrendHeading ul{
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 25px 0 16px 14px;
 }
 .salesTrendGraph .saleTrendHeading label{
    font-size: 11px;
 }
 .salesTrendGraph .months_list{
    border-bottom: 1px solid #ededed;
    display: inline-block; 
    width: 100%;
    overflow: hidden;
    text-align: center;    
 }
 .salesTrendGraph .months_list ul{
    width: 675px;
    // padding-left: 30px;
    padding: 19px 0 5px 0px;    
 }
 .salesTrendGraph .months_list ul li {
    vertical-align: middle;
 }
 .months_list .scrollMonths{
    display: inline-block;
    overflow: hidden;
    width: 340px;
    scroll-behavior: smooth;
 }
 .months_list .scrollMonths>span:first-child{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 23px;
    color: #c7c7c7;
    font-weight: 200;
    -webkit-text-stroke: 4px white;
    cursor: pointer;
 }

.months_list .scrollMonths>span:nth-child(2){
   position: absolute;
   right: 10px;
   top: 20px;
    font-size: 23px;
   color: #c7c7c7;
   font-weight: 200;
   -webkit-text-stroke: 4px white;
   cursor: pointer;
}
.btnActive{
    background:#6d6dc9!important;
    color: #fff !important;
}
.dashTabs li a{
    cursor: pointer;
}
.products_list .box label{
    cursor: pointer!important;
}

// Style Home Page
.home-page-main-layer {
    padding: 0;
    background: #ffffff;
    padding-bottom: 0;
    .hpml-inner {
        padding: 10px;
        background: #ebe8fe;
        .hpmli-div{
            padding: 30px;
            background: #ffffff;
            position: relative;
            // box-shadow: 0 7px 22px 0 #c8befc;
            .hpmli-top {
                text-align: center;
                .hpmlit-message {
                    p {
                        font-size: 13px;
                        font-weight: 500;
                        color: #21314b;
                    }
                }
                .hpmlit-time {
                    border-radius: 20px;
                    border: solid 1px #ebe8fe;
                    background-color: #ffffff;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 6px 15px;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    .bold{
                        font-size: 12px;
                    }
                }
                .hpmlit-wlcm-text {
                    h3 {
                        font-size: 26px;
                        font-weight: 300;
                        color: #21314b;
                        margin: 0;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 400;
                        color: #636E81;
                        padding-top: 10px;
                    }
                }
            }
            .hpmli-body {
                padding: 0 20px;
                display: flex;
                justify-content: center;
                .hpmlib-box {
                    position: relative;
                    display: inline-block;
                    width: 33.33%;
                    text-align: center;
                    padding: 10px 15px;
                    .hpmlibb-icon {
                        display: inline-block;
                        width: 170px;
                        height: 170px;
                        padding: 30px;
                        border-bottom: 1px solid #d6dce6;
                        .hpmlibbi-bg {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(to bottom, #8b77fa, #04cbd7);
                            border-radius: 50%;
                            padding: 5px;
                            .hpmlibbibg-inner {
                                display: flex;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                background-color: #fff;
                                align-items: center;
                                justify-content: center;
                                img{
                                    width: 50px;
                                }
                            }
                        }
                    }
                    .hpmlibb-content {
                        padding: 20px 15px;
                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                            color: #21314b;
                        }
                        p {
                            font-size: 12px;
                            font-weight: 500;
                            color: #636E81;
                            padding: 10px 15px;
                            letter-spacing: 0.28px;
                            margin-bottom: 25px;
                            height: 75px;
                        }
                        button {
                            position: relative;
                            box-shadow: 0 3px 6px 0 rgba(61, 168, 230, 0.5);
                            background-image: linear-gradient(to right, #8b77fa, #00ced6);
                            font-size: 14px;
                            font-weight: 600;
                            color: #ffffff;
                            width: 180px;
                            height: 40px;
                            transition: all 0.5s;
                            padding: 9px 27px;
                            .hpmlibb-right-arrow {
                                position: absolute;
                                top: 14px;
                                right: -20px;
                                opacity: 0;
                                visibility: hidden;
                                transition: 0.5s;
                            }
                        }
                        button:hover {
                            transition: 0.5s;
                            padding: 9px 8px;
                            padding-right: 38px;
                            .hpmlibb-right-arrow{
                                opacity: 1;
                                visibility: visible;
                                transition: 0.5s;
                                right: 15px;
                            }
                          }
                        .hpmlibb-button{
                            display: inline-block;
                            box-shadow: 0 3px 6px 0 rgba(61, 168, 230, 0.5);
                            background-image: linear-gradient(to right, #8b77fa, #00ced6);
                            font-size: 14px;
                            font-weight: 600;
                            color: #ffffff;
                            width: 180px;
                            height: 40px;
                            padding: 2px;
                            opacity: 0.5;
                            button{
                                width: 100%;
                                height: 100%;
                                background-image: none;
                                color: #ffffff;
                                padding: 0;
                                cursor: auto;
                                background: transparent;
                            }
                        }
                    }
                }
                .hpmlib-blr:before, .hpmlib-blr:after {
                    content: "";
                    position: absolute;
                    top: 90px;
                    width: 1px;
                    height: 200px;
                    background-color: #d6dce6;
                }
                .hpmlib-blr:before{
                    left: 0;
                }
                .hpmlib-blr:after{
                    right: 0;
                }
            }
        }
    }
}