// Manage Adhoc Page Genric Design
.new-gen-head{
    display: flex;
    position: relative;
    width: 100%;
    height: 67px;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dce6f0;
    .new-gen-left{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        .nph-title{
            h2{
                font-size: 20px;
                font-weight: 700;
                color: #12203c;
            }
        }
        .ngl-search{
            position: relative;
            display: inline-block;
            margin-right: 20px;
            form{
                margin: 0;
            }
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
        button{
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            font-size: 12px;
            padding: 5px 15px;
            margin-right: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .ngl-back {
            border-radius: 21px;
            border: solid 2px #000;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            height: 30px;
            .back-arrow {
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
        .filter-btn{
            position: relative;
            padding: 5px 10px;
            img{
                width: 14px;
            }
            .fb-notifi{
                position: absolute;
                top: -9px;
                right: -6px;
                width: 16px;
                height: 16px;
                text-align: center;
                background-color: #eb0008;
                color: #ffffff;
                border-radius: 50%;
                font-size: 9px;
                font-weight: 500;
                padding: 2px 0;
            }
        }
        .global-search-tab {
            ul {
                li {
                    a {
                        .gsti-icon {
                            margin-right: 10px;
                            display: inline-block;
                        }
                        .gsti-icon:hover {
                            svg {
                                path {
                                    fill: #ffffff;
                                }
                            }
                        }
                    }
                }
                li.active {
                    a {
                        .gsti-icon {
                            svg {
                                path {
                                    fill: #ffffff;
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
    .new-gen-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button{
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 600;
            position: relative;
            display: inline-block;
        }
        button:hover {
            .generic-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
        .ngl-back {
            border-radius: 21px;
            border: solid 2px #000;
            padding: 3px 10px;
            display: flex;
            align-items: center;
            height: 30px;
            .back-arrow {
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
        .save-draft {
            border: solid 1px #000;
        }
        .ngr-clear {
            border: none;
            padding: 0px;
        }
        .aprv-req-btn{
            color: #ffffff;
            background-color: #8b77fa;
            border: 1px solid #8b77fa;
        }
        .reject-btn{
            border: solid 1px #e83600;
            background-color: #e83600;
            color: #fff;
        }
        .new-trigger {
            color: #51aa77;
            background: #c8f9e6;
            border: solid 1px #c8f9e6;
            box-shadow: none;
            border-radius: 21px;
            padding: 6px 8px;
            svg {
                margin-right: 8px;
            }
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                right: 0;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        img{
                            width: 30px;
                            margin-right: 12px;
                        }
                        span{
                            display: inline-block;
                            padding: 5px 7px;
                            border-radius: 50%;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                        div{
                            display: inline-block;
                            .multipleDownloadSelect {
                                border: none;
                                padding: 0;
                                -webkit-appearance: none;
                                background: #fff !important;
                            }
                        }
                    }
                    .export-excel{
                        color: #a4b9dd;
                        span{
                            margin-right: 10px;
                        }
                    }
                    .export-excel:hover{
                        color: #12203c;
                        span{
                            background-color: #049d4b14;
                            svg{
                                path{
                                    fill: #049d4b;
                                }
                                text{
                                    fill: #049d4b;
                                }
                            }
                        }
                    }
                    .pi-pdf-download{
                        .pi-pdf-svg{
                            margin-right: 10px;
                        }
                        .btnDisabled{
                            color: #a4b9dd !important;
                        }
                    }
                    .pi-pdf-download:hover{
                        .pi-pdf-svg{
                            background-color: #eb000817;
                            svg{
                                path{
                                    fill: #eb0008;
                                }
                                text{
                                    fill: #eb0008;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pi-download, .pi-download2 {
            width: 32px;
            padding: 0;
        }
        .pi-download2 {
            border: 1px solid #d8d3d3;
            svg {
                path {
                    fill: #d8d3d3;
                }
            }
        }
        .pi-download:hover{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            transition: 0.3s all;
            svg path{
                fill: #fff;
            }
        }
        .pi-download-focus{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            svg path{
                fill: #fff;
            }
        }
        .gvpd-filter{
            position: relative;
            .gvpd-filter-inner{
                width: 32px;
                padding: 0;
            }
            .gvpd-filter-inner:hover{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .gvpd-filter-inner-focus{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .noOfFilter {
                position: absolute;
                right: -9px;
                top: -7px;
                background-color: #eb0008;
                border-radius: 50%;
                padding: 2px 0;
                font-size: 10px;
                width: 17px;
                height: 17px;
                text-align: center;
                color: #fff;
            }
        }
        .excel-export{
            // border-radius: 25px;
            display: flex;
            align-items: center;
            background-color: #00ced6;
            color: #fff;
            border: 1px solid #00ced6;
            padding: 5px 15px 5px 7px;
            span{
                padding: 5px;
                border-radius: 50%;
                background-color: #28d6dd;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .gen-cancel{
            border: solid 1px #e83600;
            background-color: #e83600;
            color: #fff;
            font-weight: 600;
        }
        .gen-approved{
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            color: #fff;
            padding: 5px 10px;
            font-weight: 600;
            img{
                margin-right: 7px;
                width: 17px;
            }
        }
        .add-btn{
            display: inline-block;
            position: relative;
            cursor: pointer;
            border: none;
            padding: 0px;
            background-color: transparent;
            border-radius: 50%;
            img{
                width: 27px;
            }
            .generic-tooltip {
                top: -30px;
                right: 50%;
                transform: translate(15%);
                width: 120px;
                left: auto;
            }
            .generic-tooltip:after {
                right: 10%;
                left: auto;
            }
        }
        .add-btn:hover>.generic-tooltip{
            visibility: visible;
            opacity: 1;
        }
        .get-details {
            border: solid 1px #8b77fa;
            background-color: #8b77fa;
            padding: 5px 25px;
            color: #ffffff;
        }
        .tree-dot-btn{
            width: 4px;
            height: 4px;
            background-color: #12203c;
            position: relative;
            border-radius: 5px;
            border: none;
            padding: 0;
        }
        .tree-dot-btn:after, .tree-dot-btn:before{
            position: absolute;
            content: '';
            left: 0;
            width: 4px;
            height: 4px;
            background-color: #12203c;
            border-radius: 5px;
        }
        .tree-dot-btn:after{
            bottom: -8px;
        }
        .tree-dot-btn:before{
            top: -8px;
        }
        .tdm-drop-down{
            width: 150px;
            height: 89px;
            border-radius: 8px;
            box-shadow: 0 1.5px 2px 0 #e6e6e6;
            background-color: #ffffff;
            position: absolute;
            top: 50px;
            right: 0;
            padding: 10px 15px;
            margin: 0;
            z-index: 9;
            .tdm-title-line {
                font-size: 11px;
                font-weight: 500;
                color: #82909f;
            }
            li {
                font-weight: 600;
                color: #12203c;
                font-size: 12px;
                padding: 2px 0;
            }
        }
    }
}

.ars-store-ana{
    border: none;
    box-shadow: none;
    padding: 0;
}

.expand-new-table{
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    margin-top: 30px;
    .manage-table{
        overflow-y: hidden;
        overflow-x: auto;
        .columnFilterGeneric{
            .glyphicon{
                padding: 15px 3px;
                background: #8b77fa;
            }
        }
        .gen-main-table{
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead{
                border: none;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    height: 42px;
                    background-color: #fff;
                    th{
                        height: 42px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none;
                        label{
                            margin: 0;
                            font-weight: 600;
                            color: #000000;
                            width: auto;
                            cursor: pointer !important;
                            font-size: 12px !important;
                        }
                        label.rotate180{
                            transform: rotate(0);
                            img{
                                transform: rotate(180deg);
                            }
                        }
                        img{
                            margin-left: 15px;
                            cursor: pointer;
                        }
                        .rotate180{
                            filter: sepia(1);
                        }
                    }
                    th.rotate180{
                        transform: rotate(0);
                        img{
                            filter: sepia(1);
                            transform: rotate(180deg);
                        }
                    }
                    th:last-child{
                        padding-right: 30px;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        left: 0;
                        position: sticky;
                        border-right: none;
                        border-bottom: none;
                        z-index: 1;
                        max-width: 90px;
                        padding: 0;
                        min-width: 40px;
                        label{
                            width: auto;
                        }
                        .rab-refresh{
                            display: flex;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: flex-start;
                            .rab-rinner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                span{
                                    img{
                                        margin: 0;
                                        width: 18px;
                                    }
                                }
                                label{
                                    font-size: 12px;
                                }
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                    .checkmark1{
                                        left: 0;
                                        top: 0;
                                        height: 16px;
                                        width: 16px;
                                        background-color: #ffffff;
                                        cursor: pointer;
                                        border-radius: 4px;
                                        border: solid 2px #dce6f0;
                                    }
                                    .checkmark1:after{
                                        width: 5px;
                                        height: 9px;
                                        border-width: 0 2px 2px 0;
                                        content: none;
                                    }
                                    input:checked~.checkmark1{
                                        background-color: #8b77fa;
                                        border: none;
                                    }
                                    input:checked~.checkmark1:after{
                                        width: 5px;
                                        height: 9px;
                                        border-width: 0 2px 2px 0;
                                        content: "";
                                    }
                                }
                                .select-all-text{
                                    position: absolute;
                                    top: 3px;
                                    left: 30px;
                                    padding: 4px 14px;
                                    font-size: 12px;
                                    background: #8b77fa;
                                    color: #fff;
                                    border-radius: 30px;
                                    z-index: 9;
                                }
                            }
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                margin-left: 5px;
                                .generic-tooltip {
                                    top: 1px;
                                    left: 160%;
                                    z-index: 99;
                                }
                                .generic-tooltip:after {
                                    top: 31%;
                                    left: -9%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent #000 transparent transparent;
                                }
                            }
                            .til-inner:hover>.generic-tooltip{
                                visibility: visible;
                                opacity: 1;
                            }
                            .til-edit-btn:hover{
                                background: #3ee58521;
                                svg{
                                    path{
                                        fill: #3ee585;
                                    }
                                }
                            }
                        }
                    }
                    .width40 {
                        width: 40px;
                    }
                    .width80 {
                        width: 80px;
                    }
                    .width90 {
                        width: 90px;
                    }
                }
            }
            tbody{
                tr{
                    height: 35px;
                    // background: #fcfdfe;
                    // border-bottom: 1px solid #e3e7f3;
                    td{
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: 0.5px solid #e3e7f3;
                        position: relative;
                        label{
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                            white-space: nowrap;
                            max-width: 200px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            font-size: 11px !important;
                        }
                        input[type="text"] {
                            border-radius: 6px;
                            border: solid 1px #dce6f0;
                            background-color: #ffffff;
                            font-size: 11px;
                            font-weight: 500;
                            color: #000;
                            padding: 3px 5px;
                            height: 28px;
                            width: 80px;
                        }
                        label.clr-red{
                            color: #eb0008;
                        }
                        select {
                            border-radius: 5px;
                            border: 1px solid #dce6f0;
                            background: #fff;
                            padding: 8px 10px;
                            height: 32px;
                            font-size: 11px;
                            color: #000;
                            font-weight: 600;
                            width: 250px;
                            -webkit-appearance: none;
                            background-image: url('../assets/downArrowNew.svg');
                            background-position: 96%;
                            background-repeat: no-repeat;
                            background-size: 13px;
                        }
                        .gen-sticky-tab{
                            .gen-sticky-tab-inner{
                                table{
                                    thead {
                                        tr {
                                            th {
                                                label {
                                                    font-weight: 600;
                                                    color: #000;
                                                    font-size: 12px!important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .gen-table-form {
                            display: block;
                            width: 100%;
                            padding: 15px 15px;
                            background: #ffffff;
                            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
                            form{
                                display: table;
                                margin: 0;
                                .gtf-col {
                                    display: block;
                                    width: 18%;
                                    float: left;
                                    label {
                                        font-size: 11px;
                                        font-weight: 600 !important;
                                        margin-bottom: 15px !important;
                                    }
                                    .gtfc-label {
                                        display: block!important;
                                        height: 30px;
                                        font-size: 12px !important;
                                        font-weight: 600 !important;
                                        color: #a4b9dd;
                                    }
                                    input {
                                        display: block;
                                        border-radius: 5px;
                                        border: solid 1px #dce6f0;
                                        background-color: #ffffff;
                                        width: 85%;
                                        margin-bottom: 15px;
                                        height: 30px;
                                        font-size: 12px;
                                        font-weight: 600;
                                        padding: 5px 10px;
                                    }
                                    .gtf-qty {
                                        font-weight: 600;
                                    }
                                    .gtf-qty-apv {
                                        color: #00af4a;
                                        font-weight: 600;
                                    }
                                    select {
                                        display: block;
                                        border-radius: 5px;
                                        border: solid 1px #dce6f0;
                                        background-color: #ffffff;
                                        width: 85%;
                                        margin-bottom: 15px;
                                        height: 30px;
                                        font-size: 12px;
                                        font-weight: 600;
                                        padding: 5px 10px;
                                        -webkit-appearance: none;
                                        background-image: url('../assets/downArrowNew.svg');
                                        background-repeat: no-repeat;
                                    }
                                }
                                .gtf-action-btn {
                                    display: block;
                                    float: left;
                                    button {
                                        border-radius: 5px;
                                        border: solid 1px #dce6f0;
                                        background-color: #ffffff;
                                        font-size: 12px;
                                        padding: 8px 15px;
                                        font-weight: 600;
                                    }
                                    .gtf-edit-btn{
                                        margin-right: 15px;
                                    }
                                    .gtf-save-btn{
                                        background-color: #8b77fa;
                                        border: 1px solid #8b77fa;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                    td:first-child{
                        border-left: none;
                    }
                    td:nth-child(2){
                        border-left: none;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        padding: 0;
                        left: 0;
                        position: sticky;
                        z-index: 1;
                        max-width: 90px;
                        .table-item-list{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0;
                            margin: 0;
                            height: 35px;
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                }
                                .checkmark1 {
                                    left: 0px;
                                    top: 0px;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #ffffff;
                                    cursor: pointer;
                                    border-radius: 4px;
                                    border: solid 2px #dce6f0;
                                }
                                .checkBoxLabel0 .checkmark1:after {
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                    content: none;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1 {
                                    background-color: #8b77fa;
                                    border: none;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1:after{
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                    content: "";
                                }
                            }
                            .til-inner:hover>.generic-tooltip{
                                visibility: visible;
                                opacity: 1;
                            }
                            .til-delete-btn:hover{
                                background-color: #eb000826;
                                transition: 0.3s all;
                                svg path{
                                    fill: #eb0008;
                                }
                            }
                            .til-add-btn{
                                svg{
                                    background-color: #a4b9dd;
                                    box-shadow: 0 3px 6px 0 #ebe7f5;
                                    border-radius: 4px;
                                }
                            }
                            .til-add-btn:hover{
                                background-color: #23e3eb38;
                                transition: 0.3s all;
                                svg{
                                    background-color: #ffffff;
                                    path{
                                        fill: #23e3eb;
                                    }
                                }
                            }
                            .til-edit-btn:hover{
                                background: #3ee58521;
                                svg{
                                    path{
                                        fill: #3ee585;
                                    }
                                }
                            }
                            .til-eye-btn {
                                padding: 8px 5px;
                            }
                            .til-eye-btn:hover {
                                background: #ffb10321;
                                svg{
                                    path{
                                        fill: #ffb103;
                                    }
                                }
                            }
                            .til-eyedis-btn:hover {
                                svg{
                                    path{
                                        fill: #ccd8ed;
                                    }
                                }
                            }
                        }
                    }
                    .width40 {
                        width: 40px;
                    }
                    .width80 {
                        width: 80px;
                    }
                    .width90 {
                        width: 90px;
                    }
                }
                tr:first-child{
                    td{
                        border-top: none;
                    }
                }
                .vgt-tr-bg {
                    background-color: #f7f5fb;
                }
            }
        }
    }
}
.mLeft100{
    margin-left: 100px;
    .gen-main-table{
        thead{
            tr{
                .fix-action-btn{
                    width: 100px !important;
                }
            }
        }
        tbody{
            tr{
                .fix-action-btn{
                    width: 100px !important;
                }
            }
        }
    }
}
.new-gen-pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
    background-color: #ffffff;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin-bottom: 20px;
    .ngp-left{
        display: block;
        width: 50%;
        .ngp-total-item{
            margin: 0 3px 0 15px;
        }
        .ngp-set-udf-details {
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            color: #049d97;
            background-color: #d5ffe7;
            padding: 3px 10px;
            border-radius: 20px;
            margin-left: 15px;
        }
    }
    .ngp-right{
        display: block;
        .nt-btn{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .pagination-inner{
                display: block;
                .pagination-item{
                    margin: 0;
                    padding: 0;
                    height: auto;
                    border: none;
                    border-radius: 0;
                    li{
                        display: inline-block;
                        margin-right: 8px;
                        button{
                            display: block;
                            padding: 5px;
                            width: 33px;
                            height: 40px;
                            border: none;
                            background: #fff;
                            font-weight: 600;
                            font-size: 12px;
                            transition: all .6s;
                            span{
                                letter-spacing: 3px;
                            }
                            .page-item-btn-inner{
                                display: inline-block;
                                svg{
                                    display: inline-block;
                                }
                            }
                        }
                        .pi-number-btn{
                            width: auto;
                            min-width: 40px;
                        }
                        button:hover{
                            svg{
                                path{
                                    fill: #8b77fa;
                                }
                            }
                        }
                    }
                    li:nth-child(5){
                        margin: 0;
                    }
                }
            }
        }
    }
}

// Expand Table Style
.gen-sticky-tab{
    position: sticky;
    left: 90px;
    width: min-content;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    .gen-sticky-tab-inner{
        width: 1122px;
        overflow: auto;
        table{
            margin: 0;
            thead {
                tr {
                    th {
                        label {
                            font-weight: 600;
                            color: #000;
                            font-size: 12px!important;
                        }
                    }
                }
            }
        }
    }
}
.sticky-table-width {
    width: calc(100% - 90px);
}

.gen-table-form {
    display: block;
    width: 100%;
    padding: 15px 15px;
    background: #ffffff;
    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
    form{
        display: table;
        margin: 0;
        width: 100%;
        .gtf-col {
            display: block;
            width: 18%;
            float: left;
            label {
                font-size: 11px;
                font-weight: 600 !important;
                margin-bottom: 15px !important;
            }
            .gtfc-label {
                display: block!important;
                height: 30px;
                font-size: 12px !important;
                font-weight: 600 !important;
                color: #a4b9dd;
            }
            input.gtf-input {
                display: block;
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background-color: #ffffff;
                width: 85%;
                margin-bottom: 15px;
                height: 30px;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
            }
            select {
                display: block;
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background-color: #ffffff;
                width: 85%;
                margin-bottom: 15px;
                height: 30px;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                -webkit-appearance: none;
                background-image: url('../assets/downArrowNew.svg');
                background-repeat: no-repeat;
            }
        }
        .gtf-action-btn {
            display: block;
            float: left;
            button {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background-color: #ffffff;
                font-size: 12px;
                padding: 8px 15px;
                font-weight: 600;
            }
            .gtf-edit-btn{
                margin-right: 15px;
            }
            .gtf-save-btn{
                background-color: #8b77fa;
                border: 1px solid #8b77fa;
                color: #ffffff;
            }
        }
    }
}

// Style Mrp Range Page
.mrp-range-item-detail {
    margin-bottom: 30px;
}
.mrp-range-item-detail:nth-child(5), .mrp-range-item-detail:nth-child(6), .mrp-range-item-detail:nth-child(11), .mrp-range-item-detail:nth-child(12) {
    .dropdown-menu-vendor {
        left: auto;
        right: 0px;
    }
}
.assortment-dropdown {
    margin-bottom: 30px;
    .pnl-purchase-label {
        display: block !important;
    }
}
.assortment-dropdown:nth-child(5), .assortment-dropdown:nth-child(10), .assortment-dropdown:nth-child(15) {
    .dropdown-menu-vendor {
        left: auto;
        right: 0px;
    }
}
.inputTextKeyFucMain {
    .mrl-input{
        display: inline-block;
        width: 50%;
        height: 34px;
        border-radius: 5px 0 0 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        padding: 5px;
        color: #12203c;
    }
    .mrl-input1{
        display: inline-block;
        width: 50%;
        height: 34px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        padding: 5px;
        border-left: none;
        color: #12203c;
        border-radius: 0 5px 5px 0;
    }
}
.mrp-label {
    font-size: 11px;
    color: #12203c;
    font-weight: 600;
    display: block!important;
}

// Style Assortment Page
.subscription-tab{
    .subscription-tab-list{
        .allcation-tab-item{
            position: absolute;
            top: 15px;
            right: 65px;
            p{
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                color: #1a202c;
            }
            .ap-check{
                position: absolute;
                display: inline-block;
                top: -6px;
                left: -34px;
                width: 31px;
                height: 30px;
                .checkBoxLabel0{
                    margin: 0;
                    width: 16px;
                    padding-left: 16px;
                    .checkmark1{
                        left: 7px;
                        top: 6px;
                        height: 18px;
                        width: 18px;
                        background-color: #dce6f0;
                    cursor: pointer;
                        border-radius: 4px;
                    }
                    input:checked~.checkmark1{
                        background-color: #8b77fa;
                    }
                    .checkmark1:after{
                        width: 6px;
                        height: 10px;
                        border-width: 0 2px 2px 0;
                    }
                }
            }
        }
    }
}
.assortment-page{
    display: table;
    width: 100%;
    .ap-check{
        position: absolute;
        display: inline-block;
        top: 21px;
        left: 0;
        width: 31px;
        height: 30px;
        .checkBoxLabel0{
            margin: 0;
            width: 16px;
            padding-left: 16px;
            .checkmark1{
                left: 7px;
                top: 6px;
                height: 18px;
                width: 18px;
                background-color: #dce6f0;
            cursor: pointer;
                border-radius: 4px;
            }
            input:checked~.checkmark1{
                background-color: #8b77fa;
            }
            .checkmark1:after{
                width: 6px;
                height: 10px;
                border-width: 0 2px 2px 0;
            }
        }
    }
    .ap-dorp-field{
        display: block;
        margin-left: 31px;
        .assort-label{
            font-size: 11px;
            font-weight: 600;
            display: block !important;
        }
        select{
            display: block;
            width: 200px;
            height: 30px;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            background-image: url(../assets/downArrowNew.svg);
            background-position: 96%;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            padding: 5px;
            color: #12203c;
        } 
        .select-as-color {
            width: 155px !important;
        }
    }
}
.ap-details {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dce6f0;
    .apd-title{
        h2 {
            font-size: 18px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
    }
    .apd-numbers{
        p {
            font-size: 12px;
            font-weight: 600;
            color: #5f6f89;
            margin-bottom: 0px;
        }
        h3 {
            font-size: 20px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
    }
}
.asp-table{
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    margin-top: 10px;
    .asp-manage-table{
        overflow-y: hidden;
        overflow-x: auto;
        .columnFilterGeneric{
            .glyphicon{
                padding: 12px 3px;
                background: #8b77fa;
            }
        }
        .asp-gen-table{
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead{
                border: none;
                tr{
                    height: 35px;
                    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                    background-color: #fff;
                    th{
                        height: 35px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none;
                        label{
                            font-size: 11px;
                            margin: 0;
                            font-weight: 600;
                            color: #000000;
                            width: auto;
                        }
                        img{
                            margin-left: 15px;
                        }
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        left: 0;
                        position: sticky;
                        border-right: none;
                        border-bottom: none;
                        max-width: 90px;
                        label{
                            width: auto;
                        }
                    }
                }
            }
            tbody{
                tr{
                    height: 35px;
                    background: #fcfdfe;
                    border-bottom: 1px solid #e3e7f3;
                    td{
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: none;
                        label{
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                            font-size: 11px;
                        }
                        label.clr-red{
                            color: #eb0008;
                        }
                    }
                    td:first-child{
                        border: none;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        padding: 0;
                        left: 0;
                        position: sticky;
                        max-width: 90px;
                        .table-item-list{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0;
                            margin: 0;
                            height: 35px;
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                }
                                .checkmark1 {
                                    left: 0px;
                                    top: 0px;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #dce6f0;
                                    cursor: pointer;
                                    border-radius: 4px;
                                }
                                .checkBoxLabel0 .checkmark1:after {
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1 {
                                    background-color: #8b77fa;
                                }
                            }
                            .til-delete-btn:hover{
                                background-color: #eb000826;
                                transition: 0.3s all;
                                svg path{
                                    fill: #eb0008;
                                }
                            }
                            
                            .til-add-btn{
                                svg{
                                    background-color: #a4b9dd;
                                    box-shadow: 0 3px 6px 0 #ebe7f5;
                                    border-radius: 4px;
                                }
                            }
                            .til-add-btn:hover{
                                background-color: #23e3eb38;
                                transition: 0.3s all;
                                svg{
                                    background-color: #ffffff;
                                    path{
                                        fill: #23e3eb;
                                    }
                                }
                            }
                        }
                    }
                }
                tr:first-child{
                    td{
                        border-top: none;
                    }
                }
            }
        }
    }
}

// Style Site To Site Mapping
.site-mapping-page{
    display: table;
    width: 100%;
    .smp-inner{
        display: block;
        label{
            font-size: 11px;
            font-weight: 600;
            display: block !important;
        }
        select{
            display: block;
            width: 90%;
            height: 30px;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            background-image: url(../assets/downArrowNew.svg);
            background-position: 96%;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            padding: 5px;
            color: #12203c;
        } 
        input{
            display: block;
            width: 90%;
            height: 30px;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            padding: 5px;
            color: #12203c;
        }
        input[type="date"] {
            font-size: 12px;
            background-image: url(../assets/calender1.svg);
            background-position: 96%!important;
            background-repeat: no-repeat;
            background-size: 15px;
        }
        .smpi-store-code {
            border: solid 1px #bfdfff;
            background-color: #f2f5f8;
        }
        .gen-custom-select {
            width: 90%;
        }
    }
}

.season-mapping-tab{
    .subscription-tab-list{
        li.active{
            a:after{
                background-color: #8b77fa;
            }
        }
    }
}

// Style Mrp Range Details
.mrp-range-detail{
    min-width: 800px;
    padding: 0px;
    height: 400px;
    .grccm-head{
        height: 55px;
        align-items: center;
        padding: 10px 30px;
        box-shadow: 0 0 22px 0 hsla(0,0%,90%,.5);
        h3{
            font-weight: bold;
        }
        .grc-confirm-btn {
            padding: 6px 25px;
        }
    }
    .mrd-body{
        padding: 15px 30px;
        h3{
            font-size: 14px;
            font-weight: 600;
            color: #12203c;
        }
        .mrdb-section {
            display: flex;
            padding: 10px 0 30px;
            border-bottom: 1px solid #cee3fd;
            .mrdbs-inner {
                display: block;
                margin-right: 10px;
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #a4b9dd;
                    margin-bottom: 5px;
                    margin-left: 7px;
                }
                button {
                    border-radius: 14px;
                    border: solid 1px #cee3fd;
                    background-color: #e5eef7;
                    font-size: 11px;
                    font-weight: 600;
                    color: #12203c;
                    padding: 2px 13px;
                    margin-right: 10px;
                }
            }
        }
        .mrdb-details {
            label {
                display: block !important;
                font-size: 12px;
                font-weight: 500;
            }
            .mrdbd-top {
                margin-top: 20px;
                p {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .mrdbd-bottom {
                margin-top: 20px;
                .mrl-input{
                    display: inline-block;
                    width: 120px;
                    height: 30px;
                    border-radius: 5px 0 0 5px;
                    border: solid 1px #dce6f0;
                    background-color: #ffffff;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px;
                    color: #12203c;
                }
                .mrl-input1{
                    display: inline-block;
                    width: 120px;
                    height: 30px;
                    border: solid 1px #dce6f0;
                    background-color: #ffffff;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px;
                    border-left: none;
                    color: #12203c;
                    border-radius: 0 5px 5px 0;
                }
            }
        }
        .mrd-table{
            max-height: 330px;
            .table{
                thead{
                    tr{
                        border-bottom: .5px solid #e3e7f3;
                    }
                }
                tbody{
                    tr{
                        border-bottom: .5px solid #e3e7f3;
                        td{
                            label{
                                .mrdt-input{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mrd-footer{
        .grcmb-inner{
            .grcmb-inner-total-no{
                .mrd-jump{
                    border-radius: 5px;
                    border: 1px solid #dce6f0;
                    width: 50px;
                    height: 34px;
                    padding: 7px 0;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 600!important;
                    color: #000;
                    margin-left: 10px;
                    display: inline-block;
                }
            }
        }
    }
}

// Style Event Master Table
.add-more-button {
    button.amb-add {
        box-shadow: 0px 1px 5px 2px hsla(0,0%,55%,.16);
        background: #fff;
        font-size: 12px;
        font-weight: 500;
        height: 32px;
        border-radius: 30px;
        padding: 5px 10px 5px 9px;
        display: flex;
        align-items: center;
        .amba-inner{
            margin-right: 7px;
        }
    }
}
.event-master-table{
    position: relative;
    display: block;
    margin-top: 20px;
    table{
        display: table;
        white-space: nowrap;
        border-collapse: separate;
        margin: 0;
        border-spacing: 0 15px;
        thead {
            border: none;
            tr {
                height: 35px;
                background-color: #fff;
                th {
                    height: 35px;
                    vertical-align: middle;
                    white-space: nowrap;
                    border: none;
                    cursor: pointer;
                    label{
                        margin: 0;
                        font-weight: 600;
                        color: #000000;
                        width: auto;
                        cursor: pointer !important;
                        font-size: 12px !important;
                    }
                }
                .fix-action-btn {
                    width: 40px;
                    background-color: #fff;
                    border: 0;
                    // left: 0;
                    // position: sticky;
                    border: none;
                    // z-index: 1;
                    max-width: 90px;
                    // padding: 0;
                    min-width: 35px;
                }
            }
        }
        tbody {
            tr {
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                padding: 5px 0;
                margin-bottom: 5px;
                td {
                    border: none;
                    label{
                        color: #000;
                        margin: 0;
                        font-weight: 500;
                        white-space: nowrap;
                        vertical-align: middle;
                        font-size: 11px !important;
                    }
                    select{
                        display: block;
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 1px #dce6f0;
                        background-color: #ffffff;
                        font-size: 12px;
                        font-weight: 500;
                        background-image: url(../assets/downArrowNew.svg);
                        background-position: 96%;
                        background-repeat: no-repeat;
                        -webkit-appearance: none;
                        padding: 5px;
                        color: #12203c;
                        min-width: 130px;
                    } 
                    input{
                        display: block;
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 1px #dce6f0;
                        background-color: #ffffff;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 5px;
                        color: #12203c;
                    }
                    input[type="date"] {
                        font-size: 12px;
                        background-image: url(../assets/calenderNew2.svg);
                        background-position: 92%!important;
                        background-repeat: no-repeat;
                        background-size: 14px;
                        width: 150px;
                    }
                    input[type="date"]::after {
                        position: absolute;
                        display: inline-block;
                        content: attr(value)!important;
                    }
                    input::placeholder {
                        font-size: 11px;
                    }
                    .smpi-store-code {
                        border: solid 1px #bfdfff;
                        background-color: #f2f5f8;
                    }
                }
                .fix-action-btn {
                    width: 40px;
                    background-color: #fff;
                    border: 0;
                    // left: 0;
                    // position: sticky;
                    border: none;
                    // z-index: 1;
                    max-width: 90px;
                    // padding: 0;
                    min-width: 35px;
                    text-align: center;
                    .table-item-list{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-around;
                        padding: 0;
                        margin: 0;
                        height: 35px;
                        .til-inner{
                            display: inline-block;
                            padding: 7px;
                            position: relative;
                            border-radius: 50%;
                            cursor: pointer;
                            .checkBoxLabel0{
                                width: 16px;
                                height: 16px;
                                padding-left: 16px;
                            }
                            .checkmark1 {
                                left: 0px;
                                top: 0px;
                                height: 16px;
                                width: 16px;
                                background-color: #ffffff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: solid 2px #dce6f0;
                            }
                            .checkBoxLabel0 .checkmark1:after {
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: none;
                            }
                            .checkBoxLabel0 input:checked~.checkmark1 {
                                background-color: #8b77fa;
                                border: none;
                            }
                            .checkBoxLabel0 input:checked~.checkmark1:after{
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                        .til-inner:hover>.generic-tooltip{
                            visibility: visible;
                            opacity: 1;
                        }
                        .til-delete-btn:hover{
                            background-color: #eb000826;
                            transition: 0.3s all;
                            svg path{
                                fill: #eb0008;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Style Create Adhoc Page

.create-adhoc-request {
    display: table;
    width: 100%;
    margin-top: 30px;
    label{
        font-weight: 600;
        white-space: nowrap;
        vertical-align: middle;
        font-size: 11px!important;
        color: #3a5074b5;
    }
    select{
        display: block;
        width: 100%;
        height: 34px;
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        background-image: url(../assets/downArrowNew.svg);
        background-position: 96%;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        padding: 5px;
        color: #12203c;
        min-width: 130px;
    } 
    input{
        display: block;
        width: 100%;
        height: 34px;
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500 !important;
        padding: 5px;
        color: #12203c !important;
    }
    input[type="date"] {
        font-size: 12px;
        background-image: url(../assets/calenderNew2.svg);
        background-position: 92%!important;
        background-repeat: no-repeat;
        background-size: 14px;
    }
    input[type="date"]::after {
        position: absolute;
        display: inline-block;
        content: attr(value)!important;
    }
    input::placeholder {
        font-size: 12px;
        font-weight: 500;   
    }
    .car-table {
        display: block;
        margin-top: 30px;
        h3 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
        .cart-inner {
            position: relative;
            .add-more-button {
                position: absolute;
                top: 18px;
                right: 0;
                z-index: 99;
                .amb-add {
                    height: 28px;
                    padding: 1px 9px 1px 8px;
                }
            }
        }
    }
}

// Style Inventory Configuration Page

.inventory-configuration-filter {
    display: block;
    .icf-item-filter {
        border-radius: 12px;
        border: 1px solid #dce6f0;
        padding: 11px 13px;
        min-height: 150px;
        margin-bottom: 30px;
        .icfif-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h3 {
            font-size: 13px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
        h3 {
            font-size: 14px;
            font-weight: 600;
            position: relative;
            display: inline-block;
            transition: all .6s;
        }
        .icfif-setting {
            background-color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 4px 15px;
            border: 1px solid #dce6f0;
            border-radius: 5px;
            height: 32px;
        }
        .icfif-setting:hover {
            background-color: #8b77fa;
            border: 1px solid #8b77fa;
            color: #ffffff;
            transition: 0.6s all;
        }
        .icfif-description {
            display: block;
            margin-top: 8px;
            p {
                font-size: 11px;
                font-weight: 600;
                margin: 0;
            }
            .icfifd-text {
                display: block;
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
            }
        }
        .nph-switch-btn {
            margin-left: 20px;
            .tg-switch {
                width: 93px;
                height: 23px;
                .tg-slider {
                    background-color: #ccc;
                }
                .tg-slider:before {
                    height: 17px;
                    width: 17px;
                    left: 3px;
                    bottom: 3px;
                    background-color: #fff;
                    transition: 0.9s;
                }
                input:checked+.tg-slider:before {
                    transform: translateX(70px);
                }
                input:checked+.tg-slider {
                    background-color: #8b77fa;
                }
                .ccbd-text {
                    position: absolute;
                    top: 3px;
                    left: 30px;
                    color: #fff;
                    font-size: 12px;
                    cursor: pointer;
                }
                .ccbd-text.advance{
                    left: 12px;
                }
            }
        }
        .pi-new-layout {
            box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
            padding: 10px 15px;
            margin-top: 20px;
        }
    }
}


// Style Setting Modal
.invetory-setting-modal {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 540px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    border-radius: 0;
    .ism-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        height: 80px;
        // box-shadow: 0 1px 20px 1px hsla(0,0%,90%,.5);
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        .ismh-btn {
            button {
                color: #12203c;
                padding: 4px;
                height: auto;
                border: solid 2px;
                border-radius: 50%;
                background: #fff;
            }
            .ismhb-save {
                background: #8b77fa;
                color: #fff;
                padding: 5px 25px;
            }
        }
    }
    .ism-body {
        display: flex;
        width: 100%;
        padding: 0 30px;
        .ismb-left {
            display: block;
            width: 50%;
            padding-right: 30px;
            .ismbl-head {
                display: block;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #12203c;
                    margin: 0;
                }
                p {
                    font-size: 11px;
                    font-weight: 500;
                    color: #a4b9dd;
                    margin: 0;                
                }
            }
            .chmbl-headers {
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                margin-top: 15px;
                max-height: 330px;
                overflow: auto;
                padding-right: 12px;
                .chmblh-items {
                    display: block;
                    position: relative;
                    margin-top: 10px;
                    padding: 0px 35px;
                    height: 42px;
                    padding-right: 0;
                    cursor: pointer;
                    // border-radius: 7px;
                    .checkBoxLabel0 {
                        width: 100%;
                        height: auto;
                        padding: 11px 20px;
                        padding-left: 15px;
                        margin: 0;
                        font-size: 12px;
                        font-weight: 500;
                        color: #21314b;
                        cursor: pointer!important;
                        box-shadow: 0 3px 6px 0 #e7ebf2;
                        .checkmark1 {
                            left: -30px;
                            top: 12px;
                            height: 16px;
                            width: 16px;
                            background-color: #fff;
                            cursor: pointer;
                            border-radius: 4px;
                            border: 2px solid #dce6f0;
                        }
                        .checkmark1:after{
                            content: none;
                            width: 4px;
                            height: 8px;
                            border-width: 0 1px 1px 0;
                        }
                        input:checked~.checkmark1 {
                            background-color: #8b77fa;
                            border: none;
                        }
                        input:checked~.checkmark1:after{
                            width: 5px;
                            height: 9px;
                            border-width: 0 2px 2px 0;
                            content: "";
                        }
                    }
                    .chmblh-drag-wrapper {
                        display: block;
                        position: absolute;
                        top: 13px;
                        right: 20px;
                        width: 8px;
                        height: 16px;
                        .chmblh-drag {
                            display: block;
                            position: absolute;
                            top: 0px; //9px
                            right: 0px;
                            width: 2px;
                            height: 16px;
                            background: #fff;
                            border-top: solid 2px #9ea9ce;
                            border-bottom: solid 2px #9ea9ce;
                        }
                        .chmblh-drag::before {
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #9ea9ce;
                        }
                    }
                }
                .chmblh-items:hover{
                    // box-shadow: 0 3px 6px 0 #e6e2ff;
                    .checkBoxLabel0{
                        font-weight: 600;
                    }
                }
                .chmblh-items:focus {
                    border: solid 2px #f8c902;
                    .chmblh-drag {
                        border-top: solid 2px #f8c902;
                        border-bottom: solid 2px #f8c902;
                    }
                    .chmblh-drag::before {
                        background-color: #f8c902;
                    }
                }
            }
        }
        .ismb-right {
            display: block;
            width: 50%;
            padding-left: 30px;
            .ismbr-head {
                display: block;
                padding-left: 3px;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #12203c;
                    margin: 0;
                }
                p {
                    font-size: 11px;
                    font-weight: 500;
                    color: #a4b9dd;
                    margin: 0;                
                }
            }
            ul {
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                margin-top: 15px;
                max-height: 330px;
                overflow: auto;
                padding-right: 12px;
                padding-left: 3px;
                li {
                    display: block;
                    position: relative;
                    margin-top: 10px;
                    padding: 10px 35px;
                    height: 42px;
                    box-shadow: 0 3px 6px 0 #e7ebf2;
                    border: solid 2px transparent;
                    transition: 0.6s all;
                    // border-radius: 7px;
                    cursor: pointer;
                    .chmblhsl-text{
                        font-size: 12px;
                        font-weight: 600;
                        color: #21314b;
                        padding-left: 20px;
                    }
                    .chmblhsl-close{
                        img{
                            display: inline-block;
                            position: absolute;
                            top: 14px;
                            right: 10px;
                        }
                    }
                    .chmbrhi-fixed {
                        display: none;
                        position: absolute;
                        top: 8px;
                        right: 20px;
                        font-size: 11px;
                        font-weight: 500;
                        color: #718096;
                    }
                    .chmblh-drag {
                        display: block;
                        position: absolute;
                        top: 13px;
                        left: 10px;
                        width: 18px;
                        height: 12px;
                        background: #fff;
                        border-top: 2px solid #9ea9ce;
                        border-bottom: 2px solid #9ea9ce;
                    }
                    .chmblh-drag::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #9ea9ce;
                    }
                }
                li:hover, li:focus {
                    transition: 0.6s all;
                    box-shadow: 0 3px 6px 0 #e7ebf2;
                    border: solid 2px #f8c902;
                    .chmblh-drag {
                        border-top: solid 2px #f8c902;
                        border-bottom: solid 2px #f8c902;
                    }
                    .chmblh-drag::before {
                        background-color: #f8c902;
                    }
                }
            }
        }
    }
    .ism-footer {
        display: block;
        padding: 25px;
        text-align: center;
        .ismhb-save {
            border-radius: 4px;
            font-size: 12px;
            font-weight: 600;
            height: 34px;
            background: #8b77fa;
            color: #fff;
            padding: 5px 30px;
        }
    }
}

.drag-line {
    position: fixed;
    z-index: 9999;
    height: 0;
    margin-top: -1px;
    border-bottom: dashed 2px #f8c902 !important;
    display: none;
}

.dropdown-menu-city1 {
    .dropdown-menu-city-item {
        li {
            position: relative;
            // .vendor-details {
            //     margin-left: 13px;
            // }
            .checkBoxLabel0{
                width: 16px;
                height: 16px;
                padding-left: 16px;
                margin: 0;
                position: absolute;
                left: 7px;
                top: 4px;
            }
            .checkmark1 {
                left: 0px;
                top: 0px;
                height: 16px;
                width: 16px;
                background-color: #ffffff;
                cursor: pointer;
                border-radius: 4px;
                border: solid 2px #dce6f0;
            }
            .checkBoxLabel0 .checkmark1:after {
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
                content: none;
            }
            .checkBoxLabel0 input:checked~.checkmark1 {
                background-color: #8b77fa;
                border: none;
            }
            .checkBoxLabel0 input:checked~.checkmark1:after{
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
                content: "";
            }
        }
        .dmci-checked {
            border-bottom: 1px solid #ccd8ed;
        }
    }
}