.inventoryAutoConfig{
    .configurationDetails{
        min-height: 60vh;
        height: auto;
    }
    .configContainer{
        // padding: 25px 15px 20px 18px;
        padding: 15px 0px 50px 0px;
        height: auto;
        border-radius: 26px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        h3{
            @include fontStyle(13px , 600 ,#4a4a4a);
        }
        .top-config:after{
            width: 100%;
            left: 0px;
        }
    }
    .configJobDetails{
        height: auto;
        padding: 8px 0px 20px 0px;
        border-radius: 26px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
    }
    .predectionTime{
        input[type=text]{
            @include fontStyle(11px , 600 ,#4a4a4a);
            @include inputStyle(5px , 1px solid #d2d2d2 , 100% , 29px , 5px);
            &::placeholder{
                font-weight:700;
                color: #4a4a4a;
            }
        }
        .chooseYear{
            h5{
                @include fontStyle(11px , 500 ,#4a4a4a);
            }
        } 
    }
    .top-config{
        min-height: 22vh;
        height: auto;
        .headers{
            padding: 15px 20px 0px 20px;
        }
        select{
            font-weight: bold !important;
            height: 35px !important;
            text-indent: 10px;
            -webkit-appearance: none;
            background: url("../assets/select-icon.svg") no-repeat;
            background-position: 94% 50%;
            background-size: 11px;        
        }
        input[type=date]{
            font-weight: 600;
            height: 35px;
            text-indent: 10px;
        }
        .filterButton{
            float: right;
            width: 100px;
            height: 30px;
            border-radius: 17px;
            border: solid 1px #6629db;
            background-color: #6629db;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            img{
                height: 9px;
                margin-left: 10px;
            }
        }
    }
    .bottom-config{
        display: flex;
        padding: 0px 17px;
        .headingMain{
            h3{
                display: inline-block;
            }
            p{
                display: inline-block;
                padding-left: 15px;
                 @include fontStyle(11px , normal ,#9b9b9b);
                letter-spacing: 0.65px;
            }
        }    
        .left{
            padding-right: 32px;
            &:after{
                content: "";
                position: absolute;
                height: 144%;
                width: 1px;
                background: #efefef;
                right: 0;
                top: -31px;
            }
        }
        .eachConfigTask{
            border-radius: 14px;
            box-shadow: 0 0 12px 0 rgba(196, 196, 196, 0.5);
            background-color: #ffffff;
            height: auto;
            padding: 10px;
            min-height: 117px;
            span.JobName{
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.7px;
                color: #535b78;
                margin-bottom: 10px;
                display: inline-block;
                width: 127px;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            h5{
                @include fontStyle(13px , bold ,#535b78);
                letter-spacing: 0.7px;
            }
            p{
                &.time{
                    @include fontStyle(10px , 500 ,#535b78);
                    letter-spacing: 0.7px;
                    margin-bottom: 8px;
                }
            }
            label{
                @include fontStyle(11px , 500 ,#cacaca);
                letter-spacing: 0.7px;
                span{
                    @include fontStyle(11px , bold ,#535b78);
                }
                margin: 0;
            }
            span{
                &.recentAdded{
                    @include fontStyle(9px , normal ,#7ed321);
                    letter-spacing: 0.65px;
                }
            }
            .editBtn{
                @include fontStyle(10px , normal ,#535b78);
                letter-spacing: 0.65px;
                background: transparent;
                position: absolute;
                right: 3px;
                top: 3px;
                img{
                    height: 10px;
                    margin-left: 5px
                }
            }
        }   
        .previousConfigRight{
            align-items: center;
            justify-content: center;
            display: flex;
            
        }
    }
}
.dropdownTime{
    // display: block;
    top: 57px;
    width: 83%;
    height: auto;
    z-index: 6;
    border-radius: 5.5px;
    box-shadow: 0 0 12px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    position: absolute;
    .timer{
        margin: 22px 0px;
        display: flex;
        padding : 0px 3px;
        .hour{
            ul{
                height: 175px;
                overflow: hidden;
                scroll-behavior: smooth;
                padding-bottom:80px;
                padding-top: 72px;
            }
            .topArrow{
                position: absolute;
                top: -12px;
                right: 16px;
                width: 10px;
            }
            .bottomArrow{
                position: absolute;
                bottom: -12px;
                right: 16px;
                width: 10px;
            }
            &:after{
                position: absolute;
                content: ":";
                top: 34%;
                right: -8px;
                font-size: 38px;
                color: #e5e5e5;
            }
        }
        .minute{
            .topArrow{
                position: absolute;
                top: -12px;
                right: 16px;
                width: 10px;
            }
            .bottomArrow{
                position: absolute;
                bottom: -12px;
                right: 16px;
                width: 10px;
            }
            ul{
                height: 175px;
                overflow: hidden;
                scroll-behavior: smooth;
                padding-bottom:80px;
                padding-top: 72px;
            }
        }
        .amPm{
            display: flex;
            align-items: center;
            padding-left: 5px;
            ul{
                li{
                    height: 23px;
                    &.active{
                        @include fontStyle(12px , 500 ,#ffffff);
                        letter-spacing: 0.8px;
                        border-radius: 17.5px;
                        background-color: #6629db;
                        padding: 13px 3px;
                    }
                    &:not(.active){
                        margin-top: 10px;
                    }

                }
            }
        }
    }
    ul {
        text-align: center;
        li{
            @include fontStyle(12px , normal ,#4a4a4a);
            letter-spacing: 0.75px;
            padding: 3px 0px;
            margin:0;
            margin-right: 0px !important;
            display: block;
        }
        &::after{
            content: "";
            border-radius: 5px;
            border: 1px solid #e6e6e6;
            font-weight: 700;
            padding: 11px 4px;
            font-size: 13px;
            position: absolute;
            top: 40%;
            left: 11px;
            width: 26px;
            height: 27px;
        }
    }
}
.autoConfigInventory{
    height: 378px;
    width: 43%;
    padding :0px 25px !important;
     .topArrow , .bottomArrow{
        right: 23px !important;
    }
    .close-btn{
        float: none;
    }
    .customDate{
        h5{
            @include fontStyle(12px , 500 ,#4a4a4a);
        }
        input[type=text]{
            height: 35px;
            border-radius: 5.5px;
            border: solid 0.5px #d2d2d2;
            &::placeholder{
                @extend %placeholder;
            }
        } 
    }
    .deleteCongig{
        @include buttonStyle(12px , normal , 4px , transparent , #d0021b , 8px 18px , solid 1px #d0021b)
    }
    .modal-footer{
        margin-top: 95px;
        display: inline-flex;
    }
    .clearBtn{
        @extend %clearBtn;
        margin-right: 15px;
    }
    .saveBtn{
        @extend %saveBtn;
    }
}
.filterDiv{
    background: #fafafa;
    padding:20px 25px !important;
    select{
        background-color: #fff !important;
    }
}
.filterBtn{
    margin-top: 6px;
    width: 117px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #6629db;
    background-color: #6629db;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
}
.runningJobs{
    position: absolute;
    top: 25px;
    left: -20px;
    z-index: 2;
    ul {
        li{
            cursor: pointer;
            border-radius: 6px;
            border: solid 1px #d6d6d6;
            background-color: #ffffff;
            padding: 6px 8px;
            font-size: 11px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            color: #d6d6d6;
            margin-left:10px;
            &.active{
                background: #7ed321;
                color: #fff;
            }
        }
    }
}
.currentJobName{
    h5{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #9b9b9b;
        margin-bottom: 8px;
    }
    label{
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #535b78;
    }
}
.rightShift{
    display: inline-block;
    position: relative;
    opacity: 0.16;
    border: solid 1px #9100ff;
    background-color: #f5f5f5;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
    svg{
        top: 9px;
        left: 11px;
        height: 14px;
        position: absolute;
    }
    &:hover{
        transition: 0.2s;
        background: #6d6dc9 !important;
        opacity: 1 !important;
        svg path{
            stroke: #fff;
        }
    }
}   
.leftShift{
    display: inline-block;
    position: relative;
    opacity: 0.16;
    border: solid 1px #9100ff;
    background-color: #f5f5f5;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    svg{
        top: 9px;
        left: 10px;
        height: 14px;
        position: absolute;
    }
    &:hover{
        transition: 0.2s;
        background: #6d6dc9 !important;
        opacity: 1 !important;
        svg path{
            stroke: #fff;
        }
    }
}
.jobNamePagination{
    display: inline-block;
    position: absolute;
    right: -49px;
    top: 6px;
    label{
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.75px;
        color: #535b78;
        margin: 0px 7px;
        cursor: pointer!important;
    }
}
.rotateAnimation {
   animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
.autoconfiglLeft{
    width: 69%;
    display: inline-block;
}
.autoConfigRight{
    width: 29%;
    display: inline-block;
    float: right;
}
.filterBtns{
    margin-left: 15px;
    .filterBtn{
        width:auto;
        padding: 0 13px;
    }
    .removeBtn{
        border-radius: 5px;
        border: solid 1px #535b78;
        background: transparent;
        color: #535b78;
    }
}
.fieldWidth{
    width: 21%;
    display: inline-block;
    margin-right: 5px;
}
.filterModalMain{
    margin: 0 14.5% auto !important;
    .modalpoColor{
        width: 70% !important;
    }
    .filterDiv{
        border-radius: 0px 0px 22px 22px;
    }
    select{
        font-weight: bold !important;
        height: 35px !important;
        text-indent: 10px;
        -webkit-appearance: none;
        background: url("../assets/select-icon.svg") no-repeat;
        background-position: 94% 50%;
        background-size: 11px;        
    }
    .chooseYear{
        display: inline-block;
        height: 33vh;
        overflow: auto;
        width: 100%;
    }
}
.storeDropPos{
    left: -3px !important;
    bottom: auto !important;
    top: 22px;
}

// Style New Auto Config Page 2020 
.auto-confing-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    .ach-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .gvpd-search {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            input[type="search"] {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            .search-image {
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
        .achl-auto-text{
            h3 {
                margin: 0;
                font-size: 14px;
                font-weight: 700;
                color: #21314b;
                margin-right: 25px;
            }
            p {
                margin: 0;
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
            }
        }
        h3 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
            margin-right: 25px;
            span{
                font-weight: 500;
            }
        }
        .global-search-tab{
            margin: 0px;
        }
        .achl-filters {
            display: block;
            width: 100%;
            padding: 10px 0;
            .achlf-head {
                margin-bottom: 10px;
                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    color: #21314b;
                    margin: 0;
                }
            }
            .achlf-body {
                display: table;
                width: 100%;
                label {
                    font-size: 12px;
                    color: #3a5074;
                    font-weight: 500;
                }
                input[type="date"] {
                    display: block;
                    width: 100%;
                    height: 34px;
                    border: 1px solid #cbd5e0;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 500!important;
                    background-position: 95%;
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-image: url('../assets/calenderNew2.svg');
                }
                .disflexBottom {
                    display: flex;
                    align-items: flex-end;
                    height: 56px;
                    button {
                        padding: 0;
                        background-color: #fff;
                        border-radius: 5px;
                        font-size: 12px;
                        font-weight: 600;
                        color: #2d3748;
                        margin-right: 20px;
                        transition: .6s ease-in-out;
                        padding: 4px 25px;
                        border: 1px solid #cbd5e0;
                        height: 34px;
                    }
                    .orfbab-submit {
                        background-color: #8b77fa;
                        border: 1px solid #8b77fa;
                        color: #fff;
                    }
                }
            }
        }
    }
    .ach-right{
        // display: flex;
        // align-items: center;
        // justify-content: flex-end;
        button {
            border-radius: 21px;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            padding: 6px 8px;
            height: 32px;
            display: flex;
            align-items: center;
            svg{
                margin-right: 8px;
            }
        }
        .new-trigger{
            color: #51aa77;
            background: #c8f9e6;
            box-shadow: none;
        }
        .achjbt-row{
            width: 290px;
            position: relative;
            display: block;
            margin: 8px 0px;
            display: inline-block;
            p {
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
                margin: 0;
                margin-bottom: 2px;
            }
            button {
                display: block;
                width: 100%;
                height: 34px;
                border-radius: 6px;
                font-size: 12px;
                font-weight: 500;
                border: 1px solid #ccd8ed;
                background: #fff;
                color: #12203c;
                box-shadow: none;
            }
            .achjbt-jobs{
                border: 1px solid #ccd8ed;
                background-image: url('../assets/downArrowNew.svg');
                background-position: 98%;
                background-repeat: no-repeat;
                padding: 4px 23px 4px 7px;
                text-align: left;
            }
            .achjbtj-dropdown {
                display: block;
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                        position: relative;
                        .checkBoxLabel0 {
                            // width: 16px;
                            height: 16px;
                            padding-left: 24px;
                            margin: 0;
                            font-size: 12px;
                            cursor: pointer !important;
                            .checkmark1 {
                                left: 0;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #fff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: 2px solid #dce6f0;
                            }
                            .checkmark1:after {
                                content: none;
                            }
                            input:checked~.checkmark1 {
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1:after {
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                        .checkBoxLabel0{
                            font-weight: 600;
                            color: #21314b;
                        }
                    }
                }
            }
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            button{
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                font-size: 12px;
                padding: 4px;
                margin-right: 20px;
                height: 32px;
                font-weight: 500;
                position: relative;
                display: inline-block;
                width: 32px;
                text-align: center;
                svg{
                    margin: 0px;
                }
            }
            .pi-download-focus, .pi-download:hover {
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                svg{
                    path{
                        fill: #fff;
                    }
                }
            }
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                right: 20px;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        width: 100%;
                        text-align: left;
                        img{
                            width: 17px;
                            // margin-right: 12px;
                        }
                        span{
                            display: inline-block;
                            padding: 7px 0px;
                            border-radius: 50%;
                            height: 32px;
                            width: 32px;
                            text-align: center;
                            margin-right: 10px;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                    }
                    .export-excel{
                        color: #a4b9dd;
                        span{
                            margin-right: 10px;
                        }
                    }
                    .export-excel:hover{
                        color: #12203c;
                        span{
                            background-color: #049d4b14;
                            svg{
                                path{
                                    fill: #049d4b;
                                }
                                text{
                                    fill: #049d4b;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pihitory-download-dropdown, .gvpd-filter {
            display: inline-block;
            position: relative;
            .pi-download, .gvpd-filter-inner {
                width: 32px;
                padding: 0;
                height: 34px;
                display: block;
                border: 1px solid #dce6f0;
                border-radius: 6px;
                margin-left: 20px;
                svg {
                    margin: 0px;
                }
            }
            .pi-download-focus, .pi-download:hover, .gvpd-filter-inner-focus, .gvpd-filter-inner:hover {
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.ach-job-box {
    border-radius: 12px;
    box-shadow: 0 1px 10px 0 rgba(180, 197, 214, 0.65);
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 350px;
    height: 440px;
    .achjb-head {
        display: block;
        text-align: right;
        button{
            border-radius: 19px;
            border: solid 1px #e8e8e8;
            background-color: #ffffff;
            box-shadow: none;
            padding: 4px 11px;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .achjb-round {
        display: flex;
        align-items: center;
        justify-content: center;
        .achjbr-inner {
            width: 180px;
            height: 180px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 0;
            svg{
                position: absolute;
                z-index: -1;
                transform: rotate(-90deg);
            }
            .achjb-rotate{
                animation: achjb-rotate 12s linear infinite;
                transform: rotate(0deg);
            }
            @keyframes achjb-rotate 
            {
                100%{
                    transform: rotate(360deg);
                }
            }
            .achjbri-text {
                display: block;
                text-align: center;
                .achjbri-time {
                    display: block;
                    font-size: 15px;
                    font-weight: 700;
                    color: #12203c;
                    span{
                        font-size: 11px;
                        font-weight: 600;
                    }
                }
                .achjbri-els {
                    font-size: 10px;
                    font-weight: 500;
                    color: #97abbf;
                }
            }
        }
        @keyframes achjbr-inner {
            100% {
              transform: rotate(360deg);
            }
        }
    }
    .achjb-text {
        display: block;
        padding: 10px 15px 10px;
        .achjbt-row {
            display: block;
            margin-bottom: 20px;
            position: relative;
            // text-align: center;
            .rodfijdb-text{
                display: inline-block;
                margin-top: 20px;
            }
            .rodfijdb-text:first-child {
                margin-right: 20px;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                color: #97abbf;
                margin: 0;
                margin-bottom: 2px;
            }
            h5 {
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
                margin: 0;
            }
            .achjbtr-inner {
                display: inline-block;
                width: 40%;
            }
            .achjbtrwidth50{
                display: inline-block;
                width: 50%;
                h5{
                    .achjbtr-tick {
                        margin-right: 5px;
                    }
                }
            }
            button {
                display: block;
                width: 100%;
                height: 34px;
                border-radius: 6px;
                font-size: 12px;
                font-weight: 500;
                border: 1px solid #ccd8ed;
                background: #fff;
                color: #12203c;
            }
            .achjbt-jobs{
                border: 1px solid #ccd8ed;
                background-image: url('../assets/downArrowNew.svg');
                background-position: 98%;
                background-repeat: no-repeat;
                padding: 4px 23px 4px 7px;
                text-align: left;
            }
            .achjbt-stop-process {
                border: 1px solid #e83600;
                color: #e83600;
            }
            .achjbt-start-process {
                border: 1px solid #50d388;
                color: #50d388;
            }
            .achjbt-run{
                color: #fff;
                background-color: #8b77fa;
            }
            .achjbtj-dropdown {
                display: block;
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                        position: relative;
                        .checkBoxLabel0 {
                            // width: 16px;
                            height: 16px;
                            padding-left: 24px;
                            margin: 0;
                            font-size: 12px;
                            cursor: pointer !important;
                            .checkmark1 {
                                left: 0;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #fff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: 2px solid #dce6f0;
                            }
                            .checkmark1:after {
                                content: none;
                            }
                            input:checked~.checkmark1 {
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1:after {
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                        .checkBoxLabel0{
                            font-weight: 600;
                            color: #21314b;
                        }
                    }
                }
            }
        }
    }
    .achjb-engine-state{
        display: block;
        text-align: center;
        padding: 20px 0 10px;
        p {
            font-size: 12px;
            color: #12203c;
            font-weight: 500;
        }
        span {
            font-size: 12px;
            color: #12203c;
            font-weight: 600;
        }
    }
}
.run-on-demand-filter {
    border-radius: 12px;
    box-shadow: 0 1px 10px 0 rgba(180,197,214,.65);
    background-color: #fff;
    padding: 17px 0;
    margin-bottom: 20px;
    width: 100%;
    height: 440px;
    overflow: auto;
    .rodf-inner {
        .rodfi-filter {
            padding: 0 25px;
            h3 {
                margin: 0;
                font-size: 16px;
                font-weight: 600;
                color: #21314b;
                margin-bottom: 12px;
            }
            .rodfif-col {
                display: inline-block;
                width: 220px;
                label {
                    font-size: 12px;
                    color: #12203c;
                    font-weight: 500;
                }
                select {
                    border-radius: 5px;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    height: 34px;
                    width: 100%;
                    font-size: 12px;
                    background-repeat: no-repeat;
                    background-position: 95%;
                    display: block;
                    padding: 6px 7px;
                    font-weight: 500;
                    -webkit-appearance: none;
                }
            }
            .rodfif-item {
                margin-top: 10px;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #21314b;
                    margin-bottom: 12px;
                }
                .rodfifi-filter {
                    display: inline-block;
                    width: 100%;
                    label {
                        font-size: 12px;
                        color: #12203c;
                        font-weight: 500;
                    }
                    select {
                        border-radius: 5px;
                        border: 1px solid #dce6f0;
                        background-color: #fff;
                        height: 34px;
                        width: 100%;
                        font-size: 12px;
                        background-repeat: no-repeat;
                        background-position: 95%;
                        display: block;
                        font-weight: 500;
                        -webkit-appearance: none;
                        background-image: url('../assets/downArrowNew.svg');
                        padding: 4px 23px 4px 7px;
                    }
                    .rodfifif-inner {
                        margin-bottom: 20px;
                    }
                    .rodfifif-inner:nth-child(3), .rodfifif-inner:nth-child(6), .rodfifif-inner:nth-child(9) {
                        position: relative;
                        .dropdown-menu-city1 {
                            left: auto;
                            right: 0px;
                        }
                    }
                }
                .rodfifi-table{
                    table {
                        margin: 0;
                        margin-top: 5px;
                        thead{
                            tr{
                                th {
                                    border: 0;
                                    label {
                                        margin: 0;
                                        font-weight: 600;
                                        color: #12203c;
                                        font-size: 12px !important;
                                    }
                                }
                                th:first-child{
                                    padding-left: 0;
                                }
                                th:last-child{
                                    padding-right: 0;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    border: none;
                                    label{
                                        font-size: 11px;
                                        margin: 0;
                                        font-weight: 500;
                                        color: #12203c;
                                    }
                                    select{
                                        border-radius: 5px;
                                        border: solid 1px #ccd8ed;
                                        background-color: #ffffff;
                                        height: 30px;
                                        width: 150px;
                                        font-size: 12px;
                                        font-weight: 500;
                                        background-image: url('../assets/downArrowNew.svg');
                                        background-position: 94%;
                                        background-repeat: no-repeat;
                                        padding: 4px 23px 4px 7px;
                                        -webkit-appearance: none;
                                    }
                                    input{
                                        border-radius: 5px;
                                        border: solid 1px #ccd8ed;
                                        background-color: #ffffff;
                                        height: 30px;
                                        width: 150px;
                                        font-size: 12px;
                                        font-weight: 500;
                                        padding: 4px 7px;
                                    }
                                }
                                td:first-child{
                                    padding-left: 0;
                                }
                                td:last-child{
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .rodfi-job-details {
            display: block;
            padding: 10px 25px;
            border-top: 1px solid #dce6f0;
            margin-top: 30px;
            .rodfijd-head {
                display: block;
                padding: 10px 0;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #21314b;
                    margin-bottom: 12px;
                }
            }
            .rodfijd-body {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .rodfijdb-text {
                    display: block;
                    margin-right: 50px;
                    position: relative;
                    h5 {
                        font-size: 12px;
                        font-weight: 500;
                        color: #97abbf;
                        margin-bottom: 7px;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 600;
                        color: #21314b;
                        margin-bottom: 0;
                    }
                }
                .rodfijdb-border:before{
                    content: "";
                    position: absolute;
                    display: block;
                    top: 7px;
                    left: -25px;
                    width: 1px;
                    height: 24px;
                    background-color: #97abbf8c;
                }
            }
        }
    }
}
// .achjbr-inner svg {
// 	animation: svg 1s linear infinite;
// }
// Style Box alignment
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// Style Create New Auto Configuration 
.create-new-configuration {
    width: 850px;
    height: 600px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    box-shadow: none;
    .cnc-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        h3 {
            font-size: 14px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
        button {
            background: #fff;
            padding: 4px;
            border-radius: 50%;
            border: solid 2px #000;
            img{
                width: 9px;
            }
        }
    }
    .cnc-body {
        display: block;
        padding: 20px 30px;
        max-height: 460px;
        min-height: 459px;
        overflow: auto;
        .cncb-menu {
            margin-bottom: 20px;
            position: relative;
            label {
                font-size: 12px;
                font-weight: 500;
                color: #3a5074;
                display: block !important;
            }
            button {
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                height: 30px;
                width: 100%;
                text-align: left;
                font-weight: 500;
                font-size: 12px;
                background-image: url('../assets/downArrowNew.svg');
                background-position: 98%;
                background-repeat: no-repeat;
                padding: 4px 23px 4px 7px;
            }
            .cncbm-date {
                display: inline-block;
                width: 50%;
                position: relative;
                input[type="time"], input[type="date"] {
                    border-radius: 5px;
                    border: solid 1px #ccd8ed;
                    background-color: #ffffff;
                    height: 30px;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 5px;
                }
                input[type="date"]{
                    background-image: url('../assets/calenderNew2.svg');
                    background-size: 16px;
                    background-position: 91% !important;
                }
                input[type="time"]{
                    background-image: url('../assets/clock.svg');
                    background-position: 84%;
                    background-repeat: no-repeat;
                    background-size: 16px;
                }
            }
            .pad-lft-15{
                .cncbm-dropdown {
                    left: 16px;
                    width: 92%;
                }
            }
            .pad-rgt-15{
                padding-right: 15px;
                .cncbm-dropdown {
                    width: 92%;
                }
            }
            .cncbm-dropdown {
                display: block;
                position: absolute;
                top: 58px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                        position: relative;
                        .checkBoxLabel0 {
                            // width: 16px;
                            height: 16px;
                            padding-left: 24px;
                            margin: 0;
                            font-size: 12px;
                            cursor: pointer !important;
                            .checkmark1 {
                                left: 0;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #fff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: 2px solid #dce6f0;
                            }
                            .checkmark1:after {
                                content: none;
                            }
                            input:checked~.checkmark1 {
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1:after {
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: "";
                            }
                        }
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                        .checkBoxLabel0{
                            font-weight: 600;
                            color: #21314b;
                        }
                    }
                }
            }
            .cron_builder {
                background-color: #fff;
                width: 100%;
                border: none;
                background: #fff;
                ul {
                    border-bottom: 1px solid #eaeaea;
                    padding: 0;
                    li {
                        a {
                            border-radius: 6px;
                            border: none;
                            font-size: 12px;
                            font-weight: 500;
                            border-bottom: 1px solid #eaeaea;
                            color: #788090;
                            padding: 10px 15px;
                        }
                        a:hover, a:focus {
                            background-color: transparent;
                        }
                    }
                    li.active {
                        a {
                            color: #000;
                            font-weight: 600;
                        }
                        a:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 15px;
                            height: 3px;
                            background-color: #8b77fa;
                            transform: translate(-50%);
                        }
                    }
                    li:first-child {
                        a {
                            padding-left: 0;
                        }
                        a:after {
                            transform: translate(-100%);
                        }
                    }
                }
                .cron_builder_bordering {
                    border: none;
                    background: #fff;
                    padding: 0px;
                    .tab-pane {
                        text-align: left;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    span {
                        text-align: left;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    select{
                        border-radius: 5px;
                        border: 1px solid #ccd8ed;
                        background-color: #fff;
                        height: 30px;
                        width: 60px;
                        text-align: left;
                        font-weight: 500;
                        font-size: 12px;
                        background-image: url('../assets/downArrowNew.svg');
                        background-position: 87%;
                        background-repeat: no-repeat;
                        padding: 4px 23px 4px 7px;
                        margin-left: 10px;
                        -webkit-appearance: none;
                    }
                    .container-fluid {
                        padding: 0;
                        text-align: left;
                        font-size: 12px;
                        font-weight: 500;
                        .well-small {
                            .span6.col-sm-6 {
                                padding: 0;
                                .text_align_left {
                                    margin-left: 21px;
                                    input[type=checkbox] {
                                        display: inline-block;
                                        margin-left: 0;
                                        margin-top: 2px;
                                        position: absolute;
                                        left: 0;
                                        top: auto;
                                    }
                                }
                            }
                        }
                        span {
                            text-align: left;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                    .well {
                        height: auto;
                        width: auto;
                        padding: 16px 0;
                        margin: 0;
                        border: none;
                        background: #fff;
                        text-align: left;
                        font-size: 12px;
                        font-weight: 500;
                        box-shadow: none;
                        input[type="Number"] {
                            border-radius: 5px;
                            border: 1px solid #ccd8ed;
                            background-color: #fff;
                            height: 30px;
                            width: 100px !important;
                            text-align: left;
                            font-weight: 500;
                            font-size: 12px;
                            padding: 4px 7px;
                            margin-left: 10px;
                            margin: 0 10px;
                            color: #21314b;
                        }
                        .text_align_right.row {
                            display: block;
                            text-align: left;
                            padding: 0 15px;
                        }
                    }
                    input[type=radio] {
                        margin-top: 0;
                        vertical-align: middle;
                        position: relative;
                        margin-left: 0;
                    }
                }
                .cron-builder-bg {
                    margin-top: 20px;
                    background: #c8f9e6;
                    color: #000;
                    font-size: 12px;
                    font-weight: 500;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 7px 5px;
                    min-height: 34px;
                }
            }
        }
        .cncb-menu-toggle {
            .nph-wbtext {
                position: absolute;
                top: 4px;
                left: 45px;
            }
        }
        .cncb-weekly{
            // display: flex;
            // align-items: center;
            // justify-content: flex-start;
            .cncbm-date{
                .cncbm-dropdown{
                    top: 38px;
                }
            }
            .cncbmd-inner{
                width: 50%;
                display: inline-block;
                label{
                    margin: 0;
                    display: inline-block !important;
                }
                select{
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    height: 30px;
                    width: 50px;
                    text-align: left;
                    font-weight: 500;
                    font-size: 12px;
                    background-image: url('../assets/downArrowNew.svg');
                    background-position: 87%;
                    background-repeat: no-repeat;
                    padding: 4px 23px 4px 7px;
                    margin-left: 10px;
                    -webkit-appearance: none;
                }
            }
            .cncbmd-details {
                margin-top: 20px;
                background: #c8f9e6;
                color: #000;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7px 5px;
                height: 34px;
                .cncbmdd-time {
                    display: block;
                    padding: 4px 7px;
                    background: #fff;
                    border-radius: 5px;
                    color: #ccd8ed;
                }
            }
        }
        .cncb-daily{
            .gen-pi-formate{
                padding: 0px;
                .gpf-radio-list{
                    li{
                        display: flex;
                        position: relative;
                        margin-right: 0;
                        align-items: center;
                        height: 35px;
                        .gen-radio-btn{
                            color: #3a5074;
                            .checkmark {
                                top: 10px;
                            }
                        } 
                        label{
                            margin: 0;
                        }
                        input{
                            border-radius: 5px;
                            border: 1px solid #ccd8ed;
                            background-color: #fff;
                            height: 30px;
                            width: 100px;
                            text-align: left;
                            font-weight: 500;
                            font-size: 12px;
                            padding: 4px 7px;
                            margin-left: 10px;
                            margin: 0 10px;
                            color: #21314b;
                        }
                    }
                    .cncbmd-inner{
                        width: 60%;
                        display: inline-block;
                        margin-left: 20px;
                        label{
                            margin: 0;
                            display: inline-block !important;
                        }
                        select{
                            border-radius: 5px;
                            border: 1px solid #ccd8ed;
                            background-color: #fff;
                            height: 30px;
                            width: 60px;
                            text-align: left;
                            font-weight: 500;
                            font-size: 12px;
                            background-image: url('../assets/downArrowNew.svg');
                            background-position: 87%;
                            background-repeat: no-repeat;
                            padding: 4px 23px 4px 7px;
                            margin-left: 10px;
                            -webkit-appearance: none;
                        }
                    }
                }
            }
            .cncbmd-details {
                margin-top: 20px;
                background: #c8f9e6;
                color: #000;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7px 5px;
                height: 34px;
                .cncbmdd-time {
                    display: block;
                    padding: 4px 7px;
                    background: #fff;
                    border-radius: 5px;
                    color: #ccd8ed;
                }
            }
        }
        .cncb-hourly{
            .gen-pi-formate{
                padding: 0px;
                .gpf-radio-list{
                    li{
                        display: inline-block;
                        position: relative;
                        margin-right: 0;
                        align-items: center;
                        height: 30px;
                        width: 50%;
                        .gen-radio-btn{
                            color: #3a5074;
                            display: inline-block !important;
                            .checkmark {
                                top: 7px;
                            }
                        } 
                        label{
                            margin: 0;
                            display: inline-block !important;
                        }
                        input{
                            border-radius: 5px;
                            border: 1px solid #ccd8ed;
                            background-color: #fff;
                            height: 30px;
                            width: 100px;
                            text-align: left;
                            font-weight: 500;
                            font-size: 12px;
                            padding: 4px 7px;
                            margin-left: 10px;
                            margin: 0 10px;
                            color: #21314b;
                        }
                    }
                    .pad-lft-15{
                        padding-left: 15px;
                        .gen-radio-btn{
                            .checkmark {
                                left: 15px;
                            }
                        }
                    }
                    .cncbmd-inner{
                        width: auto;
                        display: inline-block;
                        margin-left: 10px;
                        select{
                            border-radius: 5px;
                            border: 1px solid #ccd8ed;
                            background-color: #fff;
                            height: 30px;
                            width: 60px;
                            text-align: left;
                            font-weight: 500;
                            font-size: 12px;
                            background-image: url('../assets/downArrowNew.svg');
                            background-position: 87%;
                            background-repeat: no-repeat;
                            padding: 4px 23px 4px 7px;
                            margin-left: 10px;
                            -webkit-appearance: none;
                        }
                    }
                }
            }
            .cncbmd-details {
                margin-top: 20px;
                background: #c8f9e6;
                color: #000;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7px 5px;
                height: 34px;
                .cncbmdd-time {
                    display: block;
                    padding: 4px 7px;
                    background: #fff;
                    border-radius: 5px;
                    color: #ccd8ed;
                }
            }
        }
        .cncb-minutes {
            display: flex;
            .cncbm-date{
                width: 35%;
                input[type="text"] {
                    display: inline-block;
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    height: 30px;
                    width: 70px;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px;
                }
                .min-lbl {
                    display: inline-block !important;
                    margin-left: 10px;
                }
            }
            .cncbmd-details {
                margin-top: 20px;
                background: #c8f9e6;
                color: #000;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 7px 5px;
                height: 30px;
                width: 70%;
                .cncbmdd-time {
                    display: block;
                    padding: 2px 7px;
                    background: #fff;
                    border-radius: 5px;
                    color: #ccd8ed;
                }
            }
        }
        .cncb-planning{
            display: block;
            padding: 7px 0px;
            border-radius: 7px;
            border: 1px solid #ccd8ed;
            .cncbp-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 13px;
                cursor: pointer;
                h3 {
                    font-size: 13px;
                    font-weight: 600;
                    color: #12203c;
                    margin: 0;
                }
                button{ 
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #fff;
                    box-shadow: 0 3px 16px 0 rgba(220,230,240,.89);
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    transition: all .6s;
                    img{
                        width: 12px;
                    }
                }
                .orfh-btn {
                    background: #8b77fa;
                    transform: rotate(180deg);
                    transition: all .6s;
                }                
            }
            .cncbp-table{
                padding: 0 5px;
            }
            table {
                margin: 0;
                margin-top: 5px;
                thead{
                    tr{
                        th {
                            border: 0;
                            label {
                                margin: 0;
                                font-weight: 600;
                                color: #12203c;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border: none;
                            label{
                                font-size: 11px;
                                margin: 0;
                                font-weight: 500;
                                color: #12203c;
                                max-width: 220px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            select{
                                border-radius: 5px;
                                border: solid 1px #ccd8ed;
                                background-color: #ffffff;
                                height: 30px;
                                width: 90px;
                                font-size: 12px;
                                font-weight: 500;
                                background-image: url('../assets/downArrowNew.svg');
                                background-position: 94%;
                                background-repeat: no-repeat;
                                padding: 4px 23px 4px 7px;
                                -webkit-appearance: none;
                            }
                            input{
                                border-radius: 5px;
                                border: solid 1px #ccd8ed;
                                background-color: #ffffff;
                                height: 30px;
                                width: 90px;
                                font-size: 12px;
                                font-weight: 500;
                                padding: 4px 7px;
                            }
                        }
                    }
                }
            }
            .cncbp-filter {
                display: block;
                padding: 0 13px;
                h3 {
                    font-size: 12px;
                    font-weight: 600;
                    color: #12203c;
                    margin-bottom: 10px;
                }
                label{
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                }
                select{
                    display: block;
                    border-radius: 5px;
                    border: solid 1px #ccd8ed;
                    background-color: #ffffff;
                    height: 30px;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    background-image: url('../assets/downArrowNew.svg');
                    background-position: 94%;
                    background-repeat: no-repeat;
                    padding: 4px 23px 4px 7px;
                    -webkit-appearance: none;
                }
                .cncbpf-location{
                    display: inline-block;
                    width: 50%;
                    padding-right: 7px;
                    margin-bottom: 20px;
                }
                .cncbpf-item{
                    display: block;
                    width: 100%;
                    .cncbpfi-inner{
                        display: inline-block;
                        width: 50%;
                        margin-bottom: 20px;
                    }
                    .pad-rgt-7{
                        padding-right: 7px;
                    }
                    .pad-lft-7{
                        padding-left: 7px;
                    }
                }
                .cncbpf-inner {
                    margin-bottom: 20px;
                    .dropdown-menu-vendor {
                        width: 420px;
                    }
                }
                .cncbpf-inner:nth-child(2), .cncbpf-inner:nth-child(4), .cncbpf-inner:nth-child(6), .cncbpf-inner:nth-child(8), .cncbpf-inner:nth-child(10), .cncbpf-inner:nth-child(12) {
                    .dropdown-menu-vendor {
                        left: auto;
                        right: 0px;
                    }
                }
            }
        }
    }
    .cnc-footer {
        text-align: center;
        button {
            height: 34px;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
            border-radius: 5px;
            background-color: #8b77fa;
            color: #fff;
            padding: 4px 30px;
        }
        .cncf-inner {
            display: block;
            span{
                display: inline-block;
                padding-top: 20px;
                border-top: 1px solid #ccd8ed;
            }
            .cncf-delete {
                color: #eb0008;
                background: #fff;
                border: 1px solid #eb0008;
                border-radius: 32px;
                padding: 3px 10px;
                transition: 0.6s all;
                svg{
                    margin-right: 7px;
                }
            }
            .cncf-delete:hover{
                background-color: #eb0008;
                color: #ffffff;
                svg{
                    path{
                        fill: #ffffff;
                    }
                }
            }
        }
    }
}

.create-new-configuration.manage-configuration {
    width: 520px;
    height: 600px;
    .cnc-body {
        max-height: 390px;
        min-height: 389px;
    }
}