.invoice-manage-head{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    -ms-flex-align: center;
    align-items: center;
    .imh-left{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        .imhl-search{
            position: relative;
            display: inline-block;
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 10px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
                margin-right: 20px;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                right: 27px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 48px;
                top: 10px;
                cursor: pointer;
            }
        }
        button{
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            font-size: 12px;
            padding: 5px 15px;
            margin-right: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
    }
    .imh-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button{
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 600;
            position: relative;
            display: inline-block;
        }
        button:hover {
            .generic-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
        .aprv-req-btn{
            color: #ffffff;
            background-color: #8b77fa;
            border: 1px solid #8b77fa;
        }
        .reject-btn{
            border: solid 1px #e83600;
            background-color: #e83600;
            color: #fff;
        }
        .new-trigger {
            color: #51aa77;
            background: #c8f9e6;
            border: solid 1px #c8f9e6;
            box-shadow: none;
            border-radius: 21px;
            padding: 6px 8px;
            svg {
                margin-right: 8px;
            }
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                right: 0;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        img{
                            width: 30px;
                            margin-right: 12px;
                        }
                        span{
                            display: inline-block;
                            padding: 5px 7px;
                            border-radius: 50%;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                        div{
                            display: inline-block;
                            .multipleDownloadSelect {
                                border: none;
                                padding: 0;
                                -webkit-appearance: none;
                                background: #fff !important;
                            }
                        }
                    }
                    .export-excel{
                        color: #a4b9dd;
                        span{
                            margin-right: 10px;
                        }
                    }
                    .export-excel:hover{
                        color: #12203c;
                        span{
                            background-color: #049d4b14;
                            svg{
                                path{
                                    fill: #049d4b;
                                }
                                text{
                                    fill: #049d4b;
                                }
                            }
                        }
                    }
                    .pi-pdf-download{
                        .pi-pdf-svg{
                            margin-right: 10px;
                        }
                        .btnDisabled{
                            color: #a4b9dd !important;
                        }
                    }
                    .pi-pdf-download:hover{
                        .pi-pdf-svg{
                            background-color: #eb000817;
                            svg{
                                path{
                                    fill: #eb0008;
                                }
                                text{
                                    fill: #eb0008;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pi-download, .pi-download2 {
            width: 32px;
            padding: 0;
        }
        .pi-download2 {
            border: 1px solid #d8d3d3;
            svg {
                path {
                    fill: #d8d3d3;
                }
            }
        }
        .pi-download:hover{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            transition: 0.3s all;
            svg path{
                fill: #fff;
            }
        }
        .pi-download-focus{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            svg path{
                fill: #fff;
            }
        }
        .gvpd-filter{
            position: relative;
            .gvpd-filter-inner{
                width: 32px;
                padding: 0;
            }
            .gvpd-filter-inner:hover{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .gvpd-filter-inner-focus{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .noOfFilter {
                position: absolute;
                right: -9px;
                top: -7px;
                background-color: #eb0008;
                border-radius: 50%;
                padding: 2px 0;
                font-size: 10px;
                width: 17px;
                height: 17px;
                text-align: center;
                color: #fff;
            }
        }
        .excel-export{
            // border-radius: 25px;
            display: flex;
            align-items: center;
            background-color: #00ced6;
            color: #fff;
            border: 1px solid #00ced6;
            padding: 5px 15px 5px 7px;
            span{
                padding: 5px;
                border-radius: 50%;
                background-color: #28d6dd;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .gen-cancel{
            border: solid 1px #e83600;
            background-color: #e83600;
            color: #fff;
            font-weight: 600;
        }
        .gen-approved{
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            color: #fff;
            padding: 5px 10px;
            font-weight: 600;
            img{
                margin-right: 7px;
                width: 17px;
            }
        }
        .add-btn{
            display: inline-block;
            position: relative;
            cursor: pointer;
            border: none;
            padding: 0px;
            background-color: transparent;
            border-radius: 50%;
            img{
                width: 27px;
            }
            .generic-tooltip {
                top: -30px;
                right: 50%;
                transform: translate(15%);
                width: 120px;
                left: auto;
            }
            .generic-tooltip:after {
                right: 10%;
                left: auto;
            }
        }
        .add-btn:hover>.generic-tooltip{
            visibility: visible;
            opacity: 1;
        }
        .get-details {
            border: solid 1px #8b77fa;
            background-color: #8b77fa;
            padding: 5px 25px;
            color: #ffffff;
        }
    }
}

// Style Invoice Manage Table By 
.invoice-manage-table{
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    margin-top: 30px;
    .imt-manage-table{
        overflow-y: hidden;
        overflow-x: auto;
        .columnFilterGeneric{
            .glyphicon{
                padding: 15px 3px;
                background: #8b77fa;
            }
        }
        .imt-main-table{
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead{
                border: none;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    height: 42px;
                    background-color: #fff;
                    th{
                        height: 42px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none;
                        label{
                            margin: 0;
                            font-weight: 600;
                            color: #000000;
                            width: auto;
                            cursor: pointer !important;
                            font-size: 12px !important;
                        }
                        img{
                            margin-left: 15px;
                            cursor: pointer;
                        }
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        left: 0;
                        position: sticky;
                        border-right: none;
                        border-bottom: none;
                        z-index: 1;
                        max-width: 90px;
                        padding: 0;
                        min-width: 40px;
                        label{
                            width: auto;
                        }
                        .rab-refresh{
                            display: flex;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: flex-start;
                            .rab-rinner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                span{
                                    img{
                                        margin: 0;
                                        width: 18px;
                                    }
                                }
                                label{
                                    font-size: 12px;
                                }
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                    .checkmark1{
                                        left: 0;
                                        top: 0;
                                        height: 16px;
                                        width: 16px;
                                        background-color: #ffffff;
                                        cursor: pointer;
                                        border-radius: 4px;
                                        border: solid 2px #dce6f0;
                                    }
                                    .checkmark1:after{
                                        width: 5px;
                                        height: 9px;
                                        border-width: 0 2px 2px 0;
                                        content: none;
                                    }
                                    input:checked~.checkmark1{
                                        background-color: #8b77fa;
                                        border: none;
                                    }
                                    input:checked~.checkmark1:after{
                                        width: 5px;
                                        height: 9px;
                                        border-width: 0 2px 2px 0;
                                        content: "";
                                    }
                                }
                                .select-all-text{
                                    position: absolute;
                                    top: 3px;
                                    left: 30px;
                                    padding: 4px 14px;
                                    font-size: 12px;
                                    background: #8b77fa;
                                    color: #fff;
                                    border-radius: 30px;
                                    z-index: 9;
                                }
                            }
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                margin-left: 5px;
                                .generic-tooltip {
                                    top: 1px;
                                    left: 160%;
                                    z-index: 99;
                                }
                                .generic-tooltip:after {
                                    top: 31%;
                                    left: -9%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent #000 transparent transparent;
                                }
                            }
                            .til-inner:hover>.generic-tooltip{
                                visibility: visible;
                                opacity: 1;
                            }
                            .til-edit-btn:hover{
                                background: #3ee58521;
                                svg{
                                    path{
                                        fill: #3ee585;
                                    }
                                }
                            }
                        }
                    }
                    .width40 {
                        width: 40px;
                    }
                    .width80 {
                        width: 80px;
                    }
                    .width90 {
                        width: 90px;
                    }
                }
            }
            tbody{
                tr{
                    height: 35px;
                    // background: #fcfdfe;
                    // border-bottom: 1px solid #e3e7f3;
                    td{
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: 0.5px solid #e3e7f3;
                        position: relative;
                        label{
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                            white-space: nowrap;
                            max-width: 200px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            font-size: 11px !important;
                        }
                        input[type="text"] {
                            border-radius: 6px;
                            border: solid 1px #dce6f0;
                            background-color: #ffffff;
                            font-size: 11px;
                            font-weight: 500;
                            color: #000;
                            padding: 3px 5px;
                            height: 28px;
                            width: 80px;
                        }
                        label.clr-red{
                            color: #eb0008;
                        }
                        select {
                            border-radius: 5px;
                            border: 1px solid #dce6f0;
                            background: #fff;
                            padding: 8px 10px;
                            height: 32px;
                            font-size: 11px;
                            color: #000;
                            font-weight: 600;
                            width: 250px;
                            -webkit-appearance: none;
                            background-image: url('../assets/downArrowNew.svg');
                            background-position: 96%;
                            background-repeat: no-repeat;
                            background-size: 13px;
                        }
                    }
                    td:first-child{
                        border-left: none;
                    }
                    td:nth-child(2){
                        border-left: none;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        padding: 0;
                        left: 0;
                        position: sticky;
                        z-index: 1;
                        max-width: 90px;
                        .table-item-list{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0;
                            margin: 0;
                            height: 35px;
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                }
                                .checkmark1 {
                                    left: 0px;
                                    top: 0px;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #ffffff;
                                    cursor: pointer;
                                    border-radius: 4px;
                                    border: solid 2px #dce6f0;
                                }
                                .checkBoxLabel0 .checkmark1:after {
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                    content: none;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1 {
                                    background-color: #8b77fa;
                                    border: none;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1:after{
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                    content: "";
                                }
                            }
                            .til-inner:hover>.generic-tooltip{
                                visibility: visible;
                                opacity: 1;
                            }
                            .til-delete-btn:hover{
                                background-color: #eb000826;
                                transition: 0.3s all;
                                svg path{
                                    fill: #eb0008;
                                }
                            }
                            .til-add-btn{
                                svg{
                                    background-color: #a4b9dd;
                                    box-shadow: 0 3px 6px 0 #ebe7f5;
                                    border-radius: 4px;
                                }
                            }
                            .til-add-btn:hover{
                                background-color: #23e3eb38;
                                transition: 0.3s all;
                                svg{
                                    background-color: #ffffff;
                                    path{
                                        fill: #23e3eb;
                                    }
                                }
                            }
                            .til-edit-btn:hover{
                                background: #3ee58521;
                                svg{
                                    path{
                                        fill: #3ee585;
                                    }
                                }
                            }
                            .til-eye-btn:hover {
                                background: #ffb10321;
                                svg{
                                    path{
                                        fill: #ffb103;
                                    }
                                }
                            }
                            .til-eyedis-btn:hover {
                                svg{
                                    path{
                                        fill: #ccd8ed;
                                    }
                                }
                            }
                        }
                    }
                    .width40 {
                        width: 40px;
                    }
                    .width80 {
                        width: 80px;
                    }
                    .width90 {
                        width: 90px;
                    }
                }
                tr:first-child{
                    td{
                        border-top: none;
                    }
                }
            }
        }
    }
}

// Style Create Customer 
.create-customer-details {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    .gen-pi-formate .gpf-dbs h3 {
        font-weight: 700;
    }
    .ccd-inner {
        display: table;
        width: 100%;
        h3 {
            font-size: 14px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        .ccd-bill-head {
            display: inline-block;
        }
        .siteCheckBox {
            display: inline-block;
            margin-left: 153px;
            margin-top: -15px
            label {
                padding: 0;
                padding-left: 27px;
            }
            .checkmark1 {
                top: 0px;
                right: auto;
                left: 0;
            }
        }
        label {
            display: block !important;
            font-size: 12px;
            font-weight: 500;
            color: #21314b;
        }
        .ccd-input {
            display: block;
            width: 100%;
            height: 34px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 5px;
            border: solid 1px #ccd8ed;
            color: #12203c;
            background: #fff;
        }
        .ccd-date {
            display: block;
            width: 100%;
            height: 34px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 5px;
            border: solid 1px #ccd8ed;
            color: #12203c;
            background-image: url('../assets/calenderNew2.svg');
            background-position: 96%;
            background-repeat: no-repeat;
            background-size: 14px;
        }
        select {
            display: block;
            width: 100%;
            height: 34px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 15px 3px 5px;
            border: solid 1px #ccd8ed;
            color: #12203c;
            background: #fff;
            -webkit-appearance: none;
            background-image: url('../assets/downArrowNew.svg');
            background-repeat: no-repeat;
            background-position: 95%;
            background-size: 11px;
        }
        textarea {
            display: block;
            width: 100%;
            height: 80px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            border: 1px solid #ccd8ed;
            color: #12203c;
            background: #fff;
            padding: 10px;
            outline: none;
        }
        .ccdi-upload-area {
            display: block;
            position: relative;
            .ccdi-upload {
                border-radius: 21px;
                background-color: #f8f3ff;
                margin: 0;
                width: 130px;
                height: 34px;
                padding: 8px 13px;
                border: none;            
                input[type="file"] {
                    display: none;
                }
                img {
                    float: right;
                    height: 16px;
                    width: 9px;
                }
            }
            .ccdiu-uploaded-file {
                display: block;
                position: absolute;
                top: -16px;
                left: 145px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

.ccd-remark {
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #ccd8ed;
    color: #12203c;
    background: #fff;
    padding: 10px;
    outline: none;
}
.cdds-sample-text {
    font-size: 12px;
    font-weight: 500;
    .bold {
        font-size: 12px;
    }
}
// Style Invoice Page
.invoice-detail-table {
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    table {
        display: table;
        white-space: nowrap;
        border-collapse: collapse;
        margin: 0;
        border-spacing: 0;
        thead{
            border: none;
            tr{
                height: 50px;
                background-color: #fff;
                th{
                    height: 50px;
                    vertical-align: middle;
                    white-space: nowrap;
                    border: 1px solid #ccd8ed;
                    border-top: 1px solid #ccd8ed !important;
                    background: #fcfdfe;
                    label{
                        margin: 0;
                        font-weight: 500;
                        color: #12203c;
                        font-size: 12px !important;
                    }
                }
                .fix-action-btn{
                    width: auto;
                    box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                    background-color: #fff;
                    border: 0;
                    padding: 0;
                    left: 0;
                    position: sticky;
                    z-index: 1;
                    max-width: 90px;
                    border-top: none !important;
                }
                th:first-child {
                    border: none;
                }
                th:nth-child(2) {
                    border-left: none;
                }
                th:last-child {
                    border-right: none;
                }
            }
        }
        tbody{
            tr{
                background: #fcfdfe;
                td{
                    white-space: nowrap;
                    vertical-align: middle;
                    border: 1px solid #ccd8ed;
                    position: relative;
                    label{
                        color: #000;
                        margin: 0;
                        font-weight: 600;
                        white-space: nowrap;
                        vertical-align: middle;
                        font-size: 12px !important;
                    }
                    .rupee {
                        font-size: 13px;
                        font-weight: 600;
                    }
                    input[type="text"] {
                        border-radius: 6px;
                        border: solid 1px #dce6f0;
                        background-color: #ffffff;
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        padding: 3px 5px;
                        height: 30px;
                        width: 80px;
                    }
                    textarea {
                        border-radius: 6px 0 0 6px;
                        border: solid 1px #dce6f0;
                        background-color: #ffffff;
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        padding: 3px 5px;
                        height: 50px;
                        width: 180px;
                        outline: none;
                    }
                    button {
                        height: 50px;
                        vertical-align: top;
                        background: #fff;
                        padding: 3px 4px;
                        border-radius: 0 6px 6px 0;
                        border: 1px solid #dce6f0;
                        border-left: none;
                    }
                    select {
                        border-radius: 5px;
                        border: 1px solid #dce6f0;
                        background: #fff;
                        padding: 3px 24px 3px 5px;
                        height: 30px;
                        font-size: 12px;
                        color: #12203c;
                        font-weight: 500;
                        width: 180px;
                        -webkit-appearance: none;
                        background-image: url('../assets/downArrowNew.svg');
                        background-position: 96%;
                        background-repeat: no-repeat;
                        background-size: 13px;
                    }
                }
                td:first-child{
                    border-left: none;
                }
                td:nth-child(2){
                    border-left: none;
                }
                td:last-child{
                    border-right: none;
                }
                .fix-action-btn{
                    width: auto;
                    box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                    background-color: #fff;
                    border: 0;
                    padding: 0;
                    left: 0;
                    position: sticky;
                    z-index: 1;
                    max-width: 90px;
                    .table-item-list{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-around;
                        padding: 0;
                        margin: 0;
                        height: 35px;
                        .til-inner{
                            display: inline-block;
                            padding: 7px;
                            position: relative;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        .til-inner:hover>.generic-tooltip{
                            visibility: visible;
                            opacity: 1;
                        }
                        .til-copy-btn:hover{
                            background-color: #2681ff2e;
                            transition: 0.3s all;
                        }
                    }
                }
            }
            // tr:first-child{
            //     td{
            //         border-top: none;
            //     }
            // }
        }
    }
}
.invoice-detail-add-btn {
    display: block;
    margin-bottom: 20px;
    button {
        font-size: 12px;
        font-weight: 600;
        padding: 3px 15px;
        border-radius: 5px;
        height: 32px;
        background: #ffffff;
        color: #41aca2;
        border: solid 2px #41aca2;
        svg {
            margin-right: 7px;
        }
    }
}

.ci-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .cit-inner {
        display: block;
        background: #c8f9e6;
        padding: 10px 30px;
        width: 370px;
        .citi-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 11px;
                font-weight: 600;
                .rupee {
                    font-size: 13px;
                }
            }
            .citi-total {
                font-size: 15px;
            }
            .citi-tamount {
                font-size: 15px;
                .rupee {
                    font-size: 17px;
                }
            }
        }
    }
}

// 
.add-new-item-modal {
    width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 550px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    border-radius: 0;
    .anim-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
        h3 {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
        .animh-done {
            height: 32px;
            padding: 4px 30px;
            margin-right: 20px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 600;
            background: #8b77fa;
            color: #fff;
        }
        .animh-close {
            background: #fff;
            border: solid 2px #000;
            padding: 4px;
            border-radius: 50%;
        }
    }
    .anim-body {
        display: block;
        padding: 0 30px;
    }
}

// Style Create Order Modal
.create-order-modal {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0;
    .com-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 47px;
        box-shadow: 0 1px 9px 0 rgba(145, 145, 145, 0.16);
        .comht-left {
            display: block;
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
            p {
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
                margin: 0;
            }
        }
        .comh-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button {
                font-size: 12px;
                font-weight: 500;
                margin-left: 20px;
                background: #fff;
                height: 32px;
                border-radius: 5px;
                color: #12203c;
                padding: 3px 5px;
            }
            .comh-done {
                background-color: #8b77fa;
                color: #fff;
                padding: 3px 25px;
                font-weight: 600;
            }
        }
    }
}
.create-order-table {
    margin-top: 20px;
    .cot-manage {
        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
        overflow-x: auto;
        .table {
            thead {
                tr {
                    height: 42px;
                    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                    th {
                        border: none;
                        height: 42px;
                        vertical-align: middle;
                        label {
                            font-size: 11px!important;
                            margin: 0;
                            color: #12203c;
                        }
                    }
                }
            }
            tbody {
                
                td {
                    height: 35px;
                    position: relative;
                    border: 1px solid #dce6f0;
                    background-color: #ffffff;
                    min-width: 160px;
                    label {
                        font-size: 11px!important;
                        color: #12203c;
                        font-weight: 500;
                        margin: 0;
                    }
                    input {
                        width: auto;
                        border: none;
                        padding: 5px 10px;
                        background-color: transparent;
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                    }
                }
                .cot-read {
                    border: 1px solid #bfdfff;
                    background-color: #f2f5f8;
                }
                .cot-type {
                    padding: 0px;
                    border: 1px solid #dce6f0;
                    background-color: #ffffff;
                    input {
                        padding: 5px 10px 4px 30px;
                    }
                    .modal-search-btn-table {
                        right: auto;
                        left: 7px;
                        background-color: #ffffff;
                    }
                    .modal-search-btn-table svg:hover path {
                        fill: #8b77fa!important;
                    }
                }
                .cot-type:focus{
                    border: 1px solid #8b77fa;
                }
            }
        }
    }
}