// .itemUdfTable .scrollableTableFixed{
//     margin-left:0;
// }
.itemUdfTable table thead label{
    width:185px;
}
.itemUdfTable table tbody td{
    width:185px;
}
.innerCheckTbody .checkmark1{
    top: -8px;
    left: 1px;
}
.itemUdfSet .searchBtn .save_button_vendor{
    border-radius: 2.7px;
    background-color: #6d6dc9;
}
.itemUdfSet .switchTabs ul li{
    display: inline-block;
    padding-bottom: 8px;
    position:relative;
}
.itemUdfSet .switchTabs ul li.activeTab label{
    font-size: 13px;
    font-weight: 600;
    color: #000;
}
.itemUdfSet .switchTabs label{
    font-size: 13px;
    font-weight: 500;
    color: #788090;

}
.itemUdfSet .switchTabs{
    border-bottom: 1px solid #efefef;
}
.itemUdfSet .switchTabs .activeTab:after{
    border-bottom: 2px solid #9803f5;
    position: absolute;
    content: "";
    bottom: -1px;
    background: #efefef;
    height: 1px;
    color: #efefef;
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 30px;
}
.itemUdfSet .udfDropDown button{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
}
.udfMappingHead .udfCheck .checkBoxLabel0{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    cursor: pointer!important;
    margin-top: 8px;
    margin-bottom: 0;
}
.setUdfRadio span{
    font-size: 12px!important;
    letter-spacing: 0.5px!important;
}
.settingDrop .itemUdfDisable:hover{
    border:0!important;
}
.settingDrop .itemUdfDisable:focus{
    background-color: #f9f9f9!important;
    border: 0!important;
}
.btnDisabled::placeholder{
    color: #d8d3d3 !important;
}