.item_container{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.conf2_input_box{
    height: 30px;
    width: 175px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    outline: none;
    text-indent: 5px;
    opacity: 0.7;
}

.conf_input_box{
  height: 30px;
  width: 175px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  outline: none;
  text-indent: 5px;
  opacity: 0.7;
}

.conf_button{
    font-family: Montserrat;
    text-align: left;
    padding: 4px;
    color: #fff;
    font-size: 10px;
    border-radius: 18px;
    background: #6d6dc9;
    height: 31.3px;
    width: 140px;
    outline: none;
    border: 1px solid #6d6dc9;
    opacity: 0.6;
    text-indent: 13px;
}

.Rectangle-6 {
    width: 400px;
    height: 254px;
    border-radius: 9px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    border: solid 1px #e5e5e5 !important;
    border: solid 1px var(--white);
    
  }

  .Rectangle-18 {
    width: 359.1px;
    height: 40.1px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #6d6dc9 !important;
    border: solid 1px var(--iris);
    margin-left: 20.5px;
    margin-top: 20.5px;
    
  }

  .Configuration-3 {
    width: 203.7px;
    height: 16px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9 !important;
    color: var(--iris);
    text-indent: 16.7px;
    /* padding-top: 12.4px; */
    margin-left: 37.2px;
    margin-top: 26.3px;
  }
  .Configuration-4 {
    width: 143.7px;
    height: 16px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9;
    color: var(--iris);
    text-indent: 16.7px;
    /* padding-top: 12.4px; */
    margin-left: 37.2px;
    margin-top: 12.1px;
  }
  .Fill-79 {
    width: 13px;
    height: 13px;
    object-fit: contain;
    background-color: #4a4a4a;
    background-color: var(--greyish-brown);
    padding-top: 6px;
    margin-left: 20px;
   
  }
  .Fill-79-new {
    width: 13px;
    height: 13px;
    object-fit: contain;
    background-color: #4a4a4a;
    background-color: var(--greyish-brown);
    margin-left: 208px;
    margin-top: 3px;
    position: absolute;
  }
  .Configuration-1 {
    width: 203.7px;
    height: 16px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9 !important;
    color: var(--iris);
    text-indent: 16.7px;
    padding-top: 12.4px;
  }

  .Fill-203 {
    width: 18.6px;
    height: 11.5px;
    object-fit: contain;
    background-color: #6d6dc9;
    background-color: var(--iris);
    margin-left: 189.8px;
    margin-top: 30.6px;
  }

  .myrecords {
    width: 59px;
    height: 13px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    color: var(--greyish-brown);
    margin-left: 303.8px;
    margin-top: 14.1px;
  }

  /* .Line-2 {
    width: 1106px;
    height: 3px;
    box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
    border: solid 1px #f2ecec;
    background: #f2ecec;
    margin-left: -15px;
  }
   */
  .mysidemenu_list {
    display: block;
    list-style: none;
    
    /* height: 60vh; */
    /* width: 100%; */
    overflow-x: hidden;
    overflow-y: auto;
}

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .p-top-350 {
    padding-top: 350px;
}

.m-top-73 {
    margin-top: 73px;
}






  

  .container_content_my {
    position:relative;
    overflow: hidden;
  }

  .container_content_my .my_border{ 
    position: absolute;
    top: 75px;
    bottom: 0;
    left: -20px;
    /* margin: auto; */
    width: 110%;
    height: 3px;
    box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
    border: solid 1px #f2ecec;
    background: #f2ecec;
    
}

.table>tbody>tr>td{
  vertical-align: middle !important;
}

.clearbtnOrganisation {
  width: 41px;
  height: 18px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  outline: none;
  border: none;
  background: transparent;
}
.savebtnOrganisation {
  width: 100px;
  height: 25px;
  border-radius: 21.8px;
  background-color: #6d6dc9;
  border: #6d6dc9;
  color: #fff;
  outline: none;
  font-size: 10px;
  font-family: Montserrat;
}

.p-top-350 {
  padding-top: 350px;
}

.m-top-73 {
  margin-top: 73px;
}


.Line-2 {
  width: 1106px;
  height: 3px;
  box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
  border: solid 1px #f2ecec;
  background: #f2ecec;
  margin-left: -15px;
}

/* .mytooltip .mytooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #e9e9e9;
  color: #4a4a4a;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: 30px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 900;
  padding: 5px;
}
.mytooltiptext > span {
  font-size: 9px;
  color: #9b9b9b;
  font-family: Montserrat;
  font-weight: 300;
}
.mytooltip:hover .mytooltiptext {
  visibility: visible;
} */


.Rectangle-10 {
  width: 85.3px;
  height: 30.7px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5 !important;
  border: solid 1px var(--white);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  
}

.table {
  // display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
}

/* .table-item-conf thead th label {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a !important;
  color: var(--greyish-brown);
}

.table-item-conf thead {
  border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
}

.table-item-conf > tbody > tr:nth-child(2n+1) {
  background: rgb(244, 244, 253);
}



.table-item-conf > tbody > tr > td > label {
  font-size: 9px;
  font-weight: 500;
  font-family: Montserrat;
  color: rgb(139, 139, 139);
  text-align: left;
}

.table-item-conf > tbody > tr > td:first-child, .table-item-conf > tbody > tr > td:nth-child(n) {
  border-width: 1px 1px 1px;
  border-style: solid solid solid none;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221);
  border-image: initial;
  border-left: none;
} */

/* label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
  */
.Shape {
  width: 13px;
  height: 7.3px;
  object-fit: contain;
  background-color: #6d6dc9;
  background-color: var(--iris);
  margin-left: 30px;
}

.layer {
    width: 5.7px;
    height: 14px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    color: var(--greyish-brown);
  }

  .layer3 {
    width: 5.7px;
    height: 12px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
    color: var(--greyish-brown);
    text-indent: 4px;
    padding-top: 5px;
  }

  .Rectangle-8 {
    width: 27.3px;
    height: 27.3px;
    border-radius: 4px;
    background-color: #6d6dc9 !important;
    background-color: var(--iris);
    border: solid 1px #6d6dc9 !important;
    border: solid 1px var(--iris);
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  .organisation_container{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}

.m-top-300 {
    margin-top: 300px;
}

.mapping_input_box{
    height: 30px;
  width: 175px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  outline: none;
  text-indent: 5px;
  opacity: 0.7;
}

.clearbtnOrganisation {
    width: 41px;
    height: 18px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
    border: none;
    background: transparent;
  }
  .savebtnOrganisation {
    width: 100px;
    height: 25px;
    border-radius: 21.8px;
    background-color: #6d6dc9;
    border: #6d6dc9;
    color: #fff;
    outline: none;
    font-size: 10px;
    font-family: Montserrat;
  }


  .conf2_input_box{
    height: 30px;
    width: 175px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    outline: none;
    text-indent: 5px;
    opacity: 0.7;
  }
  
  
  
  .conf_button{
      font-family: Montserrat;
      text-align: left;
      padding: 4px;
      color: #fff;
      font-size: 10px;
      border-radius: 18px;
      background: #6d6dc9;
      height: 31.3px;
      width: 140px;
      outline: none;
      border: 1px solid #6d6dc9;
      opacity: 0.6;
      text-indent: 13px;
  }
  
  .Rectangle-6 {
      width: 400px;
      height: 254px;
      border-radius: 9px;
      box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
      background-color: #ffffff;
      border: solid 1px #e5e5e5 !important;
      border: solid 1px var(--white);
      
    }
  
    .Rectangle-18 {
      width: 359.1px;
      height: 40.1px;
      border-radius: 6px;
      background-color: #ffffff;
      border: solid 1px #6d6dc9 !important;
      border: solid 1px var(--iris);
      margin-left: 20.5px;
      margin-top: 20.5px;
      
    }
  
    .m-top-250 {
      margin-top: 250px;
  }
  
    .Configuration-2 {
      width: 203.7px;
      height: 16px;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6d6dc9 !important;
      color: var(--iris);
      text-indent: 16.7px;
      /* padding-top: 12.4px; */
      margin-left: 18px;
      margin-top: 14px;
    }
    .Configuration-4 {
      width: 143.7px;
      height: 16px;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6d6dc9;
      color: var(--iris);
      text-indent: 16.7px;
      /* padding-top: 12.4px; */
      margin-left: 18px;
      margin-top: 12.1px;
    }
    .Fill-79 {
      width: 13px;
      height: 13px;
      object-fit: contain;
      background-color: #4a4a4a;
      background-color: var(--greyish-brown);
      padding-top: 6px;
      margin-left: 20px;
     
    }
    .Fill-79-new {
      width: 13px;
      height: 13px;
      object-fit: contain;
      background-color: #4a4a4a;
      background-color: var(--greyish-brown);
      margin-left: 208px;
      margin-top: 3px;
      position: absolute;
    }
    .Configuration-1 {
      width: 203.7px;
      height: 16px;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6d6dc9 !important;
      color: var(--iris);
      text-indent: 16.7px;
      padding-top: 12.4px;
    }
  
    .Fill-203 {
      width: 18.6px;
      height: 11.5px;
      object-fit: contain;
      background-color: #6d6dc9;
      background-color: var(--iris);
      margin-left: 189.8px;
      margin-top: 30.6px;
    }
  
    .myrecords {
      width: 59px;
      height: 13px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;
      color: var(--greyish-brown);
      margin-left: 303.8px;
      margin-top: 14.1px;
    }
  
    /* .Line-2 {
      width: 1106px;
      height: 3px;
      box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
      border: solid 1px #f2ecec;
      background: #f2ecec;
      margin-left: -15px;
    } */
  
    .mysidemenu_list {
      display: block;
      list-style: none;
      
      /* height: 60vh; */
      /* width: 100%; */
      overflow-x: hidden;
      overflow-y: auto;
  }
  
  ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      margin-top: 10px;
    }
    .head17 {
      width: 26px;
      height: 27px;
      font-family: AvenirNext;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6d6dc9 !important;
      color: var(--iris);
      padding-left: 7px;
    }
  
    
  
    .container_content_my {
      position:relative;
      overflow: hidden;
    }
  
    .container_content_my .my_border{ 
      position: absolute;
      top: 75px;
      bottom: 0;
      left: -20px;
      /* margin: auto; */
      width: 110%;
      
      height: 3px;
      box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
      border: solid 1px #f2ecec;
      background: #f2ecec;
      
  }
  
  .organisation_container{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
  }
  
  .clearbtnOrganisation {
    width: 41px;
    height: 18px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
    border: none;
    background: transparent;
  }
  .savebtnOrganisation {
    width: 100px;
    height: 25px;
    border-radius: 21.8px;
    background-color: #6d6dc9;
    border: #6d6dc9;
    color: #fff;
    outline: none;
    font-size: 10px;
    font-family: Montserrat;
  }