#layer1 {
    position: absolute;
    z-index: 9999;
    
    /* height: 250px;
    width: 350px; */
    top: 50%;
    bottom: 50%;
    right: 50%;
    }

    .layer2 {
        position: absolute;
        z-index: 999;
        left: 20px;
    }
    .layer3{
        position: absolute;
    }
.loaderDiv{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 999;
    text-align: center;
}

.successModalDiv{
    z-index: 1035 !important;
}
.loading {
    -webkit-animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}


.myProgress {
    position: absolute;
    z-index: 3;
    top: 55%;
    left: 33%;
    width: 35%;
    background-color: #ddd;
    border-radius: 10px;
  }
  
  #myBar {
    /*width: 1px;*/
    height: 8px;
    background-image: linear-gradient(to left, #a6a6e6, #6d6dc9);;
    border-radius: 10px;
  }
  .layer1Loader{
  
    text-align: center;
  
    width: 100%;
  }

  .layer1Loader>p{
 
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;

  }
  .listLoader{
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
  }
  .listLoader>li{
    width: 100%;
  }
  .layer2Loader{
     
      width: 100%;
      text-align: center;
  }
  .layer2Loader>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
  }
  .layer3Loader{
    
    width: 100%;
    text-align: center;
  }
  .layer3Loader>p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
  }

  //demo css

  .list_style{
    list-style: none;
}

.modal-demo {
    width: 75%;
    margin: 0px auto;
}

.modal-demo_content {
    position: relative;
    background-color: #fff !important;
    border: 1px solid #ececf6 !important;
    border-radius: 10px;
    outline: 0;
    box-shadow: 0 0 9px 0 hsla(0,0%,76%,.5);
}
.cut {
    font-size: 40px !important;
    font-weight: 100 !important;
    color: #6d6dc9 !important;
    opacity: 1 !important;
    outline: none;
}
.requestdemo{
    width: 100%;
    height: auto;
    overflow: auto;
    display: block;
    border-top: none;
    border-radius: 10px;
    border: 1px solid #ececf6;
    
}
.demo_content{
    width: 100%;
    height: 70vh;
    overflow: auto;
    display: block;
    overflow: auto;
    background-color: #ececf6;
}

.request_content{
    width: 100%;
    height: auto;
    overflow: 70vh;
    display: block;
    overflow: auto;
    background-color: #ffffff;
    padding: 30px;

}

.request2{
    width: 100px;
    height: 250px;;
}

.meeting{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 110px;
    left: 60px
}

.demo_heading{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #4a4a4a;
}

.demo_text{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #4a4a4a;
}

.request_heading{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #6d6dc9;
}

.demo_form-box{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none; 
    border-bottom: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    outline: none;
    opacity: 0.7;
}

.demo_textarea {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none; 
    border-bottom: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    outline: none;
    opacity: 0.7;
    resize: none;
  }

  .demo_button{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
    width: 75%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: radial-gradient(circle at 0 0, #3b3b98, #3d3c99 8%, #c86dd7);
    
  }

  /*_____________success modal css_____________________*/

//   .modal-success{
//     width: 40%;
//     margin:10% auto;
//   }
.modal-success>.modal-content{
    width: 35%;
    position: relative;
    top: 30%;
    left: 35%;
}
  .cutting {
    font-size: 35px;
    font-weight: 100;
    opacity: 1;
    outline: none;
    color: #b4b4b4;
    background-color: transparent; 
    float: right;
}

  .requestsuccess{
    width: 100%;
    height: auto;
    overflow: auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ececf6;
    box-shadow: 0 0 9px 0 hsla(0,0%,76%,.5);
    padding: 10px;
}

.success_container{
    padding: 15px;
    .sc-alert-img{
        width: 40px;
    }
}

.success_heading{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.success_text{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}


.success_button{
    width: 60px;
    height: 25px;
    border-radius: 12px;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    outline: none;
    transition: .5s;
    position: absolute;
    top: 77%;
}

.success_button:hover,.success_button:focus{
    color: #ffffff;
    background-color: #6d6dc9;
    transition: .5s
}
  


//request error
.billing-box{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    text-indent: 5px;
}

.modal-open{
  padding: 0px;
}
// .modal_content_filter{
//     box-shadow: 3px -4px 4px 0 rgba(213, 213, 213, 0.5);
//     background-color: #ffffff;
//     border: solid 1px #f3f3f3;
//     position: relative;
//     top: 50%;
// }
.modalOrganisationAlert{
    width: 35%;
    height: 31vh;
    display: inline-block;
    padding: 10px;
    text-align: left;
    /* border-top: none!important; */
    /* border-top-right-radius: 0!important; */
    /* border-top-left-radius: 0!important; */
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 2;
  }
  .modalUpdate{
      height: 26vh;
  }
  .modalUpdate ul li:first-child{
    display: inline-block;
    float: left;
    width: auto;
    position: absolute;
  }
  .modalUpdate ul li:nth-child(2){
    float: left;
    display: inline-block;
    width: auto;
    padding-left: 39px;
  }
  .modalUpdate .success_button{
    top: 64%;
  }
  .modalListOrganisation>li{
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .modalListOrganisation>li>p{
    width: 100%;
    // height: 100%;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }
  .modalListOrganisation>li>span{
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .confirmationButton{
    width: 100px;
    height: 25px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    margin-right: 5px;
    outline: none;
  }
  .confirmationButton:hover{
    background-color: #c44569;
    border: solid 1px #c44569;
    color: #ffffff;
  }

    .modal_confirmation{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

// circle loader css

.circle-loader{
    width:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
}
.loader-icon img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circle-loader .loader-txt{
    width:100%;
    position: absolute;
}
.circle-loader .loader-txt p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b;
    margin-bottom:0;
    margin-top:7px;
}
.circle-loader .loader-txt h2{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top:5px;
}
.oval-shape{
    background-image: url("../assets/oval.svg");
    background-size: 100% 93%;
    background-repeat: no-repeat;
    height: 116px;
    background-position: 50%;
    animation: imageSize 1.3s linear infinite;
  }
  
  @keyframes imageSize {
    0% {
        background-size: 11% 93%;
        opacity:1;
    }
    10%{
        background-size:11% 91%;
        opacity:0.9;
    }
    20%{
        background-size:11% 89%;
        opacity:0.8;
    }
    30%{
      background-size:11% 87%;
      opacity:0.7;
    }
    40%{
        background-size:11% 85%;
        opacity:0.6;
    }
    50% {
      background-size: 11% 83%;
      opacity: 0.5;
    }
    60%{
       background-size: 11% 85%; 
       opacity: 0.6;
    }
    70%{
      background-size: 11% 87%;
      opacity: 0.7;
    }
    80%{
        background-size: 11% 89%;
        opacity: 0.8;
    }
    90%{
        background-size: 11% 91%;
        opacity: 0.9;
    }
    100% {
        background-size: 11% 93%;
        opacity: 1;
    }
}

.filter-loader{
    z-index: 9999;   
}
.filter-loader .oval-shape{
    height:100px;
}
.filter-loader .oval-shape{
    background-image: url("../assets/oval.svg");
    background-size: 100% 93%;
    background-repeat: no-repeat;
    height: 116px;
    background-position: 50%;
    animation: filterSize 1.3s linear infinite;
  }
  
  @keyframes filterSize {
    0% {
        background-size: 11% 76%;
        opacity:1;
    }
    10%{
        background-size:11% 72%;
        opacity:0.9;
    }
    20%{
        background-size:11% 68%;
        opacity:0.8;
    }
    30%{
      background-size:11% 64%;
      opacity:0.7;
    }
    40%{
        background-size:11% 60%;
        opacity:0.6;
    }
    50% {
      background-size: 11% 56%;
      opacity: 0.5;
    }
    60%{
       background-size: 11% 60%; 
       opacity: 0.6;
    }
    70%{
      background-size: 11% 64%;
      opacity: 0.7;
    }
    80%{
        background-size: 11% 68%;
        opacity: 0.8;
    }
    90%{
        background-size: 11% 72%;
        opacity: 0.9;
    }
    100% {
        background-size: 11% 76%;
        opacity: 1;
    }
}
.filter-loader .loader-txt{
    width:100%;
    position: absolute;
    bottom: -13px;
}
.successRequestModal ul{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 26px;
}
.successRequestModal button span{
    position: absolute;
    top: 1px;
    right: 14px;
}
.successRequestModal .modal-content{
    box-shadow: 0 2px 8px 0 rgba(216, 216, 216, 0.5);
}

.small-circle-loader{
    width:100%;
    position: absolute;
    text-align: center;
    margin-top: -76px;
    background-color: #ffffff;
    opacity: 0.88;
}
.oval-shape-small{
  background-image: url("../assets/oval.svg");
  background-repeat: no-repeat;
  height: 70px;
  background-size: 21%;
  animation: imagesiz 1.3s linear infinite;
  background-position: 48%;
}
.small-circle-loader .loader-txt{
    width:100%;
    position: absolute;
}
.small-circle-loader .loader-txt h2{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    //     margin-top: -8px;
    // margin-left: 43px;
}

@keyframes imagesiz {

    0% {
        background-size: 21%;
        opacity:1;
    }
    10%{
        background-size:18%;
        opacity:0.9;
    }
    20%{
        background-size:16%;
        opacity:0.8;
    }
    30%{
      background-size:14%;
      opacity:0.7;
    }
    40%{
        background-size:12%;
        opacity:0.6;
    }
    50% {
      background-size: 10%;
      opacity: 0.5;
    }
    60%{
       background-size: 12%; 
       opacity: 0.6;
    }
    70%{
      background-size: 14%;
      opacity: 0.7;
    }
    80%{
        background-size: 16%;
        opacity: 0.8;
    }
    90%{
        background-size: 18%;
        opacity: 0.9;
    }
    100% {
        background-size: 21%;
        opacity: 1;
    }
}