.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #6d6dc9;
    border-right: 10px solid #e5e5e5;
    border-bottom: 10px solid #6d6dc9;
    border-left: 10px solid #e5e5e5;
    width: 70px;
    height: 70px;
    animation: rotation 2s linear infinite;
    position: fixed;
    margin: auto;
    left: 635px;
    top: 250px;

  }
  
  @-webkit-keyframes rotation {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  



  // ____________________________-ToastLoader____________________________-

  #snackbar {
    visibility: hidden;
    opacity: 0;
    background-color: #6d6dc9;
    color: #fff;
    text-align: left;
    padding: 16px;
    position: fixed;
    z-index: 1054;
    left: 37%;
    top: 0;
    box-shadow: 0 0 11px -1px rgba(201, 201, 201, 0.5);
    width: 395px;
    border-radius: 15px;
    // animation-duration: 1.0s;
}

#snackbar.show {
    visibility: visible;
    // -webkit-animation: fadein 0.0s, fadeout 5.0s 5.0s;
    // animation: fadein 0.0s, fadeout 5.0s 5.0s;
    // -webkit-animation: fadein 0.0s, fadeout 10.0s 0.0s;
    -webkit-animation: fadein 10.0s;
    animation: fadein 10.0s;
}

@-webkit-keyframes fadein {
    from { opacity: 0;} 
    to { opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;} 
    to { opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to { opacity: 0;}
}
.contentToastDiv>p{
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 255px;
  margin-top: 10px;
  margin-left: 10px
}
.contentToastDiv>h2{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 10px;
}
.blurContent{
-webkit-filter: blur(8px);
filter: blur(8px);
}