.logisticsTable{
    table{
        thead{
            th{
                label{
                    @include fontStyle(15px , 600 ,#12203c)
                }
            }
        }
        tbody{
            td{
                label{
                    @include fontStyle(11px !important , 500  ,#12203c !important)
                }
                .delivered{
                
                        background: #7ed321;
                        font-size: 11px;
                        font-weight: 700;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #ffffff;
                        border-radius: 4px;
                        width: auto;
                        padding: 1px 5px;
                        margin-left: 8px;
                }
                .undelivered{
                    background-color: #d0021b;
                    font-size: 11px;
                    font-weight: 700;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                    border-radius: 4px;
                    width: auto;
                    padding: 1px 5px;
                    margin-left: 8px;
                }
            }
        }
    }
}
.shipmentdeliveredTable{
    .fixed-side1{
        width: 135px !important;
    }
    .scrollableOrgansation{
        margin-left: 135px !important;
    }
}
.shipmentDeliveredTop{
    .orderImg{
        width: auto !important;
        margin-right: 15px;
    }
}
.lrCreationModalMain{
    .selectVendorPopUp{
        height: 10%;
    }
    .tableBottomFix{
        padding: 0px 40px;
        height: 30%;
        box-shadow: 0px -13px 13px -13px rgba(230, 230, 230, 0.5);
        &.scroll{
            position: relative;
            bottom: 112px;
            background: #fff;
            transition: .5s linear;
        }
        .adviceOpenBtn{
            border-radius: 23px;
            font-weight: 600;
            color: #fff;
            background: #6d6dc9;
            font-size: 15px;
            padding: 5px 10px;
        }
        .shipmentShipped{
            // height: 135px;
        }
        background: #fff;
        bottom: -145px;
        position: absolute;
        transition: .5s linear;
    }
    .backdrop{
        opacity: 1 !important;
    }
    .createShipmentModal{
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
        height: 100%;
    }
    .modalTop{
        box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
        background-color: #ffffff;
        padding: 14px 28px;
    }
    .accordianLrCreation{
        height: auto;
        transition: all 100ms linear;
        overflow: scroll;
        padding: 0px 40px 20px 40px;
        margin-top: 20px;
        .panel-default{
            border-radius: 4px;
            box-shadow: 0 0 8px 0 rgba(215, 212, 212, 0.5);
            background-color: #ffffff;
            border: 0px;
            margin-top: 15px;
        }
        .panel-heading{
            background-color: #f1e9ff;
            h4{
                a{
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #12203c;
                }
            }
        }
        .panel-body{
            .vendorTable{
                .checkmark1{
                    top: -1px;
                }
            }
            .eachField{
                width:  16%;
                display: inline-block;
                margin-top: 10px;
                textarea{
                    width: auto;
                    height: auto;
                    padding: 16px 10px;
                    outline: none;
                }
                .detailSpan{
                    font-size: 11px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #12203c;
                    margin-top: 11px;
                    display: inline-block;
                }
            }
            .eachFieldWidth{
                width: 21%;
            }
            .fieldRow{
                display: flex;
            }
            h5{
                font-size: 13px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #12203c;            
            }
            .inputBox{
                width: 83%;
                height: 35px;
                border-radius: 4px;
                border: solid 1px #e5e5e5;
                background-color: #ffffff;
                padding: 10px;
            }
            .inputTextKeyFucMain{
                .inputBox{
                    padding: 0 33px 0 5px;
                }
            }
            .modal-search-btn {
                top: 1px;
                right: 40px;
            }
        }
    }
}
.checkBoxLabel{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    margin: 0;       
}
.completeQcModal{
    .modalOpertions{
        background: transparent !important;
        border-top: solid 1px #f2f2f2;
        border-bottom: solid 1px #f2f2f2;
        padding: 20px 67px 20px 43px;
        label{
            @include fontStyle(13px , 500  ,#12203c);
            display: block !important;
        }
        h4{
            @include fontStyle(17px , bold  ,#12203c);
            display: inline-block;
        }
    }
    .modalTOp{
        padding: 18px 23px;
        h2::after{
            display: none;
        }
    } 
}
.deliveryConfimationModal{
    label:not(.inputMain){
        @include fontStyle(12px , 500  ,#12203c);
    }
    .modalOpertions{
        background: transparent !important;
        border-top: solid 1px #dce6f0;
        overflow: auto;
        height: 75vh;
    }
    .modalTOp{
        padding: 20px 23px;
        h2::after{
            display: none;
        }
    }
    .selectionGenric{
        width: 80%;
        height: 33px;
        border-radius: 6px;
        border: solid 1px #dce6f0;
        font-size: 12px;
        font-weight: 500;
        padding: 3px 6px;
    }
    input[type=date] {
        background-image: url(../assets/calender.svg);
        background-position: 96%!important;
        background-size: 18px;
    }
    .note{
        font-size: 12px;
        font-weight: 500;
        color: #12203c;
    }
    .error{
        position: absolute;
    }
}
.textareaGeneric{
    @include fontStyle(12px , 500  ,#12203c);
    display: block;
    padding: 10px;
    outline: none;
    border: solid 1px #dce6f0;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    width: 94%;
}
.addShipmentAdvice{
    padding: 5px 0px 30px 0px !important;
    .modalTable{
        width: 96%;
        margin: auto;
    }
}
.entShipIntransit{
    .roleTableHeight{
        margin-left: 120px !important;
        th.fixed-side-role{
            width: 120px !important;
        }
    }
}
.chat-icon{
    right: -5px;
    left: auto !important;
    top: -4px !important;
}

// Style Delivery Confirmation Modal
.delivery-confimation-modal{
    position: absolute;
    right: 0;
    height: 100%!important;
    border-radius: 0;
    width: 50%!important;
    box-shadow: none;
    background-color: #fff;
    border: 0;
    transition: 1s;
    -webkit-animation-name: mshow;
    top: 0;
    -webkit-animation-duration: .5s;
    animation-name: mRightshow;
    animation-duration: .5s;
    .modalTop h2 {
        font-size: 17px;
        font-weight: 600;
    }
    .dcm-asn-status {
        display: flex;
        border-top: solid 1px #dce6f0;
        padding: 25px 30px 15px;
        align-items: center;
        .dcmasns-number {
            display: block;
            margin-right: 30px;
            position: relative;
            span {
                display: block;
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
                .mandatory {
                    display: inline-block;
                }
            }
            .dcmasnsn-num {
                color: #21314b;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
            }
            .dcmasnsn-status {
                color: #8b77fa;
                font-size: 12px;
                font-weight: 600;
                margin-top: 10px;
            }
        }
        .dcmasns-bdr-lft:before{
            content: "";
            position: absolute;
            top: 15px;
            left: -15px;
            height: 20px;
            width: 1px;
            background-color: #dce6f0;
        }
    }
    .ptb-15{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .border-top-none:first-child{
        border-top: none;
    }
    .p-lr-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .dcm-input{
        width: 80%;
        height: 33px;
        border-radius: 6px;
        border: solid 1px #dce6f0;
        font-size: 12px;
        font-weight: 500;
        padding: 3px 6px;
        display: block;
    }
    .dcm-input-amount{
        width: 80%;
        height: 33px;
        border-radius: 6px;
        border: solid 1px #dce6f0;
        font-size: 12px;
        font-weight: 500;
        padding: 3px 6px 3px 30px;
        display: block;
    }
    .rupee-html-sign{
        position: absolute;
        left: 0;
        bottom: 0;
        font-weight: 600;
        font-size: 14px;
        padding: 6px 8px;
        height: 33px;
        color: #97abbf;
        border-right: solid 1px #dce6f0;
    }
    .dcm-list-item{
        margin: 0px;
        padding: 0px;
    }
    .dcm-asn-details {
        display: block;
        width: 100%;
        border-top: 1px solid #dce6f0;
        padding-top: 25px;
        // padding-bottom: 10px;
        h3{
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
        }
        .dcmad-items {
            font-size: 12px;
            font-weight: 500;
            margin-left: 10px;
            color: #97abbf;
        }
    }
    .cancel-asn-quantity-check{
        position: relative;
        .checkBoxLabel0{
            height: 16px;
            padding-left: 5px;
            margin: 0;
            margin-left: 20px;
            cursor: pointer !important;
            .checkmark1{
                left: -20px;
                top: 0;
                height: 16px;
                width: 16px;
                background-color: #fff;
                cursor: pointer;
                border-radius: 4px;
                border: 2px solid #dce6f0;
            }
            .checkmark1:after{
                content: none;
            }
            input:checked~.checkmark1 {
                background-color: #8b77fa;
                border: none;
            }
            input:checked~.checkmark1:after {
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
                content: "";
            }
        }
    }
}

// Style New Create Lr Modal
.create-lr-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .clrm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        box-shadow: 0 1px 9px 0 rgba(145, 145, 145, 0.16);
        background-color: #ffffff;
        width: 100%;
        height: 65px;
        .clrmh-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
            .clrmhl-detail {
                display: block;
                position: relative;
                margin-left: 40px;
                h5 {
                    font-size: 12px;
                    font-weight: 500;
                    color: #97abbf;
                }
                .clrmhld-info {
                    font-size: 14px;
                    font-weight: 600;
                    color: #12203c;
                    display: block;
                }
            }
            .clrmhl-detail:before{
                content: "";
                position: absolute;
                top: 7px;
                left: -20px;
                width: 2px;
                height: 26px;
                background-color: #97abbf66;
            }
        }
        .clrmh-right {
            display: flex;
            align-items: center;
            button{
                position: relative;
                border-radius: 5px;
                background-color: #ffffff;
                font-size: 12px;
                font-weight: 600;
                height: 32px;
                padding: 5px 20px;
                margin-left: 10px;
                color: #12203c;
            }
            .clrmh-manageasn {
                border: solid 1px #97abbf;
                background-color: #ffffff;
            }
            .clrmh-manageasn:after{
                content: "";
                position: absolute;
                top: 5px;
                right: -16px;
                width: 2px;
                height: 22px;
                background-color: #97abbf9c;
            }
            .clrmh-createlr {
                background-color: #8b77fa;
                color: #fff;
                margin-left: 30px;
            }
        }
    }
    .clrm-body {
        display: block;
        position: relative;
        padding: 30px 30px;
        height: calc(100% - 65px);
        // overflow: auto;
        // margin-bottom: 30px;
        .clrmb-oveflow{
            overflow: auto;
            height: 100%;
            overflow-x: hidden;
        }
        .clrmb-flex{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
        }
        .clrmb-row {
            display: block;
            position: relative;
            margin-bottom: 30px;
            h3 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .clrmbr-inner {
                display: inline-block;
                padding-right: 15px;
                width: 19%;
                label {
                    font-size: 12px;
                    color: #12203c;
                    font-weight: 500;
                }
                input, select, .bgDisableColor, textarea{
                    border-radius: 5px;
                    padding: 6px 10px;
                    width: 100%;
                    font-size: 11px;
                    font-weight: 600!important;
                    height: 32px;
                    color: #12203c;
                    display: block;
                }
                input {
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                }
                input[type="date"] {
                    background-image: url('../assets/calenderNew2.svg');
                    background-size: 16px;
                }
                .search-input{
                    padding: 6px 25px 6px 10px;
                }
                select {
                    -webkit-appearance: none;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    background-image: url("../assets/downArrowNew.svg");
                    background-repeat: no-repeat;
                    background-position: 96%;
                }
                .bgDisableColor {
                    border: 1px solid #bfdfff;
                    background-color: #f2f5f8 !important;
                    text-indent: 0;
                }
                textarea{
                    height: 100px;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                }
                .error{
                    position: absolute;
                }
            }
            .dateFormat{
                input[type=date]:before {
                    position: absolute;
                    top: 7px;
                    left: 8px;
                    content: attr(data-date)!important;
                    display: inline-block;
                    color: #12203c;
                }
            }
            .clrmbr-wdth16{
                width: 16.6666%;
            }
            .clrmbr-wdth50{
                width: 50%;
            }
            .clrmbr-mode {
                display: inline-block;
                width: 36%;
                .clrmbr-inner {
                    width: 50%;
                }
            }
        }
        .modal-backdrop-new{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.7!important;
        }
        .tableBottomFix{
            position: absolute;
            bottom: -301px;
            left: 0;
            width: 100%;
            height: 300px;
            padding: 30px;
            .tbf-head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                .tbfh-left{
                    display: flex;
                    align-items: center;
                    button{
                        width: 32px;
                        height: 32px;
                        position: relative;
                        border: 1px solid #ccd8ed;
                        border-radius: 5px;
                        background-color: #fff;
                        margin-right: 20px;
                        transition: 0.6s all;
                    }
                    button:hover{
                        background-color: #4a5568;
                        border: 1px solid #4a5568;
                        svg{
                            path{
                                fill: #ffffff;
                            }
                        }
                        .generic-tooltip{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                .tbfh-right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    button{
                        padding: 5px;
                        border-radius: 50%;
                        border: solid 2px #000000;
                        background-color: #ffffff;
                    }
                }
            }
            .vendor-gen-table .manage-table {
                overflow-y: auto;
                overflow-x: auto;
                max-height: 170px;
            }
        }
        .tableBottomFix.scroll{
            bottom: 0;
        }
    }
}

// Style Add Shipment Modal
.add-shipment-modal{
    border-radius: 0;
    box-shadow: none;
    .asm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        box-shadow: 0 1px 9px 0 rgba(145, 145, 145, 0.16);
        background-color: #ffffff;
        width: 100%;
        height: 65px;
        .asmh-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
        }
        .asmh-right {
            display: flex;
            align-items: center;
            button{
                position: relative;
                border-radius: 5px;
                background-color: #ffffff;
                font-size: 12px;
                font-weight: 600;
                height: 32px;
                padding: 5px 20px;
                margin-left: 10px;
                color: #12203c;
            }
            .asmh-done {
                background-color: #8b77fa;
                color: #fff;
                margin-left: 30px;
            }
        }
    }
}

// Style Edit Request Quantity Modal
.modal-content.edit-request-quantity {
    width: 431px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 321px;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
    // box-shadow: none;
    .erq-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
        }
        .erqh-remove {
            display: inline-block;
            cursor: pointer;
        }
    }
    .erq-body {
        padding: 20px 0;
        margin-top: 30px;
        text-align: center;
        .erq-fields {
            margin-bottom: 110px;
            text-align: left;
            label{
                font-size: 12px !important;
                font-weight: 500;
            }
            input {
                border-radius: 6px;
                border: 1px solid #dce6f0;
                background-color: #fff;
                font-size: 12px;
                font-weight: 500;
                color: #000;
                padding: 3px 5px;
                height: 30px;
                display: block;
                margin-top: 7px;
                width: 100% !important;
            }
        }
        button {
            font-size: 13px;
            font-weight: 600;
            background: #8b77fa;
            color: #ffff;
            padding: 9px 90px;
            border-radius: 6px;
        }
    }
}