@import "base";
@import "~bootstrap/scss/bootstrap.scss";
@import "./sample";
@import "./variables.scss";
@import "./headerSidebar";
@import "./masterVmart";
@import "./vendor";
@import "./vendor_manage";
@import "./rightSideBar";
@import "./signIn";
@import "./item";
@import "./homeDashboard";
@import "./dashboard";
@import "./organisation";
@import "./role";
@import "./siteMapping";
@import "./site";
@import "./profile";
@import "./userManage";
@import "./changePassword";
@import "./purchaseOrder";
@import "./resettingPassword";
@import "./purchaseIndent";
@import "./loading";
@import "./onBoarding";
@import "./dragAndDrop";
@import "./loader";
@import "./email";
@import "./history";
@import "./pageError";
// @import "./replenishment";
@import "./variables.scss";
@import "./newSummary.scss";
@import "./variables.scss";
@import "./helper";
@import "./assortment";
@import "./masterSketches";
@import "./sketchesFilter";
@import "./piSaveModal.scss";
@import "./forecastOnDemand.scss";
@import "./dataSync.scss";
@import "./weekely.scss";
@import "./dialer.scss";
@import "./adHocRequest.scss";
@import "./adHocModal.scss";
@import "./budgetedSales.scss";
@import "./budgetedSalesModal.scss";
@import "./piInvoicePdfModal.scss";
@import "./smallLoader.scss";
@import "./profileModal.scss";
@import "./changeSetting.scss";
@import "./udfMapping.scss";
@import "./itemUdf.scss";
@import "./poHistory.scss";
@import "./openToBuy.scss";
@import "./openToBuyGraph.scss";
@import "./otbModal.scss";
@import "./sessionExpiremodal.scss";
@import "./viewActivity.scss";
@import "./festivalSetting.scss";
@import "./storeProfile.scss";
@import "./festivalSettingAdmin.scss";
@import "./promotionalEvents.scss";
@import "./rolesMaster.scss";
@import "./inventoryAutoConfig.scss";
@import "./vendorPortal.scss";
@import "./createCongiguration.scss";
@import "./manageRuleEngine.scss";
@import "./sellThru.scss";
@import "./runOnDemandNew.scss";

@import "./shipment.scss";
@import "./logistics.scss";
@import "./vendorSubscription.scss";
@import "./enterpriseNew.scss";
@import "./vendorDashboard.scss";
@import "./newPiPo.scss";

@import "./procurementDashboard.scss";
@import "./arsPlannerWork.scss";
@import "./inventoryPlanning.scss";
@import "./vendorCatalogue.scss";
@import "./comment.scss";
@import "./invoiceManagement.scss";
@import "./responsive.scss";

// @import "./datePicker";
html {
  box-sizing: border-box;
}
*, body
{
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;

}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  outline: none;
  user-select: text;
  overflow-x: hidden;
  overflow-y: auto;
}
table>thead>tr>th>label{
  // text-transform: uppercase !important;
  font-size: 11px !important;
}
table>tbody>tr>td>label {
  font-size: 11px !important;
}
input[type="text"], textarea, input[type="email"], input[type="number"]{
  color: #4a4a4a;
  font-weight: 700 ;
}
::-webkit-input-placeholder { 
    font-weight: 500;
}

input[type=date]::-webkit-inner-spin-button{

    -webkit-appearance: none !important;
}
input[type=date]::-webkit-calendar-picker-indicator{
  color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      // background: url(../assets/calender.svg) no-repeat;
      // width: 20px;
      // height: 20px;
      border-width: thin;
      -webkit-appearance: none !important;
      padding-top: 10px;
      padding-right: 10px;

      width: 92%;
    height: 18px;
    top: 0;
    position: absolute;
    background: transparent;
    // z-index: 10;
    cursor: pointer;
  
}
input[type="date"]::-webkit-clear-button{
  z-index: 10;
  cursor: pointer;
  right:4;
  position: absolute;
}
input[type="date"]{
  background: url('../assets/calender-new.svg') no-repeat;
  background-position: 92%!important;
  cursor: pointer;
  z-index: 0;
  position: relative;
  background-size: 20px;
}
// .dateIcon{
//   background: url(../assets/calender.svg) no-repeat;
//   background-position: 94%;
//   cursor: pointer;
// }
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
  input[type="date"]:before {
    content: attr(placeholder) !important;
  }

  .editDateFormat{
    input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: inline-block !important;
    display: inline-block !important;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: inline-block !important;
    display: inline-block !important;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: inline-block !important; 
    display: inline-block !important;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: inline-block !important;
    display: inline-block !important;
}
  input[type="date"]:before {
    content: attr(placeholder) !important;
  }
  }

button {
  outline: none !important;
  border: none;
}
input:focus {
  outline: none;
}
// input:focus {
//   border: solid 1px #6d6dc9 !important;
//   border: solid 1px var(--iris);
// }
// select:focus {
//   border: solid 1px #6d6dc9 !important;
//   border: solid 1px var(--iris);
// }
// textarea:focus {
//   border: solid 1px #6d6dc9 !important;
//   border: solid 1px var(--iris);
// }
.error_icon{
  position: absolute;
  top: 7px;
  right: 46px;
  -webkit-user-drag: none;
}
.error_icon_img{
  top: 0px;
  position: relative;
  right: 25px;

}
.error_icon_purchase{
  position: absolute;
  top: 25px;
  right: 40px;
  -webkit-user-drag: none;
}
.error_icon_purchase1{
  position: absolute;
  top: 7px;
  right: 30px;
  -webkit-user-drag: none;
}
.error_icon-txtarea{
  position: absolute;
  top: 45px;
  right: 45px;
  -webkit-user-drag: none;
}
.error_icon_purchase-indent{
  position: absolute;
  top: 25px;
  right: 20px;
  -webkit-user-drag: none;
}
.backdrop{
  background-color: #fff;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
}
textarea{
  resize: none;
}
.footerDivForm{
    display: inline-block;
    // height: 5%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -3px 10px -5px rgba(186, 186, 186, 0.5);
}
  table>thead>th, table>tbody>td{
    vertical-align: middle;
  }
  .searchWithBar{
      background-color: #6d6dc9;
    // padding: 3px;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 8px 14px;
    border-radius: 0 3px 3px 0;
  }
  .manageSearch .searchWithBar svg{
    padding-left:6px;
    background: transparent;
    border:0;
  }
  .page_footer{
    width: 100%;
    display: inline-block;
    padding: 10px 0 15px;
    background-color: #ffffff;
    text-align: center;
    .footer-links {
      font-size: 11px;
      font-weight: 500;
      color: #a6b7c7;
      a {
        color: #a6b7c7;
        font-weight: 500;
        font-size: 11px;
        transition: 0.6s all;
    }
    a:hover{
      color: #8b77fa;
    }
  }

  }
  .page_footer p{
    text-align: center;
    font-size: 12px;
    color: #6a7385;
    font-weight: 600;
    margin: 0;
  }
  .bg-transparent{
    background-color: transparent;
  }
  .bottomPosition{
      position: absolute;
    height: auto;
    bottom: 10px;
    right: 15px;
  }

  /* succesmodal */


.modalSuccessColor{

  text-align: left;
  background: #fff;
  width: 30%;
  height: 30%;
  padding: 15px;
  display: inline-block;
  border-top: none!important;
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
  border-radius: 25px;
  margin-left: 480px;
}
.display_grid{
  display: grid  !important;
}
.p-t-5>li{
  padding-top: 5px !important
}
  .clickChangeBackground{
        background: #f4f4fd;
  }
.display_block{
  display: block !important;
}
.display_none{
  display: none !important;
}
.backdroploader{
  background-color: #fff;
  opacity: .9;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999 !important;
}
// .table>tbody>tr>td>label{
//   word-break: normal;
//   max-width: 190px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }
.pagination{
  float: right;
  width: 25%;
  height: 35px;
  border: 1px solid #e3e7f3;
  border-radius: 25px;
}
.PageFirstBtn{
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  color: #4a4a4a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  background: transparent;
  border-right: 1px solid #e3e7f3;
}
.pagination>li:hover{
  background-color: #e3e7f3;
  transition: .5s;
}
.pagination>li:nth-child(1):hover{
  border-radius: 20px 0 0 20px;
  background-color: #e3e7f3;
  transition: .5s;
}
.pagination>li:nth-child(4):hover{
  border-radius: 0px 20px 20px 0px;
  background-color: #e3e7f3;
  transition: .5s;
}
.PageFirstBtn>span{
  font-weight: 700;
}
.pagination>li{
  width: 25%;
  height: 100%;
  padding: 0px;
  display: inline-block;
  transition: .5s;
}
.pagerDiv{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}

.borderNone{
  border-right: none !important;
}
.height110vh{
  height: 110vh !important;
}
.profile_error_icon {
  position: absolute;
  top: 12px;
  right: 30px;
}
.errorBorder{
  border: 1px solid#c44569 !important;
}
.page_footer .copyrightText label{
  cursor: inherit;
}
// input:not( :focus )::-webkit-datetime-edit-ampm-field,
// input:not( :focus )::-webkit-datetime-edit-day-field,
// input:not( :focus )::-webkit-datetime-edit-hour-field,
// input:not( :focus )::-webkit-datetime-edit-millisecond-field,
// input:not( :focus )::-webkit-datetime-edit-minute-field,
// input:not( :focus )::-webkit-datetime-edit-month-field,
// input:not( :focus )::-webkit-datetime-edit-second-field,
// input:not( :focus )::-webkit-datetime-edit-week-field,
// input:not( :focus )::-webkit-datetime-edit-year-field,
// input:not( :focus )::-webkit-datetime-edit-text {
//   color: transparent;
//   content: attr(placeholder)
// }
input[type="time"]::-webkit-placeholder{
  color: #c44569;
}
.breadCrumbArrow{
  padding-top:2px;
}
.breadcrumbsList .dropdown a:hover>span>i{
  color:#fff;
  transition: 0.5s;
}
.height0{
  height: 0px !important;
}
html{
  scroll-behavior: smooth;
}
.scrollHidden{
  overflow-y: hidden
}
.hideElement{
  display: none;
}
.clickableBtn{
  border-bottom: 1px solid #6d6dc9;
    color: #6d6dc9 !important;
}
.closeSearch{
  position: absolute;
  right: 105px;
  top: 6px;
  cursor: pointer;
}
.inlineBlock{
  display:inline-block;
}
.crossIcon{
  position: relative;
    left: 32pc;
    bottom: 1.9pc;
    width: 20px;
    padding: 2px;
    height: 19px;
    cursor: pointer;
}
.crossIcon img{
  height: 12px;
  cursor: pointer;
}
.promotional{
  float: right;
  width: 35%;
}
.promotional> li{
  width: 100%;
}
.promotional> li> input{
  width: 55% !important;
}
.selectFileNysaa ul li.last-child{
  margin-top: 15px;
}
.selectFileNysaa ul li:nth-child(4){
  margin-bottom: 0px;
  margin-top: 15px;
}
.selectFileNysaa .uploadStatusSkc ,.selectFileNysaa .uploadStatusMs{
  position: inherit;
}
.bold{
  font-weight: 600 !important;
    font-size: 11px;
}
.focusClear{
  background: transparent;
}
.alertPopUp .modal-main{
 position: absolute;
    bottom: 16px;
    right: 57px;
    width: 394px;
    height: 180px;
    top: auto;
    z-index: 999999;   
}
.alertPopUp .modal-main .closeimg{
  top: -14px;
  position: absolute;
  right: -15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
}
.alertPopUp .modal-main h3{
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #535b78;
  margin-right: 10px;
}
.alertPopUp{
  height: 87% !important;
    // position: relative;
}
.alertPopUp .modal-main span{
  font-weight: 600;
}
.alertPopUp .modal-main label{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #535b78;
  margin-top: 10px;
}
.alertPopUp .modal-main p{
  font-size: 12.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #535b78;
  margin-top: 23px;
  line-height: 1.5;
}
.alertPopUp .modal{
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 2px 22px 0 hsla(0,0%,85%,.5);
  background-color: #fff;
  padding: 20px 25px;
}
.alertPopUp .error{
  border: 2px solid #ea053b;
}
.swing{
  animation: swing ease-in-out 0.2s infinite alternate;
  z-index: 9999;
  position: relative;
  transform-origin: left 42px;
  float:right;
}
.swing::after{
  content: '';
    position: absolute;  
    width: 20px;
     height: 20px;  
    top: -10px;
     left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.swing::before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
}
@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}
.errorMessagemodalUpdate ul li{
  position: initial !important;
      display: flex !important;
}
.errorMessagemodalUpdate ul li:nth-child(2){
      margin: 0 !important;
          padding: 0 !important;
}
.errorMessagemodalUpdate ul li label{
      font-size: 15px;
    color: #4a4a4a;
}
.errorMessagemodalUpdate ul{
  vertical-align: top;
      height: 72px;
    overflow: auto;
}
.errorMessagemodalUpdate p{
      margin-left: 20px;
    font-size: 10px;
    font-weight: 500;
    color: #4a4a4a;
}
.donwloadReport{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding: 4px 10px;
  border-radius: 33px;
  background-color: #6d6dc9;
}
.height_630{
  height:630px !important
}
.m-top-350{
  margin-top: 350px
}
.m-bot-20{
      margin-bottom: 20px
}

.tableOddColor>tbody>tr.bg-disable{
      background-color: #CAD3C8 !important;
}
.width-34{
  width:34% !important;
}

.ht-60{
    height: 60px !important;
}
.ht-45{
    height: 45px !important;
}
.width-192
{
  width:192 !important;
}

@for $i from 1 through 100{
  .m-l-#{$i}{
    margin-left: 1px *  $i 
  }
    }

    @for $wd from 30 through 200{
  .width-#{$wd}{
    width: 1px *  $wd 
  }
    }
       @for $per from 30 through 200{
  .width-p-#{$per}{
    width: 1% *  $per  !important 
  }
    }


    .width-100p{
    width:100% !important;
}
.width-95p{
  width: 95% !important;
}

.ht-40{
    height: 40px !important;
}
.width-60{
    width: 60px !important;
}
.pos_rel{
  position: relative !important;
}