.assginRole{
    
    border-radius: 14px;
    box-shadow: 0 0 12px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    padding: 10px 15px;
    width: 92%;
    height: 115px;
    h3{
        @include fontStyle(12px , normal ,#535b78);
    }
    h2{
        @include fontStyle(13px , 600 , #4a4a4a);
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.assignBtn{
    @include buttonStyle(13px,normal , 15.5px , transparent , #6629db , 0px , solid 1px #6629db);
    transition: 0.5s;

    &:hover{
        @include buttonStyle(13px,normal , 15.5px , #6629db , #ffffff , 0px ,solid 1px #6629db);
    }
   width: 84px;
   height: 28px;
}
.marginAlignBot{
    height: 40px;
    label{
        @include fontStyle(11.4px , normal , #9b9b9b);
        margin-bottom: 2px;
    }
    p{
        @include fontStyle(12px , normal , #535b78);
    }
}
.editButton{
    @include buttonStyle(12px,normal , 15.5px , transparent , #535b78 , 0px ,0px);
    letter-spacing: 0.65px;   
    display: flex;
    align-items: center;
    margin-left: auto;
    img{
        margin-left: 7px;
        height: 13px;
    }
}
.eachConfigCard{
    margin: 5px 0px;
    display: inline-block;
    width: 95%;
    height: 125px;
    border-radius: 14px;
    box-shadow: 0 0 12px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    padding: 11px 13px;
    &.active{
         border: solid 1px #6629db; 
         .selectBtn button{
             background: #6629db;
             color: #fff;
         }
    }
    label{
        @include fontStyle(12px , 600 ,#4a4a4a);        
        letter-spacing: 0.62px;
    }
    span{
        @include fontStyle(12px , normal ,#535b78);        
    }
    .configDetail{
        display: inline-block;
        // padding-right: 17px;
        width: 30%;
        h3{
            @include fontStyle(12px , 600 ,#4a4a4a);        
        }
        p{
            @include fontStyle(11px , 500 ,#535b78);   
            letter-spacing: 0.65px; 
            @include textEllipses(0px 10px 0px 0px);
            white-space: nowrap;
        }
        img{
            padding: 0;
            position: absolute;
            bottom: 13px;
            right: 9px;
        }
    }
    .selectBtn{
        margin-top: 16px;
        display: inline-block;
        text-align: center;
        button{
            width: 116px;
            height: 32px;
            border-radius: 17.5px;
            box-shadow: 0 0 12px 0 rgba(196, 196, 196, 0.5);
            background-color: #ffffff;
            @include fontStyle(13px , 500 ,#535b78); 
        }
        
    }
}
.manageRuleModal{
    margin: 0 11% auto;
    .modalpoColor{
        width: 80%;
        height: auto;
        padding-right: 0px;
        padding-left: 30px;
    }
    h2{
        @include fontStyle(15px , 600 ,#4a4a4a);
        span{
            color: #6629db;
        }
    }
    h4{
        @include fontStyle(13px , normal ,#4a4a4a);
    }
    .modalBot{
        .left{
            border-radius: 14px;
            box-shadow: 0 0 12px 0 rgba(196, 196, 196, 0.5);
            background-color: #ffffff;
            padding: 18px 18px;
            p{
                margin-bottom: 0px;
            }
            .checkBoxLabel0{
                &~label{
                    font-size: 12px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;
                    padding-left: 4px;
                    cursor: pointer !important;
                }
            }
            label{
                @include fontStyle(11px , normal ,#4a4a4a);
                margin-top: 2px;
                .checkmark1{
                    left: 1px;
                    top: 1px;
                    border-radius: 0px;
                    height: 17px;
                    width: 17px;
                    &:after{
                        border-width: 0 2px 2px 0;
                        left: 5px;
                        top: 2px;
                        width: 6px;
                    }
                }
            }
            ul{
                margin-bottom: 0;
                margin-top: 10px;
            }
        }
        .right{
            label{
                @include fontStyle(11.5px , 600 ,#4a4a4a);
            }
        }
    }
}
.leftRightScroll{
    p{
        margin: 0px 10px 0px 10px;
        @include fontStyle(11px , 500 ,#4a4a4a);
    }
    .leftShift ,.rightShift{
        height: 33px;
        width: 33px;
    }
}
.viewAttributesModalMain{
    margin: 0 22% auto;
}
.viewAttributesModal{
    width: 55%;
    height: auto;
    display: inline-table;
    border-radius: 8px;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    .modalTop{
        border: solid 0.5px #dcdcdc;
    }
    h2{
        @include fontStyle(17px , 700 ,#4a4a4a);
        letter-spacing: 0.97px;
    }
    .modalContent{
        padding : 30px 0px 30px 30px;
        label{
            @include fontStyle(12px , 500 ,#4a4a4a);
        }
        h3{
            @include fontStyle(14px , 600 ,#4a4a4a);
            font-size: 14px;
            letter-spacing: 0.74px;
        }
        h4{
            @include fontStyle(13px , 600 ,#4a4a4a);
            font-size: 13px;
            letter-spacing: 0.54px;
        }
        p{
            @include fontStyle(11px , 500 ,#535b78);
            letter-spacing: 0.65px;
        }
    }
}