.container_master_content {
    width: 100%;
    height: 73vh;
    display: inline-block;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 9px 0 hsla(0,0%,76%,.5);
}

.list_style{
    padding: 0px;
    list-style: none;
}

.site-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    color: var(--greyish-brown);
}

.para-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.MRP_CONTRIBUTION{
    color: #6d6dc9;
}
.heading-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.master_Div{
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.form-box{
    height: 30px;
    width: 175px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    text-indent: 5px;
  }

  .privacy_link{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}
.btn_master_save{
    width: 100px;
    height: 25px;
    border-radius: 21.8px;
    background-color: #6d6dc9;
    border: #6d6dc9;
    color: #fff;
    outline: none;
    font-size: 10px;
    font-family: Montserrat;
}
.btn_master_clear{
    width: 41px;
    height: 18px;
    font-size: 10px;
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.footerbutton {
    display: inline-block;
    height: 10%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -3px 10px -5px hsla(0,0%,73%,.5);

}
/*  PURCHASE-INDENT-MODAL */

.modal-open{
    padding: 0px;
  }

 
  .modalPurchase{
      display: inline-block;
      padding: 20px;
      width: 100%;
      height: auto;
      overflow: auto;
    }
    .select_name-content {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 600px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
     
      .findButton{
        width: 70px;
        height: 30px;
        border-radius: 4px;
        background-color: #6d6dc9;
        border: solid 1px #3b3b98;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        outline: none;
      }
      .clearbutton{
        width: 50px;
        height: 30px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #e5e5e5;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8b8b8b;
        outline: none;
      }

//     .table{
//     min-height: 150px !important;
//     overflow: auto;
    
// }
//   .table>thead{
//     font-family: Montserrat;
//     font-size: 10px;
//     font-weight: 600;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: normal;
//     color: #4a4a4a;
//     border-top: solid 1px #e5e5e5;
//   }
//   .table>tbody>tr>td{
//     border: solid 1px #e5e5e5;
//     vertical-align: middle !important;
//   }
//   .table>tbody>tr>td:nth-child(1){
//       border-left: none !important;
      
//   }
//   .table>tbody>tr>td:last-child{
//     border-right: none !important;
// }

// .table>tbody{
//     font-family: Montserrat;
//     font-size: 10px;
//     font-weight: 300;
//     vertical-align: middle;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: normal;
//     color: #8b8b8b;
// }

    .doneButton{
        width: 70px;
        height: 25px;
        border-radius: 13px;
        background-color: #6d6dc9;
        border: solid 1px #3b3b98;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        outline: none;
    }
    .closeButton{
        width: 70px;
        height: 25px;
        border-radius: 13.5px;
        background-color: #ffffff;
        border: solid 1px #dcdcdc;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;
        outline: none;
    }
    
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0;
      z-index: 1050;
  }
    .modal-backdrop{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #ffffff !important;
    }
      .modal-backdrop.in{
        opacity: 0.7 !important;
      }
  

    /*_______checkbox___________________*/
  .round {
    position: relative;

  }
  
  .round label {
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    color: #ffffff;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    width: 10px;
    height: 5px;
    top: 7px;
    left: 5px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg); 
  }

  .round label::before {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    width: 10px;
    height: 5px;
    top: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg); 
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #6d6dc9;
    border-color: #6d6dc9;
  }

  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .round input[type="checkbox"]:not(:checked) + label {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
  }
  .round input[type="checkbox"]:not(:checked) + label::before {
    opacity: 1;
  }

  /*___________________________radio_______________________________*/

    [type="radio"]:checked,[type="radio"]:not(:checked) {
        position: absolute;
    }

    [type="radio"]:checked + label,[type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        display: inline-block;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }

    [type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: -3px;
        top: -3px;;
        width: 18px;
        height: 18px;
        border: 1px solid #e5e5e5;
        border-radius: 100%;
        background: #e5e5e5;
    }
    [type="radio"]:checked + label:after,[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #6d6dc9;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 100%;
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
       
    }

  
/*_______________________________________________________________________________*/
