.sketchesDownload{
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 17.5px;
    width: 30%;
}
.sketchesDownload span{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
}
.sketchesDownload button{
    background: transparent;
}
.sketchesDownload span a{
    font-weight: bold;
    color:#4a4a4a;
    border-bottom: 2px solid #6d6dc9;
}
.sketchesDownload span a:hover{
    text-decoration:none;
}
.sketchesDownload img{
    padding-right:10px;
}
.chooseFileSketches ul{
    display: flex;
    align-items: flex-end
}
.chooseFileSketches li{
    width:16.6%;
    display: inline-block;
}
.chooseFileSketches li:nth-child(3){
    vertical-align: bottom;
    width: 15%;
}
.chooseFileSketches li:nth-child(4){
    vertical-align: bottom;
    margin-bottom: 10px;
    padding-left: 46px;

}
.chooseFileSketches li select{
    width:85%;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
}
.chooseFileSketches h6{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
// .sketchesChooseFile{
//     background-color:#ececf6;
// }
.sketchesChooseFile input[type="file"]{
    display:none;
}
.sketchesChooseFile label{
    border-radius: 18px;
    background-color: #ececf6;
    padding: 4px 12px 4px 8px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.custom-file-upload {
    background-color:#000;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.sketchesNote h5{
    font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.sketchesNote h5 span{
    font-weight: 600;
}
.sketchesEmpty{
    height:200px;
}
.sketchesChooseFile{
    height: 35px;
}
.sketchesChooseFile img{
    padding-left: 5px;
    height: 13px;
}
.chooseFileSketches li h6{
    width: 85%;
}
.chooseFileSketches li .form-group{
    width: 85%;
    float: left;
}
.chooseFileSketches li .sketchesChooseFile{
    width: 85%;
    float: left;
}
.fileDetails p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    margin-left:10px;
    color: #4a4a4a;
}
.fileDetails p:first-child{
    margin-right: 10px;
    margin-top: 5px;
    font-weight:600;
}
.uploadStatusMs{
    padding-left:5px;
    color:#4a4a4a;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.btnLoad{
    vertical-align: middle!important;
    margin-bottom: 0!important;
}
.loaderTextSke{
    position: absolute;
    bottom: 7px;
    left: 600px;
}
.uploadStatusSkc{
    position: absolute;
    bottom: 7px;
    font-size: 11px;
    font-weight: 600;
}
.uploadSuccessIcon img{
    height: 23px;
}
.uploadSuccessIcon{
    text-align:center;
}
.container-top{
    padding: 20px 23px;
    border-radius: 8px;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
}
.masterFromInput input{
    width: 85%;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    text-indent: 10px;
}
.masterFromInput label{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
}
.masterFromInput .dropDown .inputMaster span{
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.masterFromInput .dropDown .inputMaster{
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    width: 83%;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    color: #4a4a4a;
}
.masterFromInput .dropdown-toggle:after{
    display: none;
}
.masterFromInput .dropDown span img{
    margin-right: 10px;
    margin-left: auto;
    height:7px;
}
.masterFromInput .fieldWid{
    width: 18%;
    float: left;
}
.masterFromInput .dropDown ul{
    width: 83%;
    top: 35px;
    height: auto;
    z-index: 10;
    right: auto !important;
    padding: 6px 8px!important;
    max-height: 120px;
    overflow: auto;
}
.masterFromInput .dropDown ul li{
    padding: 3px 8px;
    font-size: 11px;
    font-weight: 500;
    color: #4a4a4a;
}
.masterFromInput .dropDown ul li:hover{
    background: #6d6dc9;
    border-radius: 4px;
    color: #fff;    
}
.container-bottom{
    padding: 20px 29px;
}
.filterNew{
    border-radius: 4px;
    border: solid 1px #6629db;
    background-color: #6629db;
    width: 77px;
    height: 30.7px;
    padding-left: 10px;
}
.masterEvenEdit .modalMidPad{
    padding: 30px 35px 77px;
}
.masterEvenEdit .modal-content{
    box-shadow: none;
}
.masterEventTable .fixed-side{
    width: 110px;
}
.masterEventTable .zui-scroller{
    margin-left: 110px;
}
.masterEventContainer{
    border-radius: 8px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    display: inline-block;
    .container-top{
        padding: 23px 23px 36px 36px;
    }
}
.masterEventTable{
    .border-bot0{
        border-bottom: 0px !important;
    }
    .zui-scroller{
        max-width: 1098px;
    }
}
.allStoreModal{
    .modalMidPad{
        padding-top: 10px!important;
    }
}
.newRadioBtns{
    width: 29%;
    border-radius: 33.5px;
    padding: 11px 12px!important;
    background-color: #f7f7f7;
    .checkradio-select{
        left: -23px !important;
    }
    label{
        cursor: pointer !important;
        &.select_modalRadio{
            left: 34px!important;
            top: 3px;
        }
    }
    span{
        &.text{
            font-size: 12px;
            font-weight: 600 !important;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.53px;
            color: #4a4a4a;
        }        
    }
    ul{
        margin: 0px;
        li{
            display: inline-block;
            
        }
    }
}
.excelUpload{
    .content{
        span{
            color: #4a4a4a;
        }
        svg{
            float: right;
            height: 16px;
        }
    }
    .uploadBtn , .uplodaingBtn , .uploadedBtn{
        border-radius: 26px;
        background-color: #6629db;
        color: #fff;
        height: 31px;
        width: 94px;    
        text-align: left;
        display: flex;
        padding: 6px 12px;
        align-items: center;
        justify-content: space-between;
        @include fontStyle(11px , 600 ,#ffffff);
    svg{
        float: right;
        height: 12px;
        }
    }
    .uplodaingBtn{
        background-color: #f8ca1c;
        width: 106px;
        img{
            float: right;
            height: 14px;        
        }
    }
    .uploadedBtn{
        background-color: #7ed321;
        width: 106px;
        img{
            float: right;
            height: 11px;                
        }
    }
}
.noteText{
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    span{
        font-weight: bold;
        margin-right: 6px;
    }
}