// Style New Header
.switch-retailer {
    position: relative;
    p {
        margin: 0;
        font-size: 11px;
        font-weight: 600;
        color: #7180966e;
    }
    span {
        font-size: 12px;
        font-weight: bold;
        color: #12203c;
    }
    .switch-r-image {
        margin-left: 10px;
    }
}
.switch-retailer:before {
    content: "";
    position: absolute;
    top: 1px;
    height: 35px;
    width: 1px;
    background-color: #eaeaea;
    left: -14px;
}
.new-logo-img {
    margin-right: 10px;
    padding: 2px 0;
}
.pad-right-25 {
    padding-right: 25px !important;
}
.new-bell-div {
    position: relative;
    margin-top: 14px;
}
.vendor-notifibell {
    position: relative;
    .bell_icon {
        margin-top: -13px;
    }
}
.vendor-notifibell:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 10px;
    height: 35px;
    width: 1px;
    background-color: #eaeaea;
}
.vendor-notifibell:after {
    content: "";
    position: absolute;
    top: -15px;
    right: -11px;
    height: 35px;
    width: 1px;
    background-color: #eaeaea;
}
.new-bell-div:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 9px;
    height: 35px;
    width: 1px;
    background-color: #eaeaea;
}
.new-bell-div:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -13px;
    height: 35px;
    width: 1px;
    background-color: #eaeaea;
}
.user-name-icon {
    background-color: #8b77fa;
    .firstLetter {
        color: #ffffff;
    }
}
.name-para-2 {
    font-weight: 600;
    position: relative;
    min-width: 155px;
    text-align: left;
    svg {
        position: absolute;
        right: 5px;
        top: 15px;
        transform: rotate(180deg);
        transition: 0.6s all;
    }
}
.dropdown.open {
    .name-para-2 {
        svg {
        transform: rotate(0deg);
        transition: 0.6s all;
        }
    }
}
// .name-para-2:before{
//     content: '';
//     position: absolute;
//     top: -19px;
//     right: 33px;
//     height: 75px;
//     width: 1px;
//     background-color: #eaeaea;
// }
.name-para-2:after {
    content: none;
}
.admin-para-2 {
    font-weight: 500;
    color: #a4b9dd;
}
// Sidebar css
.sidebar-menu2 {
    position: fixed;
    left: 0;
    top: 75px;
    width: 65px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 0 7px 0 hsla(0, 0%, 76%, 0.5);
    z-index: 99;
}
.sidebar-menu2 .main-menu2 {
    position: relative;
    padding: 0;
    height: calc(100% - 75px);
    margin: 0;
}
.sidebar-menu2 .main-menu2 .h2-main-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid #dce6f0;
    cursor: pointer;
}
.sidebar-menu2 .main-menu2 .h2-main-item.active {
    background-color: #8b77fa;
    img {
        filter: brightness(40.5);
    }
    a {
        color: #ffffff;
    }
}
.sidebar-menu2 .main-menu2 .h2-main-item:hover {
    background-color: #8b77fa;
    transition: 0.6s all;
    img {
        filter: brightness(40.5);
    }
    a {
        svg {
        path {
            fill: #ffffff;
            transition: 0.6s all;
        }
        }
    }
    .sm-inner-item .drop-menu-right-arrow {
        filter: invert(0);
    }
    .h2mi-home {
        color: #ffffff;
        transition: 0.6s all;
    }
}
.sidebar-menu2 .main-menu2 .h2-lobtn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #dce6f0;
    border-bottom: none;
}
.sidebar-menu2 .main-menu2 .h2-main-item a {
    display: block;
    padding: 0;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}
.sidebar-menu2 .main-menu2 .h2-main-item a:hover {
    text-decoration: none;
}
.sidebar-menu2 .main-menu2 .h2-main-item {
    .sub-menu {
    position: absolute;
    left: 70px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
    width: 180px;
    height: auto;
    z-index: 99;
    text-align: left;
    transform: translate(0 20px);
    transition: all 0.2s ease-out;
    border: 1px solid #cbd5e0;
    // box-shadow: 0 0 9px 0 hsla(0,0%,76%,.5);
    .sm-head {
        display: block;
        padding: 7px 15px;
        border-bottom: 1px solid #eaeaea;
        .sm-head-inner {
        padding: 3px 6px;
        border-radius: 25px;
        background-color: #8b77fa;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        display: inline-block;
        }
    }
    .sm-inner-item {
        display: block;
        position: relative;
        // padding: 0 10px;
        a {
        padding: 10px 15px;
        background: #ffffff;
        color: #000000;
        font-size: 11px;
        font-weight: 500;
        display: block;
        .drop-menu-right-arrow {
            position: absolute;
            right: 15px;
            top: 13px;
        }
        }
        a:hover {
        text-decoration: none;
        font-weight: 600;
        }
    }
    .sub-menu2 {
        position: absolute;
        left: 188px;
        top: 0px;
        visibility: hidden;
        opacity: 0;
        margin: 0;
        background-color: #ffffff;
        padding: 0;
        width: 180px;
        min-height: 180px;
        z-index: 99;
        text-align: left;
        transform: translate(0 20px);
        transition: all 0.2s ease-out;
        border: 1px solid #cbd5e0;
        // box-shadow: 0 0 9px 0 hsla(0,0%,76%,.5);
        .sm2-inner-item {
        display: block;
        position: relative;
        }
        .sub-menu3 {
        position: absolute;
        left: 188px;
        top: -1px;
        visibility: hidden;
        opacity: 0;
        margin: 0;
        background-color: #ffffff;
        padding: 0;
        width: 180px;
        min-height: 180px;
        z-index: 99;
        text-align: left;
        transform: translate(0 20px);
        transition: all 0.2s ease-out;
        border: 1px solid #cbd5e0;
        .sm3-inner-item {
            position: relative;
        }
        }
    }
    }
}
.border-l {
  border-left: 1px solid rgba(145, 145, 145, 0.16);
}
.sidebar-menu2 .main-menu2 .h2-main-item:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
}
.sidebar-menu2
.main-menu2
.h2-main-item
.sub-menu
.sm-inner-item:hover
> .sub-menu2 {
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
}
.sidebar-menu2
.main-menu2
.h2-main-item
.sub-menu
.sm-inner-item
.sub-menu2
.sm2-inner-item:hover
> .sub-menu3 {
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
}
// End of new sidebar
.pad-l50 {
  padding-left: 50px !important;
}
// Style New Purchase Order Purchase Indent
.new-purchase-head {
    display: flex;
    position: relative;
    width: 100%;
    height: 75px;
    align-items: center;
    border-bottom: 1px solid #dce6f0;
    .nph-title {
        h2 {
            font-size: 20px;
            font-weight: 700;
            color: #000000;
        }
    }
    .nph-pi-po-quantity {
        display: block;
        ul {
            padding: 0;
            margin: 0;
        li {
            display: inline-block;
            margin-right: 25px;
            label {
                font-size: 12px;
                font-weight: 600;
                color: #5f6f89;
            }
            span {
                display: block;
                font-size: 16px;
                font-weight: 700;
                -moz-user-select: text;
                -webkit-user-select: text;
                -ms-user-select: text;
                -o-user-select: text;
                user-select: text;
            }
            .clr-red {
                color: #ff4602;
                img {
                    margin-right: 3px;
                }
            }
        }
        .nppq-history{
            label {
            color: #97abbf;
            }
            .nppqh-info{
            display: inline-block;
            margin-left: 10px;
            position: relative;
            .nppqhi-information {
                position: absolute;
                top: -10px;
                left: 25px;
                width: 370px;
                border-radius: 6px;
                box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                padding: 5px 10px;
                visibility: hidden;
                opacity: 0;
                transition: 0.6s all;
                z-index: 9;
                table{
                margin: 0px;
                thead{
                    th{
                    vertical-align: middle;
                    border-bottom: 2px solid #97abbf40;
                    label{
                        margin: 0;
                    }
                    }
                    th:first-child{
                    padding-left: 0;
                    }
                }
                tbody{
                    tr{
                    td{
                        border: none;
                        label{
                        margin: 0;
                        color: #21314b;
                        font-size: 10px;
                        font-weight: 500;
                        img{
                            width: 8px;
                            margin-right: 6px;
                        }
                        }
                        .nppqhii-status{
                        font-weight: 600;
                        position: relative;
                        padding-left: 10px;
                        }
                        .nppqhii-status:before{
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: -5px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #c1d8f0;
                        }
                        .nppqhiis-drft:before{
                        background-color: #c1d8f0;
                        }
                        .nppqhiis-can:before{
                        background-color: #ff0505;
                        }
                        .nppqhiis-apv:before{
                        background-color: #6fc192;
                        }
                    }
                    }
                }
                }
            }
            }
            .nppqh-info:hover>.nppqhi-information{
            opacity: 1;
            visibility: visible;
            transition: 0.6s all;
            }
        }
        .nppqh-borderlft{
            padding-left: 25px;
            position: relative;
        }
        .nppqh-borderlft:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 10px;
            height: 20px;
            width: 1px;
            background-color: #b4c5d6;
        }
        }
    }
    .display-fe {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nph-switch-btn {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        .tg-switch {
        position: relative;
        display: inline-block;
        width: 77px;
        height: 24px;
        margin: 0;
        }
        .tg-switch .tg-slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: #fff;
        transition: 0.4s;
        }
        .tg-switch .tg-slider {
        background-color: #8b77fa;
        }
        .tg-switch input:checked + .tg-slider {
        background-color: #8b77fa;
        }
        .tg-switch input:checked + .tg-slider:before {
        transform: translateX(53px);
        }
        .nph-wbtext {
        position: absolute;
        left: 14px;
        top: 4px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        font-size: 11px;
        }
    }
    .nph-btn-sc {
        display: inline-block;
        position: relative;
        button {
        display: inline-block;
        padding: 6px 15px;
        font-size: 12px;
        border-radius: 4px;
        border: solid 1px #ccd8ed;
        background-color: #ffffff;
        color: #3a5074;
        font-weight: 500;
        transition: 0.6s all;
        }
        button:hover {
        color: #ffffff;
        border: solid 1px #8b77fa;
        background-color: #8b77fa;
        transition: 0.6s all;
        }
        .nphbc-clear {
        margin-right: 15px;
        }
        .nphbc-submit {
        background-color: #8b77fa;
        border: solid 1px #8b77fa;
        color: #ffffff;
        }
        .nphc-savedraft {
        margin-right: 15px;
        padding: 5px 6px;
        }
        .saveAndClose {
        position: absolute;
        top: 33px;
        left: 76px;
        }
        .nphbc-img {
        display: inline-block;
        padding: 7px 0 6px 10px;
        position: relative;
        img {
            width: 11px;
        }
        }
        .nphbc-img::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 4px;
        height: 30px;
        width: 1px;
        background-color: #ccd8ed;
        }
        .nphc-savedraft:hover {
        .nphbc-img::before {
            background-color: #8b77fa;
            transition: 0.6s all;
        }
        .nphbc-img svg path {
            // fill: #ffffff;
            stroke: rgb(255, 255, 255) !important;
            transition: 0.6s all;
        }
        }
    }
    .gvpd-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
        border-radius: 5px;
        border: 1px solid #ccd8ed;
        background-color: #fff;
        font-size: 12px;
        padding: 5px 15px;
        margin-left: 15px;
        height: 32px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        }
        .gnph-delete {
        background-color: #eb0008;
        color: #ffffff;
        border: solid 1px #eb0008;
        font-weight: 600;
        display: flex;
        padding: 3px 10px;
        align-items: center;
        svg {
            margin-right: 10px;
        }
        }
        .gen-cancel {
        border: 1px solid #e83600;
        background-color: #fff;
        font-weight: 500;
        color: #e83600;
        padding: 5px 22px;
        }
        .gen-approved {
        border: 1px solid #8b77fa;
        background-color: #8b77fa;
        color: #fff;
        padding: 5px 15px;
        font-weight: 600;
        img {
            margin-right: 7px;
            width: 15px;
        }
        }
        .gen-save {
        border: 1px solid #8b77fa;
        background-color: #8b77fa;
        color: #fff;
        padding: 5px 25px;
        }
        .gen-clear {
        padding: 5px 25px;
        }
        .btnDisabled {
        border: 1px solid #f9f9f9 !important;
        background-color: #f9f9f9 !important;
        img {
            margin-right: 7px;
            width: 17px;
        }
        }
        .gen-aprv-disabled {
        padding: 5px 10px;
        }
        select {
        padding: 3px 15px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #ccd8ed;
        height: 32px;
        margin-right: 20px;
        font-size: 12px;
        font-weight: 500;
        }
        .pihitory-download-dropdown {
        display: inline-block;
        position: relative;
        .pi-history-download {
            display: block;
            position: absolute;
            top: 42px;
            right: 0;
            width: 200px;
            padding: 10px 15px;
            border-radius: 12px;
            box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
            background: #ffffff;
            margin: 0;
            z-index: 99;
            li {
            display: block;
            button {
                display: block;
                padding: 0;
                margin: 0;
                border: none;
                margin-bottom: 5px;
                img {
                width: 17px;
                // margin-right: 12px;
                }
                .pi-pdf-img {
                width: 20px;
                margin-left: 8px;
                }
            }
            .export-excel {
                color: #a4b9dd;
                span {
                margin-right: 10px;
                }
            }
            .export-excel:hover {
                color: #12203c;
                span {
                background-color: #049d4b14;
                svg {
                    path {
                    fill: #049d4b;
                    }
                    text {
                    fill: #049d4b;
                    }
                }
                }
            }
            }
        }
        }
        .pi-download {
        width: 32px;
        padding: 5px;
        text-align: center;
        }
        .pi-download2 {
        width: 32px;
        padding: 5px;
        border: 1px solid #d8d3d3;
        text-align: center;
        }
        .pi-download:hover {
        .generic-tooltip {
            opacity: 1;
            visibility: visible;
        }
        }
        .pi-download:hover,
        .gvpd-filter-inner:hover {
        background-color: #4a5568;
        border: 1px solid #4a5568;
        svg {
            path {
            fill: #ffffff;
            }
        }
        }
        .pi-download-focus,
        .gvpd-filter-inner-focus {
        color: #fff;
        background-color: #4a5568;
        border: 1px solid #4a5568;
        svg path {
            fill: #fff;
        }
        }
        .gvpd-filter-inner {
        width: 32px;
        padding: 5px;
        text-align: center;
        }
        .gvpd-three-dot-btn{
        position: relative;
        display: inline-block;
        .gvpdtdb-btn{
            border: none;
            padding: 0 7px;
            span{
                position: relative;
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #b4c5d6;
            }
            span:before, span:after{
                content: "";
                position: absolute;
                top: 0;
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #b4c5d6;
            }
            span:before{
                left: -7px;
            }
            span:after{
                right: -7px;
            }
        }
        .gvpdtd-menu {
            position: absolute;
            top: 45px;
            display: block;
            right: 0;
            background: #fff;
            z-index: 5;
            box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.16);
            border-radius: 6px;
            width: 170px;
            padding: 8px 0;
            .gvpdtdm-inner{
                padding: 0;
                margin: 0;
                li{
                    button{
                        display: block;
                        margin: 0;
                        border: none;
                        padding: 6px 20px;
                        width: 100%;
                        text-align: left;
                        color: #a4b9dd;
                    }
                    .gvpdtdm-extend:hover{
                        color: #12203c;
                    }
                    .gvpdtdm-cancel:hover{
                        color: #eb0008;
                    }
                    .btnDisabled{
                        background-color: #ffffff !important;
                        border: none !important;
                    }
                }
            }
        }
        }
    }
}
// .new-purchase-head:after{
//     content: '';
//     position: absolute;
//     left: 330px;
//     top: 0;
//     width: 1px;
//     height: 75px;
//     background-color: #eaeaea;
// }
.pi-new-layout {
    display: table;
    width: 100%;
    padding: 15px 0;
    position: relative;
    .pnl-radio-button {
        position: absolute;
        top: 6px;
        right: 0;
        display: block;
        z-index: 99;
    }
    .pnl-purchase-label {
        font-size: 11px;
        color: #12203c;
        font-weight: 600;
        height: 19px;
        display: block !important;
    }
    .pnl-purchase-input {
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        // border: solid 1px #faecb4;
        // background-color: #fffae7;
        padding: 6px 25px 6px 10px;
        height: 34px;
        width: 100%;
        font-size: 11px;
        font-weight: 600 !important;
    }
    .pnl-purchase-input::placeholder {
        font-size: 11px;
        color: #12203c;
        font-weight: 500;
    }
    .pnl-purchase-date {
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        // border: solid 1px #faecb4;
        // background-color: #fffae7;
        padding: 6px 25px 6px 10px;
        height: 34px;
        width: 100%;
        font-size: 11px;
        font-weight: 600 !important;
        background-image: url("../assets/date-icon.svg");
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: 16px;
    }
    .pnl-purchase-select {
        display: block;
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        // border: solid 1px #faecb4;
        // background-color: #fffae7;
        padding: 6px 10px;
        height: 34px;
        width: 100%;
        font-size: 11px;
        font-weight: 600;
        -webkit-appearance: none;
        background-image: url("../assets/selectIcon.svg");
        background-repeat: no-repeat;
        background-position: 95%;
    }
    .pnl-purchase-read {
        display: block;
        border-radius: 5px;
        border: 1px solid #bfdfff;
        background-color: #f2f5f8;
        padding: 6px 10px;
        height: 34px;
        width: 100%;
        font-size: 11px;
        font-weight: 600;
        -webkit-appearance: none;
    }
}
.purchase-new-table {
    margin-top: 20px;
    .marginLeft_126 {
        margin-left: 126px !important;
    }
    .pnt-bxsha {
        box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
        margin-bottom: 30px;
    }
    .pit-new-design {
        thead {
        tr {
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            .pnt-fixed {
            width: 126px;
            height: 35px;
            .add-row-btn {
                display: inline-block;
                button {
                background-color: transparent;
                padding: 3px;
                border-radius: 50%;
                }
                button:hover {
                background-color: #ffb1033d;
                }
            }
            .lableFixed {
                margin-left: 13px;
                margin-bottom: 0;
                span {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                }
            }
            }
            th {
            label {
                font-size: 10px !important;
            }
            }
            .set-tdWidth {
            width: 110px;
            label {
                width: 100px !important;
            }
            }
            .set-setNo-width {
            width: 50px !important;
            label {
                width: 40px !important;
            }
            }
        }
        }
        tbody {
        tr {
            .pnt-fixed {
            width: 126px;
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            border: none;
            ul {
                .pnt-f-icon {
                position: relative;
                padding: 6px;
                border-radius: 50%;
                margin-right: 10px;
                cursor: pointer;
                }
                .pnt-f-icon:hover > .generic-tooltip {
                visibility: visible;
                opacity: 1;
                }
                .pnt-bg-red:hover svg path {
                fill: #ff4602;
                }
                .pnt-bg-red:hover {
                background-color: #eb000830;
                }
                // .pnt-bg-red svg:hover path{
                //     fill: #ff4602;
                // }
                .pnt-bg-yellow:hover {
                background-color: #fea70333;
                }
                // .pnt-bg-yellow svg:hover path{
                //     fill: #fea703;
                // }
                .pnt-bg-yellow:hover svg path {
                fill: #fea703;
                }
                .pnt-bg-blue:hover {
                background-color: #23e3eb2e;
                }
                // .pnt-bg-blue svg:hover path{
                //     fill: #23e3eb;
                // }
                .pnt-bg-blue:hover svg path {
                fill: #23e3eb;
                }
            }
            }
            .tInputText {
            // border: 1px solid #dce6f0;
            // background-color: #fff;
            border: solid 1px #faecb4;
            background-color: #fffae7;
            padding: 0;
            border-left: none;
            border-top: none;
            }
            .tInputDate {
            // border: 1px solid #dce6f0;
            // background-color: #fff;
            border: solid 1px #faecb4;
            background-color: #fffae7;
            padding: 0;
            border-left: none;
            border-top: none;
            font-weight: 600 !important;
            input[type="date"] {
                background-color: #fffae7;
                background: url("../assets/date-icon.svg");
                background-repeat: no-repeat;
                background-position: 95%;
            }
            }
            .tInputRead {
            border: 1px solid #bfdfff;
            background-color: #f2f5f8;
            border-left: none;
            border-top: none;
            }
            .tInputType {
            border: solid 1px #faecb4;
            background-color: #fffae7;
            border-left: none;
            border-top: none;
            }
            .inputTable {
            height: 30px;
            font-weight: 600 !important;
            color: #12203c !important;
            }
            td {
            height: 35px;
            }
            .set-tdWidth {
            width: 110px;
            label {
                width: 100px !important;
            }
            input {
                width: 100px !important;
            }
            }
            .set-setNo-width {
            width: 50px !important;
            label {
                width: 40px !important;
            }
            }
        }
        tr:first-child {
            .tInputText {
            // border: 1px solid #dce6f0;
            // background-color: #fff;
            border: solid 1px #faecb4;
            background-color: #fffae7;
            border-left: 0;
            }
            .tInputRead {
            border: 1px solid #bfdfff;
            background-color: #f2f5f8;
            border-left: 0;
            }
            .tInputType {
            border: solid 1px #faecb4;
            background-color: #fffae7;
            border-left: 0;
            }
            .tInputDate {
            border: 1px solid #faecb4;
            background-color: #fffae7;
            border-left: none;
            }
        }
        }
    }
}
// Overflow Hidden
.overfYhid {
    overflow-y: hidden;
}

.modal-search-btn {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 8px 4px !important;
    cursor: pointer;
}
.modal-search-btn-table {
    position: absolute;
    top: 7px;
    right: 6px;
    padding: 0 3px;
    cursor: pointer;
}
.modal-search-btn-table svg:hover path {
    fill: #9b7e00 !important;
}
.mb10 {
    margin-bottom: 10px;
}
// Style Different Types Of Input
.new-generic-table {
    .marginLeft_126 {
        margin-left: 126px !important;
    }
    .marginLeft_80 {
        margin-left: 80px !important;
    }
    .marginLeft_190 {
        margin-left: 190px !important;
    }
    .pnt-bxsha {
        box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
        // margin-bottom: 30px;
    }
    .pit-new-design {
        thead {
        tr {
            height: 35px;
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            .pnt-fixed {
            width: 126px;
            }
            .width190 {
            width: 190px !important;
            }
            .width80 {
            width: 80px !important;
            }
            th {
            height: 35px;
            label {
                font-size: 10px !important;
                margin: 0;
            }
            }
            .set-tdWidth {
            width: 110px;
            label {
                width: 100px !important;
            }
            }
            .set-setNo-width {
            width: 50px !important;
            label {
                width: 40px !important;
            }
            }
            th:first-child {
            height: 35px !important;
            }
        }
        }
        tbody {
        tr {
            height: 35px;
            td {
            height: 35px;
            .inputTable {
                height: 30px;
            }
            label {
                margin: 0;
                padding: 0 8px;
            }
            .copiedBtn {
                padding-right: 6px;
                padding-top: 0px;
                padding-left: 18px;
                border: none;
                span {
                top: 5px !important;
                }
            }
            }
            .pnt-fixed {
            width: 126px;
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            border: none;
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 181px;
                .pnt-f-icon {
                position: relative;
                padding: 6px;
                border-radius: 50%;
                margin-right: 0px;
                cursor: pointer;
                .nph-switch-btn {
                    margin: 0;
                    height: 19px;
                    .tg-switch {
                    width: 35px;
                    height: 19px;
                    input:checked + .tg-slider:before {
                        transform: translateX(14px);
                    }
                    }
                    .tg-slider:before {
                    height: 15px;
                    width: 15px;
                    }
                    .nph-wbtext {
                    top: -4px;
                    font-weight: 600;
                    font-size: 16px;
                    }
                }
                img {
                    width: 17px;
                    float: none;
                }
                }
                .pnt-ccradio {
                padding: 0;
                }
                .pnt-f-icon:hover > .generic-tooltip {
                visibility: visible;
                opacity: 1;
                }
                .pnt-bg-red:hover svg path {
                fill: #ff4602;
                }
                .pnt-bg-red:hover {
                background-color: #eb000830;
                }
                // .pnt-bg-red svg:hover path{
                //     fill: #ff4602;
                // }
                .pnt-bg-yellow:hover {
                background-color: #fea70333;
                }
                // .pnt-bg-yellow svg:hover path{
                //     fill: #fea703;
                // }
                .pnt-bg-yellow:hover svg path {
                fill: #fea703;
                }
                .pnt-bg-blue:hover {
                background-color: #23e3eb2e;
                }
                // .pnt-bg-blue svg:hover path{
                //     fill: #23e3eb;
                // }
                .pnt-bg-blue:hover svg path {
                fill: #23e3eb;
                }
            }
            }
            .width190 {
            width: 190px !important;
            }
            .width80 {
            width: 80px !important;
            }
            .tInputText {
            // border: 1px solid #dce6f0;
            // background-color: #fff;
            border: solid 1px #faecb4;
            background-color: #fffae7;
            padding: 0;
            border-left: none;
            border-top: none;
            }
            .tInputRead {
            border: 1px solid #bfdfff;
            background-color: #f2f5f8;
            border-left: none;
            border-top: none;
            }
            .tInputType {
            border: solid 1px #faecb4;
            background-color: #fffae7;
            border-left: none;
            border-top: none;
            }
            .set-tdWidth {
            width: 110px;
            label {
                width: 100px !important;
            }
            input {
                width: 100px !important;
            }
            }
            .set-setNo-width {
            width: 50px !important;
            label {
                width: 40px !important;
            }
            }
        }
        tr:first-child {
            .tInputText {
            // border: 1px solid #dce6f0;
            // background-color: #fff;
            border: solid 1px #faecb4;
            background-color: #fffae7;
            border-left: 0;
            }
            .tInputRead {
            border: 1px solid #bfdfff;
            background-color: #f2f5f8;
            border-left: 0;
            }
            .tInputType {
            border: solid 1px #faecb4;
            background-color: #fffae7;
            border-left: 0;
            }
        }
        }
    }
    .cal-width-rsb {
        .marginLeft_190 {
        margin-left: 126px !important;
        .pit-new-design {
            thead {
            tr {
                .width190 {
                width: 126px !important;
                }
            }
            }
            tbody {
            tr {
                .width190 {
                width: 126px !important;
                }
            }
            }
        }
        }
    }
}

// Header Changes
.header2 {
    height: 75px;
    padding: 5px 20px 5px 10px;
}
.m-top-14 {
    margin-top: 14px !important;
}
.newSidebar2 {
    top: 75px;
}
// Defalt tooltip
.generic-tooltip {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -33px;
    left: 50%;
    min-width: 66px;
    transition: all 0.2s;
    border-radius: 5px;
    padding: 4px 6px;
    font-size: 11px;
    // border: 1px solid #eee;
    background: #000;
    color: #fff;
    font-weight: 600;
    transform: translate(-16%);
    text-align: center;
    white-space: nowrap;
}
.generic-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}

// Style Invoice Detail Modal
.modal-backdrop-new2 {
    background-color: #5677b196 !important;
}
.invoice-detail-modal {
    width: 90%;
    height: 80%;
    position: absolute;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0;
    padding: 30px 40px;
    z-index: 9999;
    p {
        font-size: 11px;
        font-weight: 600;
        color: #12203c;
    }
    h6 {
        font-size: 12px;
        font-weight: 600;
        color: #718096;
    }
    .idm-company-details {
        .idm-cd-name {
        display: block;
        margin-bottom: 20px;
        }
        .idm-cd-address {
        display: block;
        margin-bottom: 50px;
        p {
            margin-bottom: 5px;
        }
        }
        .idm-cd-contact {
        display: block;
        .idm-cd-contact-inner {
            display: inline-block;
            margin-right: 40px;
        }
        }
        .idm-cd-invoice-no {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: #00ced6;
        margin-bottom: 20px;
        }
    }
    .idm-table {
        margin-top: 25px;
        box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
        table {
        thead {
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            tr {
            th {
                vertical-align: middle;
                border-bottom: none;
                height: 35px;
                label {
                margin: 0;
                font-weight: 600;
                }
            }
            }
        }
        tbody {
            tr {
            td:first-child {
                border-left: 1px solid #eaf0fb;
            }
            }
            tr {
            td {
                border: 1px solid #eaf0fb;
                border-left: none;
                border-top: none;
                label {
                font-weight: 500;
                img {
                    width: 8px;
                    margin-right: 5px;
                }
                }
                p {
                margin: 0;
                }
                .clr-green {
                color: #00af4a;
                }
            }
            .idm-tgrand-total {
                text-align: right;
                padding-right: 15px;
                height: 120px;
                vertical-align: bottom !important;
                label {
                font-weight: 700;
                font-size: 15px !important;
                }
                p {
                font-size: 15px;
                font-weight: 700;
                }
            }
            }
        }
        }
    }
}
// Style User Subscription Payment Modal
.user-subscription-payment-modal {
    width: 500px;
    height: 450px;
    position: absolute;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0;
    z-index: 9999;
    .uspm-head {
        display: block;
        padding: 20px 24px;
        text-align: center;
        border-bottom: solid 1px #d5dbe6;
        h4 {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #2d3748;
        margin: 0;
        }
        span {
        display: inline-block;
        position: relative;
        float: right;
        }
    }
    .uspm-body {
        display: block;
        padding: 20px 60px;
        .uspmb-select-n-license {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid #d5dbe6;
        span {
            font-size: 12px;
            font-weight: 600;
            color: #2d3748;
        }
        .uspm-snl-btn {
            display: inline-block;
            margin-left: 20px;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #f2f6fb;
            button {
            background: #ffffff;
            padding: 0;
            }
            .uspm-snl-no {
            margin: 0 10px;
            }
        }
        }
        .uspm-price {
        padding: 10px 0;
        width: 100%;
        .uspm-price-top {
            display: block;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #d5dbe6;
            span {
            font-size: 12px;
            font-weight: 500;
            color: #2d3748;
            display: inline-block;
            margin-bottom: 12px;
            }
            .uspm-pt-item {
            width: 50%;
            }
            .uspm-pt-date {
            width: 25%;
            text-align: right;
            font-size: 11px;
            font-weight: 400;
            }
            .uspm-pt-amount {
            width: 25%;
            text-align: right;
            font-weight: 700;
            }
        }
        .uspm-price-bottom {
            display: block;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #d5dbe6;
            span {
            font-size: 12px;
            font-weight: 500;
            color: #2d3748;
            display: inline-block;
            }
            .uspm-pb-item {
            width: 50%;
            }
            .uspm-pb-amount {
            width: 50%;
            text-align: right;
            font-weight: 700;
            }
        }
        }
        .uspm-b-input {
        position: relative;
        padding: 10px 0;
        input[type="text"] {
            width: 176px;
            height: 30px;
            border-radius: 6px;
            border: solid 1px #c6c6c6;
            background-color: #ffffff;
            padding: 4px 10px;
        }
        .uspm-b-close {
            background-color: #dce6f0;
            padding: 9px;
            border-radius: 50%;
            float: right;
            display: inline-block;
        }
        button {
            position: absolute;
            top: 13px;
            left: 122px;
            border-radius: 4px;
            background-color: #ff6e03;
            display: block;
            padding: 4px 9px;
            font-size: 11px;
            color: #fff;
            font-weight: 600;
        }
        p {
            font-size: 11px;
            font-weight: 600;
            font-style: italic;
            color: #2d3748;
            margin-bottom: 3px;
        }
        .coupon-code {
            font-size: 12px;
            font-weight: 600;
            color: #ff6e03;
            img {
            width: 15px;
            margin-left: 5px;
            }
        }
        .remove-coupon {
            font-size: 12px;
            font-weight: 500;
            color: #2d3748;
            float: right;
        }
        }
        .uspm-process-btn {
        text-align: center;
        button {
            padding: 8px 15px;
            border-radius: 6px;
            background-color: #8b77fa;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
        }
        }
    }
}
// Style Toggle Button
.nph-switch-btn {
    display: inline-block;
    margin-right: 20px;
    .tg-switch {
        position: relative;
        display: inline-block;
        width: 43px;
        height: 22px;
        margin: 0;
    }
    .tg-switch .tg-slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 2px;
        background-color: #fff;
        transition: 0.4s;
    }
    .tg-switch input:checked + .tg-slider {
        background-color: #8b77fa;
    }
    .tg-switch input:checked + .tg-slider:before {
        transform: translateX(20px);
    }
    .nph-wbtext {
        margin: 0;
        margin-left: 10px;
        position: relative;
        top: -7px;
    }
}

.srb-content2 {
    display: inline-block;
    position: relative;
    top: -1px;
    left: 0;
    .clr-name {
        padding-left: 0;
        padding-right: 27px;
        font-size: 12px !important;
        font-weight: 700;
        .checkmark {
        left: 14px;
        }
    }
    .clr-name input:checked ~ .checkmark {
        background-color: #e2c800;
    }
}
.dis-input {
    height: 33px !important;
    border-right: 1px solid #ffefb1;
    margin-right: 7px;
    width: 90px !important;
}

// Style New Submenu
.sidebar-menu2 {
    position: fixed;
    left: 0;
    top: 75px;
    width: 65px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 7px 0 hsla(0, 0%, 76%, 0.5);
    z-index: 99;
    .main-menu2 {
        position: relative;
        padding: 0;
        height: calc(100% - 75px);
        margin: 0;
        .h2-main-item {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 70px;
            border-bottom: 1px solid #dce6f0;
            cursor: pointer;
            .sm-inner-item {
                // padding: 10px 15px;
                background: #ffffff;
                color: #000000;
                font-size: 11px;
                font-weight: 500;
                display: block;
                cursor: pointer;
                .drop-menu-right-arrow {
                    position: absolute;
                    right: 15px;
                    top: 13px;
                }
                li {
                    padding: 8px 15px;
                    display: block;
                    padding-left: 0;
                    width: 100%;
                }
            }
            .sm-inner-item:hover {
                font-weight: 600;
                .drop-menu-right-arrow {
                    path {
                        stroke: #8b77fa;
                    }
                }
            }
            .sub-menu {
                position: absolute;
                left: 65px;
                top: 0px;
                visibility: hidden;
                opacity: 0;
                margin: 0;
                background-color: #fff;
                padding: 0;
                width: 184px;
                height: auto;
                z-index: 99;
                text-align: left;
                transform: translateY(20px);
                transition: all 0.2s ease-out;
                border: 1px solid #cbd5e0;
                .sm-inner-item {
                    position: relative;
                    width: 182px;
                    height: 32px;
                    padding-left: 15px;
                    vertical-align: middle;
                    align-items: center;
                    display: flex;
                    .sub-menu {
                        // .sub-menu2
                        position: absolute;
                        left: 182px;
                        top: 0px;
                        visibility: hidden;
                        opacity: 0;
                        margin: 0;
                        background-color: #ffffff;
                        padding: 0;
                        width: 184px;
                        height: auto;
                        z-index: 99;
                        text-align: left;
                        transform: translate(0 20px);
                        transition: all 0.2s ease-out;
                        border: 1px solid #cbd5e0;
                        .sm-inner-item {
                            .sm3-inner-item {
                                padding: 8px 15px;
                                display: block;
                                padding-left: 0;
                                width: 100%;
                            }
                            .sub-menu {
                                // .sub-menu3
                                position: absolute;
                                left: 182px;
                                top: -1px;
                                visibility: hidden;
                                opacity: 0;
                                margin: 0;
                                background-color: #ffffff;
                                padding: 0;
                                width: 184px;
                                height: auto;
                                z-index: 99;
                                text-align: left;
                                transform: translate(0 20px);
                                transition: all 0.2s ease-out;
                                border: 1px solid #cbd5e0;
                            }
                        }
                        .sm-inner-item:hover > .sub-menu {
                            visibility: visible;
                            opacity: 1;
                            transform: translate(0 0);
                        }
                    }
                }
                .sm-inner-item:hover > .sub-menu {
                visibility: visible;
                opacity: 1;
                transform: translate(0 0);
                }
            }
        }
        .h2-lobtn {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 65px;
            height: 60px;
            background-color: #ffffff;
            border-top: 1px solid #dce6f0;
            border-bottom: none;
            transition: 0.6s all;
            .hmi-logout {
                display: flex;
                position: absolute;
                top: 0px;
                left: -380px;
                align-items: center;
                width: 380px;
                height: 65px;
                background: #f7f7f7;
                padding: 10px 15px;
                -webkit-animation: slide 0.5s forwards;
                // -webkit-animation-delay: 0.6s;
                animation: slide 0.5s forwards;
                // animation-delay: 0.6s;
                p {
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0;
                    margin-right: 12px;
                }
                button {
                    font-size: 12px;
                    font-weight: 600;
                    padding: 2px 20px;
                    background: #fff;
                    border-radius: 21px;
                    color: #12203c;
                }
                .hmil-yes {
                    margin-right: 12px;
                    color: #ffffff;
                    background-color: #f34225;
                }
            }
            @-webkit-keyframes slide {
                100% { left: 65px; }
            }
            @keyframes slide {
                100% { left: 65px; }
            }
        }
        .h2l-open {
            background: #f7f7f7;
            border-top: 1px solid #f7f7f7;
            svg {
                path {
                    stroke: #12203c;
                }
            }
        }
        .h2-lobtn:hover {
            background-color: #f7f7f7;
            transition: 0.6s all;
            border-top: 1px solid #f7f7f7;
            svg {
                path {
                    stroke: #12203c;
                }
            }
        }
        .h2-main-item:hover > .sub-menu {
            visibility: visible;
            opacity: 1;
            transform: translate(0 0);
        }
        .extra-space {
            background: #fff;
            position: relative;
        }
        .show-more-item {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            bottom: 60px;
            left: 0;
            width: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            height: 25px;
            box-shadow: 0px -2px 6px 2px hsla(0,0%,55%,.16);
            border: none;
        }
        .show-more-item.show-hide-item {
            visibility: visible;
            opacity: 1;
        }
        .show-more-item:hover {
            background: #ffffff;
        }
        .show-more-item-up {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0px;
            left: 0;
            width: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            height: 25px;
            box-shadow: 0px -2px 6px 2px hsla(0,0%,55%,.16);
            border: none;
            z-index: 1;
            transform: rotate(180deg);
        }
        .show-more-item-up.show-hide-item {
            visibility: visible;
            opacity: 1;
        }
        .show-more-item-up:hover {
            background: #ffffff;
        }
        .gsc-top-items {
            height: calc(100% - 135px);
            position: relative;
            top: 0px;
            transition: top 0.5s ease;
        }
    }
}

.sideBarMenuList {
    .menu-list-item {
        img {
        padding: 0 20px;
        }
        .menu-item-list-inner {
        padding: 10px 15px;
        font-weight: 500;
        font-size: 12px;
        display: block;
        width: 100%;
        .mli-icon {
            display: inline-block;
            width: 25%;
        }
        .mli-name {
            width: 75%;
            display: inline-block;
        }
        }
        .list {
        li {
            padding: 7px 10px;
            font-size: 12px;
            font-weight: 500;
            background: #fff;
            color: #000;
            margin-left: 82px;
            li {
            padding: 0;
            margin: 0;
            margin-left: 0;
            }
            .arrow_down_icon {
            float: right;
            font-size: 15px !important;
            position: relative;
            left: -90px;
            }
            .list {
            li {
                margin: 0;
                li {
                padding: 0;
                }
                li:hover {
                color: #6d6dc9;
                }
                .mli-inner-item {
                padding: 7px 8px;
                display: block;
                }
            }
            }
        }
        }
    }
}

// @media only screen and (min-width: 1500px){
//     .sidebar-menu2{
//         zoom: 80%;
//     }
// }

.max-width-set {
    max-width: initial;
}

.pipo-con {
    box-shadow: none;
    border: none;
    padding: 0;
}
.gen-checkmark {
    position: relative;
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        padding-left: 15px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        display: none;
    }
    .checkmark {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        height: 13px;
        width: 13px;
        border: 1px solid #d2d2d2;
        border-radius: 50%;
    }
    input:not(:checked) ~ .checkmark {
        background-color: #fff;
        border: 1px solid #d2d2d2;
    }
    .checkmark:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #d2d2d2;
        display: none;
    }
    input:not(:checked) ~ .checkmark:before {
        display: block;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        top: 3px;
        left: 3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #6d6dc9;
    }
    input:checked ~ .checkmark {
        background-color: #fff;
        border: 1px solid #6d6dc9;
    }
}

.pipo-con-table {
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0, 0%, 55%, 0.16);
    .tableHeadFixHeight {
        height: auto;
        max-height: 50vh;
        overflow: auto;
    }
    .gen-main-table {
        display: table;
        white-space: nowrap;
        border-collapse: collapse;
        margin: 0;
        border-spacing: 0;
        thead {
        border: none;
        box-shadow: 2px 0 6px 0 hsla(0, 0%, 55%, 0.16);
        tr {
            height: 35px;
            background-color: #fff;
            th {
            height: 42px;
            vertical-align: middle;
            white-space: nowrap;
            border: none !important;
            label {
                // font-size: 13px !important;
                margin: 0;
                font-weight: 600;
                color: #000000;
                width: auto;
            }
            }
        }
        }
        tbody {
        tr {
            height: 35px;
            td {
            height: 35px;
            white-space: nowrap;
            vertical-align: middle;
            border: 0.5px solid #e3e7f3;
            position: relative;
            label {
                color: #000;
                margin: 0;
                font-weight: 500;
                vertical-align: middle;
                // font-size: 12px !important;
            }
            input {
                border: 1px solid #dce6f0;
                border-radius: 5px;
                height: 25px;
            }
            }
        }
        }
    }
}

// Style Header Search
.header-search-vend {
    position: relative;
    margin: 0px 21px 0 0;
    .hsv-inner {
        padding: 4px 7px;
        background: transparent;
    }
}
.header-search-ent {
    position: relative;
    padding: 7px 0px;
    width: 30px;
    height: 10px;
    .hse-inner {
        padding: 6px 6px;
        background: transparent;
        position: absolute;
        top: 1px;
        left: 2px;
    }
}

// .set-vend-pos{
//   .dropdown-menu-vendor {
//     left: auto;
//     right: 0;
//   }
// }

.manage-pad-range {
    padding-left: 8px;
    padding-right: 8px;
    label {
        font-size: 12px;
        font-weight: 500;
        color: #12203c;
        padding-left: 0;
        margin-left: 0;
        margin-top: 8px;
    }
    .ant-picker-range {
        width: 100%;
        height: 30px;
    }
}

.nph-history-search{
    margin-top: 20px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    .gen-new-pi-history{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        form {
            margin: 0;
            position: relative;
            margin-right: 20px;
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
                margin: 0px;
            }
            input:focus {
                border: solid 1px #cdc4ff;
            }
            input::placeholder {
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .searchWithBar {
                background: transparent;
                border: 0;
                position: absolute;
                left: 2px;
                top: 0;
                margin: 0;
                padding: 5px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
    }
}

// Style New PI PO Color And Size Modal
.modalpoColor.modalShow.gen-color-modal {
    width: 1090px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    height: 450px;
    .gcm-head {
        display: block;
        .gcmh-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 30px;
            box-shadow: 0 1px 9px 0 rgba(145, 145, 145, 0.16);
            .gcmht-left {
                display: block;
                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    color: #12203c;
                    margin: 0;
                }
                p {
                    font-size: 11px;
                    font-weight: 500;
                    color: #97abbf;
                    margin: 0;
                }
            }
            .gcmht-right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                button {
                    font-size: 12px;
                    font-weight: 500;
                    margin-left: 20px;
                    background: #fff;
                    height: 32px;
                    border-radius: 5px;
                    color: #12203c;
                    padding: 3px 5px;
                }
                .gcmht-done {
                    background-color: #8b77fa;
                    color: #fff;
                    padding: 3px 25px;
                    font-weight: 600;
                }
            }
        }
        .gcmh-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px 10px;
            .gcmhb-left {
                display: block;
                .gcmhb-search{
                    position: relative;
                    display: inline-block;
                    margin-right: 20px;
                    form{
                        margin: 0;
                    }
                    input[type="search"] {
                        border-radius: 5px;
                        border: solid 1px #dce6f0;
                        background: #fff;
                        padding: 8px 30px;
                        height: 32px;
                        font-size: 11px;
                        color: #000;
                        font-weight: 600;
                        width: 250px;
                        margin: 0;
                    }
                    input:focus{
                        border: solid 1px #cdc4ff;
                    }
                    input::placeholder{
                        font-size: 11px;
                        font-weight: 500;
                        color: #12203c;
                    }
                    .search-image{
                        position: absolute;
                        top: 8px;
                        left: 7px;
                        width: 15px;
                        background-color: #ffffff;
                    }
                    .closeSearch {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }
            .gcmhb-right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .nph-switch-btn {
                    margin-right: 0;
                    margin-left: 20px;
                    .nph-wbtext {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .gcm-body {
        padding: 10px 30px;
        .gcm-table{
            position: relative;
            display: block;
            box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
            // margin-top: 20px;
            .gcmt-manage{
                max-height: 240px;
                overflow-y: auto;
                overflow-x: hidden;
                .gcmt-inner{
                    display: table;
                    white-space: nowrap;
                    border-collapse: collapse;
                    margin: 0;
                    border-spacing: 0;
                    thead{
                        // font-family: 'Raleway', sans-serif;
                        border: none;
                        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                        tr{
                            height: 35px;
                            background-color: #fff;
                            th{
                                height: 42px;
                                vertical-align: middle;
                                white-space: nowrap;
                                border: none;
                                cursor: pointer;
                                top: 0;
                                position: sticky;
                                z-index: 9;
                                background: #fff;
                                label{
                                    // font-size: 13px !important;
                                    margin: 0;
                                    font-weight: 600;
                                    color: #12203c;
                                    width: auto;
                                    cursor: pointer !important;
                                    font-size: 12px !important;
                                }
                                img{
                                    margin-left: 15px;
                                    cursor: pointer;
                                }
                            }
                            .fix-action-btn{
                                width: 40px;
                                box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                                background-color: #fff;
                                border: 0;
                                border-right: none;
                                border-bottom: none;
                                padding: 0;
                            }
                        }
                    }
                    tbody{
                        tr{
                            height: 35px;
                            td{
                                height: 35px;
                                white-space: nowrap;
                                vertical-align: middle;
                                border: 0.5px solid #e3e7f3;
                                position: relative;
                                .table-per-tooptip:hover>.generic-tooltip{
                                    opacity: 1;
                                    visibility: visible;
                                }
                                label{
                                    color: #12203c;
                                    margin: 0;
                                    font-weight: 500;
                                    vertical-align: middle;
                                    font-size: 11px !important;
                                }
                                input {
                                    border-radius: 5px;
                                    border: solid 1px #dce6f0;
                                    background: #fff;
                                    padding: 6px;
                                    height: 30px;
                                    font-size: 11px;
                                    color: #12203c;
                                    font-weight: 600;
                                    width: 180px;
                                    text-indent: 0;
                                }
                            }
                            td:first-child{
                                border-left: none;
                            }
                            td:nth-child(2){
                                border-left: none;
                            }
                            .fix-action-btn{
                                width: 40px;
                                box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                                background-color: #fff;
                                border: 0;
                                padding: 0;
                                .table-item-list{
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: space-around;
                                    padding: 0;
                                    margin: 0;
                                    height: 35px;
                                    .til-inner{
                                        display: inline-block;
                                        padding: 7px;
                                        position: relative;
                                        border-radius: 50%;
                                        cursor: pointer;
                                        .checkBoxLabel0{
                                            width: 16px;
                                            height: 16px;
                                            padding-left: 16px;
                                        }
                                        .checkmark1 {
                                            left: 0px;
                                            top: 0px;
                                            height: 16px;
                                            width: 16px;
                                            background-color: #ffffff;
                                            cursor: pointer;
                                            border-radius: 4px;
                                            border: solid 2px #dce6f0;
                                        }
                                        .checkBoxLabel0 .checkmark1:after {
                                            width: 5px;
                                            height: 9px;
                                            border-width: 0 2px 2px 0;
                                            content: none;
                                        }
                                        .checkBoxLabel0 input:checked~.checkmark1 {
                                            background-color: #8b77fa;
                                            border: none;
                                        }
                                        .checkBoxLabel0 input:checked~.checkmark1:after{
                                            width: 5px;
                                            height: 9px;
                                            border-width: 0 2px 2px 0;
                                            content: "";
                                        }
                                    }
                                }
                            }
                        }
                        tr:first-child {
                            td {
                                border-top: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Style New Image Upload Modal
.pipo-image-upload-modal {
    width: 1090px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    height: 480px;
    .pium-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        box-shadow: 0 1px 9px 0 rgba(145, 145, 145, 0.16);
        .pium-left {
            display: block;
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
            p {
                font-size: 11px;
                font-weight: 500;
                color: #97abbf;
                margin: 0;
            }
        }
        .pium-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button {
                font-size: 12px;
                font-weight: 500;
                margin-left: 20px;
                background: #fff;
                height: 32px;
                border-radius: 5px;
                color: #12203c;
                padding: 3px 5px;
            }
            .pium-done {
                background-color: #8b77fa;
                color: #fff;
                padding: 3px 25px;
                font-weight: 600;
            }
        }
    }
    .pium-body {
        padding: 20px 30px;
        .piumb-upload-area {
            display: block;
            text-align: center;
            border-radius: 6px;
            border: dashed 2px #c1d8f0;
            width: 100%;
            height: 210px;
            padding: 30px 0;
            h4 {
                font-size: 14px;
                font-weight: 600;
                color: #718096;
                margin: 6px 0;
            }
            p {
                font-size: 11px;
                font-weight: 500;
                color: #718096;
            }
            .piumbua-upload {
                border-radius: 5px;
                background-color: #b4c5d6;
                color: #fff;
                font-size: 12px;
                padding: 7px 25px;
                text-align: center;
                font-weight: 600;
                margin-top: 10px;
                cursor: pointer !important;
                input {
                    display: none;
                }
            }
            .piumbua-message {
                display: block;
                font-size: 11px;
                font-weight: 500;
                color: #718096;
            }
        }
        .piumb-uploaded-images {
            margin-top: 20px;
            h3 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 15px;
                color: #3a5074;
            }
            .piumbup-inner {
                display: inline-block;
                margin-right: 20px;
                position: relative;
                width: 110px;
                height: 110px;
                border-radius: 11px;
                transition: all .6s;
                img {
                    opacity: .75;
                    border-radius: 11px;
                    background-color: #3a5074;
                    border-radius: 12px;
                    border: 1px solid #c6d1db;
                    width: 110px;
                    height: 110px;
                }
                .piumbup-backdrop {
                    border-radius: 11px;
                    opacity: .75;
                    background-color: #3a5074;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    button {
                        background: #ffffff42;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
            .piumbup-inner:hover {
                .piumbup-backdrop {
                    display: flex;
                }
            }
        }
    }
}