.onboardingRight{
    width: 100%;
    height: 100vh;
    padding: 20%;
    padding-bottom: 20px;
    padding-top: 10%;
    margin: auto;
    text-align: left;
}
.WelcomeContent>h2{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #4a4a4a;
}
.WelcomeContent>span{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #9b9b9b;
}
.cardOnboarding{
  width: 100%;
  height: 35vh;
  display: inline-block;
  border-radius: 10.4px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 19px 1px rgba(210, 210, 210, 0.5);
  margin-top: 40px;
}
.headingForm{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #d2d2d2;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;

}
.subheadForm{
    font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #4a4a4a;
  width: 100%;
  text-align: left;
}
.m-top-70{
    margin-top: 70px;
}
.ProcessBtn{
    border-radius: 9.6px;
    background-image: radial-gradient(circle at 0 0, #3b3b98, #3d3c99, #c86dd7);
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    width: 40%;
    height: 35px;
}
.ProcessBtn:after {
    content: " \2192";
    font-size: 17px;
    position: relative;
    top: 1px;
}
.FooterOnboarding{
    height: auto;
    display: block;
    position: absolute;
    bottom: 25px;
    width: 63%;
}
.FooterOnboarding>span{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #9b9b9b;
}
.FooterOnboarding>p{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 1.64; */
  letter-spacing: 1.2px;
  color: #4a4a4a;
}
.FooterOnboarding>p>a{
    /* font-weight: 900; */
    color: #4a4a4a;
    text-decoration: none;
    cursor: pointer;
}
.FooterOnboarding>p>a>span{
    font-weight: 900;
    color: #4a4a4a;
    text-decoration: none;
    cursor: pointer;
}
.onboardingLeft{
    background-color: #ececf6;
    width: 100%;
    height: 100vh;
    display: block;
    padding: 40px;
}
.imgBokhDiv{
    width: 100%;
    height: 28vh;
    display: inline-block;
    text-align: center;
}
.imgBokhDiv>img{
    width: 100%;
    height: 100%;
}
.contentBokh{
    width: 100%;
    height: auto;
    text-align: center;
}
.contentBokh>h2{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.contentBokh>p{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
    color: #4a4a4a;
    letter-spacing: 1px;
}
.colorBackground{
    background-color: #ffffff !important;
    width: 100%;
    height: 100vh;
}