
.otbGraph .upRowGraph span:first-child{
    // width: 26px;
    height: 5px;
    border-radius: 4.5px;
    background-color: #50e3c2;
    display: inline-block;
    float:left;
    margin-right: 6%;
}
.otbGraph .upRowGraph span:nth-child(2){
    // width: 56px;
    height: 5px;
    border-radius: 4.5px;
    background-color: #f8e71c;
    float: left;
    margin-right: 6%;
}
.otbGraph .upRowGraph span:last-child{
    // width: 52px;
        height: 5px;
        border-radius: 4.5px;
        background-color: #92dcff;
        float: left;
        display: inline-block;
        // margin-right: 10px;
}
.otbGraph .downRowGraph span:first-child{
    display: inline-block;
    // width: 41px;
    height: 5px;
    border-radius: 4.5px;
    background-color: #d0021b;
    margin-right: 6%;
}
.otbGraph .downRowGraph span:nth-child(2){
    // width: 41px;
    height: 5px;
    border-radius: 4.5px;
    background-color: #c9c9ff;
    display: inline-block;
    margin-right: 6%;
}
.otbGraph .downRowGraph span:last-child{
    // width: 52px;
    height: 5px;
    border-radius: 4.5px;
    background-color: #b8e986;
    display: inline-block;
    // margin-right: 10px;
}
.downRowGraph{
    padding-top: 10px;
}
