.openToBuyMain h4{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
    margin-bottom: 0px;
}
.openToBuyMain h3{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: block;
    padding-left:0px;
}
.openToBuyMain .otbAccordian .panel-title{
    vertical-align: middle;
    display: table-cell;
}
.openToBuyMain .graphItems{
    width: 100%;
    margin-bottom: 0px;
    padding-right: 65px;
}
.openToBuyMain .graphItems li{
    position: relative;
    float: right;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-right: 15px;
}
.openToBuyMain .graphItems li:first-child span{
    background-image: linear-gradient(156deg, #f761a1, #8c1bab);
}
.openToBuyMain .graphItems li:nth-child(2) span{
    background-image: linear-gradient(156deg, #eead92, #6018dc);
}
.openToBuyMain .graphItems li:nth-child(3) span{
    background-image: linear-gradient(156deg, #81fbb8, #28c76f);
}
.openToBuyMain .graphItems li:nth-child(4) span{
    background-image: linear-gradient(156deg, #fff6b7, #f6416c);
}
.openToBuyMain .graphItems li:nth-child(5) span{
    background-image: linear-gradient(156deg, #ce9ffc, #7367f0);
}
.openToBuyMain .graphItems li:nth-child(6) span{
    background-image: linear-gradient(156deg, #90f7ec, #32ccbc);
}
.openToBuyMain .graphItems li span{
    position: absolute;
    left: -6px;
    height: 10px;
    width: 5px;
    background-color: #555;
    border-radius: 45%;
    top: 2px;
}

// --------------------------------------------------------Switch toggle Css----------------------------
.switch6 {  
    max-width: 17em;  margin: 0 auto; 
}
.switch6-light > span{ 
    //  color: #000000; 
     font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    /* letter-spacing: normal; */
    /* text-align: center; */
    // color: #ffffff!important;
    }
.switch6-light span span, .switch6-light label{ 
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
   
    // color: #ffffff!important; 
    }

.switch-toggle a, 
.switch6-light span span { 
    display: none; 
}

.switch6-light { 
    display: block!important;
    height: 31px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 0;
    top: 2px;
    left: 2px;
 }
.switch6-light * { 
    box-sizing: border-box; 
}
.switch6-light a { 
    display: block; 
    transition: all 0.3s ease-out 0s;
 }

.switch6-light label, 
.switch6-light > span { 
    line-height: 30px;
     vertical-align: middle;
}

.switch6-light label {
    font-weight: 700;
     margin-bottom: px; 
     max-width: 100%;
}

.switch6-light input:focus ~ a, .switch6-light input:focus + label {
     outline: 1px dotted rgb(136, 136, 136); 
}
.switch6-light input { 
    position: absolute; opacity: 0; z-index: 5; 
}
.switch6-light input:checked ~ a { 
    right: 4px; 
}
.switch6-light > span { 
    position: absolute;
     left: -100px; 
     width: 100%; 
     margin: 0px;
      padding-right: 100px; 
      text-align: left;
 }
.switch6-light > span span {
     position: absolute;
     top: 1px;
      left: 0px; 
      z-index: 5;
       display: block; 
       width: 50%; 
      margin-left: 100px;
       text-align: center;
       cursor: pointer;
     }
.switch6-light > span span:last-child {
     left: 50%;
     }
.switch6-light a {
        position: absolute;
        right: 50%; 
        top: 0px; 
        z-index: 4;
        display: block; 
        width: 50%;
        height: 100%;
        padding: 0px; 
    }


.switchToggleText{
    width: 200px;
    height: 37px;
    border-radius: 24.3px;
    border: 1px solid #f2f2f2;
    max-width: 100%;
}
.switchToggleText .bgBtn{
    border-radius: 24.3px;
  background-color: #6d6dc9;
}
// --------------------------------------------------------Switch toggle text Css end----------------------------

.mainHeadRight>ul{
    margin-left:10px;
}
.mainHeadRight ul li{
    display: inline-block;
}
.mainHeadRight ul li:first-child button{
    width: 100px;
    height: 31px;
    border-radius: 27px;
    background-color: #6d6dc9;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.planDropDown{
    margin-right: 20px;
    position: relative;
}
.planDropDown ul{
    width: 98%!important;
    // position: absolute;
    left: 4px!important;
    padding-left:20px;
    margin-top: 5px;
}
.planDropDown ul::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 99%;
    background: #e5e5e5;
    left: -4px;
}
.planDropDown ul li{
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.planDropDown ul li a{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    color: #595959;
}
.planDropDown .dropDownContent{
    width: 22vw!important;
    position: absolute;
    left: 4px!important;
    top: 37px;
    height: auto;
    min-height: 160px;
    z-index: 10;
    padding: 12px 13px!important;
    overflow: hidden;
}
.planDropDown .dropDownContent a.active{
    font-weight:600;
}
.planDropDown .dropDownContent h5{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #acacac;
}
.planDropDown button{
    border:0;
    background: transparent;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6d6dc9!important;
    width: 95px;
    height: 31px;
    border: 1px solid #6d6dc9!important;
    border-radius: 27px;
}
// .availablePlans span{
//     padding-left: 20px;
// }
.updatePlan::after{
    display: none;
}
.yearDropDown ul.dropdown-menu{
    width: 55%;
    top: 42px;
}
.yearDropDown.settingDrop{
    width: 100%;
}
.yearDropDown.settingDrop i{
    color: #6d6dc9;
    right: 5px!important;
    top: 10px!important;
}
.yearDropDown ul.dropdown-menu li{
    display: block;
}
.planStatus{
    border-radius: 9px;
    background-color: #7fd539;
    position: absolute;
    right: 14px;
    margin-top: 4px;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 1px 4px;
}
.availablePlans .positionCheckbox{
    left: -7px;
    top: -1px!important;
}
.planDropDown button:hover{
    border: 1px solid #6d6dc9!important;
    color: #6d6dc9!important;
}
.planDropDown button:focus{
    border: 1px solid #6d6dc9!important;
    color: #6d6dc9!important;
}
.planDropDown.open button{
    border: 1px solid #6d6dc9!important;
    color: #6d6dc9!important;
}
 .planDropDown.open>.dropdown-toggle.btn-default{
    border: 1px solid #6d6dc9!important;
    color: #6d6dc9!important;
}

.otbAccordian .panel-heading button{
    background: transparent;
}


// ---------------------------------------accordian CSS---------------------------------

.otbAccordian{
    display: inline-block;
    width: 100%;
}

.otbAccordian .panel-heading{
    box-shadow: 2px 4px 9px 0 rgba(242, 242, 242, 0.5);
    background-color: #ffffff;
    height: 50px;
    display: table;
    width: 100%;
}
.initialShowHead{
    box-shadow: 2px 4px 6px 0 rgba(206, 206, 206, 0.5);
    // background-color: #fafafa;
    height: 11vh;
    padding: 18px 15px;
    display: none;
}
.initialShowHead h4{
    display:block;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d2d2d2;
}
.initialShowHead thead tr th:first-child, .initialShowHead tbody tr td:first-child{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d2d2d2;
    // text-align:left;
}
.otbHeadTable {
    width: 93%;
    overflow: hidden;
}
.otbHeadTable button{
    display: none;
}
.otbHeadTable.scroll button{
    display: block;
}
.otbHeadTable.scroll{
    margin-left: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.otbHeadTable>button{
    position: absolute;
    background:transparent;
}
.otbHeadTable button img{
    height: 24px;
}
.otbHeadTable button:first-child{
    left:-20px;
    top: 7px;
}
.otbHeadTable button:nth-child(2){
    right:15px;
    top: 7px;
}
.initialShowHead thead tr th label{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 10px;
    color: #888888;
    width: 100px;
    margin-bottom:10px;
}
.initialShowHead tbody tr td label{
    font-size: 12px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    line-height: 2;
    margin-bottom: 0px;
}
.initialShowHead tbody td{
    text-align:left;
    padding-left: 10px;
}
.otbAccordian .panel-title a{
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.panelBodyLeft{
    width: 100%;
    height: 41vh;
    background-color: #ffffff;
    float: left;
    border-bottom: 1px solid #e3e7f3;
    padding: 10px 30px;
}
.otbAccordian .panel-body{
    padding-bottom: 48px;
}
.panelBodyRight{
    padding: 25px 30px;
    width:100%;
    height: 46vh;
    float: right;
}
.panelBodyRight table thead th{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;
    width:100px;
    padding: 7px 10px;
    border-top: 1px solid #e3e7f3;
}
.panelBodyRight table thead th:last-child{
    border-right: 1px solid #e3e7f3;
    width: 100%;
}
.panelBodyRight table tbody td input[type=text]:active{
    color: #6a6ac9!important;
    border-color: #cacaee!important;
    box-shadow: 0 0 3px 0 #cacaee;
}
.panelBodyRight table tbody td input[type=text]:focus{
    color: #6a6ac9!important;
    border-color: #cacaee!important;
    box-shadow: 0 0 3px 0 #cacaee;
}
.panelBodyRight table tbody td input[type=text]{
    width: 83px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    font-size: 11px;
    font-weight: normal!important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;
    padding: 5px;
}
.panelBodyRight table tbody td {
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-align: right;
    padding: 7px 10px;
    border: 1px solid #e3e7f3;
}
.panelBodyRight table tbody tr:last-child td{
    font-weight: bold;
}
.panelBodyRight table{
    height:41vh;
}
.panelTableMain{
    width:100%;
}
.panelTableMain .tableBody li input{
    width: 63px;
    text-align: right;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #d2d2fa;
    border: solid 1px #cacaee;
    padding: 4px 8px;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    font-weight: 600!important;
}
.panelTableMain .tableBody li label{
    text-align: right;
    width: 100%;
    padding-right: 10px;
}
.panelTableMain .tableBody li input:focus{
    color: #6d6dc9;
}
.panelTableMain ul{
    padding-left: 0px;
}
.otbTable{
    border-top: solid 1px #e3e7f3;
    border-right: solid 1px #e3e7f3;
    padding-top: 15px;
    display: table;
    table-layout: fixed;
    margin-bottom: 0;
    padding-bottom: 11px;
}
.otbTable li:last-child{
    margin-right: 10px;
}
.panelTableMain .otbTable li label{
    // width: 73.5px;
    display: block !important;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;
    margin-right: 3px;
   
}
.panelTableMain .tableBody ul li{
    padding: 12px 0px;
    // padding-bottom: 5px;
    text-align: right;
    border-bottom: solid 0.5px #ececf6;
    border-left: solid 0.5px #ececf6;
}
.panelTableMain {
    padding: 0px;
}
.panelTableMain .tableBody ul li:first-child{
    padding-top: 0px;
    text-align: right;
    padding: 9px 10px;
    border-top: .5px solid #ececf6;
}
.otbTotalTable li:first-child{
    padding-right: 0px !important;
}
.panelTableMain .tableBody ul:last-child li{
    border-right: solid 0.5px #ececf6;
}
.panelTableMain .tableBody ul{
    width: 70px
}
.panelBodyLeft h4{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.graphLeft ul li label{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    border: 1px solid #e2e2e2;
    border-bottom: 0;
    border-left: 0;
    padding: 10px 5px;
    margin-bottom: 0;
    width: 31px;
}
.graphLeft ul li:last-child label{
    border-bottom:1px solid #e2e2e2;
}
.metrices{
    height: auto;
    padding: 11px 16px!important;
    box-shadow: 6px 0 10px -3px #ececf6;
    border: solid 1px #e3e7f3;
    background-color: #ffffff;
    padding-right: 0 !important;
}
.metrices ul{
    margin-bottom: 0px;
}
// ------------------------------------------accordian css end----------------------------


.yearDropDown button{
    // width: 171px;
    width: 14vw;
    height: 31px;
    border-radius: 27px;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.yearDropDown button.btnDisabled:active , .yearDropDown button.btnDisabled:focus , .yearDropDown button.btnDisabled:hover{
    background-color: #f9f9f9!important;
    border: 0 !important;
}


.metrices ul li{
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 27px;
}
.metrices ul li:last-child{
    font-weight: bold;
}
.mainHeadRight img{
    margin-right: 10px;
    margin-bottom: 2px;
}
.planDropDown img{
    height:16px;
    margin-left: -10px;
    margin-right: 10px;
}
.openToBuyMain .select_modalRadio input{
    width:100%;
    z-index:-1;
}
.planDropDown .availablePlans span.checkradio-select:after{
    display: none;
}
.planDropDown .availablePlans .select_modalRadio input:not(:checked)~.checkradio-select:before{
    display: none;
}
.planDropDown .availablePlans .select_modalRadio input:checked~.checkradio-select{
    border: 3px solid #6d6dc9;
}
.planDropDown .availablePlans .select_modalRadio input:not(:checked)~.checkradio-select{
    border: 3px solid #ccc;
    top:0!important;
}


// ------------------------------------------------No plan Page Css---------------------------------
.noPlanExist .records_div{
    border:0;
    box-shadow: none;
}
.NoPlanExist .middleContent{
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 45%;
    text-align: center;
}
.noPlanExist h2::before{
     content: "";
    position: absolute;
    width: 276px;
    height: 1px;
    background: #e7e7e7;
    top: 91px;
    left: -34px;
}
.noExistCurrentPlan h2:before{
    left: -2px;
}
.noPlanExist img{
    width: 65px
}
.noPlanExist button{
    margin-top: 35px;
    width: 192px;
    height: 33px;
    border-radius: 4px;
    background-color: #6d6dc9;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}
.noPlanExist h2{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 50px;
}
// ------------------------------------------------No plan Page Css End---------------------------------


.otbTable thead tr{
    height: 40px;
}
.otbToggleSwitch{
    color: #4a4a4a!important;
}
.planDropDown ul li a{
    cursor: pointer;
}
.planDropDown .availablePlans{
    min-height: 20px;
    max-height: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.otbTable li{
    display: table-cell;
    padding-right:10px;
    width:83px;
}
.tableHeadWidth{
    overflow: hidden;
}
.divvalue{
    display: table-cell;
}
.m-top-6{
    margin-top: 6px !important;
}
// .otbTable tbody tr>td{
    // padding: 0px !important;
// }
.otbTable .firstRowOtb>td{
     padding: 0px !important;
     border:0;
}
.otbTable .firstRowOtb>td td{
    border-left: 0px;
}
.panelTableMain .tableBody{
    width:100%;
    overflow: scroll;
}
.panelTableMain .divvalue li label{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 0px;
    width: auto !important;
}
.panelTableMain .otbTotalTable li {
    padding: 12px 0px!important;
}
.disableText{
    color: #d2bbbb!important;
    cursor:default !important;
}
.display_blockk
{
    display: block
}
.img_transform-180{
    transform: rotate(180deg)
}
.img_transform-0{
    transform: rotate(0deg)
}
.otbButtonStatic{
    border-radius: 24.3px;
    background-color: #6d6dc9;
    color: #fff;
    padding: 9px 14px;
    font-size: 12px;
    margin-left: 30px;
}
.OtbAccordianEnd p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-top:10px;
}
.plannedSaleConfirmation{
    height: 27% !important;
}
.plannedSaleConfirmation .modal-footer{
    margin-top: 60px;
}
.plannedSaleConfirmation .save-current-data{
    position: inherit;
    padding: 25px 0px;
}
.otbLoader{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.otbLoader img{
    height: 30px;
}
.otbLoader .loaderBgBLur{
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}
.tableHeadWidth .otbTable{
    width:100%;
}
.otbTotalTable .otbTotalTable li label{
    // width:83px;
    width: auto!important;
}
.otbTotalTable .otbTotalTable li{
    text-align:right;
}
.divLoader .backdroploader{
    z-index: 988 !important;
}
.noCurrentPlanExist .backdroploader{
    z-index: 99!important;
}
.otbFailedMain{
    height: 250px;
    width: 38%;
    border-radius: 15px !important;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    border: 0px;
    padding: 27px 0px;
    img{
        width: 65px;
    }
    h3{
        @include fontStyle(14px , 600 ,#4a4a4a);
        margin-top: 20px;
    }
    label{
        @include fontStyle(11.8px , 500 ,#4a4a4a);
        display: block !important;
        margin-top: 10px;
    }
    .closeBtn{
        @include buttonStyle(13px,600 , 6px , transparent!important , #4a4a4a , 0px , solid 1px #535b78!important);
        width: 116px;
        height: 38px;
        margin-top: 20px;
        position: initial;
    }
    .circleLoader{
        p{
            font-size: 12px;
        }
    }
}
