.organisation_container{
    width: 100%;
    height: 75vh;
    display: inline-block;
    // margin-top: 10px;
    margin: 0px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.orgnisationTextbox{
  height: 30px;
  width: 175px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ccd8ed;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
//   color: #9b9b9b;
  outline: none;
  text-indent: 5px;
}
.orgnisationTextarea {
  height: 15vh;
  width: 378px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ccd8ed;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* // color: #9b9b9b; */
  outline: none;
   /* text-indent: 5px; */
  padding: 10px;
  resize: none;
}
.clearbtnOrganisation {
  width: 41px;
  height: 18px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  outline: none;
  border: none;
  background: transparent;
}
.savebtnOrganisation {
  width: 100px;
  height: 25px;
  border-radius: 21.8px;
  background-color: #6d6dc9;
  border: #6d6dc9;
  color: #fff;
  outline: none;
  font-size: 11px;
  font-weight: 600;
  font-family: Montserrat;
}
.table>tbody>tr>td{
  vertical-align: middle !important;
}
.button_home{
    background-color: #fff;
    color: #4a4a4a;
    font-size: 10px;
    height: 25px;
    width: 45px;
    outline: none;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}
// .organisationTable, .organisationTable>thead, .organisationTable>thead>tr,
// .organisationTable>tbody>tr{
//     display: table;
//     width: 100%;
//     table-layout: fixed;
// }
// .organisationTable>tbody{
//     display: block;
//     height: 50vh;
//     overflow: auto;
// }

.organisationTable>thead>tr>th>label{
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
    margin: 0px
}


.organisationTable>tbody>tr>td>label{
    font-size: 10px;
    font-weight: 500;
    font-family: Montserrat;
    color: #8b8b8b;
    text-align: left;
    margin: 0px;
}
.organisationTable>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.organisationTable>tbody>tr>td:nth-child(1){
    border: 1px solid #ddd;
    border-left: none;
}
.organisationTable>tbody>tr>td:nth-child(2){
    border: 1px solid #ddd;
    border-left: none;
}
.organisationTable>tbody>tr>td:nth-child(3){
    border: 1px solid #ddd;
      border-left: none;
}
.organisationTable>tbody>tr>td:nth-child(4){
    border: 1px solid #ddd;
      border-left: none;
}
.organisationTable>thead>tr>th
{
    border-bottom: none !important;
}
.organisationTable>tbody>tr>td
{
     border: 1px solid #ddd;
}

.organisationTable>tbody>tr:nth-child(even) {
    background: #fff
}
.organisationTable>tbody>tr:nth-child(odd) {
    background: #f4f4fd
}
.organisationTable>tbody>tr>td:last-child{
    border-right: none !important;
}
.organistionFilterModal {
  position: relative;
  height: 30px;
  width: 175px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  // color: #9b9b9b;
  outline: none;
  text-indent: 5px;
}
.height100vh{
    height: 100vh !important;
}
.scrollableOrgansation{
    height: 75vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.organisationTable{
    width: 100%;
    // height: 70vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.adminBreacrumbsDropdown{
    z-index: 989;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: .5s;
}
.adminBreacrumbsDropdown>a{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    width: 100%;
}
.adminBreacrumbsDropdown>a:hover{
    background-color: #6d6dc9;
    transition: .5s;
    color: #fff !important;
}
.hovershowDropdown{
    z-index: 989;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: .5s;
    display: none;
    position: absolute;
    left: 158px;
    // top: 2px;
    // top: auto;
    // margin-top: -25px;
}
.subDropPos{
    top: auto;
    margin-top: -25px;
}
.hovershowDropdown>a{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a!important;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.hovershowDropdown>a:hover{
    background-color: #6d6dc9;
    transition: .5s;
    color: #fff!important;
}
.scheduler:hover .hovershowDropdown{
    display: block;
}
.tableOrganisation{
    width:100%;
}
.tableOrganisation tbody tr td {
    width:12.5%;
    padding-left:11px;
    border:1px solid #e5e5e5;
    border-right:0;
}
.tableOrganisation tbody tr td label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;

}
.tableOrganisation tbody tr td img{
    width: 15px;
    margin-right: 19px;
    margin-left: 10px;
}
.tableOrganisation tbody tr td:first-child{
    border-left:0;
}
.tableOrganisation .orgTableFixCol{
    font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.tableOrganisation input[type=checkbox]{
    display: inline-block;
    margin-right:30px;
}
.tableOrganisation thead th{
    border-top:1px solid #e5e5e5;
    width:12.5%;
    padding-left:12px;
}
.tableOrganisation thead th label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.tableOrganisation tr{
    height:50px;
}
.tableOrganisation .orgTableFixCol{
    // box-shadow: 2px 0px 6px 1px rgba(229, 229, 229, 0.5);
    padding-left:11px;
    line-height:2;
    left: 0;
    position: absolute;
    top: auto;
    width: 139px;
    height: 60px;
    box-shadow: 8px 0 10px -3px #efefef;
    border-right: none!important;
    border-bottom: none!important;
}
.tableOrganisation tbody tr button{
    background:none;
    padding:0;
}
.checkBoxLabelOrg{
    display: block;
    overflow:visible!important;   
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkBoxLabelOrg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmarkOrg {
    position: absolute;
    top: -2;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 5px;
}
.checkBoxLabelOrg input:checked ~ .checkmarkOrg {
    background-color: #6d6dc9;
}
.checkmarkOrg:after {
    content: "";
    position: absolute;
    display: block;
}
.checkBoxLabelOrg input:checked ~ .checkmarkOrg:after {
    display: block;
}
.checkBoxLabelOrg .checkmarkOrg:after {
    left: 6px;
    top: 3px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.orgScroll{
    margin-left: 143px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    max-width: 1085px;
    height:auto;
}
.orgScroll .fixed-side{
    padding-top: 17px;
    padding-left: 12px;
}

// Delete Tool Tip CSS
.topToolTip {
    position: relative;
    display: inline-block;
}

.topToolTip .topToolTipText {
    visibility: hidden;
    width: 108px;
    font-size: 10px;
    font-weight: 500;
    background-color: #f9f9f9;
    color: #4a4a4a;
    border: 1px solid #e3e7f3;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.topToolTip .topToolTipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e3e7f3 transparent transparent;
}

.topToolTip:hover .topToolTipText {
    visibility: visible;
}
.deletemulti{
    height: 25px;
    width: 130px;
    background: transparent;
    border: 1px solid #979797;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
}
.deletemulti>span:nth-child(1){
    width: 15px;
    display: inline-block;
}
.deletemulti>span>img{
    width: 12px;
}
.deletemulti>span:nth-child(2){
    width: 100px;
    position: relative;
    top: 1px;
    display: inline-block;
}


// custom dropdown
.customDropShow{
    height: 180px;
    overflow-x: auto;
    left: 158px;
    bottom: 0px;
    top: auto;
}
.customDropShow ul{
    height: 168px;
    padding-left: 0;
    overflow-x: auto;
}
.customDropShow ul li:hover {
    background-color: #6d6dc9;
    transition: .5s;        
}
.customDropShow ul li:hover a{
    color: #fff;
}
.customDropShow ul li a {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    width: 100%;
}
.organisationTableIcon .checkmarkOrg{
    top: -7px;
}
.organisationTableIcon .positiontable{
    top:-3px;
}
.organisationTableIcon thead tr th:first-child .checkmarkOrg {
    top: -4px;
    left: -16!important;
}   
.organisationTableIcon .scrollTable>tbody>tr>td{
    border-left: none;
    border-bottom: none;
}
.clearSearchFilter{
    float: right;
        margin-right: 31%;
    color: #6d6dc9;
    cursor: pointer;
}
.organisationTableIcon tr td {
    max-width: 140px;
    white-space: normal!important;
    word-break: break-all;
}
.organisationTableIcon .orgScroll{
    max-width: 100%;
    margin-left: 100px;
}
.organisationTableIcon .orgScroll table th label{
    width:141px;
    padding-left: 0;
}
.organisationTableIcon tbody tr td{
    width: 14.5%;
}
.organisationTableIcon table .fixed-side{
    width:100px;
}
.organisationTableIcon .orgScroll table button img{
    margin-left:30px;
}
.clearFilterBtn{
    position: absolute;
    bottom: -21px;
    left: 120px;
    cursor:pointer;
    color: #6d6dc9;
}
.hovershowDropdownScheduler{
    display: none;
    z-index: 989;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: .5s;
    display: none;
    position: absolute;
    left: 158px;
    top: 2px;
}

.schedulerHover:hover .hovershowDropdownScheduler{
    display: block;
}
.hovershowDropdownScheduler>a:hover{
    background-color: #6d6dc9;
    transition: .5s;
    color: #fff!important;
}
.hovershowDropdownScheduler>a{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a!important;
    display: inline-block;
    text-align: left;
    width: 100%;
}
.anchorError>span{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 12px 16px;
}
.anchorError>span:hover{
    background-color: #6d6dc9;
    transition: .5s;
    color: #fff!important;
}
.breadcrumbsList .dropdown span:hover>span>i{
    color: #fff;
    transition: .5s;
}
.anchorErrorSubMenu>span{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a!important;
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 12px 16px;
}
.anchorErrorSubMenu>span:hover{
    background-color: #6d6dc9;
    transition: .5s;
    color: #fff!important;
}
.addFile .chooseFileBtn{
    border: solid 0.5px #c5c5c5;
    background-color: #ffffff;
    border-width: 1px;
    border-style: dashed;
    box-shadow: none !important;
}
.addFile input{
    height: 50px !important;
}
.addFile>label{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 8px;
}
.addFile svg{
    top: 12px!important;
    height: 24px!important;
}
.addFile .chosenImage{
    top: 16px!important;
    left: 60px!important;
    font-size: 14px!important;
    font-weight: normal!important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.inputBoxesGeneric .piImageModalMain.addFile input{
    width:150px !important;
}
.addOrganisationMain .assortmentCheck label{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    cursor: pointer !important;
}   
.topChangeSetting{
    top: -1px !important;                                                                                                                                                                                                                                                                                                                                                                                                                                               
}

.edit-organisation{
    box-shadow: none;
    border: none;
    width: 65%;
    padding: 0;
    height: 65vh;
    .edm-head {
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        box-shadow: 0 3px 6px 0 rgba(203, 203, 203, 0.16);
        .contribution_mart {
            font-size: 16px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
        .edmh-right{
            button{
                border-radius: 5px;
                border: solid 1px #a4b9dd;
                background-color: #ffffff;
                color: #12203c;
                padding: 6px 15px;
                width: auto;
                font-size: 12px;
                font-weight: 600;
                height: 32px;
                margin-left: 20px;
            }
            .vendorEditBtn1{
                border: solid 1px #8b77fa;
                background-color: #8b77fa;
                color: #fff;
                padding: 6px 30px;
            }
            .vendorEditBtn2{
                border-radius: 5px;
                border: solid 1px #a4b9dd;
                background-color: #ffffff;
                color: #12203c;
                padding: 6px 15px;
                height: auto;
                width: auto;
                font-size: 12px;
                font-weight: 600;
            }
        }
    } 
    .eom-body{
        padding: 16px 30px;
        .eom-logo-upload{
            position: relative;
            .customInput {
                border-radius: 21px;
                background-color: #f8f3ff;
                margin: 0;
                width: 120px;
                height: 30px;
                padding: 6px 13px;
                border: none;
                img{
                    width: 9px
                }
            }
            .eomlo-logo {
                display: block;
                position: absolute;
                top: 0;
                left: 130px;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }  
    select {
        display: block;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 500;
    }
    .InputBoxEdit{
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 500;
        width: 100%;
        height: 30px;
    }
    label {
        font-size: 11px;
        font-weight: 500;
        color: #12203c;
    }
    .orgnisationTextarea {
        height: 70px;
        width: 100%;
        padding: 10px;
        resize: none;
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 500;
    }
    .ao-billing-details h4 {
        font-size: 13px;
        font-weight: 600;
        color: #21314b;
        margin: 0;
    }
    .textAreaEditModal{
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 500;
        height: 55px;
    }
}