.otbModalMain{
    height: 43%;
    width: 42%;
}
.processState{
    background-color: #fbfbfb;
    height: 100%;
}
.otbModalMain h4{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.otbModalMain input[type=text]{
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    width: 95%;
    height: 35px;
    text-indent: 8;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.otbModalMain .emptyDiv{
    height: 60px;
}
.modalFooter .nxtBtn i{
    font-weight: 100;
    font-size: 10px;
    padding-left: 6px;
}
.modalFooter{
    height: 60px;
    display: flex;
    align-items: flex-end;
}
.modalFooter .clear_button_vendor{
    margin-bottom: 8px;
}
.nxtBtn{
    border-radius: 24px;
    background-color: #6d6dc9;
    width: 79px;
    height: 32px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.processState li label{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    padding-top: 45px;
}
.processState li{
 padding-left:20px;
 position: relative;   
}
.processState .processBlue{
    width: 8px;
    height: 38px;
    border-radius: 8.5px;
    position: absolute;
    left: 0;
    top: 35px;
    background-color: #6d6dc9;
}
.processState .processGrey{
    width: 8px;
    height: 38px;
    border-radius: 8.5px;
    position: absolute;
    left: 0;
    top: 35px;
    background-color: #e7e7e7;
}
.processState ul:before{
    content: "";
    position: absolute;
    height: 124px;
    width: 1px;
    top: 61px;
    left: 18px;
    background: #efefef;
}
.processState li.active label{
    font-weight:bold;
}
.otbModalMain .modalLeft{
    padding: 25px 8px 25px 30px;
}
.modalLeft label{
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: block!important;
}
.lastYearData{
    width: 162px;
    height: 49px;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #ceceeb;
    background-color: #6d6dc9;
    color: #fff;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    margin-right: 10px; 
}
.changeDataBlue{
    background-color: #6d6dc9 !important;
    color: #fff !important
}
.changeData button{
    width: 43%;
    height: 49px;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #ceceeb;
    background-color: #fff;
    color: #fff;
    text-align: center;
    color: #4a4a4a;
    font-size: 10px;
    margin-right: 10px; 
    transition: 0.5s;
    vertical-align: top;
    margin-top: 5px;
}
.changeData button:last-child{
    width: 50%;
    margin-right: 0;
}
.changeData button:hover{
    background: #6d6dc9;
    color:#ffffff;
}
.changeData{
    height:18vh;
}
.disabledbtn:hover{
    cursor: not-allowed;
    background-color: #fff !important;
    color: #4a4a4a !important;
}

// Style OTB Reports Filter
.otb-reports-filter{
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 1px 4px 7px 0 #dce6f096;
    .orf-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        // margin-bottom: 10px;
        .orfh-left{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .orfhl-inner{
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #21314b;
                    margin: 0;
                    position: relative;
                }
                .h3After:after{
                    content: "";
                    position: absolute;
                    top: 1px;
                    //right: 25px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #eb0008;
                }
                span{
                    font-size: 11px;
                    font-weight: 500;
                    color: #97abbf;
                }
            }
            button{
                position: relative;
                font-size: 12px;
                border-radius: 17px;
                font-weight: 600;
                border: 1px solid #b4c5d6;
                background-color: #fff;
                color: #97abbf;
                margin-left: 40px;
                padding: 3px 17px;
                transition: 0.6s all;
            }
            button:before{
                content: "";
                position: absolute;
                top: 0;
                left: -20px;
                width: 1px;
                height: 26px;
                border-radius: 50%;
                background-color: #b4c5d6;
            }
        }
        .orfh-rgt{
            button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0px 3px 16px 0 rgba(220,230,240,.89);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.6s all;
            }
            .orfh-btn {
                background: #8b77fa;
                transform: rotate(180deg);
                transition: 0.6s all;
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
    }
    .orf-body{
        transition: 0.6s all;
        form {
            display: table;
            width: 100%;
            h3 {
                font-size: 13px;
                font-weight: 600;
                color: #21314b;
                margin-bottom: 15px;
            }
        }
        label {
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
        }
        select{
            display: block;
            width: 100%;
            height: 34px;
            border: 1px solid #cbd5e0;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 12px;
            font-weight: 500 !important;
            background: #fff;
            -webkit-appearance: none;
            background: url(../assets/downArrowNew.svg);
            background-position: 95%;
            background-repeat: no-repeat;
            background-size: 12px;
        }
        input[type=date] {
            display: block;
            width: 100%;
            height: 34px;
            border: 1px solid #cbd5e0;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 12px;
            font-weight: 500 !important;
            background: #fff;
            -webkit-appearance: none;
            background: url(../assets/calenderNew2.svg);
            background-position: 95%;
            background-repeat: no-repeat;
            background-size: 15px;
        }
        .pd-date-input{
            border: solid 1px #ffcf03;
            background-color: #fffbeb;
            display: block;
            width: 100%;
            height: 34px;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 12px;
            font-weight: 600 !important;
        }
        .pnl-purchase-input {
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background-color: #fff;
            padding: 6px 37px 6px 10px;
            height: 34px;
            width: 100%;
            font-size: 11px;
            font-weight: 600!important;
            color: #12203c;
        }
        .pnl-purchase-input::placeholder{
            color: #000000;
            font-size: 12px;
            font-weight: 500;
        }
        .pnl-purchase-read {
            display: block;
            border-radius: 5px;
            border: 1px solid #bfdfff;
            background-color: #f2f5f8;
            padding: 6px 10px;
            height: 34px;
            width: 100%;
            font-size: 11px;
            font-weight: 600;
            -webkit-appearance: none;
        }
        .orfb-choose-frequency {
            display: block;
            position: relative;
            label {
                display: block !important;
                color: #4a5568;
            }
            .orfbcf-btn {
                display: block;
                width: 100%;
                height: 34px;
                border: 1px solid #cbd5e0;
                border-radius: 5px;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: 500 !important;
                background: #fff;
                -webkit-appearance: none;
                background: url(../assets/downArrowNew.svg);
                background-position: 95%;
                background-repeat: no-repeat;
                background-size: 12px;
            }
            .orfbcf-dropdown {
                display: block;
                position: absolute;
                top: 61px;
                left: 0;
                width: 100%;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #faf0fe;
                    }
                }
            }
        }
        .orfb-apply-btn{
            margin-bottom: 10px;
            button{
                padding: 0;
                background-color: #fff;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                color: #2d3748;
                margin-right: 20px;
                transition: .6s ease-in-out;
            }
            .orfbab-apply{
                background-color: #8b77fa;
                border: 1px solid #8b77fa;
                color: #ffffff;
                padding: 6px 15px;
            }
        }
        .disflexBottom{
            display: flex;
            align-items: flex-end;
            height: 56px;
        }
        .orfb-submit-btn{
            button{
                padding: 0;
                background-color: #fff;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                color: #2d3748;
                margin-right: 20px;
                transition: .6s ease-in-out;
            }
            .orfbab-submit{
                background-color: #8b77fa;
                border: 1px solid #8b77fa;
                color: #ffffff;
                padding: 6px 25px;
            }
        }
    }
}
.otb-reports-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .otbrc-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .otbrcl-heading {
            position: relative;
            margin-right: 20px;
            h3 {
                font-size: 17px;
                font-weight: 700;
            }
            p {
                font-size: 12px;
                margin: 0;
                font-weight: 500;
                color: #97abbf;
            }
        }
        .otbrcl-report{
            position: relative;
            margin-right: 40px;
            p {
                font-size: 12px;
                margin: 0;
                font-weight: 500;
                color: #97abbf;
                span{
                    font-size: 12px;
                    font-weight: 600;
                    color: #121212;
                }
            }
            span{
                font-size: 12px;
                font-weight: 600;
            }
            .otbrcl-amount {
                border: 1px solid #e83600;
                background-color: #e83600;
                color: #fff;
                padding: 1px 9px;
                display: inline-block;
                border-radius: 40px;
                font-size: 12px;
                margin-top: 7px;
                span{
                    margin-right: 5px;
                    font-size: 11px;
                }
            }
            .otbrcl-italic{
                font-style: italic;
                margin-top: 5px;
            }
        }
        .otbrcl-heading:after{
            content: "";
            position: absolute;
            right: -20px;
            top: 5px;
            width: 1px;
            height: 30px;
            background-color: #dce6f0;
        }
        .global-search-tab{
            margin: 0;
            margin-left: 20px;
        }
        .otbrc-search{
            position: relative;
            display: inline-block;
            margin-right: 20px;
            form{
                margin: 0;
            }
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            input:focus{
                border: solid 1px #cdc4ff;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
        .groth-degrth-input-ars{
            position: relative;
            display: block;
            margin-left: 20px;
            width: auto;
            label {
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
            }
            input {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background: #fff;
                padding: 8px 6px;
                height: 32px;
                font-size: 12px;
                color: #21314b;
                font-weight: 500;
                width: 180px;
                margin-right: 15px;
            }
            input::placeholder {
                font-size: 12px;
                font-weight: 500;
                color: #bbc4e5;
            }
            button {
                background-color: #8b77fa;
                border: 1px solid #8b77fa;
                color: #fff;
                padding: 6px 25px;
                font-size: 12px;
                font-weight: 600;
                border-radius: 5px;
                width: auto;
                height: 32px;
            }
        }
        .groth-degrth-input-ars::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -20px;
            width: 1px;
            height: 20px;
            background-color: #ccd8ed;
        }
        .otbrc-details {
            display: flex;
            align-items: center;
            padding: 0;
            .otbrcd-col {
                display: block;
                margin-right: 40px;
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #94a5c6;
                    margin-bottom: 3px;
                }
                span {
                    font-size: 12px;
                    font-weight: 600;
                    color: #12203c;
                }
            }
        }
    }
    .otbrc-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            position: relative;
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            height: 32px;
            padding: 3px 10px;
            font-size: 12px;
            font-weight: 500;
            margin-left: 20px;
        }
        .otbrc-setting {
            padding: 0px;
            color: #12203c;
            width: 32px;
        }
        button:hover {
            .generic-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
        .otbrc-setting:hover {
            background-color: #12203c;
            border: solid 1px #12203c;
            svg {
                .otbrc-fill-2 {
                    fill: #fff;
                }
            }
            .generic-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
        .otbrc-email{
            span{
                margin-left: 10px;
            }
        }
        .otbrc-down-report{
            .otbrcdr-icon {
                margin-left: 10px;
            }
        }
        .gvpd-filter{
            position: relative;
            .gvpd-filter-inner{
                width: 32px;
                padding: 0;
            }
            .gvpd-filter-inner:hover{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .gvpd-filter-inner-focus{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .noOfFilter {
                position: absolute;
                right: -9px;
                top: -7px;
                background-color: #eb0008;
                border-radius: 50%;
                padding: 2px 0;
                font-size: 10px;
                width: 17px;
                height: 17px;
                text-align: center;
                color: #fff;
            }
        }
        .pi-download{
            width: 32px;
            padding: 0;
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                right: 0;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        width: 100%;
                        text-align: left;
                        img{
                            width: 17px;
                            // margin-right: 12px;
                        }
                        span{
                            display: inline-block;
                            padding: 7px 0px;
                            border-radius: 50%;
                            height: 32px;
                            width: 32px;
                            text-align: center;
                            margin-right: 10px;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                        div{
                            display: inline-block;
                            .multipleDownloadSelect {
                                border: none;
                                padding: 0;
                                -webkit-appearance: none;
                                background: #fff !important;
                            }
                        }
                    }
                    .export-excel{
                        color: #a4b9dd;
                        span{
                            margin-right: 10px;
                        }
                    }
                    .export-excel:hover{
                        color: #12203c;
                        span{
                            background-color: #049d4b14;
                            svg{
                                path{
                                    fill: #049d4b;
                                }
                                text{
                                    fill: #049d4b;
                                }
                            }
                        }
                    }
                    .pi-pdf-download{
                        .pipdf-barcode{
                            padding: 10px 0px;
                        }
                        .btnDisabled{
                            color: #a4b9dd !important;
                        }
                    }
                    .pi-pdf-download:hover{
                        .pi-pdf-svg{
                            background-color: #eb000817;
                            svg{
                                path{
                                    fill: #eb0008;
                                }
                                text{
                                    fill: #eb0008;
                                }
                            }
                        }
                        .pipdf-barcode{
                            background-color: #3279dd1f;
                            svg{
                                path{
                                    fill: #3279dd;
                                }
                            }
                        }
                        .pipdf-invoice{
                            background-color: #e2c80017;
                            svg{
                                path{
                                    fill: #e2c800;
                                }
                            }
                        }
                        .pipdf-packing{
                            background-color: #00ced617;
                            svg{
                                path{
                                    fill: #00ced6;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pi-download-focus{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            svg path{
                fill: #fff;
            }
        }
        .sales-through {
            position: relative;
            button {
                border-radius: 46px;
                box-shadow: 0 1px 6px 0 #d7e1f3;
                background-color: #fff;
                font-size: 12px;
                font-weight: 600;
                padding: 6px 33px 6px 13px;
                height: 32px;
                color: #21314b;
                text-align: left;
                background-image: url('../assets/downArrowNew.svg');
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 11px;
                margin-left: 20px;
                min-width: 95px;
                border: none;
            }
            .sathrst-dropdown {
                display: block;
                position: absolute;
                top: 41px;
                right: 0;
                width: 130px;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 270px;
                overflow: auto;
                .sathrstd-inner {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                    }
                    .sahrsdd-head {
                        font-size: 12px;
                        font-weight: 500;
                        color: #969fad;
                    }
                }
            }
        }
    }
}
.vgtbg-fcfdfe{
    .manage-table{
        .gen-main-table{
            tbody{
                tr{
                    background-color: #fcfdfe;
                    .fix-action-btn {
                        .table-item-list {
                            justify-content: flex-end !important;
                        }
                    }
                }
            }
        }
    }
}

// 
.groth-degrth-input-ars{
    display: block;
    width: 250px;
    label {
        font-size: 12px;
        font-weight: 600;
        color: #21314b;
    }
    input {
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background: #fff;
        padding: 8px 6px;
        height: 32px;
        font-size: 12px;
        color: #21314b;
        font-weight: 500;
        width: 160px;
        margin-right: 15px;
    }
    button {
        background-color: #8b77fa;
        border: 1px solid #8b77fa;
        color: #fff;
        padding: 6px 5px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        width: 75px;
        height: 32px;
    }
}

// Style Save Configuration Modal
.save-confirmation-modal {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 350px;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: none;
    .scm-inner {
        display: block;
        padding: 20px 50px;
        text-align: center;
        h3 {
            font-size: 18px;
            font-weight: 700;
            margin-top: 25px;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            margin: 40px 0;
            color: #97abbf;
        }
        .scmi-btn {
            button {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background: #fff;
                padding: 3px 25px;
                height: 36px;
                font-size: 12px;
                color: #21314b;
                font-weight: 600;
            }
            .scmi-confirm {
                background-color: #8b77fa;
                border: 1px solid #8b77fa;
                color: #fff;
                margin-right: 20px;
            }
        }
    }
}