.errorPage{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;

}
.h-100{
    height: 100%;
}
.errorHeader{
    width: 100%;
    display: block;
    text-align: right;
    padding: 35px 50px 0px 50px;
}
.backButtonError{
    width: 149px;
    height: 34px;
    border-radius: 17.1px;
    border: solid 0.9px #e4e4e4;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 10.1px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    transition: .5s;
}
.backButtonError:hover{
    color: #ffffff;
    background-color: #6d6dc9;
    transition: .5s;
}
.errorContentContainer{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 3%;
}
.errorContentContainer>h1{
    font-family: Montserrat;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #414141;
}
.errorContentContainer>h3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3%;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.errorContentContainer>p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 1%;
}
.footerError{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.errorFooterImage{
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
}
.footerBackgroundImg{

    width: 100%;
    /* position: absolute; */
    height: 75%;
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
}
.absoluteImgError{
    position: relative;
    width: 50%;
    text-align: center;
    left: 25%;
    bottom: 30vh;
}
.rotatingLight {
    -webkit-animation: rotatingLight 2s linear infinite;
}
@-webkit-keyframes rotatingLight{
   100%{
    transform: rotate(10deg);
   }
    50% {
      -webkit-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    0% {
      -webkit-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      transform: rotate(10deg);
    }
       
   
  }
  @keyframes rotatingLight {
    100%{
        transform: rotate(10deg);
       }
    50% {
      -ms-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    0% {
      -ms-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      transform: rotate(10deg);
    }
   
  }
  .rotatingLight {
    -webkit-animation: rotatingLight 2s linear infinite;
    -moz-animation: rotatingLight 2s linear infinite;
    -ms-animation: rotatingLight 2s linear infinite;
    -o-animation: rotatingLight 2s linear infinite;
    animation: rotatingLight 2s linear infinite;
  }


//   ________________________Connection error___________
.errorhead{
    padding-top: 7%;
    width: 100%;
    text-align: center;
}
.errorhead>h2{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #414141;
}
.errroContectionImg{
    width: 100%;
    height: 40vh;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.firstImg{
    width: 34%;
    position: relative;
    top: 10px;
    left: 19px;
}

.contentErorConnection{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 3%;
}
.contentErorConnection>h3{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.contentErorConnection>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.footerConnection{
    margin-top: 2%;
    width: 100%;
    text-align: center;

}   
.connectionImg>p{
    font-family: Montserrat;
    font-size: 10.1px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 15px;
}

// ___________________internal server Error
.errorInternal{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 3%;
}
.errorInternal>h1{
    font-family: Montserrat;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #414141;
}
.contentError{
    width: 100%;
    height: auto;
    margin-top: 3%;

}
.contentError>h2{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 30px;
}
.internalServerErrorMain .contentError .internalError{
    text-align: center;
    font-weight:bold;
}
.fiveHundredError{
    top: 0;
    position: absolute;
    z-index: 9999;
    left: 0;
}
.topEror{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: center;
}
.bottonEror{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.bottonEror>a{
    font-weight: bold;
    text-decoration: none;
}
.footImg{
    width: 100%;
    height: 30vh;
    text-align: center;
    margin-top: 5%;
}
.footImg>img{
    // width: 40%;
    height: 100%;
}
.notFoundLeftBorder{
    width: 140px;
    height: 4px;
    border-radius: 4px;
    display: block;
    background-color: #f3f3f3;
    float: left;
    position: absolute;
    left: 34%;
    top: 150px;
}
.notFoundRightBorder{
    width: 140px;
    height: 4px;
    border-radius: 4px;
    display: block;
    background-color: #f3f3f3;
    float: left;
    position: absolute;
    right: 34%;
    top: 150px;
}
.notFoundLeftBorder0{
    width: 140px;
    height: 4px;
    border-radius: 4px;
    display: block;
    background-color: #f3f3f3;
    float: left;
    position: absolute;
    left: 34%;
    top: 80px;
}
.notFoundRightBorder0{
    width: 140px;
    height: 4px;
    border-radius: 4px;
    display: block;
    background-color: #f3f3f3;
    float: left;
    position: absolute;
    right: 34%;
    top: 80px;
}
.errorHeader0{
    width: 100%;
    display: block;
    text-align: center;
    padding: 35px 50px 0px 50px;
}
.errorInternal>h1::before{
    content:"";
    position:absolute;
    width: 15%;
    height: 6px;
    border-radius: 4px;
    background-color: #f3f3f3;
    left: 390px;
    bottom:86%;
}
.errorInternal>h1::after{
    content:"";
    position:absolute;
    width: 15%;
    height: 5px;
    border-radius: 4px;
    background-color: #f3f3f3;
    right: 390px;
    bottom: 86%;
}
.errorContentContainer>h1::before{
    content:"";
    position:absolute;
    width: 15%;
    height: 6px;
    border-radius: 4px;
    background-color: #f3f3f3;
    left: 390px;
    bottom:76%;
}
.errorContentContainer>h1::after{
    content:"";
    position:absolute;
    width: 15%;
    height: 5px;
    border-radius: 4px;
    background-color: #f3f3f3;
    right: 390px;
    bottom: 76%;
}