.warning-two-item .background-blur{
    background-color: #ffffff;
    opacity: .7;
    height: 98%;
    width: 100%;
    position: absolute;
}
.warning-two-item .modal-dialog{
    max-width: 100%;
}
.warning-two-item .modal-header{
    width: 100%;
    display: block;
    border: 0
}
.warning-two-item{
    position: absolute;
    width: 106%;
    display:flex;
    height: 100%;
    top: 0;
    left: -26px;
}
.warning-two-item .modal-content{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    text-align: center;
}
.warning-two-item h2{
    font-family: Montserrat;
    font-size: 15.6px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#4a4a4a;
    margin-top:0px;
    display: inline-block;
}
.warning-two-item p span{
    font-weight: 600;
}
.warning-two-item .close-btn{
    border-radius: 17px;
    box-shadow: none;
    outline: none;
    border: 1px solid #dcdcdc;
    background: transparent;
    font-size: 12px;
    padding: 0px 28px;
    color: #4a4a4a;
    font-weight: 500;
    cursor: pointer;
    float: left;
    height: 30px;
    margin-right: 20px;
    height: 33.4px;
}
.warning-two-item .confirm-btn{
    height: 33.4px;
     border-radius: 15.7px;
      background-color: #6d6dc9;
    box-shadow: none;
    outline: none;
    border: 1px solid #dcdcdc;
    padding: 0px 28px;
    cursor: pointer;
    margin-right:10px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.warning-two-item .icon{
    display: inline-block;
    margin-right: 18px;
    height: 30px;
    vertical-align: middle;
}
.warning-two-item .modal-data{
     border-radius: 4.8px;
    box-shadow: 0 2px 8px 0 rgba(216, 216, 216, 0.5);
    background-color: #ffffff;
    width: 100%!important;
    display: inline-block;
    padding: 25px;
    text-align: left;
    z-index: 2;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    /*border: 1px solid rgba(0,0,0,.2);*/
    outline: 0;
    height:190px;
}
.warning-two-item p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.warning-two-item .modal-footer{
    display: inline-block;
    width: 100%;
    border: 0;
    margin-top: 40px;
}

.save-current-data .background-blur{
    background-color: #ffffff;
    opacity: .7;
    height: 98%;
    width: 100%;
    position: absolute;
}
.save-current-data .modal-content{
     position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    text-align: center;
}
.save-current-data h2{
    font-family: Montserrat;
    font-size: 14.6px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#4a4a4a;
    margin-top:0px;
    display: inline-block;
}
.save-current-data p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-bottom: 12%;
}

.save-current-data .close-btn{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    background:transparent;
    border:0;
    outline:none;
    float: left;
    height: 27px;
    margin-right:20px;
    cursor: pointer;
}
.save-current-data .confirm-btn{
    box-shadow: none;
    outline: none;
    border: 1px solid #dcdcdc;
    padding: 4px 20px;
       cursor:pointer;
       float:right;
       font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 15.7px;
     background-color: #6d6dc9;
     height:30px;
}
.save-current-data .icon{
    display: inline-block;
    margin-right: 18px;
    height: 30px;
    vertical-align: middle;
}
.save-current-data .modal-data{
     border-radius: 4.8px;
    box-shadow: 0 2px 8px 0 rgba(216, 216, 216, 0.5);
    background-color: #ffffff;
    width: 100%!important;
    display: inline-block;
    padding: 22px 25px;
    text-align: left;
    z-index: 2;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    /*border: 1px solid rgba(0,0,0,.2);*/
    outline: 0;
    height:auto;
}
.save-current-data .modal-footer{
    display: inline-block;
    width: 100%;
    border: 0;
    margin-top: -19px;
}
.save-current-data .modal-header{
    width: 100%;
    display: block;
    border: 0;
}
.save-current-data{
    position: absolute;
    width: 100%;
    display:flex;
    height: 100%;
    top: 0;
}
.save-current-data .modal-dialog{
    max-width: 100%;
}
.modalPos{
    top: 0;
    left: 0;
    z-index: 1000;
}
.modalPos .background-blur{
    left: 0;
    height: 100%;
}
.modalPos .modal-data .modal-header p{
    margin-top: 13px;
}
.modalPos .modal-data .modal-header h2{
    font-size: 13.6px;
    white-space: normal;
    display: block;
}
.modalPos .modal-data .modal-header{
    padding:0;
}
.modalPos .modal-footer{
    margin-top: 0;
    padding:0;
}