.poHistoryMain table{
    display:table;
}
.poHistoryMain tbody tr td{
    border: 1px solid #e3e7f3;
    border-left: none;
    border-bottom: none;
}
.poHistoryMain table thead label{
    margin-bottom:0;
}
.poHistoryFilterInput ul li{
    vertical-align: bottom;
    margin-top:10px;
}
// .poHistoryMain table thead{
//     padding:0;
//     border:0;
// }
// .poHistoryMain table thead th{
//     border:0;
// }
// .poHistoryMain table thead label{
//     padding:0;
//     height: 25px;
//     border-bottom: 1px solid #e3e7f3; 
//     border-top: 1px solid #e3e7f3; 
// }

// Style Line Item Detail Modal
.line-item-view-data-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1150px;
    height: 600px;
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 20px 0;
    .livdm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        h3 {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
        button {
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 15px;
            height: 32px;
            font-weight: 600;
            position: relative;
            display: inline-block;
        }
        .gen-approved {
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            color: #fff;
            padding: 5px 15px;
            font-weight: 600;
            img {
                margin-right: 7px;
                width: 15px;
            }
        }
        .gen-cancel {
            border: 1px solid #e83600;
            background-color: #fff;
            font-weight: 500;
            color: #e83600;
            padding: 5px 22px;
        }
        .livdmh-close {
            background: #ffffff;
            padding: 4px;
            border: 2px solid #000;
            border-radius: 50%;
            height: auto;
        }
    }
    .livdm-body {
        display: block;
        margin-top: 20px;
        .lidm-table {
            position: relative;
            display: block;
            padding: 0 30px;
            .lidmt-manage {
                overflow-y: hidden;
                overflow-x: auto;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                .lidmt-button {
                    position: absolute;
                    top: 42px;
                    right: 30px;
                    width: 50px;
                    height: calc(100% - 42px);
                    background: #c8f9e6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .lidmt-arrow {
                        background: #3ea297;
                        border-radius: 8px;
                        padding: 10px 7px;
                        height: 70px;
                    }
                }
                .lidmt-button-fff{ 
                    background: #ffffff;
                    .lidmt-arrow {
                        transform: rotate(180deg);
                    }
                }
            }
            table{
                display: table;
                white-space: nowrap;
                border-collapse: collapse;
                margin: 0;
                border-spacing: 0;
                thead{
                    border: none;
                    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                    tr{
                        height: 35px;
                        background-color: #fff;
                        th{
                            height: 42px;
                            vertical-align: middle;
                            white-space: nowrap;
                            border: none;
                            cursor: pointer;
                            label{
                                margin: 0;
                                font-weight: 600;
                                color: #000000;
                                width: auto;
                                cursor: pointer !important;
                                font-size: 12px !important;
                                img{
                                    margin-left: 15px;
                                    cursor: pointer;
                                }
                            }
                            label.rotate180{
                                transform: rotate(0);
                                img{
                                    transform: rotate(180deg);
                                }
                            }
                            img{
                                margin-left: 15px;
                                cursor: pointer;
                            }
                            .rotate180{
                                filter: sepia(1);
                            }
                        }
                        th.rotate180{
                            transform: rotate(0);
                            img{
                                filter: sepia(1);
                                transform: rotate(180deg);
                            }
                        }
                        th:last-child{
                            padding-right: 55px;
                        }
                    }
                }
                tbody{
                    tr{
                        height: 35px;
                        td{
                            height: 35px;
                            white-space: nowrap;
                            vertical-align: middle;
                            border: 0.5px solid #e3e7f3;
                            position: relative;
                            label{
                                color: #12203c;
                                margin: 0;
                                font-weight: 500;
                                vertical-align: middle;
                                font-size: 11px !important;
                                .genmt-rupee-sign{
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #97abbfcf;
                                    margin-right: 5px;
                                }
                                .lidt-no {
                                    margin-left: 5px;
                                    padding: 3px;
                                    border: solid 1px #3a5074;
                                    border-radius: 4px;
                                    color: #3a5074;
                                }
                            }
                            label.lidm-view-img {
                                color: #3279dd;
                            }
                            input[type="text"] {
                                border-radius: 6px;
                                border: solid 1px #dce6f0;
                                background-color: #ffffff;
                                font-size: 11px;
                                font-weight: 500;
                                color: #000;
                                padding: 3px 5px;
                                height: 28px;
                                width: 80px;
                            }
                        }
                        td:first-child {
                            border-left: none;
                        }
                        .sudetail {
                            background: #dffbf0;
                            border-bottom: 0.5px solid #dffbf0;
                        }
                    }
                    tr:first-child {
                        td {
                            border-top: none;
                        }
                    }
                }
                .right-fix-btn {
                    width: 60px;
                    height: 401px;
                    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
                    background-color: #d5ffe7;
                }
            }
        }
    }
}

.item-detail-view-images-modal {
    position: fixed;
    top: 80px;
    left: 31px;
    width: 1088px;
    height: 210px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.16);
    background-color: #fff;
    padding: 10px 0;
    .idvim-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 30px;
        .idvimh-left {
            h3{
                font-size: 16px;
                font-weight: 600;
                color: #010002;
                margin: 0px;
                p {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #010002;
                    margin: 0;
                    margin-left: 5px;
                    display: inline-block;
                }
            }
            p {
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                color: #010002;
                margin: 0;
            }
        }
        .idvimh-close {
            background: #ffffff;
            padding: 4px;
            border: 2px solid #000;
            border-radius: 50%;
        }
    }
    .idvim-body {
        display: block;
        padding: 0px 30px;
        margin-top: 5px;
        .idvimb-manage {
            overflow-x: auto;
            max-width: 1088px;
            overflow-y: hidden;
            height: 140px;
        }
        .idvimb-images {
            display: inline-block;
            margin-right: 20px;
            position: relative;
            width: 110px;
            height: 110px;
            border-radius: 11px;
            transition: 0.6s all;
            img {
                opacity: 0.75;
                border-radius: 11px;
                // background-color: #3a5074;
                border-radius: 12px;
                border: solid 1px #c6d1db;
                width: 110px;
                height: 110px;
            }
            label {
                display: block !important;
                font-size: 12px !important;
                font-weight: 500;
                margin-top: 6px !important;
            }
            .idvimb-backdrop {
                border-radius: 11px;
                opacity: 0.75;
                background-color: #3a5074;
                display: none;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                button {
                    background: #ffffff42;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
            }
        }
        .idvimb-images:hover {
            transition: 0.6s all;
            .idvimb-backdrop {
                display: flex;
            }
        }
    }
}
// Style View Details Modal
.line-item-view-data-modal.view-details {
    .vd-body {
        padding: 10px 30px;
        .vd-modal-table{
            position: relative;
            display: block;
            box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
            margin-top: 20px;
            .vdmt-manage{
                overflow-y: auto;
                overflow-x: auto;
                max-height: 480px;
                .columnFilterGeneric{
                    width: 19px;
                    .glyphicon{
                        padding: 15px 3px;
                        background: #8b77fa;
                    }
                    .columnSetting{
                        right: 19px;
                    }
                }
                .table{
                    display: table;
                    white-space: nowrap;
                    border-collapse: collapse;
                    margin: 0;
                    border-spacing: 0;
                    thead{
                        border: none;
                        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                        tr{
                            height: 35px;
                            background-color: #fff;
                            th{
                                height: 42px;
                                vertical-align: middle;
                                white-space: nowrap;
                                border: none;
                                cursor: pointer;
                                label{
                                    // font-size: 13px !important;
                                    margin: 0;
                                    font-weight: 600;
                                    color: #12203c;
                                    width: auto;
                                    cursor: auto !important;
                                    font-size: 12px !important;
                                    img{
                                        margin-left: 15px;
                                        cursor: pointer;
                                    }
                                }
                                label.rotate180{
                                    transform: rotate(0);
                                    img{
                                        transform: rotate(180deg);
                                    }
                                }
                                img{
                                    margin-left: 15px;
                                    cursor: pointer;
                                }
                                .rotate180{
                                    filter: sepia(1);
                                }
                            }
                            th.rotate180{
                                transform: rotate(0);
                                img{
                                    filter: sepia(1);
                                    transform: rotate(180deg);
                                }
                            }
                            th:last-child{
                                padding-right: 30px;
                            }
                            .fix-action-btn{
                                width: auto;
                                box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                                background-color: #fff;
                                border: 0;
                                left: 0;
                                position: sticky;
                                border-right: none;
                                border-bottom: none;
                                z-index: 1;
                                max-width: 90px;
                                padding: 0;
                                min-width: 40px;
                                label{
                                    width: auto;
                                }
                            }
                            .width40{
                                width: 40px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            height: 35px;
                            td{
                                height: 35px;
                                white-space: nowrap;
                                vertical-align: middle;
                                border: 0.5px solid #e3e7f3;
                                position: relative;
                                label{
                                    color: #12203c;
                                    margin: 0;
                                    font-weight: 500;
                                    white-space: nowrap;
                                    max-width: 200px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    vertical-align: middle;
                                    font-size: 11px !important;
                                    cursor: auto !important;
                                    .genmt-rupee-sign{
                                        font-size: 12px;
                                        font-weight: 600;
                                        color: #97abbfcf;
                                        margin-right: 5px;
                                    }
                                }
                                input[type="text"] {
                                    border-radius: 6px;
                                    border: solid 1px #dce6f0;
                                    background-color: #ffffff;
                                    font-size: 11px;
                                    font-weight: 500;
                                    color: #000;
                                    padding: 3px 5px;
                                    height: 28px;
                                    width: 80px;
                                }
                            }
                            .disinput {
                                border: 1px solid #bfdfff;
                                background-color: #f2f5f8;
                                border-left: 0;
                            }
                            td:first-child{
                                border-left: none;
                            }
                            td:nth-child(2){
                                border-left: none;
                            }
                            .fix-action-btn{
                                width: auto;
                                box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                                background-color: #fff;
                                border: 0;
                                padding: 0;
                                left: 0;
                                position: sticky;
                                z-index: 1;
                                max-width: 90px;
                                .table-item-list{
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: space-around;
                                    padding: 0;
                                    margin: 0;
                                    height: 35px;
                                    .til-inner{
                                        display: inline-block;
                                        padding: 7px;
                                        position: relative;
                                        border-radius: 50%;
                                        cursor: pointer;
                                        .checkBoxLabel0{
                                            width: 16px;
                                            height: 16px;
                                            padding-left: 16px;
                                        }
                                        .checkmark1 {
                                            left: 0px;
                                            top: 0px;
                                            height: 16px;
                                            width: 16px;
                                            background-color: #ffffff;
                                            cursor: pointer;
                                            border-radius: 4px;
                                            border: solid 2px #dce6f0;
                                        }
                                        .checkBoxLabel0 .checkmark1:after {
                                            width: 5px;
                                            height: 9px;
                                            border-width: 0 2px 2px 0;
                                            content: none;
                                        }
                                        .checkBoxLabel0 input:checked~.checkmark1 {
                                            background-color: #8b77fa;
                                            border: none;
                                        }
                                        .checkBoxLabel0 input:checked~.checkmark1:after{
                                            width: 5px;
                                            height: 9px;
                                            border-width: 0 2px 2px 0;
                                            content: "";
                                        }
                                    }
                                    .til-inner:hover>.generic-tooltip{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                    .til-eye-btn{
                                        padding: 0;
                                        padding-top: 4px;
                                        padding-left: 3px;
                                    }
                                    .tili-eye {
                                        img {
                                            width: 19px;
                                        }
                                    }
                                    .til-add-btn:hover{
                                        background-color: #8b77fa1c;
                                        transition: 0.3s all;
                                        svg{
                                            background-color: #ffffff;
                                            path{
                                                fill: #8b77fa;
                                            }
                                        }
                                    }
                                }
                            }
                            .width40 {
                                width: 40px;
                            }
                            td:last-child{
                                padding-right: 30px;
                            }
                        }
                        tr:first-child{
                            td{
                                border-top: none;
                            }
                        }
                    }
                }
            }
            .vdmt-manage::-webkit-scrollbar-thumb {
                background: #dadadec7!important;
            }
        }
    }
}

// Sticky Modal View Detail
.vd-sticky-table{
    position: sticky;
    left: 40px;
    width: min-content;
    background: #fff;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    z-index: 1;
    .vdst-expand{
        display: table;
    }
    .vdste-tab {
        display: block;
        padding: 20px 0;
    }
    .lidm-tab {
        display: block;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
        ul {
            border: none;
            padding: 0;
            li {
                margin-bottom: 0;
                a {
                    border-radius: 0;
                    border: none;
                    font-size: 12px;
                    font-weight: 500;
                    border-bottom: none;
                    color: #788090;
                    background: transparent;
                }
                a:focus {
                    border: none;
                    background-color: transparent;
                }
            }
            li.active {
                a {
                    font-weight: 600;
                    color: #121212;
                }
                a:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 20px;
                    height: 2px;
                    background-color: #8b77fa;
                    transform: translate(-50%);
                }
                a:hover {
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }
    .vst-manage{
        width: 1048px;
        overflow: auto;
        max-height: 300px;
        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
        table{
            margin: 0;
            thead{
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                    th{
                        background-color: #ffffff;
                        height: 35px;
                        label{
                            font-weight: 600 !important;
                        }
                    }
                }
            }
            tbody{
                tr:first-child{
                    td{
                        border-top: 1px solid #e3e7f3 !important;
                    }
                }
                tr{
                    td{
                        input[type=text]{
                            border: 1px solid #fff4c9;
                            font-size: 11px;
                            font-weight: 500 !important;
                            padding: 3px 6px;
                            border-radius: 6px;
                            width: 100px;
                            background-color: #fffae7 !important;
                        }
                        .errorBorder{
                            border: 1px solid #c44569!important;
                        }
                    }
                    .fix-action-btn{
                        border: none !important;
                        max-width: 40px !important;
                        width: 40px !important;
                        .table-item-list{
                            width: 40px !important;
                        }
                    }
                }
            }
        }
        .lidmt-button {
            position: absolute;
            top: 42px;
            right: 0px;
            width: 50px;
            height: calc(100% - 42px);
            background: #c8f9e6;
            display: flex;
            align-items: center;
            justify-content: center;
            .lidmt-arrow {
                background: #3ea297;
                border-radius: 8px;
                padding: 10px 7px;
                height: 70px;
            }
        }
        .lidmt-button-fff{ 
            background: #ffffff;
            .lidmt-arrow {
                transform: rotate(180deg);
            }
        }
    }
    .vst-manage::-webkit-scrollbar-thumb {
        background: #dadadec7!important;
    }
    .gen-vend-sticky-table{
        left: 40px;
        .gvst-inner2{
            overflow: auto;
            box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
            width: 1080px;
        }
    }
    
}

// Style success modal
.new-success-modal {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 230px;
    border: none;
    box-shadow: none;
    padding: 30px 30px;
    .nsm-head {
        display: block;
        text-align: center;
        padding: 10px 0;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                display: inline-block;
                width: 22px;
                margin-right: 10px;
            }
            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
                display: inline-block;
            }
        }
        .nsmh-new {
            display: block;
        }
    }
    .nsm-body {
        display: block;
        text-align: center;
        padding: 10px 0;
        p {
            margin: 0;
            font-size: 12px;
            font-weight: 500;
            .bold {
                font-size: 12px;
            }
        }
    }
    .nsm-footer {
        display: block;
        text-align: center;
        padding: 10px 0;
        .confirm-btn {
            border-radius: 5px;
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            padding: 6px 20px;
            font-size: 12px;
            font-weight: 600;
            height: 32px;
            margin-right: 20px;
            color: #fff;
        }
        .close-btn {
            border-radius: 5px;
            border: 1px solid #a4b9dd;
            background-color: #fff;
            padding: 6px 15px;
            font-size: 12px;
            font-weight: 500;
            height: 32px;
        }
    }
}