.pd-content-head{
    display: block;
    margin: 8px 0 15px;
    .pd-top5-articles{
        display: inline-block;
        width: 50%;
        span {
            display: block;
            font-weight: 700;
            font-size: 14px;
            padding: 6px 0;
        }
    }
    .pd-tb-list {
        display: inline-block;
        width: 50%;
        border: none;
        text-align: right;
        li{
            display: inline-block;
            float: none;
            border: none;
            .pd-table-tab-btn{
                color: #2d3748;
                font-size: 11px;
                font-weight: 600;
                background: #fff;
                padding: 5px 15px;
                border-radius: 25px;
                border: none;
                box-shadow: 0 0 6px 0 hsla(0,0%,40%,.16);
                transition: .6s ease-in-out;
            }
            .pd-table-tab-btn:hover, .pd-table-tab-btn:focus{
                border: none;
                background-color: #12203c;
                color: #ffffff ;
                cursor: pointer;
                transition: 0.6s ease-in-out;
            }
        }
        li.active .pd-table-tab-btn{
            background-color: #12203c !important;
            color: #ffffff !important;
        }
        li:first-child{
            margin-right: 10px;
        }
    }
}
.bg-fff{
    background-color: #ffffff;
}
.pd-tables{
    width: 100%;
    thead{
        tr{
            th{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px 10px;
                label{
                    font-size: 11px;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px 10px;
                label{
                    font-size: 11px;
                    font-weight: 500;
                    margin: 0;
                }                
            }
            .pd-tables-amount{
                text-align: right;
                label{
                    text-align: right;
                    font-weight: 600;
                    font-size: 11px;
                }
                .clr-red{
                    color: #eb0008;
                }
            }
        }
    }
}
.pd-tables .pd-tables-unit{
    font-size: 13px;
}
.pd-graphic-data-head {
    margin: 30px 0;
    display: block;
    .pd-item {
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }
    span{
        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 23px;
            margin-bottom: 0;
            margin: 0 15px 0 0;
            input { 
                opacity: 0;
                width: 0;
                height: 0;
            }
        }
        label{
            .slider{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ffffff;
                -webkit-transition: .4s;
                transition: .4s;
                border: 1px solid #23e3eb;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 19px;
                width: 19px;
                left: 2px;
                bottom: 1px;
                background-color: #23e3eb;
                -webkit-transition: .4s;
                transition: .4s;
            }
            input:checked + .slider{
                background-color: #23e3eb;
            }
            input:checked + .slider:before {
                background-color: #ffffff;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }
            .slider.round:before {
                border-radius: 50%;
            }
            .slider.round {
                border-radius: 34px;
            }
            .slider.round:before {
                border-radius: 50%;
            }
        }
    }
    .pd-gd-text {
        font-size: 14px;
        font-weight: 600;
        color: #2d3748;
    }
}
.pd-gd-head-item{
    display: block;
    margin: 15px 0;
    .pd-tb-list{
        width: 60%;
        text-align: left;
        border-bottom: none;
        li{
            .pd-table-tab-btn {
                padding: 8px 15px;
                color: #2d3748;
                font-size: 11px;
                font-weight: 600;
                background: #fff;
                border-radius: 25px;
                border: none;
                box-shadow: 0 0 6px 0 hsla(0,0%,40%,.16);
                transition: .6s ease-in-out;
            }
            .pd-table-tab-btn:hover, .pd-table-tab-btn:focus{
                border: none;
                background-color: #12203c;
                color: #ffffff;
                cursor: pointer;
                transition: 0.6s ease-in-out;
            }
        }
        li.active{
            .pd-table-tab-btn{
                background-color: #12203c;
                color: #ffffff;
            }
        }
    }
}

// Style Tab Of Procurement Dashboard
.pdt-list {
    padding: 0px 47px;
    border-bottom: 1px solid #dce6f0;
    li {
        position: relative;
        border: none;
        margin: 0;
        padding: 0;
        .pdt-list-btn {
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
            border: none;
            border-bottom: 1px solid #dddddd;
            border-color: #dddddd;
        }
        .pdt-list-btn.active{
            border-color: #dddddd;
        }
        .pdt-list-btn:hover, .pdt-list-btn:focus, .pdt-list-btn:active{
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #dddddd;
        }
    }
    li:first-child{
        .pdt-list-btn{
            padding-left: 0px;
        }
    }
    li.active{
        .pdt-list-btn{
            font-weight: 600;
            border: none;
        }
        .pdt-list-btn:hover, .pdt-list-btn:focus, .pdt-list-btn:active{
            border: none;
            border-bottom: 1px solid #dddddd;
        }
        .pdt-list-btn:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            background-color: #12203c;
            height: 2px;
            width: 20px;
        }
    }
}
.pd-tab-content{
    margin-top: 20px;
    .pd-tab-actionable-items{
        .pd-item-details{
            padding: 25px 32px!important;
            background-color: #f8f3ff;
        }
        .pd-hdetails{
            position: relative;
            width: 100%;
            height: 135px;
            display: block;
            background-color: #ffffff;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 8px 0 #eaddfc;
            .pd-hdetails-top{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                .pdhdt-text{
                    font-size: 14px;
                }
                span{
                    font-size: 20px;
                    font-weight: 700;
                    img{
                        margin-right: 5px;
                    }
                }
                .pd-ht-info-icon{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    img{
                        width: 16px;
                    }
                }
            }
            .pd-hdetails-bot{
                display: block;
                text-align: center;
                height: 85px;
                width: 100%;
                p{
                    font-size: 12px;
                    font-weight: 700;
                    text-align: center;
                    margin: 0;
                }
                .pdhb-amount {
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                    color: #8b77fa;
                    margin-top: 7px;
                }
                .pdhb-amount.clr-red{
                    color: #ee434c;
                }
                button {
                    display: inline-block;
                    background-color: #fff;
                    color: #a0aec0;
                    font-size: 13px;
                    font-weight: 500;
                    padding: 5px 15px;
                    border-radius: 5px;
                    margin-top: 4px;
                    img{
                        width: 16px;
                        margin-left: 5px;
                    }
                }
                .vdhi-bottom {
                    margin-top: 9px;
                    span {
                        font-size: 12px;
                        color: #fff;
                        font-weight: 500;
                        i.fa.fa-chevron-down {
                            margin-left: 5px;
                        }
                        .vdhi-dropdown-menu {
                            width: 82px;
                            text-align: left;
                            li{
                                span {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pd-hdetails.pahd-manage{
            height: 95px;
            .pd-hdetails-bot{
                height: 45px;
            }
        }
        .bg-red{
            background-color: #ee434c;
            .pd-hdetails-top{
                span{
                    color: #ffffff;
                }
            }
            .pd-hdetails-bot{
                p{
                    color: #ffffff;
                }
            }
        }
        .bg-orange{
            background-color: #ffa664;
            .pd-hdetails-top{
                span{
                    color: #ffffff;
                }
            }
            .pd-hdetails-bot{
                p{
                    color: #ffffff;
                }
            }
        }
    }
}
.pad-r15{
    padding-right: 15px !important;
}

// Style New Layout of the Procurement Dashboard By Mayank 2020
.pdfilters{
    position: relative;
    background: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(167, 167, 167, 0.16);
    margin-top: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
    .pdf-top{
        display: flex;
        padding: 10px 0;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid #a0aec042;
        .pdft-left{
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: flex-start;
            .nph-switch-btn{
                position: relative;
                .tg-switch {
                    width: 53px;
                    height: 24px;
                    .tg-slider {
                        background-color: #8b77fa;
                    }
                    .tg-slider:before {
                        left: 3px;
                        bottom: 3px;
                    }
                    input:checked+.tg-slider:before {
                        transform: translateX(29px);
                    }
                }
                .nph-wbtext{
                    position: absolute;
                    margin: 0;
                    top: 5px;
                    left: 25px;
                    color: #fff;
                    cursor: pointer !important;
                }
                .nph-wbtext.nph-wbtext-left{
                    left: 13px;
                }
            }
            button {
                display: block;
                position: relative;
                background: #fff;
                margin-right: 20px;
            }
            button:before{
                content: "";
                position: absolute;
                top: 0px;
                left: -8px;
                width: 1px;
                height: 21px;
                background-color: #a0aec0;
            }
        }
        .pdft-right{
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: flex-end;
            button{
                padding: 6px 0;
                background-color: #fff;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 500;
                color: #2d3748;
                margin-left: 20px;
                transition: .6s ease-in-out;
            }
            .apply-filter-btn{
                background-color: #8b77fa;
                color: #ffffff;
                padding: 6px 15px;
            }
        }
    }
    .pdfilters-inner{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;    
        position: relative;
        height: 32px;
        margin-top: 10px;
        .pdfif-no-filter{
            position: relative;
            span{
                font-size: 12px;
                font-weight: 500;
                color: #a0aec0;
                margin-left: 20px;
            }
            span:before{
                content: "";
                position: absolute;
                top: 3px;
                left: 11px;
                width: 1px;
                height: 11px;
                background-color: #a0aec0;
            }
        }
        .pdfilters-inner-filter-heading{
            display: block;
            width: auto;
            h3{
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }
        }
    }
    .ant-picker.ant-picker-range {
        border: 1px solid #dce6f0;
        height: 34px;
        border-radius: 6px;
    }
    form{
        display: table;
        width: 100%;
        margin: 20px 0 10px;
        p {
            font-size: 14px;
            font-weight: 600;
            color: #2d3748;
        }
        select{
            display: block;
            width: 100%;
            height: 34px;
            border: 1px solid #cbd5e0;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 12px;
            font-weight: 500 !important;
            background: #fff;
            -webkit-appearance: none;
            background: url(../assets/chevron.svg);
            background-position: 95%;
            background-repeat: no-repeat;
            background-size: 12px;
        }
        .pd-date-input{
            border: solid 1px #ffcf03;
            background-color: #fffbeb;
            display: block;
            width: 100%;
            height: 34px;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 12px;
            font-weight: 600 !important;
        }
        .pnl-purchase-input {
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background-color: #fff;
            padding: 6px 25px 6px 10px;
            height: 34px;
            width: 100%;
            font-size: 11px;
            font-weight: 600!important;
            color: #12203c;
        }
        .pnl-purchase-input::placeholder{
            color: #7f8388;
        }
        .pd-filter-label{
            display: block;
            font-size: 12px;
            margin: 10px 0;
            font-weight: 500;
        }
        .ant-picker-input>input{
            color: #12203c;
            font-weight: 500;
        }
        .ant-picker-input input::placeholder{
            color: #7f8388;
        }
        .ant-picker-separator {
            color: #a4b9dd;
        }
        .ant-picker-suffix {
            color: rgb(164, 185, 221);
        }
    }
}

// Style Excel Upload Page
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.excel-upload-page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    .euph-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .euphl-dataline {
            width: 100px;
            text-align: center;
            position: relative;
            p {
                font-size: 12px;
                font-weight: 500;
            }
            .euphldl-count {
                display: inline-block;
                width: 34px;
                height: 34px;
                background: #f3f5fb;
                color: #90a5c7;
                text-align: center;
                padding: 8px 0;
                border-radius: 50%;
                font-size: 12px;
                font-weight: 600;
                position: relative;
                z-index: 5;
            }
        }
        .euphl-dataline:after {
            content: "";
            position: absolute;
            bottom: 14px;
            left: 50%;
            width: 100%;
            height: 2px;
            border-bottom: 5px dotted #c1d8f0;
            z-index: 1;
        }
        .euphl-dataline:first-child {
            margin-left: -15px;
        }
        .aftenNone:after {
            content: none;
        }
        .euphl-processed {
            .euphldl-count {
                color: #fff;
                background-color: #8b77fa;
            }
        }
        .euphl-processed:after {
            border-bottom: 5px dotted #8b77fa;
        }
    }
    .euph-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            font-size: 12px;
            font-weight: 600;
            padding: 5px 15px;
            border-radius: 25px;
            height: 32px;
            margin-left: 20px;
            color: #12203c;
            background-color: #ffffff;
        }
        .euph-proceed {
            display: flex;
            align-items: center;
            background-color: #8b77fa;
            color: #ffffff;
            .euph-arrow-icon {
                margin-left: 15px;
            }
        }
        .euph-validate {
            background: #404a75;
            color: #fff;
            padding: 3px 20px;
        }
        .euph-back {
            border: solid 2px #404a75;
            color: #404a75;
        }
    }
}
.excel-upload-page-mid {
    background: #f9f9f9;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    .eupm-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .eupm-inner {
            margin-right: 20px;
            h3 {
                font-size: 18px;
                font-weight: 700;
                color: #21314b;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                margin: 0;
                color: #6a7385;
            }
        }
        .eupm-summary {
            display: block;
            position: relative;
            // margin-left: 20px;
            h3 {
                font-size: 18px;
                font-weight: 700;
                color: #21314b;
            }
            .eupms-bottom {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .eupmsb-inner {
                    display: block;
                    margin-right: 20px;
                    p {
                        font-size: 12px;
                        font-weight: 500;
                        color: #90a5c7;
                        margin: 0;
                    }
                    h5 {
                        font-size: 12px;
                        font-weight: 700;
                        color: #21314b;
                        margin: 0;
                    }
                }
            }
        }
        // .eupm-summary:before {
        //     content: "";
        //     position: absolute;
        //     top: 13px;
        //     left: -20px;
        //     background-color: #90a5c761;
        //     width: 2px;
        //     height: 30px;
        // }
    }
    .eupm-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            font-size: 12px;
            font-weight: 600;
            background: #fff;
            padding: 5px 10px;
            color: #12203c;
            border-radius: 5px;
            height: 32px;
            border: solid 1px #ccd8ed;
            img {
                margin-left: 10px;
                width: 14px;
            }
        }
    }
}
.excel-upload-page-bottom {
    .eupb-download {
        .eupbd-btn {
            button {
                font-size: 12px;
                font-weight: 600;
                background: #fff;
                padding: 5px 0px;
                color: #12203c;
                .eupbdb-downi {
                    margin-right: 10px;
                }
            }
        }
    }
    .eupb-upload {
        .piumb-upload-area {
            display: block;
            text-align: center;
            border-radius: 6px;
            border: 2px dashed #c1d8f0;
            width: 100%;
            height: 220px;
            padding: 30px 0 20px;
            h4 {
                font-size: 14px;
                font-weight: 600;
                color: #718096;
                margin: 6px 0;
            }
            p {
                font-size: 11px;
                font-weight: 500;
                color: #718096;
            }
            .piumbua-upload {
                border-radius: 5px;
                background-color: #b4c5d6;
                color: #fff;
                font-size: 12px;
                padding: 7px 25px;
                text-align: center;
                font-weight: 600;
                margin-top: 10px;
                cursor: pointer!important;
                input {
                    display: none;
                }
            }
            .piumbua-message {
                display: block;
                font-size: 11px;
                font-weight: 500;
                color: #718096;
            }
            .piumbuau-filename {
                font-size: 12px;
                font-weight: 600;
                color: #0000ff;
                margin-top: 5px;
                display: inline-block;
                cursor: pointer;
                img {
                    padding: 3px;
                    border-radius: 50%;
                    border: solid 2px;
                    width: 18px;
                    margin-left: 4px;
                }
            }
        }
    }
    .eupb-collapse {
        border-radius: 15px;
        box-shadow: 0 3px 7px 0 #e7ebf2;
        margin-bottom: 20px;
        background-color: #ffffff;
        .eupb-row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 20px;
            .eupbr-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 45%;
                .eupbrl-left {
                    p {
                        font-size: 12px;
                        font-weight: 500;
                        color: #90a5c7;
                        margin: 0;
                    }
                    h5 {
                        font-size: 14px;
                        font-weight: bold;
                        color: #21314b;
                        margin: 0;
                    }
                }
                .eupbrl-right {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .eupbrlr-inner {
                        display: block;
                        margin-right: 20px;
                        p {
                            font-size: 12px;
                            font-weight: 500;
                            color: #90a5c7;
                            margin: 0;
                        }
                        h5 {
                            font-size: 12px;
                            font-weight: bold;
                            color: #21314b;
                            margin: 0;
                        }
                        .eupbrlr-amnt {
                            color: #40a499;
                            font-size: 12px;
                            font-weight: 700;
                            .repee {
                                color: #90a5c7;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .eupbr-right {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 55%;
                padding-left: 10px;
                position: relative;
                .eupbrr-left {
                    display: flex;
                    align-items: center;
                    .eupbrrl-inner {
                        display: block;
                        img {
                            width: 24px;
                        }
                        h3 {
                            font-size: 12px;
                            font-weight: 600;
                            color: #21314b;
                            margin: 0;
                        }
                        p {
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0;
                            color: #f6845a;
                        }
                    }
                    .eupbrrl-img {
                        display: block;
                        margin-right: 20px;
                        img {
                            width: 24px;
                        }
                    }
                }
                .eupbrr-right {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    button {
                        font-size: 12px;
                        font-weight: 600;
                        padding: 5px 13px;
                        border-radius: 25px;
                        margin-left: 10px;
                        height: 30px;
                        background-color: #ffffff;
                    }
                    .eupbrr-error {
                        background: #f6845a;
                        color: #fff;
                    }
                    .eupbrr-discard {
                        color: #fff;
                        background: #f34225;
                    }
                    .eupbrr-arrow {
                        background-color: #ffffff;
                        padding: 5px 0px 5px 13px;
                    }
                }
            }
            .eupbr-right:before {
                content: "";
                position: absolute;
                top: 3px;
                left: -5px;
                background-color: #90a5c761;
                width: 1px;
                height: 25px;
            }
        }
        .eupbc-bottom-sec {
            border-top: solid 1px #b4c5d6;
            padding: 20px 20px;
            margin-top: 10px;
            .eupbc-table {
                overflow: auto;
                margin-top: 10px;
                table {
                    margin: 0px;
                    thead {
                        tr {
                            th {
                                background: #eff2f7;
                                vertical-align: middle;
                                // border-top: solid 1px #b4c5d6;
                                padding: 6px 5px;
                                border: solid 1px #eff2f7;
                                label {
                                    font-size: 11px!important;
                                    margin: 0;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                border: solid 1px #b4c5d6;
                                padding: 8px;
                                font-size: 11px;
                                font-weight: 500;
                                color: #12203c;
                                input[type="text"] {
                                    border: none;
                                    width: 90px;
                                    height: 25px;
                                    font-size: 12px;
                                    font-weight: 500;
                                    padding: 5px;
                                    color: #12203c;
                                }
                            }
                        }
                    }
                }
            }
        }
        .eupbc-error-msg {
            width: 50%;
            padding: 10px 15px;
            min-height: 120px;
            border-radius: 10px;
            border: solid 1px #f8aeb0;
            background-color: #fffdfd;
            h5 {
                font-size: 12px;
                font-weight: 600;
                color: #eb0008;
                margin-bottom: 12px;
            }
            .eupbcem-inner {
                p {
                    font-size: 12px;
                    font-weight: 500;
                }
                .eupbcem-colm-cell {
                    font-size: 11px;
                    font-weight: 500;
                    display: inline-block;
                    margin-right: 10px;
                    padding: 2px 5px;
                    border-radius: 4px;
                    border: solid 1px #eb0008;
                }
            }
        }
    }
}
.eup-summary-upload-status {
    .eupsus-inner {
        border-radius: 15px;
        box-shadow: 0 3px 7px 0 #e7ebf2;
        margin-bottom: 20px;
        background-color: #fff;
        padding: 25px 30px;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
            margin: 0;
        }
        .eupsusi-bot {
            display: flex;
            align-items: center;
            margin-top: 25px;
            .eupsusib-sucess {
                display: flex;
                align-items: center;
                margin-right: 20px;
                img {
                    vertical-align: middle;
                    width: 22px;
                    margin-right: 10px;
                }
                h5 {
                    font-size: 12px;
                    font-weight: 600;
                    color: #21314b;
                    margin: 0;
                }
            }
        }
    }
    .eupsus-bottom {
        display: block;
        p {
            font-size: 12px;
            font-weight: 500;
        }
        .eupsusb-btn {
            button {
                font-size: 12px;
                font-weight: 600;
                padding: 5px 15px;
                border-radius: 25px;
                height: 32px;
                margin-right: 20px;
                color: #12203c;
                background-color: #fff;
            }
            .eupsusb-vpo {
                align-items: center;
                background-color: #8b77fa;
                color: #fff;
                .eupsusb-arrow-icon {
                    margin-left: 15px;
                }
            }
            .eupsusb-vuh {
                border: solid 1px #12203c;
                color: #12203c;
            }
        }
    }
}

.eupbc-table {
    overflow: auto;
    margin-top: 10px;
    table {
        margin: 0px;
        thead {
            tr {
                th {
                    background: #eff2f7;
                    vertical-align: middle;
                    // border-top: solid 1px #b4c5d6;
                    padding: 6px 5px;
                    border: solid 1px #eff2f7;
                    label {
                        font-size: 11px!important;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
        }
        tbody {
            tr {
                th {
                    white-space: nowrap;
                    background: #f9f5fe;
                    vertical-align: middle;
                    // border-top: solid 1px #b4c5d6;
                    padding: 10px 8px;
                    border: solid 1px transparent;
                    font-size: 12px;
                    margin: 0;
                    font-weight: 600;
                    height: 42px;
                    label {
                        font-size: 12px!important;
                        margin: 0;
                        font-weight: 600;
                    }
                }
                td {
                    white-space: nowrap;
                    border: solid 1px #b4c5d6;
                    padding: 8px;
                    font-size: 11px;
                    font-weight: 500;
                    height: 38px;
                    color: #12203c;
                    .reactTableCell {
                        display: flex;
                        align-items: center;
                        input {
                            font-size: 12px;
                            font-weight: 500;
                            border: solid 1px #d6e3f1;
                            background-color: #f9fafc;
                            padding: 3px 4px;
                            border-radius: 5px;
                            width: 130px;
                            margin-right: 5px;
                            color: #12203c;
                        }
                        input.mousetrap {
                            font-size: 12px;
                            font-weight: 500;
                            border: solid 1px #d6e3f1;
                            background-color: #f9fafc;
                            padding: 3px 4px;
                            border-radius: 5px;
                            width: 130px;
                            margin-right: 5px;
                            color: #12203c;
                        }
                        span {
                            display: block;
                            width: 100%;
                        }
                    }
                    input {
                        font-size: 12px;
                        font-weight: 500;
                        border: solid 1px #d6e3f1;
                        background-color: #f9fafc;
                        padding: 3px 4px;
                        border-radius: 5px;
                        width: 130px;
                        margin-right: 5px;
                        color: #12203c;
                    }
                    input.mousetrap {
                        font-size: 12px;
                        font-weight: 500;
                        border: solid 1px #d6e3f1;
                        background-color: #f9fafc;
                        padding: 3px 4px;
                        border-radius: 5px;
                        width: 130px;
                        margin-right: 5px;
                        color: #12203c;
                    }
                }
                .selected {
                    background: #f7f8fc !important;
                    border: 1px solid #abc1e3;
                }
            }
        }
    }
}

// Style Excel Search Modal 
.excel-search-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 440px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0;
    box-shadow: none;
    .esm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        h3 {
            font-size: 14px;
            font-weight: 700;
            margin: 0;
        }
        button {
            border: solid 2px #000;
            border-radius: 50%;
            background: #fff;
            padding: 4px;
        }
    }
    .esm-body {
        display: block;
        padding: 10px 30px;
        .esmb-head {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .esmbh-left {
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #3a5074;
                }
                select {
                    display: block;
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    height: 30px;
                    text-align: left;
                    font-weight: 500;
                    font-size: 12px;
                    background-image: url('../assets/downArrowNew.svg');
                    background-position: 96%;
                    background-repeat: no-repeat;
                    padding: 4px 23px 4px 7px;
                    -webkit-appearance: none;
                    width: 200px;
                }
            }
            .esmbh-right {
                .esmbh-search{
                    position: relative;
                    display: inline-block;
                    input[type="search"] {
                        border-radius: 5px;
                        border: solid 1px #dce6f0;
                        background: #fff;
                        padding: 8px 40px 8px 10px;
                        height: 32px;
                        font-size: 11px;
                        color: #000;
                        font-weight: 600;
                        width: 250px;
                    }
                    input:focus{
                        border: solid 1px #cdc4ff;
                    }
                    input::placeholder{
                        font-size: 11px;
                        font-weight: 500;
                        color: #12203c;
                    }
                    .search-image{
                        position: absolute;
                        top: 8px;
                        right: 7px;
                        width: 15px;
                    }
                    .closeSearch {
                        position: absolute;
                        right: 28px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
        .esmb-table {
            position: relative;
            display: block;
            box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
            margin-top: 20px;
            .esmbt-manage{
                overflow-y: auto;
                overflow-x: hidden;
                max-height: 170px;
                .table{
                    display: table;
                    white-space: nowrap;
                    border-collapse: collapse;
                    margin: 0;
                    border-spacing: 0;
                    thead{
                        border: none;
                        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                        tr{
                            height: 35px;
                            background-color: #fff;
                            th{
                                height: 35px;
                                vertical-align: middle;
                                white-space: nowrap;
                                border: none;
                                cursor: pointer;
                                label{
                                    margin: 0;
                                    font-weight: 600;
                                    color: #000000;
                                    width: auto;
                                    cursor: pointer !important;
                                    font-size: 12px !important;
                                }
                            }
                            .fix-action-btn{
                                width: 40px;
                                box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                                background-color: #fff;
                                border: 0;
                                border-right: none;
                                border-bottom: none;
                                z-index: 1;
                                padding: 0;
                            }
                        }
                    }
                    tbody{
                        tr{
                            height: 35px;
                            td{
                                height: 35px;
                                white-space: nowrap;
                                vertical-align: middle;
                                border: 0.5px solid #e3e7f3;
                                position: relative;
                                .table-per-tooptip:hover>.generic-tooltip{
                                    opacity: 1;
                                    visibility: visible;
                                }
                                label{
                                    color: #000;
                                    margin: 0;
                                    font-weight: 500;
                                    font-size: 11px !important;
                                }
                            }
                            .fix-action-btn{
                                width: 40px;
                                box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                                background-color: #fff;
                                border: 0;
                                padding: 0;
                                z-index: 1;
                                .table-item-list{
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: space-around;
                                    padding: 0;
                                    margin: 0;
                                    height: 35px;
                                    .til-inner{
                                        display: inline-block;
                                        padding: 7px;
                                        position: relative;
                                        border-radius: 50%;
                                        cursor: pointer;
                                    }
                                    .til-inner:hover>.generic-tooltip{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                    .til-copy:hover {
                                        background-color: #fea70333;
                                        svg {
                                            path {
                                                fill: #fea703;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .copied {
                            background-color: #f7f5fb;
                        }
                        tr:first-child {
                            td {
                                border-top: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .esm-footer {
        display: block;
        margin-top: 0px;
        text-align: center;
        button {
            font-size: 12px;
            font-weight: 600;
            padding: 5px 30px;
            background-color: #8b77fa;
            color: #ffffff;
            border-radius: 5px;
            height: 32px;
        }
    }
}

// 
.excel-table-header {
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    margin-top: 20px;
    .eth-manage {
        // overflow-y: auto;
        overflow-x: hidden;
        // max-height: 300px;
        .table {
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead {
                border: none;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr {
                    height: 35px;
                    background-color: #fff;
                    th {
                        height: 42px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none;
                        cursor: pointer;
                        label {
                            margin: 0;
                            font-weight: 600;
                            color: #000;
                            width: auto;
                            cursor: pointer!important;
                            font-size: 12px!important;
                        }
                    }
                }
            }
            tbody {
                tr {
                    height: 35px;
                    td {
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: .5px solid #e3e7f3;
                        position: relative;
                        label {
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                            white-space: nowrap;
                            max-width: 240px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            font-size: 11px!important;
                            cursor: auto;
                        }
                        input[type=text] {
                            border-radius: 6px;
                            border: 1px solid #dce6f0;
                            background-color: #fff;
                            font-size: 11px;
                            font-weight: 500;
                            color: #000;
                            padding: 3px 5px;
                            height: 28px;
                            width: 200px;
                        }
                        select{
                            border-radius: 4px;
                            border: 1px solid #ccd8ed;
                            background-color: #fff;
                            width: 220px;
                            display: block;
                            height: 30px;
                            padding: 3px 25px 3px 5px;
                            font-size: 12px;
                            font-weight: 500;
                            color: #12203c;
                            -webkit-appearance: none;
                            background-repeat: no-repeat;
                            background-position: 96%;
                            background-image: url("../assets/downArrowNew.svg");
                        }
                        .inputTextKeyFucMain {
                            display: inline-block;
                            .modal-search-btn {
                                padding: 6px 4px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}