
.user-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    color: var(--greyish-brown);
}

.para-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}


.btn-edit {
    width: 75px;
    height: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6d6dc9;
    outline: none;
  
  }
  .btn-edit:hover{
      background-color: #6d6dc9;
      color: #ffffff;
  }

  .main_profile{
    text-align: -webkit-center;
}
  .img_profile{
      width: 80px;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
  }
  .thumbnail{
      border: none;
  }
.profile_content{
    margin-left: auto;
    margin-right: auto;
}
.privacy_link{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}

.profile_title{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
}

// .profile-details{
//     padding-left: 35%;
// }
.profile_name{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #12203c;
    
}
.profile-box{
    width: 300px;
    height: 25px;
    background-color: #ffffff;
    
}

.btn-save{
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background-color: #6d6dc9;
    border: solid 1px #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
}

.container_filter{
    width: 100%;
    box-shadow: 3px -4px 4px 0 rgba(213, 213, 213, 0.5);
    background-color: #ffffff;
    border: solid 1px #f3f3f3;
    padding: 10px 10px 10px 10px;
    
}

.filter_link{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    
}

.filter-box-text{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-indent: 5px;
    
}

.btn-apply{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;

}
.btn-clear{
    width: 60px !important;
    height: 20px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
    border: none;
    background-color: #ffffff;
    outline: none;
}
.profile_Div {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}
.headerprofile{
    width: 100%;
    height: 65vh;
    display: inline-block;
    overflow: auto;
}
.footerprofile{
    height: 10%;
    width: 100%;
    display: inline-block;
}
.btn-cancel{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
}

.apply-filter{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6d6dc9;

}
.m-r-l-0{
    margin-left: 0px ;
    margin-right:0px;
}
.css-10nd86i{
    min-width: 200px;
width:auto;
}
label{
    display: inline-block !important;
}
.profileTimeZone{
    height: 30px;
    width: 175px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    outline: none;
    // text-indent: 5px;
}
.profileTimeZone option{
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
}
.fixLabelProfile{
    height: 29px;
    padding: 6px;
    color: #d4caca;
    padding-right: 170px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #dce6f0;
    outline: none;
    font-weight: 100;
}
.profileIcon{
    margin-bottom: 0;
    height: 100px;
}
// .chooseimg{
//     position: absolute;
//     top: 55px;
// }
.chooseimg>input{
    position: relative;
    opacity: 0;
    cursor: pointer;
}
.chooseimg>img{
    position: absolute;
    top: 57px;
    width: 10%;
    left: 47%;
    cursor: pointer;
    height: 29px;
}
.editProfileImg{
    border: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.profileEditMain .main_profile{
    position: relative;
}
.userImgEditProfile{
    height:50px;
    width:50px;
    display: flex;
    align-items: center;
}
.userImgEditProfile .firstLetter{
    font-size: 26px;
    color: #6d6dc9;
    font-weight: bold;
    line-height: 1.7;
    width: 100%;
}

// Style New Profile Page 2020 By Mayank
.user-profile-page {
    display: block;
    width: 100%;
    height: calc(100% - 75px);
    // border-right: 1px solid #dce6f0;
    .upp-head {
        display: block;
        padding: 40px 30px;
        h3 {
            font-size: 20px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
    }
    .upp-body {
        display: block;
        padding: 30px 0;
        ul {
            margin: 0;
            padding: 0;
            border: none;
            li {
                margin: 0;
                padding: 0;
                border: none;
                display: block;
                width: 100%;
                a{
                    position: relative;
                    font-size: 12px;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                    color: #97abbf;
                    margin: 0;
                    padding: 12px 30px;
                    .ipp-nav-icon {
                        display: inline-block;
                        margin-right: 15px;
                    }
                }
                a:hover{
                    background-color: transparent;
                    border: none;
                    color: #12203c;
                }
            }
            li.active{
                a{
                    color: #12203c;
                    background-color: transparent;
                    border: none;
                }
                a:hover{
                    border: none;
                    color: #12203c;
                }
                a:after{
                    content: "";
                    position: absolute;
                    top: 4px;
                    right: 0;
                    width: 4px;
                    height: 80%;
                    background-color: #8b77fa;
                    box-shadow: 0px 3px 16px 1px #c9bfff;
                    border-radius: 44px;
                }
            }
        }
    }
}

// Style Profile Tab
.user-info-tab-details {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px;
    min-height: calc(100% - 75px);
    border-left: 1px solid #dce6f0;
    .uitd-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 35px;
        .uitdh-name {
            display: flex;
            width: 80px;
            height: 80px;
            align-items: center;
            justify-content: center;
            background: #8b77fa;
            color: #ffff;
            position: relative;
            font-size: 26px;
            font-weight: 700;
            border-radius: 50%;
            margin-right: 30px;
            .uitdh-edit{
                position: absolute;
                bottom: 4px;
                right: 4px;
                display: flex;
                height: 20px;
                border-radius: 50%;
                background-color: #ff4602;
                width: 20px;
                align-items: center;
                justify-content: center;
            }
        }
        .uitdh-info {
            display: block;
            height: 80px;
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #3a5074;
                margin: 0;
            }
            p {
                color: #97abbf;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 12px;
                margin-top: 4px;
            }
            button {
                display: inline-block;
                padding: 3px 10px;
                font-size: 12px;
                font-weight: 500;
                color: #97abbf;
                border-radius: 50px;
                background: #fff;
                border: solid 1px #97abbf;
            }
            .save-button{
                box-shadow: 0 3px 15px 0 #b4a7ff;
                background-color: #8b77fa;
            }
            .workingInput{
                border: solid 1px #ccd8ed;
            }
        }
        .uitdh-info60{
            height: 60px;
        }
    }
    .uitd-body {
        display: block;
        padding: 20px 35px;
        .uitdb-row {
            display: block;
            margin-bottom: 30px;
            .uitdbr-inner {
                position: relative;
                display: inline-block;
                width: 30%;
                padding-right: 30px;
                label {
                    font-size: 12px;
                    color: #12203c;
                    font-weight: 500;
                }
                input[type="text"], input[type="password"], input[type="email"] {
                    border-radius: 5px;
                    padding: 6px 10px;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    height: 37px;
                    color: #3A5074;
                    display: block;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    text-indent: 0;
                }
                .profil-dis-input{
                    text-indent: 0px;
                    border: solid 1px #ccd8ed !important;
                    font-weight: 600 !important;
                    background-color: #fcfcfc !important;
                    // color: #3A5074 !important;
                }
                input[type="password"] {
                    font-size: 20px;
                    padding: 2px 10px;
                    text-indent: 0;
                }
                .error{
                    position: absolute;
                }
                .password__show {
                    position: absolute;
                    top: 35px;
                    right: 40px;
                    cursor: pointer;
                    img{
                        width: 17px;
                        height: 13px;
                    }
                }
            }
            .gen-save{
                width: 27%;
                padding: 7px 15px;
                font-size: 12px;
                font-weight: 600;
                border-radius: 6px;
                margin-right: 20px;
                color: #fff;
                box-shadow: 0 3px 15px 0 #b4a7ff;
                background-color: #8b77fa;
                height: 34px;
            }
            .gen-clear{
                padding: 7px 5px;
                font-size: 12px;
                font-weight: 600;
                border-radius: 6px;
                margin-right: 20px;
                color: #12203c;
                background-color: #ffffff;
                height: 34px;
            }
        }
        .uitdb-support-access {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border: 1px solid #dce6f0;
            padding: 14px 14px;
            border-radius: 8px;
            width: 670px;
            .uitdbsa-left {
                position: relative;
                img {
                    width: 30px;
                }
                .uitdbsa-lock {
                    position: absolute;
                    top: -5px;
                    right: -4px;
                }
            }
            .uitdbsa-right {
                margin-left: 15px;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 3px;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #97abbf;
                    margin: 0;
                }
            }
        }
        .uitdbsa-bottom {
            display: block;
            border: 1px solid #dce6f0;
            padding: 24px 30px;
            border-radius: 8px;
            width: 670px;
            h3 {
                font-size: 14px;
                font-weight: 600;
                color: #12203c;
            }
            .uitdbsab-inner {
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                    margin: 0;
                }
                .uitdbsabi-row {
                    margin-top: 20px;
                    p {
                        font-size: 12px;
                        font-weight: 500;
                        color: #97abbf;
                        margin: 0;
                    }
                    a {
                        font-size: 12px;
                        font-weight: 600;
                        color: #54b97e;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 500;
                        .bold {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
    .uitd-footer {
        display: block;
        padding: 20px 35px;
        position: absolute;
        bottom: 20px;
        p {
            color: #97abbf;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0px;
            span{
                font-size: 13px;
                font-weight: 600;
                color: #21314b;
            }
        }
    }
}