.profileModal{
    width: 549px;
    height: 384px;
    padding: 20px 41px;
}
.chooseFileProfile label:first-child{
    background: #6d6dc9;
    color: #fff;
    border-radius: 2.7px;
    width: 125px;
    height: 30.2px;
    letter-spacing: 0.7px;
}
.chooseFileProfile{
    width:50%;
    float:left;
}
.showPc{
    width:50%;
    float: left;
    text-align: right;
    padding-right: 9px;
}
.showPc label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: block!important;
}
.showPc::after{
    right: -2px;
    position: absolute;
    content: "";
    height: 120px;
    width: 120px;
    background: #f9f9f9;
    z-index: -1;
    top: 39px;
    border-radius: 50%
}
.uploadPic{
    width:100%;
}
.showPc img{
    width: 96px;
  height: 96px;
//   object-fit: contain;
  border-radius: 50%;
}
.profileModal .mainAdHoc{
    display: inline-block;
    width: 100%;
}
.profileModalBot .discardBtn{
    float: right;
    height: 35;
    vertical-align: middle;
}
.uploadStatus label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-left: 10px;
}
.uploadStatus p{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-left: 27px;
}
.imgUploadNote{
    position: absolute;
}
.chooseFileProfile .custom-file-upload-budget img{
    margin-left: 12px;
    height: 15px;
}
.imgUploadNote p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #c44569!important;
}
.uploadStatus img{
    width: 17px;
    height: 14px;
}
.imageUpload{
    height:20%;
}