@import './variables.scss';

.promotionalEvents{
    .colHeader{
        border-bottom: 1px solid #e3e3e3;
        padding: 20px 20px 10px 35px;
        h4{
            @include fontStyle(15px , 600 , #4a4a4a);
        }
    }
    .currentlyNoEvent{
        border-radius: 8px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        width: 68%;
        margin: auto;
        .modalImg{
            padding: 70px 30px;
            border-bottom: solid 0.5px #d7d7d7;
        }
    }
    .modalImg {
        position: relative;
        padding: 40px 30px;
        &.promotionalHeader{
            border-radius: 8px;
            box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
            background-color: #ffffff;
        }
        button {
            @include buttonStyle(12px , 600 , 29.6px , #6629db,#fff , 8px 13px ,solid 0.8px #6629db);
            align-items: center;
            display: flex;
            label{
                @include fontStyle(14px , 500 , #2e2c3d);
            }
            img{
                margin-right: 7px;
            }
        }
    }
    .noEventFound{
        padding: 22px 0px;
        h5{
            padding: 44px 125px;
            @include fontStyle(15px , 500 , #4a4a4a);
            img{
                width:25px;
                margin-right: 15px;
            }
        }
    } 
    .promotionalEventTable{
        thead tr th {
            &:first-child{
                width:220px !important;
            }
        }
        .zui-scrollerHistory{
            margin-left: 222px;
        }
        tbody{
            tr {
                &:nth-child(odd){
                    background: #fff;
                }
                td {
                    &:first-child{
                        width:220px !important;
                    }
                    &:nth-child(2) label{
                        font-weight: 600;
                    }
                }
            }
            .tableNoData{
                td{
                    border-bottom: none!important;
                }
            }
        .checkmark1{
                top: -9px;
                left: -20px;
                border-radius:0px;
                height: 18px;
                width: 18px;
                &:after{
                    left: 5px;
                    height: 12px;
                    top: 2px;
                    border-width: 0 2px 2px 0;
                }
            }
        } 
    }
}
.createNewEvent{
    padding: 17px 30px;
    height: 51%;
    width: 42%;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    .footer{
        bottom: 10px;
    }
    input[type=date]{
        &:before{
            font-weight: 500;
        }
    }
}
.pageContent{
    padding: 20px;
    margin: 10px 0px;
}
.newSearch{
    input{
        font-size: 11px;
        background: url('../assets/search.svg');
        background-repeat: no-repeat;
        background-position: 92%!important;
        z-index: 0;
        position: relative;
        background-size: 14px;
        &::placeholder{
            color: #4a4a4a;
            font-weight: 400;
            font-size: 12px;
        }
    }
    .closeSearch{
        right: 8px;
    }
}