.purchasedContainer {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 5px;
  padding-top: 20px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.purchaseList {
  text-align: left;
  padding-left: 23px;
}
.purchaseTextbox {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  outline: none;
  text-indent: 5px;
}
.purchaseSelectBox {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  outline: none;
  cursor: pointer;
}

.purchasedContainer1 {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.rightSideDiv {
  width: 100%;
  border-left: 85px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 140px solid #f6f6f6;
  margin-top: 10px;
  position: relative;
}
.rightSideDiv > ul {
  padding: 0px;
  position: absolute;
  top: 15px;
  width: 100%;
  left: -15px;
}
.rightSideDiv > ul > li {
  padding: 15px;
}
.rightSideDiv > ul > li > label {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  width: 85px;
}
.rightSideDiv > ul > li > span {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8b77fa;
}
.scrollableTableFixed {
  width: 100%;
  // height: 81vh;
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  margin-bottom: 10px;
}

.wrapper {
  overflow-x: auto;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
}
.scrollTable {
  display: block;
  // overflow-x: auto;
  // overflow-y: auto;
  // height: 80vh;
  white-space: nowrap;
  border-collapse: collapse;
  margin: 0px;
}
.scrollTable > thead > tr > th > label {
  font-size: 10px;
  font-weight: 600;
  font-family: Montserrat;
  color: #12203c;
  text-align: left;
  width: 135px;
}
.scrollableSummary > thead > tr > th > label {
  width: 125px !important;
}
.scrollTable > thead > tr > th > label > span {
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}
.scrollTable > tbody > tr > td > label {
  font-size: 10px;
  font-weight: 500;
  font-family: Montserrat;
  color: #8b8b8b;
  text-align: left;
}

.scrollTable > thead {
  border-bottom: 1px solid #e3e7f3;
  border-top: 1px solid #e3e7f3;
}
.scrollTable > tbody > tr > td:nth-child(1) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > tbody > tr > td:nth-child(2) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > tbody > tr > td:nth-child(3) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > tbody > tr > td:nth-child(4) {
  border: 1px solid #e3e7f3;
  border-left: none;
  border-bottom: none;
}
.scrollTable > thead > tr > th {
  border-bottom: none !important;
}

.scrollTable > tbody > tr > td:last-child {
  border-right: none !important;
}

/* Hide the browser's default radio button */
.containerPurchaseRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.containerPurchaseRadio .checkmark {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  height: 13px;
  width: 13px;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
}
.checkmark::before {
  content: "";
  position: absolute;
  display: none;
}

.containerPurchaseRadio input:not(:checked) ~ .checkmark::before {
  display: block;
}

.containerPurchaseRadio .checkmark::before {
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d2d2d2;
}
.containerPurchaseRadio input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #8b77fa;
}
.containerPurchaseRadio input:not(:checked) ~ .checkmark {
  background-color: #fff;
  border: 1px solid #d2d2d2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerPurchaseRadio input:checked ~ .checkmark:after {
  display: block;
}

.containerPurchaseRadio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8b77fa;
}

.purchaseCheck[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
.purchaseCheck[type="checkbox"] + label:before {
  content: "\2713";
  display: inline-block;
  padding: 0;
  vertical-align: baseline;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 15%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  text-align: center;
  color: #e5e5e5;
  font-size: 12px;
  position: relative;
  right: 5px;
  font-weight: 900;
}
.purchaseCheck[type="checkbox"]:checked + label:before {
  background: #8b77fa;
  border: 1px solid #8b77fa;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-size: 12px;
}
.purchaseCheck[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.purchaseCheck input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
.purchaseLabel {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  /* float: right; */
  white-space: normal;
  word-spacing: 3px;
}
.para_purchase {
  margin: 0px;
  margin-top: 5px;
}

// .purchaseList>li{
//     margin-left: 20px;
// }
.purchaseList > li:nth-child(2) {
  margin-left: 25px;
}

.purchaseList > li:nth-child(3) {
  margin-left: 20px;
}
.purchaseList > li:nth-child(4) {
  margin-left: 20px;
}

.purchaseTableLabel {
  width: 88%;
  display: inline-block;
  // margin-top: 16px;
  padding-left: 8px;
}
.purchaseTableLabel1 {
  width: 78%;
  display: inline-block;
  // margin-top: 16px;
  padding-left: 8px;
}
.hoverTable:hover .purchaseTableDiv {
  transition: 0.5s;
  visibility: visible;
  cursor: pointer;
}
.purchaseTableDiv {
  display: inline-block;
  // visibility: hidden;
  cursor: pointer;
}

.width-45 {
  width: 45px !important;
}
.recordcount {
  float: right;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-right: 15px;
}
.dropdownDivPurchase {
  width: 270px;
  height: 200px;
  border-radius: 9px;
  box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.dropdownFilterOptionPurchase > ul > li {
  padding: 8px;
  border-bottom: 1px solid #e7e7e7;
  width: 90%;
}
.dropdownFilterOptionPurchase > ul > li:hover {
  background-color: #f2f2fb;
}
.dropdownFilterOptionPurchase {
  padding: 0;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 65%;
  width: 100%;
}
.listselection {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8b77fa;
  width: 100%;
  margin: 0px;
}
.listClothSelection {
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  width: 100%;
  margin: 0px;
}
.listClothSelection > span {
  font-weight: 600;
}

//image modal
.purchaseModalContent {
  text-align: left;
  background: #fff;
  width: 60%;
  height: auto;
  padding: 15px;
  display: inline-block;
  border-top: none !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-radius: 25px;
}
#purchaseModal {
  text-align: center !important;
}
.purchaseModalbtn {
  width: 80px;
  height: 25px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8b8b8b;
  border-radius: 4px;
  float: right;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}
.purchaseModalbtn:hover {
  color: #fff;
  background-color: #8b77fa;
  border: 1px solid #8b77fa;
  transition: 0.5s;
}
.svgImgPurchase {
  position: absolute;
  cursor: pointer;
}
.imageChooser {
  position: relative;
  cursor: pointer;
  /* top: 5px; */
  opacity: 0;
  height: 35px;
  width: 175px;
}
.chosenImage {
  position: absolute;
  top: 13px;
  left: 70px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}
.divPurchaseImage {
  width: 100%;
  height: auto;
  display: inline-block;
}
.divPurchaseImage > label {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.purchseImagebadge {
  position: relative !important;
  padding: 1px !important;
  border-radius: 25px;
  width: 15px;
  height: 15px;
  background-color: #8b77fa;
  border: solid 1px #8b77fa;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}
.imagesSelected {
  display: inline-block;
  width: 100%;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
}
.imagesDiv {
  display: inline-block;
  width: 135px;
  // height: auto;
  margin-top: 20px;
}
.imagesDiv > img {
  width: 100%;
  height: 100%;
}
.msgDeletionImage > p {
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c44569;
}
.listPurchaseProduct > li > p {
  display: inline-block;
  margin: 0px;
}
.purchasePara {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  // position: relative;
  // top: 3px;
  display: inline-block;
  margin: 0px;
}
.btnImgesRemove {
  width: 75px;
  height: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.btnImgesRemove:hover {
  color: #ffffff;
  background-color: #8b77fa;
  transition: 0.5s;
  border: 1px solid #3b3b98;
}
.inputTable {
  width: 100%;
  height: 44px;
  border: none;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500 !important;
  vertical-align: middle;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8b8b8b !important;
  background-color: transparent;
  padding: 10px;
}
.onclickChangeBackground {
  background-color: #f4f4fd;
}

// .inputTable:focus{
//     outline: none;
//     border: none !important;
// }
.StickyDiv2 {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.tooltipIcon {
  display: inline-block;
}
.tooltip-right {
  right: -180px !important;
}

.piFormDiv {
  display: inline-block;
  width: 20%;
  margin-right: 15px;
  position: relative;
}

.piFormDiv1 {
  display: inline-block;
  width: 10%;
  // margin-right: 15px;
  position: relative;
}
.positionAbso {
  position: absolute;
}
.lableFixed {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  // text-transform: uppercase;
}
.width70 {
  width: 70px;
  text-align: center;
}

.dataPiBtn {
  width: 65%;
  height: 30px;
  background-color: #8b77fa;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 10px;
  border-radius: 5px;
}
.dataPiBtn:focus {
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 3px #8b77fa;
  // border: 2px solid #8b77fa;
  // text-decoration: underline;
  // box-shadow: 0 0 0 2px #ffffff, 0 0 3px 3px #8b77fa;
  // transition: 0.2s;
  // background-color: #8b77fa
}
.dataPiBtn1 {
  width: 100%;
  height: 30px;
  background-color: #8b77fa;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 10px;
  border-radius: 5px;
}
.main-table > tbody > tr:hover {
  background-color: #f4f4fd;
}
.zui-table {
  border-collapse: separate;
  border-spacing: 0;
}
.zui-table > thead > tr > th {
  border: none;
  white-space: nowrap;
}
.zui-table > tbody > tr > td {
  white-space: nowrap;
  border-right: 1px solid #e3e7f3;
}
.top8 {
  top: -8px !important;
}
.zui-wrapper {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}
.zui-scroller {
  margin-left: 143px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
  max-width: 1085px;
}

.zui-table .fixed-side {
  left: 0;
  position: absolute;
  top: auto;
  width: 140px;
  height: 60px;
  box-shadow: 8px 0 10px -3px #efefef;
  border-right: none !important;
  border-bottom: none !important;
}

input[type="text"][disabled] {
  background-color: #f4f4fd;
  text-indent: 5px;
}
.positionCheckbox {
  top: -8px !important;
  right: -12px !important;
  position: absolute;
  left: 9px;
}
.height6 {
  height: 6%;
}
.height4per {
  height: 4%;
}
.pointer-none {
  pointer-events: none;
}
.pointer-auto {
  pointer-events: auto;
}
.zuiBtn {
  height: 30px;
  background-color: #8b77fa;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 10px;
  border-radius: 5px;
}
.mrpLi {
  position: relative;
}
.mrpLi .error {
  position: absolute;
}
.mrpLi li {
  display: inline-block;
  width: 42%;
  position: relative;
}
.mrpLi li input {
  width: 94%;
  // width: 152px;
  text-indent: 5px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  text-indent: 5px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  outline: none;
}
.error_pop_up {
  position: absolute;
  right: 11px;
  top: 7px;
}
.vendorMrpList li {
  width: 20%;
}
.vendorMrpList li input {
  width: 83px;
}
.modalNoData {
  text-align: left;
  width: 100%;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  margin-left: 10px;
}
.newRowAdd {
  display: inline-block;
  text-align: right;
  width: 100%;
  height: auto;
}
.purchaseIconPos {
  position: relative;
  padding-right: 20px !important;
}
.purchaseIconPos .purchaseTableDiv {
  position: absolute;
  right: -2px;
  top: 0;
}
.modalPurchaseDropBtn {
  display: inline-block;
}
.modalPurchaseDropBtn button {
  font-family: Montserrat;
  background: transparent;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: right;
  color: #9b9b9b;
  border-color: #d2d2d2;
  border-radius: 0;
  padding: 6px;
  margin-top: -1px;
  border-right: 0;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
}
.modalPurchaseDropBtn button:hover {
  color: #9b9b9b;
}
.modalPurchaseDropBtn button:active {
  box-shadow: none;
}
.modalPurchaseDropBtn button:focus {
  background: transparent;
  color: #9b9b9b;
  box-shadow: none;
}
.modalPurchaseDropBtn button span {
  font-size: 10px;
  padding-left: 5px;
}
.modalDropBtn .search-box {
  border-radius: 5px;
  width: 40%;
}
.modalDropBtn .modalPurchaseDropBtn ul {
  position: absolute;
  top: 32px;
  left: -2px !important;
  width: 232px;
  height: 162px;
  border-radius: 9px;
  border-color: #e5e5e5;
  box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
  background-color: #ffffff;
  padding: 10px 15px !important;
}
.modalDropBtn .modalPurchaseDropBtn ul li a:hover {
  border-radius: 6px;
  background-color: #f5f5f5;
}
.modalDropBtn .modalPurchaseDropBtn ul li a {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #9b9b9b;
  padding: 5px 11px;
}
.openModalBlueBtn {
  position: relative;
  padding-right: 20px !important;
}
.openModalBlueBtn .purchaseTableDiv {
  position: absolute;
  right: -2px;
  top: 0;
}
.CheckBoxColClick .checkBoxLabel0 {
  position: absolute;
  top: -15px !important;
  left: -8px;
  cursor: pointer;
  width: 100%;
  color: #fff;
  padding: 15px 72px;
  margin-bottom: 0;
}
.CheckBoxColClick .checkmark1 {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  top: 7px;
  left: 16px;
}
.CheckBoxColClick .checkBoxLabel0 .checkmark1:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(37deg);
}
.piChooseSupplier label {
  cursor: initial;
}
.piChooseSupplier label span {
  font-size: 13px;
  border-radius: 0px 4px 4px 0px;
  // visibility:hidden;
  position: absolute;
  color: #fff;
  top: -8px;
  background: #8b77fa;
  padding: 6.5px 0;
  right: -2px;
  padding-right: 3px;
  cursor: pointer;
}
.piChooseSupplier label:hover span {
  visibility: visible;
}
.selectImageModal .purchaseModalbtn {
  width: 108px;
}
.selectImageModal .divPurchaseImage label {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.selectImageModal .imagesSelected .imagesDiv img {
  margin-left: 6px;
  width: 109px;
  height: 107px;
}
.selectImageModal .imagesSelected .checkmark1 {
  left: 43px;
}
.selectImageModal .imagesSelected .imagesDiv {
  border: 0;
}
.selectImageModal .imagesSelected {
  width: 127px;
  height: 100px;
  cursor: pointer;
  vertical-align: top;
}
.selectImageModal .imagesSelected img {
  height: 100%;
  width: 100%;
  display: block;
}
.selectVendorPopUp .modal_table tr td:nth-child(3) {
  // text-align: center;
  padding-left: 10px;
}
.selectVendorPopUp .modal_table tr td:nth-child(4) {
  width: auto;
}
.selectVendorPopUp .modal_table tr td:nth-child(4) label {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  white-space: nowrap;
  color: #8b8b8b;
}
.toolTipDefault {
  width: 168px;
}
.toolTipDefault label {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  white-space: nowrap;
  color: #8b8b8b !important;
  padding-right: 20px;
}
.vendorMrpMain tbody tr td:nth-child(3) {
  padding-left: 7px;
}
.historyTableDownload tbody tr td:first-child li:last-child button {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 33px;
  background-color: #8b77fa;
}
.mrpSelectCode {
  display: inline-block;
  width: 100%;
}
.mrpSelectCode input[type="search"] {
  width: 40%;
}
.mrpSelectCode select {
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  text-indent: 5px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-right: 10px;
}
.modalPagination {
  float: right;
  top: 51.5vh !important;
}
.modalPagination .pagination {
  margin-top: 8px;
  height: 27px;
}
.sizeModalPagination {
  top: 51vh;
  position: absolute;
  // width: 67%!important;
  left: 188px;
}
// .sizeModalPagination .pagination{
//     width:49%!important;
// }
.addNewWidth li {
  width: 50%;
}
.piClorModal .modelHeader li:nth-child(2) {
  display: inline-block;
}
.chooseDataModal li:first-child select {
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  text-indent: 5px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-right: 10px;
  width: 85px;
}
.addNewBtns li {
  width: 28%;
}
.transporterTable tbody tr td:nth-child(3) {
  padding-left: 8px;
}
.chooseDataModal input[type="search"] {
  width: 40%;
}
.checkBoxRowClick input[type="checkbox"] {
  left: -8px;
  width: 107%;
  height: 26px;
  position: absolute;
  display: inline-block;
  top: -7px;
  z-index: 1;
}
.predifineSetRadio {
  position: relative;
}
.checkBoxRowClick input[type="radio"] {
  left: -8px;
  width: 107%;
  height: 26px;
  position: absolute;
  display: inline-block;
  top: -7px;
  z-index: 1;
}
.checkBoxRowClick td {
  position: absolute;
  width: 100%;
  padding-bottom: 11px;
  border-bottom: 1px solid #dee2e6;
  border-top: 0;
}
.checkBoxRowClick {
  position: relative;
}
.checkBoxRowClick .checkmark1 {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  z-index: 0;
}
.checkBoxRowClick .checkBoxLabel0 .checkmark1:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 8px;
  border-width: 0 2px 2px 0;
}
// .checkBoxRowClick .rowPad{
//     padding-bottom: 11px;
// }
.checkBoxRowClick .checkBoxLabel0 {
  width: 100%;
}
.rowPad tr:first-child td:first-child {
  padding-bottom: 10px;
}
.supplierSelectModal tbody tr {
  height: 32px;
}
.supplierSelectModal tbody tr td {
  padding: 0;
  padding-left: 10px;
}
.totalAmountDesc img {
  float: right;
  padding-right: 9px;
  cursor: pointer;
}
.totalAmountDesc .netAmtHover:hover .totalAmtDescDrop {
  display: block !important;
}
.tableGeneric .netAmtHover .amtContent tbody td {
  height: auto !important;
}
.tableGeneric .netAmtHover .amtContent tbody tr {
  height: auto !important;
}
.tableGeneric .netAmtHover .amtContent thead th {
  height: auto !important;
}
.totalAmtDescDrop:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 1px;
  margin-left: -16px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}
.totalAmtDescDrop {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 88%;
  background: #ffffff;
  height: auto;
  box-shadow: 0 0 24px 0 rgba(191, 191, 191, 0.5);
  min-width: 365px;
  width: auto;
  max-width: 350px;
}
.totalAmtDescDrop .amtContent p {
  font-family: Montserrat;
  font-size: 11.1px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.totalAmtDescDrop .amtContent p span {
  font-weight: 700;
}
.totalAmtDescDrop .amtHead {
  font-family: Montserrat;
  font-size: 12.1px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.totalAmtDescDrop .amtBottom span {
  font-family: Montserrat;
  font-size: 11.1px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.totalAmtDescDrop .amtBottom p {
  font-family: Montserrat;
  font-size: 13.2px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-left: -15px;
}
.totalAmtDescDrop .amtBottom .totalAmt {
  font-family: Montserrat;
  font-size: 13.2px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ed9300;
  padding-left: 10px;
}
.totalAmtDescDrop .amtContent thead:after {
  content: "";
  position: absolute;
  background: #eee;
  top: 37px;
  left: 23px;
  height: 1px;
  width: 84%;
}
.totalAmtDescDrop .amtBottom:before {
  content: "";
  position: absolute;
  bottom: 32px;
  background: #eeeeee;
  left: 30px;
  height: 1px;
  width: 83%;
}

.piTable table .fixed-side {
  height: 35px;
}
.piTable .zui-wrapper {
  position: initial;
}
.piTable .table-scroll {
  width: auto;
  margin-left: 80px;
  max-width: 100%;
  // height:80px;
}
.piTable tbody tr label {
  margin-bottom: 0;
}
// .piTable table{
//     height: 81px;
// }

// ----------------------------------------------compare amount hover
.amtCompare {
  display: none;
  position: fixed;
  left: 51%;
  top: 88%;
  background: #ffffff;
  height: auto;
  box-shadow: 0 0 24px 0 rgba(191, 191, 191, 0.5);
  width: auto;
  padding: 10px;
  border-radius: 10px;
}
.totalAmountDesc .amtCompareHover:hover .amtCompare {
  display: block !important;
}
.amtCompareHover {
  line-height: 2;
}
.amtCompare p {
  font-family: Montserrat;
  font-size: 12.1px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-bottom: 0;
}
.txtColor {
  color: #c44569 !important;
}
.amtContent table tr td {
  border: 0;
  padding: 0;
}
.amtContent table tr td:last-child {
  text-align: right;
  padding-right: 9px;
}
.amtContent table thead th {
  border: 0;
  // padding: 0;
  // padding-right: 10px;
  padding: 0px 10px;
}
.amtContent table thead th:nth-child(2) p {
  padding-left: 10px;
  padding-right: 10px;
}
.amtContent table thead th p {
  font-family: Montserrat;
  font-size: 12.1px !important;
  font-weight: 600 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.amtContent table {
  width: 100%;
}
.amtContent table tr td:nth-child(2) p {
  padding-left: 10px;
}
.amtContent table thead th:last-child p {
  margin-left: 16px;
}
.amtContent {
  width: 100%;
  padding: 10px 10px 0 13px;
}
.piInputContain input[type="text"] {
  width: 102%;
}
.piInputContain .error {
  position: absolute;
}

.limitText {
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.piInputContain .containerPurchaseRadio {
  cursor: pointer;
}
.piToolTip .topToolTip label {
  word-break: normal;
  max-width: 90px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-family: Montserrat;
  color: #8b8b8b;
  text-align: left;
  padding-left: 8px;
  margin-bottom: -2px;
}

.piToolTip .topToolTip .topToolTipText {
  width: auto;
  left: 35px;
  padding: 2px 7px;
}
.piToolTip .topToolTip .topToolTipText::after {
  display: none;
}

// *****************************************************po tooltip***************************

.poToolTip .topToolTip input[type="text"] {
  word-break: normal;
  max-width: 90px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-family: Montserrat;
  color: #8b8b8b;
  text-align: left;
  padding-left: 8px;
  margin-bottom: -2px;
}
.poToolTip .topToolTip .topToolTipText {
  bottom: 30px;
}

// *****************************************************po tooltip end************************

// ******************************************************purchase indent histor Styling******************
.piHistoryMain .roleTableHeight {
  margin-left: 76px !important;
  max-width: 100% !important;
}
.piHistoryMain .fixed-side-history {
  width: 76px !important;
  display: flex;
  align-items: center;
}
.fixed-side-history img {
  cursor: pointer;
}
.addRemarkBtn {
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  transition: 0.3s;
  width: 104px;
  height: 23px;
}
.addRemarkBtn:hover {
  background: #000000;
  color: #ffffff;
}
.piHistoryMain tbody tr .addRemarkBtn {
  margin-left: 10px;
}
.piHistoryMain tbody tr td p {
  font-weight: 600;
  color: #8b8b8b !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.piHistoryMain tbody tr {
  background: transparent !important;
}
.piHistoryMain table thead tr th label {
  width: 150px;
}
.modalTableNoData:hover {
  background: transparent !important;
}
.modalTableNoData td {
  text-align: center !important;
  border-bottom: none !important;
  font-size: 11px !important;
}
.approveBtn {
  padding: 6px 17px;
  border-radius: 17.5px;
  background-color: #7fd539;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.pdfModalMain .approveBtn {
  margin-right: 15px;
  margin-left: 14px;
}
.rejectBtn {
  padding: 6px 17px;
  border-radius: 17.5px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #12203c;
  background: transparent;
  border: 1px solid #12203c;
}
.pdfModalMain .downloadBtn {
  font-size: 11px;
  padding: 6px 17px;
  margin-right: 23px;
  color: #fff;
  text-decoration: none;
}
.pdfModalMain .downloadBtn:hover {
  color: #fff;
  text-decoration: none;
}
.downloadPdfBtn {
  margin-top: 7px;
}
.showRate {
  left: -300;
  display: none;
  position: fixed;
  z-index: 1;
  background: #fff;
  height: auto;
  box-shadow: 0 0 24px 0 hsla(0, 0%, 75%, 0.5);
  width: auto;
  padding: 10px;
  border-radius: 10px;
  // left:-520px;
}
.showRate p {
  font-family: Montserrat;
  font-size: 12.1px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-bottom: 0;
}
.rateHover:hover .showRate {
  display: block;
}
.modalBlueBtn {
  font-size: 13px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  color: #fff;
  top: -1px;
  background: #8b77fa;
  padding: 5.8px 0;
  right: 0px;
  padding-right: 3px;
  cursor: pointer;
}
.chooseSupplyWidth {
  width: 154px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  font-weight: 500;
}
.toolTipSupplier .topToolTipText {
  width: 200px;
  left: 45px;
}
.noOfSetHover:hover .setsShow {
  display: block;
}
.setsShow {
  left: -300;
  display: none;
  position: fixed;
  z-index: 1;
  background: #fff;
  height: auto;
  box-shadow: 0 0 24px 0 hsla(0, 0%, 75%, 0.5);
  width: auto;
  padding: 10px;
  border-radius: 10px;
}
.setsShow p {
  font-family: Montserrat;
  font-size: 12.1px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
  margin-bottom: 0;
}
.piHistoryHead .export_data_div {
  font-weight: 600;
  color: #12203c;
}
.filterBtnLft {
  left: 9px;
}
.piTable .fixed-side {
  width: 80px;
}
.successRequestModal .piSaveSuccessModal {
  width: 60% !important;
  height: 53%;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
.piSaveSuccessModal .success_container .closeModalPi {
  margin-top: 30px !important;
  margin-bottom: 0px;
}
.piSaveSuccessModal .adHocModalTable table {
  width: 100%;
}
.piSaveSuccessModal .adHocModalTable table tbody tr td {
  font-size: 10px;
  min-width: 135px;
  border-right: 1px solid #e3e7f3;
  border-bottom: 1px solid #e3e7f3;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.piSaveSuccessModal .adHocModalTable table tbody tr {
  border-bottom: 0;
}
.piSaveSuccessModal .adHocModalTable table thead th {
  min-width: 135px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #e3e7f3;
  border-bottom: 1px solid #e3e7f3;
}
.piSaveSuccessModal .adHocModalTable table thead {
  border-top: 0;
  border-bottom: 0;
}
.piSaveSuccessModal .adHocModalTable {
  overflow: auto;
  height: 184px;
}
.piSaveSuccessModal .requestsuccess {
  border: 0;
  box-shadow: none;
}
.piSaveSuccessModal .adHocModalTable table tbody {
  height: auto;
}
.piSaveSuccessModal .adHocModalTable table {
  height: auto;
  // overflow: auto;
}
.piSaveSuccessModal ul {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 0;
}
.piSaveSuccessModal ul button.success_button {
  position: inherit;
}
.piSaveSuccessModal .adHocModalTable table tbody tr:first-child {
  border-top: 0;
}
.piHistoryFilterForm ul li {
  margin-bottom: 10px;
  vertical-align: top;
}
.piHistoryHead .piHistoryMain table thead tr th label {
  width: 125px;
}
.firstColToolTip .topToolTipText {
  left: 54px !important;
}
.firstColToolTip .topToolTip {
  width: 100px;
}
.typeOfBuying select {
  background: transparent;
  border-radius: 3px;
  border: 0;
  font-size: 13px;
  width: 100%;
  height: 100%;
  color: #12203c;
}
.piImageModalMain {
  display: inline-block;
  width: 100%;
}
.piImageModalMain .modalHeader {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0px;
  padding: 13px 10px 30px 10px;
  position: relative;
}
.modalHeader label {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.modalHeader::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 104%;
  left: -16px;
  background: #ebebeb;
  bottom: 0;
}
.piImageModalMain .chooseFileBtn .imageChooser {
  height: 67px;
  width: 176px;
}
.piImageModalMain .chooseFileBtn {
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 9px 1px rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  position: relative;
}
.piImageModalMain .chooseFileBtn svg {
  height: 34px;
  position: absolute;
  top: 17px;
  left: 17px;
}
.piImageModalMain .chosenImage {
  font-weight: 600;
  color: #12203c;
  top: 28px;
  left: 70px;
  font-size: 11px;
}
.noteMaxSize {
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
}
.noteMaxSize span {
  font-weight: bold;
}
.piImageModalMain .contentBottom label {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #12203c;
  margin-right: 15px;
  margin-bottom: 0;
  vertical-align: top;
}
.modalBtns button:first-child {
  color: #fff;
  margin-right: 20px;
  font-size: 11.6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 91px;
  height: 30px;
  border-radius: 3.2px;
  background-color: #8b77fa;
}
.modalBtns button:nth-child(2) {
  width: 91px;
  height: 30px;
  border-radius: 3.2px;
  border: solid 0.8px #dedede;
  background-color: #ffffff;
  font-size: 11.6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12203c;
}
.modalBtns {
  text-align: right;
}
.contentBottom .imgesUploaded {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.43;
  border-radius: 3px;
  background-color: #8b77fa;
  padding: 1px 15px;
}
.piTableIndent tbody tr td:first-child img:first-child {
  width: 15px;
  float: left;
  cursor: pointer;
}
.piTableIndent tbody tr td:first-child svg {
  cursor: pointer;
}
.piTableIndent tbody tr td:first-child svg:hover path {
  fill: #ff0000;
}
.poTableMain tbody tr td:first-child svg:hover path {
  fill: #ff0000;
}
.imageBorder {
  border: 2px solid #8b77fa;
}
.calculatedToolTip {
  display: none;
  background: #fff;
  height: auto;
  box-shadow: 0 0 24px 0 hsla(0, 0%, 75%, 0.5);
  min-width: 195px;
  width: auto;
  max-width: 350px;
  position: fixed;
  z-index: 1;
}
.calculatedMargin {
  width: auto;
  float: right;
}
.calculatedMargin:hover .calculatedToolTip {
  display: block;
}
.formula {
  text-align: center;
  padding: 10px 0;
}
.formula h5 {
  font-size: 12px;
  color: #12203c;
  position: relative;
  margin-bottom: 0px;
  text-align: left;
  padding-left: 15px;
}
.formula h5::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 32%;
  background: #12203c;
  bottom: 48%;
  left: 16px;
}
.formula h5 span {
  padding: 0 15px;
}
.formula h5 p {
  text-align: left;
  padding-left: 19px;
  padding-top: 6px;
  margin-bottom: 0;
}
.formula h3 {
  font-size: 11px;
  text-align: left;
  padding-left: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  font-weight: 600;
  color: #12203c;
}
.inTakeMargin h5::after {
  width: 30%;
}
.inTakeMargin .formula h5 p {
  padding-left: 2px;
}
// .inTakeMargin .formula h5 span{
//     padding: 0 25px 0 25px;
// }
.inTakeMargin h5 label {
  font-size: 12px !important;
  color: #12203c;
  position: relative;
  margin-bottom: 0;
  text-align: left;
  padding-left: 15px;
  font-weight: 500;
}
.deleteBtn svg {
  position: absolute;
  right: 0;
  top: 59px;
}
.checkBoxTab {
  position: absolute;
  opacity: 0;
  height: auto;
  width: auto;
  display: inherit !important;
}

.checkbox_label {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #12203c !important;
}
.ht-330 {
  height: 330px !important;
  overflow: scroll;
}
.down_r_btn {
  height: 35px;
  border-radius: 7px;
  box-shadow: 0 1px 8px 0 rgba(139, 139, 139, 0.16);
  background-color: #ffffff;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #12203c;
}
.width-192 {
  width: 192px !important;
}
.width-60per {
  width: 60% !important;
}
.m-left-13 {
  margin-left: 13px;
}
.m-left-8 {
  margin-left: 8px !important;
}
.ht-45 {
  height: 45px !important;
}
.line_content {
  width: 100%;
  height: 75vh;
  display: inline-block;
  margin-top: 4px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.ht-90 {
  height: 90vh !important;
}
.width-100 {
  width: 100% !important;
}
.width-108p {
  width: 108px !important;
}
.img__pos {
  margin-top: 10px !important;
}
.width-99p {
  width: 99% !important;
}
.width-98p {
  width: 98% !important;
}
.width-100p {
  width: 100% !important;
}
.zui-table > tbody > tr > td.td-disabled {
  background-color: #f4f4fd;
  text-indent: 5px;
}
.td-disabled {
  background-color: #f4f4fd;
  text-indent: 5px;
}

// Style Dropdown Menu Option
.dropdown-menu-city,
.dropdown-menu-city1 {
  position: absolute;
  display: block;
  top: 20px;
  left: 0;
  width: 200px;
  height: 236px;
  transform: translateY(20px);
  transition: all 0.2s ease-out;
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #ccd8ed;
  background-color: #fff;
  text-indent: 0;
  .ddmci-input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    input {
      width: 100%;
      height: 30px;
      border-radius: 9px;
      border: solid 1px #ccd8ed;
      background-color: #ffffff;
      padding: 3px 10px;
    }
  }
  .dropdown-menu-city-item {
    padding: 7px 0;
    display: block;
    height: 85%;
    overflow-y: auto;
    margin: 0;
    li {
      display: block;
      padding: 5px 15px;
      font-size: 12px;
      font-weight: 500;
      .vendor-details {
        display: table;
        width: 100%;
        padding: 0;
        .vd-name {
          display: inline-block;
          font-size: 10px;
          font-weight: bold;
          color: #12203c;
          padding: 0;
          width: 40%;
          // float: left;
        }
        .vd-loc {
          font-size: 10px;
          font-weight: 500;
          color: #5677b1;
          width: 10%;
          padding: 0;
          padding-left: 5px;
          display: inline-block;
          // float: left;
        }
        .vd-num {
          font-size: 10px;
          color: #5677b1;
          font-weight: 500;
          display: inline-block;
          padding: 0;
          width: 30%;
          // float: left;
        }
        .vd-code {
          display: inline-block;
          font-size: 10px;
          font-weight: 500;
          color: #5677b1;
          width: 20%;
          padding: 0;
          padding-left: 5px;
          // float: left;
        }
        .div-col-1 {
          width: 100%;
          // float: left;
        }
        .div-col-2 {
          width: 50%;
          // float: left;
        }
        .div-col-3 {
          width: 33.33%;
          // float: left;
        }
        .div-col-4 {
          width: 25%;
          // float: left;
        }
        .div-col-5 {
          width: 20%;
          // float: left;
        }
        .div-col-6 {
          width: 16.6666%;
          // float: left;
        }
        .div-col-7 {
          width: 14.28%;
          // float: left;
        }
      }
      .transporter-name {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #12203c;
      }
      .transporter-code {
        font-size: 10px;
        font-weight: 500;
        color: #5677b1;
        display: inline-block;
      }
    }
    li:hover {
      background-color: #f8fafe;
      font-weight: 600;
    }
  }
  // .dropdown-menu-city-item::-webkit-scrollbar {
  //     display: none;
  // }
}
.dropdown-menu-city.display-city-drop-menu,
.dropdown-menu-city1.display-city-drop-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.dropdown-menu-vendor {
  width: 500px;
}
.dropdown-menu-city2.po-article-mod-dropdown {
  width: 605px;
}
.dropdown-menu-city1.pwq-filter-drop {
  width: 250px;
}
.dropdown-menu-city1.gen-width-auto {
  width: auto;
  min-width: 100%;
  .dropdown-menu-city-item li {
    padding: 5px 10px;
    .checkBoxLabel0 {
      padding-left: 22px;
      font-size: 10px;
      font-weight: 700;
      color: #12203c;
      width: 100%;
      height: auto;
      top: auto;
      left: auto;
      display: block !important;
      position: relative;
      cursor: pointer!important;
      white-space: nowrap;
    }
    .vendor-details .vd-name {
      white-space: nowrap;
    }
  }
  .gen-dropdown-pagination .page-next-prew-btn button {
    margin: 0px;
  }
}
.dropdown-menu-city .dropdown-menu-city-item li:focus {
  border: 1px solid #8b77fa !important;
  font-weight: 700 !important;
  outline: none;
}
.selected {
  background-color: #deeaff !important;
}
// .margin-180{
//     margin-left: 180px !important;
// }
.marginTop-30 {
  margin-top: 30px !important;
}

.size-ratio-head {
  display: table;
  width: 100%;
  padding: 5px 15px;
  .srh-left,
  .srh-right {
    display: block;
    width: 50%;
    float: left;
    font-size: 12px;
    font-weight: 600;
  }
}
.size-ratio-body {
  display: table;
  width: 100%;
  .srb-left,
  .srb-right {
    display: block;
    width: 50%;
    float: left;
  }
  .srb-right {
    input {
      width: 100%;
      border-radius: 5px;
      border: solid 1px #ccd8ed;
      background-color: #ffffff;
      height: 25px;
      padding: 3px 10px;
      font-size: 10px;
      font-weight: 500;
    }
  }
}

// Style Color Modal
.clr-name {
  display: block !important;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer !important;
  font-size: 12px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #12203c;
}

.clr-name input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.clr-name .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: #dce6f0;
}

.clr-name input:checked ~ .checkmark {
  background-color: #8b77fa;
}

.clr-name .checkmark:after {
  content: "";
  position: absolute;
  //   display: none;
}

.clr-name input:checked ~ .checkmark:after {
  display: block;
}

.clr-name .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.clr-modal-dropdown {
  width: 350px !important;
}

.set-pi-modal-position {
  display: block;
  background: #fff;
  height: auto;
  box-shadow: 0 0 24px 0 hsla(0, 0%, 75%, 0.5);
  min-width: 195px;
  width: auto;
  max-width: 350px;
  position: fixed;
  z-index: 9999;
}
.set-pi-modal-position:after {
  content: none;
}
.pi-modal-po {
  top: -27px;
  left: 157px;
}
.rejectBtnn {
  border: 1px solid #eb0008;
  color: #eb0008;
  margin-right: 15px;
  width: auto;
  height: auto;
  padding: 7px 10px;
  // border: 1px solid #a4b9dd;
  background: #fff;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  float: none;
  transition: all 0.2s;
}
.rejectBtnn:hover,
.rejectBtnn:focus {
  background-color: #eb0008;
  color: #fff;
}
.approveBtnn {
  border: 1px solid #7fd539;
  color: #7fd539;
  margin-right: 15px;
  width: auto;
  height: auto;
  padding: 7px 10px;
  // border: 1px solid #a4b9dd;
  background: #fff;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  float: none;
  transition: all 0.2s;
}
.approveBtnn:hover,
.approveBtnn:focus {
  background-color: #7fd539;
  color: #fff;
}

// Purchase Order History
.overflow-auto {
  overflow-y: auto;
  overflow-x: auto;
}

//  Style Toggle Button
.tg-outer {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .tgo-text {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.tg-switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
  margin: 0;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  input:checked + .tg-slider {
    background-color: #8b77fa;
  }

  input:focus + .tg-slider {
    box-shadow: 0 0 1px #8b77fa;
  }
  input:checked + .tg-slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
  .tg-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .tg-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
  }
  .tg-slider.tg-round {
    border-radius: 34px;
  }
  .tg-slider.tg-round:before {
    border-radius: 50%;
  }
}

.dropdown-menu-city1 {
  position: absolute;
  display: block;
  top: 20px;
  left: 0;
  width: 200px;
  height: 236px;
  transform: translateY(20px);
  transition: all 0.2s ease-out;
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #ccd8ed;
  background-color: #fff;
  text-indent: 0;
}

.dropdown-menu-city2 {
  // position: absolute;
  display: block;
  // top: -85px;
  // left: 0;
  width: 200px;
  height: 236px;
  // transform: translateY(20px);
  transition: all 0.2s ease-out;
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #ccd8ed;
  background-color: #fff;
  text-indent: 0;
  .ddmci-input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    input {
      width: 100%;
      height: 30px;
      border-radius: 9px;
      border: solid 1px #ccd8ed;
      background-color: #ffffff;
      padding: 3px 10px;
    }
  }
  .dropdown-menu-city-item {
    padding: 7px 0;
    display: block;
    height: 85%;
    overflow-y: auto;
    margin: 0;
    li {
      display: block;
      padding: 5px 15px;
      font-size: 12px;
      font-weight: 500;
      .vendor-details {
        display: table;
        width: 100%;
        padding: 0;
        .vd-name {
          display: inline-block;
          font-size: 10px;
          font-weight: bold;
          color: #12203c;
          padding: 0;
          width: 40%;
          // float: left;
        }
        .vd-loc {
          font-size: 10px;
          font-weight: 500;
          color: #5677b1;
          width: 10%;
          padding: 0;
          padding-left: 5px;
          display: inline-block;
          // float: left;
        }
        .vd-num {
          font-size: 10px;
          color: #5677b1;
          font-weight: 500;
          display: inline-block;
          padding: 0;
          width: 30%;
          // float: left;
        }
        .vd-code {
          display: inline-block;
          font-size: 10px;
          font-weight: 500;
          color: #5677b1;
          width: 20%;
          padding: 0;
          padding-left: 5px;
          // float: left;
        }
        .div-col-1 {
          width: 100%;
          // float: left;
        }
        .div-col-2 {
          width: 50%;
          // float: left;
        }
        .div-col-3 {
          width: 33.33%;
          // float: left;
        }
        .div-col-4 {
          width: 25%;
          // float: left;
        }
        .div-col-5 {
          width: 20%;
          // float: left;
        }
        .div-col-6 {
          width: 16.6666%;
          // float: left;
        }
        .div-col-7 {
          width: 14.28%;
          // float: left;
        }
      }
      .transporter-name {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #12203c;
      }
      .transporter-code {
        font-size: 10px;
        font-weight: 500;
        color: #5677b1;
        display: inline-block;
      }
    }
    li:hover {
      background-color: #f8fafe;
      font-weight: 600;
    }
  }
  // .dropdown-menu-city-item::-webkit-scrollbar {
  //     display: none;
  // }
}
.dropdown-menu-city2.display-city-drop-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.dropdown-menu-vendor {
  width: 500px;
}
// Style Dropdown Pagination
.gen-dropdown-pagination{
  display: flex;
  align-items: center;
  height: 15%;
  justify-content: space-between;
  padding: 0 15px;
  .page-close {
    button {
      display: inline-block;
      padding: 1px 15px;
      border-radius: 26px;
      border: 1px solid #b4c5d6;
      background-color: #fff;
      font-size: 12px;
      font-weight: 500;
      color: #12203c;
      transition: all .6s;
      height: 24px;
      outline: none!important;
    }
    .btn-done {
      margin-right: 10px;
    }
    .btn-clear {
      margin-left: 10px;
      height: 26px;
    }
    button:hover,
    button:focus {
      border: solid 1px #8b77fa;
      background-color: #8b77fa;
      color: #ffffff;
      transition: 0.6s all;
    }
  }
  .page-next-prew-btn {
    button {
      display: inline-block;
      padding: 1px 10px;
      border-radius: 6px;
      border: none;
      background-color: #fff;
      font-size: 12px;
      font-weight: 500;
      color: #12203c;
      transition: all .6s;
      margin-left: 10px;
      height: 24px;
    }
    .pnpb-prev:hover, .pnpb-next:hover, .pnpb-prev:focus, .pnpb-next:focus {
      svg{
        path{
          fill: #8b77fa;
          transition: 0.6s all;
        }
      }
    }
  }
}

.poArticleModalPosition {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 40px;
  z-index: 99;
}

// body {
//     overflow-y: hidden;
// }
.showSmoothly {
  transform-origin: top;
  transform: scale(1);
  opacity: 1;
  animation-fill-mode: forwards;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

.hideSmoothly {
  // display: none;
  opacity: 0.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}
//  Po history Table Margin left
.poHistory-table {
  .poH-margin-left {
    margin-left: 200px !important;
  }
}
// Style pi size modal
.dropdown-menu-city-item {
  .srb-content {
    display: table !important;
    width: 100%;
    margin-bottom: 5px;
  }
  .clr-name,
  .srb-right {
    display: block;
    width: 50%;
    float: left;
  }
  .srb-right {
    height: 25px;
    content: "";
    input {
      width: 100%;
      border-radius: 5px;
      border: solid 1px #ccd8ed;
      background-color: #ffffff;
      height: 25px;
      padding: 3px 10px;
      font-size: 10px;
      font-weight: 500;
    }
  }
}

.pend_badge_pos {
  padding-top: 14px !important;
  margin-left: 8px !important;
}
.m-right-8 {
  margin-right: 8px !important;
}

//  Style Discount Modal Css
.dropdown-menu-city-item.drop-dis-modal {
  display: table;
  width: 100%;
  height: 85%;
  .dis-modal-lab {
    display: block;
    width: 50%;
    float: left;
    .purchaseLabel {
      display: block;
      width: 100%;
      font-size: 12px;
      font-weight: 600;
    }
    .discountInput {
      display: block;
      width: 90%;
      border-radius: 5px;
      border: solid 1px #ccd8ed;
      background-color: #ffffff;
      height: 25px;
      padding: 3px 10px;
      font-size: 10px;
      font-weight: 500 !important;
      margin: 5px 0;
    }
  }
}
.m-top-10 {
  margin-top: 10px;
}

.po-article-mod-dropdown {
  .dropdown-modal-header {
    span {
      width: 14.28%;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
    }
  }
  .dropdown-menu-city-item {
    height: 75%;
  }
}
.dropdown-modal-header {
  display: block;
  width: 100%;
  height: 10%;
  padding: 5px 15px;
}

// Discount %
.srb-content2 {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 0;
  .clr-name {
    padding-left: 0;
    padding-right: 27px;
    font-size: 12px !important;
    font-weight: 700;
    .checkmark {
      left: 14px;
    }
  }
  .clr-name input:checked ~ .checkmark {
    background-color: #e2c800;
  }
}
.dis-input {
  height: 33px !important;
  border-right: 1px solid #ffefb1;
  margin-right: 7px;
  width: 90px !important;
}

.header-dropdown {
  .dropdown-modal-header {
    display: block;
    width: 100%;
    height: 10%;
    padding: 5px 15px;
    span {
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      padding: 0;
    }
    .vd-name {
      width: 40%;
    }
    .vd-loc {
      width: 10%;
    }
    .vd-num {
      width: 30%;
    }
    .vd-code {
      width: 20%;
    }
    .div-col-1 {
      width: 100%;
    }
    .div-col-2 {
      width: 50%;
    }
    .div-col-3 {
      width: 33.3333%;
    }
    .div-col-4 {
      width: 25%;
    }
    .div-col-5 {
      width: 20%;
    }
    .div-col-6 {
      width: 16.666%;
    }
    .div-col-7 {
      width: 14.28%;
    }
  }
  .dropdown-menu-city-item {
    height: 75%;
  }
}

// Modal Search Button
.modal-search-btn {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
}
.modal-search-btn-table {
  position: absolute;
  top: 7px;
  right: 6px;
  background: #fffae7;
  padding: 0 3px;
  cursor: pointer;
}
.modal-search-btn-table svg:hover path {
  fill: #a4b9dd !important;
}

// Style PiSizeModal Toggle Button
.nph-switch-btn {
  display: inline-block;
  margin-right: 20px;
  .tg-switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 22px;
    margin: 0;
  }
  .tg-switch .tg-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.4s;
  }
  .tg-switch input:checked + .tg-slider {
    background-color: #8b77fa;
  }
  .tg-switch input:checked + .tg-slider:before {
    transform: translateX(20px);
  }
  .nph-wbtext {
    margin: 0;
    margin-left: 10px;
    position: relative;
    top: -7px;
  }
}

.disTable {
  display: table !important;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

// Style New Histoty pages Of the Purchase Indent
.gen-new-pi-history {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  form {
    margin: 0;
    position: relative;
    margin-right: 20px;
    input[type="search"] {
      border-radius: 5px;
      border: solid 1px #dce6f0;
      background: #fff;
      padding: 8px 30px;
      height: 32px;
      font-size: 11px;
      color: #000;
      font-weight: 600;
      width: 250px;
      margin: 0px;
    }
    input:focus {
      border: solid 1px #cdc4ff;
    }
    input::placeholder {
      font-size: 11px;
      font-weight: 500;
      color: #12203c;
    }
    .searchWithBar {
      background: transparent;
      border: 0;
      position: absolute;
      left: 2px;
      top: 0;
      margin: 0;
      padding: 5px;
    }
    .closeSearch {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .pihitory-download-dropdown {
    display: inline-block;
    position: relative;
    .pi-history-download {
      display: block;
      position: absolute;
      top: 42px;
      left: 0;
      width: 200px;
      padding: 10px 15px;
      border-radius: 12px;
      box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
      background: #ffffff;
      margin: 0;
      z-index: 99;
      li {
        display: block;
        button {
          display: block;
          padding: 0;
          margin: 0;
          border: none;
          margin-bottom: 5px;
          img {
            width: 30px;
            margin-right: 12px;
          }
          .pi-pdf-img {
            width: 20px;
            margin-left: 8px;
          }
        }
      }
    }
  }
  button {
    border-radius: 5px;
    border: solid 1px #ccd8ed;
    background-color: #ffffff;
    font-size: 12px;
    padding: 5px 15px;
    margin-right: 15px;
    height: 32px;
    font-weight: 500;
    position: relative;
    display: inline-block;
  }
  .gnph-delete {
    background-color: #eb0008;
    color: #ffffff;
    border: solid 1px #eb0008;
    font-weight: 600;
    display: flex;
    padding: 3px 10px;
    svg {
      margin-right: 10px;
    }
  }
  .pi-download {
    width: 32px;
    padding: 5px;
    text-align: center;
  }
  .pi-download:hover {
    background-color: #4a5568;
    border: 1px solid #4a5568;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
  .pi-download-focus {
    color: #fff;
    background-color: #4a5568;
    border: 1px solid #4a5568;
    svg path {
      fill: #fff;
    }
  }
  .gvpd-filter-inner {
    width: 32px;
    padding: 5px;
    text-align: center;
  }
  .approveBtnn {
    border: 1px solid #7fd539;
  }
  .rejectBtnn {
    border: 1px solid #eb0008;
  }
}
// Style History Table
.generic-history-table {
  position: relative;
  display: block;
  box-shadow: 2px 0 6px 0 hsla(0, 0%, 55%, 0.16);
  margin-top: 30px;
  .ght-manage {
    overflow-y: hidden;
    overflow-x: auto;
    .columnFilterGeneric {
      .glyphicon {
        padding: 12px 3px;
        background: #8b77fa;
      }
    }
    .ght-main-table {
      display: table;
      white-space: nowrap;
      border-collapse: collapse;
      margin: 0;
      border-spacing: 0;
      thead {
        border: none;
        tr {
          height: 35px;
          box-shadow: 2px 0 6px 0 hsla(0, 0%, 55%, 0.16);
          background-color: #fff;
          th {
            height: 35px;
            vertical-align: middle;
            white-space: nowrap;
            border: none;
            cursor: pointer;
            label {
              font-size: 10px;
              margin: 0;
              font-weight: 600;
              color: #000000;
              width: auto;
              cursor: pointer !important;
              font-size: 11px !important;
            }
            label.rotate180{
              transform: rotate(0);
            }
            img {
              margin-left: 5px;
              // width: 14px;
            }
            .rotate180{
              filter: sepia(1);
            }
          }
          th:last-child{
            padding-right: 30px;
          }
          th.rotate180{
            transform: rotate(0);
            img{
              filter: sepia(1);
              transform: rotate(180deg);
            }
          }
          .ght-sticky-col {
            width: auto;
            box-shadow: 10px 0 8px -4px hsla(0, 0%, 55%, 0.16);
            background-color: #fff;
            border: 0;
            left: 0;
            position: sticky;
            border-right: none;
            border-bottom: none;
            z-index: 0;
            max-width: 90px;
            padding: 0;
            background: #fff;
            z-index: 0;
            label {
              width: auto;
            }
            .rab-refresh {
              display: flex;
              margin: 0;
              padding: 0;
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              .rab-rinner {
                display: inline-block;
                padding: 7px;
                position: relative;
                border-radius: 50%;
                cursor: pointer;
                span {
                  img {
                    margin: 0;
                    width: 18px;
                  }
                }
                label {
                  font-size: 12px;
                }
                .checkBoxLabel0 {
                  width: 16px;
                  height: 16px;
                  padding-left: 16px;
                  .checkmark1 {
                    left: 0;
                    top: 0;
                    height: 16px;
                    width: 16px;
                    background-color: #ffffff;
                    cursor: pointer;
                    border-radius: 4px;
                    border: solid 2px #dce6f0;
                  }
                  .checkmark1:after {
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                    content: none;
                  }
                  input:checked ~ .checkmark1 {
                    background-color: #8b77fa;
                    border: none;
                  }
                  input:checked~.checkmark1:after{
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                    content: "";
                }
                }
                .select-all-text {
                  position: absolute;
                  top: 3px;
                  left: 30px;
                  padding: 4px 14px;
                  font-size: 12px;
                  background: #8b77fa;
                  color: #fff;
                  border-radius: 30px;
                }
              }
            }
          }
          .ght-sticky-col {
            width: auto;
            box-shadow: 10px 0 8px -4px hsla(0, 0%, 55%, 0.16);
            background-color: #fff;
            border: 0;
            left: 0;
            position: sticky;
            border-right: none;
            border-bottom: none;
            label {
              width: auto;
            }
          }
        }
      }
      tbody {
        tr {
          height: 35px;
          background: #fcfdfe;
          td {
            height: 35px;
            white-space: nowrap;
            vertical-align: middle;
            // border: none;
            border: 1px solid #e3e7f3;
            position: relative;
            label {
              color: #000;
              margin: 0;
              font-weight: 500;
              max-width: 250px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 11px !important;
              img {
                margin-left: 10px;
                width: 40px;
              }
              .transfer-order-btn {
                background: #8b77fa;
                width: auto;
                height: 20px;
                border-radius: 3px;
                padding: 1px 5px;
                color: #fff;
                border: 1px solid #8b77fa;
                font-weight: 600;
                font-size: 11px;
                margin-right: 5px;
            }
            }
            label.clr-red {
              color: #eb0008;
            }
            .ghtmtblue{
              color: #3279dd;
              font-weight: 700;
            }
            .ghtmtError{
              color: #c44569!important;
              cursor: pointer !important;
            }
            .ghtmtstatus{
              font-weight: 600;
              min-width: 90px;
              position: relative;
            }
            .ghtmtstatus:after{
              content: "";
              position: absolute;
              top: 5px;
              right: 10px;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #000;
            }
            .ghtmtstatusdrft:after{
              background-color: #c1d8f0;
            }
            .ghtmtstatuspend:after{
              background-color: #ffb103;
            }
            .ghtmtstatuscan:after{
              background-color: #ff0505;
            }
            .ghtmtstatusapv:after{
              background-color: #6fc192;
            }
            .table-tooltip {
              label {
                word-break: break-all;
              }
            }
          }
          td:first-child {
            border: none;
          }
          td:last-child{
            padding-right: 30px;
          }
          .ght-sticky-col {
            width: auto;
            box-shadow: 10px 0 8px -4px hsla(0, 0%, 55%, 0.16);
            background-color: #fff;
            border: 0;
            padding: 0;
            left: 0;
            position: sticky;
            z-index: 9;
            .ght-item-list {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              padding: 0;
              margin: 0;
              height: 35px;
              .ghtil-inner {
                display: inline-block;
                padding: 7px;
                position: relative;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.3s all;
                .checkBoxLabel0 {
                  width: 16px;
                  height: 16px;
                  padding-left: 16px;
                }
                .checkmark1 {
                  left: 0px;
                  top: 0px;
                  height: 16px;
                  width: 16px;
                  background-color: #ffffff;
                  cursor: pointer;
                  border-radius: 4px;
                  border: solid 2px #dce6f0;
                }
                .checkBoxLabel0 .checkmark1:after {
                  width: 5px;
                  height: 9px;
                  border-width: 0 2px 2px 0;
                  content: none;
                }
                .checkBoxLabel0 input:checked ~ .checkmark1 {
                  background-color: #8b77fa;
                  border: none;
                }
                .checkBoxLabel0 input:checked~.checkmark1:after{
                  width: 5px;
                  height: 9px;
                  border-width: 0 2px 2px 0;
                  content: "";
                }
              }
              .select_modalRadio {
                margin-right: 15px;
              }
              .ght-eye-btn {
                img{
                  width: 20px;
                  height: 16px;
                }
                // padding: 0;
                // padding-top: 4px;
              }
              .ghtil-inner:hover > .generic-tooltip {
                visibility: visible;
                opacity: 1;
              }
              .ght-delete-btn:hover {
                background-color: #eb000826;
                svg path {
                  fill: #eb0008;
                }
              }
              .ght-edit:hover {
                background-color: #fea70324;
                svg {
                  path {
                    fill: #fea703;
                  }
                }
              }
              .ght-edit-dis:hover{
                background-color: #f9f9f9;
              }
              .ght-invoice-btn:hover {
                background-color: #23e3eb38;
                svg {
                  path {
                    fill: #23e3eb;
                  }
                  .prefix__cls-2 {
                    fill: #fff;
                  }
                }
              }
              .ght-status {
                img {
                  width: 49px;
                }
              }
              .apv-rej-btn {
                padding: 0 7px;
                button {
                  padding: 0;
                  background: none;
                  margin-left: 10px;
                  img {
                    width: 50px;
                  }
                }
              }
              .select_modalRadio {
                .positionCheckbox {
                  top: -4px !important;
                }
              }
            }
          }
        }
        // tr:nth-child(odd){
        //     background-color: #cbd5e026;
        // }
        tr:first-child {
          td {
            border-top: none;
          }
        }
        .vgt-tr-bg {
          background-color: #f7f5fb;
        }
      }
    }
  }
}
.mLeft100 {
  margin-left: 100px;
  .gen-main-table {
    thead {
      tr {
        .fix-action-btn {
          width: 100px !important;
        }
      }
    }
    tbody {
      tr {
        .fix-action-btn {
          width: 100px !important;
        }
      }
    }
  }
}