.purchasedOrderContainer{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.purchaseOrderTextbox{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 11px;
    // font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    text-indent: 3px;
  }
  .purchaseOrderSelectBox{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
  }
.purchaseLabel{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
}
.purchasedOrderContainer1{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    margin-top: 15px;
    padding: 20px;
    padding-bottom: 10px !important;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.purchasedOrderContainer1 .piToolTip .max-width80{
    max-width:80px!important;
}
.purchaseOrderRangeTextbox{
    height: 30px;
    width: 100%; 
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    text-indent: 5px;
  }
.rangeLine{
        width: 16px;
    border: 1px solid #d2d2d2;
    height: 3px;
    display: inline-block;
    background: #d2d2d2;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    top: 15px;
}
.poQuanity{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.sec2List>li:nth-child(2){
    float: right;
}
.sec2List>li>label{
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  width: 75px;
}
.sec2List>li>span{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d6dc9;
}
.sec2Btn{
    border-radius: 21.8px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    height: 25px;
    /* width: 130px; */
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8b8b8b;
}
.sec2rightBtn{
    border-radius: 21.8px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    height: 25px;
     width: 140px; 
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8b8b8b;
    margin-right: 5px;
}
.sec2Btn:hover, .sec2rightBtn:hover{
    background-color: #ededff;
    transition: .5s;
    color: #8b8b8b;
}
.StickyDiv1{
    width: 100%;
    // height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}
.footerDivForm {
    display: inline-block;
    // height: 10%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -3px 10px -5px hsla(0,0%,73%,.5);
}
.scrollableTableFixed{
    width: 100%;
    // height: 25vh;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
}



// _________________________ANAND CODE START


//modal css
.modal-open{
    padding: 0px;
  }


// adding tooltip
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
// 

.modal_Indent{
    margin: 0px 20% auto;
    width: 100%;
    
}
.modal_Indent1{
    margin: 0px auto;
    width: 100%;
    
}
 .modalPiDesc{
    text-align: left;
    background: #fff;
    width: 60%;
    height: 60%;
    padding: 15px;
    display: inline-block;
    border-top: none!important;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-radius: 25px;
 }

  .modaludfSetting{
    text-align: left;
    background: #fff;
    width: 60%;
    height: 60%;
    padding: 15px;
    display: inline-block;
    border-top: none!important;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-radius: 25px;
    }
    
    .modaludfMapping{
        text-align: left;
        background: #fff;
        width: 60%;
        height: 60%;
        padding: 15px;
        display: inline-block;
        border-top: none!important;
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        border-radius: 25px;

    }
    .modalpoColor{
        text-align: left;
        background: #fff;
        width: 60%;
        height: 60%;
        padding: 15px;
        display: inline-block;
        border-top: none!important;
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        border-radius: 25px;
    }
    .PiSizeModal{
        text-align: left;
        background: #fff;
        width: 60%;
        height: 60%;
        padding: 0px 15px;
        display: inline-block;
        border-top: none!important;
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        border-radius: 25px;
    }
    .modalpiopensize{
        text-align: left;
        background: #fff;
        width: 60%;
        height: 60%;
        padding: 15px;
        display: inline-block;
        border-top: none!important;
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        border-radius: 25px;
    }
    .modalpoitemstable{
        text-align: left;
        background: #fff;
        width: 60%;
        height: 60%;
        padding: 15px;
        display: inline-block;
        border-top: none!important;
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        border-radius: 25px;
    }
    .text_modal{
        text-align: left;
    }
    .modal-top{
        display: inline-block;
        height: 30%;
        width: 100%;
        background-color: #fff;
    }

    .modal-top_size{
        display: inline-block;
        height: 20%;
        width: 100%;
        background-color: #fff;
    }

    .modal-top_item{
        display: inline-block;
        height: 70%;
        width: 100%;
        background-color: #fff;
    }

    .modal-top_map{
        display: inline-block;
        height: 35%;
        width: 100%;
        background-color: #fff;
    }
    .modal_table{
        display: inline-block;
        width: 100%;
        height: 60%;
        overflow: auto; 
    }

    .modal_table_size{
        display: inline-block;
        width: 100%;
        height: 70%;
        overflow: auto; 
    }

    .modal_table_item{
        display: inline-block;
        width: 100%;
        height: 20%;
        overflow: auto; 
    }

    .modal_table_map{
        display: inline-block;
        width: 100%;
        height: 50%;
        overflow: auto; 
    }
    .modal-bottom{
        display: inline-block;
        height: 10%;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -3px 10px -5px hsla(0,0%,73%,.5);
    }
    
    .select_name-content {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 600px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      .search-box{
        width: 60%;
        height: 30px;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #d2d2d2;
        font-family: Montserrat;
        font-size: 10px;
        text-indent: 5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        outline: none;
      }

      
      .modal_form-box{
        height: 30px;
        width: 100%;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #d2d2d2;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        outline: none;
        text-indent: 5px;
        opacity: 0.7;
      }
      .form-name_box {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #d2d2d2;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        outline: none;
        text-indent: 5px;
        opacity: 0.7;
      }
      .modal_form-name_box{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #d2d2d2;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        outline: none;
        text-indent: 5px;
        opacity: 0.7;
      }
      .modal_tableBox{
        width: 100%;
        height: 25px;
        // background-color: #ffffff;
        border: none;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        font-weight: 500;
        outline: none;
        opacity: 0.7;
        text-indent: 5px;

      }
      .tableModal>tbody>tr>td:nth-child(3){
          padding: 0px;
      }
      .modal_tableBox:hover{
        background-color: #ececec; 
        outline: none;
      }
      .modal_tableBox:focus{
        border: 1px solid #ececec!important;
        background-color:#ececec; 
        height:30px; 
      }

      .modal_textarea_address {
        height: 15vh;
        width: 100%;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #d2d2d2;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        outline: none;
        text-indent: 5px;
        opacity: 0.7;
        padding: 10px;
        resize: none;
      }
      .findButton{
        width: 80px;
        height: 30px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #e5e5e5;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8b8b8b;
        outline: none;
      }
      .findButton:hover,.findButton:focus{
        background-color: #8b77fa;
        border: solid 1px #8b77fa;
        color: #ffffff;
        transition: .5s;

      }
      .search-img {
        margin-left: 5px;
    }
    
      .findButton:hover>svg>path{
          fill: #ffffff;
      }
      .clearbutton{
        width: 50px;
        height: 30px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #e5e5e5;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8b8b8b;
        outline: none;
      }
      .clearbutton:hover,.clearbutton:focus{
        background-color: #8b77fa;
        border: solid 1px #8b77fa;
        color: #ffffff;
        transition: .5s;
      }


    .doneButton{
        width: auto;
        height: 25px;
        border-radius: 13px;
        background-color: #ffffff;
        border: solid 1px #dcdcdc;
        font-size: 10px;
        font-weight: 600;
        color: #12203c;
        outline: none;
        padding: 2px 12px;
    }
    .doneButton_disable{
        width: auto;
        height: 25px;
        border-radius: 13px;
        background-color: #ffffff;
        border: solid 1px #dcdcdc;
        font-size: 10px;
        font-weight: 600;
        color: #12203c;
        outline: none;
        pointer-events: none;
        padding: 2px 12px;
    }
    .doneButton:hover,.doneButton:focus{
        background-color: #8b77fa;
        border: solid 1px #8b77fa;
        color: #ffffff;
        transition: .5s;
    }

    // .doneButton_disable:hover{
    //     background-color: #ccc;
    //     border: solid 1px #ccc;
    //     color: #12203c;
    //     // transition: .5s;
    // }
    .closeButton{
        width: 70px;
        height: 25px;
        border-radius: 13.5px;
        background-color: #ffffff;
        border: solid 1px #dcdcdc;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #12203c;
        outline: none;
    }
    .closeButton:hover,.closeButton:focus{
        background-color: #8b77fa;
        border: solid 1px #8b77fa;
        color: #ffffff;
        transition: .5s;
      }
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0;
      z-index: 1065;
  }
    .modal-backdrop{
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 1060;
        background-color: #ffffff !important;
        height: 100%;
        width: 100%;
        position: absolute;
    }
      .modal-backdrop.in{
        opacity: 0.7 !important;
      }

     /*_____________________modal_table___________________________*/


     .preview_content{
        font-size: 12px;
        font-weight: 600;
        font-family: Montserrat;
        color: #12203c;
        text-align: left;
     }

     .tableModal{
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        margin: 0px;
    }
    .tableModal>tbody>tr:hover  .modal_tableBox{
        background-color: #ececec;
    }
    .tableModal>thead>tr>th{
        font-size: 10px;
        font-weight: 600;
        font-family: Montserrat;
        color: #12203c;
        text-align: left;
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1;
    }

    .tableModal>tbody{
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        margin: 0px;

    }
    .tableModal>tbody>tr>td>label{
        font-size: 10px;
        font-weight: 600;
        font-family: Montserrat;
        color: #12203c;
        text-align: left;
    }
    .tableModal>tbody>tr>td{
        font-size: 10px;
        font-weight: 500;
        font-family: Montserrat;
        color: #8b8b8b;
        text-align: left;
    }
    .tableModal>thead{
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
    .tableModal>tbody>tr>td:nth-child(1){
        border: 1px solid #ddd;
        border-left: none;
    }
    
    .tableModal>thead>tr>th
    {
        border-bottom: none !important;
    }
    .tableModal>tbody>tr>td
    {
         border: 1px solid #ddd;
    }
    
    
    .tableModal>tbody>tr>td:last-child{
        border-right: none !important;
    }


    /*_______checkbox___________________*/
  .round_box {
    position: relative;

  }
  
  .round_box label {
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    color: #ffffff;
  }
  
  .round_box label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    width: 8px;
    height: 4px;
    top: 5px;
    left: 3px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg); 
  }

  .round_box label::before {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    width: 8px;
    height: 4px;
    top: 4px;
    left: 2px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg); 
  }
  
  .round_box input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round_box input[type="checkbox"]:checked + label {
    background-color: #6d6dc9;
    border-color: #6d6dc9;
  }

  .round_box input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .round_box input[type="checkbox"]:not(:checked) + label {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
  }
  .round_box input[type="checkbox"]:not(:checked) + label::before {
    opacity: 1;
  }

  /*___________________________radio_______________________________*/

    [type="radio"]:checked,[type="radio"]:not(:checked) {
        position: absolute;
    }

    [type="radio"]:checked + label,[type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        display: inline-block;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #12203c;
    }

    [type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 2px;;
        width: 15px;
        height: 15px;
        border: 1px solid #e5e5e5;
        border-radius: 100%;
        background: #e5e5e5;
    }
    [type="radio"]:checked + label:after,[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 5px;
        height: 5px;
        background: #6d6dc9;
        border: 1px solid #6d6dc9;
        position: absolute;
        top: 7px;
        left: 5px;
        border-radius: 100%;
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        
    }

  /*_____________________________________________________________________________*/
  .purchaseLabel{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    /* float: right; */
    white-space: normal;
    word-spacing: 3px;
}
.para_purchase{
    margin: 0px;
}
.containerPurchaseRadio {
    display: block;
    position: relative;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
  
}

// .containerPurchaseRadio input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//      display: none;
// }

// .checkmark {
//     position: absolute;
//     top: 0px;
//     right: -20px;
//     height: 13px;
//     width: 13px;
//     background-color: #eee;
//     border-radius: 50%;
// }

// .containerPurchaseRadio:hover input ~ .checkmark {
//     background-color: #ccc;
// }

// .containerPurchaseRadio input:checked ~ .checkmark {
//     background-color: #fff;
//     border: 1px solid #6d6dc9;
// }

// .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
// }

// .containerPurchaseRadio input:checked ~ .checkmark:after {
//     display: block;
// }

// .containerPurchaseRadio .checkmark:after {
//     top: 3px;
//     left: 3px;
//     width: 5px;
//     height: 5px;
//     border-radius: 50%;
//     background: #6d6dc9;
// }

.pad-right-15{
    padding-right: 15px;
}

/*_________________________________container_radio-button______________________________________________*/

.container_modalRadio {
    display: block;
    position: relative;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
  
}

/* Hide the browser's default radio button */
.container_modalRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.checkradio {
    position: absolute;
    top: 0px;
    right: -20px;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 50%;
}

.container_modalRadio:hover input ~ .checkradio {
    background-color: #ccc;
}

.container_modalRadio input:checked ~ .checkradio {
    background-color: #fff;
    border: 1px solid #6d6dc9;
}

.checkradio:after {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #6d6dc9;
}

.container_modalRadio input:checked ~ .checkradio:after {
    display: block;
}

.container_modalRadio input:not(:checked) ~ .checkradio {
    background-color: #fff;
    border: 1px solid #ccc;
}

.checkradio::before {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ccc;
}

.container_modalRadio input:not(:checked) ~ .checkradio::before {
    display: block;
}

.modalList>li{
    padding-right: 50px !important;
}

/*___________________________select-radio______________________________________________________*/

.select_modalRadio {
    display: block;
    position: relative;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
    top: 5px;
    padding-right: 10px;
    width:100%;
  
}

/* Hide the browser's default radio button */
.select_modalRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    //  display: none;
     display: inline-block;
    width: 108%;
    top: -20px;
    height: 30px;
    left: -6px;
}
// .radioModalCheckBox input{
//     width:74px;
// }
// .brandModalRadio input{
//     width: 205px;
// }

// .checkradio-select {
//     position: absolute;
//     top: 0px;
//     height: 13px;
//     width: 13px;
//     background-color: #eee;
//     border-radius: 50%;
// }
.select_all{
    position: absolute;
    top: 0px;
    right: 75px;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 50%;
}

.deselect_all{
    position: absolute;
    top: 0px;
    right: 90px;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 50%;
}


.select_modalRadio:hover input ~ .checkradio-select {
    background-color: #ccc;
}

.select_modalRadio input:checked ~ .checkradio-select {
    background-color: #fff;
    border: 1px solid #6d6dc9;
}

.checkradio-select:after {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #6d6dc9;
}

.select_modalRadio input:checked ~ .checkradio-select:after {
    display: block;
}

.select_modalRadio input:not(:checked) ~ .checkradio-select {
    background-color: #fff;
    border: 1px solid #ccc;
}

.checkradio-select::before {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ccc;
}

.select_modalRadio input:not(:checked) ~ .checkradio-select::before {
    display: block;
}


.modal-select>li{
    padding-left: 25px !important;
}

.pad-right-0{
    padding-right: 0px;
}

.m-r-15{
    margin-right: 15px;
}
.error_icon_purchase_mrp{
    right: 6px;
    position: absolute;
    top: 9px;
    -webkit-user-drag: none;
}
.poAmtTotal{
    background: url("../assets/rectangle-28.svg");
    height: 21vh;
    background-repeat: no-repeat;
    margin-top: 14px;
    border-radius: 5px 0;
}
.poAmtTotal ul{
    position: absolute;
    top: 37px;
    left: 104px;
}
.poAmtTotal ul li:nth-child(2){
    margin-top: 33px;
}
.poAmtTotal ul li:first-child::after{
    content: "";
    position: absolute;
    width: 134%;
    height: 1px;
    background: #fff;
    top: 34px;
    left: 0;

}
.poAmtTotal ul li label{
    margin-right:14px;
}
.poAmtTotal ul li label, .poAmtTotal ul li span{
    font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.poFormMain{
    padding-bottom:0;
    padding-right:0;
}
.poFormMain .piFormDiv{
    margin-right:30px;
}
.poFormMain .piFormDiv .userModalSelect{
    padding-left:5px;
}
.vendorToolTip{
    left:55px!important;
}
.tableWidthAuto table{
    display: table;
}
.tableWidthAuto thead tr th{
    width:auto!important;
}
.sectionTwoTable table{
    display:table;
}
.sectionTwoTable table thead th:first-child{
    height: 48px!important;
}
.sectionTwoTable table tbody tr td:first-child{
    height:36px!important;
}
.toolTipPos .topToolTipText{
    left: 60px!important;
}
.inputTextKeyFucMain .inputTextKeyFuc{
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    outline: none;
    text-indent: 5px;
    height: 30px;
    font-size: 1rem;
    font-weight: 500!important;
    line-height: 1.5;
    color: #212529;
}
.inputTextKeyFuc::placeholder{
    font-size: 1rem;
    font-weight: 500!important;
    line-height: 1.5;
    color: #212529; 
}
.inputTextKeyFucMain{
    position: relative;
    .closeSearch {
        position: absolute;
        right: 22px;
        cursor: pointer;
        margin-top: 0;
        top: 6px;
    }
    .newCloseSearch {
        right: 5px;
    }
}
.inputTextKeyFucMain span{
    padding: 5.7px 4px;
    top:0;
}
.catDesTable .table-scroll{
    max-width: 100%;
}
.sectionOneTable .zui-table .fixed-side{
    width:150px;
    height:35px!important;
}
.sectionOneTable .zui-scroller{
    margin-left:80px;
    max-width: 100%;
}
.sectionOneTable.tableGeneric thead tr{
    height: 35px!important;
}
.sectionOneTable thead tr{
    height: 35px!important;
}
.sectionOneTable tbody td{
    height: 30px!important;
    padding-left:8px!important;
}
.sectionOneTable tbody td input[type=text]{
    padding: 0;
    height: 30px;
    font-weight: normal!important;
    width: auto;
}
.sectionOneTable tbody td label{
    font-size: 10px!important;
    font-weight: normal;
}
.sectionOneTable tbody tr{
    height:35px!important;
}
.sectionOneTable.tableGeneric tbody tr{
    height:35px!important;
}
.sectionOneTable .openModalBlueBtn .purchaseTableDiv{
    right:-5px;
}
.sectionOneTable tbody td .purchaseTableDiv svg{
    height:35px;
}
.sectionOneTable .purchaseTableDiv svg{
    height:35px;
}
.sectionOneTable thead tr th label{
    width: 100px!important;
    font-size:9px!important;
}
.sectionOneTable{
    overflow-y: hidden!important;
}
.dynamicTable .scrollableTableFixed{
    overflow-y: hidden;
}
.sectionOneTable tbody tr td{
    height:35px!important;
}
.loadIndentModal .modalpoColor{
    height: 75%;
    width: 70%;
}
.loadIndentModal{
    margin: 0 16% auto;
}
.loadIndentModal .modal_table{
    height: 50%;
}
.loadIndentModal .modalFilter label button{
    background-color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.loadIndentModal .modalFilter .findButton:hover{
    border: 1px solid #e5e5e5;
}
.loadIndentModal .modalFilter .findButton:hover svg path{
fill: #8b8b8b;
}
.modalFilter ul li:first-child li{
    vertical-align: top;
}
.modalFilter .error{
    position: absolute;
}
.poToolTipMain .exclaimIconToolTip{
    position: absolute;
    right: 6px;
    top: 9px;
}
.netAmtTotal:hover .totalAmtDescDrop{
    display: block;
}
 .sectionthreeTable tbody tr td:first-child img:first-child{
    width: 15px;
    float: left;
    cursor: pointer;
 }
 .sectionthreeTable .zui-scroller{
    margin-left: 150px;
 }  
.sectionthreeTable .zui-table .fixed-side{
    width: 150px;
}
 .poAmountBottom ul{
    float: right;
    padding-right: 50px;
    margin: 0;
    padding: 20px 50px 10px 20px;
 }
 .poAmountBottom ul li label{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    margin-right: 13px;
 }
 .poAmountBottom ul li{
     text-align: left;
 }
.poAmountBottom ul li span{
         font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    padding-left: 10px;
 }
 .poAmountBottom ul li:first-child label{
    margin-right: 9px;
 }
.piInputWid{
    width: 18% !important;
}
.imageInput{
    width: 100px;
    background: transparent;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 8px !important;
}
.tableBorderFocus{
    display: block;
// overflow-x: auto;
// overflow-y: auto;
// height: 80vh;
white-space: nowrap;
border-collapse: collapse;
margin: 0px;
}
.tableBorderFocus> thead > tr > th > label {
font-size: 10px;
font-weight: 600;
font-family: Montserrat;
color: #12203c;
text-align: left;
width: 135px;
}
.tableBorderFocus> thead > tr > th > label > span{
font-family: Montserrat;
font-size: 9px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #9b9b9b;

}
.tableBorderFocus > tbody > tr > td > label {
font-size: 10px;
font-weight: 500;
font-family: Montserrat;
color: #8b8b8b;
text-align: left;
}

.tableBorderFocus > thead {
border-bottom: 1px solid #e3e7f3;
border-top: 1px solid #e3e7f3;
}
.tableBorderFocus > tbody > tr > td {
border-left: 1px solid #e3e7f3;
border-bottom: none;
}
.tableBorderFocus > thead > tr > th {
border-bottom: none !important;
}
.tableBorderFocus.scrollTable > tbody > tr .tdFocus:focus-within{
    border: 1px solid #6d6dc9 !important;
} 
.piInputContain .inputLabel{
    font-weight: 500 !important;
}
.settingDrop .onFocus:focus{
    border: 1px solid #6d6dc9 !important;
}
.newPoModal{
    margin: 0 12.5% auto;
    .modalShow{
        border-radius: 8px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        border: 0;
        width: 74%;
    }
    .modal-top{
        background-color: #f9f9f9;
        padding: 21px 30px;
        h2{
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #12203c;
        }
    }
    .modalMid{
        h4{
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #12203c;
        }
        table{
            thead th{
                padding-left: 10px;
                font-size: 11px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #12203c;
            }
            tbody td{
                font-size: 11px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #12203c;
            }
        }
    }
    .modal-content{
        border-radius: 9px;
        box-shadow: 0 0 13px 0 rgba(217, 217, 217, 0.5);
        background-color: #ffffff;
        border: 0;
        padding: 18px 33px;
       
    }
    .modalMidPad{
        padding: 18px 35px;
    }
}
.blueRadioBtn{
    span{
        border-color: #6629db !important;
        height: 15px;
        width: 15px;
        top:-10px!important;
        &:before{
            border:1px solid #6629db;
            background: transparent;
            width: 7px;
            height: 7px;
        }
        &:after{
            width: 7px;
            height: 7px;
        }
    }
}
.modalTablescroll{
    width: 69vw;
    thead{
        th{
            min-width: 113px;
        }
    }
    tbody{
        td{
            &:first-child{
                button{
                    &:focus{
                        border-color:#6d6dc9;
                    }
                    padding: 2px 10px;
                    border-radius: 14px;
                    border: solid 1px #e8e8e8;
                    background-color: #ffffff;
                    display: flex;
                    font-size: 11px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #12203c;
                    i{
                        margin-left: 5px;
                        margin-left: 5px;
                        font-size: 15px;
                        color: #000;
                    }
                }
            }
        }
    }
}
.copiedBtn{
    padding-left: 25px;
    border-radius: 15.5px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    height: 23px;
    width: auto;
    padding-right: 6px;
    padding-top: 4px;
        font-size: 11px!important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    span{
       left: 5px;
        top:3.7px!important;
        height: 14px !important;
         width: 14px !important;
        &:before{
            top: 2.8px;
            left: 2.5px;
            width: 6px!important;
            height: 6px!important;
            border-radius: 50%;
            background: #6d6dc9;
        }
         &:after{
            width: 6px!important;
            height: 6px!important;
        }
    }
}
.tableWid{
    .fixed-side{
        width: 100px !important;
    }
    .zui-scroller{
        margin-left: 100px;
    }
}
.rightModal{
    .poUploadModal{
        .content {
            .file{
                width: 220px;
                height: 34px;
                border-radius: 26px;
                border: solid 1px #dbdbdb;
                background-color: #ffffff;
                margin-right: 26px;
                padding: 9px 17px;
                span{
                    float: left;
                    font-size: 11px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #535b78;
                    width: 160px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                img{
                    float: right;
                    height: 16px;
                }
            }
            input[type=file]{
                display: none
            }
        }
        .back{
            background: transparent;
            margin-left: 15px;
        }
        .modalTop{
            padding: 30px 0 0 5px;
            h3{
                font-size: 19px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #535b78;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -37px;
                    left: 43%;
                    height: 3px;
                    width: 147px;
                    border-radius: 3.5px;
                    background-color: #f4f4f4;
                }
            }
            .uploadBtn{
                width: 93px;
                height: 34px;
                border-radius: 26px;
                background-color: #6629db;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
                vertical-align: top;
            }
            .note{
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #535b78;
                span{
                    font-weight: bold;
                    font-size: 13px;
                    padding-right: 3px;
                }
            }
        }
        .modalBottom{
            height: 22%;
            .discardBtn{
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #535b78;
                text-align: center;
                margin-top:20px;
                cursor: pointer;
            }
            .submitBtn{
                border-radius: 26px;
                background-color: #6629db;
                padding: 11px 69px;
                font-size: 13px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}
.generateLoader{
    p{
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535b78;
    } 
}
.alertNotificationModal{
    width: 585px!important;
    height: 352px;
    border-radius: 17px !important;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    text-align: initial !important;
    padding: 29px 0px 10px 32px;
    border: 0px;
    h3{
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #12203c;
        img{
            height: 16px;
            margin-left: 7px;        
        }
    }
    h4{
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #12203c;
        margin: 15px 0px;
    }
    ul {
        padding-left: 20px;
        margin-top: 10px;
        height: 30vh;
        overflow: auto;
        li{
            span{
                font-weight: bold;
            }
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #12203c;
            margin:12px 0px;
            position: relative;
            &:before{
                width: 10px;
                height: 10px;
                background-color: #e4041f;
                position: absolute;
                content: "";
                left: -20px;
                top: 3px;
                border-radius: 50%;
            }
        }
    }
    .close-btn{
        width: 105px;
        height: 38px !important;
        border-radius: 6px;
        border: 1px solid #535b78 !important;
        float: right !important;
    }
}
.discountModal{
    .newRadioBtns{
        padding-left: 0px!important;
        padding-top: 0px !important;
        label{
            &.select_modalRadio{
                left: 26px!important;
            }
        }
    }
    .discountInput{
        height: 30px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        font-family: Montserrat;
        font-size: 10px;
        text-indent: 5px;
        font-weight: 500 !important;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #12203c;
        outline: none;
        width: 100%;
    }
}
.marginLeft_80{
    margin-left: 80px
}
.button_home {
  background-color: #fff;
  color: #12203c;
  font-size: 10px;
  height: 25px;
  width: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}
.button_home:hover{
  background-color: #6d6dc9;
  color: #fff;
  border: 1px solid #6d6dc9;
  transition: 0.5s;
}
.purchase_dR{
border: solid 1px #dce6f0;
  background-color: #ffffff;
   height: 513px;
   width: 100%;
   .left_dr{
    border-bottom: solid 1px #dce6f0;
    border-right: solid 1px #dce6f0;

    background-color: #ffffff;
    width: 50%;
   }
      .right_dr{
    border-bottom: solid 1px #dce6f0;
  

    background-color: #ffffff;
    width: 50%;
   }
   .settingCheck label{
       font-weight: bold !important;
   }
}
.m-left-15{
    margin-left: 15px !important;
}
.download_h3{
    font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #12203c;
}
.ht-60{
    height: 60px !important;
}
.ht-40{
    height: 40px !important;
}
.m-lft-top-10{
    margin-left: 10px;
    margin-top: 10px;
}
.checkbox_label{
      font-family: Raleway;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #12203c !important;
}
.m-top-bot-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.input_txt{
        height: 31px !important;
    border-radius: 5px;
    border: solid 1px #dce6f0;
    background-color: #ffffff;
    width: 81%;
    margin-left: 20px;
    margin-top: 13px;
}
.download_report{
    height: 53px;
  border-radius: 9px;
  background-color: #9e03ff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 100%;
    text-align: center;

}
.downloading_report{
      height: 53px;
      opacity: 0.38;
  border-radius: 9px;
  background-color: #9e03ff;
  pointer-events: none;
    font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 100%;
    text-align: center;

}

// Style Set Modal
.set-modal-display {
    display: block;
    position: absolute;
    width: 80%;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.set-modal{
    border: none;
    border-radius: 7px;
    height: 500px;
    .set-modal-inner{
        .set-modal-top{
            display: block;
            padding: 20px 30px;
            h3{
                font-size: 16px;
                font-weight: 600;
                display: inline-block;
            }
            .closeButtonIcon{
                float: right;
                background-color: transparent;
            }
        }
        .set-modal-body{
            .set-modal-tab{
                .set-modal-tab-list{
                    border-bottom: 1px solid #eaeaea;
                    padding: 0 30px;
                    li{
                        a.smt-btn{
                            border-radius: 6px;
                            border: none;
                            font-size: 11px;
                            font-weight: 500;
                            margin-right: 10px;
                            border-bottom: 1px solid #eaeaea;
                            color: #788090;
                            padding-left: 0;
                        }
                        a.smt-btn:hover{
                            background-color: transparent;
                        }
                    }
                    li.active{
                        a.smt-btn{
                            color: #000000;
                            font-weight: 600;
                        }
                        a:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 20px;
                            height: 2px;
                            background-color: #000000;
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }
            .set-modal-tab-content{
                padding: 20px 30px;
                height: 398px;
                overflow: auto;
            }
        }
    }
}
.width-150{
    width:150px !important;
}
.marginLeft_150{
    margin-left:150px !important;
}
.set{
    position: relative;
    bottom: 10px;
    right: 10px;
    font-weight: 800 !important;
}
.reverse {
    top:auto;
    bottom:100%;
}
.pos-rel{
    position:relative !important;
}

// input Backgroud Change 
.inputBgLiteY{
    border: solid 1px #fff4c9 !important;
    background-color: #fffae7 !important; 
    padding-right: 25px
}

.top-min-2{
    tbody{
        tr{
            td{
                .purchaseTableDiv{
                    top: -2px;
                }
            }
        }
    }
}

// Po History Table first td width set
.poHistory-table{
    .poH-margin-left{
        margin-left: 165px !important;
        table{
            thead{
                tr{
                    th.fixed-side-history.fixed-side1{
                        width: 200px !important;
                        
                    }
                }
            }
            tbody{
                tr{
                    td.fixed-side-history.fixed-side1{
                        width: 200px !important;
                        .pohAprv-btn, .pohRejt-btn{
                            display: inline-block;
                            padding: 0;
                            background: none;
                            border-radius: 0;
                            margin-left: 10px;
                            img{
                                width: 50px;
                                height: 30px;
                            }
                        }
                        .pohAprv-btn{
                            margin-left: 10px;
                        }
                        .m-left-0{
                            margin-left: 0;
                        }
                        .positionCheckbox {
                            top: -12px!important;
                        }
                        .edit_button{
                            padding: 0;
                            padding-top: 7px;
                            margin-left: 9px;
                            border: none;
                        }
                        .edit_button:hover{
                            background-color: transparent;
                        }
                        .edit_button-po{
                            padding-top: 0;
                        }
                        .pend_badge_pos{
                            margin-left: 0 !important;
                        }
                        .pipo-delete-icon {
                            padding: 6px;
                            background: #fff;
                            margin-left: 5px;
                            margin-top: 10px;
                            border-radius: 50%;
                        }
                        .m-top-0{
                            margin-top: 0;
                        }
                        .pipo-delete-icon:hover{
                            background-color: #eb000830;
                            svg path {
                                fill: #ff4602;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Change Create Set button to a icon
button.create-set-icon{
    border: none;
    width: 54px;
}
button.create-set-icon:hover{
    background-color: transparent;
    border: none;
}
.inputBgLiteY .tInputSearch, .inputBgLiteY.tInputSearch{
    background: url("../assets/searchicon.svg");
    background-repeat: no-repeat;
    background-position: 96%!important;
    background-size: 14px;
}
.widthauto{
    width: auto !important;
}
.sectionOneTable{
    .marginLeft_80{
        .zui-table .fixed-side{
            width: 80px;
        }
    }
}

.modal-new-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    height: auto;
    background: transparent;
    .modal-select {
        li {
            padding: 0 !important;
            display: block;
            width: 150px;
            label {
                margin-bottom: 0;
            }
        }
    }
    .pagerDiv {
        margin: 0px;
        position: relative;
        .pagination {
            width: auto;
            height: auto;
            li {
                width: auto;
                height: auto;
                .PageFirstBtn {
                    width: auto;
                    height: auto;
                    padding: 6px 15px;
                }
            }
        }
    }
}
.error.mnb-error {
    position: absolute;
    bottom: 7px;
    left: 10px;
}

// Style Set Modal CatDesc
.catdesk-table {
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    .manage-cat-desk-table {
        overflow-y: hidden;
        overflow-x: auto;
        .table {
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead {
                tr {
                    height: 35px;
                    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
                    th {
                        height: 35px;
                        border-bottom: none;
                        label {
                            font-size: 10px!important;
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                }
            }
            tbody {
                tr {
                    height: 35px;
                    td {
                        height: 35px;
                        min-width: 140px;
                        .inputTable{
                            height: 30px;
                        }
                    }
                    .pnt-fixed{
                        width: 126px;
                        box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
                        border: none;
                        ul{
                            .pnt-f-icon{
                                position: relative;
                                padding: 6px;
                                border-radius: 50%;
                                margin-right: 10px;
                                cursor: pointer;
                            }
                            .pnt-bg-red:hover{
                                background-color: #eb000830;
                            }
                            .pnt-bg-yellow:hover{
                                background-color: #fea7031f;
                            }
                            .pnt-bg-yellow svg:hover path{
                                fill: #fea703;
                            }
                            .pnt-bg-blue:hover{
                                background-color: #23e3eb1a;
                            }
                            .pnt-bg-blue svg:hover path{
                                fill: #23e3eb;
                            }
                            .pnt-paste-btn:hover{
                                background-color: #2681ff1f;
                                svg{
                                    path{
                                        fill: #2681ff;
                                    }
                                }
                            }
                        }
                    }
                    .tInputText{
                        border: solid 1px #faecb4;
                        background-color: #fffae7;
                    }
                    .tInputRead{
                        border: 1px solid #bfdfff;
                        background-color: #f2f5f8;
                    }
                    .tInputType{
                        border: solid 1px #faecb4;
                        background-color: #fffae7;
                    }
                }
            }
        }
    }
}