.replenishment_container{
    width: 100%;
    height: auto;
    display: inline-block;
    // margin-top: 10px;
    margin: 0px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.replanishmentList{
    margin-top: 10px;
}
.mar-top-15{
    margin-top:15px !important;
}
.replanishmentList>li>label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    float: left;
    margin-bottom: 15px;
    width: 85px;
}
.replanishmentList>li>span{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    float: left;
    margin-left: 20px;
}
.replanishmentList>li{
    width: 52%;
    text-align: left;
    padding: 0px;
}
.rightReplenishment{
    width: 80%;
    height: 82%;
    /* padding: 20px; */
    text-align: center;
    margin: auto;

}
.replenishmentAnimateDiv{
    width: 80%;
    // height: 103%;
    height: auto;
    padding-bottom: 20px;
    border-radius: 57px;
    position: absolute;
    box-shadow: 0 0 16px 2px hsla(0,0%,75%,.5);
    background-color: #f8f8f8;
}
.replenishmentAnimateInsideDiv
{
    width: 320px;
    height: 92%;
    border-radius: 57px;
    left: 37px;
    top: 0px;
    position: absolute;
    box-shadow: 0 0 16px 2px rgba(191, 191, 191, 0.5);
    background-image: linear-gradient(190deg, #6d6dc9, #f6f6f6);
}
.formDivReplenishment{
    width: 100%;
    margin-top: 5%;
    display: inline-block;
}
.formDivReplenishment>div>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #4a4a4a;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.dropdownDivReplenishment{
    margin-top: 1%;
    width: 100%;
    height: auto;
    display: inline-block;
}
.selectInputDiv{
    margin-right: 15px;
}
.selectInputDiv>select, .selectInputDiv>input{
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    width: 100%;
    height: 30px;
    text-indent: 5px;
}
.footerReplenishment{
    position: absolute;
    bottom: 0px;
    left: 25px;

}
.displaynone{
    display: none;
}
.footerReplenishment>button{
    width: 190.5px;
    height: 35px;
    border-radius: 29.5px;
    border: 1px solid #6d6dc9;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-image: radial-gradient(circle at 0 0,#3d3c99 8%, #6d6dc9);
  }

  .topReplensh{
      width: 100%;
      display: inline-block;
      height: auto;
  }
  .jobInfo{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    width: 120px;
    height: 25px;
    opacity: 0.59;
    border-radius: 15px;
    background-color: #d2d2d2;
    left: 60px;
    float: left;
    /* display: inline-block; */
    position: relative;
    top: 25px;
    padding-top: 5px;
  }
.topReplensh>h3{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
}
.topReplensh>p{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
}
.middleReplensh{
    margin-top: 75px;
}
.middleReplensh>svg{
    width: 50%;
    position: relative;
}
.middleReplensh>svg:nth-child(2){
    position: absolute;
    left: 141px;
    top: 52px;
    width: 80%;
}
.bottomReplesh{
    margin-top: 40px;
}
.updateEngin{
    width: 68%;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.updateEngin>span{
    font-weight: 600;
}
.schduleTime{
    width: 100%;
    margin-top: 15px;
    border-bottom: none;
}
.schduleTime>span{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    // border-bottom: 1px solid #ccc;
}
.timeSchedule{
    display: block;
    width: 40%;
    margin: auto;
    font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 5px;
}
//   __________________ANIMATION_____________
.circle {
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: #6d6dc9;
    
    position:relative;
    top: 40px;
    left: 45px;
    
    -webkit-transition:height .15s ease, width .15s ease;
    transition:height .15s ease, width .15s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    float: left;
  }
  

  .circle:before,
  .circle:after {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius:50%;
    border:1px solid #6d6dc9;
  }
  
  .circle:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
  }
  .circle:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
  }
  
  .circle:hover:before,
  .circle:hover:after {
    -webkit-animation: none;
    animation: none;
  }
  
  @-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.95); opacity:1;}
    100% {-webkit-transform:scale(2.5); opacity:0;}
  }
  
  @keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.95); opacity:1;}
    100% {transform:scale(2.5); opacity:0;}
  }
  .toolTipSvg{
    display: none;
  }

  .onHoverSvg{
      cursor: pointer;
  }
  .onHoverSvg:hover .toolTipSvg{
      display: block;
  }

  .height95vh{
      height: 95vh !important;
  }
  .height90vh{
      height:90vh!important;
  }
  .detailDemand>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .detailDemand>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #727272;
  }
  .numberDetail{
    margin-top: 45px;
    width: 80%;
    border: 2px solid #ddd;
    height: 40vh;
    text-align: center;
    border-radius: 20px;
  }
  .numberDetail>svg{
    position: relative;
    top: -45px;
    margin: auto;
    text-align: center;
    width: 30%;
  }
  .listDemand>ul>li>h5{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 10px;
  }
  .listDemand>ul>li>span{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: block;
  }
  .listDemand>ul>li{
      width: 100%;
      height: auto;
      margin-bottom: 25px;
  }
  .demandArrow{
    width: 25%;
    position: absolute;
    bottom: -30px;
    right: 90px;

  }
  .listDemand{
    position: relative;
    top: -35px;
  }
  .borderTop>ul>li:nth-child(2){
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
    margin-bottom: 15px;
  }
  .firstSvg{
      width: 65%;
  }
  .runDemandSvg{
      text-align: center;
  }
  .midSvg{
    position: absolute;
    left: 121px;
    top: 37px;
    width: 52%;
  }
  .runDemandSvg .lastImg{
    position: absolute;
    left: 38%;
    top: 0;
    width: 25%;
  }
  .lftSideContent{
      text-align: center;
      width: 100%;
      height: auto;
      display: block;
      margin-top: 10px;
  }
  .lftSideContent>ul>li{
      width: 100%;
      height: auto;
      margin-bottom: 5px;
  }
  .lftSideContent>ul>li>h3{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .lftSideContent>ul>li>h3>span{
      font-weight: 600;
  }
  .lftSideContent>ul>li>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .launchBtn{
    background-color: #6d6dc9;
    margin-top: 15px;
    font-family: Montserrat;
    width: 160px;
    height: 30px;
    border-radius: 26px;
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    // opacity: 0.6;
    color: #fff;
  }
  .demandSchduleBtn{
    position: relative;
    top: -15px;
    left: 8px;
    width: 60%;
    height: 30px;
    font-family: Montserrat;
    border-radius: 25px;
    background-color: #6d6dc9;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }
  .m-rgt-10{
    margin-right: 10px;
  }


//   _____________________________Summary___________________

.runSummary{
    object-fit: contain;
    border-radius: 11px;
    box-shadow: 0 0 22px 0 rgba(191, 191, 191, 0.5);
    background-color: #ffffff;
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;

}

.filterSummary>label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    width: 100%;
    margin-bottom: 0;
    height:31px;
    
}
.summaryfilterSelect{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    background-color: #fff;
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    text-indent: 5px;
}
.summaryExportData{
    display: inline-block;
    width: 32%;
    height: auto;
    margin: auto;
    float: left;
}
.summaryExportData>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    // text-align: right;
    padding-right: 23px;
}
.filterSummary{
    display: inline-block;
    width: 65%;
    height: auto;
    text-align: left;
    margin: auto;
}
.headSummary>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
.jobSummaaryDetail, .jobSummaaryDetail1{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: inline-block;
}
.jobSummaaryDetail>li:nth-child(1){
    width: 100%;
    padding: 0px;
}

.jobSummaaryDetail>li:nth-child(2){
    width: 30%;
    padding: 0px;
    margin-top: 20px;
}
.jobSummaaryDetail>li:nth-child(3){
    width: 30%;
    padding: 0px;
    margin-top: 20px;
}
.jobSummaaryDetail>li:nth-child(4){
    width: 40%;
    padding: 0px;
    margin-top: 20px;
}
.jobSummaaryDetail>li:nth-child(5){
    width: 100%;
    padding: 0px;
    margin-top: 20px;
}
.jobSummaaryDetail>li:nth-child(6){
    width: 100%;
    padding: 0px;
    margin-top: 20px;
}
.jobSummaaryDetail>li>label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    float: left;
    display: inline-block;
}
.jobSummaaryDetail>li>span{
    font-weight: 600;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    display: block;
    display: inline-block;
    margin-left: 10px;


}
.jobSummaaryDetail1>li>button, .jobSummaaryDetail1>li>a>button{
    width: 50px;
    height: 25px;
    color: #4a4a4a;
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #f4f4f4;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    transition: .5s;
    font-weight: 600;
}
.jobSummaaryDetail1>li{
    padding: 0px;
}
.jobSummaaryDetail1>li>button:nth-child(1){
    margin-right: 10px;
}
.jobSummaaryDetail1>li button:hover{
    color: #fff;
    background: #6d6dc9;
    transition: .5s;
}
.zui-scroller1 {
    margin-left: 140px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    max-width: 1084px;
}
.bordere3e7f3{
    border-top: 1px solid #e3e7f3;
}
.summaryfilter{
    width: 119px;
    height: 24px;
    border-radius: 12px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #fff;
    background-color: #c44569;
    margin-left: 10px;
}
.summaryfilter>svg{
    position: relative;
    left: -8px;
    top: -1px;
}
.filterSummary>p{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #9b9b9b;
}
.filterSummary>p>span{
    font-weight: 600;
    display: block;
    width: 100%;
    color: #4a4a4a;
}
select{
    outline: none !important;
}
.statusDiv{
    width: 33%;
    position: relative;
    left: 73px;
    top: -26px;
}
.statusDiv>svg{
    width: 100%;
    
}
.statusDiv>label{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    position: absolute;
    left: 25px;
    top: 30px;
}

// ______________________________HISTORY ___________________
.historyDataDiv{
    width: 100%;
    height: 30vh;
    // opacity: 0.54;
    margin-top: 10px;
}
.radioBtnDiv{
    width: 30%;
    float: left;
    height: auto;
    display: block;
}
.containerHistoryRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
     display: none;
}

.containerHistoryRadio .checkmark {
    content: "";
    position: absolute;
    // top: 0px;
    // left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.checkmark::before {
    content: "";
    position: absolute;
    display: none;
}

.containerHistoryRadio input:not(:checked)~ .checkmark::before {
    display: block;
}

.containerHistoryRadio .checkmark::before {
    top: 7px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
}
.containerHistoryRadio input:checked~.checkmark {
    background-color: #6d6dc9;
    border: 1px solid #6d6dc9;
}

.containerHistoryRadio input:not(:checked)~ .checkmark {
    background: transparent;
    border: 1px solid #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerHistoryRadio input:checked ~ .checkmark:after {
    display: block;
}

.containerHistoryRadio .checkmark:after {
    top: 7px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}
.contentRadioHistory {
    float: right;
    width: 210px;
    margin-left: 40px;
    position: relative;
    top: 7px;
}
.contentRadioHistory>span{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.contentRadioHistory>p{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    width: 80%;
    text-overflow: ellipsis;

}
.radioBtnDiv>ul>li{
    width: 100%;
    margin-top: 10px;
    height: 45px;
}
.formHistoryDiv{
    width: 60%;
    height: auto;
}
.formHistoryDiv>p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.formHistoryDiv>h2{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.floatLeft{
    width: 45%;
    float: left;
}
.floatRight{
    float: right;
    width: 45%;
}
.formHistory{
    width: 90%;
    height: auto;
    margin-top: 20px;
}
.fromLabel, .tolabel{
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.historyInput{
    border-radius: 5px;
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    width: 100%;
    height: 30px;
}
.svgImage{
    position: relative;
    right: -165px;
    top: -24px;
}
.filterBtnHistory{
    width: 100px;
    height: 25px;
    border-radius: 25px;
    background-image: radial-gradient(circle at 0 0,#3d3c99 8%, #6d6dc9);
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.btnStatusTable{
    height: 20px;
    width: 80px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #f5a623;
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.sucessStatusTable{
    height: 20px;
    cursor:inherit;
    width: 80px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #a59bd6;
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.failureStatusTable{
    height: 20px;
    cursor:inherit;
    width: 80px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #c44569;
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.historyZui-wrapper {
    position: relative;
    // overflow-y: auto;
    // overflow-x: hidden;
    height: auto;
}
.zui-scrollerHistory {
    margin-left: 205px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    max-width: 1020px;
}
.zui-table .fixed-side1 {
    left: 0;
    position: absolute;
    top: auto;
    width: 205px;
    height: 11%;
    box-shadow: 8px 0 14px -3px #efefef;
    border-right: none!important;
    border-bottom: none!important;
}
.filter{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.width30{
    width: 30px;
}

.scrollerHistory>tbody>tr>td:nth-child(2) label {
    word-break: normal;
    max-width: 90px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    color: #4a4a4a;
}
.scrollerHistory>thead>tr>th:nth-child(2) label{
    width: 95px !important;
}
.scrollerHistory>thead>tr>th>label{
    width: 139px !important;
}
.scrollerHistory>tbody>tr{
    height: 45px !important; 
}
.selectboxReplenishment{
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    width: 29%;
    margin-right: 20px;
    height: 30px;
    text-indent: 5px;
    float: left;
}
.selectboxReplenishment>label{
    position: relative;
    left: 0;
    top: 7px;
    float: left;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
}
.selectboxReplenishment>span{
    position: relative;
    right: -120px;
    top: 5px;
    font-size: 15px;
}
.dropdownReplenishmentConfi{
    width: 100%;
    height: 188px;
    border-radius: 9px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    margin-top: 25px;
    display: none;
}
.dropdownReplenishmentConfi>ul>li{
    padding: 12px;
    width: 80%;
    float: left;
    margin-left: 20px;

}
.dropdownReplenishmentConfi>ul>li:hover{
    box-shadow: 0 6px 8px -5px rgba(205, 205, 205, 0.5);
    border: solid 1px #f7f7f7;
    background-color: #ffffff;

}
.dropdownReplenishmentConfi>ul>li:hover span{
    color: #6d6dc9;
    font-weight: 600;
}
.dropdownReplenishmentConfi>ul>li>span{
    width: 100%;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #000000;
    display: block;
}
.selectedDropdownList{
    margin-top: 30px;
    width: 100%;
    height: auto;
}
.selectedDropdownList>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #4a4a4a;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.choosenLIst{
    width: 100%;
    display: inline-block;
    height: auto;
}
.choosenLIst>button{    
    // width: 90px;
    height: 34px;
    border-radius: 17.5px;
    border: solid 1px #e4e4e4;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .6px;
    color: #4a4a4a;
    background: transparent;
    text-align: right;    
    margin-top: 15px;
    margin-right: 10px;
    padding: 0;
}
.height85{
    height: 85%;
}
.height76{
    height:85%;
}
.choosenLIst>button:nth-child(1){
    margin-left: 0px !important;
}
.choosenLIst>button:nth-child(8){
    margin-left: 0px !important;
}
.margin0{
    margin-left: 0px !important;
}
.replenishmentCheck{
    float: left;
    position: relative;
    // left: 10px;
    top: -7px;
}


.pie,
.c100 .bar,
.c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #6d6dc9;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.c100 {
  position: relative;
  top:-16;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #e6e6f5;
  margin: auto;
}
.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.c100.big {
  font-size: 159px;
}

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: relative;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100:hover {
  cursor: default;
}
.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #307bbb;
}
.c100:hover:after {
    top: .08em;
    left: .08em;
    width: .84em;
    height: .84em;
}


.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.pie,
.c101 .bar1,
.c101.p100 .fill1 {
  position: absolute;
  border: 0.08em solid #F76B1C;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.c101 {
    position: absolute;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    /* background-color: #ccc; */
    margin: auto;
    top: 100px;
    left: 33%;

}
.c101 *,
.c101 *:before,
.c101 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.c101.big1 {
  font-size: 130px;
}

.c101 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c101:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
//   background-color: #fff;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c101 .slice1 {
  position: relative;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c101:hover {
  cursor: default;
}
.c101:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #FAD961;
}
.c101:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}


.c101.p51 .bar1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.colorCart>g{
    fill: #6d6dc9;
}
.width95{
    width: 95px;
}
.width65{
    width: 65px;
}
.width80{
    width: 80px;
}
.width75{
    width: 75px;
}
.width110{
    width: 110px;
}

.disabled:disabled {
    background-color: #aaaaaa;
    margin-top: 15px;
    font-family: Montserrat;
    width: 160px;
    height: 30px;
    border-radius: 26px;
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    // opacity: 0.6;
    color: #fff;
}

.jobSummaaryDetail1>li>a{
    width: 50px;
    height: 25px;
    color: #4a4a4a;
    background: transparent;
    // border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #f4f4f4;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    transition: .5s;
    font-weight: 600;
}
.jobSummaaryDetail1>li>a:hover{
    color: #fff;
    background: #6d6dc9;
    transition: .5s;
}
.autoConfigCheck label{
    padding-right: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
}
.runDemandSuccess svg{
    z-index:1;
}
.runDemandSuccess .runStateDemand{
    color:#57a700;
    display:block;
}
.runDemandSuccess ul button{
    color:#4a4a4a;
    background:transparent;
    border:1px solid #4a4a4a;
    border-radius:33px;
}
.runDemandSuccess .listDemand ul {
    margin-bottom: -25px;
}
.runDemandSuccess{
    height:auto;
}
.runDemandSuccess .runDemandStop{
    color:  #ff0000;
    display: block;
    font-weight: 600 !important;
}
.noInternetError{
    z-index: 9999999;
    position: relative;
    margin-left: -15px;
    width: 103%;
    height: 100vh;
    overflow-x: hidden;
    background: #fff;
}
.noInternetError .errorPage{
    height: 99.5vh;
}
.backButtonErrorpage{
    position: absolute;
    top: 44px;
    left: 50px;
    height: 29px;
    width:82px;
    border-radius: 17.1px;
    border: .9px solid #e4e4e4;
    background-color: #fff;
    font-family: Montserrat;
    font-size: 10.1px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    transition: .5s;
}
.backButtonErrorpage:hover{
    color: #fff;
    background-color: #6d6dc9;
    transition: .5s;

}
.requestErrorMain{
    height: 94%;
    position: absolute;
    width: 100%;
    left:0;
    top: 0;
    z-index:9999;
}
.downloadSummaryButton{
    margin-top: -5px;
    display: flex;
    align-items: center;
}
.downloadSummaryButton img{
    margin-left:10px;
}
.downloadSummaryButton>p{
    padding-left:4px;
    display: inline-block;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #4a4a4a;
}
.downloadSummaryButton button{
    border-radius: 33px;
    background-color: #6d6dc9;
    font-family: Montserrat;
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 7px 15px;
}

.successFailDemand{
    position: absolute;
    width: 100%;
    display: inline-flex;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.successFailDemand .modal-dialog{
    max-width:100%;
    margin: 0;
    padding: 0;
}
.successFailDemand .background-blur{
    background-color: #ffffff;
    opacity: .7;
    height: 98%;
    width: 100%;
    position: absolute;
}
.successFailDemand .modal-content{
     position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    text-align: center;
    z-index: 1001;
}
.successFailDemand h2{
    font-family: Montserrat;
    font-size: 15.6px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#4a4a4a;
    margin-top:0px;
    display: inline-block;
}
.successFailDemand p span{
    font-weight: 600;
}
.successFailDemand .close-btn{
    border-radius: 17px;
    box-shadow: none;
    outline: none;
    border: 1px solid #dcdcdc;
    background: transparent;
    font-size: 12px;
    padding: 0px 28px;
    color: #4a4a4a;
    font-weight: 500;
    cursor: pointer;
    float: left;
    height: 30px;
    margin-right: 20px;
    height: 33.4px;
}
.successFailDemand .confirm-btn{
    height: 33.4px;
     border-radius: 15.7px;
      background-color: #6d6dc9;
    box-shadow: none;
    outline: none;
    border: 1px solid #dcdcdc;
    padding: 0px 28px;
    cursor: pointer;
    margin-right:10px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    float:right;
}
.successFailDemand .icon{
    display: inline-block;
    margin-right: 18px;
    height: 30px;
    vertical-align: middle;
}
.successFailDemand .icon img{
    height: 25px;
    width: 25px;
}
.successFailDemand .modal-data{
     border-radius: 4.8px;
    box-shadow: 0 2px 8px 0 rgba(216, 216, 216, 0.5);
    background-color: #ffffff;
    width: 100%!important;
    display: inline-block;
    padding: 25px;
    text-align: left;
    z-index: 2;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    /*border: 1px solid rgba(0,0,0,.2);*/
    outline: 0;
    height:218px;
}
.successFailDemand p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top:11px!important;
}
.successFailDemand .modal-footer{
    /*float:right;*/
    display: inline-block;
    width:100%;
    border: 0;
    margin-top:29px;
}
.successFailDemand .modal-header{
    // margin-top:15px;
    width:100%;
    display:block;
    border: 0;
}
.successFailDemand .confirm-btn a{
    color:#ffffff;
    text-decoration: none;
}
.timeZoneLabel label{
    font-weight: 400;
    font-size: 9px;
}
// .summaryStatus{
//     left: 279px;
// }
.summaryStatus label{
    width: 60%;
    left:0;
    text-align: center;
    top: 29px;
    font-size: 12px;
}
.runDemandTimeElapsed{
    position: absolute;
    top: 135px;
    right: 208px;
    width: 100px;
}
.runDemandTimeElapsed h5{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8f8f8f;
    font-size:9px;
}
.runDemandTimeElapsed h3{
    font-family: Montserrat;
    margin-bottom: 0;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4a4a4a;
}
.runDemandTimeElapsed p{
    font-size: 11px;
    font-weight: 500;
}
.lastEngineRunTime p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-align: center;
}
.lastEngineRunTime p span{
   font-weight:bold;
   border-radius: 10px;
   background-color: #ececf6;
   padding: 1px 10px;
   margin-left: 3px;
}
.tableGeneric tbody tr{
    height:40px!important;
}
.tableGeneric tbody tr td:first-child{
    height:40px!important;
    padding:0;
}
.tableGeneric tbody tr td{
    padding-left:8px!important;
    line-height: normal;
    padding-top:0;
    padding-bottom:0;
}
.tableGeneric thead tr {
    height:40px!important;
}
.tableGeneric thead tr th:first-child{
     height: 40px;
}
.tableGeneric thead tr th{
    line-height:2;
    vertical-align: middle;
}
 .tableWidth{
    max-width:1195px;
}
.tableGeneric td label, .tableGeneric th label{
    margin-bottom:0;
}
.tableGeneric .zui-scrollerHistory{
    // max-width: 992px;
    width:auto;
}
.tableGeneric .scrollableTableFixed{
    width:auto;
}
.autoComfigTime{
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    width:20%;
    margin: auto;
}
.autoComfigTime h3{
    font-family: Montserrat;
    margin-bottom: 0;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: center;
    color: #4a4a4a;
}
.autoComfigTime p{
    font-size: 11px;
    font-weight: 500;
}
.csvBtn button{
    background:transparent!important;
    color: #4a4a4a;
    font-size: 10px;
    height: 25px;
    width: 45px;
    outline: none;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}
.summaryExportData .csvBtn{
    padding-right:22px;
}
.summaryExportData .jobSummaaryDetail1{
    margin-top: 16px;
    text-align: left;
}
.summaryExportData .jobSummaaryDetail1 button{
    height: 30px;
}
.csvBtn{
    text-align: right;
    padding-right: 38px;
}
.csvBtn a{
    background: transparent!important;
    border:0!important;
}
.historyTableDownload .topToolTip label{
    font-size:11px;
}
.historyTableDownload .topToolTip .topToolTipText:after{
    display: none;
}
.historyTableDownload .topToolTip .topToolTipText{  
    width: 436px;
    left: 68%;
}
.historyJobStatus button{
    font-size: 8px;
}
.historyTableMain .scrollableTableFixed {
    max-width: 897px;
    margin-left: 296px;
}
.historyTableMain .zui-table .fixed-side1{
    width: 296px;
}
.skechersDrop .storeChoose{
    padding-left:0;
}
.skechersDrop .storeChoose ul li{
    padding-left:0;
    position: relative;
}
.skechersDrop .storeChoose ul li span{
    left:0;
}

.autoConfigTimer{
    position: relative;
}
.autoConfigTimer .replenishmentAnimateInsideDiv{
    width:100%;
    left:-13px;
}
.autoConfigTimer .replenishmentAnimateDiv{
    width: 100%;
    position: relative;
}
.autoConfigTimer .middleReplensh svg{
    position: absolute;
    left: 100px;
    top: 55px;
    width: 100%;
}
.toolTipSvg{
    top: -137px !important; 
}
.runDemandSvg .midSvg{
    left:24%;
    top:8.5%;
}
.runDemandSvg .runDemandTimeElapsed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.runDemandSvg .clearfix{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    text-align: center;
}
.runDemandSvg .clearfix .progress-circle-demand{
    top: 0%;
    margin:0;
}
.runDemandSvg .c101{
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
}
.runDemandSvg .c101 .slice1{
    margin: 0 auto;
}
.summaryResp{
    height: auto;
    display: inline-block;
}
.blankDiv{
    height:246px;
}
.inputBoxesGeneric input, .inputBoxesGeneric select ,.inputBoxesGeneric textarea{
    width:100%!important;
}
.autoConfigTimer .autoConfigMid{
    height: 100px;
    position: absolute;
    top: 162px;
    width:100%;
}
.runDemandSvg .autoConfigMid{
    height: 33%;
    position: absolute;
    top: 31%;
    width:100%;
}
.runDemandSvg .timeRunDemandMid{
    height: 150px;
    position: absolute;
    top: 24%;
    width: 100%;
}
.runDemandSvg .progress-circle-demand{
    width: 100%;
    height: 100%;
}
.midSvgbg{
    height: 130px;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}
.storeGradeMain{
    vertical-align: bottom;
}
.dropDownSkech{
    right: -74px;
    top: 39px;
}
.csvSummary button:hover{
    background:#6d6dc9!important;
    color:#ffffff;
}
.noClickDiv{
    display: inline-block;
    height: 245px;
    width: 50vw;
    position: absolute;
    top: -36px;
    z-index: 2;
    opacity: 0.93;
    border-radius: 10px;
    background-color: #fbfbfb;
}
.skechersTooltip{
    display: none;
}
.toolTipMainHover:hover .skechersTooltip, .toolTipMainHover:hover .topToolTip{
    display:block;
    visibility: visible;
}
.toolTipMainHover{
    display: inline-block;
    height: 205px;
    width: 50vw;
    position: absolute;
    top: -13px;
}
.toolTipMainHover .skechersTooltip{
    background: transparent;
    border:0;
    top: 22px;
    z-index: 2;
    width: 49%;
    left: 235px;
}
.toolTipMainHover .skechersTooltip h3{
    font-size: 19px;
    margin-top:10px;
}
.toolTipMainHover .skechersTooltip p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    word-spacing: 1px;
    margin-top: 10px;
}
.toolTipMainHover .topToolTip .topToolTipText::after{
    display: none;
}
.skechersPatch{
    z-index: 10;
}
.skechersPatch.toolTipMainHover:hover .noClickDiv{
    display: block;
}
.historyToolTip{
    width: 220px!important;
    height: 44px;
    padding: 5px 10px;
    word-break: break-all;
    white-space: normal;
}
.setUdfMappingMain ul.display_block{
    display: block !important;
}
.display_block{
    display: block !important;
    
}
