
.container_content_resetPAss{
    width: 100%;
    height: 94vh;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 9px 0 hsla(0,0%,76%,.5);
}

.main_content{
    display: block;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.formBoxReset{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    outline: none;
    text-indent: 5px;
    opacity: 0.7;
  }
  .formtextarea {
    height: 15vh;
    width: 370px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    padding: 10px;
    resize: none;
  }
  .privacy_link{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}
.btn-save{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #6d6dc9;
    border: solid 1px #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
}
.btn-clear{
    width: 120px;
    height: 20px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
    border: none;
    background-color: #ffffff;
    outline: none;
}
.button{
    top: 60%;
    position: fixed;
}
.right_sideheader{
    position: fixed;
    right: 0;
    z-index: 1;
    width: 255px;
    height: 90vh;
    top: 85px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 5px 0 rgba(195, 195, 195, 0.5);
}

.side_header{
    padding: 15px;
}

.header_button {
    width: 60px;
    height: 25px;
    border-radius: 15px;
    border:1px solid #6d6dc9;
    background-color: #ffffff;
    outline: none;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
  }

.header_button:hover{
    background-color: #6d6dc9;
    color: #ffffff;
}
.heading-title{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.heading-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #606060;
}
.main_content{
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: auto;
}

.user_Div {
    width: 100%;
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
}

.resetPassword{
    padding-top: 17%;
    margin: auto;
    display: block;
    height: auto;
    text-align: center;
}

.btn-submit{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #6d6dc9;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
}

.back_to_home{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    
}
.back>li>a{
    text-decoration: none;
    color: #4a4a4a;
}
.resettingPassword .heading-title{
    font-size: 15px;
}
.resettingPassword .para-content{
    font-size: 13px;
}
.resettingPassword .resetPassForm .error_icon{
    right: 27px;
}
.errorToolTip{
    padding: 6px;
    border-radius: 7px;
    box-shadow: 0 0 34px 0 hsla(0,0%,77%,.5);
    background-color: #fff;
    height: auto;
    position: absolute;
    width: 197px;
    top: 25px;
    right: -10px;
    z-index: 2;
}
.errorToolTip{
    display: none;
}
.errorToolTip::after{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 13px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.errorToolTip span{
    font-weight: 500;
    color: #4a4a4a;
}
.ErrorInfoMain{
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 8px;
}
.ErrorInfoMain:hover .errorToolTip{
    display: block;
}
.ErrorInfoMain img{
   position: initial;
}

// Resetting Password New Design
.reset-password-page-container{
    min-height: calc(100vh - 59px);
    background-color: #fff;
    padding: 0;
}
.reset-password-page {
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    .rpp-inner{
        padding: 40px 50px;
        .rppi-head{
            display: block;
            padding: 20px 0;
            h3 {
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                color: #21314b;
            }
            p {
                color: #97abbf;
                font-size: 12px;
                font-weight: 500;
                margin-top: 4px;
            }
        }
        .rppi-body{
            .rppib-input{
                display: block;
                margin: 20px 0;
                position: relative;
                input[type="password"] {
                    border-radius: 5px;
                    padding: 0 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 800;
                    height: 34px;
                    color: #000 !important;
                    display: block;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    text-indent: 0;
                    letter-spacing: 1px;
                }
                input::placeholder{
                    font-size: 12px;
                    font-weight: 500;
                    color: #3a5074;
                }
                .ErrorInfoMain {
                    display: inline-block;
                    position: absolute;
                    right: 11px;
                    top: 15px;
                    .errorToolTip span {
                        font-weight: 500;
                        color: #000;
                        font-size: 11px;
                    }
                }
            }
        }
        .rppi-footer{
            button{
                display: block;
                width: 100%;
                padding: 8px 10px;
                font-size: 12px;
                font-weight: 600;
                background: #8b77fa;
                border-radius: 5px;
                color: #fff;
                margin: 20px 0;
                height: 40px;
            }
            .back_to_home{
                display: block;
            }
            .back_to_home:hover{
                color: #21314b;
            }
        }
    }
}