@media only screen and (max-width: 1106px) and (min-width:417px){
    .historyMain{
       margin-top:40px;
    }
    .blankDiv{
        height:66vh;
    }
    .autoConfigHeight{
        height:138vh!important;
    }
    // .autoConfigTimer .autoComfigTime{
    //     top:40vh;
    // }
    .macHeight{
        height:auto!important;
    }
    .runDemandSvg .runDemandTimeElapsed{
        right: 38%;
    }
    .runDemandSvg .timeRunDemandMid{
        top:19%;
    }
    .runDemandSvg .autoConfigMid{
        top:29%;
    }
    // reassign modal
    .reassignModal .rolesUpdate{
        width: 118%;
        overflow: auto;
        height: 32vh;
    }
    .reassignModal .rolesUpdate .lftStoreDiv{
        width:47%;
    }
}
@media only screen and (max-width: 1250px) and (min-width:1106px){
    .runDemandSvg .timeRunDemandMid{
        top: 21%;
    }
    .runDemandSvg .autoConfigMid{
        top:30%;
    }
}
@media only screen and (max-width: 1300px) and (min-width:1250px){
    .runDemandSvg .timeRunDemandMid{
        top: 23%;   
    }
}
@media screen and (min-width: 1440px) and (max-height: 900px){
    .assortSelectDiv .checkSeperate{
        right: 32px!important;
    }
    .loaderTextSke{
        left: 642px!important;
    }
}

@media screen and (max-width: 767px){
    .home_link, .home_link>a {
        font-size: 13px;
    }
    .anchorErrorSubMenu>span {
        font-size: 13px;
    }
    .master_para {
        font-size: 13px;
    }
    .adminBreacrumbsDropdown>a {
        font-size: 14px;
    }
    .rightSideDiv>ul>li>label {
        font-size: 14px;
    }
    .purchaseLabel {
        font-size: 14px;
    }
    .rightSideDiv>ul>li>span {
        font-size: 16px;
    }
    .piFormDiv {
        margin-right: 0px;
    }
    .sectionOneTable thead tr th label {
        width: auto!important;
        font-size: 13px!important;
    }
    .clear_button_vendor, .procurement_label {
        font-size: 14px;
    }
    .save_button_vendor {
        font-size: 14px;
    }
    .pipurchaseSelectBoxInputWid .purchaseSelectBox::placeholder {
        font-size: 12px!important;
    }
    .piInputWid .chooseSupplyWidth::placeholder{
        font-size: 12px!important;
    }
    .tableModal>tbody>tr>td {
        font-size: 13px;
    }
    .tableModal>thead>tr>th {
        font-size: 13px;
    }
    .form-box, .para-content {
        font-size: 13px;
    }
    .doneButton, .doneButton_disable {
        font-size: 12px;
    }
    .PageFirstBtn {
        font-size: 14px;
    }
    .chooseDataModal input[type=search] {
        width: 50%;
    }
    .piInputContain input[type=text] {
        font-size: 12px;
        position: relative;
        top: -2px;
    }
    .closeButton {
        font-size: 12px;
    }
    .chooseDataModal input[type=search] {
        font-size: 13px;
    }
    .container_modalRadio, .containerPurchaseRadio {
        font-size: 13px;
    }
    .hovershowDropdown>a {
        font-size: 13px;
    }
    .purchaseOrderSelectBox, .purchaseOrderTextbox {
        height: 40px;
    }
    .inputTextKeyFucMain .inputTextKeyFuc {
        height: 40px;
    }
    .inputTextKeyFucMain span {
        padding: 10.7px 4px;
    }
    .purchaseOrderRangeTextbox {
        height: 40px;
    }
    .purchaseSelectBox, .purchaseTextbox {
        height: 40px;
    }
    .sectionOneTable tbody td label {
        font-size: 14px!important;
    }
    .inputTable {
        font-size: 14px;
    }
    .pires-pg{
        .d-table{
            display: table;
        }
        .piInputContain input[type=text] {
            font-size: 12px;
            position: relative;
            top: -2px;
        }
        .piInputWid {
            width: 50%!important;
            margin-bottom: 15px;
            padding: 0 10px;
        }
        .contribution_mart, .contribution_mart>span {
            font-size: 14px;
            margin-left: 0;
        }
        .purchaseList {
            margin-top: 13px;
        }
        // .m-l-20{
        //     margin-left: 20px;
        // }
        .purchaseList>li:nth-child(2) {
            margin-left: 0px;
        }
        .containerPurchaseRadio .checkmark {
            height: 11px;
            width: 11px;
            top: 3px;
        }
        .purchasedContainer {
            padding-bottom: 20px;
        }
        .containerPurchaseRadio .checkmark:after {
            top: 3px;
            left: 3px;
            width: 3px;
            height: 3px;
        }
        .containerPurchaseRadio .checkmark:before {
            width: 3px;
            height: 3px;
        }
        .dataPiBtn {
            width: 100%;
            font-size: 13px;
            height: 40px;
        }
        .modalBlueBtn {
            padding: 9.8px 0;
            width: 16px;
        }
        .userModalSelect {
            font-size: 13px;
            padding-top: 11px;
            height: 40px;
        }
        .mo-change{
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
        }
        .pr-order-2{
            -webkit-order: 2;
            order: 2;
        }
        .col-sm-12{
            flex: none;
        }
        .pr-order-1{
            -webkit-order: 1;
            order: 1;
        }
        .rightSideDiv {
            width: 100%;
            border: none;
            margin-top: 10px;
            position: relative;
        }
        .rightSideDiv>ul {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            display: block;
        }
        .rightSideDiv>ul>li {
            display: inline-block;
            padding: 10px 15px;
        }
        .m-top-0{
            margin-top: 0;
        }
        .modalPiDesc, .modalpiopensize, .modalpoColor, .modalpoitemstable, .modaludfMapping, .modaludfSetting, .PiSizeModal {
            width: 90%;
            height: 500px;
            padding: 5px 15px;
        }
        .modal_Indent {
            margin: 0 5%;
            width: 100%;
        }
        .modal-top {
            height: 25%;
        }
        .modal_table {
            height: 64%;
        }
        .m-top-9 {
            margin-top: 9px;
        }
        .float-left{
            float: left;
        }
        .modal-bottom{
            background: transparent;
            margin-top: 7px;
        }
        .width_35 {
            width: 50%!important;
        }
        .modal-select>li {
            padding-left: 0px!important;
        }
        .m-r-15 {
            margin-right: 10px;
        }
        .pagerWidth65 {
            width: 50%!important;
        }
        .paginationWidth50 {
            width: 100%!important;
        }
        // .di-block{
        //     display: inline-block;
        // }
        .clearbutton {
            margin-left: 15px;
        }
        .sizeModalPagination {
            left: 138px;
        }
        .paginationWidth40 {
            width: 66%!important;
        }
        .modal-bottom .modal-select li{
            margin-right: 20px;
        }
        .modalPagination {
            top: 454px!important;
        }
        .modalBtns button:first-child {
            width: 55px;
            margin-right: 10px;
        }
        .modalBtns button:nth-child(2) {
            width: 55px;
        }
    }
    .rs-pg{
        .right_side_container{
            display: none;
        }
        .signin_btn{
            position: relative;
            margin: 20px 0;
            width: 100%;
        }
        .middle_container .list-inline{
            position: relative;
            display: block;
            width: 100%;
        }
        .middle_container .list-inline li {
            display: block;
        }
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
            float: left;
        }
        .signInMain .input_box{
            width: 100%;
        }
        .middle_container {
            left: 0;
            border: none;
            border-left: none;
            border-top: none;
            border-bottom: none;
            border-right: none;
            padding: 10px 20px;
        }
        .m-top-60{
            margin-top: 0;
        }
        .m-top-100{
            margin-top: 0 !important;
        }
        .signInForget {
            position: absolute;
            top: 142px;
            right: 7px;
        }
        .signInPassInput {
            position: relative;
            top: auto;
            right: auto;
        }
        .signInPassInput .forgot_pass{
            width: 100%;
        }
        
        .modalBtns button:first-child {
            width: 62px;
            margin-right: 8px;
        }
        .modalBtns button:nth-child(2) {
            width: 62px;
        }
    }
    .save-current-data .modal-content {
        transform: translate(22%,-50%);
        left: 0;
        width: 400px;
    }
    .modalOrganisationAlert {
        width: 60%;
        left: 20%;
    }
    .modalUpdate {
        height: 25vh;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
            float: left;
    }
    // Style Purchase Order Form Responsive Scss
    .pors-pg{
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
            float: left;
        }
        .pad-right-0 {
            padding-right: 0px;
        }
        .m-top-0 {
            margin-top: 0;
        }
        .m-b-10{
            margin-bottom: 10px;
        }
        .purchaseOrderRangeTextbox {
            font-size: 12px;
        }
        .col-sm-12{
            flex: none;
        }
        .containerPurchaseRadio .checkmark {
            right: -14px;
            height: 10px;
            width: 10px;
            top: 1px;
        }
        .containerPurchaseRadio .checkmark:after {
            top: 2px;
            left: 2px;
            width: 4px;
            height: 4px;
        }
        .purchaseList>li:nth-child(2) {
            margin-left: 22px;
        }
        .containerPurchaseRadio .checkmark:before {
            top: 2px;
            left: 2px;
            width: 4px;
            height: 4px;
        }
        .mo-change{
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
        }
        .pr-order-2{
            -webkit-order: 2;
            order: 2;
        }
        .pr-order-1{
            -webkit-order: 1;
            order: 1;
        }
        .poFormMain .piFormDiv {
            margin-right: 10px;
        }
        .piFormDiv {
            width: 50%;
        }
        .poFormMain {
            padding-bottom: 15px;
        }
        .poAmtTotal {
            margin-top: 0;
            border-radius: 0;
            background: none;
            height: auto;
            padding: 10px 0;
        }
        .poAmtTotal ul {
            top: auto;
            left: auto;
            display: block;
            position: relative;
        }
        .poAmtTotal ul li{
            display: inline-block;
        }
        .poAmtTotal ul li label {
            color: #000000;
            margin-right: 10px;
        }
        .poAmtTotal ul li span{
            color: #6d6dc9;
            margin-right: 10px;
        }
        .poAmtTotal ul li:nth-child(2) {
            margin-top: 0px;
        }
        .m-b-15{
            margin-bottom: 15px;
        }
        .m-top-0{
            margin-top: 0;
        }
        .save-current-data .modal-content {
            transform: translate(22%,-35%);
        }
        .width_35 {
            width: 45%!important;
        }
        .modal-select>li {
            padding-left: 0px!important;
        }
        .pagerWidth65 {
            width: 55%!important;
        }
        .paginationWidth50 {
            width: 100%!important;
        }
        .m-r-15 {
            margin-right: 3px;
        }
        .modalOrganisationAlert {
            width: 60%;
            left: 20%;
        }
        .modalPiDesc, .modalpiopensize, .modalpoColor, .modalpoitemstable, .modaludfMapping, .modaludfSetting, .PiSizeModal {
            width: 90%;
            height: 500px;
            padding: 5px 15px;
        }
        .modal_Indent {
            margin: 0 5%;
            width: 100%;
        }
        .modal-top {
            height: 25%;
        }
        .modal_table {
            height: 64%;
        }
        .purchaseModalContent {
            width: 90%;
        }
        .modalBtns button:first-child {
            width: 55px;
            margin-right: 8px;
        }
        .modalBtns button:nth-child(2) {
            width: 55px;
        }
        .m-rgt-20 {
            margin-right: 9px;
        }
        .clearbutton {
            width: 46px;
        }
        .clear_button_vendor {
            width: 83px;
        }
        .save_button_vendor {
            width: 83px;
        }
        .text-right {
            text-align: left!important;
            padding: 0;
            margin: 5px 0;
        }
        .purchaseList {
            padding-left: 0px;
        }
        .contribution_mart, .contribution_mart>span {
            font-size: 14px;
        }
        .inputTextKeyFucMain .inputTextKeyFuc {
            font-size: 14px;
        }
        .inputTextKeyFucMain .inputTextKeyFuc::placeholder{
            font-size: 12px;
        }
        .purchaseOrderTextbox {
            font-size: 13px;
        }
        .purchaseOrderSelectBox {
            font-size: 13px;
        }
        .purchaseSelectBox, .purchaseTextbox {
            font-size: 13px;
        }
    }
    .alertPopUp .modal-main {
        right: 72px!important;
        width: 338px!important;
        height: 133px!important;
    }
    // Style Purchase Indent History Page 
    .pih-pg{
        .pagination {
            width: 50%;
        }
        .m-top-80 {
            margin-top: 40px;
        }
        .m-top-30 {
            margin-top: 12px;
        }
        .manageSearch .search_bar {
            width: 135px;
        }
        .searchWithBar {
            padding: 8px 8px;
        }
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
            float: left;
        }
        .pdfModalMain {
            width: 90%;
        }
        .adHocBottom button{
            margin-top: 15px;
        }
    }
    // Style Purchase Order History Page 
    .poh-pg{
        .pagination {
            width: 50%;
        }
        .manageSearch .search_bar {
            width: 150px;
        }
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
            float: left;
        }
        .m-top-50 {
            margin-top: 18px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .pires-pg{
        .purchasedContainer{
            padding-bottom: 20px;
        }
        .dataPiBtn {
            width: 100%;
        }
        .width_35 {
            width: 50%!important;
        }
        .pagerWidth65 {
            width: 50%!important;
        }
        .paginationWidth50 {
            width: 100%!important;
        }
        .piInputWid {
            width: 21%!important;
        }
        .modal-select>li {
            padding-left: 0px!important;
        }
        .m-top-9 {
            margin-top: 5px;
        }
        .modalPagination .pagination {
            margin-top: 5px;
        }
        .pagerWidth75 {
            width: 100%!important;
        }
        .sizeModalPagination {
            left: 0;
        }
        .modalPagination {
            top: 79.2vh!important;
        }
        .modalUpdate {
            height: 33vh;
        }
        .modalOrganisationAlert {
            width: 50%;
            left: 25%;
        }        
        .modal-bottom .modal-select li {
            margin-right: 20px;
        }
        .modalDropBtn .mrpSelectCode li {
            display: inline-block;
        }
        .modalPiDesc, .modalpiopensize, .modalpoColor, .modalpoitemstable, .modaludfMapping, .modaludfSetting, .PiSizeModal {
            width: 90%;
            height: 90%;
            padding: 8px;
        }
        .modal_Indent {
            margin: 0 5%;
        }
        .m-top-20 {
            margin-top: 10px;
        }
        .modal_table {
            height: 57%;
        }
        .modalBtns button:first-child {
            width: 62px;
            margin-right: 10px;
        }
        .modalBtns button:nth-child(2) {
            width: 62px;
        }
    }
    .alertPopUp .modal-main {
        width: 355px!important;
        height: 144px!important;
    }
    .pors-pg{
        .piFormDiv {
            width: 42%;
        }
        .poAmtTotal {
            border-radius: 0;
            height: 35vh;
            margin-top: 7px;
        }
        .width_35 {
            width: 45%!important;
        }
        .m-r-15 {
            margin-right: 8px;
        }
        .pagerWidth65 {
            width: 55%!important;
        }
        .paginationWidth50 {
            width: 100%!important;
        }
        .modalOrganisationAlert {
            width: 50%;
            left: 25%;
        }
        .modalBtns button:first-child {
            width: 62px;
            margin-right: 8px;
        }
        .modalBtns button:nth-child(2) {
            width: 62px;
        }
        .modalPiDesc, .modalpiopensize, .modalpoColor, .modalpoitemstable, .modaludfMapping, .modaludfSetting, .PiSizeModal {
            width: 90%;
            height: 90%;
            padding: 8px;
        }
        .modal_Indent {
            margin: 0 5%;
        }
        .m-top-20 {
            margin-top: 10px;
        }
        .modal_table {
            height: 57%;
        }
    }
    // Style purchase-order-history Page
    .poh-pg{
        .m-top-50 {
            margin-top: 30px;
        }
        .pagination {
            width: 50%;
        }
    }
    // Style purchase-indent-history Page
    .pih-pg{
        .m-top-80 {
            margin-top: 63px;
        }
        .pdfModalMain {
            width: 90%;
        }
        .adHocBottom button{
            margin-top: 10px;
        }
        .pagination {
            width: 50%;
        }
    }
}

// Style Header Configuration
.columnFilterDropDown.custom-header-modal {
    box-shadow: 0 3px 6px 0 rgba(108, 108, 108, 0.16);
    background-color: #ffffff;
    height: 400px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 40px;
    width: 650px;
    border-radius: 0;
    .filterHeader.chm-head {
        box-shadow: -3px 7px 8px 0 rgba(181, 181, 181, 0.16);
        background-color: #ffffff;
        height: 40px;
        width: 100%;
        padding: 5px 15px;
        .chmh-search {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input{
                border: solid 1px #ccd8ed;
                background-color: #ffffff;
                width: 320px;
                height: 30px;
                border-radius: 50px;
                font-size: 12px;
                font-weight: 500;
                color: #21314b;
                padding: 3px 10px;
            }
            img{
                position: absolute;
                top: 8px;
                right: 52px;
                width: 14px;
            }
            .crossIcon{
                position: absolute;
                top: 1px;
                left: 339px;
                bottom: auto;
                width: auto;
                padding: 0;
                height: auto;
                img{
                    width: 10px;
                    cursor: pointer;
                }
            }
        }
        .chmh-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            button{
                font-weight: 600;
                font-size: 12px;
                padding: 6px 20px;
                margin-left: 15px;
                border-radius: 20px;
                color: #718096;
                background-color: transparent;
            }
            .saveBtn {
                background: #8b77fa;
                color: #fff;
            }
            .resetBtn{
                font-weight: 500;
            }
        }
    }
    .chm-body {
        display: block;
        position: relative;
        width: 100%;
        height: calc(100% - 40px);
        background: transparent;
        .chmb-sidebar {
            position: absolute;
            left: 0;
            top: 0;
            width: 55px;
            height: 100%;
            background: #fff;
            box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
            z-index: 99;
            ul.chmbs-menu {
                position: relative;
                padding: 0;
                margin: 0;
                li.chmbsm-item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 55px;
                    border-bottom: 1px solid #dce6f0;
                    cursor: pointer;
                    span {
                        display: block;
                        padding: 0;
                        color: #000;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
                li.chmbsm-item.active{
                    span{
                        font-weight: 600;
                    }
                }
                li.chmbsm-item.active:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 55px;
                    background-color: #8b77fa;
                }
            }
        }
        .chmb-left {
            display: inline-block;
            width: 55%;
            padding: 10px 10px;
            padding-left: 70px;
            float: left;
            border-right: 1px solid #e6e6f5;
            .chmbl-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 30px;
                h3 {
                    font-size: 15px;
                    font-weight: 600;
                    color: #21314b;
                    margin: 0;
                }
                span {
                    font-size: 12px;
                    font-weight: 500;
                    color: #718096;
                    display: inline-block;
                }
            }
            .chmbl-headers {
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                margin-top: 15px;
                max-height: 305px;
                overflow: auto;
                .chmblh-items {
                    display: block;
                    position: relative;
                    margin-bottom: 10px;
                    padding: 8px 15px;
                    border-radius: 7px;
                    cursor: pointer;
                    .checkBoxLabel0 {
                        width: auto;
                        height: auto;
                        padding-left: 36px;
                        margin: 0;
                        font-size: 12px;
                        font-weight: 500;
                        color: #21314b;
                        cursor: pointer !important;
                        .checkmark1 {
                            display: none;
                            left: 0;
                            top: 1px;
                            height: 16px;
                            width: 16px;
                            background-color: #8b77fa;
                            cursor: pointer;
                            border-radius: 24px;
                            border: none;
                        }
                        .checkmark1:after{
                            content: "";
                            width: 4px;
                            height: 8px;
                            border-width: 0 1px 1px 0;
                        }
                        input:checked~.checkmark1 {
                            background-color: #8b77fa;
                            border: none;
                        }
                        input:checked~.checkmark1:after{
                            content: "";
                            width: 4px;
                            height: 8px;
                            border-width: 0 1px 1px 0;
                        }
                    }
                }
                .chmblh-items:hover{
                    box-shadow: 0 3px 6px 0 #e6e2ff;
                    border: solid 1px #8b77fa;
                    .checkBoxLabel0{
                        font-weight: 600;
                        .checkmark1{
                            display: inline-block;
                        }
                    }
                }
                .chmbl-nodata {
                    display: block;
                    height: 305px;
                    width: 100%;
                    text-align: center;
                    margin: auto;
                    padding: 100px 0;
                    span {
                        font-size: 14px;
                        font-weight: bold;
                        color: #718096;
                        padding: 10px 0;
                        display: block;
                    }
                }
            }
        }
        .chmb-right {
            display: inline-block;
            width: 45%;
            padding: 10px 15px;
            .chmbr-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 30px;
                h3 {
                    font-size: 15px;
                    font-weight: 600;
                    color: #242b4b;
                    margin: 0;
                }
                span {
                    font-size: 12px;
                    font-weight: 500;
                    color: #718096;
                    display: inline-block;
                }
            }
            .chmbr-headers {
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                margin-top: 15px;
                max-height: 305px;
                overflow: auto;
                .chmbrh-items {
                    display: block;
                    position: relative;
                    margin-bottom: 10px;
                    padding: 8px 15px;
                    border-radius: 7px;
                    cursor: pointer;
                    .chmbrhi-text{
                        font-size: 12px;
                        font-weight: 500;
                        color: #21314b;
                        padding-left: 20px;
                    }
                    .chmbrhi-close{
                        img{
                            display: none;
                        }
                    }
                    .chmbrhi-fixed {
                        display: none;
                        position: absolute;
                        top: 8px;
                        right: 20px;
                        font-size: 11px;
                        font-weight: 500;
                        color: #718096;
                    }
                }
                .chmbrh-items:before, .chmbrh-items:after, .chmbrhi-text:before, .chmbrhi-text:after, .chmbrhi-inner:before, .chmbrhi-inner:after{
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: #d7dee8;
                }
                .chmbrh-items:before{
                    top: 10px;
                    left: 10px;
                }
                .chmbrh-items:after{
                    top: 10px;
                    left: 17px;
                }
                .chmbrhi-text:before{
                    top: 15px;
                    left: 10px;
                }
                .chmbrhi-text:after{
                    top: 15px;
                    left: 17px;
                }
                .chmbrhi-inner:before{
                    top: 20px;
                    left: 10px;
                }
                .chmbrhi-inner:after{
                    top: 20px;
                    left: 17px;
                }
                .chmbrh-items:hover{
                    box-shadow: 0 3px 6px 0 #e6e2ff;
                    border: solid 1px #8b77fa;
                    .chmbrhi-text{
                        font-weight: 600;
                    }
                    .chmbrhi-close{
                        display: inline-block;
                        img{
                            display: inline-block;
                            position: absolute;
                            top: 11px;
                            right: 20px;
                        }
                    }
                    .chmbrhi-fixed{
                        display: inline-block;
                    }
                }

            }
        }
    }
}

// 
@media only screen and (max-width: 1336px){
    .new-gen-toggle .gpf-dbs .gpf-radio-list .gpfd-create input[type=text] {
        max-width: 120px;
    }    
}

// Style Resoponsive Signin page
@media screen and (max-height: 672px){
    .main-signin-page {
        .msp-head .msph-logo {
            margin-top: 30px;
        }
        .msp-body {
            margin-top: 30px;
            min-height: calc(100vh - 190px);
            max-height: calc(100vh - 190px);
        }
    }
    .signin-barcode-login {
        .sbl-head .msph-logo {
            margin-top: 30px;
        }
        .sbl-body {
            margin-top: 30px;
            min-height: calc(100vh - 190px);
            max-height: calc(100vh - 190px);
        }
    }
}
@media screen and (max-height: 610px){
    .main-signin-page {
        padding: 20px 60px 5px;
        .msp-head .msph-logo {
            margin-top: 25px;
        }
        .msp-body {
            margin-top: 20px;
            min-height: calc(100vh - 162px);
            max-height: calc(100vh - 162px);
            .mspb-top {
                .m-top-30 {
                    margin-top: 25px!important;
                }
            }
            .mspbb-row {
                margin-top: 15px;
            }
        }
    }
    .main-page-right {
        .mpr-inner {
            padding: 20px 40px 10px;
            .mpr-body {
                margin-top: 60px;
                .mprb-padination.m-top-80 {
                    margin-top: 60px!important;
                }
            }
        }
    }
    .signin-barcode-login {
        padding: 20px 60px 5px;
        .sbl-head .msph-logo {
            margin-top: 25px;
        }
        .sbl-body {
            margin-top: 20px;
            min-height: calc(100vh - 162px);
            max-height: calc(100vh - 162px);
        }
    }
}
@media screen and (max-height: 586px){
    .main-signin-page {
        padding: 20px 60px 5px;
        .msp-head .msph-logo {
            margin-top: 20px;
        }
        .msp-body {
            margin-top: 18px;
            min-height: calc(100vh - 162px);
            max-height: calc(100vh - 162px);
            .mspb-top {
                .m-top-30 {
                    margin-top: 20px!important;
                }
            }
            .mspbb-row {
                margin-top: 15px;
            }
        }
    }
    .main-page-right {
        .mpr-inner {
            padding: 15px 40px 5px;
            .mpr-body {
                margin-top: 30px;
                .mprb-padination.m-top-80 {
                    margin-top: 30px!important;
                }
            }
        }
    }
    .signin-barcode-login {
        padding: 20px 60px 5px;
        .sbl-head .msph-logo {
            margin-top: 20px;
        }
        .sbl-body {
            margin-top: 18px;
            min-height: calc(100vh - 162px);
            max-height: calc(100vh - 162px);
        }
    }
}
// Vendor Registration Responsive Scss
@media screen and (max-height: 610px){
    .vendor-sign-up {
        padding: 10px 90px;
        .vsu-body .vsub-form {
            padding: 10px 0;
            .vsubf-input {
                padding: 10px 0;
            }
        }
    }
    .vendor-sign-up-right {
        padding: 20px 90px 10px 130px;
    }
}
@media screen and (max-height: 586px){
    .vendor-sign-up {
        padding: 0px 90px;
        .vsu-body .vsub-form {
            padding: 5px 0;
            .vsubf-input {
                padding: 5px 0;
            }
        }
    }
    .vendor-sign-up-right {
        padding: 20px 90px 10px 130px;
    }
}
@media (min-width: 1440px) and (min-height: 800px){
    .vendor-sign-up {
        padding: 30px 90px;
        .vsu-body .vsub-form {
            padding: 25px 0;
            .vsubf-input {
                padding: 15px 0;
            }
            .vsubf-footer {
                margin-top: 50px!important;
            }
        }
    }
    .vendor-sign-up-right {
        padding: 20px 90px 10px 130px;
    }
}