.right_sidebar {
  position: fixed;
  right: 0;
  z-index: 9;
  width: 255px;
  height: 90vh;
  top: 85px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 5px 0 rgba(195, 195, 195, 0.5);
  transform: translateX(105%);
  transition: all 0.6s ease-in;
}
.rightsideclose {
  width: 72px;
  height: 24.5px;
  border-radius: 12.3px;
  background-color: #6d6dc9;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
}
.para_right_menu {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
}
.right_menu_head {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content_goes {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
}
.activeRightSide{
  transform: translateX(0%) !important;
}
.activeRightSide img{
  width: 16px;
  right: 252px;
}

//right sidebar css

.rightHide {
  position: fixed;
  right: -270px;
  -webkit-animation-name: rightbarhide;
  -webkit-animation-duration: 1s;
  animation-name: rightbarhide;
  animation-duration: 1s;
}

@keyframes rightbarhide {
  from {
    right: 0px;
  }
  to {
    right: -255px;
  }
}

.rightShow {
  position: fixed;
  -webkit-animation-name: rightbarshow;
  right: 0px;
  -webkit-animation-duration: 1s;
  animation-name: rightbarshow;
  animation-duration: 1s;
}

@keyframes rightbarshow {
  from {
    right: -255px;
  }
  to {
    right: 0px;
  }
}

// Style Bread Crumps 
.breadcrumps-menu-item{
    position: relative;
    .dropdown{
        display: inline-block;
    }
}
.breadcrump-menu{
    position: absolute;
    top: 49px;
    left: 20px;
    width: 170px;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    transition: auto;
    z-index: 99;
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.16);
    padding: 8px 0;
    li, .bm-inner-item {
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 500;
        color: #4a4a4a;
        display: inline-block;
        text-align: left;
        width: 100%;
        padding: 9px 16px;
        cursor: pointer;
        font-weight: 500;
    }
    li:hover, .bm-inner-item:hover{
        background-color: #8b77fa;
        transition: .5s;
        color: #fff;
        font-weight: 600;
    }
    .breadcrump-sub-menu{
        position: relative;
        padding: 0;
        .bsm-head{
            padding: 9px 16px;;
            display: block;
            position: relative;
            .fa-chevron-right {
                position: absolute;
                right: 10px;
                top: 13px;
            }
        }
        .bsm-head:hover{
            background-color: #8b77fa;
            transition: .5s;
            color: #fff;
            font-weight: 600;
        }
        .breadcrump-sub-menu2 {
            padding: 8px 0;
            position: absolute;
            width: 170px;
            visibility: hidden;
            opacity: 0;
            background: #fff;
            top: 0;
            left: 170px;
            border-radius: 6px;
            box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.16);
            transition: .5s;
            z-index: 99;
            .bsm2-item{
                padding: 0;
                li:hover{
                    background-color: #8b77fa;
                    transition: .5s;
                    color: #fff;
                    font-weight: 600;
                }
                .bm-inner-item{
                    padding: 9px 16px;
                    display: block;
                    width: 100%;
                }
            }
        }
        .bsm-head:hover>.breadcrump-sub-menu2{
            visibility: visible;
            opacity: 1;
            transform: translate(0 0);
        }
    }
}
.breadcrumps-menu-item:hover>.breadcrump-menu {
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
}
.last-sub-menu-bottom-up {
  bottom: 0;
  top: auto !important;
}
