@import './variables.scss';


.noStrips{
    tbody tr{
        &:nth-child(odd){
            background: #fff;
        }
    }
}

.addRoleMain{
    .selectedModule li{
        @include buttonStyle(12px ,normal , 4px , #fff , #535b78 , 3px 11px ,solid 1px #535b78);
        margin-right:10px;
    }
    .addNewRole{
        border-radius: 8px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        padding:32px 35px;
        &.removeroleEdit{
            padding:20px 35px;
        }
        h5{
            @include buttonStyle(13px ,600 , 30px , #6629db , #fff , 10px 14px ,solid 0.8px #6629db);
            display: inline-block;
            line-height: 1.4;
            cursor: pointer;
            label{
                cursor: pointer!important;
                margin-bottom: 0px;
                font-weight: 600;
            }
            img{
                width: 20px;
                margin-right: 10px;
            }
        }
        h4{
            @include fontStyle(12px , normal ,#4a4a4a);
            margin-top:2px;
        }
        .edit{
            @include buttonStyle(12px, 500 , 19.5px , #ffffff,#4a4a4a, 5px 24px ,solid 1px #e2e2e2);
        }
    }
    .roleInfo{
        h3{
            @include fontStyle(14px , 600 ,#4a4a4a);
            margin-bottom:0px;
        }
        input{
            @include inputStyle(7px , solid 0.5px #b5b5b5 , 27% , 30px , 10px);
            margin-top:10px;
            margin-right: 30px;
            font-weight: 500!important;
            font-size: 12px;
        }
        .cancel{
            @include buttonStyle(12px, 500 , 0px , transparent,#6a6a6a, 7px 10px ,0px);
            margin-right: 5px;
        }
        .next{
            @include buttonStyle(12px, 500 , 6px , #6629db,#fff,6px 15px ,0px);
        }
        .handleOperation{
            position: absolute;
            right: 20px ;
            bottom: 27px;
        }
    }
    .zui-wrapper table{
        tbody tr td{
            label{
                color: #4a4a4a;
            }
            &:last-child label{
                @include buttonStyle(13px ,500 , 4px , #535b78 , #fff , 4px 11px ,0px);
            }
        }
    }
}
.permission{
    table{
        tbody{
            .checkmark1{
                top: -8px;
                left: 8px;
                border-radius: 3px;
                height: 18px;
                width: 18px;
                &:after{
                    left: 5px;
                    height: 11px;
                    top: 2px;
                    border-width: 0 2px 2px 0;
                }
            }
            td label{
                color:#4a4a4a;
            }
        }
    }
}
.moduleSelect{
    .notSelect{
        margin-top:7px;
        label{
            @include fontStyle(12px , 500 ,#4a4a4a);
            @include buttonStyle(13px ,500 , 5px , #fff , #4a4a4a , 0px 0px 0px  10px ,solid 1px #d6d6d6);
            width:90%;
            height: 30px;
            display: flex !important;
            align-items: center;
            position: relative;
            padding-left: 29px!important;
            img{
                position: absolute;
                right: 8px;
                height: 15px;
            }
        }
    }
    .checked label{
        color: #9100ff !important;
    }
    .select label{
        @include fontStyle(12px , 500 ,#4a4a4a);
        @include buttonStyle(13px ,500 , 5px , #fff , #4a4a4a , 0px 0px 0px  10px ,solid 1px #d6d6d6);
        margin-top:7px;
        width:90%;
        height: 30px;
        display: flex !important;
        align-items: center;
        position: relative;
        padding-left: 29px!important;        
        img{
            position: absolute;
            right: 8px;
            height: 15px;
        }
    }
    .onFocusLabel{
        border: solid 1px #6629db !important;
    }
    .notSelect label{
        @include fontStyle(12px , 500 ,#4a4a4a);
        @include buttonStyle(13px ,500 , 5px , #fff , #4a4a4a , 0px 0px 0px  10px ,solid 1px #d6d6d6);
        width:90%;
        height: 30px;
        display: flex !important;
        align-items: center;
        position: relative;
        img{
            position: absolute;
            right: 8px;
            height: 15px;
        }
    }
}
.viewRolesTable{
    border-radius: 8px;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    table{
        display: table;
        table-layout: fixed;
        thead th{
            @include fontStyle(13px , 600 ,#4a4a4a);
            border-right: 1px solid #ddd;
            &:first-child{
                width: 150px;
            }
            &:last-child{
                border-right: 0px;
            }
            &:nth-child(2){
                width: 190px;
            }
        }
        tbody{
            ul li{
                @include buttonStyle(11px ,500 , 4px , #535b78 , #fff ,2px 9px,0px);
                margin-right: 10px;
            }
        }
        tr td{ 
            @include fontStyle(12px , 500 ,#4a4a4a);
            padding-left: 10px !important;
            &:first-child{
                vertical-align: top !important;
                padding: 11px;
            }
        }
    }
    .footer{
        padding: 35px;
        button{
        @include buttonStyle(12px ,500 , 6px , #fff , #6629db , 6px 15px ,0px);
        }
    }
}

.manageRoleMaster{
    .siteViewTable{
        thead th{
            &:not(:first-child){
                padding-left: 40px !important;
            }
        }
        tbody tr{
            td{
                &:nth-child(2) label{
                    font-weight: 600 !important;
                }
                &:not(:first-child){
                    padding-left: 40px !important; 
                }
            }
            td:first-child button{
                @include buttonStyle(11px ,500 , 4px , #fff , #4a4a4a , 4px 13px ,solid 0.5px #bbbbbb);
                &:hover{
                    color: #6d6dc9;
                    font-weight: 600;
                }
            }
        }
    }
}
.updateRoleModal{
    margin: 0 3% auto;
    table tr{
        th:last-child{
            width: 150px;
        }
        &:first-child{
            td{
                padding-top: 10px!important;
                vertical-align: top !important;
                &:last-child{
                    li{
                        display: flex;
                        background: transparent;
                        color: #4a4a4a;
                        padding: 5px 0;
                        .checkmark1{
                            left: -35px;
                            top: 0px;
                            height: 18px;
                            width: 18px;
                            border-radius: 2px;
                            &:after{
                                border-width: 0 2px 2px 0;
                                left: 5px;
                                top: 2px;
                                width: 7px;
                                height: 10px;
                            }
                        }
                        label{
                            @include fontStyle(13px , 500 ,#4a4a4a);
                            margin-bottom: 0px;
                            cursor: pointer!important;
                        }
                    }
                }
            }
        }
        td{
            border-bottom: 0px !important;
            border-top: none !important;
            padding: 4px 10px !important;
            &:first-child{
                padding-top: 10px;
            }
        }
    }
    .viewRolesTable{
        width:94%;
        table{
            table-layout: auto;
        }
        .footer{
            .cancel{
                @include fontStyle(12px , 500 ,#6a6a6a);
            }
            .save{
                @include buttonStyle(12px ,600 , 6px , #6629db , #fff , 8px 20px ,solid 0.5px #bbbbbb);
            }
        }
    }
}
.circularCheckBox{
    position: absolute;
    .checkmark1{
        top: 6px;
        left: 7px;
        z-index: 2;
        border-radius: 50% !important;
    }
    label{
        border: 0px !important;
    }
}
.customTable{
    .topHeader{
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        height: 44px;
        div{
            vertical-align: middle;
            display: flex !important;
            float: left;
            align-items: center;
            height: 100%;
            padding-left: 10px;
        }
        >div:first-child{
            width: 16%;
            display: inline-block;
            border-right: 1px solid #dbdbdb;
        }
        >div:last-child{
            width: 16%;
            display: inline-block;
        }
        >div:nth-child(2){
            width: 68%;
            display: inline-block;
            border-right: 1px solid #dbdbdb;
        }
        span{
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
        }
    }
    .bottomTable{
        display: flex;
        >div{
            padding: 10px 10px 10px 10px;
        }
        >div:first-child{
            width: 16%;
            display: inline-block;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            border-right: 1px solid #dbdbdb;
        }
        >div:last-child{
            width: 16%;
            display: inline-block;
            .checkmark1{
                left: 5px;
                top: -2px;
                border-radius: 3px;
                &:after{
                    border-width: 0 2px 2px 0;
                }
            }
            ul li{
                margin: 10px 0px;
            }
        }
        >div:nth-child(2){
            width: 68%;
            display: inline-block;
            border-right: 1px solid #dbdbdb;
        }
    }
}
.checkBoxName{
    left: 35px;
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.modal-content.manage-role-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 580px;
    padding: 30px 50px;
    .mrv-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mrvh-left {
            p {
                font-size: 13px;
                font-weight: 500;
                color: #969fad;
                margin: 0;
            }
            h3 {
                font-size: 16px;
                font-weight: bold;
                color: #21314b;
                margin: 0;
            }
        }
        .mrvh-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button{
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                font-size: 12px;
                padding: 5px 15px;
                margin-left: 20px;
                height: 32px;
                font-weight: 600;
                position: relative;
                display: inline-block;
            }
            .mrvhb-save{
                border: 1px solid #8b77fa;
                background-color: #8b77fa;
                padding: 5px 25px;
                color: #fff;
            }
            .mrvh-close {
                height: auto;
                background: #fff;
                border: 2px solid #000000;
                height: auto;
                padding: 5px;
                border-radius: 50%;
            }
        }
        .mrv-header-btn {
            display: block;
            position: absolute;
            top: 80px;
            right: 50px;
            button{
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                font-size: 12px;
                padding: 5px 15px;
                margin-left: 20px;
                height: 32px;
                font-weight: 600;
                position: relative;
                display: inline-block;
            }
            .mrvhb-save{
                border: 1px solid #8b77fa;
                background-color: #8b77fa;
                padding: 5px 25px;
                color: #fff;
            }
        }
    }
    .mrv-body {
        display: block;
        margin-top: 30px;
        position: relative;
        .mrvb-search {
            display: block;
            position: relative;
            input[type="search"] {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background: #fff;
                padding: 8px 10px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
                margin-right: 20px;
            }
            .search-image {
                position: absolute;
                top: 8px;
                left: 227px;
                width: 15px;
            }
        }
        .vendor-gen-table{
            overflow: auto;
            max-height: 320px;
            // max-width: 500px;
        }
        .vendor-gen-table .manage-table .gen-main-table {
            tbody {
                tr{
                    td{
                        border: .5px solid #e3e7f3;
                        img{
                            margin: 0 10px;
                        }
                        .manage-role-check{
                            display: flex;
                            width: 100%;
                            position: relative;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 0;
                            margin: 0;
                            li{
                                position: relative;
                                display: inline-block;
                                margin-right: 25px;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                    margin: 0;
                                    .checkmark1{
                                        left: 0;
                                        top: 0;
                                        height: 16px;
                                        width: 16px;
                                        background-color: #fff;
                                        cursor: pointer;
                                        border-radius: 4px;
                                        border: 2px solid #dce6f0;
                                    }
                                    .checkmark1:after{
                                        width: 5px;
                                        height: 9px;
                                        border-width: 0 2px 2px 0;
                                        content: none;
                                    }
                                    input:checked~.checkmark1{
                                        background-color: #8b77fa;
                                        border: none;
                                    }   
                                    input:checked~.checkmark1:after{
                                        content: "";
                                    }
                                }
                                p{
                                    display: inline-block;
                                    font-size: 11px;
                                    font-weight: 500;
                                    margin: 0;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    td:first-child{
                        border-left: none;
                    }
                    .rcud{
                        label{
                            margin-right: 25px;
                            img{
                                width: 14px;
                                margin: 0px;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 
.ar-name {
    display: block;
    padding: 20px 0;
    position: relative;
    p {
        font-size: 12px;
        font-weight: 500;
        color: #12203c;
    }
    .arn-buttons {
        display: block;
        button {
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            margin-right: 20px;
            padding: 6px 15px;
            font-size: 12px;
            font-weight: 500;
            img{
                margin-left: 20px;
            }
        }
        .arnb-check{
            border-radius: 21px;
            background-color: #ecec1c;
            border: 1px solid #ecec1c;
        }
        .arnb-error {
            color: #d50007;
            border-radius: 91px;
            background: #ffefef;
            border: 1px solid #ffefef;
        }
        input[type="text"] {
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background: #fff;
            padding: 8px 10px;
            height: 30px;
            color: #000;
            width: 200px;
            font-size: 12px;
            font-weight: 500;
        }
    }
}

.vendor-gen-table.add-role-table .manage-table .gen-main-table {
    tbody {
        tr{
            td{
                border: .5px solid #e3e7f3 !important;
                border-top: none !important;
                img{
                    margin: 0 10px;
                }
                .manage-role-check{
                    display: flex;
                    width: 100%;
                    position: relative;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    li{
                        position: relative;
                        display: inline-block;
                        margin-right: 25px;
                        .checkBoxLabel0{
                            width: 16px;
                            height: 16px;
                            padding-left: 16px;
                            margin: 0;
                            .checkmark1{
                                left: 0;
                                top: 0;
                                height: 16px;
                                width: 16px;
                                background-color: #fff;
                                cursor: pointer;
                                border-radius: 4px;
                                border: 2px solid #dce6f0;
                            }
                            .checkmark1:after{
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                                content: none;
                            }
                            input:checked~.checkmark1{
                                background-color: #8b77fa;
                                border: none;
                            }   
                            input:checked~.checkmark1:after{
                                content: "";
                            }
                        }
                        p{
                            display: inline-block;
                            font-size: 11px;
                            font-weight: 500;
                            margin: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }
            td:first-child{
                border-left: none !important;
            }
        }
    }
}