.roleTable{
    overflow-x: hidden;
    overflow-y: hidden;
}

.roleTable>thead>tr>th>label{
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
    margin: 0px;
}
.roleTable>tbody>tr>td>label{
    font-size: 10px;
    font-weight: 500;
    font-family: Montserrat;
    color: #8b8b8b;
    text-align: left;
    margin: 0px;
}
.roleTable>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.roleTable>tbody>tr>td:nth-child(1){
    border: 1px solid #ddd;
    border-left: none;
}
.roleTable>tbody>tr>td:nth-child(2){
    border: 1px solid #ddd;
    border-left: none;
}
.roleTable>tbody>tr>td:nth-child(2) label{
    color: #4a4a4a;
    font-weight: 600;
}
.roleTable>tbody>tr>td:nth-child(3){
    border: 1px solid #ddd;
      border-left: none;
}
.roleTable>tbody>tr>td:nth-child(4){
    border: 1px solid #ddd;
      border-left: none;
}
.roleTable>thead>tr>th
{
    border-bottom: none !important;
}
.roleTable>tbody>tr>td
{
     border-right: 1px solid #ddd!important;
     border-bottom:0!important;
}

.roleTable>tbody>tr:nth-child(even) {
    background: #fff
}
.roleTable>tbody>tr:nth-child(odd) {
    background: #f4f4fd
}
.roleTable>tbody>tr>td:last-child{
    border-right: none !important;
}
.reassignBtn{
    width: 85x;
    height: 25px;
    border-radius: 4px;
    background-color: #6d6dc9;
    border: solid 1px #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.revokeBtn{
    width: 100px;
    height: 23px;
    border-radius: 4px;
    background-color: #c44569;
    border: solid 1px #c44569;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.width120{
    width: 120px !important;
}
.modalRole{
  height: auto;
  width: 100%;
  padding: 15px;
  border-radius: 0px;
  position: absolute !important;
  bottom: 0 !important;
  display: block !important;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #ffffff !important;
}
  .modal-backdrop.in{
    opacity: 0.7 !important;
  }
.closeBtn{
    position: relative;
    top: -25px;
    left: -65px;
    border: 1px solid #6d6dc9 !important;
    background: #6d6dc9 !important;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    opacity: 1 !important;
    outline: none;
}

.modalReassignContainer{
    width: 100%;
    text-align: left;
}
.modalReassign{
    height: 54%;
    width: 50%;
    padding: 0px;
    border-radius: 0px 0px 20px 20px;
    position: absolute!important;
    top: 0!important;
    display: block!important;
    left: 300px;
    overflow: hidden;
} 
.backdropReassign{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.7;
}
.headingRoleReassgin{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.reassignModalBtn{
    width: 135px;
    height: 25px;
    border-radius: 25px;
    outline: none;
    background: #d5d5ea;
    color: #4a4a4a;
    font-size: 9px;
    font-family: Montserrat;
    border: none;
}
.closeBtnReassignDiv{
    text-align: right;
    height: auto;
    /* display: inline-block; */
}
.closeBtnReassign{
    width: 65px;
    height: 20px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  background-color: #6d6dc9;
}
.selectBoxModAL{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    outline: none;
    text-indent: 5px;
}

.modalReassignfooter{
    text-align: center !important;
    padding: 10px !important;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.clearModalBtn{
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  border: none;
  background-color: #ffffff;
}
.saveModalBtn{
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 100px;
  height: 25px;
  border-radius: 21.8px;
  background-color: #6d6dc9;
}
.m-0{
    margin: 0px;
}
.RoleFilterSelect {
  position: relative;
  height: 30px;
  width: 100%;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  outline: none;
  background: #fff;
  text-indent: 5px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}
.ROleFilterBox {
  position: relative;
  height: 30px;
  width: 175px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  // color: #9b9b9b;
  outline: none;
  text-indent: 5px;
}
.filterBtnWidth{
    width:100px;
}
.rolesTable{
    border:0;
}
label{
    cursor:initial!important;
}
.checkBoxLabelOrg{
    cursor:pointer!important;
}
.roleTableHeight{
    height:auto;
    width:auto!important;
    margin-left: 108px!important;
    max-width: 1116px!important;
}

.roleTableHeight table{
    width:auto;
}
.roleTableHeight tbody tr td{
    width: 224px;
}
.fixed-side-role{
    width: 108px!important;
    display: flex;
    align-items: center;
}
.roleTableHeight table tr td label{
    word-break: break-all;
    max-width: 100%;
    white-space: normal;
}

.setRoleTableHeight{
    height:auto;
    width:auto!important;
    margin-left: 60px!important;
    max-width: 2500px!important;
}

.setRoleTableHeight table{
    width:auto;
}
.setRoleTableHeight tbody tr td{
    width: 224px;
}

.setRoleTableHeight table tr td label{
    word-break: break-all;
    max-width: 100%;
    white-space: normal;
}

.reassignModal .rolesUpdate{
    display:block!important;
    height: 38vh;
    width: 102%;
    overflow: auto;
    margin-top: 22px;
    border:0;
    box-shadow:none;
}
.reassignModal .rolesUpdate .storeChoose{
    height: 135px;
}
.reassignModal .rolesUpdate .lftStoreDiv{
    width:47%;
}
.rolesUpdate .storeChoose ul li span{
    top:0;
}
.rolesUpdate .storeChoose>ul>li>p{
    font-size: 12.1px;
}
.rolesUpdate .storeChoose ul li:hover p{
    font-weight: 500;
}
.rolesUpdate .close_btn_demand{
    padding-left:1px;
    cursor:pointer;
}
.rolesUpdate .borderRed{
    border: 1px solid #c44569!important;
}
.rolesUpdate .errorReassign{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c44569;
    width: 100%;
    display: block;
    margin-top: 4px;
}
.mainRoleTable table{
    width:100%;
}
.mainRoleTable table thead th:not(.fixed-side-role){
    width: auto !important;
}
.mainRoleTable table tbody td:not(.fixed-side1){
    width: auto !important;
    min-width: 100px;
}
.mainRoleTable .roleTableHeight{
    max-width:100%!important;
}
.limitTextToolTip .topToolTipText{
    top: -39px;
    // background: #f3e9e9;
    /* height: auto; */
    height: 46px;
    left: 0!important;
    width:463px!important;
    padding:2px 5px;
}
.width60{
    width: 60px !important;
}