.jobBtn{
    width: 53px;
    height: 29px;
    border-radius: 6px;
    border: solid 1px #c9c9c9;
    background-color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    @include fontStyle(11px , bold , #535b78);
    &.active{
        border: solid 2px #7ed321;
    }
}
.activeJobs{
    h3{
        @include fontStyle(12px , bold , #535b78);
    }
    label{
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535b78;
    }
    ul{
        li{
            padding-left: 0px;
        }
    }
}
.runOnDemandLeft{
    width: 29%;
    display: inline-block;
    box-shadow: 0 0 34px 0 hsla(0,0%,77%,.5);
    background-color: #fff;
    border-radius: 26px;
    .single-chart {
        svg{
            height: 100%;
        }
        width: 93%;
    }
    .middleReplensh{
        padding-top: 0px;
    }
    .autoConfigMid{
        top: 22% !important;
    }
    .rightReplenishment{
        height: auto;
    }
    .circle{
        stroke-width: 1.7;
    }
    .configJobDetails{
        box-shadow: none;
    }
    .bottomReplesh{
        margin-top: 40px !important;
        span{
            @include fontStyle(13px , normal , #4a4a4a);
            &.timeSchedule{
                font-weight: bold;
            }
        }
    }
    .updateEngin{
        &:after{
            bottom: -20px;
            left: -84px;
            width: 25.5vw;
        }
    }
    .dropdown-menu{
        right: auto !important;
        left: -27px !important;
    }
}
.runOnDemanRight{
    float: right;
    width: 69%;
    display: inline-block;
    box-shadow: 0 0 34px 0 hsla(0,0%,77%,.5);
    border-radius: 26px;
    .configurationDetails{
        box-shadow: none;
    }
    .configContainer{
        box-shadow: none;
        padding-top: 0px !important;
    }
    .top-config{
        background: #fafafb;
        border-radius: 26px 26px 0px 0px;
    }
    .filterDiv{
        background: transparent;
    }
    .headers{
        padding-top: 20px;
        padding-left: 25px;
        h3{
            font-size: 15px;
        }
    }
}
.botRunOnDemand{
    display: inline-block;
    padding: 0px 3px 4px 14px;
    width: 100%;
    img{
        height: 35px;
    }
    h4{
        margin-top: 10px;
        @include fontStyle(13px , 600 , #4a4a4a);
        &.active:after{
            content: "";
            width: 10px;
            height: 10px;
            background-color: #7ed321;
            position: absolute;
            right: 43px;
            border-radius: 50%;
            top: 3px;
        }
    }
    label{
        @include fontStyle(11.6px , normal , #4a4a4a);
        margin-top: 20px;
    }
    .time{
        @include fontStyle(14px , bold , #4a4a4a);
        width: fit-content;
        padding: 9px 28px;
        border-radius: 4px;
        background-color: #f1f1f1;
        span{
            font-weight: normal;
            font-size: 12px;
        }
    }
    h6{
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535b78;
    }
}
.runBtn{
    @include fontStyle(15px , 600 , #ffffff);
    margin-top: 20px;
    width: 115px;
    height: 42px;
    /* opacity: 0.27; */
    border-radius: 24.5px;
    background-color: #6629db;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    &.disable{
        background: rgba(102, 41, 219, 0.27)
    }
}