.container-pad{
    padding: 20px 35px;
}
.sellThruHead{
    h2{
        @include fontStyle(18px , bold ,#535b78)
    }
    h3{
        @include fontStyle(12px , 500 ,#535b78)
    }
    .left{
        height:16vh;
        display: inline-block;
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        button{
            width: 87px;
            height: 32px;
            border-radius: 20.5px;
            box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
            border: 0px;
            background-color: #ffffff;
            @include fontStyle(13px , 600 ,#535b78);
            background: transparent;
            &.active{
                width: 87px;
                height: 32px;
                border-radius: 20.5px;
                box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
                background-color: #6629db;
                color: #fff;
            }
        }
    }
    .right{
        padding: 17px 30px;
        height:16vh;
        display: inline-block;
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
        background-color: #ffffff;
        label{
            @include fontStyle(13px , 500 ,#8b8b8b);
            display: block !important;
            span{
            @include fontStyle(13px , 600 ,#535b78);
                border-radius: 13px;
                background-color: rgba(155,155,214,0.28);
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                padding: 3px 10px;
                margin-left: 8px;
            }
        }
        .chooseSell{
            @include buttonStyle(13px,600 , 7px , #ffffff , #535b78 , 7px 12px ,solid 0.5px #535b78);
            margin-right: 15px;
        }
        .chooseStore{
            @include buttonStyle(13px,600 , 7px , rgba(180,180,180,0.12), #535b78 , 7px 13px ,solid 0.5px rgba(83,91,120,0.12));
            width: auto;
        }
    }
}
.barcodeWiseGraph{
    h4{
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }
}
.divPad{
    padding: 28px 30px;
}
.customToolTipGraph{
  width: 135.1px;
  height: 75.8px;
  border-radius: 7px;
  box-shadow: 0 0 24px 0 rgba(196, 196, 196, 0.5);
  background-color: #ffffff;
  padding: 7px 15px;
  &:after{
      content: "";
      position: absolute;
      height: 33px;
      width: 4px;
      left: 0px;
      top: 28%;
      background: #535b78;
  }
  label{
      display: block !important;
      font-size: 9.5px;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #535b78;
       opacity: 0.39;
    }
    span{
    font-size: 9.9px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #535b78;
    }
}
.GraphBottomData{
    label{
        @include fontStyle(12px , normal ,#535b78);
    }
    h3{
        @include fontStyle(13px , 700 ,#535b78);
    }
}
.chooseSellDrop{
    position: absolute;
    width: 93%;
    height: auto;
    border-radius: 7px;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    z-index: 2;
    padding: 15px 20px;
    top: 42px;
    li{
        @include fontStyle(13px , normal ,#535b78);
        padding: 7px 0px;
        &:not(.active){
            cursor: pointer;            
        }
        &.active{
            font-weight: bold;
            &:before{
                position: absolute;
                content: "";
                height: 30px;
                width: 4px;
                left: -20px;
                top: 5px;
                opacity: 0.42;
                background-color: #6629db;
            }
        }
    }
}
.barcodeSellModal{
    height: 460px;
    width: 67%;
    top: 45%;
    h2{
        @include fontStyle(16px , normal ,#535b78);
    }
    .modalTop{
        // padding-bottom: 65px;
        // padding-top: 25px;
        padding: 25px 35px 65px 35px;
        border: solid 0.5px #d5d5d5;
    }
    .chooseAmong{
        display: inline-block;
        height: auto;
        width: 100%;
        padding: 25px 35px 25px 35px;
        h4{
           @include fontStyle(14px , 600 ,#535b78);
        }
        p{
           @include fontStyle(12px , 500 ,#535b78);
        }
    }
}
.storeNames ul li{
    @include fontStyle(12px , 500 ,#535b78);
    border-radius: 4px;
    background-color: #f3f3f3;
    padding: 4px 12px;
    margin-right: 15px;
    margin-bottom: 15px;
    &.active{
        font-weight: 600;
    }
}
.barcodeSearch{
    input[type=search]{
        font-size: 12px;
        height: 33px;
        text-indent: 15px;
        background: url('../assets/searchBold.svg') no-repeat;
        background-position: 96% !important;
        background-size: 13px;
        &::placeholder{
            font-weight: 500;
            color: #4a4a4a;
        }
    }
    .searchDropDown{
        height: auto;
        padding: 12px 0px 13px 0px;
        width: 95%;
        ul{
            li{
                padding: 5px 15px;
                @include fontStyle(11.7px , 500 ,#4a4a4a);
                &.active{
                    background-color: #6629db;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }

}
.borderRight{
    border-right: solid 0.5px #eaeaea;
}
.backDashboard{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    button{
        background: transparent !important;
        width: auto !important;
        box-shadow: none !important;
    }
    svg{
        border: 1px solid #6629DB;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        margin-right: 15px;
    }
    label{
        @include fontStyle(13px , normal ,#535b78);
    }
}
.sellThruTable{
    tbody{
        .checkmark1{
            top: 9px;
        }
        td{
            label{
                font-size: 12px !important;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #4a4a4a !important;
                background: transparent;
            }
        }
    }
    .bgFixed{
        width: 145px !important;
    }
    &.scrollableTableFixed{
        margin-left: 145px !important;
    }
    .fixed-side1{
        width: 145px;
    }
}
.squareCheckBox{
    .checkmark1{
        border-radius: 0px;
        height: 18px;
        width: 18px;
        &:after{
            left: 6px;
            top: 3px;
            width: 6px;
            height: 10px;
            border-width: 0 2px 2px 0;
        }
    }
}
.paginationUpdate{
    li{
        &:nth-child(4):hover{
            border-radius: 0 0px 0px 0 !important;
        }
        &:last-child:hover{
            border-radius: 0 20px 20px 0 !important;
        }
        span{
            font-weight: 500;
        }
    }
}