.sessionExpireModalMain{
    height: 45%;
    width: 38%;
}
.sessionExpireModalMain h3{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top:15px;
}
.sessionExpireModalMain .timeRemain{
    font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f81212;
}
.sessionExpireModalMain .timeRemain span{
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-left:7px;
}
.sessionExpireModalMain .continueSession h4{
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.sessionExpireModalMain .continueSession button{
    width: 135px;
    height: 33px;
    border-radius: 4px;
    background-color: #f81212;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top:20px;
}
.sessionExpireModalMain .timerImg{
    width: 71px;
    height: 59px;
}

// ----------------------------------------deleter current plan modal css----------------------------
.deleteCurrentPlanModal p{
    font-size: 11.6px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-left:57px;
    line-height: 1.75;
}
.deleteCurrentPlanModal h2{
    font-size: 13.3px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.deleteCurrentPlanModal .save-current-data .confirm-btn ,.deleteCurrentPlanModal .save-current-data .close-btn{
    font-size: 11px;
}
.deleteCurrentPlanModal{
    height: 37%;
    width: 38%;
}
.deleteCurrentPlanModal .modal-header .icon img{
    height:35px;
    margin-top:4px;
}
.deleteCurrentPlanModal .save-current-data .close-btn{
    float:none;
    font-weight: 600;
}
.deleteCurrentPlanModal .customDate input[type=date]{
    color:#4a4a4a;
    // background: url('../assets/calender-new.svg');
    background-repeat: no-repeat;
    // background-size: 21px;
    width: 94%;

}
.customDateMain .modal-footer{
    display: flex;
    height: 14vh;
    align-items: flex-end;
}
// ----------------------------------------deleter current plan modal css end----------------------------

// -----------------------------------------------update plan Modal css--------------------------
 
 .updatePlanModalMain .planName{
    font-size: 8.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-left: 6px;
    padding: 1px 7px;
    border-radius: 10.5px;
    background-color: #efefef;
 }

// -----------------------------------------------update plan Modal css ENd--------------------------

.sessionZindex{
    z-index:10000!important;
}