.shipmentDrop{
    .dropdown-menu{
        width: max-content;
        right: 0px !important;
    }
}
.topMiddle{
    width: 18%;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    padding:18px 14px 15px 20px;
    h3{
        @include fontStyle(12px , 600 ,#535b78);
    }
    .uploadBtn{
        @include fontStyle(11.5px , 600 ,#ffffff);
        width: 115px;
        height: 34px;
        border-radius: 8px;
        border: 0px;
        background-color: #6629db;
    }
}
.orderDropDown{
    img{
        transition: 0.3s;
        transform: rotate(90deg);
        background: #fff;
        padding: 8px 10px;
        border-radius: 50%;
        height: 29px;
        margin-left: 15px;
        cursor: pointer;
    }
    .heading-top{
        h1{
            margin: 0px;
        }
    }
    .dropdown-menu{
        top: 37px;
        // right: 19px !important;
    }
}
.warningIcon{
    margin-left: 7px;
    height: 12px;
}

// -----------------quality check modal scss----------------------

.qualityCheckRight{
    position: absolute;
    right: 0px;
    height: 100% !important;
    border-radius: 0px;
    width: 50%!important;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    border: 0px;
    transition: 1s;
    .modalTOp{
        padding: 12px 23px;
        h2{
            @include fontStyle(15px , 600 ,#535b78);
            position: relative;
            &:after{
                content: '';
                position: absolute;
                border-radius: 5px;
                background-color: #f0f0f0;
                right: -16px;
                top: 3px;
                width: 5px;
                height: 15px;
            }
        }
        .saveBtnBlue{
            width: 83px;
            height: 35px;
            border-radius: 26px;
            background-color: #6629db !important;
        }
        p{
            @include fontStyle(12px , 500 ,#535b78);
            line-height: 1.25;
            margin: 0;
            img{
                height: 14px;
                margin-right: 7px;
            }
        }
    }
    .modalOpertions{
        padding: 9px 67px 9px 43px;
        label{
            @include fontStyle(12px , 500 ,#535b78);
            margin-right: 30px;
        }
        h5{
            @include fontStyle(12px , 600 ,#535b78);
        }
    }
    &.modalRight {
        -webkit-animation-name: mshow;
        top: 0;
        -webkit-animation-duration: .5s;
        animation-name: mRightshow;
        animation-duration: .5s;
    }
    @keyframes mRightshow {
        0%{
            right: -518px;
        }
        100%{
            right: 0;
        }
    }
   
}
// -----------------quality check modal scss End----------------------

.customInput{
    margin-right: 26px;
    padding: 9px 17px;
    width: 139px;
    height: 36px;
    border-radius: 26px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    input[type=file]{
        display: none;
    }
    img{
        float: right;
        height: 16px;
    }

}
.invoiceMain{
    height: 62px;
}
.uploadInvoiceLeft{
    height: 100%;
    width: 66%;
    display: inline-block;
    padding: 8px 58px;
    border-right: solid 0.5px #e4e4e4;
    h3{
        @include fontStyle(14px , 600 ,#535b78);
    }
    label{
        @include fontStyle(12px , 500 ,#535b78); 
    }
    .uploadBtn{
        @include fontStyle(13px , 500 ,#ffffff);
        width: 96px;
        height: 36px;
        border-radius: 26px;
        background-color: #6629db;
    }
}
.uploadInvoiceRight{
    height: 100%;
    width: 30%;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    // vertical-align: middle;
    h4{
        @include fontStyle(13px , 500 ,#000);
    }
    .downloadQcBtn{
        @include fontStyle(12px , 600 ,#535b78);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 164px;
        height: 39px;
        border-radius: 4px;
        border: solid 1px #535b78;
        background-color: #ffffff;
        svg{
            height: 13px;
            margin-right: 12px;
        }
    }
}
.bottomToolTip{
    .displayMe{
        display: none;
    }
    .hoverMe:hover{
        &+.displayMe{
            position: absolute;
            margin-top: 3px;
            display: block;
            span{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 23px;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #e9e9fe
                }
                &:after{
                    @include fontStyle(11px , 500 ,#535b78);
                    content: "NOTE:- allow only pdf format for file upload.";
                    position: absolute;;
                    display: block;
                    width: 215px;
                    padding: 5px 10px;
                    height: auto;
                    background-color: #e9e9fe;
                    border-radius: 10px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }
            }
        
        }
    }
}
.commentSection{
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    .commentHeader{
        box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
        background-color: #ffffff;
        padding: 16px 50px 16px 61px;
        border-bottom: solid 0.5px #e7e7e7;
        h2{
            @include fontStyle(15px , bold ,#535b78);
            display: inline-block;
            margin: 0px;
        }
        .oldCommentBtn{
            float: right;
            @include fontStyle(12px , 500 ,#000);            
            width: 168px;
            height: 24px;
            border-radius: 14px;
            background-color: #f8f8f8;
            color: #000000;
            img{
                height: 11px;
                margin-right: 10px;
            }
        }
    }
    .comments{
        display: inline-block;
        width: 100%;
        padding: 14px 56px 7px 56px;
        .messages{
            min-height:33vh;
        }
    }
    .messageSender{
        .msgBg{
            padding: 6px 33px 7px 12px;
            margin: 0;
            border-radius: 9px;
            width: 248px;
            background-color: #e9e9fe;
            position: relative;
            &:after{
                bottom: -13px;
                content: "";
                position: absolute;
                margin-left: -5px;
                border-width: 7px;
                border-style: solid;
                border-color: #e9e9fe transparent transparent transparent;
                right: 16px;
            }
            img{
                position: absolute;
                left: -31px;
                height: 23px;
            }
        }
        label{
            @include fontStyle(12px , 500 ,#000); 
            position: relative;           
            margin: 0;
        }
        span{
            @include fontStyle(11px , 500 ,#535b78); 
            display: block;
            margin-top: 4px;
        }
    }
    .messageReceiver{
        .msgBg{
            padding: 6px 33px 7px 12px;
            margin: 0;
            border-radius: 9px;
            width: 248px;
            background-color: #d2d2f8;
            position: relative;
            &:after{
                bottom: -13px;
                content: "";
                position: absolute;
                margin-left: -5px;
                border-width: 7px;
                border-style: solid;
                border-color: #d2d2f8 transparent transparent transparent;
                left: 16px;
            }
            img{
                position: absolute;
                right: -30px;
                height: 23px;
            }
        }
        label{
            @include fontStyle(12px , 500 ,#000); 
            margin: 0;
        }
        span{
            @include fontStyle(11px , 500 ,#535b78); 
            display: block;
            margin-top: 4px;
            text-align: right;
        }
        .each-comment{
            float: right;
        }
    }
}
.writeComment{
    padding: 3px 28px 6px 28px;
    input[type=file]{
        display: none;
    }
    input[type=text]{
        border: 0px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        text-indent: 10px;
        @include fontStyle(13px , normal !important ,#535b78); 
    }
    .custom-file-Icon{
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .fileInput{
        padding: 4px 15px;
        border-radius: 8px;
        border: solid 1px #e6e6e6;
        background-color: #ffffff;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sendIcon{
        border: 0px;
        border-radius: 8px;
        background-color: #6629db;
        padding: 6px 15px;
    }
}
.searchMain{
    width: 69%;
    padding-left: 16px;
    .createReq{
        width: 175px;
    }
}
.filtersMain{
    width: 28%;
}
#dropOrder{
    &.open{
        img{
            transform: rotate(270deg);
        }
    }
}
.tableScroller{
    .sliderTable {
        -webkit-appearance: none;
        width: 50% !important;
        height: 4px;
        outline: none;
        opacity: .7;
        transition: opacity .2s;
        border-radius: 3.5px;
        background-color: #f0f0f0;
    }
  .sliderTable:hover {
    opacity: 1;
  }
  .sliderTable::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 25px;
    background: #4CAF50;
    background: goldenrod;
    background: url('../assets/scroll-icon.svg') no-repeat;
    background-size: 30px 20px;
    cursor: pointer;
  } 
  .sliderTable::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
     background: goldenrod;
     background: url('../assets/scroll-icon.svg') no-repeat;
     cursor: pointer;
  }
}
.inputAfter{
    content: "";
    position: absolute;
    right: 0px;
    top: 2px;
    border-radius: 5px;
    background-color: #f0f0f0;
    height: 95%;
    width: 5px;
}
.shipReqTable{
    thead{
        th{
            label{
                min-width: 100px;
            }
        }
    }
}
.heightWidth{
    height: 43% !important;
    width: 51% !important;
}
.confirmModalShipment{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 38%;
    width: 45%;
    transform: translate(-50% , -50%);
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    .modal-content{
        padding: 20px;
        h2{
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #535b78;
            text-align: left
        }
        p{
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #535b78;
            text-align: left
        }
        .headingShip{
            margin-top: 25px;
        }
        .paraQc{
            margin-top: 30px;
        }
        .paraShipment{
            margin-top: 45px;
        }
        .bodyQc {
            text-align: left;
            margin-top: 40px;
            h3{
                font-size: 13px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #535b78;
            }
            .inputQc{
                margin-top: 10px;
                border-radius: 4px;
                border: 1px solid #e5e5e5;
                background-color: #fff;
                width: 170px;
                height: 30px;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #535b78;
            }
        }
        .footer_shipment{
            position: absolute;
            bottom: 0px;
            .shipmentShip{
                width: 100px;
                height: 30px;
                border-radius: 4px;
                background-color: #6629db;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
                margin-right: 15px;
            }
            .shipmentCancle{
                width: 100px;
                height: 30px;
                border-radius: 4px;
                background-color: #d0021b;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
            }
        }
    }
}

.flexDisplay{
    padding: 13px;
   li{
    display: flex;
    align-items: center;
    width: fit-content;
    float: left;
    padding-left: 20px;
    padding-right: 25px;
    label{
        margin: 0px;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
    }
    span > svg{
        margin-right: 10px;
    }
   }
}
.shadowBox{
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
}
.confirmModalSize{
    .confirmModalShipment{
        height: 28%;
        width: 30%;
    }
    .headingQc{
        label{
            float: left;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #535b78;
        }
    }
}
.addCommentBtn{
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-right: 10px;
    min-width: 144px;
    width: auto;
    height: 30px;
    border-radius: 7px;
    border: solid 1px #e1e1e1;
    background: transparent;
}
.cancelUpload{
    position: absolute;
    right: 10px;
    top: 2px;
}
.fileNameQc{
    font-size: 11px;
    font-weight: 500;
    color: #000;
    font-family: Montserrat
}
.qualityCheckVendorSave{
    padding: 0px 30px 0px 30px;
     h3{
         font-size: 12px;
         font-weight: 600;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #12203c;
     }
     .radioGeneric{
         label{
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #12203c;
            margin-right: 30px;
         }
     }
}
.chatModalHeight{
    .commentSection{
        height: 50%;
    }
    .chatModalMid{
        // height: 40%;
        height: 35%;
        overflow: scroll;
    }
    .chatModalTop{
        height :10%;
    }
}
.fileUploads{
    height: auto;
    max-height: 97px;
    overflow: scroll;
    span{
        margin-left: 10px;
    }
}
.filesDownloadDrop{
    width: 196px;
    border-radius: 8px;
    box-shadow: 0 0 22px 0 hsla(0,0%,90%,.5);
    background-color: #fff;
    border: 0;
    padding: 9px 12px!important;
    top: 43px;
    left: 0 !important;
}
.revisedAsntrack , .revisedQCtrack{
    +.tooltip{
        display: none;
    }
    &:hover{
        +.tooltip{
            display: block
        }
    }
}