.noise_background{
    background-image: url(../assets/rectangle-noise@3x.jpg);
    width: 100%;
    height: 100%;
    z-index: 999;
}
.left_side_container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: inline-block;
    background: #f9f9f9;
}
.top_container{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
}
.back_home{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #6d6dc9;
}
.condi_text{
    width: 80%;
    text-align: center;
    padding: 5px;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 500;
}
.middle_container{
    display: inline-block;
    width: 100%;
    height: 80%;
    margin: auto;
    text-align: left;
    /* height: auto; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 25px;
    background: #f9f9f9;
    position: relative;
    left: 35px;
    border: 2px solid  #ce9ffc;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 10px solid #ce9ffc ;
    z-index: 1;
    border-top-right-radius: 25px;


}
.oval{
    position: absolute;
    float: right;
    right: -25px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #f9f9f9;
    display: none;
}
.oval1{
    top: -70px;
}
.oval_icon{
    position: absolute;
    top: 15px;
    font-size: 20px !important;
}
.bottom_container{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
}
.signin{
    width: 100%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #6d6dc9;
}
.middle_container>div>ul>li{
    width: 100%;
}


.input_box{
    width: 80%;
    height: 35px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #e2e2e2;  
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    /* color: #bfbfbf; */
    text-indent: 5px;
}
.input_box::placeholder{
    color:#aba4a4;
}
.forgot_pass{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: right;
    color: #c0c0c0;
    width: 80%;
    margin-top: 7px;
}
.signin_btn{
    border-radius: 9px;
    // background: #6d6dc9;
    box-shadow: 0 5px 20px -6px #33025d;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    width: 80%;
    // margin-left: 40px;
  background-image: linear-gradient(101deg, #3b3b98, #6565ef);
    height: 48px;
}
.bottom_position{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0px;

}
.bottom_position>ul :nth-child(1) p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #c0c0c0;
    margin: 0px;
}
.bottom_position>ul :nth-child(2) p{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #a1a1a1;
}
.right_side_container{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 30px;
    opacity: 0.9;
    object-fit: contain;
    background-image: -webkit-linear-gradient(123deg, #ce9ffc, #7367f0 100%);
    background-image: -moz-linear-gradient(123deg, #ce9ffc, #7367f0 100%);
    background-image: -o-linear-gradient(123deg, #ce9ffc, #7367f0 100%);
    background-image: linear-gradient(123deg, #ce9ffc, #7367f0 100%);
}
.back_icon{
    height: 20px;
    width: 20px;

}
.mint_logo{
    height: 15%;
    width: 100%;
    // margin-top: 25px;
}
.supply_mint_logo_div{
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.supply_mint_logo{
    width: 35%;
    height: auto;
    margin: auto;
    border-radius: 14px;
    border: none;
    display: inline-block;
}
.path_img{
    margin: auto;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.content_sigin{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
}
.content_sigin>ul{
    float:none;
}
.signInMain .top_container ul a{
    display: inline-flex;
}
.signInMain .top_container ul li label{
    padding-left:8px;
    margin-bottom: 0;
    padding-top: 2px;
}
.signInMain .input_box{
    height: 40px;
    font-size: 12px;
    font-weight: 500;
}
.content_sigin .signCommaEnd{
    left:67%;
}
.content_sigin>ul li{
    width:100%;
}
.content_sigin>ul li p{
    position: relative;
}
.content_sigin>ul li p img{
    position: absolute;
    left: 31%;
    width: 12px;
    top: 0px;;
}
.content_sigin>ul :nth-child(1) p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}
.content_sigin>ul :nth-child(2) p{
    opacity: 0.61;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}


.forgot_pass_text{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #807c7c;
    margin-top: 5px;
    text-align: left;
    width: 70%;
    margin-left: 25px;
}
.change_email{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9;
    background-color: #fff;
    border: none;
}
.wrng_id{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    width: 40%;
    text-align: left;
    float: left;
}
.reset_text{
    color: #4a4a4a;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    width: 70%;
    margin-top: 5px;
}
.exclamation_icon{
    width: 100%;
    height: auto;
}
.exclamation_mark{
    height: 30px;
    width: 30px;

}
.flow_diagram_div{
    width: 90%;
    height: auto;
    margin: auto;
    /* padding: 10px; */
    text-align: center;
}
.illustration_img{
    width: 95%;
    /* margin-left: 15px; */
}
.vendor_img{
    width:71%
}
.email_fatch{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d2d2d2;
  margin-top: 50px;
}
.fatch_list{
    height: 25%;
}
.exclamation_img{
    height: 20px;
    width: 20px;
    margin-top: 7px;
    float: left;
}

.link-forgotPassword{
    color: #807c7c!important;
}
.signInForget{
    position: absolute;
       top: 165px;
    right: 61px;

}
.signInInput{
    height:100px;
}
.signInPassInput{
    position: absolute;
    top: 246px;
    right: 0px;
}
.radio_txt{
    position: relative;
    bottom: 9px;
    left: 33px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: var(--greyish-brown);
}
.radio_btn{
    margin-left: 100px;
    top:-13px !important
}
.m_top_10{
    margin-top: 10px
}
.m-top-30{
    margin-top: 30px
}
.font_ven{
        font-weight: bold !important;
    font-size: 25px !important;
}
.font_ven_sub{
        font-size: 16px !important;
    font-weight: 600 !important;
}
.rectangleDiv{
    padding: 21px 5px;
    display: inline-block;
    border-radius: 22px;
    box-shadow: 0 0 10px 0 hsla(0,0%,95%,.5);
    background-color: #fff;
    position: relative;
    right: 15px;   
}
.top_50{
    top:50px;
}

.vendor_signin_txt{
 font-family: Montserrat;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6a6a6a;
}

.signUpTxt{
        border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    height: 40px;
    width: 245px;
    text-indent: 5px;
}

.field_txt>h5{
    font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
.width_100{
    width:100%
}
.pad-12{
    padding: 12px;
}

.field_txt>span{
      font-family: Montserrat;
  font-size: 11px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
.m-top-40{
    margin-top: 40px !important;
}

.signInInput-80 {
    height: 80px;
}

// Style Again the Signin page
.new-layer-signin-page{
    ul{
        li{
            position: relative;
            .signin {
                font-weight: 500;
                font-size: 14px;
                color: #6d6dc9;
            }
            .select_modalRadio {
                top: auto;
                padding-right: 0px;
                width: auto;
                margin-right: 20px;
                .radio_txt {
                    position: relative;
                    bottom: auto;
                    left: auto;
                    font-size: 13px;
                    cursor: pointer;
                    padding-left: 23px;
                }
                .positionCheckbox {
                    top: 2px!important;
                    left: 0px;
                    cursor: pointer;
                }
            }
            .input_box {
                font-size: 12px;
                font-weight: 500;
            }
            .error{
                position: absolute;
            }
            .forgot_pass, .signin_btn {
                font-size: 12px;
            }
            .forgot_pass {
                font-weight: 500;
                margin-top: 3px;
            }
        }
    }
}

// Vendor SignUp New Page 2020
.vendor-registration-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ccd8ed;
    .vrh-left {
        display: flex;
        align-items: center;
        .vrh-privacy {
            margin-left: 30px;
            border-left: 2px solid #ccd8ed;
            padding-left: 20px;
            a {
                font-size: 12px;
                font-weight: 500;
                padding: 5px 10px;
                margin-right: 10px;
                color: #12203c;
                text-decoration: none;
            }
        }
    }
    .vrh-right {
        button {
            font-size: 12px;
            font-weight: 500;
            background: #fff;
            border: solid 1px #ccd8ed;
            border-radius: 32px;
            padding: 6px 18px;
        }
    }
}
.vendor-sign-up {
    // background-image: linear-gradient(180deg,#fff,#f2f5f8);
    display: block;
    width: 100%;
    height: calc(100vh - 64px);
    overflow: auto;
    padding: 20px 90px;
    .vsu-body {
        display: table;
        width: 100%;
        .vsub-head {
            display: block;
            width: 100%;
            padding: 20px 0;
            h3 {
                font-size: 23px;
                font-weight: 800;
                color: #12203c;
                margin-bottom: 15px;
            }
            p {
                position: relative;
                font-size: 12px;
                font-weight: 500;
                color: #9aadbf;
                margin: 0;
                span {
                    color: #12203c;
                    font-weight: 600;
                }
            }
        }
        .vsub-form {
            display: table;
            width: 100%;
            padding: 20px 0;
            padding-bottom: 0;
            h3 {
                font-size: 15px;
                font-weight: 700;
                color: #3a5074;
                margin: 0;
                margin-bottom: 30px;
            }
            .vsubf-fields{
                display: block;
                position: relative;
                padding: 10px 10px;
                margin-bottom: 30px;
                background: #f9f5fe;
                border: 1px solid #ccd8ed;
                border-radius: 8px;
                h5 {
                    font-size: 12px;
                    font-weight: 500;
                    color: #97abbf;
                    margin-bottom: 7px;
                }
                p{
                    font-size: 12px;
                    font-weight: 600;
                    color: #12203c;
                    margin: 0;
                }
            }
            .vsubf-input{
                display: block;
                position: relative;
                padding: 10px 0px;
                border-radius: 8px;
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #3a5074;
                }
                input {
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    width: 100%;
                    height: 34px;
                    background: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 2px 9px;
                }
                input[type="password"] {
                    vertical-align: middle;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 800;
                    letter-spacing: 1px;
                }
                .show-hide-pass-btn{
                    position: absolute;
                    cursor: pointer;
                    top: 43px;
                    right: 11px;
                    img{
                        width: 17px;
                        height: 13px;
                    }
                }
            }
            .vsubf-footer{
                padding: 10px 0;
                padding-bottom: 0;
                .checkBoxLabel0{
                    height: 16px;
                    padding-left: 25px;
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer !important;
                    color: #97abbf;
                    .checkmark1 {
                        left: 0px;
                        top: 0px;
                        height: 16px;
                        width: 16px;
                        background-color: #ffffff;
                        cursor: pointer;
                        border-radius: 4px;
                        border: solid 2px #dce6f0;
                    }
                    .checkmark1:after {
                        width: 5px;
                        height: 9px;
                        border-width: 0 2px 2px 0;
                        content: none;
                    }
                    input:checked~.checkmark1 {
                        background-color: #8b77fa;
                        border: none;
                    }
                    input:checked~.checkmark1:after{
                        width: 5px;
                        height: 9px;
                        border-width: 0 2px 2px 0;
                        content: "";
                    }
                    a {
                        color: #12203c;
                        text-decoration: none;
                    }
                }
                button {
                    display: block;
                    border-radius: 5px;
                    border: 1px solid #8b77fa;
                    background-color: #8b77fa;
                    color: #fff;
                    height: 40px;
                    font-size: 12px;
                    font-weight: 600;
                    margin-top: 10px;
                    padding: 5px 30px;
                }
            }
        }
    }
}

.vendor-sign-up-right {
    display: block;
    width: 100%;
    height: calc(100vh - 64px);
    overflow: auto;
    padding: 40px 90px 10px 130px;
    .vsur-inner {
        background-image: linear-gradient(to bottom, #5541c4, #00ced6);
        border-radius: 40px;
        overflow: auto;
        height: calc(100% - 35px);
        display: flex;
        align-items: center;
        position: relative;
        .vsuri-body {
            padding: 20px 30px;
            border-radius: 40px;
            overflow: auto;
            position: relative;
            z-index: 1;
        }
        .vsur-body {
            margin-top: 10px;
            p {
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                margin: 0;
            }
            h1 {
                font-size: 24px;
                font-weight: 700;
                color: #fff;
            }
            span {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #73d6edad;
            }
            button {
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                background: #73d6ed;
                border-radius: 32px;
                padding: 7px 15px;
                margin-top: 20px;
            }
        }
        .vsuri-footer {
            display: block;
            position: absolute;
            right: 30px;
            bottom: 25px;
            a {
                display: inline-block;
                margin-left: 8px;
                padding: 3px 3px;
            }
        }
    }
    .vsur-inner::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('../assets/bookeh.svg');
        background-position-y: 40%;
        background-position-x: 35%;
        background-repeat: no-repeat;
        background-size: 140%;
        z-index: 0;
    }
    .copywrite-text {
        font-size: 12px;
        font-weight: 500;
        color: #97abbf;
        margin: 0px;
        text-align: center;
        margin-top: 15px;
    }
}

// Main Signin Page 2020
.main-signin-form {
    margin: 0px;
}
.main-signin-page {
    display: block;
    height: 100vh;
    overflow: auto;
    background: #fff;
    padding: 25px 60px 5px;
    .msp-head {
        .msph-logo {
            margin-top: 40px;
        }
    }
    .msp-body {
        margin-top: 40px;
        min-height: calc(100vh - 212px);
        max-height: calc(100vh - 212px);
        overflow: auto;
        h3 {
            font-size: 27px;
            font-weight: 500;
            margin: 0px;
            color: #12203c;
        }
        .mspbt-dropdown {
            position: relative;
            label {
                font-size: 12px;
                font-weight: 500;
                color: #97abbf;
            }
            button {
                display: block;
                width: 180px;
                text-align: left;
                padding: 6px 10px;
                font-size: 12px;
                font-weight: 600;
                border: 1px solid #ccd8ed;
                border-radius: 6px;
                background: #fff;
                height: 34px;
                background-image: url('../assets/downArrowNew.svg');
                background-position: 96%;
                background-repeat: no-repeat;
                background-size: 11px;
            }
            .mspbtd-inner {
                display: block;
                position: absolute;
                top: 60px;
                left: 0;
                width: 170px;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                    }
                }
            }
        }
        .mspbb-row {
            display: block;
            margin-top: 20px;
            position: relative;
            padding-right: 60px;
            label {
                font-size: 12px;
                font-weight: 500;
                color: #97abbf;
            }
            input {
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                width: 100%;
                height: 40px;
                background: #fff;
                font-size: 12px;
                font-weight: 500 !important;
                padding: 2px 9px;
                display: block;
            }
            input[type="password"] {
                font-weight: 700 !important;
                letter-spacing: 3px;
                font-size: 18px;
            }
            .error {
                position: absolute;
            }
            .show-hide-pass-btn {
                position: absolute;
                cursor: pointer;
                top: 37px;
                right: 70px;
                img {
                    width: 17px;
                    height: 13px;
                }
            }
            p {
                font-size: 12px;
                font-weight: 500;
                text-align: right;
                margin: 0;
                margin-top: 10px;
                color: #97abbf;
                a {
                    color: #12203c;
                    margin-left: 3px;
                }
                a:hover {
                    text-decoration: none;
                    color: #12203c;
                }
            }
            .exclamation_img {
                height: 15px;
                width: 15px;
                margin-top: 11px;
                float: left;
                margin-right: 5px;
            }
            .mspbb-para {
                text-align: left;
                color: #97abbf;
                a {
                    color: #12203c;
                }
                a:hover {
                    color: #12203c;
                }
            }
        }
        .msp-footer {
            margin-top: 20px;
            .mspb-signin {
                font-size: 12px;
                font-weight: 600;
                padding: 10px 55px;
                border-radius: 6px;
                background-color: #8b77fa;
                color: #fff;
                height: 50px;
                box-shadow: 0 3px 6px 0 #c1b5ff;
                transition: 0.6s all;
            }
            .mspb-signin:hover {
                background-color: #634fce;
                transition: 0.6s all;
            }
        }
    }
    .mspb-footer {
        margin-top: 20px;
        .mspb-signin {
            font-size: 12px;
            font-weight: 600;
            padding: 10px 55px;
            border-radius: 6px;
            background-color: #8b77fa;
            color: #fff;
            height: 50px;
            box-shadow: 0 3px 6px 0 #c1b5ff;
            transition: 0.6s all;
        }
        .mspb-signin:hover {
            background-color: #634fce;
            transition: 0.6s all;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #97abbf;
            margin: 20px 0 0;
            .mspb-login-type {
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                margin-left: 10px;
                background-color: #fff;
                padding: 0;
            }
            .mspb-login-type:hover {
                text-decoration: underline;
            }
        }
    }
}
.main-page-right {
    padding: 20px 30px 20px 90px;
    background: #fff;
    height: 100vh;
    overflow: auto;
    .mpr-content {
        height: 100%;
        color: #fff;
        border-radius: 34px;
        position: relative;
        z-index: 1;
        // background-image: linear-gradient(to bottom, #00ced6, #5541c4);
        background-image: linear-gradient(139deg, #8b77fa 2%, #0045a3 159%);
    }
    .mpr-inner {
        height: 100%;
        color: #fff;
        border-radius: 34px;
        position: relative;
        padding: 30px 40px 10px;
        z-index: 1;
        // background-image: linear-gradient(to bottom, #00ced6, #5541c4);
        // background-image: url('../assets/bookeh-top.svg');
        // background-repeat: no-repeat;
        // background-position-x: 126%;
        // background-position-y: -16%;
        // background-size: 32%;
        overflow-y: auto;
        overflow-x: hidden;
        .mpri-bgtop-img {
            position: absolute;
            top: -170px;
            right: -140px;
            animation-name: toptobottom;
            animation-duration: 20s;
            animation-direction: alternate-reverse; 
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            img {
                width: 250px;
            }
        }
        @keyframes toptobottom {
            100%  {right:-140px; top:-170px;}
            0%  {right:-140px; top:50px;}
        }
        .mpri-bgbottom-img {
            position: absolute;
            bottom: 0px;
            right: -140px;
            animation-name: bottomtotop;
            animation-duration: 20s;
            animation-direction: alternate-reverse;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes bottomtotop {
            0%  {right:-140px; bottom: 0px;}
            100%  {right:-140px; bottom:50px;}
        }
        .mpr-head {
            h3 {
                font-size: 22px;
                font-weight: 400;
                color: #ffffff;
            }
            p {
                font-size: 12px;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0.5px;
                margin-top: 10px;
                span {
                    font-size: 30px;
                    letter-spacing: 0px;
                }
            }
        }
        .mpr-body {
            display: block;
            margin-top: 90px;
            position: relative;
            .mprb-slides {
                position: relative;
                width: 580px;
                height: 235px;
                overflow: hidden;
                // border-radius: 5px;
            }
            @keyframes slidein {
                from {
                    // margin-left: 100%;
                    // width: 300%;
                    transform: translateX( 100% );
                }
                to {
                    // margin-left: 0%;
                    // width: 100%;
                    transform: translateX( 0% );
                }
            }
            .mprb-inner {
                // position: absolute;
                // top: 0;
                // left: 0;
                z-index: 7;
                width: 100%;
                height: 100%;
                display: block;
                // align-items: center;
                // justify-content: space-between;
                animation-duration: 1s;
                animation-name: slidein;
                .mprbi-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                }
                .mprbi-left {
                    border: solid 2px #fff;
                    border-radius: 12px;
                    padding: 35px;
                    img {
                        width: 100px;
                        height: 100px;
                        filter: brightness(40.5);
                    }
                }
                .mprbi-right {
                    display: block;
                    padding-left: 40px;
                    h2 {
                        font-size: 25px;
                        font-weight: 700;
                        color: #ffff;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0.4px;
                        margin-bottom: 1px;
                    }
                    .mprbi-know-more {
                        background: transparent;
                        font-size: 12px;
                        font-weight: 600;
                        padding: 4px 0;
                        border-bottom: solid 2px #ffffffab;
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
            // .mprb-inner-two {
            //     z-index: 6;
            //     animation-delay: 0.5s;
            // }
            // .mprb-inner-three {
            //     z-index: 5;
            //     animation-delay: 0.5s;
            // }
            // .mprb-inner-four {
            //     z-index: 4;
            //     animation-delay: 0.5s;
            // }
            // @keyframes opaqTransition {
            //     3% { transform: translateX( 0 ); }
            //     25% { transform: translateX( 0 ); }
            //     28% { transform: translateX( -580px ); }
            //     100% { transform: translateX( -580px ); }
            // }
            // .mprb-inner {
            //     position: absolute;
            //     left: -100px;
            //     width: 100px;
            //     height: 100px;
            //     -webkit-animation: slide 0.5s forwards;
            //     -webkit-animation-delay: 2s;
            //     animation: slide 0.5s forwards;
            //     animation-delay: 2s;
            // }
            .mprb-padination {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #fff;
                height: 40px;
                width: 110px;
                border-radius: 20px;
                padding: 0 10px;
                button {
                    background: #fff;
                    height: 31px;
                    border-radius: 20px;
                    padding: 3px 5px;
                }
            }
            .mprbp-filled {
                position: absolute;
                display: flex;
                bottom: 19px;
                left: 140px;
                .mprbpf-unfill {
                    display: inline-block;
                    width: 25px;
                    background: #fff9;
                    height: 2px;
                    margin-right: 8px;
                }
                .mprbpf-filled {
                    background-color: #ffffff;
                    width: 40px;
                }
            }
        }
        .mpr-footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            bottom: 20px;
            right: 30px;
            a {
                display: inline-block;
                margin-left: 10px;
                padding: 3px 6px;
            }
        }
    }
    // .mpr-inner:after {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     background-image: url('../assets/bookeh-bottom.svg');
    //     background-position-y: 115%;
    //     background-position-x: 125%;
    //     background-repeat: no-repeat;
    //     background-size: 40%;
    //     z-index: -1;
    // }
    .mpr-content:before {
        content: "";
        position: absolute;
        top: 5%;
        left: -30px;
        width: 30px;
        height: 90%;
        border-radius: 34px 0 0 34px;
        z-index: -1;
        // background-image: linear-gradient(180deg,#d5ffe7,#5541c4);
        background-image: linear-gradient(139deg, #8b77fa 2%, #0045a3 159%);
        opacity: .19;
    }
}

.new-gen-radio-btn {
    padding: 0 4px;
    label {
        border-radius: 5px;
        background-color: #fff;
        font-size: 12px;
        padding: 9px 10px;
        margin-right: 20px;
        height: 78px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        width: 110px;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer!important;
        transition: all .6s;
        border: 1px solid #ccd8ed;
        input[type="radio"] {
            display: none;
        }
        .ngrb-check {
            display: block;
            svg {
                .ngrb-circle {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
        .ngr-text {
            font-size: 12px;
            color: #647084;
            font-weight: 600;
            position: relative;
            z-index: 1;
            cursor: pointer;
            padding: 5px 0;
            display: block;
        }
        .ngrb-check:before {
            content: none;
            width: 17px;
            height: 3px;
            position: absolute;
            top: 66px;
            left: 48px;
            background-color: #fff;
            border: 1px solid #ccd8ed;
            border-radius: 5px;
            z-index: 0;
            cursor: pointer;
            transition: all .6s;
        }
        input:checked~.ngr-text {
            color: #12203c;
        }
        input:checked~.ngrb-check:before {
            content: "";
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            // box-shadow: 0 0px 11px -2px #8b77fa;
        }
        input:checked~.ngrb-check {
            svg {
                .ngrb-cs {
                    fill: url(#zpk7oke5ia);
                }
                .ngrb-circle {
                    visibility: visible;
                    opacity: 0.271;
                }
            }
        }
    }
    label:hover, .ngr-checked {
        border: 1px solid transparent;
        box-shadow: 0 2px 9px -2px #8b77fa;
        transition: 0.6s all;
        .ngr-text {
            color: #12203c;
        }
        .ngrb-check {
            svg {
                .ngrb-cs {
                    fill: url(#zpk7oke5ia);
                }
            }
        }
        .ngrb-check:before {
            transition: 0.6s all;
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            // box-shadow: 0 0px 11px -2px #8b77fa;
        }
    }
}

// Style QR Login Page
.signin-barcode-login {
    display: block;
    height: 100vh;
    overflow: auto;
    background: #fff;
    padding: 25px 0px 5px 60px;
    .sbl-head {
        a {
            font-size: 12px;
            font-weight: 500;
            vertical-align: middle;
            display: flex;
            align-items: center;
            color: #12203c;
            text-decoration: none;
            span {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .msph-logo {
            margin-top: 40px;
        }
    }
    .sbl-body {
        display: block;
        margin-top: 40px;
        text-align: center;
        min-height: calc(100vh - 212px);
        max-height: calc(100vh - 212px);
        overflow: auto;
        .sblb-content {
            .sblb-qrcode {
                width: 200px;
                height: 200px;
            }
            .sblbc-detail {
                .sblbcd-textor {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    color: #12203c;
                }
                a {
                    font-size: 16px;
                    font-weight: 700;
                    display: block;
                    color: #2e3452;
                    margin-top: 10px;
                    text-decoration: none;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #8f9dc7;
                    margin: 0px
                }
                .sblbcd-textnum {
                    display: block;
                    font-size: 40px;
                    font-weight: 300;
                    margin: 5px 0;
                }
                button {
                    padding: 8px 8px;
                    border-radius: 25px;
                    font-size: 12px;
                    font-weight: 600;
                    color: #6d6dc9;
                    background: #f7f7f7;
                    img {
                        margin-right: 5px;
                        width: 18px;
                    }
                }
                .sblbcd-textll {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #8f9dc7;
                    margin-top: 20px;
                }
            }
        }
    }
    .mspb-footer {
        margin-top: 20px;
        p {
            font-size: 12px;
            font-weight: 500;
            color: #97abbf;
            margin: 20px 0 0;
            .mspb-login-type {
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                margin-left: 10px;
                background-color: #fff;
                padding: 0;
            }
            .mspb-login-type:hover {
                text-decoration: underline;
            }
        }
    }
}