.container_admin{
    width: 100%;
    height: 75vh;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.Slider_Div {
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}
.container_details{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 15px; 
}
.site-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.para-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.details-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.container_card{
    padding: 20px;
    box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
    border-bottom: solid 1px #f2ecec;
   
 
}

.form-box{
    height: 30px;
    width: 175px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    text-indent: 5px;
  }


.footerbutton {
    display: inline-block;
    height: 10%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -3px 10px -5px hsla(0,0%,73%,.5);

}

  .round {
    position: relative;

  }
  
  .round .site_checkbox {
    border-radius: 50%;
    cursor: pointer;
    width: 17px;
    height: 17px;
    position: relative;
    top: 10px;
    color: #ffffff;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    width: 9px;
    height: 5px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg); 
    left: 4px;
    top: 5px
  }

  .round label::before {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    width: 9px;
    height: 5px;
    top: 4px;
    left: 4px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg); 
    font-size: 12px !important;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #8b77fa;
    border-color: #8b77fa;
  }

  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .round input[type="checkbox"]:not(:checked) + label {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
  }
  .round input[type="checkbox"]:not(:checked) + label::before {
    opacity: 1;
  }

  .add-box{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .plus-logo{
      width: 25px;
      height: 25px;
      margin-top: 10px;
  }

.tooltip > .tooltip-inner {
    width: 130px;
    height: 60px;
    background-color: #f9f9f9;
    border: solid 1px #e5e5fa;
    display: block;
    color: #4a4a4a;
}
.tooltip > .tooltip-inner>label {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.tooltip > .tooltip-inner>p {
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.tooltip.left .tooltip-arrow{
    border-left-color: #e5e5fa !important;
}
  .plus-box{
    width: 200px;
    height: 59.5px;
    background-color: #f9f9f9;
    border: solid 1px #e5e5fa;
  }
  .data-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
  }

  .btn-csv{
    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
    outline: none;
  }
  .btn-csv:hover{
      background-color:  #8b77fa;
      color: #ffffff;
  }
  .btn-filter{
    width: 85px;
    height: 25px;
    border-radius: 4px;
    background-color: #8b77fa;
    border: solid 1px #3b3b98;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    outline: none;
  }
  .filter-2-logo{
      width: 23px;
      height: 23px;
      padding-left: 10px;
  }
  
  .search_box{
    border: none;
    font-family: Montserrat;
    position: relative;
    outline: none;
    font-size: 10px;
}
.search_box:active, .search_box:focus{
    border-bottom: 1px solid  #e5e5e5;
    width: 350px;
}

.save-changes {
    width: 100px;
    height: 25px;
    border-radius: 21.8px;
    background-color: #8b77fa;
    border: #8b77fa;
    color: #fff;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    outline: none;
}

//   .table>tbody>tr>td{
//     border: solid 1px #e5e5e5;
//     vertical-align: middle !important;
//   }
//   .table>tbody>tr>td:nth-child(1){
//       border-left: none !important;
//   }
//   .table>tbody>tr>td:last-child{
//     border-right: none !important;
// }

// .table>tbody{
//     font-family: Montserrat;
//     font-size: 10px;
//     font-weight: 300;
//     vertical-align: middle;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: normal;
//     color: #8b8b8b;
// }

.dropdown-box{
    width: 85px;
    height: 30px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    margin-top: 20px;
}
.page-link:hover{
    background-color: #8b77fa !important;
    color: #ffffff !important;
}

.button-edit{
    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #8b8b8b;
    outline: none;
}
.button-edit:hover{
    background-color: #8b8b8b;
    color: #ffffff;
}

.button-delete{
    width: 70px;
    height: 25px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #d0021b;
    outline: none;
}
.button-delete:hover{
    background-color: #d0021b;
    color: #ffffff;
}
.button-save{
    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #3b3b98;
    outline: none;
}
.button-save:hover{
    background-color: #8b77fa;
    color: #ffffff;
}


//user

/*____Home page css start __*/

.list_style{
    padding: 0px;
    list-style: none;
}

.user-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    color: var(--greyish-brown);
}

.para-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.user-input-box{
    width: 230px;
    height: 35px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
}

.user-input-text{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    color: var(--greyish-brown);
    text-indent: 5px;
}

.user-address-box{
    width: 475px;
    height: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;

}
.btn-edit {
    width: 75px;
    height: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #8b77fa;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8b77fa;
    outline: none;
  
  }
  .btn-edit:hover{
      background-color: #8b77fa;
      color: #ffffff;
  }

  .main_profile{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  .img_profile{
      width: 60px;
      height: 60px;
  }
.profile{
    margin-left: auto;
    margin-right: auto;
    padding-left: 30%;
}
.privacy_link{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}

.profile_title{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}

.profile-details{
    padding-left: 35%;
}
.profile_name{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #12203c;
}
.profile-box{
    width: 300px;
    height: 25px;
    background-color: #ffffff;
    
}

.btn-save{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #8b77fa;
    border: solid 1px #8b77fa;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
}

.container_filter{
    width: 100%;
    box-shadow: 3px -4px 4px 0 rgba(213, 213, 213, 0.5);
    background-color: #ffffff;
    border: solid 1px #f3f3f3;
    padding: 10px 10px 10px 10px;
    
}

.filter_link{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    
}

.filter-box-text{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-indent: 5px;
    
}

.btn-apply{
    width: 120px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: #8b77fa;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;

}
.btn-clear{
    width: 120px;
    height: 20px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    outline: none;
    border: none;
    background-color: #ffffff;
    outline: none;
}

.apply-filter{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8b77fa;

}
.fixed-side-site{
    width: 100px!important;
    display: flex;
    align-items: center;
    box-shadow: 8px 0 10px -3px #efefef;
}
.siteTableMain{
    margin-left: 100px!important;
    max-width: 100%!important;
}
.siteTableMain table th label,.siteTableMain table tr td label{
    width: 140px;
}
.siteViewTable .edit_button,.siteViewTable .delete_button{
    border:0;
}
.siteViewTable .edit_button img,.siteViewTable .delete_button img{
    width: 15px;
}
.siteViewTable .edit_button:hover,.siteViewTable .delete_button:hover{
    background: transparent;
}
.siteViewTable>tbody>tr:nth-child(even){
    background: #fff;
}
.siteViewTable>tbody>tr:nth-child(odd){
    background: #f4f4fd;
}
.siteViewTable tr td{
    max-width: 164px;
    white-space: normal!important;
    word-break: break-all;
}
.siteCheckBox label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding: 0;
    margin: 0;
    padding-top: 12px;
    cursor: pointer!important;
}
.siteCheckBox {
    .checkBoxLabel0 {
        .checkmark1{
            top: 12px;
            right: -25px;
            left:auto;
            height: 16px;
            width: 16px;
            background-color: #fff;
            cursor: pointer;
            border-radius: 4px;
            border: 2px solid #dce6f0;
        }
        .checkmark1:after{
            content: none;
        }
        input:checked~.checkmark1 {
            background-color: #8b77fa;
            border: none;
        }
        input:checked~.checkmark1:after {
            width: 5px;
            height: 9px;
            border-width: 0 2px 2px 0;
            content: "";
        }
    }
}
.proxyModal table tbody td:last-child{
    padding-left: 10px !important;
}
// .siteViewTable tr td label{
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;  
//     overflow: hidden;
// }