.container_admin{
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.container_details{
    width: 100%;
    padding: 15px;
    // margin-top: 20px;
}
.site-content{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.para-content{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}
.details-content{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

 .container_card{
    padding: 15px;
    box-shadow: 0 0 0 0 rgba(186, 186, 186, 0.5);
    border-bottom: solid 1px #f2ecec;
   
 
}
 .form-box{
    width: 230px;
    height: 36px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    text-indent: 5px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .fixedbutton{
    top: 85%;
    position: fixed;
}



.sitemappingTable{
    // display: block;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    // height: 30vh;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 0px;
}

.sitemappingTable>thead>tr>th>label{
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
}
.sitemappingTable>tbody>tr>td>label{
    // font-size: 9px;
    font-weight: 500;
    font-family: Montserrat;
    color: #8b8b8b;
    text-align: left;
}
.sitemappingTable>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.sitemappingTable>tbody>tr>td:nth-child(1){
    border: 1px solid #ddd;
    border-left: none;
}
.sitemappingTable>tbody>tr>td:nth-child(2){
    border: 1px solid #ddd;
    border-left: none;
}

.sitemappingTable>tbody>tr>td:nth-child(3){
    border: 1px solid #ddd;
      border-left: none;
}
.sitemappingTable>tbody>tr>td:nth-child(4){
    border: 1px solid #ddd;
      border-left: none;
}
.sitemappingTable>thead>tr>th
{
    border-bottom: none !important;
}
.sitemappingTable>tbody>tr>td
{
     border: 1px solid #ddd;
     border-left:0;
}

.sitemappingTable>tbody>tr:nth-child(even) {
    background: #fff
}
.sitemappingTable>tbody>tr:nth-child(odd) {
    background: #f4f4fd
}
.sitemappingTable>tbody>tr>td:last-child{
    border-right: none !important;
}
.circle_list {
  text-align: right;
  width: 100%;
  margin-top: 10px;
}
 
.search-logo{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #eaeaea;
    border: solid 0.9px #eaeaea;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

}
.siteMapppingMain tbody td .edit_button,.siteMapppingMain tbody td .delete_button{
    border:0;
    background: transparent;
    margin-left: -6px;
}
.siteMapppingMain tbody td .edit_button img,.siteMapppingMain tbody td .delete_button img{
    width:15px;
}
.siteMapppingMain .zui-scroller{
    max-width:100%;
    margin-left: 90px;
    padding-bottom:0;
}
.siteMapppingMain table tbody label{
    width:150px;
    word-break: break-all;
    white-space: normal;
}
.siteMapppingMain table{
    width: 98%;
}
.fixed-side-siteMap{
    width: 90px!important;
    display: flex;
    align-items: center;
}
.siteMapppingMain table tr td{
    border-bottom:0!important;
}
.userRestrict .table-scroll{
    margin-left:0;
}
.userRestrict .scrollableOrgansation{
    margin-left:0!important;
}