.headingfilterSketch{
    width: 100%;
    height: auto;
    display: inline-block;
}
.headingfilterSketch>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.sketchesFormDiv {
    width: 29%;
    margin-right: 15px;
    display: inline-block;
    position: relative;
}
.filterBtn{
    width: auto !important;
    text-align: right;
    margin-top: 15px !important;
}
.sketchesFormInput>span{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #9b9b9b;
    display: inline-block;
}
.sketchesFormInput{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    white-space: normal;
}
.sktechFilterBth{
    font-family: Montserrat;
    font-size: 10.8px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 135px;
    height: 30px;
    border-radius: 20.8px;
    background-color: #6d6dc9;
    // float: right;
}
.borderFilter{
    width: 645px;
    height: 1px;
    display: block;
    border: 1px solid #e6e6f5;
}
.SketchBox{
    position: relative;
    left: 5px;
    top: 6px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #4a4a4a;
}
.spanSketch{
    position: relative;
    left: 98px;
    top: 6px;
    font-size: 12px;
}
.dropdownSketchFilter{
    display: none;
    width: 600px;
    height: 403px;
    border-radius: 7px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-top: 15px;
    position: absolute;
    z-index: 1;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}
.SketchFilter{
    width: 100%;
    height: auto;
    display: block;
}
.SketchFilter>p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
}
.SketchFilter>input{
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 30px;
    border: 1px solid #e6e6f5;
    text-indent: 5px;
}
.lftStoreDiv{
    float: left;
    width: 48%;
    height: auto;
    margin-top: 10px;
    
}
.lftStoreDiv>h2{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
}
.storeChoose{
    width: 100%;
    height: 270px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}
.storeChoose>ul{
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

}
.storeChoose>ul>li{
    width: 100%;
}
.storeChoose>ul>li>p{
    font-family: Montserrat;
    font-size: 13.1px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    display: inline-block;
    cursor: pointer;
}
.storeChoose>ul>li:hover span, .storeChoose>ul>li:hover p{
    color: #4a4a4a;
    font-weight: 600;
    visibility: visible;
}
.onHover{
    position: absolute;
    display: block;
    background: #6d6dc9;
    height: 25px;
    width: 7px;
    left: 20px;
    visibility: hidden;
}
.storeChoose>ul>li>div>p{
    width: 210px;
    font-family: Montserrat;
    font-size: 13.1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    display: inline-block;
    cursor: pointer;
}
.close_btn_demand{
    position: relative;
    top: 1px;
    font-size: 16px;
    background-color: #ededed;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding-left: 5px;
}
.width50{
    width: 50%;
}
.width60per{
    width: 58%;
}
.width39{
    width: 39%;
}
.dropDownSkech .storeChoose ul li p {
    padding-left:10px;
}
.dropDownSkech{
    z-index: 2;
}