.sm-loader{
    border: 3px solid grey;
    border-radius: 50%;
    border-top: 3px solid white;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .btn-circle-loader{
      width:100%;
      position: absolute;
      /* left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);*/
      text-align: center;
      }
      .btn-circle-loader .oval-shape{
      background-image: url("../assets/oval.svg");
      background-repeat: no-repeat;
      height: 35px;
      /*background-position: 50%;*/
      animation: btnSize 1.3s linear infinite;
      background-position: 4%;
      background-size: 2%;
      }
      
      @-webkit-keyframes btnSize {
      0% {
      background-size: 11% 60%;
      opacity:1;
      }
      10%{
      background-size:11% 56%;
      opacity:0.9;
      }
      20%{
      background-size:11% 52%;
      opacity:0.8;
      }
      30%{
      background-size:11% 48%;
      opacity:0.7;
      }
      40%{
      background-size:11% 44%;
      opacity:0.6;
      }
      50% {
      background-size: 11% 40%;
      opacity: 0.5;
      }
      60%{
      background-size: 11% 44%; 
      opacity: 0.6;
      }
      70%{
      background-size: 11% 48%;
      opacity: 0.7;
      }
      80%{
      background-size: 11% 52%;
      opacity: 0.8;
      }
      90%{
      background-size: 11% 56%;
      opacity: 0.9;
      }
      100% {
      background-size: 11% 60%;
      opacity: 1;
      }
      }