.storeProfileMain .heading h2{
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    text-align: left;
}
.storeProfileMain .heading h4{
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #4a4a4a;
}
.storeProfileMain .heading h4 span{
   font-weight: 600;
}
.dropStore{
    border-radius: 27px;
    border: solid 1px #f2f2f2;
    width: 138px;
    float: right;
    height: 37px;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
}
.dropStore i{
    position: absolute;
    right: 15px;
    top: 12px;
}
.dropStore span{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.storeProfileMain .saleInfo{
    width:100%;
    display: inline-block;
}
.saleInfo .totalSaleLeft .saleCards{
    width: 42%;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 11px 0 hsla(0,0%,84%,.5);
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 19px 0;
    margin-right: 30px;
}
.verticalTabs{
    vertical-align: top;
}
.verticalTabs .tabsShow{
    width:27%;
    display: inline-block;
    vertical-align: top;
}
.verticalTabs .tabsShow li{
    text-align: right;
    padding-right: 10px !important;
    padding: 24.2px 0;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    border: solid 1px #ebebeb;
    border-bottom: 0;
    color: #4a4a4a;
    cursor:pointer;
}
.verticalTabs .tabsShow li.active{
    background: #6d6dc9;
    border-right: 12px solid #3b3b98;
    color: #fff;
}
.verticalTabs .tabsShow li:last-child{
    border-bottom: solid 1px #ebebeb;
}
.verticalTabs .tabsItems{
    box-shadow: 0 0 11px 0 rgba(213, 213, 213, 0.5);
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    width: 73%;
    display: inline-block;
    min-height: 47.3vh;
}
.saleInfo .totalSaleLeft .saleCards h3{
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #4a4a4a;
    margin-top: 5px;
}
.saleInfo .totalSaleLeft .saleCards h3 span{
    font-weight: 500;
    padding-right: 5px;
}
.totalSaleLeft .saleCards h4{
    position: relative;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    padding-top: 7px;
}
.totalSaleLeft .saleCards p{
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #939393;
    padding-top: 30px;
    margin-bottom: 0;
}
.totalSaleLeft .saleCards h4:after {
    content: "";
    position: absolute;
    border-radius: 9px;
    background-image: radial-gradient(circle at 98% 97%,#3023ae,#ac5cff);
    height: 4px;
    width: 33px;
    left: 88px;
    bottom: -19px;
}
.totalSaleLeft .saleCards .rupeeSign{
    color: #868686;
}
.rightGraph .verticalTabs{
    height: auto;
}
.rightGraph .verticalTabs .tabsItems{
    min-height: 318px;
}
.rightGraph label{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    margin-bottom: 0px;
}
.topBottomSale{
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}
.topBottomSale .verticalTabs .tabsItems{
    // height: 62vh;
    min-height: 418px;   
    width: 70%;
    padding: 28px 33px;
}
.topBottomSale .verticalTabs .tabsItems .barcodeSell{
    margin-top: 20px;
    border-top: 1px solid #e3e7f3;
}
.topBottomSale .verticalTabs .tabsShow li{
    padding: 22.3px 0;
}
.topBottomSale .topBotSaleGraph{
    box-shadow: 0 0 11px 0 rgba(213, 213, 213, 0.5);
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  height: auto;
  padding: 14px 33px;
  min-height: 418px;
}
.topBotSaleGraph .graphHeading{
    display: inline-block;
}
.topBotSaleGraph .topBottomSwitch{
    width:52% !important;
}
.topBotSaleGraph .topBottomSwitch{
    text-align:center;
}
.barcodeSell .heading{
    padding: 13px 0px;
}
.barcodeSell .heading label{
    margin-bottom: 0px;
}
.barcodeSell table{
    display: inline-table;
    width:50%;
    margin-top: 10px;
}
.topBottomSale .barcodeSell tbody label{
    padding: 15px 0 15px 8px;
}
.topBottomSale .barcodeSell table{
    margin-top: 0px;
}
.barcodeSell tbody label{
    position: relative;
    width: 100%;
    padding: 13px 0;
    font-size: 11px!important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    border-bottom: solid 1px #e3e7f3;
    border-right: solid 1px #e3e7f3;
    padding-left: 8px;
    margin-bottom: 0px;
}
.barcodeSell table thead label{
    font-size: 12px !important;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    padding-left: 8px;
    text-transform: initial !important;
    padding: 10px;
}
.topBottomSale .tabsItems .heading label{
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.barcodeSell table thead{
    border-top: solid 1px #e3e7f3;
    border-bottom: solid 1px #e3e7f3;
}
.barcodeSell .secondTable tbody tr td:last-child label{
    border-right: 0;
}
.barcodeSell .secondTable tbody .toolTip{
    display: none;
}
.barcodeSell .firstTable tbody .toolTip{
    display: none;
}
.toolTipMain:hover .toolTip{
    display: block!important;
    font-size: 10px;
    font-weight: 500;
    background-color: #f9f9f9!important;
    color: #4a4a4a;
    border: 1px solid #e3e7f3;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 46%;
    margin-left: -60px;
    height: auto;
    padding: 3px 5px;
    top: -26!important;
    width: 100%;
    white-space: inherit;
    word-break: break-all;
}
.storeProfileMain .festivalImpact{
    box-shadow: 0 0 11px 0 rgba(213, 213, 213, 0.5);
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    padding: 20px 30px;
}
.festivalImpact table thead th label{
    width: 100%;
    text-transform: none!important;
    // padding: 10px;
}
.festivalImpact h4{
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .6px;
    color: #4a4a4a;
}
.festivalImpact table{
    display: inline-table;
    width: 100%;
}
.festivalImpact p{
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.festivalImpact table thead{
    border-top: 1px solid #e3e7f3;
    border-bottom: 1px solid #e3e7f3;
}
.festivalImpact  tr:first-child th label{
    font-size: 13px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 10px;
}
.festivalImpact  tr:last-child th label{
    font-size: 12px!important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    padding-bottom: 3px;
}
.festivalImpact tbody tr td {
    border-bottom: solid 1px #e3e7f3;
    border-right: solid 1px #e3e7f3;
}
.festivalImpact tbody tr td:last-child{
    border-right: 0;
}
.festivalImpact tbody tr td:first-child{
    width: 180px;
}
.festivalImpact tbody tr td label{
    padding: 10px;
}
.festivalImpact tbody tr td:first-child label{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a !important;
    padding: 0px;
}
.festivalImpact tbody tr td:nth-child(odd) label{
    font-size: 13px !important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #57a700;
}
.festivalImpact tbody tr td:nth-child(even) label{
    font-size: 13px !important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.festivalImpact tbody tr td:nth-child(even){
    border-right: 0;
}
.storeProfilePagination ul{
    display: flex;
}
.storeProfilePagination .pagination{
    width: 19%;
}
.storeProfilePagination .pagination li{
    width: 33%
}
.totalSaleEstimation .totalSaleProfit{
    height:auto;
    box-shadow: 0 0 11px 0 rgba(213, 213, 213, 0.5);
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    width:96%;
    min-height: 60vh;
}
.totalSaleProfit .recharts-wrapper{
    height: auto !important;
}
.salePerSquare .recharts-wrapper{
    height: auto !important;
}
.totalSaleEstimation .salePerSquare{
    height:auto;
    box-shadow: 0 0 11px 0 rgba(213, 213, 213, 0.5);
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    width:96%;
    margin-left: auto;
    min-height: 60vh;
}
.verticalTabs .tabsItems .basicInfoStore{
    padding: 12px 30px;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-bottom: 21px;
}
.verticalTabs .tabsItems .basicInfoStore h5{
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #4a4a4a;
}
.verticalTabs .tabsItems .basicInfoStore label{
    font-size: 14px;
    font-weight: 600;;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.verticalTabs .topArticleStore{
    padding: 12px 30px;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-bottom: 21px;
    height:47vh;
}
.verticalTabs .topArticleStore table{
    display: inline-table;
    width: 100%;
}
.topArticleStore tbody tr td:last-child label{
    border-right: 0;
}
.topArticleStore tbody tr td:first-child{
    width: 130px;
}
.topArticleStore .heading h3{
    display: inline-block;
    float: left;
}
.topArticleStore .topBottomSwitch{
    width: 62%;
    height: 24.6px;
    border-radius: 13.3px;
    border: solid 0.7px #e3e7f3;
    float: right;
}
.topArticleStore .topBottomSwitch label{
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    padding: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer !important;
}
.topArticleStore .topBottomSwitch label.active{
    border-radius: 100px 0px 0px 100px;
    background: #6d6dc9;
    color: #fff;
}
.topArticleStore .botFivePerformer label.active{
    border-radius: 0px 100px 100px 0px;
}   
.topArticleStore .heading{
    display: inline-block;
    width:100%;
}
.topArticleStore .heading h3{
    font-size: 13.2px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 0px;
}
.topArticleStore table label img{
    // margin-left: 18px;
    right:10px;
    width: 10px;
    position: absolute;
}
.infNote label{
    font-size: 10.2px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.infNote label span{
    font-weight: bold;
}
.graphHeading{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 20px;
}
.searchStoreProfileMain h1{
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.searchStoreProfileMain h2{
    letter-spacing: 0.6px;
    margin-top: 15px;
    font-weight: 500;
    font-size:12px;
}
.searchStoreProfileMain h2::before{
    display: none;
}
.searchStoreProfileMain input[type=search]{
    display: block;
    margin: auto;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    text-indent: 20px;
    font-size: 13px;
    font-weight: 700 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    margin-top: 20px;
    // background: url("../assets/search.svg") no-repeat;
    // background-position: 95%;
    // background-size: 5%;
}
// .searchStoreProfileMain input[type=search]:focus + .storeSearchDrop , .searchStoreProfileMain input[type=search]:active + .storeSearchDrop{
//     display: block;
// }
.searchStoreProfileMain button{
    width: 160px;
    margin-top: 55px;
    font-size: 11px;
    border-radius: 4px;
    height: 33px;
}
.storeSearchDrop{
    height: 100% !important;
    width: 100%;
    position: absolute;
    padding: 14px 0;
    border-radius: 5px;
    box-shadow: 0 1px 11px 0 rgba(195, 195, 195, 0.5);
    border: solid 1px #e9e9e9;
    background-color: #ffffff;
    height: auto;
}
.chooseStoreModal .middleContent{
    position: relative;
}
.chooseStoreModal .storeSearchDrop{
    overflow: hidden;
    height: 24vh !important;
}
.chooseStoreModal .storeSearchDrop ul{
    height: 19.5vh;
}
.storeSearchDrop ul{
    padding: 0px 30px;
    height: 26.5vh;
    overflow: auto;
}
.storeSearchDrop ul li{
    padding: 14px 0px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}
.storeSearchDrop ul li label{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #4a4a4a;
    margin-bottom: 0;
    cursor: pointer;
}
.chooseStoreModal{
    padding: 33px!important;
    height: 54%;
    width: 51%;
    text-align: center;
}
.chooseStoreModal .cancelBtn{
    width: 106px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  color: #4a4a4a;
}
.chooseStoreModal button{
    margin-right: 15px;
    margin-top:65px;
}
.searchStoreProfileMain .middleContent{
    width: 35%;
}
.chooseStoreModal .middleContent{
    width: 75%;
    margin: 25px auto;
}
// .chooseStoreModal input[type=search]{
//     width: 79%;
// }
.graphLabel .recharts-surface>.recharts-layer .recharts-label>tspan{
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    fill: #656d78;
}
.saleTrendDiv .topBottomSwitch{
    width: 37%;
    margin-left: 200px;
    float: left;
}
.saleTrendDiv .heading{
    display: flex !important;
    align-items: center;
}
.graphHeight .recharts-surface{
    height: 400px;
}
.noDaTaFoundStore{
    height: 100%;
    justify-content: center;
    font-size: 13px;
    color: #4a4a4a;
    font-weight: 500;
}
.festivalImpact .tableNoData td{
    border-bottom: 0 !important;
    line-height: 3;
    font-size: 13px;
}
.toolTipStyle .recharts-wrapper .recharts-tooltip-wrapper .recharts-tooltip-item-value{
    // font-size:30px;
    font-weight: bold;
}
.toolTipStyle .recharts-wrapper .recharts-tooltip-wrapper .recharts-tooltip-item-name{
    font-weight: 500;
}
.sktechFilterBthClear{
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background: transparent;
}

// Style New Store Analytics Page In 2020 
.bg-gray {
    background: #f4f6fc;
}
.store-analytics-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .sah-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        .vendor-dashboard-tabs {
            width: auto;
            padding: 0;
            background: transparent;
            margin-left: 40px;
            .vendor-tablist-item{
                .vd-tab-list{
                    li{
                        .vd-tab-btn{
                            padding: 8px 15px;
                            background-color: transparent;
                        }
                        .vd-tab-btn:focus {
                            background-color: transparent;
                        }
                    }
                    li.active .vd-tab-btn:after {
                        width: 20px;
                        height: 3px;
                        border-radius: 55px;
                    }
                }
            }
        }
        .vendor-dashboard-tabs:after {
            content: none;
        }
    }
    .sah-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .sahr-store-drop {
            position: relative;
            .sahsd-btn {
                border-radius: 6px;
                box-shadow: 0 3px 6px 0 #d7e1f3;
                background-color: #fff;
                font-size: 12px;
                font-weight: 600;
                padding: 6px 30px 6px 15px;
                height: 32px;
                color: #21314b;
                min-width: 190px;
                text-align: left;
                background-image: url('../assets/downArrowNew.svg');
                background-repeat: no-repeat;
                background-position: 93%;
                background-size: 13px;
                margin-left: 20px;
            }
            .sahrsd-dropdown {
                display: block;
                position: absolute;
                top: 41px;
                right: 0;
                width: 220px;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                min-height: 200px;
                background-color: #fff;
                max-height: 370px;
                overflow: auto;
                .sahrsdd-inner {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                    }
                    .sahrsdd-search {
                        position: relative;
                        padding: 5px 10px;
                        input[type="search"] {
                            border-radius: 37px;
                            border: 1px solid #dce6f0;
                            background: #fff;
                            padding: 4px 40px 5px 9px;
                            height: 30px;
                            font-size: 12px;
                            color: #000;
                            font-weight: 500;
                            width: 100%;
                        }
                        input:focus {
                            border: 1px solid #8b77fa;
                        }
                        .search-image {
                            position: absolute;
                            top: 13px;
                            right: 21px;
                            width: 14px;
                        }
                    }
                    .sahrsdd-search:hover {
                        background-color: transparent;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                    }
                    .sahrsdd-head {
                        font-size: 12px;
                        font-weight: 500;
                        color: #969fad;
                    }
                }
            }
        }
    }
}

.store-analytics-overview-card {
    display: table;
    width: 100%;
    background: transparent;
    padding: 15px 15px;
    .saoc-inner-card {
        position: relative;
        display: block;
        background: #fff;
        border-radius: 9px;
        box-shadow: 0 3px 6px 0 rgba(217,226,235,.73);
        height: 155px;
        text-align: center;
        padding: 12px 0;
        transition: all .6s;
        .saocic-icon {
            width: 40px;
            height: 40px;
            background-color: #5979af29;
            border-radius: 50%;
            padding: 11px 5px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }
        .bg-yellow {
            background-color: #fff6d5;
            padding: 13px 5px;
        }
        .bg-red {
            background-color: #ff8f6640;
        }
        .bg-pprl {
            background-color: #8b77fa33;
        }
        .bg-blue {
            padding: 12px 5px;
            background-color: #bddbff52;
        }
        .saocic-price {
            display: block;
            position: relative;
            padding: 14px 0;
            font-size: 18px;
            font-weight: 800;
            img {
                width: 13px;
                margin-right: 7px;
            }
        }
        .saocic-price:hover>.generic-tooltip {
            visibility: visible;
            opacity: 1;
            top: -13px;
        }
        p {
            font-size: 13px;
            font-weight: 500;
            color: #969fad;
            margin: 0;
        }
        .saocic-circle{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #eaa100;
            display: inline-block;
            margin-top: 4px;
        }
        .saocic-groth-percentage {
            font-size: 12px;
            font-weight: 700;
            color: #3ee585;
            display: inline-block;
            .triangle-up {
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 8px solid #3ee585;
                display: inline-block;
                margin-right: 7px;
            }
        }
        .saocic-degroth-percentage{
            font-size: 12px;
            font-weight: 700;
            color: #eb0008;
            display: inline-block;
            .triangle-down {
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 8px solid #eb0008;
                display: inline-block;
                margin-right: 7px;
            }
        }
    }
    .saoc-inner-card:hover {
        box-shadow: 8px 30px 56px 0 #cddaef;
        transition: 0.6s all;
    }
}

.store-analytics-table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sath-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h3 {
            font-size: 12px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        .nph-switch-btn {
            margin: 0;
            margin-left: 20px;
            .tg-switch {
                width: 50px;
                height: 22px;
                .tg-slider {
                    background-color: #fff;
                    box-shadow: 0 3px 6px 0 #d7e1f3;
                }
                .tg-slider:before {
                    height: 14px;
                    width: 14px;
                    left: 4px;
                    bottom: 4px;
                    background-color: #4cd3d7;
                }
                input:checked+.tg-slider {
                    background-color: #ffffff;
                }
                input:checked+.tg-slider:before {
                    background-color: #fcdb3a;
                    transform: translateX(28px);
                }
            }
            .nph-wbtext {
                position: absolute;
                top: 4px;
                left: 60px;
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                color: #12203c;
            }
        }
    }
    .sath-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .sathr-sales-through {
            position: relative;
            button {
                border-radius: 46px;
                box-shadow: 0 3px 6px 0 #d7e1f3;
                background-color: #fff;
                font-size: 12px;
                font-weight: 600;
                padding: 6px 33px 6px 13px;
                height: 32px;
                color: #21314b;
                text-align: left;
                background-image: url('../assets/downArrowNew.svg');
                background-repeat: no-repeat;
                background-position: 90%;
                background-size: 11px;
                margin-left: 20px;
                min-width: 95px;
            }
            .sathrst-dropdown {
                display: block;
                position: absolute;
                top: 41px;
                right: 0;
                width: 130px;
                padding: 8px 0;
                margin: 0;
                z-index: 99;
                border-radius: 6px;
                box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                background-color: #fff;
                max-height: 270px;
                overflow: auto;
                .sathrstd-inner {
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #4a5568;
                    }
                    li:hover {
                        font-weight: 600;
                        color: #21314b;
                        background-color: #e5edf8;
                    }
                    .sahrsdd-head {
                        font-size: 12px;
                        font-weight: 500;
                        color: #969fad;
                    }
                }
            }
        }
    }
}

.store-analytics-table-body {
    display: block;
    background: #fff;
    border-radius: 9px;
    padding: 10px 25px;
    margin-bottom: 30px;
    .satb-head{
        display: block;
        text-align: right;
        margin-bottom: 10px;
        button {
            padding: 5px 3px;
            background-color: #ffffff;
        }
    }
    .satb-table {
        max-height: 340px;
        overflow-x: auto;
        overflow-y: auto;
        position: relative;
    }
    table{
        thead {
            tr {
                th {
                    border-top: 1px solid #dce6f0 !important;
                    border-bottom: 1px solid #dce6f0;
                    vertical-align: middle;
                    position: sticky;
                    top: 0;
                    background: #fff;
                    z-index: 5;
                    label {
                        font-size: 12px !important;
                        font-weight: 600;
                        margin: 0;
                    }
                }
                th:first-child {
                    padding-left: 0px;
                }
            }
        }
        tbody {
            tr {
                td {
                    border: none;
                    vertical-align: middle;
                    position: relative;
                    label {
                        font-size: 11px;
                        font-weight: 500;
                        margin: 0;
                        color: #12203c;
                        max-width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .table-tooltip {
                        z-index: 9;
                        transform: translate(-50%,-90%);
                        label {
                            max-width: none;
                        }
                    }
                }
                td:first-child {
                    padding-left: 0px;
                }
            }
        }
    }
}

// Style Date Range Filter
.date-range-filter {
    width: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 400px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 20px 30px;
    box-shadow: none;
    .drf-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
            margin: 0;
        }
        .bum-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
    }
    .drf-body {
        display: block;
        padding: 30px 0;
        .drfb-inner {
            display: block;
            .drfb-radio {
                border-radius: 5px;
                background-color: #fff;
                font-size: 12px;
                padding: 9px 15px;
                margin-right: 20px;
                height: 38px;
                font-weight: 500;
                position: relative;
                display: inline-block;
                width: 16%;
                margin-bottom: 20px;
                text-align: center;
                cursor: pointer !important;
                input[type="radio"] {
                    display: none;
                }
                .drfb-text {
                    font-size: 12px;
                    color: #12203c;
                    font-weight: 500;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;
                }
                .drfb-check:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    border: 1px solid #ccd8ed;
                    border-radius: 5px;
                    z-index: 0;
                    cursor: pointer;
                }
                input:checked~.drfb-text {
                    font-weight: 600;
                    color: #8b77fa;
                }
                input:checked~.drfb-check:before {
                    border: 2px solid #8b77fa;
                }
            }
        }
    }
    .drf-footer {
        display: block;
        text-align: center;
        button {
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 25px;
            height: 34px;
            font-weight: 600;
            position: relative;
            color: #12203c;
        }
        button.drff-done {
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            color: #ffffff;
            padding: 5px 55px;
            margin-right: 20px;
        }
    }
}

// Style Generic custom select
.gen-custom-select {
    position: relative;
    width: 100%;
    .gcs-select-btn {
        border-radius: 6px;
        // box-shadow: 0 3px 6px 0 #d7e1f3;
        border: solid 1px #dce6f0;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500;
        padding: 5px 20px 5px 5px;
        height: 30px;
        color: #21314b;
        width: 100%;
        text-align: left;
        background-image: url('../assets/downArrowNew.svg');
        background-repeat: no-repeat;
        background-position: 96%;
        background-size: 13px;
    }
    .gcs-dropdown {
        display: block;
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        padding: 8px 0;
        margin: 0;
        z-index: 99;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
        min-height: 150px;
        background-color: #fff;
        max-height: 370px;
        overflow: auto;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: block;
                padding: 5px 15px;
                cursor: pointer;
                font-size: 12px;
                font-weight: 500;
                color: #4a5568;
            }
            .gcsd-search {
                position: relative;
                padding: 5px 10px;
                input[type="search"] {
                    border-radius: 37px;
                    border: 1px solid #dce6f0;
                    background: #fff;
                    padding: 4px 28px 5px 9px;
                    height: 30px;
                    font-size: 12px;
                    color: #000;
                    font-weight: 500;
                    width: 100%;
                }
                input:focus {
                    border: 1px solid #8b77fa;
                }
                .search-image {
                    position: absolute;
                    top: 13px;
                    right: 21px;
                    width: 14px;
                }
            }
            .gcsd-search:hover {
                background-color: transparent;
            }
            li:hover {
                font-weight: 600;
                color: #21314b;
                background-color: #e5edf8;
            }
            .gcsd-head {
                font-size: 12px;
                font-weight: 500;
                color: #969fad;
            }
        }
    }
}