.udfMappingMain .search_list{
    margin-top:35px;
}
.udfMappingTable tbody tr td:first-child .checkmark1{
    top:-9;
    left:4px;
}
.udfMappingTable table tbody tr{
    background: transparent!important;
}
.udfMappingTable table tbody tr td label{
    color:#4a4a4a;
}
.udfMappingTable table tbody tr td:nth-child(3) label{
    font-weight: 600;
}
.udfMappingTable tbody tr td:nth-child(4) .checkmark1{
    top:-9px;
    left:0;
}
.udfDropDown button{
    font-weight:normal;
}
.tableScroll{
    height: 50vh;
    overflow: auto;
}
// --------------------------------------------SET UDF MAPPING CSS-----------------------------
.setUdfMappingMain ul.dropdown-menu{
    height: 155px!important;
    overflow-y: scroll;
}

.itemUdfSet .itemUdfTable .checkmark1{
    top:-8px;
    height: 17px;
    width: 17px;

}
.itemUdfSet .itemUdfTable .checkBoxLabel0 .checkmark1:after{
    border-width: 0 2px 2px 0;
    width: 5px;
    height: 10px;
    left: 6px;
    top: 3px;
}

// -----------------------------------------------SET UDF MAPPING CSS END--------------------------


//-------------------------------------------------Department Size Mapping CSS----------------------
.departmentSizeMapMain .scrollableTableFixed{
    margin-left:0;
}
.deptMapTable{
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.tableHeadFix .tableHeadFixHeight{
    overflow: auto;
    height: 50vh;
}
.tableHeadFix  table{
    // table-layout: fixed;
    width: 100%;
}
.tableHeadFix{
    overflow: hidden;
}
.tableHeadFix  table  tr th{
    position: sticky;
    top: 0;
    background: #fff;
    border-top: 1px solid #ddd!important;
    border-bottom: 1px solid #ddd!important;
    z-index: 5;
}
.tableHeadFix tbody>tr:first-child>td{
    border-top:0!important;
}

//--------------------------------------------------Department Size Mapping CSS End------------------

.procurement-setting-tab{
    .subscription-tab-list li.active a:after {
        background-color: #8b77fa !important;
    }
    .subscription-tab-list{
        .pst-button {
            position: absolute;
            top: 8px;
            right: 47px;
            .pstb-inner {
                display: block;
                button{
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    font-size: 12px;
                    padding: 5px 15px;
                    margin-left: 20px;
                    height: 32px;
                    font-weight: 500;
                    position: relative;
                    display: inline-block;
                }
                .pst-save {
                    border: 1px solid #8b77fa;
                    background-color: #8b77fa;
                    padding: 5px 25px;
                    color: #fff;
                }
                .excel-export {
                    border-radius: 25px;
                    background-color: #00ced6;
                    color: #fff;
                    border: 1px solid #00ced6;
                    padding: 5px 15px 5px 7px;
                    span{
                        padding: 5px;
                        border-radius: 50%;
                        background-color: #28d6dd;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.pst-inner{
    .subscription-tab-list li.active a:after {
        background-color: #ffb103 !important;
    }
}
// Style Set Udf Setting Main Page
.gen-item-udf{
    display: flex;
    position: relative;
    width: 100%;
    height: 67px;
    -ms-flex-align: center;
    align-items: center;
    .gvpd-left{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        button{
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            font-size: 12px;
            padding: 5px 15px;
            margin-right: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .remove-mapping-btn {
            color: #eb0008;
            border-radius: 15px;
            border: solid 1px #eb0008;
            height: 26px;
            padding: 3px 15px;
        }
        .giu-save{
            background-color: #8b77fa;
            border: solid 1px #8b77fa;
            color: #ffffff;
            padding: 3px 25px;
        }
    }
    .gvpd-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .gvpd-search{
            position: relative;
            display: inline-block;
            margin-left: 20px;
            form{
                margin: 0;
            }
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            input:focus{
                border: solid 1px #cdc4ff;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
        button{
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                right: 0;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        img{
                            width: 17px;
                            // margin-right: 12px;
                        }
                        span{
                            display: inline-block;
                            padding: 5px 7px;
                            border-radius: 50%;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                        div{
                            display: inline-block;
                            .multipleDownloadSelect {
                                border: none;
                                padding: 0;
                                -webkit-appearance: none;
                                background: #fff !important;
                            }
                        }
                    }
                    .export-excel{
                        color: #a4b9dd;
                        span{
                            margin-right: 10px;
                        }
                    }
                    .export-excel:hover{
                        color: #12203c;
                        span{
                            background-color: #049d4b14;
                            svg{
                                path{
                                    fill: #049d4b;
                                }
                                text{
                                    fill: #049d4b;
                                }
                            }
                        }
                    }
                    .pi-pdf-download{
                        .pi-pdf-svg{
                            margin-right: 10px;
                        }
                        .btnDisabled{
                            color: #a4b9dd !important;
                        }
                    }
                    .pi-pdf-download:hover{
                        .pi-pdf-svg{
                            background-color: #eb000817;
                            svg{
                                path{
                                    fill: #eb0008;
                                }
                                text{
                                    fill: #eb0008;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pi-download, .pi-download2{
            width: 32px;
            padding: 0;
        }
        .pi-download:hover{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            transition: 0.3s all;
            svg path{
                fill: #fff;
            }
        }
        .pi-download-focus{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            svg path{
                fill: #fff;
            }
        }
    }
    .gvpd-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .gvpd-search{
            position: relative;
            display: inline-block;
            margin-left: 20px;
            form{
                margin: 0;
            }
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            input:focus{
                border: solid 1px #cdc4ff;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
    }
}

.udf-flex{
    height: 55px;
    display: flex;
    align-items: flex-end;
    button.udf-search-btn {
        border-radius: 20px;
        border: solid 1px #8b77fa;
        background-color: #8b77fa;
        padding: 6px 15px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        height: 34px;
        img {
            width: 14px;
            margin-right: 9px;
        }
    }
    .udff-add-icon{
        width: 24px;
        margin-bottom: 6px;
        cursor: pointer;
    }
    .udff-close-icon{
        width: 35px;
        cursor: pointer;
    }
}
.udf-additional-section{
    .pi-new-layout{
        .uas-select{
            border: solid 1px #f8c902;
            background-color: #fffae7;
        }
        .uas-input{
            display: block;
            padding: 6px 10px;
            font-weight: 600;
            border-radius: 5px;
            border: solid 1px #f8c902;
            background-color: #fffae7;
            height: 34px;
            width: 100%;
            font-size: 11px;
        }
    }
}

.gen-item-udf-table{
    // max-height: 50vh;
    // overflow: hidden;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    position: relative;
    .giut-headfix{
        // height: auto;
        // max-height: 50vh;
        overflow: auto;
        .columnFilterGeneric {
            width: 19px;
            z-index: 9;
            .glyphicon {
                padding: 15px 3px;
                background: #8b77fa;
            }
        }
        .gen-main-table {
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead{
                border: none;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    height: 40px;
                    background-color: #fff;
                    th{
                        height: 42px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none!important;
                        position: sticky;
                        top: 0;
                        line-height: 2;
                        background: #fff;
                        z-index: 5;
                        img{
                            margin-left: 10px;
                        }
                    }
                    .fix-action-btn{
                        width: 40px;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        left: 0;
                        position: sticky;
                        border-right: none;
                        border-bottom: none;
                        z-index: 5;
                        max-width: 90px;
                        padding: 0;
                    }
                }
            }
            tbody{
                tr{
                    background: transparent;
                    height: 40px!important;
                    td{
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: .5px solid #e3e7f3;
                        position: relative;
                        input {
                            border: 1px solid #dce6f0;
                            border-radius: 5px;
                            height: 25px;
                            max-width: 180px;
                        }
                        input[type=text], textarea {
                            color: #12203c;
                            font-weight: 700;
                        }
                        label{
                            color: #12203c;
                            margin: 0;
                            font-weight: 500;
                            vertical-align: middle;
                        }
                        .checkBoxLabel0{
                            display: block;
                            .checkmark1 {
                                top: -8px;
                                left: 3px;
                                height: 17px;
                                width: 17px;
                                background: #fff;
                                border: solid 2px #dce6f0;
                            }
                            .checkmark1:after{
                                content: none;
                            }
                            input:checked~.checkmark1 {
                                background-color: #8b77fa;
                                border: none;
                            }
                            input:checked~.checkmark1-disabled{
                                background-color:  #dce6f0;                             
                            }
                            .checkmark1-disabled{
                                background-color: #F4F4FD;
                            }
                            input:checked~.checkmark1-red {
                                background-color: #e83600 !important;
                                border: none !important;
                            }
                            .checkmark1-red {
                                background-color: #f9f3f1 !important;
                                border: solid 2px#eacdcc !important;
                            }
                            input:checked~.checkmark1:after{
                                content: "";
                                width: 5px;
                                height: 9px;
                                border-width: 0 2px 2px 0;
                            }
                        }
                    }
                    td:first-child{
                        height: 40px;
                    }
                    .border-lft{
                        border-left: none;
                    }
                    .fix-action-btn{
                        width: 40px;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        padding: 0;
                        left: 0;
                        position: sticky;
                        z-index: 1;
                        max-width: 90px;
                        .table-item-list{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0;
                            margin: 0;
                            height: 35px;
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                    .checkmark1 {
                                        left: 0px;
                                        top: 0px;
                                        height: 16px;
                                        width: 16px;
                                        background: #fff;
                                        border: solid 2px #dce6f0;
                                        cursor: pointer;
                                        border-radius: 4px;
                                    }
                                    .checkmark1:after {
                                        content: none;
                                    }
                                    input:checked~.checkmark1 {
                                        background-color: #8b77fa;
                                        border: none;
                                    }
                                    input:checked~.checkmark1:after{
                                        content: "";
                                        width: 5px;
                                        height: 9px;
                                        border-width: 0 2px 2px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .bg-config-orange{
                    background-color: #fffae7;
                    td{
                        border: 1px solid #faecb4;
                    }
                }
                .bg-config-blue{
                    background-color:#f2f5f8;
                    td{
                        border: 1px solid #bfdfff;
                    }
                }
                tr:first-child{
                    td{
                        border-top: 0;
                    }
                }
            }
        }
    }
}
// .udf-additional-section {
//     display: block;
//     border-radius: 21px;
//     box-shadow: 0 0 6px 0 rgba(150, 150, 150, 0.16);
//     padding: 25px 26px 30px;
//     margin: 10px 0;
// }

// Style Excel Upload Modal 
.excel-upload-modal{
    .eum-body{
        height: 150px;
    }
    .eumb-bottom {
        display: block;
        margin-top: 10px;
        h3 {
            font-size: 13px;
            font-weight: 600;
            color: #21314b;
        }
        .eumbb-header {
            display: block;
            span {
                border-radius: 12px;
                background-color: #e5edf8;
                font-size: 11px;
                font-weight: 500;
                display: inline-block;
                margin-right: 10px;
                padding: 2px 8px;
                cursor: pointer;
            }
        }
    }
    .eum-footer{
        padding: 30px 0 0 !important;
    }
}


// Style Api Log
.manage-api-log-modal {
    width: 820px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 90vh;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 30px 50px;
    box-shadow: none;
    .malm-head {
        display: block;
        padding: 10px 0;
        h3 {
            font-size: 14px;
            font-weight: bold;
            color: #21314b;
            margin-bottom: 20px;
        }
        span {
            font-size: 13px;
            font-weight: 500;
            color: #21314b;
        }
        .malm-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
    }
    .malm-body {
        display: block;
        max-height: 80vh;
        overflow: auto;
        .malmb-inner {
            display: block;
            padding: 10px 0;
            h3 {
                font-size: 14px;
                font-weight: 700;
                color: #21314b;
                margin-bottom: 20px;
            }
            .malmb-item {
                border-radius: 10px;
                border: solid 1px #e5edf8;
                background-color: #f2f6fb;
                padding: 15px 15px;
                position: relative;
                min-height: 70px;
                span.code {
                    font-size: 13px;
                    font-weight: 500;
                    color: #21314b;
                }
                span.malmb-copy-icon {
                    display: inline-block;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    cursor: pointer;
                }
                pre {
                    border: none;
                    background-color: #f2f6fb;
                    font-size: 12px;
                }
            }
        }
    }
}
// Style Notification Modal
.modal-content.notification-modal {
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 30px 40px;
    box-shadow: none;
    .nm-inner {
        width: 100%;
        text-align: center;
        align-items: center;
        height: 100vh;
        padding: 110px 0;
        img {
            width: 230px;
        }
        h3 {
            font-size: 14px;
            font-weight: bold;
            color: #12203c;
            padding: 10px 0;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #718096;
            padding: 5px 0;
        }
        .mni-close{
            position: absolute;
            top: 9px;
            right: 20px;
            background: #fff;
            padding: 0;
            .nmic-esc{
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
                color: #969fad;
                padding: 5px;
                position: relative;
                margin-right: 5px;
            }
            .nmic-esc:before{
                content: "";
                position: absolute;
                top: 9px;
                right: -2px;
                width: 1px;
                height: 13px;
                background-color: #969fad;;
            }
            .nmi-close-btn{
                background: #fff;
                padding: 5px;
            }
        }
    }
}

// Style Check Input
.pi-new-layout{
    .check-input{
        width: 202px;
        padding-left: 0;
        // margin-right: 15px;
        .inputTextKeyFucMain{
            position: relative;
            width: 82%;
            display: inline-block;
            float: left;
            .pnl-purchase-input {
                border-radius: 5px 0 0 5px;
                text-indent: 0;
            }
            .mrl-input{
                display: inline-block;
                width: 50%;
                border-radius: 5px 0 0 5px;
                padding: 5px;
            }
            .mrl-input1{
                display: inline-block;
                width: 50%;
                padding: 5px;
                border-left: none;
                border-radius: 0;
            }
        }
        .pnlci-check {
            border: 1px solid #dce6f0;
            display: inline-block;
            width: 18%;
            position: relative;
            height: 34px;
            float: left;
            border-radius: 0 5px 5px 0;
            border-left: none;
            float: left;
            .checkBoxLabel0 {
                width: 16px;
                height: 16px;
                padding-left: 16px;
                margin: 0;
                .checkmark1{
                    left: 8px;
                    top: 8px;
                    height: 16px;
                    width: 16px;
                    background: #fff;
                    border: 2px solid #dce6f0;
                    cursor: pointer;
                    border-radius: 4px;
                }
                .checkmark1:after{
                    content: none;
                }
                input:checked~.checkmark1 {
                    background-color: #8b77fa;
                    border: none;
                }                
                input:checked~.checkmark1:after {
                    content: "";
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }
}

// Generic Info Tool
.gen-info-icon {
    display: inline-block;
    position: relative;
    .gii-dropdown {
        position: absolute;
        top: 0px;
        left: 25px;
        width: auto;
        border-radius: 6px;
        box-shadow: 2px 3px 6px 0 rgba(0,0,0,.16);
        background-color: #fff;
        padding: 10px 10px;
        visibility: hidden;
        opacity: 0;
        transition: all .6s;
        z-index: 9;
        min-width: 190px;
        p {
            font-size: 12px;
            font-weight: 500;
            white-space: nowrap;
            margin: 0;
            padding: 3px 0;
            font-style: italic;
        }
        label{
            color: #12203c;
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            white-space: nowrap;
            position: relative;
            margin-bottom: 12px;
        }
        .checkBoxLabel0{
            display: block;
            .checkmark1 {
                top: 1px;
                left: 3px;
                height: 17px;
                width: 17px;
                background: #fff;
                border: solid 2px #dce6f0;
            }
            .checkmark1:after{
                content: none;
            }
            input:checked~.checkmark1 {
                background-color: #8b77fa;
                border: none;
            }
            input:checked~.checkmark1:after{
                content: "";
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
            }
            input:checked~.checkmark1-disabled{
                background-color:  #dce6f0;                             
            }
            .checkmark1-disabled{
                background-color: #F4F4FD;
            }
            input:checked~.checkmark1-red {
                background-color: #e83600;
                border: none;
            }
            input:checked~.checkmark1-orange {
                background-color: #ffa500;
            }
            input:checked~.checkmark1-yellow {
                background-color: #ffff00;
                border: none;
            }
        }
    }
    .gii-dropdown.gii-dropright{
        left: auto;
        right: 30px;
    }
}
.gen-info-icon:hover>.gii-dropdown {
    visibility: visible;
    opacity: 1;
}

// Style Api Access Details
.manage-api-log-modal.api-access-details-modal {
    height: 580px;
    padding: 0;
    .malm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px;
        h3 {
            font-size: 14px;
            font-weight: 700;
            color: #21314b;
            margin-bottom: 0;
        }
        button {
            position: relative;
            background: #fff;
            padding: 4px;
            border-radius: 50%;
            border: solid 2px #000;
        }
    }
    .malm-body {
        padding: 15px 32px;
        max-height: 43vh;
        .malmb-inner {
            label {
                font-size: 12px;
                font-weight: 500;
                color: #a5add8;
            }
            .malmb-item {
                padding: 8px 15px;
                min-height: 31px;
                .code {
                    font-weight: 600;
                    white-space: normal;
                }
            }
        }
    }
    .aadm-body {
        display: block;
        max-height: 410px;
        overflow: auto;
        padding: 25px 32px;
        h3 {
            font-size: 14px;
            font-weight: 700;
            color: #12203c;
        }
        h2 {
            font-size: 16px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
            margin-top: 30px;
        }
        .aadmb-top {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            .aadmbt-field {
                margin-right: 20px;
                display: block;
                
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                }
                select {
                    width: 220px;
                    height: 34px;
                    border-radius: 5px;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    font-size: 12px;
                    padding: 3px 30px 3px 5px;
                    font-weight: 500;
                    color: #12203c;
                    display: block;
                    -webkit-appearance: none;
                    background-image: url('../assets/downArrowNew.svg');
                    background-repeat: no-repeat;
                    background-position: 95%;
                    background-size: 12px;
                }
                input {
                    width: 360px;
                    height: 34px;
                    border-radius: 5px;
                    border: 1px solid #dce6f0;
                    background-color: #fff;
                    font-size: 12px;
                    padding: 5px 10px;
                    font-weight: 500;
                    color: #12203c;
                    display: block;
                }
            }
            button {
                border-radius: 5px;
                height: 34px;
                font-weight: 600;
                position: relative;
                display: inline-block;
                border: 1px solid #8b77fa;
                background-color: #8b77fa;
                padding: 5px 25px;
                color: #fff;
                font-size: 12px;
            }
        }
        .vendor-gen-table {
            .manage-table {
                .gen-main-table {
                    tbody {
                        tr {
                            td {
                                .access-edit-btn {
                                    width: 35px;
                                    height: 35px;
                                    background: transparent;
                                    display: flex;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                    transition: 0.6s all;
                                    
                                }
                                .access-edit-btn:hover {
                                    background: #f2f4f8;
                                    transition: 0.6s all;
                                }
                                .access-edit {
                                    width: 70px;
                                    height: 35px;
                                    background: transparent;
                                    display: flex;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                    transition: 0.6s all;
                                    
                                }
                                .access-edit:hover {
                                    background: #f2f4f8;
                                    transition: 0.6s all;
                                }
                                
                                
                               
                                
                                input {
                                    border-radius: 6px;
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #000;
                                    padding: 3px 5px;
                                    height: 28px;
                                    width: 320px;
                                    border: 1px solid #f8c9023d;
                                    background-color: #fffae78a;
                                }
                            }
                            td:last-child {
                                padding-right: 42px;
                            }
                            .fix-action-btn {
                                width: 50px;
                                .table-item-list {
                                    .til-inner {
                                        .nph-switch-btn {
                                            .tg-switch {
                                                width: 36px;
                                                height: 18px;
                                                .tg-slider {
                                                    background-color: #d2deed;
                                                }
                                                .tg-slider:before {
                                                    background-color: #ffffff;
                                                }
                                                input:checked+.tg-slider {
                                                    background-color: #8b77fa;
                                                }
                                                input:checked+.tg-slider:before {
                                                    transform: translateX(16px);
                                                    background: #ffffff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// Style View System Email
.manage-api-log-modal.view-system-email-modal {
    .malm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0 30px;
        h3 {
            margin: 0px;
        }
        button {
            position: relative;
            background: #fff;
            padding: 4px;
            border-radius: 50%;
            border: solid 2px #000;
        }
    }
    .malm-body {
        .malmb-inner {
            .malmb-item {
                min-height: 40px;
                padding: 9px 15px;
                .malmb-copy-icon {
                    top: 9px;
                }
                .vsem-sub {
                    font-weight: 600;
                }
                .vsem-to, .vsem-cc {
                    font-size: 13px;
                    font-weight: 500;
                    color: #21314b;
                    white-space: nowrap;
                    max-width: 600px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                }
            }
        }
    }
}