
.UserManageTable{
    // display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 0px;
    width:100%;
    // height: 30vh;
}
// table>tbody>tr{
//     height: 10px;
// }
.UserManageTable>thead>tr>th>label{
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
    margin: 0px;
}
.UserManageTable>tbody>tr>td>label{
    font-size: 10px;
    font-weight: 500;
    font-family: Montserrat;
    color: #8b8b8b;
    text-align: left;
    margin: 0px;
    word-break: break-word;
    max-width: 125px;
    white-space: normal;
}
.maxwidth200{
    max-width: 210px !important;
}
.maxwidth355{
    max-width: 355px !important;
}
.UserManageTable>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.UserManageTable>tbody>tr>td:nth-child(1){
    border: 1px solid #ddd;
    border-left: none;
}
.UserManageTable>tbody>tr>td:nth-child(2){
    border: 1px solid #ddd;
    border-left: none;
}

.UserManageTable>tbody>tr>td:nth-child(3){
    border: 1px solid #ddd;
      border-left: none;
}
.UserManageTable>tbody>tr>td:nth-child(4){
    border: 1px solid #ddd;
      border-left: none;
}
.UserManageTable>thead>tr>th
{
    border-bottom: none !important;
}
// .UserManageTable>tbody>tr>td
// {
//      border: 1px solid #ddd;
// }

.UserManageTable>tbody>tr:nth-child(even) {
    background: #fff
}
.UserManageTable>tbody>tr:nth-child(odd) {
    background: #f4f4fd
}
.UserManageTable>tbody>tr>td:last-child{
    border-right: none !important;
}
.btnSummary{
    border-radius: 4px;
    background-color: #6d6dc9;
    border: 1px solid #6d6dc9;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    height: 23px;
    width: 100px;
    padding: 4px;
}
.circle_list {
  text-align: right;
  width: 100%;
  margin-top: 10px;
}
.active_button{
    font-family: Montserrat;
    text-align: center;
    padding: 4px;
    color: #9b9b9b;
    font-size: 9px;
    border-radius: 5px;
    background: #fff;
    height: 21px;
    width: 50px;
    outline: none;
    font-weight: 500;
    border: 1px solid #8b8b8b;
}
.active_button:hover{
    color: #fff;
    background: #9b9b9b;
}
.modalUserContent{
  height: auto;
  width: 100%;
  padding: 15px;
  border-radius: 0px;
  position: absolute !important;
  bottom: 0 !important;
  display: block !important;
}

.summaryContent{
    background: #fff;
    width: 50%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 15px;
    display: inline-block;
}
.summaryHeading{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.summaryList{
    width: 100%;
}
.summaryList>li:nth-child(2){
    float: right;
}
.m-lft-10{
    margin-left: 10px;
}
.summaryBtn{
    width: 125px;
    height: 25px;
    font-size: 10px;
    border-radius: 21.8px;
    background-color: #ffffff;
    border: solid 1px #6d6dc9;
    color: #6d6dc9;
    font-family: Montserrat;
    font-weight: 500;
    padding: 0px;
}
.summaryBtn:hover{
    background-color: #6d6dc9;
    color: #ffffff;
    transition: .5s;
}
.contentContainerSummary{
    width: 100%;
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
}
.summaryModalContent{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin: 0px
}
.inlineListContent{
    width: 80%;
    height: 7vh;
    border-bottom: 1px solid #c5c5c5;
}
.timingNotification{
    padding: 0px;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.inlineListContent>ul>li>ul>li{
    width: 100%;
}
.footerSummary{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 7px;
}
.footerBtnSummary{
    width: 65px;
    height: 25px;
    border-radius: 25px;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    border: solid 1px #dcdcdc;
}
.footerBtnSummary:hover{
    background: #6d6dc9;
    color: #ffffff;
    border: 1px solid #6d6dc9;
    transition: .5s;
}
.userModalInput {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  // color: #9b9b9b;
  outline: none;
  text-indent: 5px;
}
.itemUdfSet .btnFocus:focus{
    border: solid 1px #6d6dc9 !important;    
}
.userModalSelect {
  position: relative;
  height: 31px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ccd8ed;
  outline: none;
  text-indent: 5px;
  text-align: left;
  padding-top: 8px;
}
.summaryListInline{
    width: 100%;
    height: 100%;
}


// ______________________________________FILTER DROPDOWN DESIGN
.dropdownDiv{
    width: 202px;
    height: 165px;
    border-radius: 9px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.searchFilterModal{
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #b9b9e2;
    color: #4a4a4a;
    height: 25px;
    width: 100%;

}
.userModalSelect>label{
    width: 100%;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    left: -7px;
}
.dropdownFilterOption{
    padding: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90%;
}
.dropdownFilterOption>li{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    width: 100%;
    height: 20px;
}
.userModalSelect>label>span{
    float: right;
    // position: absolute;
    right: 10px;
    font-size: 13px;
    top: 5px;
    padding-right: 3px;
}
.selectectbuttondiv{
    display: inline-block;
}
.m-rgt-20{
    margin-right: 15px;
}
.m-bot-10{
    margin-bottom: 10px;
}
.filterFirstRow{
    margin-bottom:10px;
}
.manageUserTable tbody tr td:last-child .btnSummary{
    height: 21px;
    width: 50px;
    font-size: 9px;
}
.fixed-side-user{
    width: 275px!important;
    display: flex;
    align-items: center;
}
.fixed-side-user ul{
    margin-left:22px!important;
}
.userScroller{
    margin-left: 275px!important;
    max-width: 955px!important;
}
.userScroller tbody tr td ul li:last-child .btnSummary{
    height: 21px;	 
    width: 50px;
	font-size: 9px;
}
.fixed-side-user ul li .edit_button{
    border:0;   
    margin-left: -10px;
}
.fixed-side-user ul li .edit_button img{
    width:15px;
}
.fixed-side-user ul li .edit_button:hover{
    background:transparent;
}
// Switch toggle Button 
.switchToggle {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 18px;
  }
  .sliderToggle.round {
    border-radius: 34px;
  }
  .sliderToggle.round:before {
    border-radius: 50%;
  }
  .switchToggle input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderToggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border: 1px solid #e6e6f5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderToggle:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 2px;
    background-color: #e6e6f5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .addToggleSwitch span:before{
      background-color:#6d6dc9;
  }
  input:checked + .sliderToggle {
    background-color: #ffffff;
  }
  
  input:focus + .sliderToggle {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderToggle:before {
    // -webkit-transform: translateX(22px);
    // -ms-transform: translateX(22px);
    transform: translateX(0);
  }
  .mainToggle{
      padding-left:0!important;
  }
  .mainToggle p{
    float: right;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 3px;
    margin: 0;
    padding-left: 6px;
  }
  .addToggleSwitch span:before{
    transform: translateX(22px)!important;
  }
  .onActive{
	display: none;
}
.addToggleSwitch .onActive{
	display: block;
}
.onInActive{
	display: block;
}
.addToggleSwitch .onInActive{
	display: none;
}
.switchToggle p{
    position: absolute;
    right: -32px;
}


.lineClampCol table td label{
//     display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
//    text-overflow: ellipsis;
//    overflow: hidden;
-webkit-line-clamp: 1;
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
}


// .lineClamp label{   
//      -webkit-line-clamp: 2;
  
//     //  -webkit-line-clamp: 1;
//      display: -webkit-box !important;
//      overflow: hidden;
//      text-overflow: ellipsis;
//     /*! autoprefixer: off */
//     -webkit-box-orient: vertical
// /*! autoprefixer: on */
// }
// Style User Data Mapping Modal
.user-data-mapping-modal {
    width: 780px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 480px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .udmm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
            margin-bottom: 0;
        }
        button {
            position: relative;
            background: #fff;
            padding: 4px;
            border-radius: 50%;
            border: 2px solid #000;
        }
    }
    .udmm-body {
        display: block;
        padding: 10px 32px;
        margin-top: 10px;
        min-height: 270px;
        h3 {
            font-size: 12px;
            font-weight: 700;
            color: #21314b;
            margin: 0;
        }
        .pnl-purchase-label {
            font-size: 12px;
            color: #12203c;
            font-weight: 500;
        }
        .pnl-purchase-select {
            background-image: url('../assets/downArrowNew.svg');
            background-size: 13px;
        }
        .disFlexEnd {
            display: flex;
            align-items: flex-end;
            height: 57px;
            position: relative;
        }
        .inputTextKeyFucMain {
            width: 100%;
            input::placeholder {
                color: #a4b9dde0;
            }
        }
    }
    .udmm-footer {
        display: block;
        padding: 5px 32px;
        button {
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            height: 32px;
            padding: 3px 25px;
            border-radius: 5px;
            background: #8b77fa;
        }
    }
}