//Variables
$blueColor : #6d6dc9;
$disble : #f6f0fd !important;
@mixin boxShadow() {
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
}
@mixin inlineWidth(){
    display: inline-block;
    width: 100%;
}
@mixin fontStyle($fontSize , $fontWeight ,$color){
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    font-family: Montserrat;
}
@mixin textEllipses($padding){
    padding: $padding !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin buttonStyle($fontSize,$fontWeight , $borderRadius , $bgColor , $color , $padding ,$border){
    border-radius: $borderRadius;
    font-size: $fontSize;
    background-color: $bgColor;
    padding: $padding;
    color: $color;
    font-weight: $fontWeight;
    border:$border;
}
@mixin inputStyle($borderRadius , $border , $width , $height , $textIndent){
    border-radius: $borderRadius;
    border: $border;
    background-color: #ffffff;
    width: $width;
    height: $height;
    text-indent: $textIndent;
}
@mixin selectBox($borderRadius , $border , $width , $height, $padding , $background){
    border-radius: $borderRadius;
    border : $border;
    width: $width;
    height: $height;
    padding: $padding;
    background: $background;
}


%placeholder {
    font-weight: 600 !important;
    color: #4a4a4a;
  }
%clearBtn{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a6a6a;
    background: transparent;
}
%saveBtn{
    border-radius: 6px;
    background-color: #6629db;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 23px;
}
%deleteBtn{
    border-radius: 4px;
    font-size: 12px;
    background-color: transparent;
    padding: 8px 18px;
    color: #d0021b;
    font-weight: 400;
    border: 1px solid #d0021b;
}
%seachIcon{
    background: url("../assets/search.svg") no-repeat;
}
@mixin width($width){
    width: $width;
}