/*_____________________________________ VENDOR PAGE CSS START___________________________ */
.detail_span{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.container_div {
  width: 100%;
  height: auto;
}
.menu_path {
  width: 100%;
  height: auto;
}
.StickyDiv{
  width: 100%;
  height: 84.5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.home_link {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 5px;
}
.home_link>a{
    font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-decoration: none;
}
.page_footer>div>ul>li>label{
    font-family: Montserrat;
  font-size: 9px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 6px;
}
.container_content {
  width: 100%;
  height: 75vh;
  display: inline-block;
  margin-top: 4px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.contribution_mart {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-right: 5px;
}
.contribution_mart > span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8b77fa;
}
.master_para {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  margin: 0px;
}
.list_style {
  padding: 0px;
  list-style: none;
}
.select_master {
  width: 100%;
  height: auto;
  font-family: Montserrat;
  font-size: 10.4px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.select_box {
  height: 20px;
  width: 160px;
  outline: none;
  border: 1px solid #9b9b9b;
  color: #4a4a4a;
  background-color: #fff;
  font-size: 10px;
  font-family: Montserrat;
}
.export_data_div {
  width: 100%;
  height: auto;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}
.button_home {
  background-color: #fff;
  color: #4a4a4a;
  font-size: 10px;
  height: 25px;
  width: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}
.button_home:hover{
  background-color: #8b77fa;
  color: #fff;
  border: 1px solid #8b77fa;
  transition: 0.5s;
}
.table_vendor{
    // display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 0px;
}
.table_vendor> thead > tr > th > label {
  font-size: 10px;
  font-weight: 600;
  font-family: Montserrat;
  color: #4a4a4a;
  text-align: left;
  margin: 0px;
}
.table_vendor > tbody > tr > td > label {
  font-size: 10px;
  font-weight: 500;
  font-family: Montserrat;
  color: #8b8b8b;
  text-align: left;
  margin: 0px;
}
.table_vendor > thead {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.table_vendor > tbody > tr > td:nth-child(1) {
  border: 1px solid #ddd;
  border-left: none;
}
.table_vendor > tbody > tr > td:nth-child(2) {
  border: 1px solid #ddd;
  border-left: none;
}
.table_vendor > tbody > tr > td:nth-child(3) {
  border: 1px solid #ddd;
  border-left: none;
}
.table_vendor > tbody > tr > td:nth-child(4) {
  border: 1px solid #ddd;
  border-left: none;
}
.table_vendor > thead > tr > th {
  border-bottom: none !important;
}
.table_vendor > tbody > tr > td {
  border: 1px solid #ddd;
}

.table_vendor > tbody > tr:nth-child(even) {
  background: #fff;
}
.table_vendor > tbody > tr:nth-child(odd) {
  background: #f4f4fd;
}

.table_vendor>tbody>tr>td:last-child{
  border-right: none !important;
}
.edit_button {
  font-family: Montserrat;
  text-align: center;
  padding: 4px;
  color: #9b9b9b;
  font-size: 9px;
  border-radius: 5px;
  background: #fff;
  height: 21px;
  width: 40px;
  outline: none;
  font-weight: 500;
  border: 1px solid #8b8b8b;
}
.edit_button:hover{
  background-color: #8b8b8b;
  color: #ffffff;
  transition: 0.5s;
}
.delete_button {
  font-family: Montserrat;
  text-align: center;
  padding: 4px;
  color: #ff0000;
  font-size: 9px;
  border-radius: 5px;
  background: #fff;
  height: 21px;
  width: 55px;
  outline: none;
  font-weight: 500;
  border: 1px solid #ff0000;
}
.delete_button:hover{
  background-color: #ff0000;
  color: #ffffff;
  transition: 0.5s;
}
.filter_button {
  font-family: Montserrat;
  text-align: left;
  padding: 4px;
  color: #fff;
  font-size: 10px;
  border-radius: 5px;
  background: #8b77fa;
  height: 25px;
  width: 70px;
  outline: none;
  font-weight: 600;
  border: 1px solid #8b77fa;
}

.save_button {
  font-family: Montserrat;
  text-align: center;
  padding: 4px;
  color: #8b77fa;
  font-size: 10px;
  border-radius: 5px;
  background: #fff;
  height: 25px;
  width: 45px;
  outline: none;
  font-weight: 500;
  border: 1px solid #8b77fa;
}
.save_button:hover{
  background-color: #8b77fa;
  color: #ffffff;
  transition: 0.5s;
}
.search_list {
  width: 100%;
  text-align: right;
  margin-top: 50px;
}
.circle_list {
  text-align: right;
  width: 100%;
  margin-top: 10px;
}

.tooltip{
  opacity: 1 !important;
  position: relative;
  z-index: 0 !important;
  cursor: pointer;
  top: -2px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #e9e9e9;
  color: #4a4a4a;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: 35px;
  top: -13px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}

.tooltiptext>p{
    font-size: 8px;
    font-weight: 400;
    margin: 0px;
    margin-top: 5px;
    color: #4a4a4a;
}
.tooltiptext>span{
  font-size: 8px;
  display: block;
  font-weight: 400;
  margin: 0px;
  margin-top: 5px;
  color: #4a4a4a;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #e9e9e9;
}
.search_bar {
  border: none;
  // color: #9b9b9b;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  outline: none;
  width: 135px;
  // margin-right: 15px;
  // text-transform: uppercase;
}
.manageSearch .search_bar{
  border: 1px solid #e3e7f3;
    padding: 7px 8px;
    width: 201px;
    margin: 0;
    border-radius: 3px 0 0 3px;
}
// .search_bar:hover,
// .search_bar:active,
// .search_bar:focus {
//   border-bottom: 1px solid #ddd !important;
//   border-right: none !important;
//   border-top: none !important;
//   border-left: none !important;
//   width: 250px;
//   -webkit-transition: width 0.4s ease-in-out;
//   transition: width 0.4s ease-in-out;
//   outline: none;
// }
.copyright {
  width: 100%;
  height: auto;
  text-align: right;
}

.filter_control {
  position: relative;
  right: -5px;
  top: 0;
  height: 10px;
  width: 15px;
  cursor: pointer;
}
.right_sidemenu {
    width: 25px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 248px;
    z-index: 1;
    top: 95px;
}
.right_sidemenu1 {
    width: 20px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 248px;
    z-index: 1;
    top: 12px;
}
.rightstick{
  right: -7px!important;
}

/*__________________________________VENDOR PART 1 CSS ______________________________  */
.detail_label {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.container_box {
  width: 100%;
  height: auto;
}
.container_box > ul > li {
  padding-right: 15px !important;
}
.vendor_select_box {
  position: relative;
  height: 30px;
  width: 100%;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  outline: none;
  background: #fff;
  text-indent: 5px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}
.vendor_input_box {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  // color: #9b9b9b;
  outline: none;
  text-indent: 5px;
}
.m-rgt-20{
  margin-right: 20px;
}
.text_area_vendor {
  position: relative;
  height: 15vh;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  // color: #9b9b9b;
  outline: none;
  // text-indent: 5px;
  padding: 5px;
  resize: none;
  // opacity: 0.6;
}
.extend_date_text_area {
  position: absolute;
    height: 20vh;
    width: 78%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    padding: 5px;
    resize: none;
}
.container_content1 {
  width: 100%;
  height: 75vh;
  display: inline-block;
  margin-top: 4px;
  padding: 20px;
  border-radius: 5px;
  // overflow-x: hidden;
  // overflow-y: auto;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.list_margin > ul > li {
  padding-right: 15px !important;
}
.vendorFilterSelect {
  position: relative;
  height: 30px;
  width: 100%;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  outline: none;
  background: #fff;
  text-indent: 5px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}
.vendorInputBox {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  // color: #9b9b9b;
  outline: none;
  text-indent: 5px;
}
/*______________________________VENDOR PART2 _____________________  */
.procurement_label {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.clear_button_vendor {
  width: 100px;
  height: 28px;
  border-radius: 21.8px;
  background-color: #fff;
  border: #4a4a4a;
  color: #4a4a4a;
  outline: none;
  font-size: 11px;
  font-family: Montserrat;
  font-weight: 600;
}
.clear_button_vendor:focus, .save_button_vendor:focus {
  background-color: #8b77fa;
  color: #fff;
  border-radius: 21.8px;
  border: #b0b0c7;
}
.save_button_vendor {
  width: 100px;
  height: 28px;
  border-radius: 21.8px;
  background-color: #fff;
  border: 1px solid #4a4a4a;
  color: #4a4a4a;
  outline: none;
  font-size: 11px;
  font-family: Montserrat;
  font-weight: 600;
}
.save2_button_vendor, .search_button_vendor, .clear_button_vendor, .cancel_button_vendor {
  width: 100px;
  height: 28px;
  border-radius: 21.8px;
  outline: none;
  font-size: 11px;
  font-family: Montserrat;
  font-weight: 600;
}
.save2_button_vendor{
  border: 1px solid #8b77fa;
  background-color: #8b77fa;
  color: #fff;
}
.search_button_vendor{
  border: 1px solid #8b77fa;
  background-color: #8b77fa;
  color: #fff;
}
.cancel_button_vendor{
  border: 1px solid #e83600;
    background-color: #e83600;
    color: #fff;
}
.clear_button_vendor{
  border: 1px solid #ccd8ed;
  background-color: #fff;
  color: #12203c;
}

/*_____________________________MODAL CSS START_____________________________  */
.filter_modal {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.filter_text {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8b77fa;
}
.modal{
  display: block !important;
}
.fade{
  opacity: 1 !important;
}
.modal-backdrop.show {
    opacity: 0.6 !important;
    background: #fff !important; 
}
.modal_content_filter {
  height: auto;
  width: 100%;
  padding: 15px;
  border-radius: 0px;
  position: fixed;
  bottom: 0;
  display: block !important;
}
.modal_clear_btn {
  width: 90px;
  height: 18px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  outline: none;
  border: none;
  background-color: #ffffff;
}
.modal_Apply_btn {
  width: 100px;
  height: 25px;
  border-radius: 21.8px;
  background-color: #8b77fa;
  border: #8b77fa;
  color: #fff;
  outline: none;
  font-size: 10px;
  font-family: Montserrat;
  font-weight: 600;
}
.modal_btn {
  width: 113px;
  height: 25px;
  border-radius: 25px;
  outline: none;
  background: #d5d5ea;
  color: #4a4a4a;
  font-size: 10px;
  font-family: Montserrat;
  border: none;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-right:15px;
  margin-bottom:3px;
}
.close {
  position: relative;
  top: -26px;
  left: -65px;
  border: 1px solid #8b77fa !important;
  background: #8b77fa !important;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  opacity: 1 !important;
  outline: none;
}
.close > span {
  text-shadow: none !important;
  font-weight: 300 !important;
  position: relative;
  top: 0px;
  font-size: 23px;
  color: #ffffff;
}
.close_btn {
  position: relative;
  left: -15px;
  top: 1px;
  font-size: 15px;
}
/*____________________________________RECORD CSS START_____________________________  */
.records_div {
  width: 70%;
  height: 69vh;
  border-radius: 34px;
  box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  // margin-top: 10% !important;
}
.record_list {
  width: 100%;
  padding: 0px;
  text-align: center;
  list-style: none;
  height: 45%;
}
.record_notification {
  font-family: Montserrat;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.record_para {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}
.record_btn {
  width: 120px;
  height: 25px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 21.8px;
  background-color: #8b77fa;
  border: solid 1.7px #8b77fa;
}
.height-70vh {
  min-height: 75vh;
  height: auto;
}

.error {
  font-family: Montserrat!important;
  font-size: 10px!important;
  font-weight: 500!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  text-align: left!important;
  color: #c44569!important;
  width: 100%;
  display: block;
  margin-top: 4px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.pad-lft-0{
  padding-left: 0px;
}


//filter
.vendorFilterHide {
  position: fixed;
  bottom: -255px;
  -webkit-animation-name: filterhide;
  -webkit-animation-duration: .5s ;
  animation-name: filterhide ;
  animation-duration: .5s ;
}

@keyframes filterhide {
  from {
    bottom: 0px ;
  }
  to {
    bottom: -255px ;
  }
}

.vendorFilterShow {
  position: fixed ;
  -webkit-animation-name: filtershow ;
  bottom: 0px ;
  -webkit-animation-duration: .5s;
  animation-name: filtershow ;
  animation-duration: .5s ;
}

@keyframes filtershow {
  from {
    bottom: -255px;
  }
  to {
    bottom: 0px;
  }
}


//
.display_block{
  display: block;
}
.display_none{
  display: none;
}


//edit modal
.vendorEditModalContent{
  text-align: left;
  background: #fff;
  width: 60%;
  height: 60vh;
  padding: 15px;
  display: inline-block;
  border-top: none!important;
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 25px;
  .enable-portal-btn{
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 6px;
    .generic-tooltip{
      top: 31px;
    }
    .generic-tooltip:after {
      top: -43%;
      border-color: transparent transparent #000 transparent;
    }
  }
  .enable-portal-btn:hover>.generic-tooltip{
    visibility: visible;
    opacity: 1;
  }
}
#editVendorModal{
  text-align: center;
}
.vendorEditBtn{
font-family: Montserrat;
font-size: 10px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #4a4a4a;
border: none;
background-color: transparent;
}
.vendorEditBtn1{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  width: auto;
  height: 25px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
}
.vendorEditBtn1:hover{
  background-color: #8b77fa;
  color: #ffffff;
  transition: .5s;
  border: 1px solid #8b77fa;
}
.headModal>label{
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #9b9b9b;
width: 100%;
}
.editModalLabel{
  width: 100%;
  height: auto;
font-family: Montserrat;
font-size: 10px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #4a4a4a;
}
.SelectBoxEdit{
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  outline: none;
}
.InputBoxEdit{
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  outline: none;
  text-indent: 5px;
}
.textAreaEditModal{
  resize: none;;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d2d2d2;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  outline: none;
  padding-left:5px;
  // text-indent: 5px;
}
.scrollableEditModal{
  width: 100%;
  padding: 16px;
  padding-top: 0px;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollableEditModal1{
  width: 100%;
  padding: 16px;
  padding-top: 0px;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dividerDiv>svg{
  width: 100%;
}

.home_link .fa{
  color: #12203c;
  font-size: 9px;
  padding-Left: 6px;
}

.home_link span .fa{
  color: #9b9b9b;
  font-size: 10px;
  padding-Right:5px;
}
.home_link button{
  background-color:#f0f0f0;
  border-radius:16px;
  padding: 6px 8px 6px 8px;
}
.createVendor .modal-header{
  padding: 17px 5px 17px 5px;
  display: flex;
  align-items: center;
}
.createVendor .headModal label{
  font-size: 15px;
  font-weight: 600;
}
.createVendor  .vendorEditBtn1{
  font-size: 11.9px;
    color: #4a4a4a;
    border: 0;
}
.createVendor .vendorEditBtn1:hover{
  background: transparent;
  color: #4a4a4a;
}
.createVendor .view_span{
  color: #4a4a4a;
  font-size: 10.5px;
}
.createVendor .viewVendorM{
  font-size: 13px;
  font-weight: 600;
}
.manageVendor2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  position: relative;
}

.add-vendor-page{
  box-shadow: none;
  border: none;
  padding: 22px 37px;
}

// .manage-add-role{
//   box-shadow: none !important;
//   padding: 20px 0 !important;
// }
.manage-sticky-div{
  height: auto;
  margin-bottom: 20px;
  .pi-new-layout {
    padding: 0;
    .pnl-purchase-input{
      height: 30px;
    }
    .modal-search-btn {
      padding: 6px 4px!important;
    }
  }
}
.border-btm-none{
  border: none !important;
}
.vendor-admin-user{
  padding: 15px 0 !important;
  box-shadow: none !important;
  border: none !important;
}

.add-organisation-page{
  border: none;
  padding: 15px 37px;
  label{
    font-size: 12px;
    font-weight: 500;
  }
  .orgnisationTextbox{
    border: 1px solid #ccd8ed;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 500;
  }
  .orgnisationTextarea{
    border: 1px solid #ccd8ed;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 500;
  }
  select{
    border: 1px solid #dce6f0;
    font-size: 11px;
    font-weight: 500;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
  }
}

.add-organization{
  display: block;
  align-items: center;
  svg{
    margin-right: 20px;
  }
  span{
    font-size: 17px;
    font-weight: 700;
    color: #21314b;
  }
  p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: #21314b;
  }
}

.ao-billing-details {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  h4 {
    font-size: 14px;
    font-weight: 600;
    color: #21314b;
    margin: 0;
  }
  .aobd-para{
    font-size: 11px;
    font-weight: 500;
    color: #97abbf;
    margin: 0;
  }
  .aobd-shipping {
    position: relative;
    display: block;
    .checkBoxLabel0{
      margin: 0;
      width: 16px;
      // height: 16px;
      padding-left: 16px;
      .checkmark1{
        left: 15px;
        top: 2px;
        height: 16px;
        width: 16px;
        background-color: #dce6f0;
        cursor: pointer;
        border-radius: 4px;
      }
      input:checked~.checkmark1{
        background-color: #8b77fa;
      }
      .checkmark1:after{
        width: 5px;
        height: 9px;
        border-width: 0 2px 2px 0;
      }
    }
    p {
      margin: 0;
      font-size: 13px;
      color: #12203c;
      font-weight: 500;
      margin-left: 45px;
    }
  }
}
.aobd-check {
  position: relative;
  margin: 10px 0 20px;
  display: block;
  width: 100%;
  .checkBoxLabel0{
    width: auto;
    height: 16px;
    padding-left: 26px;
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #12203c;
    cursor: pointer!important;
    .checkmark1{
        left: 0;
        top: 0;
        height: 16px;
        width: 16px;
        background-color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
        border: solid 2px #dce6f0;
    }
    .checkmark1:after{
        width: 5px;
        height: 9px;
        border-width: 0 2px 2px 0;
        content: none;
    }
    input:checked~.checkmark1{
        background-color: #8b77fa;
        border: none;
    }
    input:checked~.checkmark1:after{
        width: 5px;
        height: 9px;
        border-width: 0 2px 2px 0;
        content: "";
    }
  }
}

// Style Organisation Page
.add-vendor-page-layout{
  border: none;
  padding: 15px 47px;
  label{
    font-size: 12px;
    font-weight: 500;
    color: #7d8fa0;
  }
  .vendor_input_box{
    border: 1px solid #dce6f0;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    color: #12203c;
    padding: 3px 0px;
  }
  .form-box{
    border: 1px solid #dce6f0;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    color: #12203c;
  }
  .formtextarea{
    border: 1px solid #dce6f0;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    color: #12203c;
  }
  .text_area_vendor{
    border: 1px solid #dce6f0;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    color: #12203c;
  }
  select{
    border: 1px solid #dce6f0;
    font-size: 11px;
    font-weight: 500;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    background-image: url('../assets/downArrowNew.svg');
    background-position: 96% !important;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    color: #12203c;
  }
  .user-sticky-div{
    display: table;
    width: 100%;
    .role-user-name{
      background: #d5d5ea;
      display: inline-block;
      padding: 4px 10px;
      font-size: 12px;
      color: #12203c;
      font-weight: 500;
      border-radius: 27px;
      vertical-align: middle;
      position: relative;
      margin-right: 15px;
      margin-bottom: 15px;
      .role-user-name-inner{
          margin-right: 13px;
          cursor: pointer;
      }
      .roleun-close{
          font-size: 18px;
          display: inline-block;
          line-height: 1px;
          margin-left: 6px;
          cursor: pointer;
          position: absolute;
          top: 14px;
          right: 7px;
      }
  }
    .userModalSelect{
      padding: 6px 5px;
      background-image: url("../assets/downArrowNew.svg");
      background-repeat: no-repeat;
      background-position: 96%;
      label{
        font-size: 12px;
      }
    }
    .dropdownFilterOption{
      li{
        padding: 2px 0;
        color: #21314b;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.ao-billing-details {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  h4 {
    font-size: 14px;
    font-weight: 600;
    color: #21314b;
    margin: 0;
  }
  .aobd-shipping {
    position: relative;
    display: block;
    .checkBoxLabel0{
      margin: 0;
      width: 16px;
      // height: 16px;
      padding-left: 16px;
      .checkmark1{
        left: 15px;
        top: 2px;
        height: 16px;
        width: 16px;
        background-color: #dce6f0;
        cursor: pointer;
        border-radius: 4px;
      }
      input:checked~.checkmark1{
        background-color: #8b77fa;
      }
      .checkmark1:after{
        width: 5px;
        height: 9px;
        border-width: 0 2px 2px 0;
      }
    }
    p {
      margin: 0;
      font-size: 13px;
      color: #12203c;
      font-weight: 500;
      margin-left: 45px;
    }
  }
}
.create-asn-form{
    display: block;
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    form {
        width: 100%;
        display: table;
        margin: 0;
        .caf-details {
            background-color: #f7f9fc;
            padding: 10px;
            height: 241px;
            .cafd-row {
                display: block;
                padding: 10px 0;
                .head-label {
                    font-size: 11px !important;
                    font-weight: 500 !important;
                    color: #97abbf;
                    margin-bottom: 0px!important;
                }
                .cafd-number {
                    font-size: 13px;
                    font-weight: 600;
                    color: #12203c;
                    display: block;
                }
                .cafdr-inner {
                    display: inline-block;
                    width: 50%;
                }
            }
        }
        .caf-fields{
            border: solid 0.5px #d1e2f4;
            padding: 10px;
            .caff-top{
                display: table;
                width: 100%;
                margin-bottom: 15px;
                .cafft-input{
                    display: block;
                    width: 20%;
                    padding-right: 15px;
                    float: left;
                    .caffti-label {
                        display: block!important;
                        font-size: 12px!important;
                        margin-bottom: 5px;
                        font-weight: 500;
                        color: #798a9b;
                    }
                    .inputDate {
                        border-radius: 5px;
                        border: solid 1px #d1e2f4;
                        background-color: #ffffff;
                        width: 100%;
                        height: 30px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 3px 5px;
                        background-image: url(../assets/calender1.svg);
                        background-size: 14px;
                    }
                    .bgDisable{
                        border: 1px solid #bfdfff;
                        background-color: #f2f5f8 !important;
                    }
                    input{
                        width: 100%;
                        border-radius: 4px;
                    }
                    .caffti-input{
                        border-radius: 5px;
                        border: solid 1px #d1e2f4;
                        background-color: #ffffff;
                        width: 100%;
                        height: 30px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 3px 5px;
                    }
                }
            }
            .caff-set-upload-packing {
                .caff-check {
                    height: 76px;
                    margin: 0;
                }
            }
            .caff-mid {
                display: block;
                margin-bottom: 15px;
                .caffm-search {
                    display: inline-block;
                    width: 25%;
                    margin-right: 20px;
                    position: relative;
                    .caffti-label {
                        display: block!important;
                        font-size: 12px!important;
                        margin-bottom: 5px;
                        font-weight: 500;
                        color: #798a9b;
                    }
                    .caffti-input{
                        border-radius: 5px;
                        border: solid 1px #d1e2f4;
                        background-color: #ffffff;
                        width: 100%;
                        height: 30px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 3px 25px 3px 5px;
                    }
                    .modal-search-btn {
                        position: absolute;
                        top: auto;
                        right: 2px;
                        padding: 6px 4px!important;
                        cursor: pointer;
                    }
                    .backdrop-transparent {
                        z-index: 99;
                    }
                }
                .error{
                    position: absolute;
                    margin: 0px;
                }
            }
            .caff-check {
                display: flex;
                position: relative;
                margin-bottom: 18px;
                height: 40px;
                padding: 5px 0;
                align-items: center;
                .caffc-fields{
                  position: relative;
                }
                .checkBoxLabel0 {
                    height: 16px;
                    padding-left: 25px;
                    font-size: 12px !important;
                    font-weight: 500;
                    margin-right: 20px;
                    cursor: pointer !important;
                    .checkmark1 {
                        left: 0;
                        top: 0;
                        height: 16px;
                        width: 16px;
                        background-color: #fff;
                        cursor: pointer;
                        border-radius: 4px;
                        border: 2px solid #dce6f0;
                    }
                    .checkmark1:after{
                        content: none;
                    }
                    input:checked~.checkmark1 {
                        background-color: #8b77fa;
                        border: none;
                    }
                    input:checked~.checkmark1:after {
                        width: 5px;
                        height: 9px;
                        border-width: 0 2px 2px 0;
                        content: "";
                    }
                }
                .caffb-upload-file {
                    display: inline-block;
                    position: relative;
                    // width: 68%;
                    label{
                        border-radius: 5px;
                        border: solid 1px #d1e2f4;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        font-size: 12px !important;
                        font-weight: 500;
                        cursor: pointer !important;
                        margin-right: 15px;
                        input[type="file"] {
                            display: none;
                        }
                        img{
                            width: 16px;
                            margin-left: 10px;
                        }
                        .caffbuf-name{
                            color: #6fc192;
                            font-weight: 600;
                        }
                    }
                    .error{
                      position: absolute;
                      bottom: -12px;
                    }
                    .caffbuf-file-name{
                        display: inline-block;
                        border-radius: 17px;
                        background-color: #f2f5f8;
                        font-size: 12px; 
                        font-weight: 500;
                        padding: 5px 10px;
                        margin-right: 5px;
                        height: 25px;
                        vertical-align: middle;
                        position: relative;
                        span{
                          max-width: 120px;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          display: inline-block;
                          overflow: hidden;
                        }
                        img{
                            margin-left: 10px;
                            cursor: pointer;
                            vertical-align: top;
                            margin-top: 3px;
                        }
                    }
                }
            }
            .caff-bottom {
                display: block;
                height: 30px;
                .caffb-upload-file {
                    display: inline-block;
                    width: 68%;
                    label{
                        border-radius: 5px;
                        border: solid 1px #d1e2f4;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        font-size: 12px !important;
                        font-weight: 500;
                        cursor: pointer !important;
                        margin-right: 15px;
                        input[type="file"] {
                            display: none;
                        }
                        img{
                            width: 16px;
                            margin-left: 10px;
                        }
                    }
                    .caffbuf-file-name{
                        border-radius: 17px;
                        background-color: #f2f5f8;
                        font-size: 12px; 
                        font-weight: 500;
                        padding: 5px 10px;
                        img{
                            margin-left: 10px;
                        }
                    }
                    
                }
                .gvst-form-action {
                    display: block;
                    // width: 32%;
                    text-align: right;
                    .saveNew {
                        background: #8b77fa;
                        font-size: 12px;
                        padding: 6px 24px;
                        height: 30px;
                        margin-left: 15px;
                    }
                    .gvstfa-create{
                        border: 1px solid #6fc192;
                        background: #6fc192;
                        padding: 6px 20px;
                        height: 30px;
                        margin-left: 15px;
                        font-size: 12px;
                        font-weight: 600;
                        color: #fff;
                        border-radius: 5px;
                    }
                }
            }
        }
        .caf-fields:after{
            content: "";
            position: absolute;
            bottom: 50px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #d1e2f4;
        }
    }
    .pr-15{
        padding-right: 15px !important;
    }
}

// Style Generic Dropdown
.gen-drop-search{
    display: block;
    height: 236px;
    transition: all .2s ease-out;
    text-indent: 0;
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.16);
    background-color: #ffffff;
    width: 580px;
    position: absolute;
    top: 40px;
    left: 0;
    transform: translateY(20px);
    z-index: 999;
    .gds-headers{
        display: block;
        width: 100%;
        height: 10%;
        padding: 5px 15px;
        span {
            font-size: 11px;
            font-weight: 600;
            color: #798a9b;
            display: inline-block;
        }
        .gdsh-text{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 8px;
        }
        .div-col-1{
            width: 100%;
        }
        .div-col-2{
            width: 50%;
        }
        .div-col-3{
            width: 33.3333%;
        }
        .div-col-4{
            width: 25%
        }
        .div-col-5 {
            width: 20%;
        }
        .gdsbi-cont {
          width: 15%;
        }
        .gdsbi-email {
          width: 30%;
        }
        .gdsbi-num {
          width: 15%;
        }
    }
    .gds-body-items{
        padding: 7px 0;
        display: block;
        height: 75%;
        overflow-y: auto;
        margin: 0;
        li{
            display: block;
            padding: 5px 15px;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            .gdsbi-text{
                color: #4a5568;
                display: inline-block;
                white-space: normal;
                font-size: 11px;
            }
            .div-col-1{
                width: 100%;
            }
            .div-col-2{
                width: 50%;
            }
            .div-col-3{
                width: 33.3333%;
            }
            .div-col-4{
                width: 25%
            }
            .div-col-5 {
                width: 20%;
            }
            .gdsbi-cont {
              width: 15%;
            }
            .gdsbi-email {
              width: 30%;
            }
            .gdsbi-num {
              width: 15%;
            }
        }
        li:hover{
            background-color: #e5edf8;
            .gdsbi-text{
                color: #21314b;
                font-weight: 600;
            }
        }
    }
    .gen-dropdown-pagination {
        display: flex;
        align-items: center;
        height: 15%;
        justify-content: space-between;
        padding: 0 15px;
        .page-close{
            button {
                display: inline-block;
                padding: 1px 15px;
                border-radius: 26px;
                border: 1px solid #b4c5d6;
                background-color: #fff;
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                transition: all .6s;
                height: 24px;
                outline: none!important;
            }
        }
        .page-next-prew-btn{
            button{
                display: inline-block;
                padding: 1px 10px;
                border-radius: 6px;
                border: none;
                background-color: #fff;
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                transition: all .6s;
                margin-left: 10px;
                height: 24px;
            }
            button:hover{
                svg{
                    path{
                        fill: #8b77fa;
                        transition: all .6s;
                    }
                }
            }
        }
    }
}
.width800{
    width: 800px;
}

.width810 {
  width: 810px;
  left: -220px;
}

select.vendor_input_box{
  padding: 0px 5px;
}

// Style Create Asn Modal
.create-asn-upload-modal{
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 400px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 0;
    .caum-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        height: 60px;
        box-shadow: 0 0 22px 0 hsla(0,0%,90%,.5);
        background-color: #fff;
        h3 {
            font-size: 16px;
            font-weight: 600;
            color: #12203c;
            display: inline-block;
            padding: 7px 0;
            margin: 0;
        }
        .caumh-btns{
            button {
                width: auto;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                background: #ffffff;
                color: #12203c;
                padding: 0;
                height: 30px;
                margin-left: 20px;
            }
            .caumhb-done{
                background: #8b77fa;
                color: #fff;
                padding: 3px 17px;
            }
        }
    }
    .caum-body {
        display: block;
        padding: 10px 25px;
        .caumb-upload-file {
            display: block;
            padding: 10px 0;
            margin-bottom: 10px;
            label{
                padding: 8px 10px !important;
                border-radius: 7px;
                border: solid 1px #6fc192;
                background-color: #e3fbed;
                cursor: pointer !important;
                input[type="file"] {
                    display: none;
                }
                span{
                    font-size: 12px;
                    margin-right: 20px;
                    color: #049d97;
                }
                img{
                    width: 20px;
                }
            }
        }
        .caumb-file{
            max-height: 250px;
            overflow: auto;
            padding: 10px 3px;
            .caumbf-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0 1px 9px 0 rgba(145, 145, 145, 0.16);
                background-color: #ffffff;
                padding: 10px 15px;
                height: 34px;
                margin-bottom: 20px;
                p {
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                    cursor: pointer;
                    max-width: 530px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .caumbf-remove{
                    display: inline-block;
                    cursor: pointer;
                }
            }
            .caumbf-inner:hover{
                p{
                    font-weight: 600;
                }
                .caumbf-remove{
                    svg{
                        .cls-1{
                            fill: #e83600;
                        }
                    }
                }
            }
        }
    }
}