.container_div {
    width: 100%;
    height: auto;
}
.menu_path {
    width: 100%;
    height: auto;
}
.home_link {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.container_content {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 0px 9px 0 rgba(195, 195, 195, 0.5);
}
.contribution_mart {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.contribution_mart > span {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d6dc9;
}
.master_para {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin: 0px;
}
.list_style {
    padding: 0px;
    list-style: none;
}
.select_master {
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.select_box {
    height: 20px;
    width: 160px;
    outline: none;
    border: 1px solid #9b9b9b;
    color: #4a4a4a;
    background-color: #fff;
    font-size: 10px;
    font-family: Montserrat;
}
.export_data_div {
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.button_home {
    background-color: #fff;
    color: #4a4a4a;
    font-size: 10px;
    height: 25px;
    width: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}
// .ta
.edit_button {
    font-family: Montserrat;
    text-align: center;
    padding: 4px;
    color: #9b9b9b;
    font-size: 10px;
    border-radius: 5px;
    background: #fff;
    height: 25px;
    width: 45px;
    outline: none;
    border: 1px solid #8b8b8b;
}
.delete_button {
    font-family: Montserrat;
    text-align: center;
    padding: 4px;
    color: #ff0000;
    font-size: 10px;
    border-radius: 5px;
    background: #fff;
    height: 25px;
    width: 65px;
    outline: none;
    border: 1px solid #ff0000;
}
.filter_button {
    font-family: Montserrat;
    text-align: left;
    padding: 4px;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    background: #6d6dc9;
    height: 25px;
    width: 70px;
    outline: none;
    border: 1px solid #6d6dc9;
}
.save_button {
    font-family: Montserrat;
    text-align: center;
    padding: 4px;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    background: #6d6dc9;
    height: 25px;
    width: 45px;
    outline: none;
    border: 1px solid #6d6dc9;
}

.filter_control {
    position: relative;
    right: 30px;
    top: 2px;
    height: 10px;
    width: 15px;
}
.right_sidemenu {
    width: 25px;
    height: 25px;
}
.excelBtnEmptyBox{
    width: 210px;
    height: 70px;
    border-radius: 35px;
    border: solid 1px #ececf6;
    text-align: left;
    position: relative;
    cursor: pointer;
    background-color: #fff;
}
.excelFile{
    position: absolute;
    // z-index: 1;
    height: 70px;
    width: 95%;
    vertical-align: middle;
    display: block;
    // padding: 25px;
    padding-left: 45px;
    opacity: 0;
    cursor: pointer;
    top: 0;
}
.excelImg{
    float: left;
    position: relative;
    top: -6px;
    left: -15px;
}
.record_list1 {
    width: 100%;
    padding: 0px;
    text-align: center;
    list-style: none;
    margin-top: 45px;
}
.record_list1>li{
    width: 100%;
    height: auto;
}
.excelLabel{
    width: 100%;
    height: auto;
    display: block;
}
.excelLabel{
    width: 100%;
    height: auto;
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #4a4a4a;
    padding-top: 15px;
    padding-left: 15px;
}
.excelLabel>span{
    font-family: Montserrat;
    font-size: 10.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c5c5c5;
    display: block;
}
.formateExcel{
    font-family: Montserrat;
    font-size: 10.3px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 5px;
}


// ____________________________________________BreadCrumps css___________
.dropbtn{
    background-color: transparent;
}
.breadcrumbsList>li{
    padding: 5px 0px;
}
.breadCrumbsHeight{
    height:47px;
    display: flex;
    align-items: center;
}

.viewVendorM{
    width: 100%;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    height: 10px;
    text-indent: 0px;
    margin-bottom: 15px;
}
.view_span{   
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    /* border: 1px solid #d2d2d2; */
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    height: 20px;
    text-indent: 3px
}
.width-100{
    width: 100px !important;
}
.m-top-100{
    margin-top: 100px !important
}
.m-top-88{
    margin-top: 88px;
}
.p-lr-0{
    padding-left: 0;
    padding-right: 0;
}

// Style Vendor Kyc Form
.vendor-kyc-form {
    display: table;
    width: 100%;
    padding: 20px 55px;
    .vkf-head {
        h3 {
            font-size: 25px;
            font-weight: 700;
            color: #12203c;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            margin: 0;
            color: #12203c;
        }
    }
    .vkf-body {
        display: block;
        .vkfb-details {
            display: table;
            width: 100%;
            .vkfb-heading {
                h3 {
                    font-size: 14px;
                    font-weight: 700;
                    color: #21314b;
                    span {
                        font-size: 12px;
                        color: #90a5c7;
                        font-weight: 500;
                    }
                }
            }
            .vkfb-field {
                display: block;
                position: relative;
                label {
                    font-size: 12px;
                    font-weight: 600;
                    color: #778695;
                }
                .vkfb-currect {
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    width: 15px;
                }
                input[type="text"], input[type="date"] {
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    padding: 6px 10px;
                    height: 34px;
                    width: 100%;
                    font-size: 11px;
                    font-weight: 600;
                    color: #12203c;
                }
                .vkfb-close {
                    background: #fff;
                    padding: 3px;
                    position: absolute;
                    top: 32px;
                    right: 10px;
                }
                input[type="date"] {
                    background-image: url('../assets/calenderNew2.svg');
                    background-position: 93% !important;
                    background-repeat: no-repeat;
                    background-size: 16px;
                }
                textarea {
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    padding: 6px 10px;
                    height: 100px;
                    width: 100%;
                    font-size: 11px;
                    font-weight: 600;
                    color: #12203c;
                }
                select {
                    border-radius: 5px;
                    border: 1px solid #ccd8ed;
                    background-color: #fff;
                    padding: 6px 20px 6px 10px;
                    height: 34px;
                    width: 100%;
                    font-size: 11px;
                    font-weight: 600;
                    color: #12203c;
                    background-image: url('../assets/downArrowNew.svg');
                    background-position: 96%;
                    background-repeat: no-repeat;
                    -webkit-appearance: none;
                    background-size: 13px;
                }
                .vkfb-upload {
                    display: flex !important;
                    position: absolute;
                    top: 26px;
                    right: 4px;
                    margin: 0;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    transition: 0.6s all;
                    cursor: pointer !important;
                    input[type="file"] {
                        display: none;
                    }
                    img {
                        width: 12px;
                    }
                }
                .vkfb-upload:hover {
                    background-color: #c7f9e6;
                }
                .vkfbf-gender {
                    display: block;
                    .vkfb-radio {
                        display: inline-block;
                        position: relative;
                        margin: 0;
                        height: 34px;
                        border-radius: 5px;
                        padding: 7px 10px;
                        margin-right: 15px;
                        cursor: pointer !important;
                        z-index: 5;
                        input[type="radio"] {
                            display: none;
                        }
                        .checkmarkgen {
                            display: inline-block;
                            margin-right: 10px;
                        }
                        .checkmarkgen::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            background-color: #ffffff;
                            border: 1px solid #ccd8ed;
                            border-radius: 5px;
                            z-index: -1;
                        }
                        input:checked~.checkmarkgen {
                            svg {
                                path {
                                    fill: #ffffff;
                                }
                            }
                        }
                        input:checked~.checkmarkgen::before {
                            background-color: #8b77fa;
                            border: none;
                        }
                        input:checked~.checkmark-text {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .vlf-footer {
        .vlf-detail {
            .checkBoxLabel0 {
                font-size: 12px;
                font-weight: 500;
                color: #97abbf;
                height: 16px;
                padding-left: 26px;
                display: block !important;
                a {
                    color: #97abbf;
                    text-decoration: underline;
                }
                .checkmark1 {
                    left: 0px;
                    top: 0px;
                    height: 16px;
                    width: 16px;
                    background-color: #ffffff;
                    cursor: pointer;
                    border-radius: 4px;
                    border: solid 2px #dce6f0;
                }
                .checkmark1:after {
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                    content: none;
                }
                input:checked~.checkmark1 {
                    background-color: #8b77fa;
                    border: none;
                }
                input:checked~.checkmark1:after{
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                    content: "";
                }
                input:checked~.checkmarktext {
                    color: #12203c;
                    a {
                        color: #12203c;
                    }
                }
            }
        }
        .vlf-btn {
            margin-top: 30px;
            button {
                font-size: 12px;
                font-weight: 500;
                height: 32px;
                border-radius: 5px;
                margin-right: 30px;
                padding: 5px 20px;
                background: #fff;
                border: 1px solid #ccd8ed;
            }
            .vlfb-submit {
                background-color: #8b77fa;
                border: solid 1px #8b77fa;
                color: #ffffff;
                font-weight: 600;
                padding: 5px 30px;
            }
        }
    }
}

// Style Manage Vendor Kyc 
.manage-vendor-kyc-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mvkh-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .mvkh-search {
            position: relative;
            display: inline-block;
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 40px 8px 10px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
                margin-right: 20px;
            }
            input:focus{
                border: solid 1px #cdc4ff;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                right: 27px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 48px;
                top: 10px;
                cursor: pointer;
            }
        }
    }
    .mvkh-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button{
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .mvkh-filter-btn {
            box-shadow: 0 3px 6px 0 #d7e1f3;
            border: none;
            padding: 5px 12px;
            svg {
                margin-left: 10px;
            }
        }
    }
}

.manage-vendor-kyc-body {
    display: block;
    .mvlb-row {
        display: block;
        border-radius: 10px;
        background: #ffffff;
        padding: 10px 0px 10px 15px;
        box-shadow: 0 3px 6px 0 #d7e1f3;
        margin-bottom: 20px;
        .mvlb-left {
            display: inline-block;
            width: 20%;
            vertical-align: top;
            .mvlbl-top {
                display: block;
                margin-bottom: 20px;
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #90a5c7;
                    margin: 0;
                }
                h3 {
                    font-size: 13px;
                    font-weight: 600;
                    color: #21314b;
                }
                .mvlbl-ctype {
                    font-size: 11px;
                    font-weight: 600;
                    color: #778695;
                    margin: 0;
                }
            }
            .mvlb-status {
                display: flex;
                align-items: center;
                .mvlbs-inner {
                    display: block;
                    margin-left: 15px;
                    .mvlbs-kyc-succes {
                        font-size: 12px;
                        font-weight: 600;
                        color: #69e283;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 600;
                        color: #12203c;
                    }
                    p {
                        font-size: 11px;
                        color: #90a5c7;
                        font-weight: 500;
                        margin: 0;
                    }
                }
            }
        }
        .mvlb-mid {
            display: inline-block;
            width: 75%;
            .mvlbm-filled-details {
                background: #effdf7;
                padding: 10px 15px;
                border-radius: 10px;
                label {
                    font-size: 11px;
                    font-weight: 500;
                    color: #778695;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                }
                .mvlbmfd-top {
                    .mvlbmt-inner {
                        margin-bottom: 20px;
                        label {
                            font-size: 11px;
                            font-weight: 500;
                            color: #778695;
                        }
                        p {
                            font-size: 12px;
                            font-weight: 600;
                            margin: 0;
                        }
                    }
                    .mvlbmt-width {
                        display: inline-block;
                        margin-right: 40px;
                        p {
                            font-weight: 600;
                        }
                    }
                }
                .mvlbmfd-bottom {
                    display: block;
                    background: #fff;
                    padding: 15px 20px;
                    border-radius: 10px;
                    box-shadow: 0 3px 6px 0 #d7e1f3;
                    min-height: 400px;
                    h3 {
                        font-size: 14px;
                        font-weight: 700;
                        color: #21314b;
                        margin-bottom: 20px;
                    }
                    .mvlbmfdb-details {
                        display: inline-block;
                        width: 20%;
                        margin-right: 20px;
                        margin-bottom: 15px;
                        label {
                            display: block !important;
                        }
                        button {
                            font-size: 12px;
                            font-weight: 600;
                            background: #fff;
                            svg {
                                margin-left: 10px;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
            .mvlbmfd2 {
                background: #fff;
                border: 2px dashed #c1d8f0;
            }
        }
        .mvlb-right {
            display: inline-block;
            width: 5%;
            padding: 44px 10px;
            text-align: center;
            vertical-align: top;
            height: 122px;
            transition: 0.6s all;
            button {
                padding: 1px 3px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: #ffffff;
            }
        }
        .mvlbr-expend {
            height: 420px;
            padding: 190px 10px;
            transition: 0.6s all;
            button {
                background: #c8f9e6;
                transform: rotate(180deg);
                svg {
                    path {
                        stroke: #369289;
                    }
                }
            }
        }
    }
}

// Style Vendor Setting Dropdown
.dropdown-menu-city1.general-setting-list-drop {
    width: 300px;
    height: 330px;
    .dropdown-menu-city-item {
        height: 100%;
        li {
            padding: 7px 15px;
            .checkBoxLabel0 {
                top: auto;
                left: auto;
                padding-left: 26px;
                font-size: 12px;
                font-weight: 500;
                position: relative;
                width: 100%;
                height: auto;
                cursor: pointer !important;
            }
            .vendor-details {
                .vd-name {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
        .dmci-heading {
            padding: 5px 15px;
            .checkBoxLabel0 {
                font-size: 14px;
                font-weight: 700;
                padding-left: 26px;
                .checkmark1 {
                    top: 2px;
                }
            }
        }
    }
}

// Style Manage Vendor Modal
.master-data-view-modal {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 500px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    border-radius: 0;
    .mdvm-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
        height: 62px;
        .mdvmh-left {
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
        }
        .mdvmh-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button {
                position: relative;
                height: 32px;
                padding: 4px 15px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                background: #ffffff;
                color: #12203c;
                border: 1px solid #dce6f0;
            }
            .mdvmh-enable {
                position: relative;
                height: 32px;
                padding: 4px 20px;
                margin-right: 20px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                background: #8b77fa;
                border: 1px solid #8b77fa;
                color: #fff;
                .generic-tooltip {
                    top: 35px;
                }
                .generic-tooltip:after {
                    top: -43%;
                    border-color: transparent transparent #000;
                }
            }
            .mdvmh-enable:hover>.generic-tooltip {
                visibility: visible;
                opacity: 1;
            }
            .mdvmh-close {
                background: #fff;
                border: 2px solid #000;
                padding: 4px;
                border-radius: 50%;
                height: auto;
            }
        }
    }
    .mdvm-body {
        display: block;
        padding: 10px 15px;
        height: 430px;
        overflow: auto;
        h3 {
            font-size: 15px;
            font-weight: 700;
            color: #12203c;
            margin: 0;
        }
        label {
            color: #97abbf;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        p {
            font-size: 12px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
        .InputBoxEdit {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background-color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 7px;
            text-indent: 0;
            color: #12203c;
        }
        select {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background-color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 20px 3px 5px;
            text-indent: 0;
            color: #12203c;
            background-image: url('../assets/downArrowNew.svg');
            background-position: 96%;
            background-size: 12px;
            background-repeat: no-repeat;
            -webkit-appearance: none;
        }
        input[type="date"] {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background-color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 7px;
            text-indent: 0;
            color: #12203c;
            background-image: url('../assets/calenderNew2.svg');
            background-size: 14px;
            background-position: 92%!important;
            background-repeat: no-repeat;
        }
        .textAreaEditModal {
            width: 100%;
            height: 70px;
            border-radius: 5px;
            border: 1px solid #dce6f0;
            background-color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 10px;
            text-indent: 0;
            color: #12203c;
        }
    }
}