// Style Create Catalogue Page
.create-catalogue-pg {
    width: 420px;
    margin: 50px auto;
    text-align: center;
    h3 {
        font-size: 22px;
        font-weight: bold;
        color: #12203c;
        margin: 0;
        padding: 10px 0;
    }
    p {
        font-size: 12px;
        font-weight: 500;
        color: #969fad;
        margin: 0;
    }
    .ccp-product {
        position: relative;
        display: block;
        top: -31px;
        // background-image: url(../assets//catalogueBg.svg);
        // background-repeat: no-repeat;
        // background-position: center;
        .catalogueBg-2{
            position: absolute;
            top: 5px;
            left: 63px;
        }
        .cc-emptybox{
            position: absolute;
            top: 120px;
            left: 167px;
            p{
                font-size: 12px;
                font-weight: 600;
                color: #85a2db;
                position: absolute;
                top: 8px;
                left: 25px;
            }
        }
    }
    .cc-footer-btn{
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
        button{
            display: inline-block;
            text-align: left;
            padding: 8px 20px 8px 12px;
            border-radius: 40px;
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            .ccf-add {
                display: inline-block;
                padding: 7px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .ccfb-menual-entry{
            background-color: #3a5074;
            .ccf-add{
                background-color: #4c6081;
            }
        }
        .ccfb-bulk-upload{
            background-color: #00ced6;
            .ccf-add{
                background-color: #28d6dd;
            }
        }
    }
}
// Style Vendor Bulk Upload Modal
.bulk-upload-modal{
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #ffffff;
    height: 400px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 30px 50px;
    .bum-head {
        padding: 15px 0;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #6a7385;
            margin: 0;
        }
        .bum-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
    }
    .bum-body {
        display: block;
        width: 100%;
        height: 190px;
        border: 1px dashed #707070;
        text-align: center;
        .bum-file-name {
            display: block;
            text-align: center;
            padding: 20px 0;
            p {
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
            }
            span {
                font-size: 11px;
                font-weight: 400;
                color: #2681ff;
                cursor: pointer;
            }
        }
        .upload-file {
            text-align: center;
            border-radius: 4px;
            background-color: #f3f4f9;
            font-size: 12px;
            font-weight: 500;
            color: #21314b;
            padding: 7px 15px;
            margin: 0;
            cursor: pointer !important;
            input{
                display: none;
            }
        }
    }
    .bum-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0 0;
        .bumf-down-temp{
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
            background: #fff;
            box-shadow: 1px 2px 2px #d4cfcf40;
        }
        .bumf-upload{
            border-radius: 17px;
            background-color: #8b77fa;
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            padding: 7px 18px;
            span{
                margin-left: 8px;
            }
        }
    }
}
// Style bulk Upload Process Modal
.bulk-upload-process-modal{
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #ffffff;
    height: 360px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 30px 50px;
    .bump-head {
        padding: 15px 0;
        text-align: center;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
            padding: 15px 0;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #6a7385;
            margin: 0;
        }
        .bum-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
    }
    .bump-body{
        display: block;
        text-align: center;
        .bump-file-name{
            p {
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
            }
        }
        .circle-wrap{
            margin: 20px auto;
            width: 80px;
            height: 80px;
            background: #d6dce6;
            border-radius: 50%;
            .bump-circle .mask.full, .bump-circle .fill {
                animation: fill ease-in-out 3s;
                transform: rotate(114deg);
            }
            .bump-circle .mask .fill {
                clip: rect(0px,75px,150px,0px);
                background-color: #23e3eb;
            }
            .bump-circle .mask {
                clip: rect(0px,150px,150px,41px);
            }
            .bump-circle .mask, .bump-circle .fill {
                width: 80px;
                height: 80px;
                position: absolute;
                border-radius: 50%;
            }
            .inside-circle {
                width: 68px;
                height: 68px;
                border-radius: 50%;
                background: #fff;
                margin-top: 6px;
                margin-left: 6px;
                position: absolute;
                z-index: 100;
            }
        }
        .bump-footer{
            display: block;
            span {
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
            }
        }
    }
    .bucm-body {
        display: block;
        padding: 30px 0;
        text-align: center;
        span {
            font-size: 16px;
            font-weight: 400;
            color: #21314b;
            display: block;
            padding: 20px 0;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            color: #969fad;
            margin-bottom: 50px;
        }
        button.bumc-done {
            border-radius: 17px;
            border: solid 1px #d6dce6;
            background-color: #ffffff;
            padding: 6px 35px;
            font-size: 12px;
            color: #21314b;
            font-weight: 600;
        }
    }
}

// Style Create Catalogue Failed Modal
.bulk-upload-rejection-modal{
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #ffffff;
    height: 100%;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 30px 50px;
    .bum-head {
        padding: 15px 0;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #21314b;
            padding: 6px 0;
            margin: 0;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #6a7385;
            margin: 0;
        }
        .bum-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
        .burmh-bot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .burm-download {
                display: inline-block;
                padding: 7px 15px 7px 7px;
                border-radius: 17px;
                background-color: #f3f4f9;
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
                vertical-align: middle;
            }
            .burm-down-icon {
                display: inline-block;
                background: #ffffff;
                padding: 5px 6px;
                border-radius: 50%;
                margin-right: 9px;
            }
        }
    }
    .burm-body {
        display: block;
        width: 100%;
        position: relative;
        .burm-body-top{
            .burmbt-left {
                width: 73px;
                display: inline-block;
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: #21314b;
                    padding: 5px 0;
                    margin: 0;
                }
            }
            .burmbt-right {
                display: inline-block;
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #21314b;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #21314b;
                }
            }
        }
        .burmb-table {
            display: block;
            width: 100%;
            margin-top: 30px;
            table{
                width: 100%;
                thead{
                    tr{
                        th{
                            padding: 8px;
                            height: 35px;
                            vertical-align: middle;
                            label{
                                font-size: 11px;
                                font-weight: 500;
                                color: #21314b;
                                max-width: 110px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin: 0;
                                vertical-align: middle;
                            }
                        }
                        th:first-child{
                            padding-left: 0px;
                        }
                    }
                }
                tbody{
                    tr{
                        border-bottom: 1px solid #d6dce6;
                        td{
                            padding: 8px;
                            height: 35px;
                            vertical-align: middle;
                            img{
                                margin-right: 8px;
                            }
                            label{
                                font-size: 11px;
                                font-weight: 500;
                                color: #21314b;
                                max-width: 110px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin: 0;
                                vertical-align: middle;
                            }
                            .burmt-item {
                                font-size: 11px;
                                font-weight: 600;
                                color: #5677b1;
                            }
                        }
                        td:first-child{
                            padding-left: 0px;
                        }
                    }
                }
            }
            .burm-pegination{
                display: block;
                padding: 10px 0;
                text-align: right;
                .burmp-prev{
                    border-radius: 50%;
                    background-color: #f3f4f9;
                    padding: 3px 0;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                    height: 30px;
                    width: 30px;
                    margin-right: 10px;
                }
                .burmp-numb {
                    font-size: 11px;
                    font-weight: 600;
                    color: #21314b;
                    margin-right: 10px;
                }
                .burmp-next{
                    border-radius: 50%;
                    background-color: #f3f4f9;
                    padding: 3px 0;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                    height: 30px;
                    width: 30px;
                    transform: rotate(180deg);
                }
                .burmp-prev:hover, .burmp-next:hover{
                    background-color: #8b77fa;
                    transition: 0.3s all;
                    svg{
                        path{
                            // fill: #ffffff;
                            stroke: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .burm-footer {
        padding: 30px 0;
        text-align: center;
        button {
            border-radius: 17px;
            background-color: #f3f4f9;
            padding: 6px 25px;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

// Style Manage Catalogue
.manage-catalogue-design{
    display: flex;
    position: relative;
    width: 100%;
    height: 67px;
    -ms-flex-align: center;
    align-items: center;
    .mcd-left{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        .gvpd-search{
            position: relative;
            display: inline-block;
            margin-right: 20px;
            form{
                margin: 0;
            }
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            input:focus{
                border: solid 1px #cdc4ff;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
            .closeSearch {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }
        button{
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            font-size: 12px;
            padding: 5px 15px;
            margin-right: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                left: 0;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        img{
                            width: 30px;
                            margin-right: 12px;
                        }
                        span{
                            display: inline-block;
                            padding: 5px 7px;
                            border-radius: 50%;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                        div{
                            display: inline-block;
                            .multipleDownloadSelect {
                                border: none;
                                padding: 0;
                                -webkit-appearance: none;
                                background: #fff !important;
                            }
                        }
                    }
                    .export-excel{
                        color: #a4b9dd;
                        span{
                            margin-right: 10px;
                        }
                    }
                    .export-excel:hover{
                        color: #12203c;
                        span{
                            background-color: #049d4b14;
                            svg{
                                path{
                                    fill: #049d4b;
                                }
                                text{
                                    fill: #049d4b;
                                }
                            }
                        }
                    }
                    .pi-pdf-download{
                        span{
                            margin-right: 10px;
                        }
                        .btnDisabled{
                            color: #a4b9dd !important;
                        }
                    }
                    .pi-pdf-download:hover{
                        span{
                            background-color: #eb000817;
                            svg{
                                path{
                                    fill: #eb0008;
                                }
                                text{
                                    fill: #eb0008;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pi-download, .pi-download2{
            width: 32px;
            padding: 0;
        }
        .pi-download:hover{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            transition: 0.3s all;
            svg path{
                fill: #fff;
            }
        }
        .pi-download-focus{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            svg path{
                fill: #fff;
            }
        }
        .gvpd-filter{
            position: relative;
            .gvpd-filter-inner{
                width: 32px;
                padding: 0;
            }
            .gvpd-filter-inner:hover{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .gvpd-filter-inner-focus{
                color: #fff;
                background-color: #4a5568;
                border: 1px solid #4a5568;
                transition: 0.3s all;
                svg path{
                    fill: #fff;
                }
            }
            .noOfFilter {
                position: absolute;
                right: -9px;
                top: -7px;
                background-color: #eb0008;
                border-radius: 50%;
                padding: 2px 0;
                font-size: 10px;
                width: 17px;
                height: 17px;
                text-align: center;
                color: #fff;
            }
        }
        .toggle-button-qc{
            display: block;
            margin: 0;
            button{
                margin: 0;
                background-color: #f9f9f9;
                color: #d8d3d3;
                padding: 7px 16px;
                height: 32px;
                border: none;
                font-weight: 600;
            }
            .tbqc-confirm{
                border-radius: 5px 0 0 5px;
            }
            .tbqc-not-confirm{
                border-radius: 0 5px 5px 0;
            }
        }
        .toggle-button-qc.toggle-not-confirm{
            .tbqc-not-confirm{
                background-color: #8b77fa;
                color: #ffffff;
            }
        }
        .toggle-button-qc.toggle-confirm{
            .tbqc-confirm{
                background-color: #8b77fa;
                color: #ffffff;
            }
        }
        .tg-switch{
            .tg-slider{
                background-color: #f8c902;
            }
        }
        .mcd-retailer-drop {
            display: block;
            position: relative;
            p{
                margin: 0;
                position: absolute;
                top: -19px;
                left: 0;
                color: #21314b;
                font-size: 11px;
                font-weight: 500;
            }
        }
        .mcdl-title{
            h3{
                font-size: 16px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
        }
    }
    .mcd-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button{
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .apt-cancel{
            color: #12203c;
            background-color: #ffffff;
            padding: 4px 25px;
            font-weight: 600;
        }
        .continue-btn{
            color: #ffffff;
            background-color: #8b77fa;
            padding: 4px 25px;
            font-weight: 600;
            border: solid 1px #8b77fa;
        }
        .mcd-pause{
            color: #f8c902;
            width: 32px;
            padding: 0 11px;
            font-size: 10px;
            letter-spacing: 2px;
            text-align: center;
            font-weight: 800;
            border: 1px solid #d6dce6;
        }
        .mcd-send{
            width: 32px;
            padding: 0px 8px;
            font-size: 10px;
            svg{
                margin-top: -2px;
            }
        }
        .bulk-action-dropdown{
            position: relative;
            display: block;
            .mcd-bulk-action{
                padding: 5px 10px;
                img{
                    margin-left: 10px;
                }
            }
            .bad-inner{
                display: block;
                position: absolute;
                top: 38px;
                right: 0px;
                width: 160px;
                padding: 8px 0px;
                border-radius: 5px;
                background: #fff;
                margin: 0;
                z-index: 99;
                border: 1px solid #ccd8ed;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0 10px;
                        margin: 0;
                        border: none;
                        font-size: 12px;
                        font-weight: 500;
                        border-radius: 0;
                        width: 100%;
                        text-align: left;
                    }
                    button:hover{
                        background: #f5f3ff;
                    }
                }
            }
        }
        .mcd-comment{
            padding: 5px 10px;
            svg{
                margin-right: 10px;
            }
        }
        .mdc-upload{
            position: relative;
            display: block;
            .mdcu-btn{
                display: inline-block;
                text-align: left;
                padding: 6px 9px 6px 8px;
                border-radius: 40px;
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                background-color: #3a5074;
                border: 1px solid #3a5074;
                .mdcu-add{
                    display: inline-block;
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: #4c6081;
                }
            }
            .mcd-upload-dropdown{
                display: block;
                position: absolute;
                top: 42px;
                right: 10px;
                width: 160px;
                padding: 6px 15px;
                border-radius: 5px;
                background: #fff;
                margin: 0;
                z-index: 99;
                border: 1px solid #ccd8ed;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        // margin-bottom: 5px;
                        font-size: 12px;
                        font-weight: 500;
                        .ccf-add{
                            display: inline-block;
                            padding: 5px;
                            border-radius: 50%;
                            margin-right: 10px;
                            background-color: #4c6081;
                        }
                    }
                    .mcdu-bulk-upload{
                        .ccf-add{
                            background-color: #28d6dd;
                        }
                    }
                }
            }
        }
    }
}

// Style Manage Catalogue Table
.manage-catalogue-table{
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    margin-top: 10px;
    .mct-manage-table{
        overflow-y: hidden;
        overflow-x: auto;
        .columnFilterGeneric{
            width: 19px;
            .glyphicon{
                padding: 15px 3px;
                background: #8b77fa;
            }
            .columnSetting{
                right: 19px;
            }
        }
        .mct-main-table{
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead{
                border: none;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    height: 35px;
                    background-color: #fff;
                    th{
                        height: 42px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none;
                        label{
                            margin: 0;
                            font-weight: 600;
                            color: #000000;
                            width: auto;
                        }
                        img{
                            margin-left: 15px;
                            cursor: pointer;
                        }
                        .rotate180{
                            filter: sepia(1);
                        }
                    }
                    .pl-20{
                        padding-left: 20px;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        left: 0;
                        position: sticky;
                        border-right: none;
                        border-bottom: none;
                        z-index: 1;
                        max-width: 90px;
                        padding: 0;
                        label{
                            width: auto;
                        }
                        .rab-refresh{
                            display: flex;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: flex-start;
                            .rab-rinner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                span{
                                    img{
                                        margin: 0;
                                        width: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            tbody{
                tr{
                    height: 35px;
                    td{
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: 0.5px solid #e3e7f3;
                        position: relative;
                        label{
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                            white-space: nowrap;
                            max-width: 200px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                        }
                        .poStatus{
                            cursor: pointer;
                        }
                        label.clr-red{
                            color: #eb0008;
                        }
                        .table-td-text{
                            white-space: nowrap;
                            max-width: 200px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                        }
                    }
                    .cat-completed{
                        label{
                            color: #427702;
                            padding: 5px 13px 5px 5px;
                            border-radius: 13px;
                            background-color: #f2fce7;
                            vertical-align: middle;
                            img{
                                width: 14px;
                                margin-right: 6px;
                            }
                        }
                    }
                    .cat-pending{
                        label{
                            color: #969fad;
                            padding: 5px 13px 5px 8px;
                            border-radius: 13px;
                            background-color: #f3f4f9;
                            vertical-align: middle;
                            img{
                                width: 14px;
                                margin-right: 6px;
                            }
                        }
                    }
                    .cat-rejected{
                        label{
                            color: #aa0006;
                            padding: 5px 17px 5px 5px;
                            border-radius: 13px;
                            background-color: #fcd9da;
                            vertical-align: middle;
                            img{
                                width: 14px;
                                margin-right: 6px;
                            }
                        }
                    }
                    .cat-partial-complete{
                        label{
                            color: #6a58d0;
                            padding: 5px 17px 5px 5px;
                            border-radius: 13px;
                            background-color: #8b77fa14;
                            vertical-align: middle;
                            img{
                                width: 14px;
                                margin-right: 6px;
                            }
                        }
                    }
                    td:first-child{
                        border: none;
                    }
                    td:nth-child(2){
                        border-left: none;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        padding: 0;
                        left: 0;
                        position: sticky;
                        z-index: 1;
                        max-width: 90px;
                        .table-item-list{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0;
                            margin: 0;
                            height: 35px;
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                }
                                .checkmark1 {
                                    left: 0px;
                                    top: 0px;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #fff;
                                    cursor: pointer;
                                    border-radius: 4px;
                                    border: solid 2px #dce6f0;
                                }
                                .checkBoxLabel0 .checkmark1:after {
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                    content: none;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1 {
                                    background-color: #8b77fa;
                                    border: none;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1:after{
                                    content: '';
                                }
                            }
                            .til-inner:hover>.generic-tooltip{
                                visibility: visible;
                                opacity: 1;
                            }
                            .til-edit-btn:hover{
                                background: #fea70324;
                                svg{
                                    path{
                                        fill: #fea703;
                                    }
                                }
                            }
                            .til-delete-btn:hover{
                                background-color: #eb000826;
                                svg path{
                                    fill: #eb0008;
                                }
                            }
                        }
                    }
                }
                tr:first-child{
                    td{
                        border-top: none;
                    }
                }
            }
        }
    }
}

// Assign To Retailer Modal
.assign-to-retailer-modal{
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 470px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 30px 50px;
    .atrm-head {
        padding: 15px 0;
        .bum-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
        input {
            border-radius: 5px;
            border: solid 1px #dce6f0;
            width: 100%;
            height: 30px;
            padding: 5px 10px;
            font-size: 12px;
            color: #12203c;
            font-weight: 500;
        }
        .search-icon{
            position: absolute;
            top: 53px;
            right: 62px;
            width: 14px;
        }
    }
    .atrm-body{
        display: block;
        padding: 10px 0;
        border-bottom: solid 0.5px #d6dce6;
        p {
            font-size: 11px;
            font-weight: 600;
            color: #21314b;
        }
        .atrm-body-inner{
            display: flex;
        }
        .atrmb-box{
            position: relative;
            display: block;
            width: 25%;
            padding-right: 15px;
            margin-bottom: 15px;
            .atrmb-box-inner{
                position: relative;
                display: block;
                border-radius: 6px;
                border: .5px solid #d6dce6;
                background-color: #fff;
                height: 35px;
                padding: 8px 5px;
                .atrmbb-text{
                    font-size: 12px;
                    font-weight: 500;
                    color: #21314b;
                    padding: 5px 0px;
                    margin-left: 30px;
                }
            }
            .atrmbb-check{
                position: absolute;
                top: 9px;
                left: 7px;
                .checkBoxLabel0{
                    width: 16px;
                    height: 16px;
                    padding-left: 16px;
                }
                .checkmark1 {
                    left: 0px;
                    top: 0px;
                    height: 16px;
                    width: 16px;
                    background-color: #fff;
                    cursor: pointer;
                    border-radius: 4px;
                    border: solid 2px #dce6f0;
                }
                .checkBoxLabel0 .checkmark1:after {
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                    content: none;
                }
                .checkBoxLabel0 input:checked~.checkmark1 {
                    background-color: #8b77fa;
                    border: none;
                }
                .checkBoxLabel0 input:checked~.checkmark1:after{
                    content: '';
                }
            }
        }
    }
    .atrm-footer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 30px 0 0;
        button {
            padding: 8px 40px;
            background: #fff;
            font-size: 12px;
            font-weight: 500;
            color: #21314b;
            border-radius: 5px;
        }
        .atrm-assign{
            color: #ffffff;
            background-color: #8b77fa;
            font-weight: 600;
        }
    }
}

// Style Lot Details Page

.history-lot-details-status {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 67px;
    box-shadow: 0 3px 6px 0 rgba(167, 167, 167, 0.16);
    padding: 0px 15px;
    .hlds-left{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: start;
        .hldsl-inner {
            display: block;
            margin-right: 45px;
            p {
                font-size: 11px;
                font-weight: 500;
                color: #21314b;
                margin: 0;
            }
            span {
                font-size: 12px;
                font-weight: 600;
                color: #21314b;
                .hldsl-time{
                    margin-left: 15px;
                }
            }
            .hldsl-reject{
                color: #eb0008;
            }
            .hldsl-complete{
                color: #6d9500;
            }
            .hldsl-partial-reject{
                color: #8b77fa;
            }
        }
    }
    .hlds-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .hlds-upload{
            position: relative;
            display: block;
            .hlds-btn{
                display: inline-block;
                text-align: left;
                padding: 6px 9px 6px 8px;
                border-radius: 40px;
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                background-color: #3a5074;
                border: 1px solid #3a5074;
                .hlds-add{
                    display: inline-block;
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: #4c6081;
                }
            }
            .hlds-upload-dropdown{
                display: block;
                position: absolute;
                top: 42px;
                right: 10px;
                width: 160px;
                padding: 6px 15px;
                border-radius: 5px;
                background: #fff;
                margin: 0;
                z-index: 99;
                border: 1px solid #ccd8ed;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        // margin-bottom: 5px;
                        font-size: 12px;
                        font-weight: 500;
                        .ccf-add{
                            display: inline-block;
                            padding: 5px;
                            border-radius: 50%;
                            margin-right: 10px;
                            background-color: #4c6081;
                        }
                    }
                    .hlds-bulk-upload{
                        .ccf-add{
                            background-color: #28d6dd;
                        }
                    }
                }
            }
        }
    }
}

// Style Create Catalogue Page
.apt-box{
    label{
        font-size: 11px;
        font-weight: 600;
        display: block!important;
        .mandatory {
            position: absolute;
            top: -2px;
        }
    }
    select{
        display: block;
        width: 100%;
        height: 33px;
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500;
        background-image: url('../assets/downArrowNew.svg');
        background-position: 96%;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        padding: 5px;
        color: #12203c;
    }
    input[type="text"]{
        display: block;
        width: 100%;
        height: 33px;
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500;
        padding: 5px;
        color: #12203c;
    }
    textarea{
        display: block;
        width: 100%;
        height: 80px;
        border-radius: 5px;
        border: 1px solid #dce6f0;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500;
        padding: 5px;
        color: #12203c;
        outline: none;
    }
    textarea:focus{
        outline: none;
    }
    input.pnl-purchase-read{
        border: 1px solid #bfdfff;
        background-color: #f2f5f8;
    }
    .aptb-input{
        .dropdown-menu-vendor {
            width: 300px;
        }
    }
    .aptb-button {
        display: flex !important;
        border: solid 1px #c9d9ea;
        background: #fff;
        border-radius: 5px;
        color: #c9d9ea;
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 500;
        width: 130px;
        height: 45px;
        margin-top: 10px;
        align-items: center;
        cursor: pointer !important;
        span{
            margin-right: 11px;
            img{
                width: 28px;
            }
        }
    }
    label.aptb-button{
        cursor: pointer !important;
        input[type=file] {
            display: none;
        }
    }
    .apb-multi-image-upload {
        display: block;
        width: 320px;
        padding: 15px 20px;
        position: absolute;
        bottom: 1px;
        left: 150px;
        background: #fff;
        box-shadow: 0 0 7px 0 hsla(0,0%,76%,.5);
        border-radius: 6px;
        height: 92px;
        .amiu-box {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            .amiub-label {
                margin: 0;
                cursor: pointer !important;
                input[type=file] {
                    display: none;
                }
                .apc-add-input {
                    display: block;
                }
            }
            .amiub-label:hover{
                .apc-add-input{
                    svg{
                        path{
                            fill: #8b77fa;
                        }
                    }
                }
            }
            .amiub-text {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
                text-align: center;
                margin-top: 4px;
            }
            .amiub-uploaded-img{
                display: block;
                position: relative;
                img{
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
                .amiubui-close{
                    display: none;
                }
            }
            .amiub-uploaded-img:hover{
                .amiubui-close{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
        }
        .mr0{
            margin: 0;
        }
    }
    .apb-multi-image-upload:after {
        content: "";
        position: absolute;
        bottom: 9px;
        left: 0;
        margin-left: -25px;
        border-width: 12px;
        border-style: solid;
        border-color: transparent #f1f2f3 transparent transparent;
    }
    .apb-multi-image-upload-overwrite{
        box-shadow: none;
        top: 10px;
    }
    .apb-multi-image-upload-overwrite::after{
        display: none;
    }
}
.apt-footer{
    display: block;
    width: 100%;
    text-align: right;
    .apt-cancel{
        color: #12203c;
        background-color: #ffffff;
        padding: 8px 35px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        border: solid 1px #cbd5e0;
        margin-right: 15px;
    }
    .continue-btn{
        color: #ffffff;
        background-color: #8b77fa;
        padding: 8px 35px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        border: solid 1px #8b77fa;
    }
}
.create-cat-basic-details {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    h3 {
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        margin: 0;
    }
    .nph-switch-btn {
        margin-left: 20px;
        .tg-switch {
            width: 93px;
            height: 23px;
            .tg-slider {
                background-color: #8b77fa;
            }
            .tg-slider:before {
                height: 17px;
                width: 17px;
                left: 3px;
                bottom: 3px;
                background-color: #fff;
                transition: 0.9s;
            }
            input:checked+.tg-slider:before {
                transform: translateX(70px);
            }
            input:checked+.tg-slider {
                background-color: #00ced6;
            }
            .ccbd-text {
                position: absolute;
                top: 3px;
                left: 30px;
                color: #fff;
                font-size: 12px;
                cursor: pointer;
            }
            .ccbd-text.advance{
                left: 12px;
            }
        }
    }
}

.add-product-tab{
    .subscription-tab-list{
        border-top: 1px solid #dce6f0;
        li{
            .st-btn{
                img{
                    display: none;
                }
            }
        }
        li.active a:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: #8b77fa;
            transform: translate(-50%);
        }
        li.active a.st-btn{
            font-weight: 500;
            background: #f5f3ff;
            border-radius: 0;
            img{
                display: inline-block;
                width: 15px;
                margin-right: 10px;
            }
        }
    }
}

.apc-file-upload{
    display: flex !important;
    width: 200px;
    border: 1px solid #dce6f0;
    background-color: #fff;
    height: 32px;
    margin: 0;
    border-radius: 5px;
    padding: 4px 4px;
    margin-top: 21px;
    input{
        display: none;
    }
    .apc-add-input {
        border-radius: 5px;
        background-color: #e5eef7;
        padding: 4px 6px;
        font-size: 10px;
        font-weight: 600;
        display: inline-block;
        cursor: pointer;
    }
    .apc-fileName{
        font-size: 12px;
        font-weight: 500;
        padding: 4px 8px;
        color: #bfc0c3;
        white-space: nowrap;
        max-width: 115px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }
}

// Style Item Page
.item-catalogue-design{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 54px;
    .icd-left{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: start;
        .gvpd-search {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            input[type=search] {
                border-radius: 5px;
                border: 1px solid #dce6f0;
                background: #fff;
                padding: 8px 30px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
            }
            .search-image {
                position: absolute;
                top: 8px;
                left: 7px;
                width: 15px;
            }
        }
    }
    .icd-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .icd-wishlist{
            border-radius: 25px;
            svg{
                margin-left: 10px;
            }
        }
        .add-more-products-btn{
            svg{
                margin-right: 10px;
            }
        }
        .notify-vendors-btn{
            color: #ffffff;
            background-color: #8b77fa;
            border: 1px solid #8b77fa;
        }
    }
}


.catalogue-filters {
    display: block;
    width: 20%;
    border-right: 1px solid #dce6f0;
    padding: 0px;
    float: left;
    .cat-filter-head {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid #dce6f0;
        padding: 10px 15px 10px 47px;
        h3 {
            font-size: 13px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
        }
        button.cfh-clear-all {
            border-radius: 17px;
            background-color: #d1dff8;
            padding: 3px 9px;
            font-size: 12px;
            font-weight: 500;
            color: #5677b1;
        }
    }
    .cat-filter-body {
        display: block;
        width: 100%;
        .cfb-inner-filter {
            display: block;
            padding: 0px 15px 15px 47px;
            border-bottom: 1px solid #dce6f0;
            .cfb-if-head {
                display: flex;
                width: 100%;
                height: 35px;
                align-items: center;
                justify-content: space-between;
                h3 {
                    font-size: 13px;
                    font-weight: bold;
                    color: #12203c;
                    margin: 0;
                }
                .cfbif-view-all {
                    background: #fff;
                    font-size: 12px;
                    padding: 5px 0;
                    font-weight: 500;
                }
            }
            .cfbif-range{
                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                }
                .cfbif-range-input{
                    width: 100%;
                    .prise-range{
                        -webkit-appearance: none;
                        width: 100%;
                        height: 2px;
                        border-radius: 5px;
                        background: #21314b;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                    }
                    .prise-range:hover {
                        opacity: 1;
                    }
                    .prise-range::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: #d6dce6;
                        cursor: pointer;
                    }
                    .prise-range::-moz-range-thumb {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: #d6dce6;
                        cursor: pointer;
                    }
                }
            }
            .cfbif-item {
                display: block;
                .cfbif-item-row {
                    display: flex;
                    position: relative;
                    padding: 3px 0;
                    .checkBoxLabel0{
                        width: 16px;
                        height: 16px;
                        padding-left: 16px;
                        margin: 0;
                    }
                    .checkmark1 {
                        left: 0px;
                        top: 0px;
                        height: 16px;
                        width: 16px;
                        background-color: #fff;
                        cursor: pointer;
                        border-radius: 4px;
                        border: solid 2px #dce6f0;
                    }
                    .checkBoxLabel0 .checkmark1:after {
                        width: 5px;
                        height: 9px;
                        border-width: 0 2px 2px 0;
                        content: none;
                    }
                    .checkBoxLabel0 input:checked~.checkmark1 {
                        background-color: #8b77fa;
                        border: none;
                    }
                    .checkBoxLabel0 input:checked~.checkmark1:after{
                        content: '';
                    }
                    .cfbif-color {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: transparent;
                        margin-left: 10px;
                    }
                    .black{
                        background-color: #000000;
                    }
                    .white{
                        border: solid 1px #d6dce6;
                        background-color: #ffffff;
                    }
                    .red{
                        background-color: #eb0008;
                    }
                    .green{
                        background-color: #00af4a;
                    }
                    .yellow{
                        background-color: #ffcf03;
                    }
                    .grey{
                        background-color: #d6dce6;
                    }
                    .fil-color-name{
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        margin-left: 6px
                    }
                    .fil-cat-name {
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        margin-left: 13px
                    }
                }
            }
        }
    }
}

.catalogue-item-details {
    display: block;
    width: 80%;
    float: left;
    padding: 15px 32px 15px 19px;
    .cid-filter-apply-row {
        display: block;
        width: 100%;
        padding-right: 15px;
        margin-bottom: 20px;
        .cidfar-item {
            border-radius: 15px;
            border: solid 2px #21314b;
            background-color: #ffffff;
            padding: 3px 10px;
            font-size: 12px;
            font-weight: 500;
            margin-right: 15px;
            img{
                margin-left: 10px;
            }
        }
    }
    .cid-row {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        .cidr-item {
            display: block;
            width: 20%;
            padding-right: 15px;
            .cidr-item-inner {
                display: block;
                .cidri-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        max-height: 166px;
                    }
                    .cidri-prev{
                        position: absolute;
                        padding: 6px 14px;
                        border-radius: 4px;
                        box-shadow: 0 3px 6px 0 rgba(191, 191, 191, 0.16);
                        background-color: #f7f7f7;
                        font-size: 11px;
                        font-weight: 600;
                        display: none;
                    }
                    .img-bottom {
                        display: none;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background: #fff;
                        padding: 7px 0;
                        box-shadow: 1px -6px 9px 1px rgba(123, 123, 123, 0.16);
                        .cidri-add-wishlist {
                            font-size: 11px;
                            font-weight: 500;
                            color: #12203c;
                            background: #fff;
                            border-radius: 3px;
                            border: solid 0.5px #d6dce6;
                            padding: 5px 13px;
                        }
                    }
                    .cidri-img-new-tag{
                        background-color: #3ee585;
                        color: #fff;
                        position: absolute;
                        top: -4px;
                        right: -23px;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 11px 18px 2px;
                        transform: rotate(45deg);
                    }
                    .cidri-img-few-tag{
                        background-color: #f8c902;
                        color: #fff;
                        position: absolute;
                        top: -4px;
                        right: -23px;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 11px 18px 2px;
                        transform: rotate(45deg);
                    }
                }
                .cidrii-details {
                    // box-shadow: 0 0 9px 0 rgba(123, 123, 123, 0.16);
                    background-color: #ffffff;
                    padding: 0 9px 10px;
                    p {
                        font-size: 11px;
                        font-weight: 700;
                        color: #12203c;
                        margin: 0;
                    }
                    .cid-size{
                        font-size: 11px;
                        font-weight: 500;
                        color: #718096;
                        max-width: 141px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: none;
                        .cid-size-inner{
                            margin-left: 5px;
                        }
                    }
                    .cid-description{
                        font-size: 11px;
                        font-weight: 500;
                        color: #718096;
                        max-width: 141px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: inline-block;
                    }
                    .cid-item-prise{
                        display: block;
                        .cid-dis-rate {
                            font-size: 11px;
                            font-weight: 600;
                            color: #12203c;
                            margin-right: 5px;
                        }
                        .cid-actual-rate {
                            font-size: 11px;
                            font-weight: 500;
                            color: #7f8796;
                            margin-right: 5px;
                            position: relative;
                        }
                        .cid-actual-rate:before{
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -5%;
                            width: 110%;
                            height: 1px;
                            background-color: #7f8796;
                        }
                        .cid-off-per {
                            font-size: 11px;
                            font-weight: 500;
                            color: #f77647;
                        }
                    }
                }
            }
            .cidr-item-inner:hover{
                transition: 0.3s all;
                .cidri-img{
                    .cidri-prev{
                        display: block;
                    }
                    .img-bottom{
                        display: block;
                        box-shadow: 1px -6px 9px 1px hsla(0,0%,48%,.16);
                    }
                }
                .cidrii-details{
                    box-shadow: 0 0 9px 0 hsla(0,0%,48%,.16);
                    .cid-size{
                        display: inline-block;
                    }
                    .cid-description{
                        display: none;
                    }
                }
            }
        }
    }
}

// Style Empty Wishlist
.empty-wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    .empty-wishlist-inner{
        display: block;
        text-align: center;
        h3 {
            font-size: 18px;
            font-weight: bold;
            color: #12203c;
            margin: 0;
            text-transform: uppercase;
        }
        p {
            margin: 0;
            font-size: 13px;
            font-weight: 500;
            color: #969fad;
            padding: 20px 0;
        }
        button{
            display: inline-block;
            text-align: left;
            padding: 6px 20px 6px 6px;
            border-radius: 40px;
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            .ewap-add {
                display: inline-block;
                padding: 7px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .ew-add-product{
            background-color: #00ced6;
            .ewap-add{
                background-color: #28d6dd;
            }
        }
    }    
}

// Style Enterprise Wishlist Pages
.my-wishlist-all-products {
    display: block;
    width: 100%;
    padding: 13px 0px;
    span {
        font-size: 12px;
        font-weight: 500;
        margin-right: 7px;
        color: #12203c;
    }
    p{
        font-size: 12px;
        font-weight: 500;
        color: #12203c;
        margin: 0;
    }
}

.mw-items {
    display: table;
    width: 100%;
    border-bottom: 1px solid #d6dce6;
    .mwi-inner {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        .mwii-details {
            display: block;
            width: 100%;
            padding: 0 30px;
            p {
                font-size: 12px;
                font-weight: 700;
                color: #12203c;
            }
            .cid-size {
                font-size: 11px;
                font-weight: 500;
                color: #718096;
                max-width: 162px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-bottom: 13px;
                display: inline-block;
            }
            .cid-item-prise{
                display: block;
                .cid-dis-rate {
                    font-size: 11px;
                    font-weight: 600;
                    color: #12203c;
                    margin-right: 5px;
                }
                .cid-actual-rate {
                    font-size: 11px;
                    font-weight: 500;
                    color: #7f8796;
                    margin-right: 5px;
                    position: relative;
                }
                .cid-actual-rate:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -5%;
                    width: 110%;
                    height: 1px;
                    background-color: #7f8796;
                }
                .cid-off-per {
                    font-size: 11px;
                    font-weight: 500;
                    color: #f77647;
                }
            }
            .mwii-size-quantity {
                display: flex;
                padding: 15px 0;
                .mwii-size-btn, .mwii-quantity-btn {
                    display: block;
                    position: relative;
                    min-width: 25%;
                    p{
                        font-size: 12px;
                        font-weight: 500;
                        color: #21314b;
                        margin-bottom: 5px;
                    }
                    button {
                        display: block;
                        padding: 2px 8px;
                        border-radius: 5px;
                        border: 1px solid #d6dce6;
                        background-color: #fff;
                        font-size: 12px;
                        font-weight: 600;
                        position: relative;
                        width: 57px;
                        text-align: left;
                        img{
                            margin-left: 15px;
                            margin-top: -1px;
                            right: 7px;
                            position: absolute;
                            top: 9px;
                        }
                    }
                    button:after{
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 50%;
                        background-color: #d6dce6;
                        width: 1px;
                        height: 12px;
                    }
                }
            }
            .wl-remove-btn {
                display: inline-block;
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 500;
                border: solid 1px #d6dce6;
                background-color: #ffffff;
            }
            .wl-remove-btn:hover{
                border: solid 1px #eb0008;
                background-color: #eb0008;
                color: #ffffff;
            }
        }
    }
    .burm-pegination{
        display: block;
        padding: 10px 0;
        text-align: right;
        .burmp-prev{
            border-radius: 50%;
            background-color: #f3f4f9;
            padding: 3px 0;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            height: 30px;
            width: 30px;
            margin-right: 10px;
        }
        .burmp-numb {
            font-size: 11px;
            font-weight: 600;
            color: #21314b;
            margin-right: 10px;
        }
        .burmp-next{
            border-radius: 50%;
            background-color: #f3f4f9;
            padding: 3px 0;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            height: 30px;
            width: 30px;
            transform: rotate(180deg);
        }
        .burmp-prev:hover, .burmp-next:hover{
            background-color: #8b77fa;
            transition: 0.3s all;
            svg{
                path{
                    // fill: #ffffff;
                    stroke: #ffffff;
                }
            }
        }
    }
}

.ew-bottom{
    h3 {
        font-size: 13px;
        font-weight: bold;
        color: #21314b;
        padding: 15px 0;
    }
    .cid-row {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        .cidr-item {
            display: block;
            width: 16.6666666667%;
            padding-right: 15px;
            .cidr-item-inner {
                display: block;
                .cidri-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        max-height: 166px;
                    }
                    .cidri-prev{
                        position: absolute;
                        padding: 6px 14px;
                        border-radius: 4px;
                        box-shadow: 0 3px 6px 0 rgba(191, 191, 191, 0.16);
                        background-color: #f7f7f7;
                        font-size: 11px;
                        font-weight: 600;
                        display: none;
                    }
                    .img-bottom {
                        display: none;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background: #fff;
                        padding: 7px 0;
                        box-shadow: 1px -6px 9px 1px rgba(123, 123, 123, 0.16);
                        .cidri-add-wishlist {
                            font-size: 11px;
                            font-weight: 500;
                            color: #12203c;
                            background: #fff;
                            border-radius: 3px;
                            border: solid 0.5px #d6dce6;
                            padding: 5px 13px;
                        }
                    }
                    .cidri-img-new-tag{
                        background-color: #3ee585;
                        color: #fff;
                        position: absolute;
                        top: -4px;
                        right: -23px;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 11px 18px 2px;
                        transform: rotate(45deg);
                    }
                    .cidri-img-few-tag{
                        background-color: #f8c902;
                        color: #fff;
                        position: absolute;
                        top: -4px;
                        right: -23px;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 11px 18px 2px;
                        transform: rotate(45deg);
                    }
                }
                .cidrii-details {
                    // box-shadow: 0 0 9px 0 rgba(123, 123, 123, 0.16);
                    background-color: #ffffff;
                    padding: 0 9px 10px;
                    p {
                        font-size: 11px;
                        font-weight: 700;
                        color: #12203c;
                        margin: 0;
                    }
                    .cid-size{
                        font-size: 11px;
                        font-weight: 500;
                        color: #718096;
                        max-width: 141px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: none;
                        .cid-size-inner{
                            margin-left: 5px;
                        }
                    }
                    .cid-description{
                        font-size: 11px;
                        font-weight: 500;
                        color: #718096;
                        max-width: 141px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: inline-block;
                    }
                    .cid-item-prise{
                        display: block;
                        .cid-dis-rate {
                            font-size: 11px;
                            font-weight: 600;
                            color: #12203c;
                            margin-right: 5px;
                        }
                        .cid-actual-rate {
                            font-size: 11px;
                            font-weight: 500;
                            color: #7f8796;
                            margin-right: 5px;
                            position: relative;
                        }
                        .cid-actual-rate:before{
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -5%;
                            width: 110%;
                            height: 1px;
                            background-color: #7f8796;
                        }
                        .cid-off-per {
                            font-size: 11px;
                            font-weight: 500;
                            color: #f77647;
                        }
                    }
                }
            }
            .cidr-item-inner:hover{
                transition: 0.3s all;
                .cidri-img{
                    .cidri-prev{
                        display: block;
                    }
                    .img-bottom{
                        display: block;
                        box-shadow: 1px -6px 9px 1px hsla(0,0%,48%,.16);
                    }
                }
                .cidrii-details{
                    box-shadow: 0 0 9px 0 hsla(0,0%,48%,.16);
                    .cid-size{
                        display: inline-block;
                    }
                    .cid-description{
                        display: none;
                    }
                }
            }
        }
    }
}

// Style Item Preview Page
.item-preview-page {
    display: table;
    width: 100%;
    padding: 20px 0 10px;
    border-bottom: 1px solid #eaeaea;
    .ipp-image {
        display: block;
        width: 100%;
        .ipp-img-top {
            display: flex;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .ipp-img-bottom {
            display: flex;
            width: 100%;
            align-items: center;
            height: 60px;
            justify-content: space-between;
            margin-top: 10px;
            .ippimg-prew {
                width: 56px;
                height: 56px;
                background-color: #f8f3ff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .ippimg-item{
                width: 56px;
                height: 56px;
                img{
                    width: 56px;
                    height: 56px;
                }
            }
            .ippimg-next {
                width: 56px;
                height: 56px;
                background-color: #f8f3ff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transform: rotate(180deg);
            }
            .ippimg-next:hover, .ippimg-prew:hover{
                background-color: #21314b;
                transition: 0.6s all;
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
    }
    .ipp-details {
        display: block;
        width: 100%;
        padding: 0 50px;
        p {
            font-size: 28px;
            font-weight: bold;
            color: #12203c;
        }
        .cid-size {
            font-size: 16px;
            font-weight: 500;
            color: #718096;
        }
        .cid-item-prise {
            display: block;
            padding: 10px 0;
            .cid-dis-rate {
                font-size: 20px;
                font-weight: bold;
                color: #12203c;
                margin-right: 15px;
            }
            .cid-actual-rate {
                font-size: 20px;
                font-weight: 500;
                color: #12203c;
                position: relative;
                margin-right: 10px;
            }
            .cid-actual-rate:before{
                content: "";
                position: absolute;
                top: 50%;
                left: -5%;
                width: 110%;
                height: 2px;
                background-color: #12203c;
            }
            .cid-off-per {
                font-size: 14px;
                font-weight: 600;
                color: #ff4602;
            }
        }
        span.ippd-about {
            display: block;
            padding: 10px 0;
            font-size: 12px;
            font-weight: 500;
            color: #718096;
        }
        .ippd-size {
            display: block;
            position: relative;
            button.ippds-inner {
                border-radius: 5px;
                border: solid 1px #d6dce6;
                background-color: #ffffff;
                width: 32px;
                height: 33px;
                font-size: 11px;
                font-weight: 500;
                margin-right: 15px;
            }
        }
        .ippd-color {
            display: flex;
            width: 100%;
            height: 90px;
            align-items: center;
            justify-content: flex-start;
            .ippdc-out {
                display: inline-block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                padding: 2px;
                text-align: center;
                margin-right: 10px;
                border: 3px solid transparent;
                cursor: pointer;
                .ippdc-inner {
                    width: 15px;
                    height: 15px;
                    background: #000;
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    padding: 0;
                }
                .gray{
                    background: #b9c1cd;
                }
                .red{
                    background: #eb0008;
                }
                .black{
                    background: #21314b;
                }
                .green{
                    background: #3ee585;
                }
                .yellow{
                    background: #f8c902;
                }
            }
            .selected-color{
                border: solid 3px #b9c1cd;
            }
        }
        .ippd-count {
            display: block;
            margin-bottom: 17px;
            .ippdc-inner {
                border-radius: 19px;
                border: solid 1px #d6dce6;
                background-color: #ffffff;
                display: inline-block;
                padding: 6px 10px;
                .ippdc-min {
                    padding: 0;
                    border: solid 1px #d6dce6;
                    background-color: #ffffff;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                }
                button:hover{
                    border: solid 1px #21314b;
                    background-color: #21314b;
                    svg{
                        .scg-fill1{
                            fill: #21314b;
                        }
                        .scg-fill2{
                            fill: #ffffff;
                        }
                        path{
                            fill: #ffffff;
                        }
                    }
                }
                .ippdc-number {
                    display: inline-block;
                    font-size: 13px;
                    font-weight: bold;
                    color: #12203c;
                    padding: 0px 13px;
                    height: 22px;
                    vertical-align: middle;
                }
            }
        }
        .ippd-add-top-wishlist {
            display: inline-block;
            font-size: 12px;
            color: #fff;
            font-weight: 600;
            padding: 14px 24px;
            border-radius: 27px;
            background-color: #8b77fa;
        }
    }
}

.ppid-tab-head{
    h3 {
        font-size: 13px;
        font-weight: 500;
        color: #12203c;
        padding: 15px 0;
        margin: 0;
    }
}

.item-preview-details-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    .ipdi-inner {
        display: block;
        margin-right: 30px;
        h3 {
            font-size: 12px;
            font-weight: 600;
            color: #12203c;
            margin-bottom: 9px;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #12203c;
            margin: 0;
        }
    }
}

.product-details-tab{
    border-top: 1px solid #dce6f0;
    .subscription-tab-list li.active a:after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 50%;
        width: 21px;
        height: 2px;
        background-color: #000;
        transform: translate(-50%);
    }
    .subscription-tab-list{
        li{
            .st-btn{
                img{
                    margin-left: 7px;
                }
            }
        }
    }
}

// Style Image View Modal
.modal-layout{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1065;
    display: block!important;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    outline: 0;
}
.image-view-modal{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 530px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 50px 50px 0;
    .ipp-image {
        display: block;
        width: 100%;
        .ipp-img-top {
            display: flex;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .ipp-img-bottom {
            display: flex;
            width: 100%;
            align-items: center;
            height: 60px;
            justify-content: space-between;
            margin-top: 20px;
            .ippimg-prew {
                width: 56px;
                height: 56px;
                background-color: #f8f3ff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .ippimg-next {
                width: 56px;
                height: 56px;
                background-color: #f8f3ff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transform: rotate(180deg);
            }
            .ippimg-next:hover, .ippimg-prew:hover{
                background-color: #21314b;
                transition: 0.6s all;
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
    }
    .img-view-close{
        .ivc-btn{
            position: absolute;
            left: 50%;
            top: 0px;
            background: #fff;
            z-index: 999 !important;
            padding: 10px;
            border-radius: 50%;
        }
    }
}

// Style Dropdown Modals
.vendor-cat-size-drop{
    .dropdown-menu-city-item{
        li{
            .checkBoxLabel0{
                width: 16px;
                height: 16px;
                padding-left: 16px;
                margin: 0;
                display: inline-block !important;
                margin-right: 10px;
                .checkmark1 {
                    left: 0;
                    top: 0;
                    height: 16px;
                    width: 16px;
                    background-color: #fff;
                    cursor: pointer;
                    border-radius: 4px;
                    border: 2px solid #dce6f0;
                }
                .checkmark1:after {
                    width: 5px;
                    height: 9px;
                    border-width: 0 2px 2px 0;
                    content: none;
                }
                input:checked~.checkmark1 {
                    background-color: #8b77fa;
                    border: none;
                }
                input:checked~.checkmark1:after{
                    content: '';
                }
            }
            .vendor-details{
                display: inline-block;
                width: 89%;
                padding: 0;
            }
        }
    }
}

// Style Vendor Custom Data Upload
.custop-data-upload {
    display: table;
    width: 100%;
    box-shadow: 1px 4px 7px 0 #dce6f096;
    height: 255px;
    .cdu-head {
        h3 {
            font-size: 17px;
            font-weight: 700;
        }
        p {
            font-size: 12px;
            margin: 0;
            font-weight: 500;
            color: #97abbf;
        }
    }
    .cdu-body{
        .cdub-select-upload{
            margin: 20px 0;
            label {
                font-size: 12px;
                font-weight: 500;
                color: #3a5074;
            }
            .cdubsu-select{
                position: relative;
                display: flex;
                align-items: center;
                button{
                    border: 1px solid #dce6f0;
                    background: #fff;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 6px 25px 6px 8px;
                    border-radius: 5px;
                    background-image: url(../assets/downArrowNew.svg);
                    background-repeat: no-repeat;
                    background-position: 96%;
                    min-width: 240px;
                    height: 34px;
                    text-align: left;
                    span{
                        display: inline-block;
                        max-width: 204px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .cdubsu-upload{
                    font-size: 12px;
                    font-weight: 600;
                    padding: 7px 14px;
                    margin: 0;
                    margin-left: 20px;
                    background: #fff;
                    color: #21314b;
                    border-radius: 25px;
                    cursor: pointer!important;
                    border: 1px solid #dce6f0;
                    transition: all .6s;
                    height: 34px;
                    input[type="file"] {
                        display: none;
                    }
                    .cdubsuu-img {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
                .cdubsu-upload:hover{
                    background: #8b77fa;
                    border: 1px solid #8b77fa;
                    color: #fff;
                    transition: 0.6s all;
                    .cdubsuu-img{
                        svg{
                            path{
                                fill: #ffffff;
                            }
                        }
                    }
                }
                .cdubsus-dropdown{
                    display: block;
                    position: absolute;
                    top: 38px;
                    left: 0;
                    width: 237px;
                    padding: 8px 0;
                    margin: 0;
                    z-index: 99;
                    border-radius: 6px;
                    box-shadow: 0 2px 6px 0 rgba(75,75,75,.16);
                    background-color: #fff;
                    max-height: 370px;
                    overflow: auto;
                    .cdubsusd-inner{
                        margin: 0;
                        padding: 0;
                        li{
                            display: block;
                            padding: 5px 15px;
                            cursor: pointer;
                            font-size: 12px;
                            font-weight: 500;
                            color: #4a5568;
                        }
                        li:hover{
                            font-weight: 600;
                            color: #21314b;
                            background-color: #e5edf8;
                        }
                    }
                }
                .asn-uploaded-file {
                    display: flex;
                    margin-left: 20px;
                    background: #fff;
                    padding: 5px 0px;
                    border-radius: 15px;
                    align-items: center;
                    .asn-up-file-name{
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        max-width: 135px;
                        width: auto;
                        p {
                            margin: 0;
                            max-width: 135px;
                            width: auto;
                        }
                    }
                    span{
                        margin-left: 7px;
                    }
                }
                li {
                    display: inline-block;
                }
                .cs-upload{
                    width: auto;
                    margin-left: 20px;
                    background-image: none;
                    background-color: #8b77fa;
                    border: 1px solid #8b77fa;
                    color: #fff;
                    min-width: auto;
                    padding: 4px 15px;
                    border-radius: 35px;
                    height: 32px;
                }
                .uploadSuccessIcon {
                    display: flex;
                    margin-left: 20px;
                    align-items: center;
                    .uploadStatusSkc {
                        position: relative;
                        bottom: auto;
                        font-size: 12px;
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
            }
            .cdub-expected-header {
                display: block;
                padding: 10px 0;
                h5{
                    font-weight: 600;
                    color: #3a5074;
                    font-size: 13px;
                    margin-bottom: 10px;
                    display: inline-block;

                }
                p {
                    font-size: 11px;
                    margin: 0;
                    font-weight: 500;
                    color: #3a5074;
                }
                button {
                    font-size: 12px;
                    font-weight: 500;
                    color: #9b7e00;
                    border-radius: 19px;
                    box-shadow: 0 3px 14px 0 #f8f7fe;
                    background-color: #fff4c9e3;
                    padding: 3px 7px;
                    margin-left: 5px;
                }
                .cdub-download {
                    color: #fff;
                    background-color: #8b77fa;
                    font-weight: 600;
                    padding: 5px 13px;
                    margin-left: 20px;
                }
            }
        }
    }
    .cdu-right {
        display: block;
        position: relative;
        padding: 40px 0 10px 70px;
        .cdur-uploaded-file {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 500;
            padding: 5px 12px;
            height: 42px;
            box-shadow: 2px 2px 8px 0 rgba(220,230,240,.89);
            margin-bottom: 10px;
            img{
                width: 18px;
                margin-right: 10px;
            }
        }
        .cdur-selected-file {
            display: block;
            padding: 20px 0;
            margin-bottom: 10px;
            p {
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            .cdursf-last-mod {
                font-size: 11px;
                margin: 0;
                font-weight: 500;
                color: #97abbf;
                .cdursf-time {
                    color: #252323;
                }
            }
        }
        .cdur-download-now {
            box-shadow: 0 8px 19px 0 #baffe5;
            background-image: linear-gradient(91deg,#50d388 1%,#049d97 99%);
            display: block;
            width: 100%;
            padding: 8px 15px;
            border-radius: 6px;
            color: #ffffff;
            font-size: 12px;
            font-weight: 600;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .cdu-right:after{
        content: "";
        position: absolute;
        top: 0;
        left: 25px;
        width: 1px;
        height: 255px;
        background-color: #dce6f0;
    }
}