// @import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:root {
	--para-color: #2d3748;
	--btn-bg-color: #8b77fa;
	--very-light-pink-two: #c6c6c6;
}
.min-h-100vh{
	min-height: 100vh;
}
.p-l-90{
	padding-left: 90px;
}
.p-l-40{
	padding-left: 40px;
} 
.bg-fafafa{
	background-color: #fafafa;
	min-height: 100vh;
}
.p-r-60{
	padding-right: 60px;
}
.f-right{
	float: right;
}
.main-btn{
	display: inline-block;
	background-color: var(--btn-bg-color);
	border: none;
	padding: 10px 15px;
	border-radius: 8px;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	color: #ffffff;
}
.main-btn:hover{
	text-decoration: none;
	color: #ffffff;
}
.bbg-fff{
	background-color: #ffffff;
}
/* Style Pricing Plans Page By Css*/
.pricing-plans{
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
	h1{
		font-family: Raleway;
		font-size: 45px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.18;
		letter-spacing: normal;
		color: #2d3748;
		// padding-bottom: 20px;
	}
	p{
		font-family: Raleway;
		font-weight: 500;
		font-size: 16px;
		color: #abb7c7;
	}
}
.our-plans{
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 40px;
}
.our-plans span p{
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.17;
}
.our-plans .op-item {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.our-plans span label .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2d3748;
	-webkit-transition: .4s;
	transition: .4s;
}
.our-plans span label .slider:before {
	position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 2px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}
.our-plans span label input:checked + .slider {
	background-color: #e53eb2;
}
.our-plans span label input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
.our-plans span label .slider.round:before {
	border-radius: 50%;
}
.our-plans span .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
  margin-bottom: 0;
  margin: 0 35px;
}
.our-plans span .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
/* Rounded sliders */
.our-plans span label .slider.round {
	border-radius: 34px;
}
.our-plans span label .slider.round:before {
	border-radius: 50%;
}
.our-plans .curve img{
	position: absolute;
    top: -5px;
    margin-left: 5px;
}
.our-plans .save-up-to {
	border-radius: 4px;
    background-color: #e53eb2;
    padding: 5px 6px;
    position: absolute;
    top: -42px;
    transform: rotate(-18deg);
}
.our-plans .save-up-to p{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.2;
}
.ppp-box{
	position: relative;
    width: 100%;
    border-radius: 21px;
    box-shadow: 0 0 8px 0 #e6e6e6;
    background-color: #fff;
	padding: 0;
	.pppb-top {
		display: block;
		padding: 30px 30px;
		.rectangle-1{
			.standard-plan {
				position: relative;
				font-family: Raleway;
				display: inline-block;
				border-radius: 6px;
				padding: 7px 12px;
				font-size: 14px;
				font-weight: 700;
				line-height: 1.2;
				color: #fff;
				margin-right: 15px;
				background-image: linear-gradient(90deg,#8b77fa,#00ced6);
			}
			.for-year {
				color: #2d3748;
				font-size: 12px;
				font-weight: 500;
			}
		}
		.ppgst{
			p:first-child {
				font-family: Raleway;
				font-weight: 600;
				font-size: 17px;
			}
			p:nth-child(2) {
				font-family: Raleway;
				font-size: 12px;
				font-weight: 500;
			}
		}
		.price{
			p:nth-child(3) {
			font-family: Raleway;
			font-size: 13px;
			font-weight: 500;
			}
		}
	}
	.pppb-bottom {
		display: block;
		padding: 30px 30px;
		background: #8a77fa;
		border-radius: 0 0 21px 21px;
		p {
			font-size: 13px;
			font-weight: 600;
			color: #ffffff;
			margin-bottom: 5px;
		}
		.pppbb-input{
			position: relative;
			input[type="text"] {
				width: 100%;
				height: 40px;
				border-radius: 7px;
				border: 2px solid #fff;
				font-size: 12px;
				font-weight: 600;
				padding: 4px 10px;
				color: #ffffff;
				background: #8a77fa;
			}
			.pppbbi-button {
				display: block;
				position: absolute;
				top: 11px;
				right: 14px;
				.ippdc-min {
					width: 18px;
					height: 18px;
					margin-left: 15px;
					padding: 0;
					background: #fff;
					border-radius: 4px;
				}
			}
		}
	}
}
.ppp-box .rectangle-1{
	margin: 5px 0 25px 0;
}
.ppp-box .rectangle-1 .standard-plan{
	position: relative;
	font-family: Raleway;
	display: inline-block;
    border-radius: 6px;
    background-color: #8b77fa;
    padding: 7px 8px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
	margin-right: 10px;
}
.ppp-box .rectangle-1 .for-year{
	line-height: 1.25;
	color: #2d3748;
}
.ppp-box .ppgst p{
	display: inline-block;
}
.ppp-box .ppgst p:first-child{
	font-family: Raleway;
	font-weight: 600;
}
.ppp-box .ppgst p:nth-child(2){
	font-family: Raleway;
	font-size: 15px;
	line-height: 1.4;
}
.ppp-box .price{
	position: relative;
	vertical-align: middle;
}
.ppp-box .price p{
	display: inline-block;
}
.ppp-box .price span img{
	object-fit: contain;
}
.ppp-box .price p:nth-child(2){
	font-size: 50px;
	font-weight: 900;
	line-height: normal;
}
.ppp-box .price p:nth-child(3){
	font-family: Raleway;
	font-size: 14px;
}
.ppp-box .ct-payment {
	margin: 50px 0 20px 0;
}
.ppp-box .ct-payment a{
	border-radius: 8px;
	background-color: #8b77fa;
	font-family: Raleway;
	font-size: 15px;
	display: block;
	font-weight: bold;
	line-height: 1.2;
	color: #ffffff;
	padding: 10px 15px;
	text-align: center;
}
.features{
	position: relative;
	.features-head{
		p{
			font-family: Raleway;
			font-weight: 500;
			line-height: 2;
			color: #2d3748;
			span:nth-child(1){
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-weight: 500;
				font-size: 20px;
			}
			span:nth-child(2){
				font-size: 26px;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-weight: 600;
			}
		}
	}
	.plan-feature{
		// margin: 30px 0;
		h3{
			font-family: Raleway;
			font-size: 20px;
			font-weight: 800;
			line-height: 1.2;
			color: #2d3748;
			margin-bottom: 20px;
		}
		li{
			display: block;
			padding: 6px 0;
			img{
				margin-right: 15px;
			}
			p{
				display: inline-block;
				font-size: 12px;
				color: #2d3748;
				font-weight: 500;
				margin: 0;
			}
		}
	}
	.description{
		margin-top: 50px;
		display: inline-block;
	}
}
.description{
	font-family: Raleway;
	font-size: 12px;
	line-height: 1.91;
    font-weight: 500;
	color: #2d3748;
	display: block;
}
.proceed-top-payment-btn {
    display: block;
	margin: 30px 0;
	button {
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
		background: #8a77fa;
		padding: 10px 35px;
		border-radius: 6px;
	}
}
/* Style Invoice Details Page*/
.invoice-details{
	position: relative;
	width: 100%;
	height: 100%;
}
.bg-layers{
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}
.bg-layers:before{
	content: '';
	position: absolute;
	width: 58%;
	height: 100%;
	background-color: #ffffff;
	top: 0;
	left: 0;
	z-index: -1;
}
.bg-layers:after{
	content: '';
	position: absolute;
	width: 42%;
	height: 100%;
	background-color: #fafafa;
	top: 0;
	right: 0;
	z-index: -1;
}
.invoice-details-head{
	margin: 25px 0;
}
.invoice-details-head h1{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #2d3748;
}
.invoice-details-form{
	padding: 0 40px 0 0;
}
.invoice-details-form form .name-detail{
	font-size: 13px;
    font-weight: 500;
	color: #21314b;
}
.invoice-details-form form input {
	position: relative;
	display: block;
	width: 100%;
	height: 34px;
	border-radius: 6px;
	border: 1px solid #dce6f0;
	background-color: #ffffff;
	padding: 5px 7px;
	// margin-bottom: 30px;
	font-size: 12px;
	font-weight: 500;
	color: #21314b;
}
.invoice-details-form form .id-billing-detail{
	height: 100px;
}
.invoice-details-form form select {
	position: relative;
	display: block;
	width: 100%;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #dce6f0;
	background-color: #ffffff;
	padding: 5px 7px;
	// margin-bottom: 30px;
	font-size: 12px;
	font-weight: 500;
	color: #21314b;
	-webkit-appearance: none;
	background-image: url('../assets//downArrowNew.svg');
	background-position: 96%;
	background-size: 13px;
	background-repeat: no-repeat;
}
.invoice-details-form form select:focus{
	outline: none;
}
.invoice-details-form form .contact-num{
	padding-left: 45px;
}
.invoice-details-form form .cntry-code{
	position: absolute;
    font-family: ProximaNova;
    top: 28px;
    left: 19px;
    width: 33px;
    height: 26px;
    background: #e7edf4;
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 13px;
    font-weight: 700;
    color: #21314b;
}
.invoice-details-form form input:focus{
	outline: none;
}
.invoice-details-form form input::placeholder{
	font-weight: 500;
	font-size: 12px;
	color: #a4b9dd;
}
.invoice-details-form form .submit-btn{
	background-color: var(--btn-bg-color);
	border: none;
	padding: 10px 25px;
	border-radius: 8px;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.2;
	color: #ffffff;
}
.invoice-details-form form .submit-btn:focus{
	border: none;
	outline: none;
}
.invoice-details-form form .id-back-btn a{
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	color: #2d3748;
	padding: 10px 0;
}
.summary-of-purchase{
	padding: 10px 0 0 0;
}
.summary-of-purchase h3{
	font-family: Raleway;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.17;
	color: #2d3748;
	margin: 20px 0;
}
.summary-of-purchase .switch-plan{
	display: inline-block;
    background-color: var(--btn-bg-color);
    padding: 8px 7px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.62;
    color: #ffffff;
    float: right;
	margin: 12px 0;
	cursor: pointer;
}
.summary-of-purchase .switch-plan img{
	padding-right: 8px;
}
.ppp-box.sop-box{
	width: auto;
	margin-left: 0;
	margin-top: 20px;
	.pppb-top {
		padding: 10px 30px;
	}
	.price {
		margin: 0;
	}
	.sop-no-of-user{
		font-size: 12px;
		font-weight: 500;
		display: block;
		margin-bottom: 10px;
		span{
			margin-left: 5px;
			font-size: 18px;
			font-weight: 600;
		}
	}
}
.subscription-details{
	display: block;
	padding: 30px 0;
}
.border-b{
	border-bottom: solid 1px #ccc;
}
.subscription-details p{
	display: inline-block;
	// font-family: Raleway;
	color: var(--para-color);
}
.subscription-details .sd-head p{
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
}
.subscription-details .sd-time{
	padding: 10px 0;
}
.subscription-details .sd-time p{
	font-size: 13px;
	line-height: 1.62;
	font-weight: 500;
}
.sd-base-plan-details{
	display: block;
	padding: 15px 0;
}
.sd-base-plan-details p{
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
}
.sd-base-plan-details p span{
	font-size: 13px;
	line-height: 1.62;
	margin: 0 20px 0 0;
}
.sd-base-plan-details p img{
	width: 12px;
}
.sd-base-plan-details .sd-gst{
	display: block;
	padding: 8px 0 0 0;
}
.sd-grand-total{
	display: block;
	padding: 10px 0;
}
.sd-grand-total p{
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
}
.sd-grand-total p img{
	width: 12px;
}
/* Style Transaction Successful Page */
.transaction-successful-pg{
	position: relative;
	display: flex;
	margin: 0px auto;
	width: 400px;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.transaction-successful-pg .successful-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0 20px 0;
}
.ts-head{
	display: block;
	padding: 20px 0;
}
.ts-head h2{
	font-family: Raleway;
	font-size: 25px;
	font-weight: bold;
	line-height: 0.7;
	color: var(--para-color);
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}
.ts-head p{
	font-family: Raleway;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.05;
	padding: 20px 0 10px 0;
}
.ts-head span{
	font-family: Raleway;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.62;
}
.ts-transaction-id{
	padding: 20px 0;
}
.ts-transaction-id p{
	display: inline-block;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.4;
	border-radius: 6px;
	background-color: #f6f0fd;
	padding: 8px 10px;
}
.ts-transaction-id span{
	font-weight: bold;
}
.ts-login-btn{
	margin: 60px 0 30px 0;
}
.ts-login-btn a{
	display: inline-block;
	font-family: Raleway;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
	color: #ffffff;
	padding: 12px 50px;
	background-color: var(--btn-bg-color);
	border-radius: 8px;
}
/* Style Transaction Failed Page */
.transaction-failed-pg .failed-img {
	margin: 25px 0 20px 0;
}
.tf-head h2 {
    font-size: 23px;
    margin: 0;
}
.ts-head p {
    font-size: 22px;
    font-weight: 500;
    padding: 5px 0 10px 0;
}
.tf-head span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: normal;
}
.tf-transaction-id a{
	position: relative;
	content: '';
	display: inline-block;
	width: 15px;
	height: 17px;
	border: 2px solid #cbd5e0;
	border-radius: 3px;
	margin: 6px 0 0 10px;
}
.tf-transaction-id a:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 17px;
	border: 2px solid #cbd5e0;
	border-radius: 3px;
	top: 3px;
	left: 3px;
	background-color: #ffffff;
}
.tf-note{
	font-size: 14px;
	font-weight: 500;
}
.tf-retry-cancel{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 30px 0;
}
.tf-retry-cancel .retry{
	background-color: #eb0008;
	font-size: 14px;
    font-weight: 600;
}
.tf-retry-cancel .cancel{
	background-color: #2d3748;
	font-size: 14px;
    font-weight: 600;
    padding: 12px 45px;
}
.note-for-the-charge{
	position: relative;
	text-align: center;
	padding: 25px 110px;
	background-color: #cbd5e0;
}
.note-for-the-charge p{
	font-size: 15px;
	line-height: 1.73;
	text-align: center;
	color: #718096;
	padding: 0 115px;
}
/*  Style Your Current Plan Details Page*/
.current-plan-pg:after{
	width: 46%;
}
.cp-head{
	display: block;
	margin: 25px 0;
}
.cp-head h3{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
}
.current-plan-pg .cp-box{
	width: auto;
	padding: 35px 28px 35px 50px;
	margin: 0;
	box-shadow: 0 0 8px 0 #e6e6e6;
	background-color: #f2f6fb;
}
.plan-name span{
	display: block;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 500;
	padding: 5px 0;
}
.plan-name h3{
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.17;
	margin: 0 0 20px 0;
}
.cp-upgrade-plan{
	margin: 9em 0 1em 0;
}
.cp-upgrade-plan p{
	font-family: Raleway;
	font-weight: 500;
	line-height: 2;
	color: #2d3748;
}

.cp-upgrade-plan p span:nth-child(1) {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 20px;
}
.cp-upgrade-plan p span:nth-child(2) {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 26px;
}
.cp-upgrade-plan a{
	display: inline-block;
	padding: 10px 25px;
	background-color: #eb5a00;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	margin-top: 15px;
}
.cp-upgrade-plan a img {
	margin-right: 5px;
}
.subscriber-details {
	margin: 30px 0;
}
.subscriber-details .pack-info{
	display: inline-block;
	vertical-align: middle;
}
.subscriber-details .pack-info a{
	display: block;
	padding: 6px 14px;
	background-color: #eb0008;
	border-radius: 25px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	margin-right: 14px;
}
.subscriber-details .pack-info a img{
	margin-left: 5px;
}
.subscriber-details .pack-info p{
	font-size: 14px;
	font-family: Raleway;
	font-weight: 600;
	line-height: 1.5;
	color: #2d3748;
}
.subscriber-details .subscription-status h3{
	font-family: Raleway;
	font-size: 25px;
	font-weight: 300;
	line-height: 1.46;
	color: #eb0008;
	padding: 35px 0;
}
.enterprice-name{
	padding: 10px 0;
}
.enterprice-name span{
	font-size: 13px;
	line-height: 1.62;
}
.enterprice-name p{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 800;
	line-height: 2.05;
}
.invoice-to{
	display: block;
	padding: 10px 0;
}
.invoice-to .it-head h4{
	display: inline-block;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 800;
	line-height: 2.73;
}
.three-dot{
	position: relative;
	content: '';
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #4d6a89;
	margin: 18px 0;
	opacity: 0.33;
	cursor: pointer;
}
.three-dot:before, .three-dot:after{
	position: absolute;
	content: '';
	display: block;
	right: 0;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #4d6a89;
	opacity: 1;
	cursor: pointer;
	z-index: 9;
}
.three-dot:before{
	top: -5px;
}
.three-dot:after{
	top: 5px;
}
.invoice-to span{
	font-family: Raleway;
	font-size: 12px;
}
.invoice-to p{
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.93;
}
.invoice-to .it-info{
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 10px;
}
.renew-btn a{
	display: inline-block;
	font-family: Raleway;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
	color: #ffffff;
	padding: 12px 50px;
	background-color: var(--btn-bg-color);
	border-radius: 8px;
	margin: 22px 0 0 0;
}
/* Style Subscription Renew Page */
.sr-col-1{
	position: relative;
	display: table;
}
.sr-col-1:after{
	position: absolute;
	content: '';
	width: 85%;
	height: 1px;
	bottom: 0;
	left: 13px;
	background-color: #ccc;
}
.sr-head{
	margin: 15px 0;
}
.s-renew-pg .sr-box-2{
	background-color: var(--btn-bg-color);
	padding: 50px 28px 43px 50px;
}
.sr-box-2 .plan-name h3{
	color: #ffffff;
	font-size: 17px;
}
.sr-box-2 .price span, .sr-box-2 .price p{
	color: #ffffff;
}
.sr-box-2 .plan-name .tick{
	position: absolute;
	background-color: #ffffff;
	right: 25px;
	top: 25px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 0px 5px;
}
.back-btn {
	vertical-align: middle;
	display: block;
}
.back-btn a{
	display: inline-block;
	font-family: Raleway;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
	color: #000000;
	padding: 7px 20px;
	background-color: #f2f6fb;
	border-radius: 25px;
	margin-bottom: 5px;
}
.back-btn a img{
	margin-right: 10px;
}
/* Style Invoice Edit Page */
.invoice-edit-form{
	padding: 0;
}
.invoice-edit-form form .save-changes-btn{
	margin-top: 0px;
}
/* Style Multiple Enterprises - Active Account List View Page*/
.ea-head{
	text-align: center;
	margin: 40px 0;
}
.ea-head h3{
	font-family: Raleway;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.64;
}
.ea-head p{
	font-weight: 500;
	line-height: 2.56;
	color: #2d3748;
}
.ea-form-head{
	margin: 20px 0;
}
.view-as{
	position: absolute;
	top: 86px;
	right: 10px;
}
.view-as span{
	font-size: 14px;
	font-weight: 600;
	margin: 0 10px 0 0;
}
.view-as span img{
	cursor: pointer;
}	
.ea-form-head input{
	position: relative;
	display: block;
	width: 80%;
	height: 40px;
	border-radius: 30px;
	border: solid 0.5px var(--very-light-pink-two);
	background-color: #ffffff;
	padding: 5px 20px;
	margin-bottom: 60px;
}
.ea-form-head input:focus{
	outline: none;
}
.ea-form-head button{
	display: inline-block;
	position: absolute;
	top: 24px;
	right: 199px;
	font-family: Raleway;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
	color: #ffffff;
	padding: 7px 23px;
	background-color: var(--btn-bg-color);
	border-radius: 25px;
	margin-bottom: 5px;
	outline: none;
	border: none;
}
.ea-select-account label {
	position: relative;
	display: inline-block;
	width: 100%;
	font-size: 14px!important;
	padding: 10px 20px;
	transition: all 0.3s;
	color: #2d3748;
	background: #f5f7f9;
	margin-bottom: 20px;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer!important;
	font-family: Raleway;
}
.ea-select-account input[type="radio"] {
	display: none;
}
.ea-select-account input[type="radio"]:checked + label {
  color: #fff;
  background: var(--btn-bg-color);
}
.ea-select-account [type="radio"]:not(:checked) + label:after, .ea-select-account [type="radio"]:not(:checked) + label:before{
	content: none;
}
.ea-select-account input[type="radio"]:checked + label:after, .ea-select-account input[type="radio"]:checked + label:before{
	content: none;
}
.ea-select-account label img{
	position: absolute;
	display: none;
	background-color: #ffffff;
	right: 16px;
	top: 9px;
	border-radius: 50%;
	width: 19px;
	height: 19px;
	padding: 0px 5px;
}
.ea-select-account input[type="radio"]:checked + label img{
	display: block;
}
.continue-btn{
	text-align: center;
	margin: 20px 0;
}
.continue-btn a{
	padding: 10px 40px;
}
/* Style Multiple Enterprises - Active Account Grid View Page*/
.gv-head{
	margin: 0 0 10px 0;
}
.ea-gv-box {
	display: block;
	height: 205px;
	padding: 20px 30px;
	border-radius: 21px;
	box-shadow: 0 0 8px 0 #e6e6e6;
	background-color: #ffffff;
	margin-bottom: 30px;
}
.ea-gv-box h2{
	font-family: Raleway;
	font-size: 26px;
	font-weight: 900;
	line-height: 1.15;
	color: var(--para-color);
}
.ea-gv-box p{
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.14;
	margin-top: 10px;
}
.ea-gv-box a{
	display: block;
	text-align: center;
	margin: 72px 0 0 0;
	color: var(--para-color);
	background-color: #ffffff;
	box-shadow: 0 0 8px 0 #e6e6e6;
}
.ea-gv-box a:hover{
	background-color: var(--btn-bg-color);
	transition: all 0.6s;
}
.exp-detail span{
	font-size: 11px;
	margin-top: 15px;
}
.exp-detail .ed-btn{
	border-radius: 5px;
	padding: 5px 7px;
	margin-right: 10px;
}
.bg-o{
	background-color: #ff731c;
}
.bg-r{
	background-color: #eb0008;
}
.exp-detail a{
	margin-top: 34px;
}
.exp-detail a img{
	margin-right: 5px;
}
.gv-view-as{
	top: 65px;
}
.gv-continue-btn{
	margin: 0 0 10px;
}
.gv-continue-btn a{
	padding: 10px 60px;
}
.prew-next-btn{
	position: absolute;
	transform: rotate(90deg);
	right: -111px;
	top: 42%;
}
.prew-next-btn span{
	background-color: #eef1f5;
	padding: 10px 20px;
	border-radius: 20px;
	margin-right: 20px;
	cursor: pointer;
}
.prew-next-btn .next img{
	transform: rotate(180deg);
}


// Style Vendor Configuration Pages
.sdfghjkl{
	font-size: 14px;
    font-weight: 600;
    color: #21314b;
}

.gen-congiguration {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	height: 67px;
	.gc-left {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: start;
		.global-search-tab.gcl-tab{
			margin: 0px;
			padding: 0px;
		}
		button {
			border-radius: 5px;
			border: 1px solid #ccd8ed;
			background-color: #fff;
			font-size: 12px;
			padding: 5px 15px;
			margin-right: 20px;
			height: 32px;
			font-weight: 600;
			position: relative;
			display: inline-block;
		}
		.gcl-global-btn{
			padding: 5px 0;
			border: none;
		}
		.gcl-pgwise-btn{
			border-radius: 19px;
			background-color: #8b77fa;
			color: #ffffff;
			border: solid 1px #8b77fa;
		}
	}
	.gc-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		button {
			border-radius: 5px;
			border: 1px solid #ccd8ed;
			background-color: #fff;
			font-size: 12px;
			padding: 5px 10px;
			margin-left: 20px;
			height: 32px;
			font-weight: 500;
			position: relative;
			display: inline-block;
			img{
				margin-left: 10px;
			}
		}
		.gen-save {
			border: 1px solid #8b77fa;
			background-color: #8b77fa;
			padding: 5px 25px;
			color: #fff;
		}
		.gen-clear {
			padding: 5px 15px;
		}
		.gcr-dropdown{
			position: relative;
			display: block;
			.gcrd-inner{
				display: block;
				position: absolute;
				top: 42px;
				right: 0;
				width: 250px;
				padding: 8px 0;
				margin: 0;
				z-index: 99;
				border-radius: 6px;
				box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.16);
				background-color: #ffffff;
				max-height: 370px;
				overflow: auto;
				li{
					display: block;
					padding: 5px 15px;
					.gcrdi-head {
						font-size: 12px;
						font-weight: 600;
						color: #21314b;
						display: block;
					}
					.gcrdi-bot {
						font-size: 10px;
						font-weight: 500;
						color: #969fad;
						line-height: 1.18;
					}
				}
				.gcrdi-item{
					cursor: pointer;
					span {
						font-size: 12px;
						font-weight: 500;
						color: #21314b;
						display: block;
					}
				}
				.gcrdi-item:hover {
					background-color: #e5edf8;
					span{
						font-weight: 600;
					}
				}
				.gcrd-head-search{
					padding: 5px 20px;
					input[type="Search"] {
						border-radius: 15px;
						border: solid 1px #cbd5e0;
						background-color: #ffffff;
						width: 100%;
						height: 30px;
						padding: 5px 10px;
						font-size: 12px;
						font-weight: 500;
						color: #21314b;
					}
				}
			}
		}
		.nph-switch-btn{
			.tg-switch {
				width: 76px;
				height: 24px;
				.tg-slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #8b77fa;
					transition: .4s;
				}
				.tg-slider:before {
					left: 3px;
					bottom: 3px;
				}
				input:checked+.tg-slider:before {
					transform: translateX(52px);
				}
				input:checked+.tg-slider {
					background-color: #00ced6;
				}
			}
			.tg-switch2 {
				width: 50px;
				input:checked+.tg-slider:before {
					transform: translateX(26px);
				}
			}
			.nph-wbtext {
				position: absolute;
				top: 4px;
				left: 24px;
				margin: 0;
				color: #fff;
				cursor: pointer;
			}
			.nph-wbtext.nph-wbtextset {
				left: 9px;
				top: 5px;
			}
		}
	}
}

.uspm-b-input {
	position: relative;
	padding: 10px 0;
	input[type="text"] {
		width: 176px;
		height: 30px;
		border-radius: 6px;
		border: solid 1px #c6c6c6;
		background-color: #ffffff;
		padding: 4px 10px;
	}
	.uspm-b-close {
		background-color: #dce6f0;
		padding: 9px;
		border-radius: 50%;
		float: right;
		display: inline-block;
		cursor: pointer;
	}
	button {
		position: absolute;
		top: 13px;
		left: 122px;
		border-radius: 4px;
		background-color: #ff6e03;
		display: block;
		padding: 4px 9px;
		font-size: 11px;
		color: #fff;
		font-weight: 600;
	}
	p {
		font-size: 11px;
		font-weight: 600;
		font-style: italic;
		color: #2d3748;
		margin-bottom: 3px;
	}
	.coupon-code {
		font-size: 12px;
		font-weight: 600;
		color: #ff6e03;
		img {
		width: 15px;
		margin-left: 5px;
		}
	}
	.remove-coupon {
		font-size: 12px;
		font-weight: 500;
		color: #2d3748;
		float: right;
	}
}

.uspm-apply-couponn {
    display: block;
    padding: 10px 0;
	text-align: right;
	img{
		margin-right: 10px;
	}
	button {
		background: transparent;
		font-size: 12px;
		font-weight: 500;
		padding: 0;
	}
}