// Style Vendor Dashboard Page 
.v-dashboard-head {
    padding: 15px 0px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .vdh-lft{
        h3{
            font-size: 16px;
            font-weight: 700;
            color: #12203c;
            display: inline-block;
        }
    }
    .vdh-rgt{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            display: block;
            position: relative;
            background: #fff;
            margin-left: 30px;
            padding: 8px;
            border-radius: 50%;
            transition: 0.6s all;
        }
        .vdh-download:before, .vdh-download:after {
            content: "";
            position: absolute;
            top: 8px;
            width: 1px;
            height: 21px;
            background-color: #a0aec0;
        }
        .vdh-download:before{
            left: -13px;
        }
        .vdh-download:after{
            right: -13px;
        }
        .vdhd-after:after {
            content: none;
        }
        .vdh-download:hover{
            background-color: #8b77fa33;
            svg{
                path{
                    fill: #8b77fa;
                }
            }
        }
        button:hover>.generic-tooltip{
            visibility: visible;
            opacity: 1;
        }
        .vd-search-functionality {
            display: inline-block;
            float: right;
            position: relative;
            margin-left: 30px;
            button {
                border: solid 1px #e7ebf2;
                background-color: #ffffff;
                width: 150px;
                padding: 6px 7px;
                font-size: 12px;
                font-weight: 600;
                text-align: left;
                color: #12203c;
                border-radius: 25px;
                position: relative;
                margin-left: 0px;
                span{
                    overflow: hidden;
                    white-space: nowrap;
                    display: inline-block;
                    text-overflow: ellipsis;
                    max-width: 113px;
                }
                img{
                    position: absolute;
                    right: 10px;
                    top: 12px;
                }
            }
            .vdsf-inner {
                position: absolute;
                top: 38px;
                right: 0;
                background: #fff;
                z-index: 9;
                padding: 10px 0;
                border-radius: 8px;
                box-shadow: 0px 0px 13px 4px hsla(0,0%,56%,.16);
                width: 230px;
                min-height: 220px;
                z-index: 99;
                display: block;
                .vdsfi-search {
                    display: block;
                    position: relative;
                    padding: 0 10px;
                    input[type="search"] {
                        border-radius: 19px;
                        border: solid 1px #e7ebf2;
                        background-color: #ffffff;
                        width: 100%;
                        height: 30px;
                        padding: 5px 10px;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .vdsfis-icon{
                        position: absolute;
                        top: 8px;
                        right: 19px;
                        cursor: pointer;
                    }
                }
                .vdsf-all-vendor {
                    display: block;
                    padding: 0;
                    max-height: 175px;
                    overflow: auto;
                    li{
                        display: block;
                        width: 100%;
                        padding: 4px 20px;
                        transition: 0.6s all;
                        cursor: pointer;
                        button{
                            padding: 0;
                            background-color: transparent;
                        }
                        .vdsfav-code{
                            color: #97abbf;
                            display: block;
                            padding: 0;
                        }
                    }
                    li:hover{
                        background-color: #f8f3ff;
                        button{
                            font-weight: 600;
                        }
                    }
                    span {
                        display: block;
                        padding: 5px 10px;
                        font-size: 11px;
                        font-weight: 500;
                    }
                    button{
                        display: block;
                        padding: 5px 20px;
                        font-size: 12px;
                        font-weight: 500;
                        border: none;
                    }
                }
            }
            .backdrop-transparent{
                z-index: 5;
            }
        }
    }
}
.p-r-0{
    padding-right: 0;
}
.pad-l60 {
    padding-left: 60px!important;
}
.p-lr-32{
    padding-left: 32px!important;
    padding-right: 32px!important;
}
.vendorDashboard-head-item{
    display: table;
    width: 100%;
    background: #f8f3ffa1;
    padding: 25px 32px;
    .vdh-inner {
        position: relative;
        display: block;
        background: #ffffff;
        border-radius: 9px;
        box-shadow: 0 3px 6px 0 rgba(217, 226, 235, 0.73);
        height: 150px;
        text-align: center;
        padding: 15px 0;
        transition: 0.6s all;
        cursor: pointer;
        .vdhi-img {
            width: 40px;
            height: 40px;
            background-color: #bddbff52;
            display: inline-block;
            border-radius: 50%;
            padding: 9px;
            position: relative;
        }
        .bg-blue:after{
            content: "";
            position: absolute;
            top: 52%;
            left: 50%;
            width: 6px;
            height: 6px;
            background-color: #eaf3fe;
            transform: translate(-50%,-50%);
            border: 1px solid #3385e6;
            border-radius: 50%;
        }
        .bg-yellow{
            background-color: #fff6d5;
        }
        .bg-red{
            background-color: #ff8f6640;
        }
        .bg-pprl{
            background-color: #8b77fa33;
        }
        .sf-size {
            display: block;
            padding: 10px 0;
            font-size: 24px;
            font-weight: 800;
        }
        p {
            font-size: 13px;
            font-weight: 600;
            color: #969fad;
            margin: 0;
        }
    }
    .vdh-inner:hover{
        box-shadow: 8px 20px 36px 0 rgba(205, 218, 239, 0.8);
        transition: 0.6s all;
        p:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 140px;
            height: 5px;
            border-radius: 8px;
            transform: translate(-50%);
            background-image: linear-gradient(90deg,#8b77fa,#00ced6);
        }
    }
    .approve-vdh-po{
        background-color: #8b77fa;
        .vdhi-top{
            border-bottom: 1px solid #5e6eb957;
            .vhdi-font{
                color: #fff;
            }
        }
        .vdhi-bottom {
            p{
                color: #fff;
            }
        }
    }
    .vdh-inner.clr-red{
        span{
            color: #eb0008;
        }
        .vhdi-font{
            color: #eb0008;
        }
        .vdhi-bottom p{
            color: #eb0008;
        }
    }
}
.vendor-dashboard-tabs{
    display: block;
    position: relative;
    width: 100%;
    padding: 0 50px 0 35px;
    background: #fbf8ff;
    .vendor-tablist-item{
        .vd-tab-list{
            border: none;
            li{
                .vd-tab-btn{
                    position: relative;
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                    border: none;
                    cursor: pointer;
                    padding: 17px 15px;
                    background-color: #fbf8ff;
                }
                .vd-tab-btn:focus, .vd-tab-btn:active{
                    color: #12203c;
                    font-weight: 600;
                    cursor: pointer;
                    background-color: #fbf8ff;
                    border: none;
                }
                .vd-tab-dot:before{
                    content: "";
                    position: absolute;
                    top: 9px;
                    right: 7px;
                    height: 8px;
                    width: 8px;
                    background-color: #ff4602;
                    border-radius: 50%;
                }
            }
            li:first-child{
                .vd-tab-btn{
                    padding-left: 0;
                }
                .vd-tab-btn:after{
                    transform: translate(-68%) !important;
                }
            }
            li.active{
                .vd-tab-btn{
                    font-weight: 600;
                }
                .vd-tab-btn:after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 1px;
                    width: 30px;
                    height: 3px;
                    background-color: #8b77fa;
                    transform: translate(-50%);
                }
            }   
        }
    }

}
.vendor-dashboard-tabs:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cbd5e0;
    top: 50px;
    left: 0;
}

.vd-highlight-content {
    width: 100%;
    height: 430px;
    border-radius: 9px;
    box-shadow: 0 9px 16px 0 rgba(180, 197, 214, 0.36);
    background-color: #ffffff;
    padding: 0px 15px;
    margin-bottom: 30px;
    .ndhv-head {
        padding: 13px 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dce6f0;
        span{
            font-size: 14px;
            font-weight: 600;
            color: #12203c;
            display: inline-block;
            margin-left: 10px;
        }
    }
    .set-dash-col {
        display: block;
        padding: 30px 0 0 0;
        width: 100%;
        .vd-highlight-inner {
            display: inline-block;
            width: 75%;
            p {
                font-size: 12px;
                font-weight: 600;
                color: #12203c;
                margin: 0;
            }
            .vdhi-status {
                font-size: 11px;
                font-weight: 500;
                color: #21314b;
                display: block;
            }
            button {
                font-size: 12px;
                font-weight: 500;
                color: #97abbf;
                background: #fff;
                padding: 5px 0 0;
                transition: 0.6s all;
                .vdhi-rgt-arrow {
                    margin-left: 10px;
                }
            }
            button:hover{
                color: #f77647;
                transition: 0.6s all;
                svg{
                    path{
                        stroke: #f77647;
                    }
                }
            }
        }
        .vdhi-num {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            padding: 5px 0;
            span {
                font-size: 15px;
                font-weight: 700;
                color: #12203c;
                display: flex;
                align-items: self-start;
                justify-content: center;
            }
        }
    }
    .sdc-first{
        padding: 10px 0 0;
    }
    .vd-unread-comment{
        padding: 20px 0;
        text-align: center;
        .vduc-top {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            display: inline-block;
            padding: 5px;
            text-align: center;
            img{
                width: 130px;
            }
        }
        .vduc-text {
            padding: 20px 0;
            margin-bottom: 10px;
            p{
                font-size: 14px;
                font-weight: 600;
                color: #12203c;
            }
            span {
                font-size: 24px;
                font-weight: 800;
                color: #12203c;
            }
        }
        button {
            display: inline-block;
            background: #fff;
            border: 2px solid #8b77fa;
            padding: 7px 30px;
            font-size: 12px;
            font-weight: 500;
            border-radius: 31px;
            color: #8b77fa;
            transition: 0.6s all;
        }
        button:hover{
            background: #8b77fa;
            color: #ffffff;
            transition: 0.6s all;
        }
    }
}
.vdhc-insp{
    .set-dash-col{
        padding: 30px 0 0;
    }
    .sdc-first{
        padding: 10px 0 0;
    }
}
.vdhc-shipment{
    .set-dash-col{
        padding: 40px 0 0;
    }
    .sdc-first{
        padding: 10px 0 0;
    }
}
.vdhi-bottom{
    span{
        position: relative;
        .vdhi-dropdown-menu{
            position: absolute;
            display: block;
            visibility: hidden;
            opacity: 0;
            bottom: 0px;
            left: 92px;
            padding: 5px;
            border-radius: 3px;
            box-shadow: 0 0 6px 0 hsla(0,0%,53%,.16);
            background-color: #fff;
            width: 72px;
            height: auto;
            transform: translateY(20px);
            transition: all .6s ease-out;
            z-index: 99;
            li{
                display: block;
                span {
                    display: block;
                    padding: 2px 2px;
                    cursor: pointer;
                }
            }
        }
    }
}

.vdhi-bottom span:hover>.vdhi-dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: translate(0 0);
}

// Payment Method Tab Section 
.vd-payment-status{
    position: relative;
    display: block;
    margin: 35px 0px;
    .vd-ps-head{
        position: relative;
        display: block;
        margin: 20px 0;
        h3 {
            font-size: 15px;
            font-weight: bold;
            color: #000000;
            span{
                img{
                    margin-left: 5px;
                }
            }
        }
        span{
            font-size: 11px;
            font-weight: 600;
            color: #000000;
        }
    }
    .m-b-8{
        margin-bottom: 8px;
    }
    .vd-ps-body{
        display: table;
        position: relative;
        width: 100%;
        span.vd-psb-text{
            font-size: 12px;
            font-weight: 600;
            color: #000000;
            padding: 5px 0;
            display: block;
        }
        span.vd-ps-left {
            display: block;
            width: 50%;
            float: left;
            font-size: 13px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 10px;
        }
        span.vd-ps-right {
            display: block;
            width: 50%;
            float: left;
            font-size: 15px;
            color: #12203c;
            margin-bottom: 10px;
            span{
                img{
                    margin-right: 5px;
                }
            }
        }
        span.clr-red{
            color: #eb0008;
        }
        span.f-weight7{
            font-weight: 700;
        }
        input{
            width: 170px;
            height: 30px;
            padding: 5px 8px;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            font-size: 12px;
            font-weight: 500 !important;
            color: #cbd5e0;
        }

        ::placeholder{
            color: #cbd5e0;
        }
        .vd-attach-img{
            position: absolute;
            top: 33px;
            left: 146px;
            cursor: pointer;
        }
    }
    .vd-ps-bottom {
        display: block;
        margin: 10px 0;
        button{
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            padding: 5px 13px;
            color: #12203c;
            border-radius: 5px;
            border: solid 1px #dce6f0;
            background-color: #ffffff;
            transition: 0.6s all;
        }
        button:hover{
            border: solid 1px #9803f5;
            background-color: #9803f5;
            color: #ffffff;
            transition: 0.6s all;
        }
    }
}

// Style Vendor Grc Page
.grp-page-head{
    display: flex;
    position: relative;
    width: 100%;
    height: 67px;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    .grcph-left{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        .grcph-search{
            position: relative;
            display: inline-block;
            input[type="search"] {
                border-radius: 5px;
                border: solid 1px #dce6f0;
                background: #fff;
                padding: 8px 10px;
                height: 32px;
                font-size: 11px;
                color: #000;
                font-weight: 600;
                width: 250px;
                margin-right: 20px;
            }
            input::placeholder{
                font-size: 11px;
                font-weight: 500;
                color: #12203c;
            }
            .search-image{
                position: absolute;
                top: 8px;
                right: 27px;
                width: 15px;
            }
        }
        .gvpd-download-drop{
            display: inline-block;
            position: relative;
            .pi-history-download {
                display: block;
                position: absolute;
                top: 42px;
                left: 0;
                width: 200px;
                padding: 10px 15px;
                border-radius: 12px;
                box-shadow: 0 -1px 6px 0 rgba(177, 177, 177, 0.16);
                background: #ffffff;
                margin: 0;
                z-index: 99;
                li{
                    display: block;
                    button{
                        display: block;
                        padding: 0;
                        margin: 0;
                        border: none;
                        margin-bottom: 5px;
                        img{
                            width: 30px;
                            margin-right: 12px;
                        }
                        .pi-pdf-img{
                            width: 20px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
        .pi-download{
            width: 32px;
            padding: 0;
        }
        .pi-download:hover{
            color: #fff;
            background-color: #4a5568;
            border: 1px solid #4a5568;
            transition: 0.3s all;
            svg path{
                fill: #fff;
            }
        }
        button{
            border-radius: 5px;
            border: solid 1px #ccd8ed;
            background-color: #ffffff;
            font-size: 12px;
            padding: 5px 15px;
            margin-right: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .aprv-req-btn{
            color: #ffffff;
            background-color: #9803f5;
            border: 1px solid #9803f5;
        }
        .filter-btn{
            position: relative;
            padding: 5px 3px;
            width: 32px;
            text-align: center;
            img{
                width: 14px;
            }
            .fb-notifi{
                position: absolute;
                top: -9px;
                right: -6px;
                width: 16px;
                height: 16px;
                text-align: center;
                background-color: #eb0008;
                color: #ffffff;
                border-radius: 50%;
                font-size: 9px;
                font-weight: 500;
                padding: 2px 0;
            }
        }
    }
    .gvpd-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button{
            border-radius: 5px;
            border: 1px solid #ccd8ed;
            background-color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            margin-left: 20px;
            height: 32px;
            font-weight: 500;
            position: relative;
            display: inline-block;
        }
        .gen-cancel{
            border: solid 1px #e83600;
            background-color: #e83600;
            color: #fff;
            font-weight: 600;
        }
        .gen-confirm-grc{
            border: 1px solid #8b77fa;
            background-color: #8b77fa;
            color: #fff;
            font-weight: 600;
        }
    }
}
.grc-gen-table{
    position: relative;
    display: block;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    margin-top: 10px;
    .manage-table{
        overflow-y: hidden;
        overflow-x: auto;
        .columnFilterGeneric{
            width: 19px;
            .glyphicon{
                padding: 12px 3px;
                background: #8b77fa;
            }
            .columnSetting{
                right: 19px;
            }
        }
        .gen-main-table{
            display: table;
            white-space: nowrap;
            border-collapse: collapse;
            margin: 0;
            border-spacing: 0;
            thead{
                border: none;
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    height: 35px;
                    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                    background-color: #fff;
                    th{
                        height: 35px;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: none;
                        label{
                            font-size: 10px;
                            margin: 0;
                            font-weight: 600;
                            color: #000000;
                            width: auto;
                        }
                        img{
                            margin-left: 5px;
                        }
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        left: 0;
                        position: sticky;
                        border-right: none;
                        border-bottom: none;
                        z-index: 1;
                        label{
                            width: auto;
                        }
                    }
                }
            }
            tbody{
                tr{
                    height: 35px;
                    background: #fcfdfe;
                    td{
                        height: 35px;
                        white-space: nowrap;
                        vertical-align: middle;
                        border: 1px solid #e3e7f3;
                        position: relative;
                        label{
                            color: #000;
                            margin: 0;
                            font-weight: 500;
                            img{
                                margin-left: 10px;
                            }
                        }
                        label.clr-red{
                            color: #eb0008;
                        }
                    }
                    td:first-child{
                        border: none;
                    }
                    td:nth-child(2){
                        border-left: none;
                    }
                    .fix-action-btn{
                        width: auto;
                        box-shadow: 10px 0 8px -4px hsla(0,0%,55%,.16);
                        background-color: #fff;
                        border: 0;
                        padding: 0;
                        left: 0;
                        position: sticky;
                        z-index: 1;
                        .table-item-list{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0;
                            margin: 0;
                            height: 35px;
                            .til-inner{
                                display: inline-block;
                                padding: 7px;
                                position: relative;
                                border-radius: 50%;
                                cursor: pointer;
                                margin-right: 2px;
                                margin-left: 2px;
                                .checkBoxLabel0{
                                    width: 16px;
                                    height: 16px;
                                    padding-left: 16px;
                                }
                                .checkmark1 {
                                    left: 0px;
                                    top: 0px;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #dce6f0;
                                    cursor: pointer;
                                    border-radius: 4px;
                                }
                                .checkBoxLabel0 .checkmark1:after {
                                    width: 5px;
                                    height: 9px;
                                    border-width: 0 2px 2px 0;
                                }
                                .checkBoxLabel0 input:checked~.checkmark1 {
                                    background-color: #9803f5;
                                }
                                .chat-notification {
                                    top: 2px;
                                    left: 14px;
                                }
                            }
                            .til-delete-btn:hover{
                                background-color: #eb000826;
                                transition: 0.3s all;
                                svg path{
                                    fill: #eb0008;
                                }
                            }
                            
                            .til-add-btn{
                                svg{
                                    background-color: #ffffff;
                                    box-shadow: 0 3px 6px 0 #ebe7f5;
                                    border-radius: 4px;
                                }
                            }
                            .til-add-btn:hover{
                                background-color: #23e3eb38;
                                transition: 0.3s all;
                                svg{
                                    background-color: #ffffff;
                                    path{
                                        fill: #23e3eb;
                                    }
                                }
                            }
                        }
                    }
                }
                tr:first-child{
                    td{
                        border-top: none;
                    }
                }
            }
        }
    }
}

.grc-confirmation-modal{
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: none;
    padding: 30px 30px;
    border-radius: 0;
    .grccm-head {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: space-between;
        h3 {
            font-size: 16px;
            font-weight: 600;
            color: #12203c;
            margin: 0;
            display: inline-block;
        }
        .grccmh-btn {
            display: inline-block;
            button{
                display: inline-block;
                padding: 6px 15px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                color: #12203c;
                border: solid 1px #a4b9dd;
                background-color: #ffffff;
            }
            .grc-confirm-btn {
                padding: 6px 35px;
                border: solid 1px #8b77fa;
                background-color: #8b77fa;
                color: #fff;
                margin-right: 20px;
            }
        }
    }
    .grccm-body {
        padding: 15px 0;
        .grccm-asn-no {
            padding: 15px 0;
            h4 {
                font-size: 12px;
                font-weight: 500;
                color: #a4b9dd;
                margin: 0;
                display: inline-block;
            }
            span{
                font-size: 13px;
                font-weight: 700;
                color: #12203c;
            }
            img{
                margin-left: 10px;
            }
        }
        .grccmb-table{
            max-height: 400px;
            overflow: auto;
            box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);        
            table{
                margin: 0;
                thead{
                    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
                    tr{
                        height: 35px;
                        th{
                            height: 35px;
                            border: none;
                            vertical-align: middle;
                            label {
                                margin: 0;
                                font-weight: 600;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        background-color: #fcfdfe;
                        height: 35px;
                        td{
                            height: 35px;
                            border: none;
                            label{
                                margin: 0;
                                font-weight: 500;
                                input[type="text"], input {
                                    border-radius: 5px;
                                    border: solid 1px #a4b9dd;
                                    background-color: #ffffff;
                                    padding: 5px 10px;
                                    font-size: 11px;
                                    font-weight: 600;
                                    color: #12203c;
                                    width: 150px;
                                }
                                .grc-dis-input{
                                    border: solid 1px #bfdfff !important;
                                    background-color: #f2f5f8 !important;
                                }
                                .grc-remark-input{
                                    width: 200px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .grcm-bottom {
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            background-color: #ffffff;
            height: 50px;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 15px;
            .grcmb-inner-total-no {
                font-size: 12px;
                font-weight: 500;
                .bold {
                    font-size: 12px;
                    margin-left: 5px;
                    font-weight: 700 !important;
                }
            }
        }
    }
}

// Style Confirm Grc For Retailerss
.grc-confirmation-modal.confirm-grc-retailer{
    width: 900px;
    height: 500px;
    .grccm-body{
        .grccm-asn-no{
            .grccm-asn-clear{
                text-align: right;
                float: right;
                font-size: 12px;
                font-weight: 500;
                background-color: transparent;
                padding: 0;
            }
        }
        .grccmb-table{
            max-height: 230px;
            table{
                tbody{
                    tr{
                        td{
                            label{
                                .grc-retailer-pend{
                                    border: solid 1px #e2c8004f;
                                    background-color: #fffcf3;
                                }
                                select {
                                    border-radius: 5px;
                                    border: solid 1px #a4b9dd;
                                    background-color: #ffffff;
                                    padding: 5px 10px;
                                    font-size: 11px;
                                    font-weight: 600;
                                    color: #12203c;
                                    width: 150px;
                                    -webkit-appearance: none;
                                    background-image: url(../assets/select-icon.svg);
                                    background-repeat: no-repeat;
                                    background-position: 96%;
                                    background-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .grccm-footer{
        .grccmh-btn {
            display: block;
            text-align: center;
            button{
                display: inline-block;
                padding: 6px 15px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                color: #12203c;
                border: solid 1px #a4b9dd;
                background-color: #ffffff;
            }
            .grc-confirm-btn {
                padding: 6px 35px;
                border: solid 1px #8b77fa;
                background-color: #8b77fa;
                color: #fff;
                margin-right: 20px;
            }
        }
    }
}

// Expend Grc Table
.expand-grc-status-sticky{
    position: sticky;
    left: 34px;
    width: min-content;
    background: #fff;
    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
    z-index: 1;
    .egss-inner{
        display: table; 
    }
    .egss-manage-table{
        width: 1229px;
        overflow: auto;
        box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
        table{
            margin: 0;
            thead{
                box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                tr{
                    box-shadow: 2px 0 6px 0 hsla(0,0%,55%,.16);
                    th{
                        background-color: #ffffff;
                        height: 35px;
                        label{
                            font-weight: 600;
                        }
                    }
                }
            }
            tbody{
                tr:first-child{
                    // td{
                    //     border-top: 1px solid #e3e7f3 !important;
                    // }
                    .fix-action-btn{
                        border: none !important;
                        .table-item-list{
                            width: 40px !important;
                        }
                    }
                }
                tr{
                    background: none !important;
                    td{
                        input[type=text]{
                            border: 1px solid #fff4c9!important;
                            font-size: 11px;
                            font-weight: 500 !important;
                            padding: 3px 6px;
                            border-radius: 6px;
                            width: 100px;
                            background-color: #fffae7 !important;
                        }
                    }
                    td:first-child{
                        border: 1px solid #e3e7f3 !important;
                    }
                }
            }
        }
    }
}
// Responsive Table
@media only screen and (min-width: 1100px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 962px;
        }
    }
}
@media only screen and (min-width: 1150px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1012px;
        }
    }
}
@media only screen and (min-width: 1200px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1062px;
        }
    }
}
@media only screen and (min-width: 1250px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1112px;
        }
    }
}
@media only screen and (min-width: 1300px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1162px;
        }
    }
}
@media only screen and (min-width: 1350px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1212px;
        }
    }
}
@media only screen and (min-width: 1366px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1227px;
        }
    }
}
@media only screen and (min-width: 1400px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1262px;
        }
    }
}
@media only screen and (min-width: 1440px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1302px;
        }
    }
}
@media only screen and (min-width: 1500px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1362px;
        }
    }
}
@media only screen and (min-width: 1600px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1462px;
        }
    }
}
@media only screen and (min-width: 1700px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1562px;
        }
    }
}
@media only screen and (min-width: 1800px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1662px;
        }
    }
}
@media only screen and (min-width: 1900px){
    .expand-grc-status-sticky{
        .egss-manage-table{
            width: 1762px;
        }
    }
}

// Style Unread Comment modal
.unread-comment-modal {
    width: 1160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 600px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 20px 50px;
    .ucm-head {
        padding: 5px 0;
        .bum-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 5px;
        }
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: #21314b;
        }
    }
    .ucm-body {
        display: block;
        position: relative; 
        overflow: auto;
        .ucmb-row {
            display: block;
            width: 100%;
            h3{
                font-size: 15px;
                font-weight: 700;
                color: #21314b;
                margin-bottom: 5px;
            }
            .ucmbr-box {
                display: inline-block;
                width: 22%;
                margin-right: 30px;
                border-radius: 8px;
                border: 1px solid #d1dff8;
                background-color: #fff;
                padding: 17px 15px;
                text-align: center;
                height: 108px;
                margin-bottom: 15px;
                vertical-align: top;
                .ucmbrb-head {
                    font-size: 12px;
                    font-weight: 500;
                    color: #969fad;
                }
                p {
                    font-size: 22px;
                    font-weight: 900;
                    color: #21314b;
                    margin: 0;
                }
                .ucmbrb-pgname{
                    font-size: 13px;
                    font-weight: 600;
                    color: #21314b;
                    button {
                        background: #fff;
                    }
                }
                .ucmbrb-pending{
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #ff8f66;
                }
                .ucmbrb-approved{
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #00af4a;
                }
            }
            .ucmbrb-lr{
                padding: 7px 15px;
            }
            .ucmbr-box:hover{
                border: solid 1px #ff8103;
                p{
                    color: #ff8103;
                }
            }
            .ucmbr-box:nth-child(5){
                margin-right: 0px;
            }
        }
    }
}
