.vendorLogin{
    height: 100%;
    .rightContainer{
        height: 100%;
        background:#fff;
        padding: 45px 50px 65px 50px;
        .forgerPass{
            label{
                font-size: 12px;
                font-weight: normal;
                color: #9c9c9c;
                margin-top: 13px;
                span{
                    color: #535b78;
                    font-weight: 500;
                }
            }
        }
        h4{
            font-size: 16px;
            font-weight: bold;
            color: #4a4a4a;
        }
        p{
            &.subTitle{
                font-size: 13px;
                font-weight: normal;
                color: #6a6a6a;
                margin-top: 7px;
            }
        }
    }
    .leftContainer{
        height: 100%;
        padding: 30px 50px;
        h1{
            font-size: 34px;
            font-weight: 900;
            color: #535b78;
        }
        h4{
            font-size: 20px;
            font-weight: normal;
            color: #535b78;
        }
        .topContent{
            padding: 20px 35px;
        }
        .processImg{
            // background: url("../assets/process.png") no-repeat;
            height: 70%;
            background-size: 85% 100%;
            // height: auto;
            // width: 75%;
        }
    }
}
.vendorloginForm{
    width: 68%;
    label{
        display: block!important;
    }
    input{
        width: 100%;
        height: 38px;
        border-radius: 7px;
        border: 1px solid rgba(83, 91, 120, 0.11);
        background-color: #ffffff;
        text-indent: 10px;
        margin-top: 5px;
        font-size: 13px;
        font-weight: 500 !important;
        color: rgba(74, 74, 74, 0.41) !important;
        &::placeholder{
            font-size: 13px;
            font-weight: normal;
            color: #4a4a4a;
        }
    }
}
.inputHead{
    font-size: 13px;
    font-weight: 600;
    color: #4a4a4a;
}
.loginBtn{
    border-radius: 7px;
    background-color: #5200bd;
    color: #fff;
    padding: 9px 25px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}
.notRegister{
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
    span{
        color: #5200bd;
        cursor: pointer;
    }
}
.vendorSignUp{
    .vendorSignUpForm{
        width: 100% !important;
        input{
            width: 100%;
            &::placeholder{
                font-size: 13px;
                font-weight: 600 !important;
                color: rgba(74, 74, 74, 0.41) !important;
            }
        }
    }
}
.backBtn{
    font-size: 13px;
    font-weight: normal;
    color: #4a4a4a;
    border-radius: 19px;
    border: solid 0.5px #c2c2c2;
    background-color: #ffffff;
    padding: 6px 15px;
    img{
        margin-right: 5px;
    }
}

.confirmPoLeft{
    width: 33%;
    .orderImg{
        width: 12%;
        float: left;
    }
    .leftText{
        width: 88%;
        display: inline-block;
        h1{
            @include fontStyle(20px , 600 ,#12203c);
            display: inline-block !important;
        }
        label{
            @include fontStyle(13px , normal ,#535b78);
            span{
            @include fontStyle(17px , bold ,#d0021b);
            }
        }
    }
}
.mandatory{
    color:#d0021b  !important;
    font-size:13px !important
}
.confirmPoRight{
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    padding: 0px 15px;
    width: 47%;
    margin-left: auto;
}
.vendorFilterBtn{
    @include buttonStyle(12.5px,normal , 6px , #ffffff , #4a4a4a , 0px 7px ,solid 1px #eeeeee);
    // float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76px;
    height: 33px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    text-align: left;
    img{
        height: 10px;
    }
    &.dropdown-toggle:after{
        display: none;
    }
}
.vendorActionDrop{
    @include buttonStyle(12.5px,normal , 6px , #ffffff , #4a4a4a , 0px 7px ,solid 1px #eeeeee);
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94px;
    height: 33px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    text-align: left;
    position: relative;
    img{
        height: 8px;
    }
    &:before{
        content: "";
        position: absolute;
        right: 28px;
        top: 0px;
        width: 1px;
        height: 100%;
        background: #f1f1f1;
    }
    &.dropdown-toggle:after{
        display: none;
    }
}
.vendorBottom{
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    background-color: #ffffff;
    margin-top: 20px;
    padding: 30px 25px;
}
.vendorTable{
    .roleTable{
        .textMaroon{
            color: #d0021b!important;
        }
        .colorDarkBlue{
            color: #535b78 !important; 
        }
    }
}
.vendorTable{
    .checkBoxBorder{
        .checkmark1{
            top: -8px;
             border-radius: 0px;
             height: 17px;
             width: 17px;
             left: 10px;
             &:after{
                left: 5px;
                top: 3px;
                width: 5px;
                height: 9px;
                border-width: 0 2px 2px 0;
             }
        }
    }
    tbody{
        tr{
            label{
                color: #4a4a4a !important;
            }
            &:nth-child(odd){
                background: #fff;
            }
            td:nth-child(2){
                label{
                    font-weight: 500;
                }
            }
        }
    }
}
.bottomRefresh{
    height: 17px;
    margin-right: 20px;
    cursor: pointer;
}
.cancelPoTable{
    .fixed-side1{
        label{
            @include fontStyle(11.5px !important , 500 ,#4a4a4a);
        }
    }
    thead{
        label{
            font-weight: 600 !important;
        }
    }
}
.actionExpand{
    margin-bottom: 0px;
    .tableGeneric{
        border: 1px solid #ddd;
        padding: 15px 0px !important;
    }
    table{
        margin: 0px;
        thead{
            th{
                label{
                    min-width: 105px;
                }
            }
        }
    }
    .zui-wrapper{
        height: 231px;
        max-height: 300px;
    }
}
.actionExpand{
    display: inline-block;
    position: absolute;
    display: inline-block;
    z-index: 2;
    left: 0;
    background: #fff;
    table{
        thead{
            th{
                &:nth-child(3){
                    width: 200px !important;
                }
            }
        }
    }
}
.pendingPoTop{
    .confirmPoLeft{
        .orderImg{
            width: 16%;
        }
        .leftText{
            width: auto;
        }
    }
    .createShipment{
        &:before{
            content: "";
            position: absolute;
            left: -42px;
            top: 2px;
            border-radius: 5px;
            background-color: #f0f0f0;
            height: 95%;
            width: 5px;
        }
    }
}
.createShipment{
    @include buttonStyle(12px,600 , 8px , #6629db , #ffffff , 0px , 0px);
    width: 205px;
    height: 33px;
    box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.noOfFilter{
    position: absolute;
    right: -9px;
    top: -7px;
    background-color: #d0021b;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
}
.createShipmentModal{
    border-radius: 8px;
    box-shadow: 0 0 34px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    border: 0px;
    .createShipmentTop{
        padding: 13px 30px;
    }
    .pagerDiv{
        margin-top: 5px !important;
    }
    .modalOpertions{
        padding: 25px 40px;
        background-color: #f9f5ff;
        label{
            @include fontStyle(12px , normal ,#4a4a4a);
        }
        h3{
            @include fontStyle(14px , 600 ,#4a4a4a);
        }
        h5{
            @include fontStyle(11.5px , 600 ,#4a4a4a);
        }
        input[type=date]{
            width: 141px;
            height: 30px;
            border-radius: 4px;
            border: solid 1px #979797;
            background-color: #ffffff;
        }
    }
    .shipment-col{
        width: 29%;
    }
    .modalContentMid {
        padding: 20px 40px 5px 40px;
    }
    .modalBottom{
        padding: 0px 40px 20px 40px;
        .note{
            font-size: 12px;
            color: #4a4a4a;
            img{
                height: 15px;
                margin-right: 10px;
            }
        }
    }
    .shipmentTable{
        input[type=text] , input[type=number]{
            @include fontStyle(10px , normal ,#4a4a4a);
            border-radius: 4px;
            background-color: #ffffff;
            border: none;
            width: 100px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            padding: 4px 5px;
            border: solid 1px #f0f0f0;
            &+span{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    top: 19px;
                    left: -86px;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #e9e9fe transparent;
                }
                &:after{
                    @include fontStyle(11px , 500 ,#4a4a4a);
                    content: 'Requested quantity can not be more than order quantity';
                    position: absolute;
                    top: 29px;
                    left: -105px;
                    width: 200px;
                    white-space: normal;
                    background-color: #e9e9fe;
                    border-radius: 10px;
                    padding: 9px 10px;
                }
            }
            &.active{
                box-shadow: 0 0 5px 0 #bc9aff;
            }
        }
    }
    .modalTableNew{
        h3{
            @include fontStyle(16px , 600 ,#4a4a4a);
        }
    }
    
}
.backdrop{
    opacity: 0.82 !important;
}
.shipmentNo{
    @include buttonStyle(12px,600 , 18px , #f1e9ff , #535b78 , 6px 16px ,0px);
}
.printBarCode{
    @include buttonStyle(11.8px , 500 , 3px , transparent , #4a4a4a , 0px ,solid 1px #e0e0e0);
    width: 190px;
    height: 30px;
}
.filterDropDown{
    .dropdown-menu{
        width: max-content;
        border-radius: 6px;
        box-shadow: 0 0 22px 0 hsla(0,0%,90%,.5);
        border: 1px solid #eee;
        background-color: #fff;
        border: 0;
        padding: 8px 28px 2px 28px!important;
        top: 37px;
        a,li{
            padding: 6px 0px;
            position: relative;
            cursor: pointer;
            label{
                font-size: 12px;
                font-weight: normal;
                color: #4a4a4a;
                margin: 0px;
                cursor: pointer;
            }
            &:last-child{
                margin-top: 13px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -28px;
                    height: 1px;
                    width: 150px;
                    background: #e8e8e8;
                }
            }
        }
    }
}
.orderDropDown{
    .dropdown-menu{
        width: 200px;
        height: auto;
        border-radius: 21px;
        box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
        background-color: #ffffff;
        border: 0px;
        padding: 15px 19px!important;
    }
    h4{
        @include fontStyle(13px , bold ,#535b78);
    }
    ul {
        a,li{
            position: relative;
            @include fontStyle(12px , normal ,#535b78);
            padding: 5px 0px;
            width: 100%;
            display: inline-block;
            text-decoration: none;
            &:hover{
                color: #6629db;
                cursor: pointer;
                &:after{
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: 3px;
                    background: #6d6dc9;
                    width: 5.5px;
                    height: 21px;
                    border-radius: 3.5px;
                    background-color: #6629db;
                }
            }
        }
    }
}
.dropdownPosition{
    position: relative;
    .dropdown-menu{
        right: -85px !important;
    }
}

// ____________________________-HEADER VENDOR PORTAL DROPDOWN__________________

.vendorDropDown{
    width: 210px;
    height: 270px;
    border-radius: 9px;
    box-shadow: 2px 2px 6px 1px rgba(229, 229, 229, 0.5);
    border: solid 1px var(--very-light-pink-two);
    background-color: #ffffff;
    padding: 0px !important;
   
   >li{
    position: absolute;
    bottom: 0px;
        &:first-child,  &:last-child{
            width: 100%;
            height: 50px;
            border-radius: 9px;
            box-shadow: 0 0 22px 0 rgba(230, 230, 230, 0.5);
            background-color: #ffffff;
            align-items: center;
            display: flex;
            justify-content: center;
            
            label{
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                float: right;
            }
            div{
                button{
                    border-radius: 23px;
                    border: solid 1px #e3e3e3;
                    background-color: #ffffff;
                    width: 85px;
                    height: 30px;
                    font-size: 11px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;
                }
                span{
                    &:first-child{
                        font-size: 10px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #8c8c8c;
                        width: 100%;
                        display: inline-block;
                    }
                    font-size: 10px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    display: inline-block;
                    width: 100%;
                    color: #4a4a4a
                }
            }
        }
    }
    .insideDrop{
        padding-left: 25px;
        height: 170px;
        >li{
            padding: 10px 0 3px;
            &:first-child{
                label{
                    font-size: 10px !important;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #c5c5c5 !important;
                }
            }
        }
        li{
            label{
                font-size: 12px ;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #4a4a4a;
            }
        }
    }
}
.pendingHover{
    .pendingTooltip{
        display: none;
    }
    &:hover{
        .pendingTooltip{
            @include fontStyle(11px , 600 ,#ffffff);
            display:block;
            position: absolute;
            width: 200px;
            white-space: normal;
            padding: 9px 14px;
            border-radius: 8.8px;
            line-height: normal;
            background-color: #ff6550;
        }
    }
}

.addadvice{
     display: inline-block;
    text-align: right !important;
    height: auto;
    padding: 8px 0px;
}
.delAdvice{
    width: auto;
    display: inline-block;
}
.deliveryModal_li{
    position: relative;
    top: 25px;
    right: 75px;
}
.comment_overflow{
    height: 236px;
    overflow-y: auto; 
}
.clr_Filter_shipApp{
    cursor: pointer;
    color: #6d6dc9;
    position: absolute;
    bottom: -36px;
    right: -25px;
    width: 70px
}
.dateFormat{
    input[type = date]{
        &:before{
            position: absolute;
            top: 7px;
            left: 0px;
            content: attr(data-date) !important;
            display: inline-block;
            color: #4a4a4a;
        }
        &:-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button{
            display: none
        }
    }
}
.itemLevelTable{
    tbody{
        tr{
            label{
                width: auto !important;
            }
        }
    }
}


// Style Filter modal
.asn-filter {
    position: absolute;
    top: 44px;
    right: 0;
    width: 400px;
    height: 413px;
    box-shadow: 0 0 6px 0 hsla(0,0%,56%,.16);
    background-color: #fff;
    z-index: 99;
    .asn-filter-inner {
        .asnf-head {
            display: block;
            width: 100%;
            height: auto;
            align-items: center;
            .asnfh-top {
                position: relative;
                width: 100%;
                padding: 10px 20px 10px 13px;
                border-bottom: 1px solid #e3e3e3;
                span{
                    font-size: 17px;
                    font-weight: 600;
                    color: #12203c;
                }
                .asnfht-input{
                    margin: 0 15px;
                    input{
                        width: 250px;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 1px #ccd8ed;
                        background-color: #ffffff;
                        padding: 5px 27px 5px 13px;
                        font-size: 12px;
                        background: url("../assets/searchicon.svg");
                        background-repeat: no-repeat;
                        background-position: 96%!important;
                        z-index: 0;
                        position: relative;
                        font-weight: 500 !important;
                    }
                }
                span.asn-filter-search {
                    position: absolute;
                    top: 17px;
                    right: 81px;
                    cursor: pointer;
                    img{
                        width: 15px;
                    }
                }
                .asn-filter-close{
                    margin-left: 16px;
                    display: inline-block;
                }
            }
            .asnfh-bottom{
                display: block;
                padding: 5px 10px;
                border-bottom: 1px solid #ccd8ed;
                span{
                    border-radius: 4px;
                    border: solid 1px #ccd8ed;
                    display: inline-block;
                    padding: 5px 15px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #12203c;
                    cursor: pointer;
                    img{
                        margin-left: 5px;
                    }
                }
            }
        }
        .asnf-body {
            display: block;
            width: 100%;
            height: 312px;
            padding: 10px 15px;
            overflow: auto;
            .asnfb-head {
                display: table;
                width: 100%;
                span.asnfb-left {
                    font-size: 14px;
                    font-weight: 600;
                    color: #12203c;
                    display: block;
                    width: 50%;
                    float: left;
                }
                span.asnfb-right {
                    font-size: 14px;
                    font-weight: 600;
                    color: #12203c;
                    display: block;
                    width: 50%;
                    float: left;
                }
            }
            .asnfb-body {
                display: block;
                width: 100%;
                padding: 10px 0;
                .asnfb-item {
                    display: table;
                    width: 100%;
                    margin-bottom: 10px;
                }
                .recentAdded {
                    position: absolute;
                    top: 56px;
                    left: 167px;
                    background: #fff;
                    box-shadow: 0 0 6px 0 hsla(0,0%,56%,.16);
                    width: 200px;
                    height: 320px;
                    z-index: 99;
                    .recentAdded-inner{
                        height: 285px;
                        overflow: auto;
                    }
                    ul{
                        position: relative;
                        padding: 8px 0;
                        margin: 0;
                    }
                    li{
                        padding: 0 15px;
                        font-weight: 12px;
                    }
                    label{
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .checkmark1 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 17px;
                        width: 17px;
                        background-color: #c72323;
                    }
                    .checkmark1:after {
                        left: 5px;
                        top: 3px;
                        width: 6px;
                        height: 9px;
                    }
                    .asnfra-bottom {
                        display: block;
                        width: 100%;
                        position: absolute;
                        height: 45px;
                        left: 0;
                        bottom: 0;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        box-shadow: 0 0 6px 0 hsla(0,0%,56%,.16);
                        z-index: 999;
                        span.asnfrb-rmall {
                            font-size: 12px;
                            display: inline-block;
                            padding: 3px 5px;
                            font-weight: 400;
                            .asnfrb-img{
                                display: inline-block;
                                padding: 3px;
                                border: 1px solid #ccd8ed;
                                border-radius: 5px;
                            }
                        }
                        span.asnfrb-done {
                            font-size: 12px;
                            display: inline-block;
                            padding: 7px 5px;
                            border: 1px solid #ccd8ed;
                            border-radius: 5px;
                            font-weight: 400;
                            float: right;
                            color: #12203c;
                        }
                    }
                }
                span.asnfbb-left {
                    position: relative;
                    display: block;
                    width: 50%;
                    float: left;
                    input[type="radio"] {
                        display: none;
                    }
                    .checkmark1 {
                        position: absolute;
                        left: -25px;
                        top: 0;
                        height: 16px;
                        width: 16px;
                        background-color: #ffffff;
                        cursor: pointer;
                        border-radius: 4px;
                        border: solid 2px #dce6f0;
                    }
                    .checkmark1:after {
                        width: 5px;
                        height: 9px;
                        border-width: 0 2px 2px 0;
                        content: none;
                    }
                    input[type="radio"]:checked + label {
                        color: #12203c;
                    }
                    .checkBoxLabel0 input:checked~.checkmark1{
                        background-color: #8b77fa;
                        border: none;
                    }
                    .checkBoxLabel0 input:checked~.checkmark1:after{
                        width: 5px;
                        height: 9px;
                        border-width: 0 2px 2px 0;
                        content: "";
                    }
                    label{
                        font-size: 12px;
                        font-weight: 500;
                        color: #12203c;
                        padding-left: 0;
                        cursor: pointer;
                        margin-left: 24px;
                    }
                    label img{
                        position: relative;
                        display: inline-block;
                        background-color: #dce6f0;
                        border-radius: 4px;
                        width: 17px;
                        height: 17px;
                        padding: 0 5px;
                        margin-right: 10px;
                    }
                    label:before, label:after{
                        content: none;
                    }
                    input[type="radio"]:checked + label img{
                        background-color: #8b77fa;
                    }
                }
                span.asnfbb-right {
                    display: block;
                    width: 50%;
                    float: left;
                    input[type=date]{
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 1px #a4b9dd;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        font-size: 12px; 
                        font-weight: 500;
                    }
                    input[type=text]{
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 1px #a4b9dd;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        font-size: 12px;
                        background: transparent;
                        font-weight: 500;
                    }
                    input[type=number]{
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        border: solid 1px #a4b9dd;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        font-size: 12px;
                        background: transparent;
                        -webkit-appearance: none;
                        font-weight: 500;
                    }
                    .asnfbbr-poquantity{
                        margin-top: 10px;
                    }
                }
                .asnfbb-right.not-checked{
                    height: 30px;
                    background-color: #f8f8f8;
                    border-radius: 5px;
                }
            }
        }
        .asnf-bottom {
            display: block;
            width: 100%;
            padding: 9px 15px;
            text-align: right;
            box-shadow: 0 -1px 6px 0 #ccd8ed;
            a {
                display: inline-block;
                padding: 5px 12px;
                border: 1px solid #ccd8ed;
                border-radius: 6px;
                font-size: 13px;
                font-weight: 500;
                color: #12203c;
                transition: 0.6s all;
            }
            a:hover{
                color: #ffffff;
                background-color: #8b77fa;
                border: 1px solid #8b77fa;
            }
            a.m-r-10 {
                margin-right: 10px;
            }
        }
        position: absolute;
        z-index: 99;
    }
}


// Style Shipment Modal
.shipment-tracking-modal{
    width: 540px;
    height: 100%;
    display: table;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .stm-head{
        display: block;
        padding: 0px 0px 20px;
        h3{
            font-size: 20px;
            font-weight: bold;
            color: #12203c;
        }
        .stmh-inner {
            p {
                font-size: 12px;
                font-weight: 500;
                color: #969fad;
                margin: 0;
            }
            .stmhi-time {
                font-size: 12px;
                font-weight: 500;
                color: #12203c;
            }
            h4 {
                font-size: 13px;
                font-weight: bold;
                color: #12203c;
                margin: 0;
                margin-top: 20px;
            }
        }
        .stm-close-btn {
            position: absolute;
            top: 0px;
            right: 0px;
            background: #fff;
            padding: 5px;
        }
    }
    .shipment-tracking{
        display: block;
        width: 100%;
        position: relative;
        height: 480px;
        overflow: auto;
        .st-head{
            position: relative;
            display: block;
            h5 {
                font-size: 14px;
                font-weight: bold;
                color: #12203c;
            }
            span.sth-circle{
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 24px;
                display: inline-block;
                padding: 7px 0;
                text-align: center;
                top: 0;
                left: 0;
                z-index: 9;
            }
            span.bg-green{
                border: solid 1px #3ee585;
                background-color: #3ee585;
                background-image: linear-gradient(to bottom, #3ee585, #00af4a);
            }
            span.bg-fff{
                border: solid 1px #e5edf8;
                background-color: #e5edf8;
            }
            span.bg-org{
                border: solid 1px #ffb103;
                background-color: #ffb103   ;
            }
            span.bg-yellow{
                background: #ffb10333;
            }
            span.bg-yellow:after{
                content: "";
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ffb1036b;
            }
            span.bg-yellow:before{
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #ffb103eb;
            }
            .stm-body {
                padding-left: 45px;
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #12203c;
                    margin: 0;
                }
                .stmb-number {
                    font-size: 12px;
                    font-weight: 500;
                    color: #21314b;
                }
                .stmb-msg {
                    font-size: 12px;
                    font-weight: 500;
                    color: #049d4b;
                }
                .stmb-msg.stmbu-msg{
                    color: #ffb103eb;
                }
                .stmb-details {
                    margin-top: 8px;
                }
                .stmb-item {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    color: #969fad;
                    span{
                        margin-right: 10px;
                    }
                    .stmbi-name{
                        font-size: 12px;
                        font-weight: bold;
                        color: #969fad;
                    }
                }
                .stmb-more-details {
                    display: block;
                    width: 100%;
                    margin-top: 10px;
                    .stmbmd-details {
                        display: block;
                        background: #fff;
                        padding: 0;
                        font-size: 13px;
                        font-weight: 600;
                        color: #21314b;
                        span{
                            margin-left: 5px;
                        }
                    }
                    .stmbmd-more-d{
                        display: table;
                        width: 100%;
                    }
                    .stmbmd-left {
                        display: inline-block;
                        position: relative;
                        width: 50%;
                        padding-left: 25px;
                        margin-top: 20px;
                        float: left;
                        img{
                            position: absolute;
                            top: 2px;
                            left: 0;
                            width: 15px;
                        }
                    }
                    .stmbmd-right {
                        display: inline-block;
                        position: relative;
                        width: 50%;
                        padding-left: 25px;
                        margin-top: 20px;
                        float: left;
                        img{
                            position: absolute;
                            top: 2px;
                            left: 0;
                            width: 15px;
                        }
                    }
                }
            }
            .stm-uncomplete{
                opacity: 0.4;
            }
            span.pad99{
                padding: 9px;
            }
            span.sth-num{
                font-size: 14px;
                font-weight: 600;
                padding: 8px 10px;
                text-align: center;
            }
            .sth-lable-dropd {
                // visibility: hidden;
                // opacity: 0;
                // display: block;
                background: #fff;
                position: absolute;
                top: 30px;
                left: 3px;
                width: 500px;
                border-radius: 10px;
                transform: translateY(20px);
                padding: 10px 0;
                transition: 0.6s all;
                box-shadow: 0 5px 15px hsla(0,16%,71%,.5);
                z-index: 99 !important;
                h5{
                    padding: 10px 15px;
                }
                table{
                    width: 100%;
                    margin: 0 5px;
                    thead{
                        padding: 0 15px;
                        tr{
                            th{
                                font-size: 12px;
                                font-weight: 600;
                                color: #5677b3;
                                padding: 5px 10px;
                            }
                        }
                    }
                    tbody{
                        padding: 0 15px;
                        tr{
                            td{
                                font-size: 12px;
                                font-weight: 500;
                                color: #000000;
                                padding: 8px 10px;
                                span{
                                    padding: 5px;
                                    background-color: #d0021b;
                                    border-radius: 20px;
                                    color: #ffffff;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    tfoot{
                        padding: 0 15px;
                        tr{
                            td{
                                font-size: 12px;
                                font-weight: 600;
                                color: #000000;
                                padding: 8px 10px;
                            }
                            td:first-child span{
                                padding: 5px;
                                background-color: #3ee585;
                                border-radius: 20px;
                                color: #ffffff;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .sth-inner-no{
                display: block;
                margin: 10px 0;
                position: relative;
                .sth-vno {
                    display: inline-block;
                    margin: 15px 0px;
                    padding: 7px 9px;
                    opacity: 0.8;
                    border-radius: 6px;
                    background-color: #ccd8ed;
                    font-size: 10px;
                    font-weight: 600;
                    color: #5677b1;                    
                }
                button{
                    padding: 3px 4px;
                    background-color: #ffb103;
                    font-size: 11px;
                    font-weight: 600;
                    border-radius: 5px;
                    color: #ffffff;
                    margin-left: 7px;
                }
                .bg-green{
                    background-color: #3ee585;
                }
                .bg-blue{
                    background-color: #23e3eb;
                }
                .sth-label{
                    border-radius: 6px;
                    font-size: 10px;
                    font-weight: bold;
                    color: #ffffff;
                    padding: 7px 5px;
                    margin-left: 5px;
                }
            }
            .sth-tooltip{
                display: inline-block;
                position: relative;
            }
            .sth-tooltip:hover>.sth-lable-dropd{
                visibility: visible;
                opacity: 1;
                transform: translate(0 0);
            }
        }
        .st-head:before{
            content: "";
            position: absolute;
            top: 0px;
            left: 14px;
            width: 1px;
            height: 117%;
            border-left: 3px dotted #6fc192;
            z-index: 5;
        }
        .st-border-nono:before{
            content: none;
        }
        .st-head-disBorder:before{
            border-left: 3px dotted #e5edf8;
        }
        .st-content{
            display: block;
            width: 100%;
            margin: 15px 0;
            .stc-head {
                display: block;
                span{
                    font-size: 12px;
                    font-weight: 500;
                    color: #a4b9dd;
                }
                h3{
                    font-size: 13px;
                    color: #12203c;
                    font-weight: 600;
                    padding: 5px 0;
                }
            }
            .stb-status{
                display: block;
                span.stb-rstatus {
                    font-size: 12px;
                    font-weight: 500;
                    color: #5677b1;
                }
                p.stbs-time {
                    font-size: 11px;
                    font-weight: bold;
                    color: #5677b1;
                }
            }
        }
        .st-disable-field{
            opacity: 0.5;
        }
    }
    .shipment-modal-close{
        position: absolute;
        bottom: 49px;
        right: 62px;
        border-radius: 7px;
        border: solid 1px #ccd8ed;
        background: #fff;
        font-size: 12px;
        font-weight: 600;
        padding: 4px 15px;
    }
}
.tableHead{
    box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
    background: #fff;
}
.vendorTableGeneric{
    .expandTd{
        padding: 0px !important;
    }
    table{
        tbody{
            tr{  
                background: transparent !important;
            }
            tr:first-child{
                td{
                    border-top: 0px;
                }
            }
        }
    }
    .roleTableHeight{
        margin-left: 90px !important;
    }
    .columnSetting{
        right: 19px;
    }
    .columnFilterGeneric span.glyphicon{
        padding: 14px 3px;
        background: #8b77fa;
    }
    .fixed-sides, .fixed-side-role{
        box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
        background-color: #ffffff;
        border: 0px !important;
        width: 90px !important;
        padding: 0px !important;

    }
    thead{
        tr{
            box-shadow: 2px 0 6px 0 rgba(139, 139, 139, 0.16);
            background-color: #ffffff;
            th{
                label{
                    margin-right: 10px;
                    width: auto;
                }
            }
        }
    }
    .checkmark1{
        border-radius: 4px !important;
        top: -9px!important;
    }
    .actionBtn{
        margin-left: 10px;
        border-radius: 5px;
        background-color: #f7f0ff;
        padding: 4px 4px;
        label{
            margin-right: 4px;
            font-size: 11px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.15;
            letter-spacing: normal;
        }
    }
}
.asnCreateFields{
    label{
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
    }
    input[type=date]{
        border-radius: 5px;
        border: solid 1px #dce6f0;
        background-color: #ffffff;
        height: 30px;
        width: 65%;
    }
    .shipment-tracking:before{
        content: "";
        position: absolute;
        top: 40px;
        left: 21px;
        width: 84%;
        height: 1px;
        border: 1px dashed #12203c;
    }
    #remarks{
        height: 30px;
        font-weight: 500 !important;
        font-size: 12px;
    }
}

// Style New Modal 
.nmc-asn-style.nmc-as-set-width{
    width: auto;
    height: 430px;
    min-width: 960px;
}
.nmc-asn-style.setAsnUnderApproveWidth{
    width: auto;
    height: 400px;
    .create-asn-upload-modal {
        width: 640px;
    }
}
.nmc-asn-style{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #ffffff;
    height: 450px;
    overflow: hidden;
    border: none;
    box-shadow: none;
}
.lbl-bold{
    font-weight: 700 !important;
}
.nmc-asn-style{
    display: block;
    width: 100%;
    .nmc-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 20px 30px;
        box-shadow: 0 0 22px 0 hsla(0,0%,90%,.5);
        background-color: #fff;
        .nmch-left {
            h3{
                font-size: 15px;
                font-weight: 700;
                color: #12203c;
                margin: 0;
            }
        }
        .nmch-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button {
                border-radius: 5px;
                border: 1px solid #ccd8ed;
                background-color: #fff;
                font-size: 12px;
                padding: 5px 15px;
                margin-left: 20px;
                height: 32px;
                font-weight: 500;
                position: relative;
                display: inline-block;
            }
            .confirmBtnBlue {
                border: 1px solid #8b77fa;
                background-color: #8b77fa;
                color: #fff;
                font-weight: 600;
            }
        }
        h3{
            font-size: 15px;
            font-weight: 700;
            color: #12203c;
            display: inline-block;
            padding: 7px 0px;
            margin: 0;
            .f-right{
                display: inline-block;
                float: right;
            }
        }
    }
    .nmc-body {
        display: block;
        width: 100%;
        padding: 15px 20px;
        overflow: auto;
        height: 300px;
        .nmcb-inner {
            display: table;
            position: relative;
            padding: 5px 0;
            width: 100%;
            .nmcb-asn-detail {
                display: block;
                width: auto;
                float: left;
                .nmcbad-left {
                    display: block;
                    width: auto;
                    float: left;
                }
                label.samb-bold{
                    font-weight: 700;
                }
            }
            .nmcbad-left {
                .nmchdad-img{
                    width: 20px;
                    margin-left: 10px;
                }
                img{
                    cursor: pointer;
                }
            }
            .nmcb-qc {
                display: inline-block;
                // float: left;
                width: auto;
            }
            label {
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                padding: 8px 0;
            }
            select.nmcbd-select {
                width: 130px !important;
                display: inline-block;
                border: solid 1px #a4b9dd;
                height: 30px;
                font-size: 12px;
                padding: 0px 10px;
                font-weight: 500;
                border-radius: 6px;
                color: #3c3434;
                background-image: url(../assets/downArrowNew.svg);
                background-repeat: no-repeat;
                background-position: 94%;
                -webkit-appearance: none;
                // margin-right: 10px;
            }
            input[type="date"] {
                width: 130px !important;
                display: inline-block;
                border: solid 1px #a4b9dd;
                height: 30px;
                font-size: 12px;
                padding: 0px 10px;
                font-weight: 500;
                border-radius: 6px;
                color: #3c3434;
                margin-left: 10px;
                background-image: url(../assets//calender1.svg);
                background-size: 14px;
            }
            input[type="text"] {
                width: 130px !important;
                display: inline-block;
                border: solid 1px #a4b9dd;
                height: 30px;
                font-size: 12px;
                padding: 0px 10px;
                font-weight: 500 !important;
                border-radius: 6px;
                color: #3c3434;
                margin-left: 10px;
            }
            span.error{
                display: block;
                position: absolute;
                width: auto;
                margin: 0;
            }
            span.nmcb-close-btn {
                display: inline-block;
                img{
                    width: 24px;
                }
            }
            .nmcd-upload-icon{
                .file{
                    height: 30px;
                    border-radius: 26px;
                    padding: 6px 6px 6px 12px;
                    margin: 0 !important;
                    border: 1px solid #a4b9dd;
                    img{
                        float: right;
                        width: 17px;
                        height: 17px;
                        padding: 0 0 6px;
                        transform: rotate(270deg);
                    }
                }
                span{
                    display: inline-block;
                    input{
                        font-size: 12px;
                        font-weight: 500;
                        width: 200px;
                    }
                    img{
                        width: 40px;
                    }
                }
                .fileUploads{
                    position: absolute;
                    label{
                        padding: 0;
                        font-size: 10px;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
            .uploadInvoiceLeft{
                border-right: none;
                width: auto;
                padding: 0;
                // float: left;
                .customInput{
                    height: 30px;
                    border-radius: 26px 0 0 26px;
                    padding: 6px 0 6px 12px;
                    margin: 0;
                    border: 1px solid #a4b9dd;
                    cursor: pointer !important;
                    img{
                        float: right;
                        width: 17px;
                        height: 17px;
                        padding: 0 0px 5px 0;
                        transform: rotate(270deg)
                    }
                }
                .fileName{
                    position: absolute;
                    font-size: 11px;
                    z-index: 9;
                }
                .fileUploads{
                    position: absolute;
                    overflow: auto;
                    label{
                        padding: 0;
                        font-size: 10px;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
            .uploadInvoiceRight {
                position: relative;
                height: auto;
                width: auto;
                display: inline-block;
                padding: 0;
                vertical-align: top;
                // float: left;
                .eye-icon-new{
                    font-size: 12px;
                    font-weight: 600;
                    color: #535b78;
                    display: inline-block;
                    width: 28px;
                    padding: 4px 0px;
                    height: 30px;
                    border-radius: 0 20px 20px 0;
                    margin-top: 0;
                    border: 1px solid #a4b9dd;
                    border-left: none;
                    background-color: #fff;
                }
                .filesDownloadDrop {
                    position: absolute;
                    top: 38px;
                    left: -157px !important;
                    border-radius: 17px;
                    box-shadow: 0 0 6px 0 rgba(155, 155, 155, 0.16);
                    z-index: 9;
                    p{
                        font-size: 12px;
                        cursor: pointer;
                        color: #000000;
                    }
                    label{
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            table{
                tbody{
                    tr{
                        td{
                            white-space: nowrap;
                        }
                    }
                }
            }
            .caffb-upload-file {
                display: inline-block;
                position: relative;
                // width: 68%;
                label{
                    border-radius: 5px;
                    border: solid 1px #d1e2f4;
                    background-color: #ffffff;
                    padding: 5px 10px;
                    font-size: 12px !important;
                    font-weight: 500;
                    cursor: pointer !important;
                    margin-right: 15px;
                    input[type="file"] {
                        display: none;
                    }
                    img{
                        width: 16px;
                        margin-left: 10px;
                    }
                    .caffbuf-name{
                        color: #6fc192;
                        font-weight: 600;
                    }
                }
                .caffbuf-file-name{
                    display: inline-block;
                    border-radius: 17px;
                    background-color: #f2f5f8;
                    font-size: 12px; 
                    font-weight: 500;
                    padding: 5px 10px;
                    margin-right: 5px;
                    height: 25px;
                    vertical-align: middle;
                    position: relative;
                    span{
                      max-width: 120px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      display: inline-block;
                      overflow: hidden;
                    }
                    img{
                        margin-left: 10px;
                        cursor: pointer;
                        vertical-align: top;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}
// End Style Of New Modal
//======================== Style Table =====================//

// 
.tableGeneric tbody tr td:first-child.pad-0{
    padding: 0 !important;
}
.asnCreateFields{
    .head{
        font-size: 12px;
        font-weight: 400;
        color: #4a4a4a !important;
    }
}

// Style table Input Type
.oveflowC{
    tbody{
        tr{
            td{
                input[type=text]{
                    border: 1px solid #fff4c9!important;
                    font-size: 11px;
                    font-weight: 500 !important;
                    padding: 3px 6px;
                    border-radius: 6px;
                    width: 100px;
                    background-color: #fffae7 !important;
                }
                .table-td-text{
                    white-space: nowrap;
                    max-width: 200px; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
// Cursor Pointer On The Table Head Images
.vendorBottom{
    .zui-wrapper{
        table{
            thead{
                tr{
                    th{
                        img{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

// Style Vendor shipment Approved Asn Modal
.vendor-ship-aprv-asn{
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #ffffff;
    height: 450px;
    overflow: hidden;
    .modalTop{
        padding: 20px 25px;
    }
}
.vendor-ship-asn-aprv{
    display: block;
    width: 100%;
    .vsaa-body{
        display: block;
        width: 100%;
        padding: 15px 15px;
        overflow: auto;
        height: 300px;
        .vsaa-inner-item{
            display: inline-block;
            // float: left;
            margin-bottom: 0;
            label{
                font-size: 12px;
                font-weight: 500;
                padding: 8px 0px;
            }
            input{
                border-radius: 5px;
                border: solid 1px #dce6f0;
                width: 110px!important;
                // display: inline-block;
                height: 30px;
                font-size: 12px;
                padding: 6px 10px;
                font-weight: 500 !important;
                color: #000000;
            }
            input[type=date] {
                overflow: hidden;
            }
            .error{
                display: block;
                position: absolute;
                width: auto;
                margin: 0;
                max-width: 125px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .vsasn-upload{
                padding: 0;
                border-radius: 0;
                height: auto;
                border: none;
            }
            .caffb-upload-file {
                display: inline-block;
                position: relative;
                label{
                    border-radius: 5px;
                    border: solid 1px #d1e2f4;
                    background-color: #ffffff;
                    padding: 5px 10px;
                    font-size: 12px !important;
                    font-weight: 500;
                    cursor: pointer !important;
                    margin-right: 15px;
                    input[type="file"] {
                        display: none;
                    }
                    img{
                        width: 16px;
                        margin-left: 10px;
                    }
                    .caffbuf-name{
                        color: #6fc192;
                        font-weight: 600;
                    }
                }
                .caffbuf-file-name{
                    display: inline-block;
                    border-radius: 17px;
                    background-color: #f2f5f8;
                    font-size: 12px; 
                    font-weight: 500;
                    padding: 5px 10px;
                    margin-right: 5px;
                    height: 25px;
                    vertical-align: middle;
                    position: relative;
                    span{
                      max-width: 120px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      display: inline-block;
                      overflow: hidden;
                    }
                    img{
                        margin-left: 10px;
                        cursor: pointer;
                        vertical-align: top;
                        margin-top: 3px;
                    }
                }
            }
        }
        .uploadInvoiceLeft{
            border-right: none;
            width: auto;
            .customInput{
                height: 30px;
                border-radius: 26px 0 0 26px;
                padding: 6px 0 6px 12px;
                margin: 0;
                border: 1px solid #a4b9dd;
                cursor: pointer !important;
                img{
                    float: right;
                    width: 17px;
                    height: 17px;
                    padding: 0 0px 5px 0;
                    transform: rotate(270deg)
                }
            }
            .fileName{
                position: absolute;
                font-size: 11px;
                z-index: 9;
            }
            .fileUploads{
                position: absolute;
                overflow: auto;
                label{
                    padding: 0;
                    font-size: 10px;
                }
                span{
                    font-size: 12px;
                }
            }
        }
        .uploadInvoiceRight{
            position: relative;
            height: auto;
            width: auto;
            display: inline-block;
            padding: 0;
            vertical-align: top;
            // float: left;
            .eye-icon-new{
                font-size: 12px;
                font-weight: 600;
                color: #535b78;
                display: inline-block;
                width: 28px;
                padding: 4px 0px;
                height: 30px;
                border-radius: 0 20px 20px 0;
                margin-top: 0;
                border: 1px solid #a4b9dd;
                border-left: none;
                background-color: #fff;
            }
            .downloadQcBtn{
                font-size: 12px;
                font-weight: 600;
                color: #535b78;
                display: block;
                width: 30px;
                padding: 4px 7px;
                height: 30px;
                border-radius: 4px;
                margin-top: 0;
                border: 1px solid #a4b9dd;
                background-color: #fff;
                img{
                    width: 13px;
                    height: 13px;
                }
            }
            .download-barcode{
                padding: 4px 2px;
                img{
                    width: 19px;
                    height: 19px;
                }
            }
            .filesDownloadDrop {
                position: absolute;
                top: 38px;
                left: -157px !important;
                border-radius: 17px;
                box-shadow: 0 0 6px 0 rgba(155, 155, 155, 0.16);
                z-index: 9;
                p{
                    font-size: 12px;
                    cursor: pointer;
                    display: inline-block;
                    color: #000000;
                }
                span{
                    font-size: 12px;
                    cursor: pointer;
                }
                label{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
        .wth-set{
            width: 140px;
            label{
                display: block !important;
            }
        }
        .close-flex{
            display: flex;
            align-items: center;
        }
        .close-btn{
            display: inline-flex;
        }
    }
}
.loadingCenter{
    text-align: center;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50% , 0%);
    background: #fbe3e3;
    margin: 0;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 10px;
    color: #4a4a4a;
}
// Style Table Tooltip
.oveflowC{
    tbody{
        tr{
            td{
                position: relative;
            }
        }
    }
}
.vendorTableGeneric{
    .table-tooltip{
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        width: 210px;
        transition: all .2s;
        border-radius: 5px;
        padding: 3px 4px;
        font-size: 11px;
        border: 1px solid #eee;
        background: #fff;
        color: #000;
        font-weight: 500;
        transform: translate(-50%, -60%);
        z-index: 99;
        label{
            white-space: normal !important;
            text-align: center;
        }
    }
}
.table-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
}
.oveflowC tbody tr td:hover>.table-tooltip{
    visibility: visible;
    opacity: 1;
}
.poStatus{
    display: inline;
    .each-tag{
        margin: 5px 0px;
        label{
            font-size: 13px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
            text-align: center;
            color: #12203c !important;
            margin-left: 10px !important;
        }
    }
    &:hover{
        .poStatusToolTip{
            display: block;
            
        }
    }
    .partiaTag{
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ff4602;
        border-radius: 3px;
        background-color: #ffd5c5;
        margin: 0;
        padding: 1px 3px;
    }
    .setTag{
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffcf03;
        margin: 0;
        padding: 1px 3px;
        border-radius: 3px;
        background-color: #fff6d6;
    }
    .poStatusToolTip{
        position: absolute;
        display: none;
        right: -130px;
        width: 131px;
        height: auto;
        border-radius: 13px;
        box-shadow: 0 1px 6px 0 rgba(170, 170, 170, 0.16);
        background-color: #ffffff;
        z-index: 2;
        top: -13px;
        padding: 10px;
        &:after{
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%; 
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #fff transparent transparent;
        }
        .each-status{
            margin: 5px 0px;
            label{
                font-size: 13px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.23;
                letter-spacing: normal;
                text-align: center;
                color: #12203c !important;
                margin-left: 10px;
            }
        }
    }
}

.fixed-side-role.fixed-side1 .checkmark1{
    cursor: pointer;
}
.multipleDownloadSelect{
    width: auto;
    height: auto;
    padding: 7px 10px;
    border: 1px solid #a4b9dd;
    background: #fff;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    display: block;
    float: none;
    transition: all .2s;
}
.toast-error-container{
    display: inline-block;
    position: absolute;
    bottom: 42px;
    left: 55px;
    border-radius: 9px;
    box-shadow: 0 1px 4px 0 #ccd8ed;
    background-color: #12203c;
    color: #fff;
    padding: 13px 23px;
    width: 300px;
    z-index: 9999;
    h4{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin: 0px;
    }
    .toast-head{
        display: flex;
        align-items: center;
    }
    .toast-close{
        float: right;
        height: 10px;
    }
    
    .toast-warning-icon{
        height: 10px;
        margin-left: 5px;
    }
    p{
        margin: 5px 0px 0px 0px;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
        text-align: left;
        color: #92a0b7;
    }
}
.customSuggestionsList {
    position: absolute;
    top: 45%;
    left: 30px;
    background-color: #ffffff;
    width: 340px;
    height: 180px;
    border-radius: 8px;
    border: none;
    overflow: auto;
    box-shadow: 0 1px 6px 0 #e0e0e0;
    z-index: 999;
    .tagify__dropdown__wrapper:hover{
        overflow: hidden;
    }
    .tagify__dropdown__item--active{
        background:#b7acfc85;
        background: #b7acfc85;
    }
    .tagify{
        width: 100%;
    }
    div{
        width: 100%;
        border: none;
        padding: 5px 8px;
        border-radius: 4px;
        overflow: hidden;
        div{
            font-size: 11px;
            font-weight: 600;
            color: #12203c;
            overflow: hidden;
        }
        div:hover, div:focus, div:focus-within, div:active, div:visited{
            background-color: #b7acfc85 !important;
            transition: 0.3s all;
        }
        
    }
}
// Toggle buttton
.toggle-button-qc{
    margin-right: 15px;
    display: inline-block;
    .switch-field {
        display: flex;
        overflow: hidden;
    }
    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    .switch-field label {
        background-color: #f9f9f9;
        color: #d8d3d3;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 10px 16px;
        border: none;
        transition: all 0.1s ease-in-out;
        margin: 0;
        font-size: 12px;
        height: 32px;
    }
    .switch-field label:hover {
        cursor: pointer;
    }
    
    .switch-field input:checked + .tbqc-confirm {
        background-color: #8b77fa;
        box-shadow: none;
        color: #fff;
    }
    .switch-field input:checked + .tbqc-notconfirm {
        background-color: #e83600;
        box-shadow: none;
        color: #fff;
    }
    
    .switch-field label:first-of-type {
        border-radius: 4px 0 0 4px;
    }
    
    .switch-field label:last-of-type {
        border-radius: 0 4px 4px 0;
    }
    [type=radio]:checked+label:after, [type=radio]:not(:checked)+label:after{
        content: none;
    }
    [type=radio]:checked+label:before, [type=radio]:not(:checked)+label:before{
        content: none;
    }
}
.toggle-button-qc{
    display: block;
    button{
        background-color: #f9f9f9;
        color: #d8d3d3;
        font-size: 12px;
        height: 32px;
        padding: 7px 16px;
        border: none;
        transition: all 0.1s ease-in-out;
        font-weight: 600;
    }
    .tbqc-not-confirm{
        border-radius: 0 5px 5px 0;
    }
    .tbqc-confirm{
        border-radius: 5px 0 0 5px;
    }
}

// Style asn valid Date Modal 
.asn-valid-date-extention{
    width: 920px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 440px;
    border: none;
    box-shadow: none;
    padding: 30px;
    border-radius: 0;
    .avde-head{
        h3 {
            margin: 0;
            padding: 0px 5px 25px;
            font-size: 16px;
            font-weight: 600;
            color: #12203c;
        }
    }
    .avde-body{
        height: 292px;
        overflow: auto;
        overflow-x: hidden;
        table{
            thead{
                tr{
                    th{
                        border: none;
                        label{
                            margin: 0;
                            font-weight: 600;
                        }
                    }
                    .avdeb-rap{
                        white-space: normal;
                        vertical-align: bottom;
                        padding: 0 8;
                        width: 110px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        border: none;
                        label {
                            margin: 0;
                            font-weight: 500;
                        }
                        input{
                            border-radius: 5px;
                            border: solid 1px #d6dce6;
                            background-color: #ffffff;
                            padding: 5px 10px;
                            font-size: 12px;
                            font-weight: 500;
                            width: 220px;
                        }
                        input[type="date"] {
                            border-radius: 5px;
                            border: solid 1px #b7acfc;
                            background-color: #ffffff;
                            color: #000;
                            background-image: url(../assets/calender1.svg);
                            background-size: 14px;
                            padding: 5px 15px;
                            font-size: 12px;
                            font-weight: 500;
                            width: 160px;
                        }
                        .table-delete-icon{
                            display: inline-block;
                            padding: 6px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        .table-delete-icon:hover{
                            background: #eb000833;
                            svg{
                                path{
                                    fill: #eb0008;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .avde-bottom{
        display: block;
        padding: 10px 0 0;
        text-align: center;
        button{
            text-align: center;
            font-size: 12px;
            color: #12203c;
            padding: 7px 15px;
            border-radius: 5px;
            font-weight: 600;
            border: solid 1px #a4b9dd;
            background-color: #ffffff;
        }
        .confirm-btn{
            border: solid 1px #9e03ff;
            background-color: #9e03ff;
            color: #fff;
            padding: 7px 40px;
            margin-right: 25px;
        }
    }
}

.confirmation-modal{
    height: 240px !important;
    .avde-bottom{
        display: block;
        padding: 35px 0 20px !important;
        text-align: center;
        button{
            text-align: center;
            font-size: 12px;
            color: #12203c;
            padding: 7px 15px;
            border-radius: 5px;
            font-weight: 600;
            border: solid 1px #a4b9dd;
            background-color: #ffffff;
        }
        .confirm-btn{
            border: solid 1px #8b77fa;
            background-color: #8b77fa;
            color: #fff;
            padding: 7px 40px;
            margin-right: 25px;
        }
    }
}
.toggle-button-qc.toggle-not-confirm{
    .tbqc-not-confirm{
        background-color: #8b77fa;
        color: #ffffff;
    }
}
.toggle-button-qc.toggle-confirm{
    .tbqc-confirm{
        background-color: #8b77fa;
        color: #ffffff;
    }
}
.vendorAddUserMain{
    .error{
        position: absolute;
    }
}
// Style Filter
.show-applied-filter {
    display: inline-block;
    // padding: 15px 32px 15px 19px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    button{
        padding: 3px 10px;
        font-size: 12px;
        font-weight: 500;
        margin-right: 15px; 
        background-color: #ffffff;
        margin-top: 20px;
        position: relative;
    }
    .saf-clear-all{
        font-weight: 600;
        padding: 0;
    }
    .saf-btn {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
        border-radius: 15px;
        border: solid 2px #dce6f0;
        background-color: #ffffff;
        padding: 3px 10px;
        font-size: 12px;
        font-weight: 500;
        margin-right: 15px;
        margin-top: 20px;
        img{
            margin-left: 10px;
        }
        .generic-tooltip{
            left: 10%;
            max-width: 300px;
            white-space: nowrap;
        }
    }
    .saf-btn:hover>.generic-tooltip{
        visibility: visible;
        opacity: 1;
    }
    .saf-btn:hover{
        border: solid 2px #21314b;
        transition: 0.3s all;
    }
}

.nph-switch-btn.proc-cat-desc-toggle {
    display: flex;
    align-items: center;
    margin-left: 20px;
    .nph-wbtext {
        font-size: 12px;
        font-weight: 500;
        top: auto;
    }
}
.general-setting-tab-cat-desk {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .gen-info-icon {
        .gii-dropdown {
            .nph-switch-btn {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0;
                .tg-switch {
                    width: 36px;
                    height: 18px;
                    .tg-slider {
                        background-color: #efefef;
                    }
                    .tg-slider:before {
                        width: 14px;
                        height: 14px;
                        background-color: #969fad;
                    }
                    input:checked+.tg-slider {
                        background-color: #e3fbed;
                    }
                    input:checked+.tg-slider:before {
                        transform: translateX(16px);
                        background: #3ee585;
                    }
                }
                .nph-text {
                    margin-left: 10px;
                }
            }
            .nph-switch-btn.nph-togglt2 {
                .tg-switch {
                    input:checked+.tg-slider {
                        background-color: #eae6fe;
                    }
                    input:checked+.tg-slider:before {
                        background: #8b77fa;
                    }
                }
            }
        }
    }
}