// ------------------------------view activity modal----------------------------
.viewActivityModal{
    width: 65%;
    height: 78vh;
}
.viewActivityFilters ul li{
    margin-right: 5px;  
}
.viewActivityFilters ul li input, .viewActivityFilters ul li select{
    
    width: 147px;
}
.viewActivityTable table{
    width: 101%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.viewActivityTable table thead{
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.viewActivityTable table tbody{
    width: 100%;
}
.viewActivityModal .manageSearch{
    margin-top: 5%;
}
.viewActivityTable table tbody tr:first-child{
   border-top:0;
}
.viewActivityModal .clearFilterBtn{
    bottom: -16px;
    left:30px;
}
.viewActivityModal .clearSearchFilter{
    position: absolute;
    bottom:-6px;
}
.viewActivityModal .pagination{
    width:32%;
}
.viewActivityModal .pagerDiv{
    margin-top:10px;
}
.viewActivityModal .modal_Apply_btn{
    margin-left:20px;
}
.viewActivityModal .adHocBottom{
    position: absolute;
    left: 45%;
    // bottom: 10px;
    top: 45px;
}
.viewActivityTable thead label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
}
.viewActivityModal .viewActivityTable tbody td label{
    font-size: 10px!important;
    font-weight: 500;
    width:100%;
    word-break: break-all;
} 
.viewActivityModal .viewActivityTable .topToolTipText{
    width: 255px!important;
    left: 55px!important;
    word-break: break-all;
}
.viewActivityModal .viewActivityTable .topToolTipText:after{
   display: none;
}
.viewActivityModal .viewActivityTable tbody td{
    display: flex;
    height: 100%;
    align-items: center;
     padding: 0 8px;
   border-right: 1px solid #e3e7f3;
}
.viewActivityModal .viewActivityTable tbody td:last-child{
    border-right: 0;
}
.viewActivityModal .viewActivityTable .modalTableNoData td{
    width:100%;
    display: initial;
    height: auto;
}
.toolTipZindex span{
    z-index: 2!important;
    top: -33px!important;
}
