.weekelyPlanning .dropdownDiv{
//    display: none;
   padding-right: 20px;
    padding-left: 8px;
    width: 238px;
    z-index: 1;
    top:35px;
}
// .weekelyPlanning .userModalSelect:hover .hiddenDiv{
//     display: block;
//  }
 .weekelyPlanning .userModalSelect input[type="search"]{
    padding-left: 8px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    height: 30px;
 }
 .weekelyPlanning .userModalSelect label{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    padding-left: 5px;
    color: #12203c;
 }
 .chooseWeeks{
    width:60%;
 }
 .chooseWeeks .dropdownDiv{
    width:115px;
    padding-top:0;
 }
 .dropDownIcons{
   float: right;
   position: absolute;
   right: 3px!important;
   font-size: 11px!important;
   top: 9px!important;
   padding-right: 3px;
   color: #9b9b9b;
 }
 .weekelyPlanning .dropdownFilterOption li{
    width:auto!important;
    height: 26px;
    font-family: Montserrat;
    font-size:10px;
    padding-left: 5px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
 }
 .weekelyPlanning .dropdownFilterOption li:hover{
    width: auto;
    height: 26px;    
    background: #f6f6f6;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b77fa;
 }
 .weekelyPlanning .weekelyDropDowns h3,.weekelyPlanning .tableFilters h3{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #12203c;
 }
 .tableFilters h3{
    font-family: Montserrat;
    font-size: 12px!important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #12203c;
}
.tableFilters p{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal!important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #12203c;
    margin-bottom: 3px;
    margin-top: 8px;
 }
 .tableFilters label{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #12203c;
 }
 .weekelyDropDowns .userModalSelect{
    width:85%;
 }
 .weekelyDropDowns .weekelyDropdown input[type="date"]{
    width:85%;
 }
//  .demandPlanningGraph{
//      height:37vh;
//  }
 .tableFilters .manageSearch{
     margin-top:25px;
 }
 .tableFilters ul li:first-child{
     padding-left:0;
 }
 .changeParameterBtn{
    text-align: left;
    height: 25px;
    width: 160px;
    background: transparent;
    border: 1px solid #8b77fa;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .7px;
 }
 .changeParameterBtn span{
    font-family: Montserrat;
    font-size: 9px;
    padding-right:19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8b77fa;
    display: initial!important;
 }
 .blueButton button{
    font-weight: 600;
    font-family: Montserrat;
    font-size: 11.2px;
    width: 150px;
    height: 33px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    border-radius: 26.4px;
    background-image: linear-gradient(104deg, #ce9ffc, #7367f0);
    box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5)
 }
 .weeklyTable tr td{
    border:1px solid #ddd;
 }
 .graphHeadingMain h5{
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.5px;
   color: #12203c;
 }
 .graphHeadingMain{
    width:100%;
 }
 .graphHeadingMain .grapnWeekMonth{
    min-height: 30vh;
 }


//  ----------------------------------monthly Css------------------------------
.noDataFound{
   text-align: center;
}
.noDataFound span{
   font-weight: 500;
    font-family: Montserrat;
    color: #12203c;
    font-size: 12px;
}
 .graphCheckBox ul li{
   display: inline-block;
   margin-right: 40px;
}
.graphCheckBox{
   float: right;
}
.demandPlanningGraph .recharts-default-legend{
   display:none;
}
.demandPlanningGraph .recharts-line path{
   stroke-width:2px;
}
.graphCheckBox .checkmark1{
   left: -24px;
   top: -2px;
}
.graphCheckBox .checkGreen .checkBoxLabel0 input:checked~.checkmark1{
   background:#7ed321;
}
.graphCheckBox .checkBlue .checkBoxLabel0 input:checked~.checkmark1{
   background:#009aff;
}
.graphCheckBox .checkPurple .checkBoxLabel0 input:checked~.checkmark1{
   background:#9013fe;
}

.demandPlanningGraph .recharts-tooltip-cursor{
    display: none;
}
.graphCheckBox .checkBoxLabel0 p{
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.5px;
   color: #12203c;
}
.graphCheckBox .checkBoxLabel0{
   padding-left: 0;
   cursor: pointer!important;
}
.graphCheckBox .checkmark1{
   height: 18px;
   width: 18px;
}
.graphCheckBox .checkBoxLabel0 .checkmark1:after{
   left: 5px;
   top: 2px;
   width: 7px;
   height: 11px;
}

.blueColor{
    border-radius: 6px;
    background-color: #8b77fa!important;
    outline: none!important;
    box-shadow: none!important;
    color: #fff !important;
    border: 1px solid #8b77fa!important;
}
.chooseWeeks .dropdownFilterOption{
    height:90%;
    width:105px;
}
.chooseWeeks .dropdownFilterOption li:focus .dropdownFilterOption{
    display:none;
}
.weekelyDropdown label{
    width: 177px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.weekelyDropdown span{
    float: right;
    position: absolute;
    right: 1px;
    font-size: 22px;
    top: -2px;
    padding-right: 3px;
    color: #9b9b9b;
}
.grapnWeekMonth{
    object-fit: contain;
    border-radius: 11px;
    box-shadow: 0 0 22px 0 rgba(191, 191, 191, 0.5);
    background-color: #ffffff;
    display: inline-block;
}
.tabBtnClk{
   width: 153px;
   height: 28px;
   border-radius: 16px;  
   box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
   border: solid 0.5px #e9e9e9;
   background-color: #fafafa;
   font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.tabBtn{
   background: #fff;
   border-radius: 16px;
   width: 153px;
   height: 28px;
   font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    border: solid 0.5px #e9e9e9 !important;
    box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
}
.chooseStoreDrop{
   top:1px!important;
}
.demandPlanningGraph .recharts-wrapper{
    width: 1163px!important;
    padding-right: 8px;
    margin-right: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.demandPlanningGraph{
    width: 100%;
    overflow: hidden;
}
.grapnWeekMonth{
    padding-right: 10px;
}
.demandPlanningGraph .recharts-yAxis{
    position: fixed;
    left:0;
}
.mainGraph .recharts-wrapper{
    z-index: 1;
    height: 384px!important;
    padding-left: 2px;
}
.mainGraph svg.recharts-surface{
    z-index: 1;
    // height: 377px;
}

.tableHeadFixed thead tr th{
   padding: 0;
    position: sticky;
    top: 0;
    background: #fff;
}
.tableHeadFixed thead{
   border:0;
}
.tableHeadFixed tbody tr td{
   border-top:0 !important;
}
.tableHeadFixed thead tr th label{
   width: 100%;
   height: 100%;
   padding: 8;
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
}
.monthlyHistoryTable tbody tr td{
   width: 5vw;
}
.monthlyHistoryTable tbody td label{
   font-weight: 500!important;
   color: #8b8b8b!important;
}
.generalTabs button:first-child{
   border-radius: 16px 0px 0px 16px;
}
.generalTabs button:last-child{
   border-radius: 0px 16px 16px 0px;
}
.weeklyDownload h5 span{
    font-weight: normal;
}
.weeklyDownload h5{
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000;
}
.fromToData{
   font-size: 11px !important;
   font-weight: 600 ;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000;
}
.fromToData span{
   font-weight: 500;
   padding: 0 3px;
}
.tableFilters .fromToData{
   display: inline-block;
   text-align:left;
   border-radius: 4px;
   padding: 0px 13px 13px 0px;
   font-weight: 700;
} 
.weeklyDownload .dowonload-report-btn{
   background: #00e6b3;
   color: #fff;
   box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
    background-image: linear-gradient(105deg, #ce9ffc, #7367f0);
    border-radius: 19.5px;
    border: 0;
    height: 30px;
    font-weight: 600;
}
.weeklyDownload .dowonload-report-btn img{
   height: 13px;
   margin-left: 5px;
}
// ---------------------------------------------scroll graph css-------------------
// .yAxisGraph .recharts-wrapper{
//     overflow: hidden;
// }
// .yAxisGraph .recharts-line{
//     display: none;
// }
// .yAxisGraph .recharts-xAxis{
//     display: none;
// }
// .yAxisGraph{
//     position: absolute;
//     top: 39px;
//     background: #fff;
//     z-index: 3;
//     width: 81px;
// }
// .yAxisGraph .recharts-wrapper{
//     z-index: 1;
//     background: #fff;
//     width: 81px!important;
//     padding: 0;
//     margin: 0;
//     height: 333px!important;
// }
// ------------------------------------------------scroll graph css end--------------------------
.newContainer .replenishment_container{
   padding: 0;
}
// .newContainer .containerBody{
//    padding: 30px 30px 30px 30px;
// }
.newContainer .newHeader ul{
   margin-bottom: 0px;
}
.newContainer .newHeader ul li:last-child{
   margin-top: 2px;
}
.newContainer .newHeader{
   position: relative;
   padding: 0px 30px;
   border-radius: 9px 9px 0px 0px;
   box-shadow: 0 3px 11px 0 rgba(237, 237, 237, 0.5);
   background-color: #ffffff;
   height: 13vh;
   display: flex;
   align-items: center;
}
.previousAssort button{
   border-radius: 16px;
    background-color: #f1f1f1;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding: 4px 10px;
}
.previousAssort label{
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000000;
   margin-right: 5px;
}
.weeklyFilters{
   display: inline-block;
   width: 100%;
   padding: 30px;
   box-shadow: 0 2px 7px 0 rgba(206, 206, 206, 0.5);
  background-color: #fdfdfd;
}
.weekBottom{
   padding: 30px;
}
.weeklyFilters .runForcast{
   margin: 30px 0px 0px 0px;;
}
.modalTop{
   width: 100%;
   padding: 20px 30px;
}
.modalTop h2{
   font-size: 15px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #12203c;
   margin-bottom: 0;
}
.previousAddortmentModal{
   width: 55%;
   height: auto;
   display: inline-table;
   border-radius: 20px;
   box-shadow: 0 3px 20px 6px rgba(187, 187, 187, 0.5);
   background-color: #ffffff;
}
.modalHandlers{
   text-align:right;
}
.modalHandlers button:first-child{
   border-radius: 3.2px;
   box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
   background-image: linear-gradient(112deg, #ce9ffc, #7367f0);
   font-size: 11px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
   padding: 8px 25px;
   margin-right: 12px;
}
.modalHandlers button:last-child{
   font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12203c;
    background: transparent;
}
.financialYearRadio button{
   margin-right: 14px;
   margin-top: 8px;
   font-size: 11px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
}
.financialYearRadio button.active{
   border-radius: 27.2px;
   box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
   background-image: linear-gradient(110deg, #ce9ffc, #7367f0);
   color: #ffffff !important;
   padding: 9px 20px;
   border:0 !important;
}
.financialYearRadio button.unCheck{
   border-radius: 20.2px;
   box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
   border: solid 0.5px #f6f6f6;
   background-color: #ffffff;
   padding: 9px 20px;
   color: #12203c;
}
.modalOpertions{
   background: #f7f7f7;
   display: inline-block;
   width: 100%;
   padding: 20px 30px;
}
.modalOpertions h4{
   font-size: 13px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #12203c;
}
.modalOpertions .settingDrop{
   margin-top: 13px;
   position: relative;
}
.modalOpertions .settingDrop button{
   box-shadow: 0 2px 6px 0 rgba(237, 237, 237, 0.5);
   background-color: #ffffff;
   border: 0;
   outline: none !important;
}
.modalOpertions .settingDrop button:hover , .modalOpertions .settingDrop button:active ,.modalOpertions .settingDrop button:focus{
   background: #fff !important;
   border:0 !important;
   outline: none !important;
}
.choosePeriod{
   padding-left: 28%;
}
.modalOpertions .settingDrop ul{
   left: 0!important;
   width: 87% !important;
   top: 35px !important;
}
.modalSearch .searchStoreProfileMain{
   display: inline-block;
   width: 100%;
}
.modalSearch{
   display: inline-block;
   width: 100%;
   padding: 15px 10px;
}
.modalSearch .searchStoreProfileMain input[type=search]{
   margin: 0;
   border-radius: 21px;
   border: 1px solid #e0dede;
   height: 32px;
   width: 75%;
   float: right;
}
.modalBottom{
   display: inline-block;
    width: 100%;
    padding: 15px 20px;
}
.modalContentMid{
   display: inline-block;
   width: 100%;
   padding: 0px 30px;
}
.modalTableNew table thead th{
   font-weight: bold;
   vertical-align: middle;
}
.modalTableNew table tbody td{
   font-weight: bold;
   color: #12203c;
}
.modalTableNew table tbody tr{
   height: 37px;
}
.modalTableNew table thead tr{
   height: 37px;
}
.selectedRadio span::after{
   display: block;
}
.selectedRadio span{
   background-color: #fff!important;
   border: 1px solid #8b77fa!important;
}
.topSubHeading p {
   font-size: 11px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #12203c;
   margin: 0;
   display: inline-block;
}
.topSubHeading h4{
   font-size: 11px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #12203c;
   display: inline-block;
   padding-left: 5px;
   margin: 0;
}
.topSubHeading{
   display: inline-block;
   border-radius: 5px;
   background: #f4f1f1;
   padding: 3px 10px;
}